[2020-03-05 10:15] #1758 closed

[2020-03-05 12:09] norswap commented on #1950
Indeed, the issue is that string interpolation must concatenate its bits and to do so, starts by dup'ing the first string. If that's a String subclass, then the whole thing becomes a String subclass. Fix incoming.

[2020-03-05 13:08] eregon commented on #1951
Thanks, I'll try to reproduce with a fresh Rails 6 app in dev mode with listen, nio4r and rack-mini-profiler.

[2020-03-05 13:14] eregon commented on #1954
Looks at least part of it is due to `VALUE` being `void*`, I'm working on having `VALUE` as `unsigned long` like MRI.

[2020-03-05 13:16] eregon commented on #1758
Thanks for updating this issue. I removed the `--source` flag in https://github.com/oracle/truffleruby/commit/700154a8dfc1bbed34bd211508374e202e198602 since it was not working.
In the future we can add a development Dockerfile if there is demand for it, but I would recommend to indeed use nightly builds or build on the host machine as those are more convenient.

[2020-03-05 15:39] bjfish commented on #1935
This is now fixed at: https://github.com/oracle/truffleruby/commit/3de4af670076bb5f899ce5a3adc63464f80d0eff.

[2020-03-05 15:39] #1935 closed

[2020-03-05 17:09] #1927 closed

[2020-03-05 18:19] petenorth opened #1955 "rails server command not recognized (different behaviour to MRI)"
As per the [Rails getting started guide](https://guides.rubyonrails.org/getting_started.html)

[code]
should work but with TruffleRuby it results in
[code]

after the final `rails server` command.

[2020-03-05 21:30] headius opened #1956 "Default gems can't be upgraded without booting RubyGems"
TruffleRuby currently lazy-loads RubyGems to improve startup. Unfortunately this means that unless RubyGems is forced to boot, default gems will not honor `gem install`ed upgrades.

Default gems are installed in the standard library (so they are trivially loadable by `require`) but also have a specially-treated set of gemspecs. Those gemspecs are parsed by RubyGems at boot time so that upgraded de

[2020-03-06 03:08] deepj opened #1957 "NoMethodError in case of calling private method has a slighly different message"
Due to this difference some `Hanami::Model` specs fail. It mainly expects `#<User:....`

TruffleRuby:
[code]
MRI:
[code]

To reproduce:

[code]

[2020-03-06 03:26] deepj opened #1958 "mustermann: Mustermann::Sinatra#equal? returns incorrectly false for identical objects"
To reproduce:

[code]
TruffleRuby: `false`
MRI: `true`

[2020-03-06 10:32] eregon commented on #1956
Thanks for the bug report.
I wasn't aware of that mechanism, I thought one needs to explicitly activate a gem like `gem 'foo', 'version'` to take precedence over the standard library, but indeed that's not the case with default gems.

That's quite unfortunate because it means installing any of those gems will take precedence over the stdlib, and it means any script ran without Bundler/`require "ru

[2020-03-06 10:33] eregon commented on #1957
Thanks for the report, we should fix it.
Seriously though, gem tests shouldn't hardcode error messages from the Ruby implementation, which might change even between MRI versions.

[2020-03-06 10:37] deepj opened #1959 "rbtrace: rb_set_end_proc not implemented (RuntimeError)"
[code]

To reproduce:

[code]

Error:

[code]

[2020-03-06 10:54] deepj commented on #1824
@eregon maybe close this? Since using nighly builds I've never met with this.

[2020-03-06 11:03] #1824 closed

[2020-03-06 11:04] eregon commented on #1824
Right, the root cause seems to be the same as https://github.com/oracle/truffleruby/issues/1893

[2020-03-06 13:51] deepj commented on #1944
Hm, can you take a look at this soon, please? :) This pattern comes from `command_bus` gem https://github.com/arkency/command_bus

And this blocks me to test the application on what I'm currently working full-time since this fails already while booting the application. The previous was https://github.com/oracle/truffleruby/issues/1934 and this issue is followed after that one. I can't comment it o

[2020-03-06 14:29] petenorth opened #1960 "BigDecimal.inspect behaviour with active_record"
Under truffleruby 20.1.0-dev-3de4af67, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]

[code]

but with MRI

[code]

Requiring `bigdecimal` directly results in consistent output!

[2020-03-06 15:10] petenorth commented on #1918
Looking at recent runs of of bundle install for rails the performance seems to have improved and is comparable if not better than the performance prior to https://github.com/oracle/truffleruby/commit/e8ccba872a3c3924cb51f4f59e417fa4fc0958d9

[2020-03-06 15:10] #1918 closed

[2020-03-06 15:15] eregon commented on #1918
Thanks, I'll create an internal issue to track adding a benchmark for `bundle install`.

[2020-03-06 18:22] eregon commented on #1944
This is caused by TruffleRuby defining Hash#map and not checking the block arity like it's done in `each`.
Two solutions:
* Check the arity of the block in HashNodes.MapNode
* Just use Enumerable#map which already has the correct behavior since @bjfish's fix.

I'll do the first one as it seems a bit safer performance-wise.

[2020-03-06 19:42] #1944 closed

[2020-03-06 19:51] deepj commented on #1944
@eregon Thanks! If you can release nightly build with this fix I can keep further and try it again

[2020-03-06 21:13] headius commented on #1956
FWIW we'd love to find a way around this too. This issue is why we had never explored the possibility of lazy RubyGems in JRuby, but the gains (as seen in the attached JRuby PR) are substantial. Folks shouldn't have to `--disable-gems` to get good startup when not using gems.

[2020-03-07 12:03] eregon commented on #1956
Similar to what you mentioned, probably the best way is for RubyGems to maintain an easy-to-parse file in a well-known location (so it can be found without loading the full RubyGems) containing the list of installed gems.
Could even be more specialized and contain only the list of gems upgrading default gems, if we assume the set of default gems is a given for a Ruby installation (`gem install --d

[2020-03-07 12:13] deepj commented on #1895
Hm, even this code is a problem to run https://github.com/rails/rails/blob/master/guides/bug_report_templates/action_controller_gem.rb

No test is run on TruffleRuby

[2020-03-07 12:29] petenorth commented on #1955
This was due to a lack of understanding of GitHub workflows `cd` is not remembered between steps!)

Apologies for the noise.

[2020-03-07 12:29] #1955 closed

[2020-03-07 12:43] deepj opened #1961 "File.ftype/Pathname causes TruffleRuby error"
To reproduce:

[code]

Error:

[code]

**Notice**: I noticed there are two spaces before `Pathname(com.oracle.truffle.object.DynamicObjectBasic)`

[2020-03-07 14:21] petenorth opened #1962 "fork is not available (NotImplementedError) when running rails server as a daemon"
VERSION: `truffleruby 20.1.0-dev-c7c38a12, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]`

To reproduce

[code]
the server successfully starts with output
[code]

If I then try to start the rails server as a daemon

`rails server -d`

then the output is
[code]

[2020-03-07 15:01] deepj commented on #1962
@petenorth This is not TruffleRuby issue since JRuby or TruffleRuby can't support fork either. This is a problem of Rails and its detection of fork + Rails app cannot be run as a deamon by this way

[2020-03-07 15:15] eregon commented on #1951
I can reproduce with the setup in https://github.com/oracle/truffleruby/issues/1962#issue-577341254

[2020-03-07 15:17] eregon commented on #1962
Indeed, Process.daemon cannot be supported without `fork`.
On JRuby:
[code]
On TruffleRuby:
[code]

So maybe we should simply not define the method since fork is not supported currently.

[2020-03-07 15:22] eregon commented on #1962
Just removing the method (in `bin/rails`) doesn't result in a better error though:
[code]

[2020-03-07 15:26] eregon commented on #1962
Here is what happens on JRuby 9.2.11.0:
[code]

So except removing the method, or raising a Process.daemon-specific error I don't think we can do much here.

[2020-03-07 15:31] petenorth commented on #1962
I think for CI purposes `rails server &` is sufficient. I normally deploy a containerized app and so would not require the daemon functionality.

[2020-03-07 15:36] eregon commented on #1962
Let's keep it open for tracking improving the error message, and removing the non-working implementation.

[2020-03-08 12:04] deepj opened #1963 "rails: routes with with_options cause TypeError (no implicit conversion of Symbol into String)"
[code]

To reproduce:

[code]
Edit `config/routes.rb`

[code]

[code]

Error:

[code]

[2020-03-08 12:11] eregon commented on #1963
Looks like `Regexp.union` needs to accept Symbols:
https://github.com/rails/rails/blob/ec69083cf3352c78f840de50fdf20ef30334e0b1/actionpack/lib/action_dispatch/journey/path/pattern.rb#L93

[2020-03-08 13:50] eregon commented on #1951
It seems quite a few gems are competing for overriding the handler for SIGINT (with `bundle exec rails server`):
[code]
So the Puma one wins (and doesn't use the previous handlers), but it doesn't seem to work as expected.

[2020-03-08 14:13] eregon commented on #1951
It's getting stuck when the Puma server thread is waiting for the Puma reactor thread, which seems stuck in `NIO_Selector_select_synchronized()`, as shown above:
[code]

Using `NIO4R_PURE=true` seems to stop correctly, so it seems related the nio4r C extension.

[2020-03-08 15:24] deepj commented on #1963
@eregon thanks. If you or someone else will take a look at this, please at the same time take a look at it with https://github.com/oracle/truffleruby/issues/1938

It took me many hours to locate the issue above because loading and solving paths was extremely slow

[2020-03-08 16:32] eregon commented on #1951
The issue is that `IO#read(n_bytes)` seems to always read as much as possible, and buffer the result, even for `IO#sync = true`. That means epoll in nio4r will only notice the fd is available for reading once, and read one byte out of it, but never notice it's ready to read again since natively everything has been read, yet there is a unread byte in the Ruby's IO buffer.

[2020-03-08 16:38] eregon commented on #1951
That code is from Rubinius. FWIW it seems this was fixed in Rubinius by removing buffering (IO::InternalBuffer) entirely in https://github.com/rubinius/rubinius/commit/a8f23c1acf1eada25ecc6a46dadac80f6aab5e63

[2020-03-08 17:15] eregon commented on #1951
Replacing https://github.com/puma/puma/blob/4f555a18c1d9c81d89fc715e96434359afee02a3/lib/puma/reactor.rb#L160 in Puma with `sysread(1)` works.
Probably that should be done so it works regardless of whether the IO is sync=true or not.

[2020-03-08 17:40] eregon commented on #1951
A snippet to reproduce the buffering issue, which also shows the problem on MRI when a read buffer is used:
[code]

[2020-03-09 03:56] nateberkopec opened #1964 "Frozen string literal modification error in place MRI doesn't"
https://travis-ci.org/puma/puma/jobs/659981141#L432

We run all our CI jobs with --enable-frozen-string-literal. This [doesnt blow up](https://github.com/puma/puma/runs/494216825#step:6:16) when running Rubocop for us on MRI.

[2020-03-09 09:59] eregon commented on #1964
Thanks for the report.
This should be easier to iterate on now that we have nightly builds.

[2020-03-09 10:12] aardvark179 commented on #1823
The original bug reported here appears to be fixed, but there is a remaining problem with Agoo's use of `rb_rescue2` which I am submitting a PR for.

[2020-03-09 13:23] #1962 closed

[2020-03-09 13:25] bjfish commented on #1963
Here's a minimal case:
[code]

[2020-03-09 17:59] bjfish commented on #1961
This is fixed at: https://github.com/oracle/truffleruby/commit/e1692d2ff20ab097bf48a7d51b238c432ddd1f49.

[2020-03-09 17:59] #1961 closed

[2020-03-09 18:11] headius commented on #1956
`gem install --default` was never intended as a user feature. It was a best attempt at meeting ruby-core's requirements that gems still exist in stdlib once they are moved out for gemification.

[2020-03-09 18:36] eregon commented on #1961
@bjfish Could also fix the "two spaces before" reported above? It seems trivial.

[2020-03-09 20:48] bjfish commented on #1958
Related to #1385

The same specs fail in MRI with this change:
[code]

[2020-03-09 21:11] deepj commented on #1674
@eregon I guess this can be closed. Now the memory is 1 GB and below. But another problem with these specs they are very very slow. TruffeRuby-dev (25 minutes) vs MRI 2.7. (4m 30s)

[2020-03-10 11:34] eregon commented on #1674
Let's close this then. If that's too slow to e.g. add TruffleRuby in CI then please open another issue.

[2020-03-10 11:34] #1674 closed

[2020-03-10 13:21] norswap commented on #1513
Fixed by 48f936ea539e340d5742abb607aff8733c7f19ea

[2020-03-10 13:21] #1513 closed

[2020-03-10 13:22] norswap commented on #1950
Fixed by db44482f40e443df41e41621fe4f222dcb67d914

[2020-03-10 13:22] #1950 closed

[2020-03-10 13:57] bjfish commented on #1964
This is now fixed at: https://github.com/oracle/truffleruby/commit/93a7fa3f0482d40a2ff7f97620aeec0c8f6f1a11. Thanks.

[2020-03-10 13:57] #1964 closed

[2020-03-10 17:02] eregon commented on #1964
RuboCop passes now for Puma:
https://travis-ci.org/eregon/puma/jobs/660689923

But the tests not quite, part of it being related to `--enable-frozen-string-literal`

[2020-03-10 18:46] eregon commented on #1951
I've got a fix for this, testing it in CI, it quits nicely now.

[2020-03-10 22:13] bjfish commented on #1963
This is fixed at: https://github.com/oracle/truffleruby/commit/577494ffc67ce3b1fa2e1cd4161c07a88ccaf9dd

[2020-03-10 22:13] #1963 closed

[2020-03-10 23:50] deepj opened #1966 "ruby_native_statistics: Missing LLVM builtin: llvm.trunc.f64 (IllegalStateException)"
[code]

To reproduce:

[code]

Error:

[code]

[2020-03-11 12:41] eregon commented on #1966
On Linux, `ruby_native_statistics` instead fails to `gem install`:
[code]

Which sounds like a missing `-lm` flag, which somehow MRI passes to the compiler:
[code]

[2020-03-11 14:23] deepj commented on #1966
@eregon I don't have any problem to compile it on macOS. BTW: Do you use macOS in your CI environment?

[2020-03-11 14:25] eregon commented on #1966
Yeah on macOS there is no `libm` (math), it's part of the libc, so that's why it works there.
Yes, we run a good part of the tests/specs on macOS too.

[2020-03-11 15:21] #1951 closed

[2020-03-11 16:55] norswap commented on #62
Update: the sharing of libxml2 is now handled transparently, so `bundle config build.nokogiri --use-system-libraries` is no longer necessary.

However, a proper version of `libxml2` needs to be installed. The setup on macOS is slightly fussy:

[code]

[2020-03-11 18:00] bjfish commented on #1957
This is now fixed at https://github.com/oracle/truffleruby/commit/afa606312bfae442ca510c05daa27a8770de9e37

[2020-03-11 18:00] #1957 closed

[2020-03-11 22:14] petenorth opened #1967 "incompatible character encodings error with cucumber and capybara gem (incompatible character encodings: ASCII-8BIT and UTF-8)"
`truffleruby 20.1.0-dev-afa60631, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]`

The following code works without issue on MRI

[code]
but with TruffleRuby there is an error

[code]

A GitHub workflow demonstrating this is in the following project
https://github.com/petenorth/truffleruby-capybara-test

[2020-03-12 00:06] eregon commented on #1967
Thank you for the simple reproducer!
We'll try to take a look soon.

[2020-03-12 22:36] bjfish commented on #1961
@eregon Yes, the extra space is removed here: https://github.com/oracle/truffleruby/commit/a8263a50dacd39942ed8897abd887a1525062873

[2020-03-13 17:14] norswap commented on #1592
Seems to be a consequence of the macro `OSX_OS` being undefined: https://github.com/ohler55/agoo/blob/develop/ext/agoo/bind.c#L286-L288

That macro is not defined in the agoo itself, and I found no reference to it in mkmf... or anywhere indexed by google, really.

I will try to find out why it works on MRI.

[2020-03-13 17:49] norswap commented on #1592
In Apple's `sys/socket.h`:

[code]

Comparing the Makefile generated by MRI's mkmf and ours, they define `_DARWIN_C_SOURCE`, and we don't. I'll try to see what I can do to fix that.

In passing, this is probably a bug in agoo: `SO_REUSEPORT` has different semantics in recent Linux than in BSD & friends: https://stackoverflow.com/questions/41247790/

[2020-03-14 06:33] MadHau5 opened #1968 "Support for other JVMs?"
Does TruffleRuby support other JVMs like Hotspot or OpenJ9?
I am only asking this as I prefer to use OpenJ9 and want to confirm whether it runs on other JVMs or just on GraalVM. Thanks in advance.

[2020-03-14 11:00] eregon commented on #1968
The short answer is TruffleRuby requires GraalVM.
TruffleRuby is also distributed as a [standalone native distribution](https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md) where it's compiled ahead-of-time to a native binary by GraalVM Native Image.

Specifically, to just-in-time compile Ruby code, Truffle needs JVMCI and that doesn't seem implemented on other JV

[2020-03-14 11:00] #1968 closed

[2020-03-14 14:34] norswap commented on #1960
(Probably) relevant rails file: https://github.com/rails/rails/blob/master/activesupport/lib/active_support/core_ext/big_decimal/conversions.rb

[2020-03-14 14:55] eregon commented on #1967
It can be reproduced from:
[code]
MRI:
[code]
TruffleRuby:
[code]

[2020-03-14 21:57] nateberkopec opened #1969 "FrozenError when creating StringIO"
https://travis-ci.org/github/puma/puma/jobs/662501844#L459

Bit of a weird one - we're blowing up just by calling `StringIO.new`?

[2020-03-15 11:45] eregon commented on #1969
Indeed:
https://github.com/oracle/truffleruby/blob/1237af4bea89465298d4225615750dbc3d0a5cc6/lib/truffle/stringio.rb#L74

That empty string literal becomes frozen with `--enable-frozen-string-literal`.

We need to add a magic frozen literal comment, either disabled, or enabled and look at all String literals in that file.

[2020-03-16 06:48] frank-dspeed opened #1970 "This should consider Renaming to graalruby"
At present there is an ongoing effort to create graalphp there exists graaljs, graalpython

i think this should get named graalruby so it is more clear what this is truffle is a part of the GraalVM framework but I think it makes overall adoption more easy.

i raise a similar issue in fastr

[2020-03-16 08:51] claudiug commented on #1970
truffleruby is much nicer, and give also personality.

[2020-03-16 09:27] deepj opened #1971 "ruby-gr: `type_to_nfi': -4 not implemented (NotImplementedError)"
[code]

To reproduce:

Note: In my case on macOS

[code]

Error:

[code]

[2020-03-16 10:03] eregon commented on #1970
I believe most people know this project by the name TruffleRuby, so we are not going to rename the project at this time.

FWIW, we did consider a rename many years ago but even then it was already clear the name TruffleRuby was too established to change it.

It's also clear many Truffle/GraalVM languages don't follow the graal-language naming:
https://github.com/oracle/graal/blob/master/truffle/do

[2020-03-16 10:03] #1970 closed

[2020-03-16 10:59] #1969 closed

[2020-03-16 11:45] eregon commented on #1969
Run on TravisCI with this fix: https://travis-ci.org/github/eregon/puma/jobs/663021831

[2020-03-16 12:47] eregon commented on #1969
[code]
Not bad :)

[2020-03-16 13:07] frank-dspeed commented on #1970
you are some sense of right I feel mad about this.

[2020-03-16 15:43] norswap commented on #1960
Can't get it to reprod by using simply:

[code]

I think this might already have been fixed.
Could you:

- Try the above using the version you're currently using.
- If it fails, update to master HEAD and see if that fixes it.

[2020-03-16 18:06] petenorth commented on #1960
I just re-ran using my test repo:

https://github.com/petenorth/decimal-rounding-ruby/runs/511809541?check_suite_focus=true

It is the fifth step in the workflow. I still see a different behaviour.

[2020-03-16 18:29] norswap commented on #1960
Are you sure you're using the latest version? I'm getting:

[code]

[2020-03-16 18:33] norswap commented on #1960
Ah I see, I thought it was TruffleRuby generating `0.44444e3` and ignoring the advice. Back to investigation.

[2020-03-16 19:25] petenorth commented on #1960
Fair enough!

[2020-03-16 20:14] bjfish commented on #1938
I am able to run this after a few minutes on the latest master.

[2020-03-17 13:10] norswap commented on #1592
Fixed in 949cb6e7acd

[2020-03-17 13:10] #1592 closed

[2020-03-17 20:35] bjfish commented on #1500
This is now fixed at https://github.com/oracle/truffleruby/commit/8fa5648f3cb0f3618f4cb3b54d180cc79798fd24.

[2020-03-17 20:35] #1500 closed

[2020-03-17 20:51] eregon commented on #1495
We should apply the same fix as JRuby here: https://github.com/jruby/jruby/commit/05e415ccc92d7e680a0317b066aefadf4ce40dfa

[2020-03-17 23:54] deepj opened #1972 "agoo: Exception in thread "SIGINT handler" java.lang.IllegalStateException: Can not create new threads in closing context."
[code]

To reproduce:

[code]

Then `Ctrl-C`

Error:

[code]

[2020-03-18 09:06] deepj commented on #1938
@bjfish can you compare it with MRI? Because in my case it takes only 8 secs but it's over 15 minutes on TruffleRuby. My MacBook Pro is pretty old

[2020-03-18 15:46] #1967 closed

[2020-03-19 08:03] petenorth commented on #1967
@eregon that has fixed it! All the cucumber tests on the original project pass

[code]

There is an issue with the process cleaning up which I think is to do with deoptimizaton prior to exiting which might be SVM related. You can view this here https://github.com/petenorth/schools-experience/runs/517853811?check_suite_focus=true . I don't know how to present this as an issue other than the logs fr

[2020-03-19 16:47] eregon commented on #1917
I fixed `switch (VALUE)` to compile in 0552ac72e3396492dc42ea53c1ac5ee2eb24a3ba.
`gem install google-protobuf` works now.

The grpc `extconf.rb` fails though with:
[code]
code:
[code]
Looks like we need a value for `RbConfig::CONFIG['AR']`.
I'll split that to a different issue.

[2020-03-19 16:47] #1917 closed

[2020-03-19 16:48] eregon opened #1973 "gprc extconf.rb fails due to needing RbConfig::CONFIG['AR']"
On `gem install gproc`, the grpc `extconf.rb` fails with:
[code]
code:
[code]
Looks like we need a value for `RbConfig::CONFIG['AR']`.
I'll split that to a different issue.

_Originally posted by @eregon in https://github.com/oracle/truffleruby/issues/1917#issuecomment-601288437_

[2020-03-19 16:54] eregon commented on #1954
Fixed by 0552ac72e3396492dc42ea53c1ac5ee2eb24a3ba, `gem install rmagick` works now, thank you for reporting the issue.

[2020-03-19 16:54] #1954 closed

[2020-03-19 17:00] eregon commented on #1541
With 0552ac72e3396492dc42ea53c1ac5ee2eb24a3ba `eventmachine` 1.2.7 almost installs, but fails on
[code]
Because `rb_mProcess` is a macro for us (and not a global variable). I'll try to fix that.

[2020-03-19 17:07] eregon commented on #1409
This fails now when trying to compile `libv8`.
We should find a way to install `libv8` as a binary gem, as it seems difficult to compile it from source.
Using the binary gem is fine because it does not depend on `ruby.h`.

[2020-03-19 17:40] eregon commented on #1967
Great news!

That issue seems caused by a OutOfMemoryError when the tests finish:
[code]
5662 threads is huge and probably the cause of the OutOfMemoryError, probably something creates Threads recursively during `at_exit` or so.

[2020-03-20 17:32] #1541 closed

[2020-03-20 17:37] eregon commented on #1541
This is now fixed with 0552ac72e3396492dc42ea53c1ac5ee2eb24a3ba and a181f79eefd53b6f2c4a6f060bcd361466bec0c0.
`gem install eventmachine` works,
and `ruby -e 'require "eventmachine"; p EM; EM.run { puts "OK" }'` seems to work too!

[2020-03-20 17:39] eregon commented on #1675
With recent changes mentioned in https://github.com/oracle/truffleruby/issues/1541#issuecomment-601827420, eventmachine 1.2.7 can be installed and doesn't need any patching.

[2020-03-20 17:39] #1675 closed

[2020-03-20 18:52] shidel-dev commented on #1973
@eregon I believe that it maybe missing `RbConfig::CONFIG['STRIP']` as well. I run into an issue related to this when I run `AR='ar rcs' bundle install` which gets past this AR issue.

It is related to this line https://github.com/grpc/grpc/blob/8b5b1755ec0adeca6d8d1473b95cd8840ed02d8c/src/ruby/ext/grpc/extconf.rb#L104

strip_tool is nil in the case of truffleruby

I get the following
[code]

[2020-03-20 19:53] petenorth commented on #1960
@norswap have confirmed that it is fixed in the latest build, thanks.

[2020-03-21 12:22] eregon commented on #1960
Fixed by 829e8150ee7f9b9d4e6ae5a3ba926d9ace45b83d

[2020-03-21 12:22] #1960 closed

[2020-03-21 13:51] deepj opened #1974 "hiredis: External LLVMFunction redisConnectNonBlock cannot be found. (LLVMLinkerException)"
[code]

To reproduce:

[code]

Note: redis needs to be installed and be run

Error:

[code]

[2020-03-21 15:05] eregon opened #1975 "Support the bigdecimal gem and its C extension"
This would ensure much better compatibility for BigDecimal, and avoid having to maintain our own BigDecimal implementation which is not fully compatible.

The trade-off is BigDecimal wouldn't work without enabling C extension support, but that doesn't seem a big concern currently.

[2020-03-21 15:08] eregon commented on #1975
The large number of issues regarding BigDecimal make it clear this would be a good move for compatibility: https://github.com/oracle/truffleruby/issues?q=is%3Aissue+bigdecimal

Right now `gem install bigdecimal` fails to compile, so we need to look at why.

[2020-03-21 15:14] eregon commented on #1974
This happens most likely because hiredis is built as a static library and doesn't use `RbConfig::CONFIG['CC']` to build hiredis but the system compiler:
https://github.com/redis/hiredis-rb/blob/master/ext/hiredis_ext/extconf.rb

I'm thinking to add a TruffleRuby option to add the toolchain `bin` on PATH and set env vars CC/CXX on `require 'mkmf'` or at least when running the `extconf.rb`.

[2020-03-21 15:27] nirvdrum commented on #1975
I know peak performance outweighs interpreter performance, but do you have a sense for how big a hit that would be?

[2020-03-21 18:46] eregon commented on #1975
Hard to know until we can actually compare.
With @aardvark179's work I think C extensions got decent peak performance, around MRI's speed for C extensions, and we can likely improve it further.
I would think BigDecimal isn't used that much during application startup, so maybe interpreter doesn't matter as much there.

[2020-03-21 20:32] eregon commented on #1975
Getting it to install is easy, getting `BigDecimal("3.14")` to work needed some work on RTypedData.
With my fixes this works:
[code]

[2020-03-22 11:26] deepj commented on #1450
`scout_apm` depends on this missing C-API

[2020-03-22 12:01] deepj commented on #1713
@eregon I guess this can be closed. I haven't seem this for a while

[2020-03-22 14:10] #1713 closed

[2020-03-23 16:13] nirvdrum opened #1976 "OpenSSL extension doesn't compile on Ubuntu 20.04"
While Ubuntu 20.04 hasn't been released yet, it's due to release in less than a month and will be the next LTS release of Ubuntu. Trying it out, I'm unable to compile the `openssl` extension. I do have the `libssl-dev` package installed.

I'll investigate it more, but the error log is:

[code]

[2020-03-23 17:05] eregon commented on #1976
Could you show your `openssl version` and share your `src/main/c/openssl/mkmf.log`?
I suspect for some reason function detection via `have_func` doesn't work in your case, because the extconf.rb does check for `have_func("X509_STORE_set_ex_data")`.

[2020-03-23 17:07] eregon commented on #1976
I'd suggest to make sure you're using a fresh clone of TruffleRuby and Graal if you're using a different distribution or updated the OS or packages.

[2020-03-23 17:13] nirvdrum commented on #1976
[code]

`src/main/c/openssl/mkmf.log`:
[code]

[2020-03-23 17:25] nirvdrum commented on #1976
Sorry, I should have tried a `git clean -dxf` first. I did an `mx clean`/`jt clean`, but that didn't clean everything. With a fresh tree, everything works.

[2020-03-23 17:25] #1976 closed

[2020-03-23 17:27] eregon commented on #1976
Great to hear!
I think in your case maybe the `src/main/c/openssl/extconf.h` file was leftover or so.

[2020-03-24 09:06] eregon opened #1977 "Optimize return during parsing/translating to avoid unnecessary ReturnExceptions"
We should try to optimize e.g.
`if ...; return v; end; ...` to
`if ...; v; else; ...; end`
to avoid (I guess, we should measure) expensive ReturnException's in the interpreter.
Graal.js has/had such an optimization, we should ask them.

[2020-03-24 17:54] bjfish commented on #1913
A minimal case:
[code]
Expected:
[code]
Actual:
[code]

[2020-03-24 19:44] bjfish commented on #1959
This is now implemented at https://github.com/oracle/truffleruby/commit/b8e7164c6aa9f12d126a19a6c48c66b55abc2430.

[2020-03-24 19:44] #1959 closed

[2020-03-24 22:15] eregon commented on #1913
That sounds like a duplicate of #1484 then. Unfortunately that doesn't seem easy to fix.

[2020-03-25 06:59] deepj commented on #1823
@eregon Isn't this issue fixed in this commit https://github.com/oracle/truffleruby/commit/2208822c0ca2c79788bc0acc7297f15d9d79fd2c?

I can run the example above without any noticeable issues. Except one, after terminating server (`Ctrl + C`) I'm getting

[code]

[2020-03-25 07:28] deepj commented on #1605
@eregon this can be closed since this issue is solved in master

[2020-03-25 10:21] eregon commented on #1823
Yes, @aardvark179 fixed it. Would you mind opening a separate issue for the Ctrl+C issue?

[2020-03-25 10:21] #1823 closed

[2020-03-25 10:24] eregon commented on #1605
Indeed, I fixed this in 0552ac72e3396492dc42ea53c1ac5ee2eb24a3ba but missed to close this issue, thanks for checking.

[2020-03-25 10:24] #1605 closed

[2020-03-25 18:41] olleolleolle commented on #1972
https://github.com/jruby/jruby/wiki/Signal-Handling this page from the JRuby wiki deals with signals. It has a note about the SIGINT kind of being "taken". Does that apply to the TruffleRuby situation, too?

Also does the same happen to JRuby?

[2020-03-25 20:08] eregon commented on #1823
Seems related to https://github.com/oracle/truffleruby/issues/1972

[2020-03-25 20:15] eregon commented on #1972
TruffleRuby Native (used here) supports the same signals as MRI, and has the same signal semantics. In fact, it supports even more signal handlers. This is documented in https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md#signals

https://github.com/ruby/spec/blob/ebdf0d1b06b39374a85baaae53771449ab1fe3d7/core/signal/trap_spec.rb#L121-L133 lists the reserved signals per Ruby

[2020-03-25 20:22] eregon commented on #1972
I can reproduce.
The most likely reason it doesn't work here is that `agoo` registers the signal handlers not using Ruby `Signal.trap` but using C code: https://github.com/ohler55/agoo/blob/3a73cbfd6c5afc374d63c2cc07ffa4a8b8d39c97/ext/agoo/agoo.c#L119-L129

[2020-03-25 22:42] eregon commented on #1972
`agoo --help` just quits on MRI, not sure why it hangs on TruffleRuby.

Maybe related to agoo overriding the VM-reserved signal SIGVTALRM (it's also reserved on MRI), which might break many things: https://github.com/ohler55/agoo/blob/3a73cbfd6c5afc374d63c2cc07ffa4a8b8d39c97/ext/agoo/agoo.c#L123-L126

[2020-03-26 08:42] deepj opened #1978 "allocation_tracer: no member named 'flags' in 'struct RBasic'"
[code]

To reproduce

[code]

Error:

[code]

[2020-03-26 11:43] eregon commented on #1978
Thank you for the report, this is the same error as in #1891.

[2020-03-26 11:43] eregon commented on #1891
Also happens for the `allocation_tracer` gem: #1978.

[2020-03-26 12:13] jaimerave commented on #1891
This issue looks also similar to #1884

[2020-03-26 16:41] eregon commented on #1414
Here is the format used by MRI trunk:
[code]

We should use something similar for our core files.

[2020-03-26 16:43] eregon commented on #1414
We need to match one of these patterns in Sinatra for core files:
https://github.com/sinatra/sinatra/blob/91477e6dad7c9d8eb1c358e47b9d83b73d626f84/lib/sinatra/base.rb#L1205-L1214

[2020-03-26 19:32] deepj commented on #1662
@eregon you can close this I guess. The original issue is fixed and your latest changes in puma repo hasn't showed this issue again

[2020-03-26 21:14] #1662 closed

[2020-03-27 17:36] bjfish commented on #1925
@yosiat I believe there is an extra unused parameter `type` for `sd_type_aref`:
https://github.com/panko-serializer/panko_serializer/blob/d1afc3607b6f6bbb29eb95b73a9ac89791170ae5/ext/panko_serializer/serialization_descriptor/serialization_descriptor.c#L125

So, the arity is not matching:
https://github.com/panko-serializer/panko_serializer/blob/d1afc3607b6f6bbb29eb95b73a9ac89791170ae5/ext/panko_se

[2020-03-27 17:36] #1925 closed

[2020-03-30 19:45] bjfish commented on #1450
`rb_tracepoint_new` is now implemented at: https://github.com/oracle/truffleruby/commit/20fe8661961ddcd56f5c9fc1d516429459bd8e81

[2020-03-30 19:45] #1450 closed

[2020-03-31 15:12] eregon opened #1980 "Check if all functions need to be defined in ruby.c"
It seems not anymore (used to be necessary on macOS for linking).
That prevents `have_func()` to work correctly (it will report `true` for not-yet-implemented functions).

[2020-03-31 15:46] bjfish commented on #1734
This now works on the latest master: 20fe8661961ddcd56f5c9fc1d516429459bd8e81

I'll work on getting this on BCrypt CI.

[2020-03-31 15:46] #1734 closed

[2020-03-31 16:20] bjfish commented on #1734
PR to add to bcrypt CI: https://github.com/codahale/bcrypt-ruby/pull/223

[2020-03-31 17:27] eregon opened #1981 "bundle exec creates an extra subprocess on TruffleRuby"
Due to probably how our `bin/rake`, etc, look like.
See https://github.com/rubygems/rubygems/issues/3246#issuecomment-606764738

[2020-03-31 17:29] eregon commented on #1981
This is the check that fails: https://github.com/rubygems/rubygems/blob/18c579ea5c6d5f7325ede312bad0c2294b6fa4e1/bundler/lib/bundler/cli/exec.rb#L76

Compare to https://github.com/oracle/truffleruby/blob/b3faa0c24eb9a01922a0aa138d34b0ad137d7e41/bin/rake#L1

Maybe it's time to give up on our mixed Bash/Ruby `bin/*` executables.

[2020-03-31 18:58] bjfish commented on #1973
`RbConfig::CONFIG['AR']` and `RbConfig::CONFIG['STRIP']` have now been added here: https://github.com/oracle/truffleruby/commit/b09f04ee890b6f7cf541bd30f3566bad4b23a0c5

[2020-03-31 18:58] #1973 closed

[2020-03-31 21:51] bjfish commented on #1588
@eregon The error appers that malloc doesn't want a pointer.  Should the link below be `u_int8_t* okey = xmalloc(okeylen);` ?

https://github.com/net-ssh/bcrypt_pbkdf-ruby/blob/47aca2d4debfdaf96563d9488f16f3ad08b0ca3b/ext/mri/bcrypt_pbkdf_ext.c#L11

[2020-03-31 22:07] bjfish commented on #1499
This appears to work now with the following error:
`/Users/bfish/Documents/truffleruby-ws/truffleruby/mxbuild/truffleruby-native/jre/languages/ruby/lib/mri/rubygems/core_ext/kernel_require.rb:54:in `raise_load_error': cannot load such file -- test (LoadError)`

 and was probably fixed here: https://github.com/oracle/truffleruby/commit/3cac492c9ec19f34ea4de2a03425f59cb459fbfd

Also, `load 'test'` a

[2020-03-31 22:07] #1499 closed

[2020-03-31 22:23] deepj opened #1982 "grpc: lipo: can't figure out the architecture type"
[code]

To reproduce

[code]

Error:

[code]

[2020-03-31 22:39] eregon commented on #1982
For comparison, does `gem install --platform ruby grpc` works on MRI on your computer?

[2020-03-31 22:42] eregon commented on #1588
Yeah, that seems clearly a bug in the code (it will over-allocate by 2x).
On latest TruffleRuby this error probably doesn't happen since VALUE is `unsigned long` now.

[2020-03-31 22:58] deepj commented on #1982
@eregon

[code]

[2020-04-01 10:06] eregon commented on #1980
Related: https://github.com/ohler55/oj/issues/590

[2020-04-01 11:50] eregon commented on #1827
When trying to install libv8 locally with `--platform ruby` it fails the same on both MRI and TruffleRuby for me locally:
[code]
With means I need to instal GLib 2, and the only reason it works for me locally on MRI is that it's precompiled on MRI.

Maybe we could use the precompiled version on TruffleRuby, but that would need support in Sulong to mix bitcode functions and native functions.

[2020-04-01 14:32] eregon commented on #1980
Done in 62ab6b90c69689a6192151ba5f4281c7d8f906d0

[2020-04-01 14:32] #1980 closed

[2020-04-01 17:19] bjfish commented on #1971
This is now fixed at: https://github.com/oracle/truffleruby/commit/6887e1fd15a576ddbe2c92498e144e792b5a960e.

[2020-04-01 17:19] #1971 closed

[2020-04-01 17:29] eregon commented on #1827
`libv8` does compile successfully on TruffleRuby when GLib 2 is installed (on Linux).
It takes a long while to compile though, both on MRI and TruffleRuby:
[code]

[2020-04-01 19:55] eregon commented on #1827
@deepj And `gem install --platform ruby libv8` works for you on macOS on MRI 2.6?

[2020-04-01 19:58] eregon commented on #1827
BTW, it looks like the `libv8` gem uses its own copy of LLVM to compile:
[code]

So we can't just set CC/CXX/PATH to compile it with our LLVM toolchain.

`mini_racer` also installs on Linux but then:
[code]
Which is the same error as above, `v8::V8::InitializeICU(char const*)` only exists as native code, not as bitcode which Sulong currently needs.

[2020-04-01 22:20] eregon commented on #1977
Implemented by @aardvark179 in 2338f5711cc7dcb8b2bfdd43cceaab92e923fe5a

[2020-04-01 22:20] #1977 closed

[2020-04-02 02:02] deepj opened #1983 "scout_apm: events_to_events_array: unknown event 0x100000 (ArgumentError)"
[code]

To reproduce:

[code]

Error:

[code]

[2020-04-02 10:02] eregon commented on #1983
It comes from https://github.com/scoutapp/scout_apm_ruby/blob/6bf98166f885ebd57ee9051c719519f636d4525d/ext/allocations/allocations.c#L11-L41 (nice to have C backtraces :) )
`0x100000` is `RUBY_INTERNAL_EVENT_NEWOBJ`.

The code is conditional on whether `RUBY_INTERNAL_EVENT_NEWOBJ` is defined, so there are two ways to fix this issue:
* Implement that TracePoint event
* Do not define `RUBY_INTERNAL_

[2020-04-02 11:14] eregon commented on #1983
`ruby -rscout_apm -e0` works with that constant not defined.

[2020-04-02 12:18] deepj commented on #1827
@eregon hm, no. I guess https://github.com/rubyjs/libv8/issues/280 can be related to this. Though, I have macOS 10.14 (Mojave), not 10.15 (Catalina). And what I remember, older libv8 gm was able to compile with TruffleRuby. Because I could run `mini_racer` above.

[2020-04-02 14:09] eregon commented on #1827
Previously TruffleRuby would install the precompiled `libv8`, but in general that's unsafe to do, because C extensions could be precompiled against MRI internals (e.g., if they `include <ruby.h>`), and we'd want to compile against TruffleRuby's headers instead.

However, `libv8` doesn't actually include `ruby.h` so it might be fine to use the precompiled version on TruffleRuby too. Although `mini_

[2020-04-02 14:37] #1983 closed

[2020-04-02 16:29] eregon opened #1984 "Puma CI fails when using Bundler 2"
See https://github.com/puma/puma/runs/553627450

[code]
Which looks like the shipped bundler (which is Bundler 1) gets required instead of Bundler 2, when the `bundle install` before was done with Bundler 2.

It most likely happens since `ruby/setup-ruby` installs Ruby 2 by default if there is no `Gemfile.lock`:
https://github.com/ruby/setup-ruby/issues/38#issuecomment-606869460

cc @nateberkopec

[2020-04-02 16:56] eregon commented on #1984
I cannot reproduce the failure locally (with `truffleruby-jvm`).
For now let's use Bundler 1 in Puma's CI, there are other issues notably on Ruby 2.3 with Bundler 2:
https://github.com/puma/puma/pull/2214

[2020-04-02 19:42] eregon commented on #1825
Tracked internally as GR-19746.
Does anyone still see this happen? Maybe it was fixed in Graal.

[2020-04-02 22:25] SamSaffron commented on #1827
My 2 cents, I really have no idea how complex either options are but my strong pref would be to go with adding support in Sulong for libs with some bitcode and some native.

GraalVM JS is going to have gaps compared to v8, v8 also has a big pile of features which people consume that are more around framework of operation like snapshots, memory limits and so on. Discourse leverages some mini racer

[2020-04-03 15:56] eregon commented on #1616
We should look again at zeitwerk tests, cc @chrisseaton

[2020-04-03 18:59] petenorth opened #1985 "--engine.Mode=latency is three times faster than throughput when running rspecs"
I have a sample project where I run rspec tests , they are set up to run the rspec ruby process and the rails application ruby process with the following combinations

`--engine.Mode=latency` and `-engine.Mode=latency`
`--engine.Mode=latency` and `-engine.Mode=throughput`
`--engine.Mode=throughput` and `-engine.Mode=latency`
`--engine.Mode=throughput` and `-engine.Mode=throughput`

https://github.

[2020-04-03 22:38] eregon commented on #1985
Thanks for creating the issue and setting this up in CI.
I think we should investigate why there is 3x difference, which seems higher than I expected.

Maybe we split too much for the specs, so we should try e.g. if disabling splitting and other flags helps.

[2020-04-04 13:07] eregon commented on #1985
`ruby --help:internal --help:languages | grep clone` has some options to control splitting. I suspect `--ruby.call-with-block-always-clone` and `--ruby.yield-always-clone` might be too aggressive, we should experiment with setting them to `false`.

[2020-04-06 14:39] eregon commented on #1827
To give a bit more context, if `libv8` was compiled and used as a dynamic library, that would probably work fine on TruffleRuby.
But it's compiled as a static library (`libv8_monolith.a`), which means mixing bitcode+native and native-only code in the same library (containing the `mini_racer` extension + `libv8`), which is non-trivial to support as symbols from native-only could refer to symbols fr

[2020-04-06 15:49] bjfish commented on #1495
This is fixed at: https://github.com/oracle/truffleruby/commit/d4cfcaba8984de6857b825d07019eada822a11fe.

[2020-04-06 15:49] #1495 closed

[2020-04-07 10:31] eregon commented on #1985
I've started some runs in various configurations in https://github.com/eregon/schools-experience/runs/567227144?check_suite_focus=true

[2020-04-07 12:00] eregon commented on #1985
Results of that run (there might be some noise, but the results seem fairly consistent):

| Options | Time to run specs |
| ---- | ---- |
| `--engine.Mode=latency` | 13min37s  |
| `--engine.Mode=default` | 43min05s |
| `--call-with-block-always-clone=false --yield-always-clone=false` | 36min41s |
| `--engine.Splitting=false` | 32min07s |
| `--engine.Inlining=false` | 16min11s |
| `--engine.Splitti

[2020-04-07 12:02] petenorth commented on #1985
The option which I was surprised to see not being available in TruffleRuby was the max inlining caller size, seems to be associated with

https://github.com/oracle/truffleruby/blob/957d71d8c2856926754c255197145b496a2eac44/src/main/java/org/truffleruby/RubyContext.java#L193

[2020-04-07 12:05] eregon commented on #1985
@petenorth That option has been renamed to `--engine.InliningNodeBudget=...` (it used to be `-Dgraal.TruffleInliningMaxCallerSize=...`).

[2020-04-07 12:15] eregon commented on #1985
We should remove that line, since it enforces a minimum for that option value. We need to evaluate the impact on performance before though of course. The new not-yet-default inlining (`--engine.LanguageAgnosticInlining`) doesn't use that option.

[2020-04-07 12:24] mukel commented on #1985
This is expected behavior for serial code e.g. unit tests, if compilation time is halved, then it's more likely for the compiled code to be used. It's a race between the compiler and the interpreter; you really want the compiler to win and still have something left to run. Even without inlining, compiled code will be much faster than the interpreter.

In a sibling project, we experienced this in t

[2020-04-07 12:25] eregon commented on #1827
With daea9b7e0d168fc1e503883a77cd6d91b5899fac TruffleRuby will use the precompiled version of libv8, like MRI. So at least it will `gem/bundle install` quickly and without extra dependencies. It won't work at runtime yet though.

[2020-04-07 15:43] eregon commented on #1985
Also trying with the new inlining:

| Options | Time to run specs |
| ---- | ---- |
| `--engine.Mode=latency` | 16min22s  |
| `--engine.Mode=default` | 42min16s |
| `--call-with-block-always-clone=false --yield-always-clone=false` | 32min14s |
| `--engine.Splitting=false` | 34min22s |
| `--engine.Inlining=false` | 15min10s |
| `--engine.Splitting=false --engine.Inlining=false` | 15min19s |
| `--en

[2020-04-09 15:51] deepj opened #1986 "gosu: Missing LLVM builtin: llvm.objc.autoreleasePoolPush (IllegalStateException)"
To reproduce:

[code]
Note: `sdl2` needs to be installed on your OS

Error:

[code]

[2020-04-14 14:37] norswap commented on #1891
I've implemented `RBasic->flags` on a branch, which solves this issue, but now `numo-array` fails to install with:

[code]

`binary.c` seems to be a template file used in the generation of `t_bit.c`, though I'm not sure if the error is reported in that file (trying to interpret it as C, which would certainly not work but shouldn't fail so late?) or in the generated output (which does exist, and lo

[2020-04-14 14:47] norswap commented on #1978
I'll push a fix for this `RBasic->flags` soon, but now the gem will not install because we don't support `RUBY_INTERNAL_EVENT_NEWOBJ` and `RUBY_INTERNAL_EVENT_FREEOBJ` (yet).

[2020-04-14 17:43] bjfish commented on #1588
I've sent a PR for the `xmalloc` fix: https://github.com/net-ssh/bcrypt_pbkdf-ruby/pull/7

However, after the fix I still see an error:
[code]

Also, I still see the error:
[code]
using the latest master: https://github.com/oracle/truffleruby/commit/6d82d89ee6d02c855c18db6ae1a3f0a9d182b090
so I'm not sure about the `unsigned long` here.

[2020-04-15 15:03] bjfish commented on #1588
The recommendation here appears to resolve the next error:
https://stackoverflow.com/questions/33301404/why-does-inline-void-foo-in-a-common-header-just-work/33305507#33305507

[2020-04-15 16:08] eregon commented on #1588
Right, so it should be `static inline` and this is a bug of the C ext and it only works on some versions of some C compiler?

[2020-04-16 19:55] eregon commented on #1978
I'll take care of the RUBY_INTERNAL_EVENT_NEWOBJ/RUBY_INTERNAL_EVENT_FREEOBJ issue.
That conflicts with our fix for https://github.com/oracle/truffleruby/issues/1983

So I think now we should define them, but adding a TracePoint for those would not do anything, just warn.

[2020-04-20 10:51] martijn commented on #1591
Confirmed, this is an ox issue not a TruffleRuby issue. Ox needs to account for truffleruby in the [extconf.rb](https://github.com/ohler55/ox/blob/develop/ext/ox/extconf.rb#L25). I took a stab at it but there's some other issues cropping up on TruffleRuby that require some more investigation.

[2020-04-20 11:05] eregon commented on #1591
Please use `have_func`/`have_macro`/etc instead of hardcoding Ruby implementation names and versions.
Could you create a new issue for the dumping Range to XML issue?
I'll close this one as third party issue.

[2020-04-20 11:05] #1591 closed

[2020-04-20 20:39] deepj opened #1987 "rails command loads the default Bundler 1.17.2 instead of newer installed Bundler 2.1.4"
[code]

[code]

**Note**: Comment out ruby version in `Gemfile` before `bundle install`

TruffleRuby:

[code]

[code]

Ruby 2.7

[code]

[code]

[2020-04-20 20:41] deepj commented on #1987
@eregon this can be interesting. This happens after updating TruffleRuby nightly. It's interesting why so many times is `nokogiri` "loaded" https://gist.github.com/deepj/6b76683ec473607d950473f785032579

[2020-04-21 09:03] agate commented on #1725
@eregon I am facing the same problem. You can reproduce it via using `graalvm-ce`'s official docker image:

[code]

[2020-04-21 10:14] eregon commented on #1987
It would be more interesting to compare to CRuby 2.6, 2.7 only has Bundler 2 and so many other changes, so it's not really comparable. I'll try to reproduce.

[2020-04-21 10:30] eregon commented on #1725
Just defining `rb_io_stdio_file` in `ruby.c` fixes the installation, I'll do that.
And `ruby -rcurb -e 'p Curl.get("http://www.google.com/").body_str'` seems to work too.

FWIW, patches are only used when there is no other possibility, because they are hard to maintain.

[2020-04-21 14:05] #1725 closed

[2020-04-21 14:30] agate commented on #1725
Thank you @eregon for the quick fix! Before this patch be pushed to major release. Is there way that I can patch it to the official docker image by myself?

[2020-04-21 14:45] eregon commented on #1725
You can try the nightly build of either
* the TruffleRuby standalone: https://github.com/oracle/truffleruby/blob/master/doc/user/ruby-managers.md (easiest if you just need TruffleRuby in --native mode), or
* of GraalVM: https://github.com/graalvm/graalvm-ce-dev-builds/releases (but that needs an update of the truffleruby version in GraalVM which might take some time)

I don't think we have Docker

[2020-04-21 14:52] agate commented on #1725
👍 Thank you for the tips!

[2020-04-21 16:42] deepj commented on #1987
@eregon the situation is identical with 2.7

[code]

[2020-04-21 18:10] eregon commented on #1987
I can reproduce with just:
[code]

[code]

I'll need to find out what selects Bundler 2 on MRI in this case, and what happens in the opposite case (if the Gemfile.lock is v1)

[2020-04-22 12:02] norswap commented on #1385
Implemented by 6ff7b590b66956194ec2a071643fa48e0e65507f

[2020-04-22 12:02] #1385 closed

[2020-04-22 12:04] norswap commented on #1958
Despite 6ff7b590b66956194ec2a071643fa48e0e65507f, the test in the top comment still returns `false`, so this must be investigated further.

[2020-04-22 12:08] norswap commented on #1958
Fixed by 6ff7b590b66956194ec2a071643fa48e0e65507f

[2020-04-22 12:08] #1958 closed

[2020-04-22 14:04] norswap commented on #1949
Could be fixed by https://github.com/oracle/truffleruby/pull/1988

[2020-04-22 14:50] norswap commented on #1978
Fixed by b9a3868f1077e3f4f91f7fad15fc536fb138747f and  9ee88a5a34f9481b0ee2f63fb56eb150fab87766

[2020-04-22 14:50] #1978 closed

[2020-04-22 15:08] norswap commented on #1891
The `RBasic->flags` fix was merged in b9a3868f1077e3f4f91f7fad15fc536fb138747f.

It now fails with a different error from last time (though using a more recent Graal commit than configured in the repo):

[code]

[2020-04-22 15:27] eregon commented on #1891
@norswap Could you open a separate issue with that since the title of this issue is fixed?
(there is a "Reference in a new issue" button for comments on GitHub)

[2020-04-22 16:34] norswap opened #1989 "numo-narray: codegen error"
The `RBasic->flags` fix was merged in b9a3868f1077e3f4f91f7fad15fc536fb138747f.

It now fails with a different error from last time (though using a more recent Graal commit than configured in the repo):

[code]

_Originally posted by @norswap in https://github.com/oracle/truffleruby/issues/1891#issuecomment-617837974_

[2020-04-22 16:35] #1891 closed

[2020-04-22 16:35] norswap commented on #1989
cc @https://github.com/deepj

[2020-04-22 17:58] eregon commented on #1989
On Linux it compiled fine for me:
[code]

Maybe you're simply missing a dependency? Does it work on MRI?

[2020-04-22 20:42] jaimerave commented on #1884
This is working fine in the latest dev version `truffleruby 20.2.0-dev-b9a3868f`, probably fixed by https://github.com/oracle/truffleruby/commit/b9a3868f1077e3f4f91f7fad15fc536fb138747f

`gem install rbtree3
Fetching rbtree3-0.6.0.gem
Building native extensions. This could take a while...
Successfully installed rbtree3-0.6.0
1 gem installed`

[2020-04-22 20:47] eregon commented on #1884
Thanks for checking!

[2020-04-22 20:47] #1884 closed

[2020-04-23 12:07] norswap commented on #1989
That's interesting. Yes, it does work with MRI.

[2020-04-23 12:35] eregon commented on #1989
Could you post what `/Users/norswap/.gem/truffleruby-jvm/gems/numo-narray-0.9.1.6/ext/numo/narray/gen/tmpl_bit/binary.c` looks like? Sounds like the generation code goes wrong for some reason.

[2020-04-23 12:51] norswap commented on #1989
There it is: https://pastebin.com/RHcvS33V

Haven't looked into this at all except for 5 minutes right now, but the file looks fine. What causes the errors? The C compiler? (but why would we pass a template to the compiler?) Also you'd expect a C compiler to choke on the ERB tags, and the error doesn't make any sense (it wants `y = * }`).

So I guess codegen? That is done by `cogen.rb` in the same

[2020-04-24 21:31] bjfish commented on #1987
@eregon applying this change should fix this:
https://github.com/rubygems/rubygems/commit/8cbba23eed5b3b54d494211208bc7572f6c56835

[2020-04-24 21:34] bjfish commented on #1984
This may be related to #1987

[2020-04-24 22:49] deepj commented on #1987
@eregon I can confirm the @bjfish suggestes commit fixes this issue

[code]

[2020-04-25 10:04] eregon commented on #1987
@bjfish Nice find! How did you find out this commit was needed?
I confirm it fixes my simple reproducer above, could you make a PR with that fix and add some test to make sure it doesn't regress?

[2020-04-26 11:03] deepj commented on #1735
@eregon this is not valid anymore after merging #1736, isn't it?

[2020-04-26 11:14] deepj commented on #1048
@eregon after passing OpenSSL all tests it seems to be this OK. In my case when I set to 100 threads instead of 1000 I get result success. In case of 1000 threads I got some timeouts `Failed to open TCP connection to github.com:443` or `Net::OpenTimeout`. I guess, this is expected.

[2020-04-26 12:17] eregon opened #1992 "Enable lazy translation for user code by default"
Enable lazy translation from the JRuby AST to Truffle AST for user code by default (`--lazy-translation-user`).
This is already the case for core library code, but not for user code.

This might need a few extra checks during parsing and some fixes for instrumentation.

This should help to improve the time to load code (part of application startup time).

[2020-04-26 12:50] eregon commented on #1735
Indeed, it should have been automatically closed but due to the rebase it wasn't.

[2020-04-26 12:50] #1735 closed

[2020-04-26 13:15] deepj opened #1993 "rbtrace: rb_add_event_hook cannot be found"
[code]

To reproduce:

**server.rb** (taken from https://github.com/tmm1/rbtrace/blob/master/README.md):

[code]

[code]

**NOTE**: `67278` is the current PID of previous run `server.rb` script on my system. So you need to enter your current one on your system.

Error:

[code]

[2020-04-26 13:16] deepj commented on #1666
@eregon the gem is possible to compile without error. So I guess this can be closed and particular issues reported individually.

[2020-04-26 16:23] chrisseaton commented on #1527
The only problem now is a timing one - another problem with cold performance. I'm now testing `nio4r` in Shopify's TruffleRuby CI (patching this tolerance to be larger), so we'll keep it running.

[code]

[code]

[2020-04-26 18:17] bjfish commented on #1987
@eregon A little debugging and I recognized the issue from before I think when rubygems tests were picking up our version of rubygems.  So, this may be covered by rubygems tests:  https://github.com/rubygems/rubygems/pull/3499/files#diff-254db4345cc461121a9d4dbfd390bc25R385

[2020-04-27 00:36] ioquatix commented on #1527
Timing issues are really just sanity checks. I've been having a ton of issues with timing specs on github actions using macos - I think those systems are overloaded, and I added a Q factor of 20x tolerance in order to pass the specs! That's a surprisingly large tolerance.

[2020-04-27 01:37] deepj commented on #1939
@eregon I tried build with https://github.com/oracle/truffleruby/commit/d1230ebe1257d85dd1e7de7fd12ab5a482230ebb The numbers are a bit better for TruffleRuby, but not much. What I can see the problem with high latency (always over 1 seconds in any my tests). When I tried one Rails application, there were many timeouts while requesting.

[2020-04-27 01:39] deepj commented on #1992
Hm, `bundle` or `rake` commands seem to be more responsive with this change.

[2020-04-27 09:21] eregon commented on #1993
Looks like msgpack is linked statically: https://github.com/tmm1/rbtrace/blob/4a1414c16353d319e6c510939ac5eeb847bcf544/ext/extconf.rb#L55

So we should try if it works when the toolchain is on the PATH and CC/CXX are set, similar to other issues related to static linking.

[2020-04-27 09:24] eregon commented on #1527
From my experience, no timeout is ever enough (or so high that it's useless to test).
So I would suggest to always change the spec to not rely on timing, or remove it.
The operating system doesn't give any guarantee regarding sleep times, etc.

If the unit is wrong, and e.g., it's 1000x smaller or larger then the bug will be clear anyway.

[2020-04-27 09:27] eregon commented on #1527
@chrisseaton What about the other errors like
[code]
https://github.com/socketry/nio4r/runs/487447089
Do you see that in CI too? Did you investigate what causes it?

[2020-04-27 09:37] eregon commented on #1939
@deepj Could you also try with 1 route on roda on puma?
https://github.com/jodosha/ruby-web-bench/blob/3babcb8a86f47673504632e19d1c4369ea684d0b/apps/roda-10000.ru is a bit weird honestly, 32000 lines, 10000+ blocks, probably not representative of anything realistic.

[2020-04-27 09:47] eregon commented on #1992
Implemented in d1230ebe1257d85dd1e7de7fd12ab5a482230ebb

[2020-04-27 09:47] #1992 closed

[2020-04-27 10:35] chrisseaton commented on #1527
I don't see that error. But that was run a couple of months go on I'm not sure what version of TruffleRuby.

@ioquatix Note that timing failures can be more subtle than an epsilon that's too small, there's some specs that have an array where output is ordered based on timing that sometimes fail as well. I'll share a complete list of things that are flaky on TruffleRuby in CI when I'm done setting

[2020-04-27 10:38] deepj commented on #1939
@eregon Honestly, there is no much differences except the latency.

## app/roda-1.ru

Test 1 (warn)
[code]

Test 2 (hot)
[code]

Test 3 (hot)
[code]

## app/roda-10000.ru

Test 1 (warm)
[code]

Test 2 (hot)

[code]
BTW:

Anything impossible in corporate world. I can very easily image this as a highly potential scenario there 😹

[2020-04-27 14:35] bjfish commented on #1987
@eregon Yes, I'm make a PR with the fix.

[2020-04-27 14:45] chrisseaton opened #1994 "Coverage for native has recently broken"
[code]

[2020-04-27 16:18] eregon commented on #1994
Thanks for the report.
We need that `LazyRubyNode#materializeInstrumentableNodes` to get line breakpoints to work in the debugger when the breakpoint is set before the first execution of that method.

`Node#materializeInstrumentableNodes()` is documented as `The method may be invoked without a language context currently being active.`

And like a good part of Ruby parsing/translation that needs th

[2020-04-27 16:40] eregon commented on #1994
Fixing the obvious usage of `getContext()` in LazyRubyNode doesn't solve it:
[code]
And passing the Context all the way down there is not nice.

[2020-04-27 16:45] eregon commented on #1994
Also coverage is a use-case that shouldn't require early materialization like this, but rather only instrument on first execution with `notifyInserted()`. Maybe materializeInstrumentableNodes() should only be called by tools really needing it that eagerly and not by default when instrumenting?
cc @entlicher

Not clear to me what's a good fix here.

[2020-04-27 17:41] chrisseaton commented on #1994
know what caused the regression though? It wasn't here last week.

[2020-04-27 17:47] eregon commented on #1994
It's 867e3a8c7fcff3bfff4ecaa2f8bc841d48f2a685 part of a8b9b9cc6da089b9127647b00255bdd73473c11c, which is needed to fix a RubyDebugTest.

[2020-04-28 05:36] ioquatix commented on #1527
I don't personally have any problem with reworking flakey specs, I've done some work in the past on the nio4r specs, and I have no problem with fixing specs which have flakey behaviour w.r.t. timing.

That being said, there are situations where you need to assert something about timeouts.

An example would be:

[code]

Yes, if the system is overloaded, the time might take much longer than 2 second

[2020-04-28 09:19] gogainda commented on #1527
I think checking timeouts without context, just number,  is not correct approach. When we talk about performance what we should check is what is the impact of the size of input on overall performance and how fast it degradates. For example for O(n*n) we can expect smth like:
1. input was 3 elements - resulted in 6 sec
2. input is 10 elements - resulted in 100 sec. (x10 comparing to prev result)
So

[2020-04-28 09:26] chrisseaton commented on #1527
But I don't think we are talking about performance - this is a correctness test that timeouts and schedulers are working correctly. It's not about how fast things run.

[2020-04-28 10:08] eregon commented on #1527
Agreed it would be useful if we could test it. And maybe it's possible on a system doing nothing else (although it's not just the operating system, e.g., if a GC happens before/after calling the syscall, it might make significantly longer).
In my experience with ruby/spec, in CI it's basically impossible to test duration reliably, without a margin of like 30x as you said or something like 20 secon

[2020-04-28 10:12] eregon commented on #1527
Some good news is the latest run of `nio4r` CI using `truffleruby-head` (after https://github.com/socketry/nio4r/pull/236) is all green: https://github.com/socketry/nio4r/runs/624847915

But it was flakey in https://github.com/socketry/nio4r/runs/623295923 so we should address all these `select_precision`/`timeout` specs.

[2020-04-28 11:11] chrisseaton opened #1995 "Loom compatibility?"
Can someone comment on Loom compatibility, please? Has it been tried recently? @aardvark179

[2020-04-28 13:38] eregon commented on #1994
I ended up passing the RubyContext to all nodes needing it in the constructor, and adding a spec that `--coverage` works. It was quite a few nodes to adapt but it's done now.

[2020-04-28 14:07] ioquatix commented on #1527
I am happy to give one or both of you the commit bit to nio4r.

[2020-04-28 14:43] eregon commented on #1835
The next "small" step is to make Symbols context-independent so they can still be referenced directly in the shared AST. That's fine as Symbols are immutable.
We should store the SymbolTable instance as a field of RubyLanguage, not as a `static final` field as that could be problematic for persistent warmup.

[2020-04-28 16:29] eregon commented on #1994
Fixed in 91e7ba048ab2bb9f71bddc028da281f6b651d0ca

[2020-04-28 16:29] #1994 closed

[2020-04-28 23:00] chrisseaton commented on #1527
Thanks @ioquatix - I'll ask for it when I need it.

I'm now testing `async-containers`, `async-io`, `async`, `timers`, `nio4r` in Shopify's CI - that's on macOS and Linux.

I'm using these patches to skip flakiness. I decided to add skips rather than change the quantum here. A couple of these failures are issues with `bind` not working on some addresses - need to investigate that more. `asnyc-http

[2020-04-29 13:58] gogainda commented on #1072
@eregon
Checked latest dev build vs ruby 2.7.
After couple of rounds of warmup, it finished with comparable to MRI performance.

[code]
[code]
Code I used:
[code]

[2020-04-29 14:22] eregon commented on #1072
Thanks, I think this is close enough to MRI to not be "slower" anymore (at least not 2x).
Maybe it can be further optimized but the performance of that benchmark for CSV seems reasonable now, so I'd like to close this issue.

[2020-04-29 14:22] #1072 closed

[2020-04-29 16:25] norswap commented on #1989
pebcak

[2020-04-30 17:28] thbar commented on #1072
@gogainda thanks for checking!

@eregon agreed, this looks perfectly acceptable for now. I will provide other ETL-based benchmarks in the future ;-)

[2020-04-30 17:43] bjfish commented on #1949
This appears fixed now on the latest master: aa9d75a31be7fa58b1a4c0ed5173670229f35082.
I assume it was fixed by #1988 .
[code]

[2020-04-30 17:43] #1949 closed

[2020-05-01 05:38] deepj commented on #1989
I guess this is not resolved. Tested todat with

[code]

The same issue as above

[2020-05-01 11:21] eregon commented on #1989
It installed for @norswap and Brandon on macOS, one issue might have been that `GEM_HOME` was set.

@deepj Does it install with MRI for you? Is GEM_HOME set in your case?

[2020-05-01 12:03] deepj commented on #1989
@eregon

Hm, chruby set `GEM_HOME` automatically what I remember. In both cases it's set (TruffleRuby and MRI 2.7)

MRI 2.7
[code]

[2020-05-01 13:12] eregon commented on #1989
@deepj Just to be sure I would try to remove the `gems/numo-narray-0.9.1.6` directory entirely and then try to install again, maybe there are some leftover files that cause this failure.

If that still fails, could you share your `ext/numo/narray/gen/tmpl_bit/binary.c` or even better an archive of `gems/numo-narray-0.9.1.6` when it fails to install?

I'm trying to get a PR to `chruby` so it doesn'

[2020-05-01 13:42] deepj commented on #1989
@eregon

removing `gems/numo-narray-0.9.1.6` didn't help

Here is the archive of `gems/numo-narray-0.9.1.6`
[numo-narray-0.9.1.6.zip](https://github.com/oracle/truffleruby/files/4564437/numo-narray-0.9.1.6.zip)

[2020-05-01 16:23] bjfish commented on #1989
I have a minimal reproduction case for the error:
[code]
Expected:
[code]
Actual:
[code]

[2020-05-01 16:29] deepj commented on #1942
@eregon this is fixed in https://github.com/oracle/truffleruby/pull/1988

[2020-05-01 16:56] deepj commented on #1429
@eregon this is also fixed

[code]

[code]

[2020-05-01 17:15] deepj commented on #1989
@bjfish Ee, what? Can you explain more why the above is related to this bug, please?

[2020-05-01 17:18] bjfish commented on #1989
@deepj When I open the file `t_bit.c` I see that it stops abruptly as follows:
[code]
This appears to be due to the file not writing all the bytes.  Do you have a similar `t_bit.c` file?

[2020-05-01 17:22] deepj commented on #1989
In my case, it's cut on this place

<img width="453" alt="Screenshot 2020-05-01 at 19 21 23" src="https://user-images.githubusercontent.com/33736/80825584-382aaa00-8bd0-11ea-8ea3-6bbb35482971.png">

[2020-05-01 17:27] bjfish commented on #1989
@deepj I have a similar but different cut off at line 3285 when I run with `gem install`.

[2020-05-01 17:29] eregon commented on #1989
Good find!
`open(file,"w").write(s)` is unsafe and gives no guarantee to flush, we should fix it upstream to `close` explicitly or at least `flush`.
On MRI I guess it "works" due to running the finalizer (calling `close`) on exit, but that's very brittle.

[2020-05-01 17:30] #1942 closed

[2020-05-01 17:32] eregon commented on #1429
Right, @aardvark179 fixed this a while ago.

[2020-05-01 17:32] #1429 closed

[2020-05-01 17:45] norswap commented on #1989
Do we run the finalizers? Shouldn't we make this work as-is? Feels like there are probably a lot of bombs like this waiting to happen.

[2020-05-01 17:52] eregon commented on #1989
Relying on the finalizer for this is IMHO asking for trouble. It will keep the file descriptor open longer than expected, which might lead to fd leaks and eventually running out of file descriptors.

We tried to run finalizers on exit and we discovered they fail non-deterministically probably due to the order in which they are run. So it also seems hard to implement. There are also non-trivial int

[2020-05-01 19:03] bjfish commented on #1989
For reference, the `open` usage is here:
https://github.com/ruby-numo/numo-narray/blob/3409fbf4f481c4d0275d8f6b724ac6412fa2acea/ext/numo/narray/gen/cogen.rb#L69

[2020-05-01 19:06] eregon commented on #1942
(this was actually fixed before, in d31d48fe4f)

[2020-05-01 19:09] eregon commented on #1654
No reply in a year, I'll close this.
Also we now use a bundled LLVM toolchain which makes this unlikely to be an issue anymore.
We can reopen if it's still an issue.

[2020-05-01 19:09] #1654 closed

[2020-05-01 19:16] eregon commented on #1369
We currently only support the Truffle-style Java interop with `Java.type` and not the JRuby-style interop. So I suggest to use the code I posted above and would like to close this issue.

[2020-05-01 19:16] #1369 closed

[2020-05-01 19:24] eregon commented on #1409
`gem install therubyracer` works now:
[code]

It fails at runtime though:
[code]

That seems very similar to the runtime error of #1827 so I'd like to keep track of that there and close this issue since the gem now installs.

[2020-05-01 19:24] #1409 closed

[2020-05-01 19:35] eregon commented on #1989
@bjfish Could you make a PR and change that line to use `File.write`? (`$output` is always a filename)

[2020-05-01 20:26] bjfish commented on #1989
@eregon Yes, I've created a PR here: https://github.com/ruby-numo/numo-narray/pull/159

[2020-05-02 05:12] deepj commented on #1579
@eregon only one spec is failing

[code]

[2020-05-02 13:41] eregon commented on #1579
I'll run with `truffleruby-head` in CI: https://travis-ci.org/github/eregon/listen/builds/682293871
Most of the failures could be due to too strict timeouts, but I didn't investigate so not sure.

[2020-05-03 15:44] deepj commented on #1987
@eregon I guess this is fixed

[2020-05-04 09:59] eregon commented on #1987
@deepj Right, it seems this issue's example works now. We're adding a test for it and that revealed we need to fix #1956 too, which is in progress. Let's close this issue when the test is merged and passing.

[2020-05-04 10:27] deepj commented on #1579
There is a similar "issue" in `rom-sql`

[code]

See https://github.com/rom-rb/rom-sql/blob/master/spec/unit/relation/lock_spec.rb#L35

For JRuby the timeout is 10x higher. I'll sent a PR to fix it in `rom-sql` for TruffleRuby too. But. Why the limits are for MRI lower than for JRuby?

[2020-05-04 19:27] eregon commented on #1956
Fixed in b9669c4c1aac9546b2e0b772aa180688a9d3aad7

[2020-05-04 19:27] #1956 closed

[2020-05-04 19:28] eregon commented on #1987
Test added in b9669c4c1aac9546b2e0b772aa180688a9d3aad7

[2020-05-04 19:28] #1987 closed

[2020-05-04 19:46] bjfish commented on #1905
@deepj I just tried this at commit https://github.com/oracle/truffleruby/commit/b9669c4c1aac9546b2e0b772aa180688a9d3aad7 and was unable to recreate. Can you please confirm?

[2020-05-04 23:52] deepj commented on #1905
@bjfish you need to rerun migration. At least in my case just

[code]

And I got it again

[2020-05-05 10:02] eregon opened #1997 "Implementing PyCall.rb-like interop between TruffleRuby and Graal.python"
MRI (CRuby) has a library to call out to Python called [pycall.rb](https://github.com/mrkn/pycall.rb).

It would be interesting to make this work in GraalVM with TruffleRuby + GraalPython, where we could likely have a much simpler system (no serialization, no need to integrate with the GC, etc), and potentially much better performance.

If we can, we'd basically make all the good scientific comput

[2020-05-05 10:05] eregon commented on #1997
I met the author of pycall.rb, @mrkn, at RubyKaigi 2019.
I showed him a simple example with a loop with the addition either in Ruby or Python, and comparing that to pycall.rb on CRuby, and of course that example is very fast on GraalVM.

I could install and load both `numpy` and `pandas` on GraalPython.

With just a few lines of code, we could define `PyCall.import_module` as a `Polyglot.eval` and

[2020-05-05 10:09] eregon commented on #1997
An interesting design decision here would be to try to get the pycall.rb API working without needing to wrap Python objects in Ruby objects.
That would reduce overhead and simplify passing objects between the two languages.
If this doesn't work yet for some way to access the Python object, it would be interesting to discuss it here or on the GraalVM Slack.

[2020-05-05 10:13] eregon commented on #1997
@timfel said the example in https://www.practicalai.io/using-scikit-learn-machine-learning-library-in-ruby-using-pycall/ should be easy to get working.

[2020-05-05 17:43] deepj opened #1998 "duktape: rb_uv_to_utf8 cannot be found"
[code]

To reproduce:

[code]

Error:

[code]

[2020-05-05 18:14] eregon commented on #1998
https://github.com/judofyr/duktape.rb doesn't seem to use static linking so I'm not sure why we see a missing function here, worth investigating.

[2020-05-05 18:50] eregon commented on #1998
`rb_uv_to_utf8` is part of the C-API, we've just not implemented it yet.

[2020-05-05 22:55] eregon commented on #1984
FWIW, the failure on MRI 2.3 with Bundler 2 is most likely due to https://github.com/rubygems/rubygems/issues/3570#issuecomment-624348235

[2020-05-05 23:02] eregon commented on #1984
TruffleRuby now works fine with Bundler 2 when running in Puma's CI: https://github.com/eregon/puma/runs/647762836

#1987 and #1956 fixed this.

I'll make a PR to Puma to use the latest Bundler once the Ruby 2.3 bug is resolved (https://github.com/ruby/setup-ruby/issues/51).

[2020-05-05 23:02] #1984 closed

[2020-05-06 20:15] jzakiya opened #1999 "Modular exponentiation with Integer#pow(exponent, modulo) is slow"
v20.0.0 has an inexplicable performance issue for this code compared to J|Ruby.

https://rosettacode.org/wiki/Long_primes#Ruby

[2020-05-06 23:00] bjfish commented on #1584
I was running this today and here's what I found:
I also saw pauses between batches of jobs, although short ones, for native but not jvm. Using the `--vm.XX:+PrintGC` I could confirm these were pauses for GC.

I did run with `RAILS_ENV=production` as I saw a lot of allocations for this rails code and I suspected a bug in this code with the `@watched` variable always not set (also on MRI): https://

[2020-05-07 03:14] jzakiya opened #2000 "Missing x.pow(e, m) method"
Running working Ruby code in 2.7.1, et al, with Truffleruby 20.0.0 gives missing ``pow`` error.
[code]
Gives this error.

[code]
Doing this works.
[code]

[2020-05-07 09:45] eregon commented on #1999
On the first program TruffleRuby seems much faster:
[code]

On the second program there is no mention of interpreter:
[code]

So I guess you mean the last output "Translation of: Crystal of Sidef. Faster version."?
[code]

[2020-05-07 09:52] eregon commented on #1999
Using the CPUSampler clearly shows the bottleneck:
[code]

Which shows that the call to `10.pow(d, p)` is currently not taking advantage of the second argument to do modular exponentiation:
https://github.com/oracle/truffleruby/blob/71f0d83a8c563f39833b54a8a40fe119ac7e693e/src/main/ruby/truffleruby/core/integer.rb#L126

[2020-05-07 09:58] eregon commented on #2000
We have Integer#pow (but it's not fast yet, #1999), and Float#pow doesn't exist (neither on MRI 2.6.5 & 2.7.1).

The issue is likely due to the warning above: `warning: in a**b, b may be too big`.
Which means `**` will return a Float and not an Integer.

Could you share a complete reproduction script that works on MRI and fails on TruffleRuby?

[2020-05-07 11:56] deepj commented on #1989
@eregon This can be closed. The fix was silently released https://github.com/ruby-numo/numo-narray/releases

I can compile it. Though, it takes a lot of time :( + There is another problem. I'll report it

[2020-05-07 11:58] deepj opened #2001 "numo-narray: `rb_exc_raise': wrong argument type (TypeError)"
[code]

To reproduce:
[code]

Error:

[code]

[2020-05-07 12:01] #1989 closed

[2020-05-07 14:11] eregon commented on #1999
JRuby has an implementation of it: https://github.com/jruby/jruby/blob/9.2.8.0/core/src/main/java/org/jruby/RubyInteger.java#L799-L851

[2020-05-07 14:18] eregon commented on #1999
That seems quite complicated though, I'd rather just have a primitive converting everything to BigInteger and calling `BigInteger#modPow`.

[2020-05-07 16:22] eregon commented on #1048
Indeed, it looks fine now.
With 400 threads MRI also starts to fail connecting.

[2020-05-07 16:22] #1048 closed

[2020-05-07 16:52] jzakiya commented on #2000
Here is the code that the error comes from.
The method ``pow()`` is the culprit, as noted in #1999.

https://rosettacode.org/wiki/Miller%E2%80%93Rabin_primality_test#Deterministic_for_integers_.3C_3.2C317.2C044.2C064.2C679.2C887.2C385.2C961.2C981

[2020-05-08 17:16] eregon commented on #1905
This should be fixed by af4c22ac7ce963dda0cae8d78a455b0ba55fcc49

[2020-05-08 17:16] #1905 closed

[2020-05-08 19:39] chrisseaton opened #2002 "BigDecimal(..., exception: false) doesn't work as intended"
You can see the basic problem with this:

[code]

That'll return `nil` on MRI and `0.0` on TruffleRuby.

I tried to fix this, but it quickly started to look like a pretty bad rabbit hole. There's this whole code path in TruffleRuby for *strict*, which is set set when you set `exception: false` but it's not tested, and in MRI *strict* seems to be at some point a different option to *e*, meaning the

[2020-05-08 21:06] eregon commented on #2002
Using the `bigdecimal` gem (with `truffleruby-dev`) seems to work for this case:
[code]

I'll try to run the bigdecimal specs & MRI tests with the gem and see if that works.

You can also try locally if `gem install bigdecimal` works for your use cases (it will get used by default as it's an upgraded default gem, doesn't even seem to need to be in the Gemfile).

[2020-05-09 11:00] deepj opened #2004 "Ruby 2.7 support"
Is there any plan to add new Ruby 2.7 goodies in near future? In my list are these:

1. REPL improvements (the colors and syntax highlighting in IRB!!!)
2. pattern matching (+ possible some performance optimization behind MRI implementation)
3. `Enumerator.produce`

[2020-05-09 11:39] eregon commented on #2004
As written in
https://github.com/oracle/truffleruby/blob/master/doc/contributor/workflow.md#running-specs-for-ruby-27-features

So adding 2.7 features as long as they don't conflict significantly with Ruby 2.6 semantics is fine.

Regarding 1, I guess it's mostly changes the `irb` gem. So the work there seems mostly to support the latest irb gem. Trying `gem install irb; irb` shows we need `Ripper.

[2020-05-09 15:18] chrisseaton commented on #1992
Sorry this doesn't make a statistically significant difference for me.

[2020-05-09 16:44] eregon commented on #1992
Thanks for checking.

On `require "rubygems"` it's noticeable with require profiling (~10ms vs ~22ms for translating), but that's a very small part of total require time (~485ms):
[code]
vs (disabled)
[code]

[2020-05-09 16:48] deepj commented on #1992
I just noticed `rake` and `bundle` are a bit more responsive. What probably shows @eregon metrics. But I haven't seen any better responsivity if I use `rails` commands

[2020-05-09 17:05] chrisseaton commented on #2002
I see 62 failures. Examples include things like `corrupt handle 0x2a` and `Missing LLVM builtin: llvm.usub.sat.i32`.

This doesn't seem to be the case when you use `bundle exec` unfortunately.

But general functionality works and quite a lot of our CI passes.

[2020-05-09 17:14] eregon commented on #1992
BTW, a good part (~11%) of `require "rubygems"` seems to be spent in `Array#flatten` and `Thread.detect_recursion`:
[code]

[2020-05-09 17:24] chrisseaton commented on #1992
`detect_recursion` is super common. Maybe we could do this better as a primitive?

[2020-05-10 07:58] deepj commented on #1564
@eregon I guess this is already fixed.

[code]

**Note: ** `indent.rb` is the code above

[2020-05-10 10:30] eregon commented on #1992
Yes indeed, I was thinking we should optimize `Thread.detect_recursion` as well, and there are many ways to improve over the current implementation: https://github.com/oracle/truffleruby/projects/1#card-37918829

[2020-05-10 10:42] eregon commented on #1564
This is not fixed yet, but we should be able to import the fix from JRuby 9.2.8.0: https://github.com/jruby/jruby/commit/76eb532f1a1fdb41257dce8b4226e4289938cf9a

We should probably look into importing all changes in JRuby 9.2.8.0 related to the parser, but not sure how easy/hard that is to update since we have some changes there.

[2020-05-10 10:53] eregon commented on #1502
I'd like to close optimistically as I think it doesn't happen anymore.
If it does, please post the full backtrace, which should show where in the C extension the error happens.

[2020-05-10 10:53] #1502 closed

[2020-05-10 10:56] deepj commented on #1564
@eregon yeh, I tried the example above and it was ok, but then I tried the example in the JRuby issue, and it wasn't ok. That was the reason why I removed my comment.

[2020-05-10 10:58] eregon commented on #1564
Please lave an extra comment in that case :)
I tried the `Not working:` example above and that still fails.

[2020-05-10 11:00] mojavelinux commented on #1564
@deepj I may have phrased it in a confusing way. It's the second sample that fails. The first example is just a reference for what already works.

[2020-05-11 10:01] aardvark179 commented on #1995
So we originally did a very rough prototype of using Loom in TruffleRuby using low level continuations, and although this works for simple cases it would require a lot of work to resolve all the assumptions about threads in TruffleRuby and Truffle itself, and it is not clear that raw continuations will be publicly exposed in the final version of Loom.

So, a better way to approach this is to creat

[2020-05-11 10:16] eregon commented on #1995
Using virtual threads seems suboptimal though, as we'd have 2 extra level of scheduling (virtual threads scheduling and the message queue to actually switch only when the Ruby code does it), when there is no need and scheduling is explicit for Ruby Fibers.

Virtual threads could allow automatic switching on blocking Java IO, but I doubt that would correspond to where Ruby Fibers should switch with

[2020-05-11 16:42] eregon commented on #1878
I think we can't reasonably fix this, doing the search in multiple context could potentially have different results.
If the home is not found, there is large problem, so that needs fixing anyway.

BTW, I recently cleaned up the home search in 19f457aea1cc324bde151b7a3465025573316376, it only ever tries the Truffle-reported home now, and always warn if not found.

[2020-05-11 16:42] #1878 closed

[2020-05-12 14:57] mperham opened #2008 "Cannot install on macOS with ruby-install"
[code]

[2020-05-12 15:53] eregon commented on #2008
Thanks for reporting the issue.
This is unfortunately a side effect of Homebrew removing the `llvm@4` formula.

A simple workaround is to `ruby-install --no-install-deps truffleruby`.

It's also been fixed on `ruby-install` master in https://github.com/postmodern/ruby-install/pull/359 but there is not yet a release of `ruby-install` with that fix.

[2020-05-13 09:58] aardvark179 commented on #1995
So @eregon and I talked about this over Zoom. Virtual threads offer a useful amount of compatibility with existing Java libraries compared to raw continuations, and shouldn't impose much overhead. I'll produce a small example outside TruffleRuby to show how we can use a custom scheduler for things like fibres without the overhead of using queues.

Within the Loom project we'll keep an eye on perfo

[2020-05-14 01:49] jzakiya opened #2009 "gem update issues on PCLinuxOS"
rvm 1.29.10; Truffleruby 20.0.0; Linux Kernel 5.5.17

[code]

[2020-05-14 09:25] eregon commented on #2009
As the log says:

See https://github.com/oracle/truffleruby/blob/master/README.md#dependencies
and in particular https://github.com/oracle/truffleruby/blob/master/doc/user/installing-llvm.md
It seems you're missing `gcc` in this case.

The LocalJumpError in RDoc is a different issue, could you report that separately?

[2020-05-14 15:21] pchaganti opened #2010 "Unable to install Iodine gem which uses a C extension on MacOS"
Using the most recent release - truffleruby-20.0.0 on Mac OS X 10.15.4. Truffleruby was installed using rvm.

Unable to build iodine gem that uses c extension. Trying to track this down, but there is not much in terms of an error message that I can use. Anyone have any idea where to look for this issue?

thanks!

[code]

[2020-05-14 15:29] eregon commented on #2010
Does `gem install iodine` work for you on MRI 2.6?

[2020-05-14 15:31] eregon commented on #2010
The
`mkmf.rb:1299:in 'find_type': wrong number of arguments (given 1, expected 2+) (ArgumentError)` error seems similar to #1896.
Probably that's why it fails to install.

[2020-05-14 15:47] pchaganti commented on #2010
Yes. I am currently using Ruby 2.6.5 and iodine works fine with it.

[2020-05-14 20:41] eregon commented on #2009
Reopening since apparently installing gcc wasn't enough for you.
This is probably a distribution-specific issue then.
What's your package manager?

Can you try to find what installs `crtbegin.o:` and `/usr/lib/libgcc_s.so.1`/`/usr/lib64/libgcc_s.so.1` for your distribution?
For other distributions, that's part of the `gcc` package.

To debug this you can try compiling a C hello world with the `cla

[2020-05-14 20:45] eregon commented on #2009
Note that `bigdecimal` doesn't compile on TruffleRuby 20.0.0, but it should on `truffleruby-head`.

[2020-05-15 01:14] jzakiya commented on #2009
I used ``rvm-1.29.10`` to install truffleruby ``rvm install truffleruby-20.0.0``.
Every other Ruby has installed with no problem, and update gems.
If there is some missing build tool then it's a build issue with ``rvm`` not detecting at build time.

[2020-05-15 09:33] eregon commented on #2009
That seems slightly too general. JRuby certainly cannot install or update the `bigdecimal` gem for instance.

`gem update` (all) is not guaranteed to work, since it also considers *default gems* which might have a different implementation than the upstream gems (i.e., they're still part of stdlib).
Is there a specific reason you want to update all known gems, including default gems?

Maybe in the

[2020-05-15 11:11] eregon commented on #2009
To help debug this, it would be useful if you can share the output of:
[code]
with `hello.c` being:
[code]

[2020-05-15 14:40] aardvark179 commented on #2002
The missing intrinsics are quite easy to implement, they are just saturating addition and substraction. However that still leaves over 20 failures from corrupt handles and other issues. The handles do seem genuinely broken, so either there is a code path that is failing to correctly shift and tag a value, or someting is directly manipulating those values and getting something wrong. The problem se

[2020-05-15 16:28] eregon commented on #1995
This is a well-detailed update of the status of Project Loom:
http://cr.openjdk.java.net/~rpressler/loom/loom/sol1_part1.html

[2020-05-15 16:35] eregon opened #2011 "Optimize Thread.detect_recursion"
We should optimize `Thread.detect_recursion`, e.g., by moving some of it to Java, using EconomicMap instead of `{}.compare_by_identity` which forces computing `object_id`.

That should also do the optimization of not computing the identity hash until needed if few objects are tracked.

We should also avoid the block if possible as that creates more indirections.

From https://github.com/oracle/tru

[2020-05-15 18:37] jzakiya commented on #2009
I use Zsh.
[code]
gcc 9.3.0

[code]
clang 8.0.1
[code]
truffleuby 20.0.0
[code]

[2020-05-15 19:02] eregon commented on #2009
Thanks, the last command fails because you need the `$` included:
`$(truffleruby -e 'puts RbConfig::CONFIG["CC"]') -v hello.c`

[2020-05-15 19:29] eregon commented on #1896
[code]
reproduces and also fails in MRI.

So basically it's an issue of FFI: https://github.com/ffi/ffi/blob/33fb45a80e20fd9d9c39de3753abca9b4ef3abe7/lib/ffi/struct.rb#L247
Because mkmf defines a public `find_type` on every object by `include MakeMakefile`.

The only reason it doesn't fail on MRI for the `extconf.rb` is that MRI doesn't use FFI internally for the `socket` stdlib.

The require chai

[2020-05-15 19:35] jzakiya commented on #2009
[code]

[2020-05-15 20:38] eregon commented on #2009
@zapster Could you take a look?

[2020-05-15 21:43] eregon commented on #1896
Fixed by a54e85bbd68e3929781fc1654a2c1ce71e782a37.
`gem install skylight` works for me locally now.

[2020-05-15 21:43] #1896 closed

[2020-05-15 21:49] eregon commented on #2010
The `find_type` error is fixed by a54e85bbd68e3929781fc1654a2c1ce71e782a37.

After that, `gem install iodine` goes further but still fails for me locally.
One problem there is `iodine` hardcode and tries its own logic to find the compiler, instead of using the recommended `RbConfig::CONFIG["CC"]` in https://github.com/boazsegev/iodine/blob/4219633ab4da37f5029146ab07d07c45862af3fd/ext/iodine/extcon

[2020-05-15 21:49] #2010 closed

[2020-05-15 21:52] eregon commented on #2010
I filed an upstream issue about that compiler selection problem: https://github.com/boazsegev/iodine/issues/91

[2020-05-15 21:55] eregon commented on #2010
This is a workaround until fixed upstream:
[code]

[2020-05-16 14:15] deepj commented on #1982
@eregon Is is possible to look at this in near future? I would like to try one Rails app depends on this gem to run :)

[2020-05-16 15:40] eregon commented on #1982
This seems a platform-specific issue, on Linux it installs fine:
[code]

[2020-05-18 06:48] zapster commented on #2009
Hello @jzakiya, thanks for all the infos so far.
It seems like the toolchain used by truffleruby uses different library search paths than the installed clang. To help us diagnose this further, could you please post the output of
[code]
as well as
[code]
Thank you!

[2020-05-18 07:33] petenorth opened #2012 "TruffleRuby performance or memory regression on rspec"
I've noticed that a CI job I have started showing errors recently

https://github.com/petenorth/schools-experience/actions?query=workflow%3A%22rspec+with+truffleruby%22

The issues seems to have been introduced between

https://github.com/oracle/truffleruby/commit/a54e85bbd68e3929781fc1654a2c1ce71e782a37

and

https://github.com/oracle/truffleruby/commit/b682c1923c76934abaa5f43099d6771e93693a60

I

[2020-05-18 08:02] zapster commented on #2009
Actually, it seems that the missing
[code]
from the
[code]
is the culprit. For some reason the gcc installations are not detected. This is something we have to look into. You can workaround the issues explicitly set the gcc toolchain:

[code]

[2020-05-18 08:10] zapster commented on #2009
I did some more digging and it seems that PCLinuxOS is patching their clang to pick up the gcc installation. (If you are interested in the details, see
`cfe-8.0.0-detect-Mageia.patch` from the [clang source rpm](http://ftp.nluug.nl/pub/os/Linux/distr/pclinuxos/pclinuxos/apt/pclinuxos/64bit/RPMS.x86_64/clang-8.0.1-1pclos2019.x86_64.rpm).) Since this patch is not upstream, there is nothing we can do

[2020-05-18 09:38] eregon commented on #2010
iodine 0.7.39 was released and now it install out of the box on TruffleRuby:
[code]

Thanks for the very quick fix + release @boazsegev!

[2020-05-18 10:36] eregon commented on #2012
Thanks for the report.

So the mode that matters is the first one, the rspec mode.
BTW, to simplify, I'd recommend always using the default mode for the app since it doesn't seem to change much while running tests.
The two runs that failed:
https://github.com/petenorth/schools-experience/runs/684091843?check_suite_focus=true
https://github.com/petenorth/schools-experience/runs/682109341?check_suit

[2020-05-18 11:24] zapster commented on #2009
To add a bit more background, this is not specific to truffleruby/GraalVM but a general problem of the Linux distribution. If clang is compiled manually without applying the patch it will run into the same issue.

Only the distribution can fix this for real, by either upstreaming their patches to the LLVM project or by adding a symlink so that clang can pick up gcc by default. I suggest filing an

[2020-05-18 13:31] eregon commented on #2009
I documented the workaround for Mandriva-based distributions in be4c577f63b78b454e0a85b5454454e54966d79b

@jzakiya Could you report this issue to PCLinuxOS as @zapster suggested?
That is the proper fix, so any clang running on PCLinuxOS would find gcc automatically like on other distributions, without needing the manual symlink workaround.

[2020-05-18 13:31] #2009 closed

[2020-05-18 15:26] #1998 closed

[2020-05-19 07:10] petenorth commented on #2012
Last night's run showed that in latency mode the rspec tests ran twice a slowly as before (they were taking c. 15 mins and now they take c. 30 mins).

For running the rspec tests in throughput mode it is also taking longer c. 40 mins vs 25 mins .

[2020-05-19 15:20] eregon opened #2013 "The Exception#cause is not shown by the top-level exception handler"
[code]

MRI 2.6.6:
[code]

This would be useful for debugging errors which are wrapped by libraries, such as for RubyGems and Bundler.

cc @chrisseaton

[2020-05-19 15:25] chrisseaton commented on #2013
Oh right, didn't realise it was our fault.

[2020-05-19 16:20] petenorth commented on #2012
I've added the inline option to the matrix for the rspec job (only applying it to the rspec process)

https://github.com/petenorth/schools-experience/runs/689491563?check_suite_focus=true

`LanguageAgnosticInlining=false` does result in faster runs.

[2020-05-21 12:36] brauliobo opened #2014 "Failed to install/build appsignal gem extensions"
[code]

[2020-05-21 14:21] eregon commented on #2014
The latest `appsignal` 2.10.7 works fine:
[code]

appsignal 2.3.4 used to do this: https://github.com/appsignal/appsignal-ruby/blob/v2.3.4/ext/extconf.rb

And can be reproduced simply with:
[code]

Which seems like a require or autoload bug.
The issue is `rubygems/deprecate.rb` defines `module Gem::Deprecate` but `Gem` hasn't been defined yet.

[2020-05-21 14:29] eregon commented on #2014
Actually, MRI 2.6.6 has the same issue, if run with `--disable-gems`:
[code]

What saves it is without that flag it automatically defines an (empty) `Gem` module as a way to remember to require rubygems at startup.

So I think this is essentially a RubyGems issue: RubyGems 3.0.3 doesn't support to `require "rubygems/package"` directly, only through `require "rubygems"`.

[2020-05-21 14:44] eregon commented on #2014
RubyGems issue about this: https://github.com/rubygems/rubygems/issues/3650

[2020-05-21 16:00] eregon commented on #1795
An idea for this is to use `define_method` + `copy_captured_locals` which is basically a way to embed constants (in this case the Symbols of the Struct attributes) in the generated method.

However that doesn't allow to unroll the loop easily.
One way is to have the `define_method` itself in an `class_eval`, then we can generate code from Strings + reference constants.

[2020-05-21 20:36] Krule commented on #1672
In addition, to reproduce:

[code]

Error:
[code]

[2020-05-22 12:54] paddor opened #2015 "SyntaxError: unexpected tIDENTIFIER with RHS or-equal assignment"
This method runs in MRI, but fails with a `SyntaxError` on TruffleRuby:

[code]

[2020-05-22 13:30] eregon commented on #2015
JRuby 9.2.8.0 doesn't have that issue so we should look what we're missing in the parser or lexer to accept this code.

[2020-05-22 18:01] #2014 closed

[2020-05-22 19:19] eregon commented on #2014
Fixed in 8962ca0aa8cacf73650b9c7774745d1da718a899, thank you for the report!

[2020-05-22 20:23] brauliobo commented on #2014
thank you @eregon for the quick response and action, great work!
btw, how to fetch truffleruby git releases with rvm?

[2020-05-22 20:39] eregon commented on #2014
Do you mean installing TruffleRuby dev/nightly builds?
That's documented in the README: https://github.com/oracle/truffleruby/blob/master/README.md
`rvm install truffleruby-head`

[2020-05-22 20:43] andrykonchin opened #2016 "`Enumerator::Yielder#yield` with multiple arguments issue"
Looks like `Enumerator::Yielder#yield` with multiple arguments doesn't play well with `Enumerator#first` method. `Enumerator#first` returns only the first argument.

TBH I haven't found any related documentation and it isn't covered in the RubySpec tests suit but at least it breaks compatibility with MRI.

Expected behavior
[code]

Actual behavior
[code]

[2020-05-22 21:30] eregon commented on #2016
Thanks for the report!

It would be helpful if you can write a spec for this in https://github.com/ruby/spec if you have time :)
Then I should be able to implement it based on that.

[2020-05-22 22:36] andrykonchin commented on #2016
Done

[2020-05-24 15:35] deepj opened #2017 "duktape tests start hanging up and cause a segfault"
[code]

To reproduce:

[code]

Error:

[code]

[2020-05-27 00:20] ElMassimo commented on #1939
Don't want to open another issue, but testing on a [routing benchmark](https://github.com/jeremyevans/r10k), I found the following results:

![runtime_with_startup](https://user-images.githubusercontent.com/1158253/82962441-9b70e780-9f96-11ea-984a-d00dd6a73330.png)
![runtime](https://user-images.githubusercontent.com/1158253/82962443-9ca21480-9f96-11ea-98dc-5b75000ee417.png)
![memory](https://user

[2020-05-27 14:43] norswap commented on #1982
I was able to reproduce.
Changing the `extconf.rb` to replace
`ENV['ARCH_FLAGS'] = '-arch i386 -arch x86_64' if RUBY_PLATFORM =~ /darwin/`
by
`ENV['ARCH_FLAGS'] = '-arch x86_64' if RUBY_PLATFORM =~ /darwin/`
does let the build progress further, but it now fails with a lof of errors of the type:

[code]

[2020-05-27 16:55] jodosha commented on #1939
@deepj Please remember that when testing against `apps/*-1.ru` you should to `GET /`.

[2020-05-27 17:23] eregon commented on #1939
Thanks for sharing those results, they indeed look unexpectedly slow.
We'll look into it.

[2020-05-28 12:37] norswap commented on #1982
Fixing the above leads to issues with `ranlib`, because it is called directly instead of through `$(RANLIB)`, causes error like this:

[code]

This can be fixed by adding the LLVM toolchain binaries on the path (`<truffleruby_repo>/mxbuild/truffleruby-jvm/jre/languages/llvm/native/bin`).

Full write-up incoming.

[2020-05-28 12:47] norswap commented on #1982
I filed an issue with grpc: https://github.com/grpc/grpc/issues/23069

In the mean time, the gem can be installed manually by doing this:

1. Remove out all lines ending with if RUBY_PLATFORM =~ /darwin/ in `extconf.rb.
 2. Add the path to our LLVM toolchain binaries on the path (`<truffleruby_repo>/mxbuild/truffleruby-jvm/jre/languages/llvm/native/bin`).

Note that grpc currently *does not run* o

[2020-05-28 15:57] rbotafogo opened #2020 "Polyglot exception"
I'm running the latest version of GraalVM and getting the following exception when using Galaaz gKnit. This happens after everything was done and the output of the code is correct. Is there any way to properly shutdown the ThreadManager?

[code]

[2020-05-28 16:47] eregon commented on #2020
Do you create any thread in Ruby or R explicitly?
What the message means is that the first Ruby code evaluated was on some thread, but `Context#close` was called on another thread.
That makes it difficult to support to shutdown the RubyContext, so currently it's a requirement.

I'll look into lifting that requirement but it doesn't seem so easy, quite a few things in Ruby assume the main thread is

[2020-05-28 20:00] rbotafogo commented on #2020
Benoit,

No, I don't create any thread explicitly.  This is part of the Ruby script
that I'm executing:

    # Code to be evaluated by the R script
    code = <<EOF
    eval.polyglot("ruby", "$LOAD_PATH.unshift
%q(/home/rbotafogo/desenv/galaaz/lib)"
    )
    eval.polyglot("ruby", "require %q(gknit)")

    rmarkdown::render("#{options[:input_file]}", output_format =
#{options[:output_f
    ormat]}

[2020-05-29 13:22] eregon commented on #2015
I've updated our parser to be based on JRuby 9.2.8.0, and this parses now since 723b4fa2c86e41a5b9176f43e5bb803f99550dfc.

[2020-05-29 13:22] #2015 closed

[2020-05-29 15:12] paddor commented on #2015
@eregon dankä

[2020-06-02 14:00] fniephaus opened #2023 "[interop] irb 20.1.0 cannot access languages without support for multi threaded access"
#### Example Repro
[code]

/cc @jouhlmann @stefreschke

[2020-06-02 14:43] eregon commented on #2023
Using the `--single-threaded` option should help for this:
[code]

I'm surprised Graal Python does not allow multi threaded access though, cc @timfel.

[2020-06-02 14:47] fniephaus commented on #2023
Of course there's another hidden option! I checked `irb --jvm --polyglot --help`, but couldn't see anything useful.

It claims the same is true for JS and R :(

[2020-06-02 14:54] eregon commented on #2023
BTW, just copying your reproducer worked fine for me, but of course it's fragile as anything trying to create  a thread before `Polyglot.eval()` could make it fail. Maybe something in your `.irbrc` creates a Thread? Could be interesting to see `Thread.list` when you start IRB.

JS is expected to allow only single-threaded access.
Not sure regarding R.

[2020-06-02 15:43] eregon commented on #1564
Fixed in 3fb12623c0c2c39a0f765ce48bee1e920805adc3, thanks for the report.

[2020-06-02 15:43] #1564 closed

[2020-06-02 16:53] fniephaus commented on #2023
[code]

I don't seem to have an `.irbrc` on my system.

[2020-06-02 18:17] #1999 closed

[2020-06-03 09:57] eregon commented on #1999
This is much better since #2006, now I see:
[code]

`Integer#pow` is now 46.1% of the time, vs 92.8% before.

We could go further by having optimized logic for Fixnum-range modulo for `Integer#pow`, by porting MRI's logic for that (int_pow_tmp1/int_pow_tmp2) and cleaning it up, potentially writing some of it in Ruby.

I think for now this is enough, but PRs welcome if someone wants to optimize `In

[2020-06-03 14:27] fniephaus opened #2024 "[interop] TruffleRuby does not allow binding modifications"
# Steps to reproduce
`context.getBindings("ruby").putMember("myGlobalObject", this)` throws an "Unsupported operation Value.putMember(String, Object)`" error.

# Expected behavior
`myGlobalObject` is set in Ruby's globals and consequently accessible through `$myGlobalObject`. Alternatively, Ruby's `main` object could be modified, but I'm not sure this makes sense.

@eregon mentioned that this is s

[2020-06-03 14:32] fniephaus opened #2025 "[interop] No parsing happening in RubyLanguage#parse(ParsingRequest request)"
`RubyLanguage#parse(ParsingRequest request)` does not actually parse Ruby source code. Instead, it returns a `RubyParsingRequestNode` and runs the parser as part of an evaluation request:

https://github.com/oracle/truffleruby/blob/c6b381257de8adb48658f68166c69d7bd82d5bba/src/main/java/org/truffleruby/RubyLanguage.java#L180-L184

This probably requires quite some refactoring, but it's necessary to

[2020-06-04 07:02] palkan opened #2026 "include within refine doesn't work"
Here is an example:

[code]

Reproduction is available here: https://github.com/palkan/ruby-compatibility-examples (see tests here https://github.com/palkan/ruby-compatibility-examples/actions).

Possible related to #1540.

[2020-06-04 08:07] ssnickolay commented on #2026
i'll take a look at it

[2020-06-04 09:32] eregon commented on #2026
Interesting case, I didn't know you could `include` inside `refine`.
There is probably no ruby/spec for it, would be good to add one.
It seems the way it behaves (would be good to check in MRI source code) is not adding anything to ancestors, but rather just taking every method of `A` and adding it in the refinement.

[2020-06-04 11:29] palkan commented on #2026
Looks like this one:
https://github.com/ruby/spec/blob/d282303a2ab863df38fd16d6ba94ca9ab459c7f0/core/module/refine_spec.rb#L256-L270

[2020-06-04 11:45] eregon commented on #2026
Interesting, and it seems we "pass" that spec when running the whole file, but not when running it in isolation:
[code]

Probably best to define anonymous class & module for that example, to avoid any global state.

[2020-06-04 11:49] ssnickolay commented on #2026
Yeah, I'm surprised how tests for refinements are written. I think we should create anonymous class & module for _each_ of examples of this scope.

[2020-06-04 11:54] eregon commented on #2026
Note it's perfectly fine to modify specs directly in this repo (I sync the changes from/back to ruby/spec).
But yeah for bigger refactoring of specs better to be its own PR, or PR to ruby/spec directly.
We'll just need to modify this spec so we can reliably test this failing case.

[2020-06-04 12:01] ssnickolay commented on #2026
I agree, it looks like independent steps:
1) Fix the error in this repo & add small test to prove the fix; Merge
2) Modify `ruby/spec` tests; Merge
3) At the next synchronization, remove the redundant test (from the current repo) from step 1

[2020-06-04 12:04] eregon commented on #2026
Sounds good. My thinking was to just modify this specific spec example in PR 1, and then apply the same change in PR 2 + for other specs. Then there is no step 3.

[2020-06-04 12:07] ssnickolay commented on #2026
Ah, in your case, synchronization will not be needed. Perfect :+1:

[2020-06-04 13:04] eregon commented on #2024
A workaround is to `context.eval("ruby", "$foo = 3")`. I'll try to implement it.

[2020-06-04 13:56] eregon commented on #2024
Current global variables are exposed with their name including `$` in top scopes, so `bindings.getMember("$DEBUG")` works but not `bindings.getMember("DEBUG")`.

So I'll do the same for writing to it, it needs to be
`bindings.putMember("$polyglot_interop_test", 42);`
and not
`bindings.putMember("polyglot_interop_test", 42);`

Maybe we should change that, but then I'm afraid it might look confusing

[2020-06-04 14:08] fniephaus commented on #2024
I see your point...but on the other hand, `bindings.putMember(String, Object)` may not be language-agnostic (you'd need to check if the bindings is Ruby and then append a `$`, so the semantics start leaking). I'm not sure it should be language-agnostic, let's double check with @chumer.

[2020-06-04 14:25] eregon opened #2027 "Printing Python sys with #p fails"
With GraalVM 20.1.0:
[code]

I think we should always use `InteropLibrary#toDisplayString()` for `inspect`, but that means quite a few changes to our tests and logic.
For `to_s`, I'm not sure what's right, probably the existing logic for `inspect` is suitable.

/cc @fniephaus @stefreschke @jouhlmann

[2020-06-04 14:32] chumer commented on #2024
I agree with @fniephaus, I don't think using the member name with some special symbol is a good solution to this problem. If you need to add a $ you can also evaluate a ruby snippet instead.
If the $ is part of the language syntax like periods then I'd not include it. Member names are no place for expressions.

[2020-06-04 14:36] fniephaus commented on #2024
In TruffleSqueak, we have to deal with `:` in message identifiers. Since they almost always cause syntax errors in other languages (e.g. `Array.with:with:(42, 21)`), TruffleSqueak has a logic to covert `_` magically (e.g. `Array.with_with(42, 21)` and `Array.with_with_(42, 21)` work and do the same). That's just another example of hiding language specifics from the general interop API.

[2020-06-04 14:37] eregon commented on #2025
Since currently RubyLanguage has ContextPolicy.EXCLUSIVE, probably we can just getCurrentContext(RubyLanguage.class) in `parse()`.
I'll try that.

[2020-06-04 15:08] eregon commented on #2024
I think what would be more natural, especially in REPL/snippets-like contexts would be to read/write local variables of the "interactive Sources Binding".
That way:
[code]

Which is likely what most users want when accessing language bindings.

It would probably make sense to try to get this to work non-interactive sources too, but that seems quite involved.

[2020-06-04 16:28] #2024 closed

[2020-06-04 17:05] eregon commented on #2024
78d31aa9224dd83f11d34427a4cfcdecc4f7039b allows to write to global variables, with `bindings.putMember("$foo", 42)`.
If you'd like to have access to local variables in the language bindings, let's discuss on a separate issue.

[2020-06-04 17:47] eregon commented on #1449
Quick update: we're looking into this but it takes some time to get official Docker images approved.

Here is a Dockerfile to get started in the meanwhile:
[code]

See https://github.com/oracle/truffleruby/blob/master/tool/docker-configs.yaml and https://github.com/oracle/truffleruby/blob/master/README.md#dependencies for the dependencies needed if you want to use another distribution.

It's also

[2020-06-05 14:50] eregon commented on #2027
After discussing with multiple people about this, the consensus is:
* `to_s` calls `asString` if `isString`, and otherwise `toDisplayString` (new)
* `inspect` shows a Ruby-like inspect String including members, array elements, etc.

[2020-06-05 15:17] eregon commented on #2012
I've been meaning to look this but didn't get the time yet.

I want to reproduce it locally to get a better estimate of how much slower and debug it.

[2020-06-05 16:03] eregon commented on #2027
The specific issue with the `sys` module is solved in 8f5a0809d9afcd39a98cdb8a1432c51115f1e3a0 (the member was listed but not readable).

[2020-06-06 14:33] eregon opened #2028 "Kernel#srand returns nil on the first call"
This causes RSpec 2 to fail:
https://github.com/rspec/rspec-core/blob/f9b0908e51135098ab162c148ed8c72867033dc1/lib/rspec/core/configuration.rb#L202
[code]

Also affects TruffleRuby 20.1.0.

[2020-06-06 16:12] #2025 closed

[2020-06-06 16:56] eregon commented on #2025
This should be fixed with afc0f55.

Methods are translated lazily to Truffle nodes, but LazyRubyNode implement `materializeInstrumentableNodes()` which should help: https://github.com/oracle/truffleruby/blob/master/src/main/java/org/truffleruby/language/LazyRubyNode.java#L56

[2020-06-06 17:04] eregon commented on #2027
97c724fe38075a6419646b1bd00a97cf9f32b474 reworked how `to_s` and `inspect` work on foreign objects as described above.

For the case of the `sys` module from Python:
[code]
to_s:
[code]

inspect:

#<Python module:0x14e93c46 copyright="Copyright (c) Oracle and/or its affiliates. Licensed under the Universal Permissive License v 1.0 as shown at http://oss.oracle.com/licenses/upl.", stdin=[...], path

[2020-06-06 17:04] #2027 closed

[2020-06-08 03:58] deepj commented on #1900
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 03:59] deepj commented on #2017
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 03:59] deepj commented on #2001
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 03:59] deepj commented on #2004
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:00] deepj commented on #1993
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:00] deepj commented on #1982
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:00] deepj commented on #1974
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:05] deepj commented on #1972
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:05] deepj commented on #1966
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:10] deepj commented on #1952
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:11] deepj commented on #1947
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:11] deepj commented on #1932
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 04:11] deepj commented on #1931
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:05] deepj commented on #1929
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:05] deepj commented on #1895
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:06] deepj commented on #1672
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:06] deepj commented on #1649
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:06] deepj commented on #1624
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:10] deepj commented on #1522
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:10] deepj commented on #1525
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:21] deepj commented on #1850
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:21] deepj commented on #1926
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:34] deepj commented on #1827
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:34] deepj commented on #1515
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:34] deepj commented on #1930
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 05:38] deepj commented on #1482
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 06:16] deepj commented on #1919
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 06:16] deepj commented on #1724
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 06:17] deepj commented on #1717
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 06:27] deepj commented on #1670
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 07:00] deepj commented on #1669
Closed due to I'm not welcome anymore in Ruby community

[2020-06-08 12:30] eregon commented on #2028
Fixed in a7435c5

[2020-06-08 12:30] #2028 closed

[2020-06-09 01:35] SamSaffron opened #2029 "mini_racer: `rb_context_init_unsafe': External function cannot be found."
#1827 got closed reopening here

[code]

[code]

[2020-06-09 09:25] eregon commented on #1900
@deepj I believe you are welcome in the Ruby community. You are certainly welcome here on the TruffleRuby tracker. We value highly your reported issues. I would like to reopen them as they are still valid issues, would that be OK with you?

[2020-06-09 09:27] eregon commented on #2029
Thanks. I've asked @deepj if it's OK if I reopen his issues in https://github.com/oracle/truffleruby/issues/1900.

[2020-06-09 16:23] eregon opened #2030 "Support accessing variables of the interactive Sources via Context#getBindings()"
Relates to #2024 and #1838

We'd like to support this:
[code]

So that `context.getBindings(anyLanguage).get/putMember("foo")` generally works.

That's probably reasonable to support for interactive Sources.
We should look at how to handle the automatic printing of values with interactive Sources as that's probably unwanted in most cases, e.g., for snippets in a polyglot notebook.

If we want to d

[2020-06-09 16:24] eregon commented on #2030
Once we implement this we'll probably want to no longer expose Ruby's global variables such as `$my_global_variable` in the language bindings, as local variables should be used instead, and global variables are considered kind of deprecated.

[2020-06-09 20:24] rbotafogo opened #2031 "Help with jar usage"
Hello,

I'm trying to call Java from Ruby.  As a test I crated an empty Java class:

    Rserver.java:

    package rb.galaaz;
    public class Rserver {
    }

compiled it and generated a jar file called 'helper.jar'.

Then I try to run the following ruby script:

    rserver.rb:

    Java.import 'rb.galaaz.Rserver'
    Rserver.new()

issuing the following command:

ruby --jvm --polyglot -cp ../t

[2020-06-09 20:57] eregon commented on #2031
I think the issue here is you need to use `--vm.classpath=../target/helper.jar`, and not just `-cp`.

[2020-06-09 22:41] rbotafogo commented on #2031
Thanks... it works!

Em ter., 9 de jun. de 2020 às 17:57, Benoit Daloze <notifications@github.com>
escreveu:

--
Rodrigo Botafogo

[2020-06-10 00:48] RJSent opened #2032 "JSON Standard Library, requiring ext.rb causes a load error"
Tested on Manjaro Linux, TruffleRuby 20.1.0 installed via Rbenv

I was using a gem that had the Multi_Json gem as a dependency. Multi_Json requires 'json/ext'  in their json_gem.rb file, which made me first notice this.

[code]

A similar load error occurs if I comment out `require 'json/ext/parser'`, continue to line 8, and attempt to `require 'json/ext/generator'`.

[2020-06-10 09:21] #2031 closed

[2020-06-10 09:31] eregon commented on #2032
We currently ship json/pure in TruffleRuby (but the json C extension can also be installed as a gem if desired).
Is there an actual issue in practice?

This works fine for me:
[code]

Using `-d` as in `ruby -d -e 'require "multi_json"; p MultiJson.load(%{{"abc":"def"}})'` will print many exceptions (which are caught, notably [here](https://github.com/intridea/multi_json/blob/66864817eb2fae85e9a93d

[2020-06-10 09:40] eregon commented on #2032
I found an issue, if `json` is required first:
[code]

Due to MultiJson [assuming](https://github.com/intridea/multi_json/blob/66864817eb2fae85e9a93d8823877d75851ad666/lib/multi_json.rb#L50) that `defined?(::JSON::JSON_LOADED)` means the C extension available, which is not the case, since `json/pure` also defines that constant.

Is that the issue you have?

[2020-06-12 15:40] andrewsheelan opened #2034 "Errno::ESPIPE Illegal seek -- Docker container errrors"
Am trying to truffleruby convert - my dockerized rails enviroment

Here's my new Dockerfile with verbose enabled:
### Dockerfile
[code]

Here's the error am receiving:
[code]

[2020-06-13 16:09] ssnickolay commented on #2034
Hi @andrewsheelan! Can you try to build truffleruby and your rails app on top of Debian image? Also, please don't use multi-stage builds (until we find out the cause of the original issue) in order to avoid problems with data reusing.

Dockerfile:

[code]

[2020-06-14 02:37] andrewsheelan commented on #2034
@ssnickolay still seeing the same error when I do a bundle install

[2020-06-14 07:57] ssnickolay commented on #2034
@andrewsheelan is this error happen in the beginning of bundle execution or with particular gem installation?

[2020-06-14 14:56] andrewsheelan commented on #2034
@ssnickolay this happens pretty randomly while fetching gem metadata and looking up gems so yeah in the beginning of bundle execution. Individual gem installations works fine.
Also without verbose its hard to trace, it just kills the build without showing the reason, almost like it's running out of resources or something.

[2020-06-14 17:05] ssnickolay commented on #2034
@andrewsheelan can you share your `Gemfile` and `Gemfile.lock` please? I'll try myself

[2020-06-14 22:37] andrewsheelan commented on #2034
### Gemfile

[code]

### Gemfile.lock

[code]

[2020-06-14 22:37] andrewsheelan commented on #2034
@ssnickolay attached.

[2020-06-15 09:48] eregon commented on #2034
That might be due to #1895 (fixed on master).

[2020-06-15 12:10] ssnickolay commented on #2034
I guess the main problem is https://github.com/oracle/truffleruby/issues/62

By steps (with my `Drockerfile`+ compose and yours `Gemfile`+lock):
1. `$ docker-compose build`
2. `$ docker-compose run --rm runner`
3. `$ export BUNDLE_PATH=/graalvm/languages/ruby/lib/gems` // or delete the env from compose
4. `# create Gemfile & Gemfile.lock`
5. `$ bundle install`
=> 10+ gem successfully installed and

[2020-06-15 12:36] eregon commented on #2034
Nokogiri should work fine, I don't think it's the issue here.

There is a lseek() call here:
https://github.com/oracle/truffleruby/blob/17701a09fca2fa1641353582d8c7be8216345b8a/src/main/ruby/truffleruby/core/io.rb#L251
which seems to cause that `Illegal seek (Errno::ESPIPE)`.

I'll try to reproduce. I tried outside Docker once but couldn't reproduce.

[2020-06-15 17:08] rbotafogo opened #2035 "Multi-thread access to fastR"
Hello,

I have the following line in a file in ruby:

    # g2_pry.rb

    Polyglot.eval("R", "print(c(1, 2, 3))")

Running the following command:

    # ruby --polyglot --jvm -S irb -r ./g2_pry.rb

prints to the console: [1] 1 2 3
and starts an irb section, as expected.

However if I do:

    # ruby --polyglot --jvm -S pry -r ./g2_pry.rb

I get the error:

[code]

Is there any way to fix this and

[2020-06-15 17:11] eregon commented on #2034
I've looked at this and it's a bit puzzling.
We only do lseek() if the buffer is `write_synced? && !empty?`, which seems impossible for an IO to which we only write like STDOUT.
If both reading and writing are mixed on the same IO, then it seems possible to happen.
Or maybe it's some kind of concurrency issue.

For now I've cleaned up code related to that to help make this error clearer.

[2020-06-15 17:18] eregon commented on #2035
Thanks for the report.
It seems FastR doesn't support multi-threaded access currently.

Maybe we could detect `--polyglot` is given, and in such a case not use a thread for `Ruby-reference-processor`, which runs finalizers in Ruby.

Currently, there is no solution to actually use multiple Ruby threads and interop with a language which doesn't support multi-threaded access, although we're looking i

[2020-06-15 17:32] rbotafogo commented on #2035
Pry behaves fine with --single-threaded.

If possible, I would like to create Ruby Threads explicitly.

Also, I'm not sure what would happen if trying to run RoR calling fastR
through Galaaz.  I don't want to run RoR single threaded because of fastR.
It would be great if I could protect all calls to fastR in a Mutex and have
the rest multi-threaded.

Em seg., 15 de jun. de 2020 às 14:18, Benoit Da

[2020-06-15 17:41] andrewsheelan commented on #2034
@eregon when this is ready I can pull the latest and re-run the test. Thanks.

[2020-06-16 00:59] nirvdrum commented on #1625
I'm looking at this again. Here are updated numbers I'm seeing on a Ryzen 3700X\* with Ubuntu 20.04:

| Runtime | Time |
|-------------|-------------|
| MRI 2.6.6 | 5.7s |
| TruffleRuby CE Native - 20.2.0-dev-17701a09 | 2m 45.7s |
| TruffleRuby CE JVM - v20.2.0-dev-17701a09 | 3m 45.2s |

MRI is clearly faster still, but the execution time on TruffleRuby has improved markedly over the course of the

[2020-06-16 12:10] eregon commented on #2034
762197b491d3d9e82d9ede4adad23d88eb7b2d11 is the cleanup.
Feel free to retry with that and use truffleruby-head:
https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md#latest-nightly-build

I'd like to get #1414 fixed too so we get a more useful backtrace here, but not sure when that will be done.

[2020-06-16 15:11] eregon commented on #2035
Relates to #1538, which was suggesting a R context per Ruby thread.

Supporting multiple Ruby threads + interop in general,
whether it's with multiple contexts, a global lock when doing interop with single-threaded languages, or just checking single-threaded languages are not accessed concurrently,
is tracked internally as GR-6371.

[2020-06-16 22:14] andrewsheelan commented on #2034
@eregon Pulled the latest and was able to build it. Thanks.
Here's the dockerfile I used.

[code]

Am trying to do some performance comparisons. I did face issues when installing stackprof gem. Will do some more testing and keep you guys posted. For now we're good.

Also thanks to @ssnickolay . I'll use your dockerfile as well once we have the official release.

[2020-06-17 01:56] rbotafogo commented on #2035
I don't think that an R context per Ruby thread is a good solution.  I
think that a global lock when doing interop should be better.

Em ter., 16 de jun. de 2020 às 12:11, Benoit Daloze <
notifications@github.com> escreveu:

--
Rodrigo Botafogo

[2020-06-17 07:50] petenorth commented on #1625
@nirvdrum If you are looking at performance can you try with `--experimental-options --engine.Mode=latency --engine.LanguageAgnosticInlining=false` . It would be interesting to have independent check on using these flags.

[2020-06-17 08:45] eregon commented on #2034
Thanks for checking. I'd like to close this issue since the bug seems resolved now.

[2020-06-17 09:10] eregon commented on #2035
With 3ba925112206c78496b54c284449ac7d501c9110 the "Ruby-reference-processor" Thread will no longer be created when using other languages (such as when using `--polyglot`). So you should be able to use pry + Polyglot.eval() without extra flags. It will still not allow to create Ruby Threads, but at least it shouldn't to create Ruby Threads without an explicit `Thread.new {}` in Ruby code.

Should w

[2020-06-17 12:49] nirvdrum commented on #1625
@petenorth

Here's what I measured on truffleruby-native 20.2.0-dev-17701a09 (same as [my comment from two days ago](https://github.com/oracle/truffleruby/issues/1625#issuecomment-644467845)):

| Options | Time|
|------------|--------|
| --experimental-options --engine.LanguageAgnosticInlining=false | 2m 1.8s |
| --experimental-options --engine.Mode=latency | 3m 37.1s |
| --experimental-options --

[2020-06-17 14:26] eregon commented on #1625
It's surprising that `--engine.Mode=latency` with the default inlining isn't faster.
It looks like the new default inlining doesn't respect `--engine.Mode=latency` and still inlines.

[2020-06-17 14:34] eregon commented on #2012
It seems the new inlining doesn't respect `--engine.Mode=latency` so that's probably a good part of it:
https://github.com/oracle/truffleruby/issues/1625#issuecomment-645407618

[2020-06-17 14:54] rbotafogo commented on #2035
Not sure I understand what happens if you create a new thread explicitly.
Will it raise an exception?

If you run RoR or any other multithreaded program, will it be
single-threaded? This is a huge impact on performance.

I might be saying something stupid, but wouldn't it be possible that if you
had multiple threads and they wanted to access a single threaded language,
the single threaded language

[2020-06-17 16:54] eregon commented on #2035
I think I wasn't clear in the previous comment, sorry about that.
3ba925112206c78496b54c284449ac7d501c9110 avoids the error shown above with pry, by not creating the finalizer Thread.
Interop with R is not yet changed, it still raises an error when creating a Ruby Thread (but at least it shouldn't be from that "internal" finalizer Thread).

Yes, we're looking into ways to indeed lock around calls

[2020-06-17 17:07] rbotafogo commented on #2035
OK... sounds good.  Thanks!  So, yes, I think you can close #1538.

Em qua., 17 de jun. de 2020 às 13:54, Benoit Daloze <
notifications@github.com> escreveu:

--
Rodrigo Botafogo

[2020-06-18 09:48] eregon commented on #1538
Closing in favor of #2035.

[2020-06-18 09:48] #1538 closed

[2020-06-18 10:56] ssnickolay opened #2036 "Lookup super in ancestors of refinement module"
[code]

To be honest, I think all the results are wrong. We have [the test](https://github.com/ruby/spec/blob/master/core/module/refine_spec.rb#L630-L659) and from its description follows that we should have `In The Super: foo from C` as correct result.
Do I miss something?

[2020-06-19 15:00] eregon commented on #1900
@deepj You are welcome on the TruffleRuby tracker.
Your bugs are highly valued and they are valid, so I will reopen them.
That way we can track them again, avoid duplicate bug reports, etc.
Thank you for all your issue reports so far. We hope to see you discuss here soon again.

[2020-06-19 15:04] #1895 closed

[2020-06-19 15:06] eregon commented on #2029
I reopened #1827.

[2020-06-19 15:06] #2029 closed

[2020-06-21 18:12] fniephaus opened #2037 "[interop] Ruby strings show odd behavior from JavaScript"
The interface of Ruby strings is not automatically changed to that of JavaScript when passed to JS. The reason for this is probably that Ruby strings are mutable. Python strings for example aren't, and behave as expected. Nonetheless, I was very surprised to see `DynamicObjectBasic` shining through:

#### Behavior on GraalVM CE 20.1.0
[code]

#### Behavior on GraalVM CE 19.3.0
[code]

[2020-06-22 09:48] eregon commented on #2037
I would guess that's because both JS and Python use java.lang.String (but maybe not always for Python?), while Ruby must use a byte[]-based representation of Strings for semantics.
There is ongoing work by @djoooooe on TruffleString which might help solve this.

Anyway, this looks like an issue in JavaScript to me, objects which are InteropLibrary#isString() should be treated just like that langua

[2020-06-22 10:14] eregon commented on #2037
@fniephaus Would you mind re-filing the issue on https://github.com/graalvm/graaljs? I think that would make it easier to track. Unfortunately I cannot just transfer the issue as it's different GitHub organizations.

[2020-06-22 10:31] fniephaus commented on #2037
Done!

[2020-06-22 10:31] #2037 closed

[2020-06-22 18:36] ssnickolay commented on #2036
Waiting for clarification: https://bugs.ruby-lang.org/issues/16977

[2020-06-23 09:29] eregon commented on #2032
@RJSent was this solved in your case? Otherwise I think we should leave the issue open, and probably do a PR to multijson or see what can be done on TruffleRuby's side.

[2020-06-23 13:30] ssnickolay commented on #1540
I've tested and this issue fixed in https://github.com/oracle/truffleruby/pull/2033 and can be closed after merging. //cc @eregon

[2020-06-23 14:10] RJSent commented on #2032
@eregon Sorry, it wasn't solved yet. I'll reopen the issue.

[2020-06-23 16:22] #1540 closed

[2020-06-23 16:23] eregon commented on #2026
I believe #2033 fixes this, thanks @ssnickolay!

[2020-06-23 16:23] #2026 closed

[2020-06-25 12:54] eregon commented on #2012
@petenorth `--engine.Mode=latency` is now respected by the new inlining: 2d854d124b187e6c85c9a47b2ffbfe3f50610c4b

Could you retry?

[2020-06-25 14:02] eregon opened #2038 "foreign.to_f and foreign.to_i should be supported"
But current they are not.
These are used notably in PyCall.rb:
https://github.com/mrkn/pycall.rb/blob/9a3d35024300abb9acc9c16bf7cfb1a3036b5dd2/lib/pycall/pyobject_wrapper.rb#L162-L168
They can probably be implemented simply using `InteropLibrary.asDouble` and `asLong`.

cc @fniephaus

[2020-06-27 08:37] petenorth commented on #2012
I seem to be having issues  in the `bundle install` now, it is hanging with this output

    Fetching https://github.com/microsoft/ApplicationInsights-Ruby.git
    Fetching https://github.com/DFE-Digital/govuk_elements_form_builder.git
    Fetching gem metadata from https://rubygems.org/.

Has only started recently (last couple days) and is also causing the github actions to hang.

[2020-06-27 08:41] petenorth commented on #2012
Tried it with `--verbose` and got

[code]

[2020-06-27 09:22] petenorth commented on #2012
Have reproduced it using the setup-ruby github action (so not within a Docker build, but guess it might still be running within a Docker container)

https://github.com/petenorth/schools-experience/blob/master/.github/workflows/bundle-install.yml

the actual run is

https://github.com/petenorth/schools-experience/runs/813730149?check_suite_focus=true

[2020-06-29 15:02] eregon commented on #2032
Issue filed: https://github.com/intridea/multi_json/issues/196

[2020-06-30 11:58] eregon commented on #2032
PR to fix this in `multi_json`: https://github.com/intridea/multi_json/pull/197

[2020-06-30 12:07] eregon commented on #2032
I'm unsure if we can address this issue on TruffleRuby's side.
`json/ext.rb` exists in the `json_pure` gem too, and removing it would not help for this case.

I think the only way to fix it on TruffleRuby's side would be to have a patch for `multi_json.rb` to apply that change by redefining `MultiJSON.default_adapter` on older versions, but I am unsure if it's worth it.
Let's see if the PR is merg

[2020-07-01 07:14] deivid-rodriguez opened #2040 "Rubygems CI broke against truffleruby-head a few days ago"
I haven't looked at it in detail, but I thought I would at least report it.

Failures can be checked here: https://github.com/rubygems/rubygems/runs/824681432?check_suite_focus=true.

[2020-07-01 09:22] eregon commented on #2040
Thank you for the report!

I wonder if it's some kind of transient failure, or always reproducible.
I guess the best might be to wait tomorrow to get a new run.

The warning:
[code]

seems to indicate that `setup` failed.

[2020-07-01 09:38] deivid-rodriguez commented on #2040
It seems reproducible all the time since it started blocking PRs so I moved it to the daily CI.

[2020-07-01 09:55] deivid-rodriguez commented on #2040
Actually, from the failures it looks like a recent PR broke it:

[code]

In particular https://github.com/rubygems/rubygems/pull/3763.

It's my bad that this got it unnoticed since I thought the failures were unrelated, that's why I moved the build to daily, but they were indeed related.

[2020-07-01 09:57] deivid-rodriguez commented on #2040
Is there already a truffleruby release that passes rubygems tests, by the way? (Other than this issue, I mean)

[2020-07-01 10:15] eregon commented on #2040
Locally, just trying
[code]
works though.

Does RubyGems use another version of openssl than the one in stdlib?

I think there is no release yet with the needed fixes.
20.1 was on May 19 which is about when the https://github.com/rubygems/rubygems/pull/2797 PR was merged but the feature freeze happened long before that.
20.2 is planned for August 18, so that should work: https://www.graalvm.org/do

[2020-07-01 10:19] deivid-rodriguez commented on #2040
That was the first one, but I want to treat truffleruby just like we treat other implementations. We enforce CI on PRs for fixed releases, and test daily against heads (getting notified about failures).

[2020-07-01 10:24] eregon commented on #2040
I'll try to reproduce locally.
But I think in the meantime we should keep testing with `truffleruby-head`, since it seems it caught a breaking change and OTOH did not prove significantly less stable than a released version.

[2020-07-01 10:31] deivid-rodriguez commented on #2040
By "it caught a breaking change" you mean this is not an issue in truffleruby, but a problem with rubygems/rubygems#3763?

[2020-07-01 10:39] eregon commented on #2040
It seems the PR added code that calls `.new` on a OpenSSL::Digest *instance*:
[code]

Also:
[code]

[2020-07-01 10:46] eregon commented on #2040
It looks TruffleRuby doesn't define `Digest::Instance#new` (not OpenSSL Digest):
https://docs.ruby-lang.org/en/2.6.0/Digest/Instance.html#method-i-new
Should be easy to fix.

[2020-07-01 10:53] eregon commented on #2040
I meant in general that PR broke the CI (whether the issue is in RubyGems or TruffleRuby code), and unfortunately we didn't detect that. So we should add back truffleruby-head as soon as this is fixed, otherwise we risk more accidental regressions.

[2020-07-01 10:53] deivid-rodriguez commented on #2040
We did detect that, right after it happened!

[2020-07-01 10:55] deivid-rodriguez commented on #2040
The idea is that we want to help `truffleruby-head` by detecting issues, and that's what the daily build does. And it did a good job here. So I think we are fine. I found the hang installing dependencies, by the way: https://github.com/rubygems/rubygems/runs/816434717?check_suite_focus=true.

[2020-07-01 14:08] eregon commented on #2040
I have a fix for this (adding `Digest::Instance#new`) running the TruffleRuby CI, should be merged today or tomorrow, and will then be reflected in truffleruby-head.

Could we add back truffleruby-head in the normal RubyGems CI after that ("PR CI"), not just daily?
Once there is a TruffleRuby release passing RubyGems' CI we can have either truffleruby or truffleruby-head in the PR CI.

I feel that

[2020-07-01 14:19] deivid-rodriguez commented on #2040
Thanks for the fix!

Regarding your request, I understand your motivations but `truffleruby-head` is a development version after all. I don't think it's reasonable to ask that we block every PR on having green CI on a development version of any ruby.

I'm happy to monitor our daily CIs and fix or report any issues that come up, as I've been doing for a while now. I think this should work just fine

[2020-07-01 14:31] eregon commented on #2040
The issue is we don't test yet against a TruffleRuby release in RubyGems' CI, because there isn't a release yet with the needed fixes.

Another example is we would need to `git bisect` to find the PR if it's only daily, while it's very useful to be able to know which PR caused it. Also just seeing the failure the PR author might find a better or more portable way that would work. We're giving up o

[2020-07-02 07:41] deivid-rodriguez commented on #2040
I hear you but I disagree. If you think `truffleruby-head` is ready, and you don't want people to consider `truffleruby-head` as unstable, in my opinion you should tag it. Otherwise it seems perfectly fair to me to consider `truffleruby-head` as what it is: a development snapshot.

[2020-07-02 10:04] eregon commented on #2040
Maybe we could automatically keep one version per week (in order to avoid keeping too many versions), and support to reference one of these with something like `truffleruby-DATE`. Would you consider that stable enough to add in RubyGems CI?
It would not change as it's a fixed version of TruffleRuby, so no risk of regression in TruffleRuby, but yet would enable to update easily (and more frequently

[2020-07-02 12:50] deivid-rodriguez commented on #2040
Sure.

It seems overkill to me, specially given that we'll stop using these tags once 20.2 is released, but my main concern is not testing PRs against moving targets, and your proposal addresses that, so I if it makes you feel more confident I won't block it :+1:.

[2020-07-02 13:01] eregon opened #2041 "Transient deadlock while running Puma tests"
Noticed by @chrisseaton.
Full stracktraces at https://gist.github.com/chrisseaton/a7d96d389cd14a536665b4560c8447b0

[2020-07-02 13:16] eregon commented on #2041
With a small script to narrow to the relevant output we see:
https://gist.github.com/eregon/697943c555270b1d26e0efc1e9d2d711

[code]

So the 4 threads are trying to acquire the monitor of FinalizationService.
All of them also have acquired a monitor on some Pointer instance, but on at least some on different instances.

So probably one of the threads which reached the safepoint is still holding th

[2020-07-02 13:19] eregon commented on #2041
TODOs for this issue:
* Avoid holding the monitor when calling processReferenceQueue()
* Print stacktraces only once or twice on `SEVERE: waited N seconds in the SafepointManager`, it's too much output.
* Print stacktraces also of threads which arrive, because that might reveal which locks they hold.

[2020-07-02 13:45] eregon commented on #2041
@bjfish got a similar issue during `bundle install --jobs 4`, where a single thread is stuck waiting for the FinalizationService monitor:
[code]

[2020-07-02 13:53] eregon commented on #2040
The fix is merged in dc3a61a70ac584f39e72ada1879dc1fc144211c0 so the next daily build should be green.

[2020-07-02 15:10] eregon commented on #2041
From the `bundle install` we have a stacktrace for all Java threads (with `-H:+AllowVMInspection` + SIGQUIT) and that shows the problematic thread:
[code]

As guessed above, it calls `drainReferenceQueue()` which is unexpected.
That's caused by getPublicLanguages() including LLVM on SVM for some reason.

[2020-07-02 15:12] chrisseaton commented on #2041
Is that stacktrace format new? That looks incredibly useful!

[2020-07-02 15:14] eregon commented on #2041
It's not new, it's the stacktrace printed by SVM when using `-H:+AllowVMInspection` (at build time, non-default) + SIGQUIT to trigger it (like on JVM).

[2020-07-02 15:16] eregon commented on #2041
`-H:+AllowVMInspection` also reserves SIGUSR1 and SIGUSR2 (https://github.com/oracle/graal/issues/744) so that would could conflict with Ruby signal handlers, so maybe we should have an extra SVM option and have SIGQUIT on by default on SVM?

[2020-07-03 09:19] deivid-rodriguez commented on #2040
Confirmed that our daily build is back to green. Thanks so much for the fix! :purple_heart:

[2020-07-03 09:19] #2040 closed

[2020-07-03 10:27] eregon commented on #2012
@petenorth Somehow I missed the notification about your replies.
The Bundler issue is probably related to #2041 and #2034.

[2020-07-03 13:23] eregon commented on #2041
dc8d67b2b68137dd2f77ab1ac80ac794e61a9f27 is a fix/workaround to detect that the RubyLauncher is not passed `--polyglot` correctly on native.
Upcoming fix to address the 3 points mentioned earlier.

[2020-07-03 17:59] eregon commented on #2041
b02b82c683bbd6a5a8dd0d2cc36bbbf8cec42ca0 should fix this (and provides better output if another deadlock happens with the SafepointManager).

[2020-07-03 17:59] #2041 closed

[2020-07-04 11:22] petenorth commented on #2012
@eregon Everything looks good with the most recent run

https://github.com/petenorth/schools-experience/actions/runs/157247118

The timings are probably as fast as they have ever been (obvs the underlying github infrastructure can change) .

The language agnostic inlining flag now seems to respect the engine flag value of latency. Also, there is no significant difference in run duration in the rsp

[2020-07-04 11:39] eregon commented on #2034
This seems to happen again: https://github.com/oracle/truffleruby/issues/2012#issuecomment-650524477

[2020-07-04 11:43] eregon commented on #2012
That's great to hear and it looks good, thanks for checking the results.
Thank you again for reporting this issue, and sorry I didn't reply sooner, `latency` Mode not working with the new inlining was indeed a serious issue.

The `Illegal seek (Errno::ESPIPE)` still seems a bug (maybe hapenning only in Docker?), I reopened #2034 to track that.

[2020-07-04 11:43] #2012 closed

[2020-07-05 12:28] mc2dx commented on #2001
Hi @deepj,
I hope that you are well and I am curious if you solved the issue? I reproduced your issue and I have encountered the same problem. I debugged it a little bit. I am new for `truffle-ruby` but I was very excited for me to check your issue and get deeper inside `truffle ruby` and `numo-narray` code.

_ruby version_
[code]
_irb console_
[code]
Let's think about this part https://github.com

[2020-07-06 16:58] eregon commented on #1414
On MRI master:
[code]

So I think we're ready to use a similar format now, and always show core library files like:
[code]

[2020-07-07 11:38] mc2dx opened #2044 "Problem with installing stackprof with native extensions"
Hi there!

I am playing a lot with truffle-ruby last time and during the installation of the gem, I have encountered a problem.

I have in the Gemfile

[code]

[code]
I use the docker container with this [Dockerfile](https://github.com/mc2dx/truffle-rails-starter/blob/master/Dockerfile). From [stackprof#sampling](https://github.com/tmm1/stackprof#sampling) about `rb_postponed_job_register_one`
[co

[2020-07-07 13:13] eregon commented on #2044
Related: #1937

First, it's worth noting TruffleRuby already has a builtin CPU sampler via `--cpusampler`.
See https://github.com/oracle/graal/blob/master/truffle/docs/Profiling.md
and https://github.com/oracle/truffleruby/blob/master/doc/user/tools.md#cpu-sampler
Is there a specific reason you want to use `stackprof` or just want to use some profiler (and anything missing in CPUSampler)?

I'm not

[2020-07-09 11:33] eregon opened #2045 "CI failures for async-container"
See https://github.com/socketry/async-container/pull/12 and
https://github.com/socketry/async-container/runs/852715495

On issue is:
[code]
seems to be caused by TruffleRuby passing an argument to [the exception constructor](https://github.com/socketry/async-container/blob/643d889af4b027a0189b8fb11579b8ade467bd58/lib/async/container/error.rb#L34) for Thread#raise (Kernel#raise is fine).
The caller

[2020-07-09 13:56] eregon commented on #1414
Fixed by 68754c65bfaed1f55fd854ae8bccb53da26a0684

[2020-07-09 13:56] #1414 closed

[2020-07-09 23:24] ioquatix commented on #2045
Thanks for taking a look at this.

[2020-07-10 09:35] eregon commented on #2032
The fix is now merged in multi_json and released as [multi_json 0.15.0](https://github.com/intridea/multi_json/pull/197#issuecomment-656483113).
Using multi_json 0.15.0 the commands above work.

[2020-07-10 09:35] #2032 closed

[2020-07-10 09:49] deivid-rodriguez opened #2046 "Rubygems CI broke yesterday against `truffleruby-head`"
Hi!

We got a notification today informing us that our daily CI against `truffleruby-head` failed yesterday. This is the CI log: https://github.com/rubygems/rubygems/runs/856154343.

Thanks!

[2020-07-10 10:33] eregon commented on #2045
The `Thread#raise` issue is fixed in d8f759e6dd3ccb17b63becbc133bc5f81eca316d.

@ioquatix Could you switch to `truffleruby-head` in CI to see if it's fixed now and whether there are other issues?

[2020-07-10 10:35] eregon commented on #2041
@chrisseaton I enabled SIGQUIT to print the stacktraces of all threads on Native Image by default for TruffleRuby Native, and improved the output to include thread names, etc: 5bd684fc375aa5b61ac22dd5690fa4d02a20ce28
It's also now documented: https://github.com/oracle/truffleruby/blob/5bd684fc375aa5b61ac22dd5690fa4d02a20ce28/doc/user/debugging.md

[2020-07-10 11:13] ioquatix commented on #2045
Made a PR here: https://github.com/socketry/async-container/pull/19

[2020-07-10 13:31] eregon commented on #2046
Thanks for reporting!
The issue is:
[code]

(caused by 68754c65bfaed1f55fd854ae8bccb53da26a0684, fixing #1414).

Maybe we need to adjust the uplevel to be +1 somewhere.

[2020-07-10 20:02] eregon commented on #2046
This needs both a fix in TruffleRuby (coming soon) and in RubyGems: https://github.com/rubygems/rubygems/pull/3810

[2020-07-11 02:16] #2036 closed

[2020-07-11 10:46] eregon commented on #2046
5cd679cbcac6501313ca2dc9c9d26d0b884efb7c was merged, so we only need to merge the RubyGems PR now.

[2020-07-11 11:03] #2046 closed

[2020-07-13 11:40] palkan opened #2047 ""Rescuing" failed `require` doesn't work as expected"
## Context

In Ruby Next, I want to be able to "catch" syntax errors occurred while requiring a file to transpile this file on-the-fly and evaluate (`ruby -ruby-next some_ruby_file_with_edge_syntax.rb`, see [uby-next.rb](https://github.com/ruby-next/ruby-next/blob/master/lib/uby-next.rb)).

## Problem

To make this work I use `at_exit` hook and check whether `$!` is a SyntaxError, try to re-load t

[2020-07-13 12:00] chrisseaton commented on #2047
I don't understand this bit - if you can successfully transpile and reload... you then exit? Why don't you then keep going with the transpiled code?

[2020-07-13 12:06] eregon commented on #2047
The `exit!(0)` is a way to suppress the original SyntaxException, which would otherwise be shown.

[2020-07-13 12:08] chrisseaton commented on #2047
But the `exit!(0)` doesn't actually cause the process to exit? I thought after transpiling you'd want to continue?

[2020-07-13 12:25] eregon commented on #2047
There is an `eval()` and then it exits: https://github.com/ruby-next/ruby-next/blob/d3d075fa60b3da82d1f949ca4ad5ec2ca5b2ae96/lib/uby-next.rb#L66-L67

[2020-07-13 13:03] ssnickolay commented on #2047
I've tested locally and didn't see the error (note: the TR build includes not released fix for `refine_include_super.rb`):

<img width="1269" alt="Screenshot 2020-07-13 at 16 00 00" src="https://user-images.githubusercontent.com/2331796/87307270-f26c5500-c521-11ea-8cb3-976128dfedc9.png">

p.s. for JRuby I see described behaviour

[code]

[2020-07-13 13:48] eregon commented on #2047
@ssnickolay https://github.com/palkan/ruby-compatibility-examples/blob/master/run-all.rb assumes you're running with the `ruby` to test in PATH.

I can reproduce on master, I'm working on a fix.

[2020-07-13 14:05] ssnickolay commented on #2047
Yeah, I didn't read carefully `run-all.rb`

[2020-07-14 09:32] eregon commented on #2047
Fixed in e9dce4a8d216454de7273fb3780a17c18a811574, thanks for the report and reproducer!

[2020-07-15 22:13] #2038 closed

[2020-07-16 09:14] eregon commented on #2038
Implemented in 5c80912.

[2020-07-17 14:40] eregon commented on #2023
This should work fine now, because the `Ruby-reference-processor` is not created in polyglot scenarios (when `--polyglot` is passed on the command line, see https://github.com/oracle/truffleruby/issues/2035#issuecomment-645254638 for details).
Creating an extra Ruby Thread will still fail of course.

[code]
can be useful to find what creates an extra Ruby Thread if it's not obvious.

I think Graal

[2020-07-17 14:45] bjfish commented on #1585
Ripper is now implemented at commit: https://github.com/oracle/truffleruby/commit/7bdeca8546ba547af205ba41e7fbe4877c8d9ef7.

[2020-07-17 14:45] #1585 closed

[2020-07-17 14:48] bjfish commented on #1747
@k0kubun `Ripper` has now been implemented and `Ripper.lex` is supported. Please let us know if you have any issues.

[2020-07-17 14:48] #1747 closed

[2020-07-17 15:09] chrisseaton commented on #1585
Thanks @bjfish! Could you talk about how you did this in the end? Would make a great blog post to say that we finally implement this.

[2020-07-17 15:24] bjfish commented on #1585
@chrisseaton This was implemented using the C extension. First step was getting this to compile. Then, running new specs and MRI tests while fixing any issues that came up.  This resulted in a lot of C API compatibility fixes that were implemented in separate PRs with new C API specs.  For testing, it passes all of the Ripper MRI tests that were practical to to run (`285 tests, 1755 assertions`) a

[2020-07-18 11:35] eregon commented on #2045
The [only failure left](https://github.com/socketry/async-container/pull/19#issuecomment-660469759) seems some missing handling of SIGHUP in async-container for threaded containers, so I think we can close this issue.

[2020-07-18 11:35] #2045 closed

[2020-07-18 11:55] ssnickolay commented on #1464
Test with [GraalVM CE 20.2.0-dev-20200718_0205](https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/20.2.0-dev-20200718_0205):
[code]

Looks like the issue could be closed //cc @eregon

[2020-07-18 12:51] palkan opened #2050 "String#split with block incompatibility"
MRI behavior:

[code]

TruffleRuby (head):

[code]

Looks like this change from 2.6 hasn't been implemented: https://rubyreferences.github.io/rubychanges/2.6.html#stringsplit-with-block (though TruffleRuby "says" its RUBY_VERSION is 2.6).

This behaviour is covered by [ruby/spec](https://github.com/oracle/truffleruby/blob/master/spec/ruby/core/string/split_spec.rb) but it seems that these tests ar

[2020-07-18 12:57] chrisseaton commented on #2050
Yes, we don't wait for 100% compatibility before claiming to be the new Ruby version. We set the version to what we aspire to be, import the code from MRI, and then work back through the issues over time. That might change when we become more stable, but while everything is still being developed I think it makes sense.

Tagged as failing, rather than disabled, but yes.

https://github.com/oracle/t

[2020-07-18 13:36] palkan commented on #2050
Makes sense.

I just need an issue to track when it's resolved and I can remove [workarounds](https://github.com/ruby-next/ruby-next/commit/a7f9d98805cbc1adbbecf7ba8ad972960f4f45c7) 🙂

[2020-07-18 13:42] palkan commented on #2047
Sorry, but I broke it again 🙃

Here is a bit more complex example: https://github.com/palkan/ruby-compatibility-examples/commit/f92c69c0366e1c3b656d2ef7aead4a1a79bb5c0b (and the corresponding CI build: https://github.com/palkan/ruby-compatibility-examples/runs/884982846?check_suite_focus=true).

This time, we define `at_exit` hook in the required file (`-r`), not the one we execute. That could be

[2020-07-18 13:47] ioquatix commented on #2045
This seems to fix the HUP issue, at least locally.

https://github.com/socketry/async-container/commit/74cc92b5fc64019b6e6b0ab547caf8f980d760ec

Not sure why it should be necessary though?

[2020-07-18 16:53] mc2dx commented on #2044
_Is there a specific reason you want to use stackprof or just want to use some profiler (and anything missing in CPUSampler)?_

There is not a specific reason. I just wanted to experiment with some profiler and try to speed up some specs only for experimental development.

I was thinking about the issue, and I need to say that you are right. I hadn't known about --cpusampler before.  I checked [Pr

[2020-07-18 20:37] eregon commented on #2045
You're right, that's a difference:
[code]
Similar for e.g., SIGUSR2.

So it seems CRuby has signal handlers for all (?) signals and transforms them in SignalException, and if they bubble up to the main thread, then re-sends the signal (after disabling the custom signal handlers?).
We do the second part in https://github.com/oracle/truffleruby/blob/9f03f3c84387257dee80c1fa74b7a52deed2007c/src/main/

[2020-07-18 20:47] eregon commented on #62
Nokogiri seems to basically work now (and has been for a while).
TruffleRuby always uses the system libraries (automatically), that's the only significant difference.

I ran the Nokogiri tests on TruffleRuby and almost everything passes:
https://github.com/eregon/nokogiri/runs/885501695
[code]

[2020-07-18 20:58] eregon opened #2051 "SIGHUP, etc do not have a default signal handler that raises SignalException"
_Originally posted by @eregon in https://github.com/oracle/truffleruby/issues/2045#issuecomment-660539088_

[code]
Similar for e.g., SIGUSR2.

So it seems CRuby has signal handlers for [almost all signals](https://github.com/ruby/ruby/blob/2eaa53e9a38b46442508878ac1795d91688701e3/signal.c#L1553-L1594) and transforms them in SignalException, and if they bubble up to the main thread, then re-sends t

[2020-07-18 20:59] eregon commented on #2045
Extracted to https://github.com/oracle/truffleruby/issues/2051 as in general any behavior difference is something worth tracking as an issue: https://github.com/oracle/truffleruby/issues/2051

[2020-07-18 21:04] eregon commented on #2051
Of the list in https://github.com/ruby/ruby/blob/2eaa53e9a38b46442508878ac1795d91688701e3/signal.c#L1553-L1571:

* SIGINT: already handled, same as CRuby
* SIGQUIT, SIGALRM: used for [printing backtraces/stacktraces](https://github.com/oracle/truffleruby/blob/9f03f3c84387257dee80c1fa74b7a52deed2007c/doc/user/debugging.md) on TruffleRuby, would prevent debugging to change them to send a SignalExcep

[2020-07-18 21:40] ioquatix commented on #2051
I don't know what the answer is here. I'm happy to install handlers in my case, it's not a big overhead to get the required consistency.

My feeling is signals need to be left for user level. If you want to install debugging signals, it should be a specific flag, e.g. `ruby --debug-signals` or something

cc @headius

[2020-07-18 21:45] ioquatix commented on #2045
I don't personally have an issue with it, now that I wrapped the issue for consistency. However

- Other users may run into the same issue.
- The documentation is lacking.
- The list of signals which are safe to use across implementations is not clear.

Thanks for extracting a new issue to sort out these points.

[2020-07-19 06:50] headius commented on #2051
JRuby leaves all signals alone, since some are used internally by JVMs (USR1 at least) or are already hooked up to features JVM users will expect to see (QUIT dumping thread stacks, INT performing a hard shutdown, etc). As for the rest, it seems inappropriate to add handlers for signals the user has not explicitly chosen to trap.

Trapping most signals at a user level will work fine, with caveats

[2020-07-19 21:48] ioquatix commented on #2051
If some signals are not available on a platform - platform basis (e.g. USR1 which is exceedingly common for use), it would make sense to:

1. Ensure it's clearly documented for all platforms (above linked docs are a good start!), and
2. Provide some interface to identify signals which can't be used (e.g. `Signal.available`), and/or
3. Maybe try to provide a guarantee that *some* signals will alway

[2020-07-19 21:54] chrisseaton commented on #2051
We've done our best - in https://github.com/oracle/truffleruby/blob/9f03f3c84387257dee80c1fa74b7a52deed2007c/doc/user/compatibility.md#signals.

I proposed an API ages ago for a `Signal.trappable?` but it didn't get a lot of support. Maybe we should go back to that?

We can't trap `USR1` or `QUIT` on the JVM because the JVM doesn't let us. It's not a case of doing it breaks the JVM, I just don't b

[2020-07-19 22:04] ioquatix commented on #2051
Platform specific limits need to be available through a programmatic interface otherwise we are going to have a ton of `if platform_x? ... elsif platform_y? ...`

[2020-07-20 08:02] eregon commented on #1464
This looks fine enough.
I might expect just `1` for the `p ...` variant but here it's not just a simple integer, it's a tiny 1x1 data frame I guess, so that seems reasonable.

[2020-07-20 08:02] #1464 closed

[2020-07-20 08:04] eregon commented on #1534
This is probably fixed now, but we need to check.
(`puts` will call `toDisplayString()` which would show the result like R does)

[2020-07-20 08:08] eregon commented on #2047
Looks like there is an AssertionError in that case, I'll take a look, thanks for the reproducer :smiley:
[code]

[2020-07-20 08:12] eregon commented on #2044
Thanks for the reply.
Maybe we should find a way to improve the discoverability of `--cpusampler`?

One thought could be to print a message when `stackprof` is installed.
As a variant maybe we could change stackprof to print such a message at runtime when run on TruffleRuby, since it doesn't seem likely supporting StackProf's current way of profiling on TruffleRuby is worth it in terms of overhead

[2020-07-20 08:32] eregon commented on #2051
One way to check if a signal can be trap-ed is to just `trap(signal)` and see if that raises an error.
This also applies to CRuby BTW, on Windows only a couple signals are available.
And I would guess it also varies by OS.
I don't think there is any API at any level to list available signals unfortunately, it's always a "trap-or-fail" approach.

[2020-07-20 08:35] eregon commented on #2051
This kind of debugging is mostly useful as in enabled-by-default, not as second thought (e.g., useful to debug hangs). So enabled by default is a must here.

[2020-07-20 08:47] eregon commented on #2051
IMHO this issue is about whether SIGHUP, SIGTERM, SIGUSR1, SIGUSR2 should raise SignalException on TruffleRuby for compatibility. This would only applies when run from the truffleruby launcher (not when embedded), and maybe disabled if `--polyglot` is passed.

There is already explicit documentation listing the signals and there are external constraints that limit available signals that already ex

[2020-07-20 09:05] eregon commented on #2047
It seems the issue in that case is that the SyntaxError happens in the "main script file" and so before TruffleRuby enters `TopLevelRaiseHandler`.

[2020-07-20 09:31] ssnickolay commented on #2050
@eregon could you assign the issue on me, please?

[2020-07-20 11:00] eregon commented on #2034
@petenorth Could you tell me how to reproduce https://github.com/oracle/truffleruby/issues/2012#issuecomment-650524477 and try to run it that way again? That issue still exists, but rerunning should give more information due to the backtrace including the core libraries files now.

[2020-07-20 15:41] petenorth commented on #2034
@eregon I hacked an existing github workflow

https://github.com/petenorth/decimal-rounding-ruby/blob/master/.github/workflows/ruby.yml

[code]

[2020-07-20 17:12] mc2dx commented on #2044
I think that it is a good idea to show some information about profiling from TruffleRuby. Let's create some PR to [stackprof](https://github.com/tmm1/stackprof).

[2020-07-20 19:25] petenorth commented on #2034
Just kicked off another run and it seems to be fine

https://github.com/petenorth/decimal-rounding-ruby/runs/891326461?check_suite_focus=true

[2020-07-21 09:16] eregon commented on #2034
It seems transient (seemed to happen at different points in time in past reports, not always during installing the same gem) and probably needs to install many gems to increase the chance to hit I think.
If it's easy, could you try with a bigger gem file (e.g., some Rails app)?

[2020-07-21 12:24] eregon commented on #2047
That example is fixed with efa38abf2be8e55900f92259c56f90cda8f896bf.

[2020-07-21 12:24] #2047 closed

[2020-07-22 10:44] eregon commented on #2008
`ruby-install` 0.7.1 has been released with the updated dependencies:
https://github.com/postmodern/ruby-install/blob/master/ChangeLog.md#071--2020-07-22

[2020-07-22 10:44] #2008 closed

[2020-07-22 13:07] chrisseaton opened #2053 "JSON.pretty_generate generates different output to MRI for at least an empty hash"
[code]

[code]

So does JRuby https://github.com/jruby/jruby/issues/6338

[2020-07-22 13:52] eregon commented on #2053
It's an issue of `json/pure`, it also happens on MRI:
[code]

Could you file an issue or make a PR to https://github.com/flori/json ?

[2020-07-22 22:37] chrisseaton opened #2054 "FFI::Pointer#order not implemented"
Implemented in https://github.com/ffi/ffi/commit/f8cfe29f2e4e1968651b165648886722173719c6.

[2020-07-23 20:09] bjfish commented on #1088
Using system libraries appears to work:
[code]

[2020-07-23 21:55] bjfish commented on #1078
I ran the benchmark from the linked issue. It appears to be a longer running benchmark now and ran `~2.6x` faster on native truffleruby:
[code]
**truffleruby 20.2.0-dev like ruby 2.6.6, GraalVM CE Native [x86_64-darwin]**
[code]
**MRI 2.6.6**
[code]

[2020-07-24 16:16] bjfish commented on #2000
This example appears to run on the current master but the issue description mentions `Truffleruby 20.0.0` : https://github.com/oracle/truffleruby/commit/6e19c7a008c0df9e04e070db635b8b98c3f0fdf2

[2020-07-24 16:51] #2000 closed

[2020-07-24 19:49] #2050 closed

[2020-07-29 17:48] bjfish commented on #1
@chrisseaton This is now setup at in CI at https://github.com/oracle/truffleruby/commit/54932f334905933c9dbd0215f0893a448a56b598.

[2020-07-29 17:48] #1 closed

[2020-07-29 19:24] #1902 closed

[2020-07-30 08:06] PragTob commented on #1
Just in time when I wanted to make a new round of benchmarks :eyes:

Thanks!

[2020-07-30 09:26] eregon commented on #2054
There doesn't seem to be any spec for this in FFI.
It would be helpful if some are added.

I guess you want to use the network endian (aka big endian), right? (https://github.com/ffi/ffi/issues/813)

I wonder what's an efficient way to implement that.
Maybe a subclass of `FFI::Pointer` which swaps the resulting bytes (since order returns a new pointer)?

[2020-07-30 09:48] eregon commented on #1827
Notes:
* https://github.com/discourse/discourse/blob/bd3c0dd59f9034688d3ab70ff2317d4b910e9513/lib/pretty_text.rb#L67 seems where Discourse loads the Markdown JS library.
* https://github.com/discourse/discourse/blob/bd3c0dd59f9034688d3ab70ff2317d4b910e9513/script/benchmarks/markdown/bench.rb is a benchmark of rendering Markdown.

There are no npm packages or `node`-specific stuff.
So it might just

[2020-07-30 12:01] chrisseaton commented on #2054
Yes network order - specifically reading a BGV file.

I'll write specs, look at how it's implemented in MRI, and get back to you.

[2020-07-30 12:17] eregon commented on #2054
https://github.com/ffi/ffi/commit/f8cfe29f2e4e1968651b165648886722173719c6#diff-682df063515101c03cfa458badf35dbcR49 is how it's implemented in that commit you linked.
So checking everytime if the flag if set, and if so use a function pointer to swap the bytes.

Seems some overhead for non-swapped cases, so I think the subclass is better if compatible enough.

[2020-07-30 22:26] gogainda opened #2058 "cannot run tests for the test-unit gem"
Hi,
for some reason I cannot run tests for this gem.

How to reproduce:
[code]
wich fails with :
[code]
From the stacktrace it points out to the gettext gem, but I didn't find any issues with it (all tests are passing for the gettext gem).

[2020-07-31 10:25] eregon commented on #2058
@bjfish Could you take a look, see if you can reproduce and try to find where this `nil` comes from?

[2020-07-31 14:31] bjfish commented on #2058
@gogainda The line this failed on contains `RbConfig::CONFIG["datadir"]`:
https://github.com/ruby-gettext/gettext/blob/192d16c194694b5a1f9d6f8cb11b935acad74dc8/lib/gettext/locale_path.rb#L24
which was recently fixed:
https://github.com/oracle/truffleruby/commit/ef531e23425af5884b010597ee265c611b3537c0

Please try updating to the latest nightly release, confirm that `ruby -e 'p RbConfig::CONFIG["da

[2020-07-31 15:07] bjfish commented on #2058
I observed 6 failures/errors when trying the test-unit tests:
https://gist.github.com/bjfish/425321b23ba04729bf9ae2807fa576e1

[2020-07-31 15:54] gogainda commented on #2058
@bjfish @eregon works with the latest nightly build, closing the issue

[2020-07-31 15:54] #2058 closed

[2020-07-31 17:21] gogainda commented on #2058
@bjfish  @eregon  majority of the failed tests look the same:
[code]
Is it worth creating a new truffle ruby issue or it's up to the maintainers of the original gem to make tests more compatible between different ruby versions?

[2020-07-31 17:24] bjfish commented on #2058
@gogainda A new TruffleRuby issue can be created since these look like TruffleRuby compatibility issues.  If the tests pass on `MRI 2.6.6`, that usually indicates an issue in TruffleRuby.

[2020-07-31 21:17] gogainda opened #2059 "test-unit failing tests"
[code]
To reproduce:
[code]

[2020-07-31 21:18] gogainda commented on #2058
https://github.com/oracle/truffleruby/issues/2059

[2020-08-01 12:03] mc2dx commented on #2044
I have some issues with `--cpusampler` and profiling in general. I run code on `truffleruby 20.1.0, like ruby 2.6.5, GraalVM EE Native [x86_64-darwin` with this testing code
[code]
by invoking
`ruby test.rb --cpusampler --cpusampler.Output=json > output.json`.
I have downloaded some example png files from the Internet. It takes forever on TruffleRuby, and I do not see any results. On MRI, after tw

[2020-08-01 19:25] eregon commented on #2059
I think in this case it's probably up to test-unit to filter out `<internal:` backtrace entries, but it would be good to investigate a bit to be sure, before.
The `core/throw_catch.rb:0` looks a bit weird (there is no line 0, lines start at 1).

[2020-08-01 19:59] eregon commented on #2044
Any issue, except that this specific program took too much memory?

See https://github.com/oracle/truffleruby/blob/master/doc/user/debugging.md to find out what TruffleRuby is doing if it appears to hang.

You can limit memory with e.g. `--vm.Xmx2g` (by default Native Image will use 80% of the memory as max heap).
So on this example, I see:
[code]

and to get more details:
[code]

Which sounds lik

[2020-08-01 20:13] eregon commented on #2044
This is a `BINARY` `String` on which `setbyte` is called, and that creates two SubstringRopes, which eagerly flatten every time to compute the CodeRange of each subrope (CR_7BIT or CR_VALID since it's binary, and the underlying contains non-7-bit bytes).

Maybe we can treat BINARY Strings specially, e.g., by computing the CodeRange lazily for them.
Or find a better way to compute the CodeRange wit

[2020-08-03 13:02] eregon commented on #2059
I checked and I believe it makes sense to fix this in test-unit:
https://github.com/test-unit/test-unit/blob/ea81cf9545368ca9fae704454fe67d81ad9fe2c9/test/test-test-case.rb#L65-L68 needs to also ignore `<internal:` backtrace entries.
I filed https://github.com/test-unit/test-unit/issues/171.

[2020-08-03 19:55] phykos opened #2061 "Can't install any gem"
Environment:
Raspberry Pi 4, Manjaro AArch64
`truffleruby 20.3.0-dev-b8bc6c49, like ruby 2.6.6, GraalVM CE Native [aarch64-linux]`

When I try `gem install gmp` (I tried a bunch more), I got this:

[code]

From the warning, I guess it's just having issues reading the `.gem` (which is just a gz archive), right?
How do I fix this?

[2020-08-03 19:57] phykos commented on #2061
PS: I also tried calling something like this: `truffleruby $(which gem) install gmp # gem is the MRI gem`, but got the same output as before

[2020-08-03 20:01] eregon commented on #2061
TruffleRuby support for aarch64 is still quite experimental.

As far as I tried C extensions do not work yet on aarch64.
I would think this is due to an issue with Sulong (the GraalVM LLVM Runtime) support for aarch64, and might be related to https://github.com/oracle/graal/issues/2276.
cc @rschatz

[2020-08-03 20:06] eregon commented on #2061
We should update https://github.com/oracle/truffleruby#system-compatibility to mention that AArch64 is experimental, and AMD64 is currently the only supported architecture.

[2020-08-03 20:45] phykos commented on #2061
well... damn, that's a problem

[2020-08-03 20:47] phykos commented on #2061
What about `i?86`?
Are those supported?

[2020-08-03 20:50] chrisseaton commented on #2061
AMD64 is the correct name for x86-64, or x86_64, or x64, or whatever else people call it.

[2020-08-03 20:53] phykos commented on #2061
I mean Intel i386 and i686

[2020-08-03 20:53] chrisseaton commented on #2061
No we assume pointers are exactly 64-bit in many places. I don't anticipate we'd ever support 32-bit.

[2020-08-03 21:01] gogainda opened #2062 "rubyzip test case failure: PathTraversalTest#test_entry_name_with_tilde"
### How to reproduce
[code]
### Exception stack trace
[code]

[2020-08-03 21:41] gogainda commented on #1625
My results are:
| Options | DescTimeription |
| --- | --- |
| default | 222 seconds |
| --experimental-options --engine.Mode=latency | 80 seconds|
| --experimental-options --engine.Mode=latency --engine.LanguageAgnosticInlining=false | 77 seconds|

Overall results are quite impressive performance wise

[2020-08-03 22:09] mc2dx commented on #2044
Thanks for your response. Your propositions sound like a good journey. GraalVM and its environments are pretty new for me, but I would like to dig deeper and learn.
Can you recommend me something about what to start?
Solution below

sound like the easiest way of solving this problem, but yeah, exploring others can be interesting by itself.

[2020-08-03 22:18] eregon commented on #2059
Let's reopen this to track the two remaining failing tests when running test-unit's tests:
https://travis-ci.org/github/test-unit/test-unit/jobs/714613316
[code]

[2020-08-03 22:18] eregon commented on #2059
@bjfish Can you take look at those?

[2020-08-04 10:48] eregon commented on #2044
Of these alternatives, I think:

Is one of the most general solutions and probably a good idea. Computing the CodeRange eagerly for BINARY seems wasteful, unless it's later converted to a non-BINARY String (but we could just compute it then). But since the CodeRange is currently encoded in the Rope class (e.g., `AsciiOnlyLeafRope`) it would need some non-trivial changes (probably a single LeafRope

[2020-08-04 14:40] bjfish commented on #2059
@eregon I think this small reproduction case recreates the issue:
[code]
MRI 2.6.6
[code]
TruffleRuby
[code]

[2020-08-04 14:49] eregon commented on #2059
I see, I think we've seen this before. We probably need to pass the `AddMethodNode` as the "call site" for calling `method_added` inside `ModuleFields#addMethod`.

I think one way to do is to set `EncapsulatingNodeReference` around calling `method_added`.
We could also pass a DirectCallNode or IndirectCallNode to `ModuleFields#addMethod` but that seems heavy for something that's normally just call

[2020-08-04 15:59] gogainda opened #2063 "prawn test case failure: Prawn manual contains no unexpected changes"
### How to reproduce
[code]
### Stack trace
[code]

[2020-08-04 16:48] eregon commented on #2061
Documented in 6f4b0b66abadb401a5b4ca0dca56d03b6bc78ea6

[2020-08-04 17:02] phykos commented on #2061
Good, I would like to help with aarch64 stuff etc., so just ask me if it's needed

[2020-08-04 17:32] eregon commented on #2061
Could you try to debug what goes wrong with C extensions on aarch64?
It's not clear where the issue is precisely right now and it would help to know.
Maybe try something simpler like `Etc.getlogin`, or `Zlib` for a simple input [like in the specs](https://github.com/oracle/truffleruby/blob/0dc76ace1b608644110a8e11ca944f2a0a19ea10/spec/ruby/library/zlib/deflate_spec.rb).

[2020-08-04 20:05] chrisseaton commented on #1488
@eregon can you please reassign to @LillianZ unless you're planning to fix immediately.

[2020-08-04 21:44] phykos commented on #2061
kk, tomorrow I'll try, I am going to sleep rn

[2020-08-05 09:41] eregon commented on #1488
Discussion from Slack:

The current `FrameOnStackMarker` is tailored for `break`, so for `(1)foo { break }(2)` it's created in 1, and marked as no longer on stack in 2 by `FrameOnStackNode` (whether `foo` called the block or not). It's not actually whether the block frame is on stack, it's whether the block is called during that call from the `foo` call site (since `break` exits that call site).

[2020-08-05 09:54] eregon commented on #1488
While playing with this I noticed:
[code]

And apparently `return` inside a block inside a lambda still exits the method, not the lambda, which simplifies the issue:
[code]
So `return` directly inside a lambda return from the lambda, but nested in a block returns from the surrounding method.

[2020-08-05 10:06] eregon commented on #2063
From what I recall the manual looks visually the same so maybe it's some tiny difference in e.g. how floats are printed.
Would be good to investigate though.

[2020-08-05 10:20] eregon commented on #2059
I've got a fix for this but it needs some extra fixes in Truffle.

[2020-08-05 11:28] MaxLap commented on #1488
Super interesting edge-case finding, I love those :)
I think that last line is not accurate, or at least misleading?
[code]
If the nested block is called from inside the lambda, it returns only from the lambda. Your example calls the block once its out of the lambda. I'm quite surprised as I would have thought there would be a LocalJumpError.

[2020-08-05 13:13] eregon commented on #1488
Oh wow, this is madness.
It seems a `return` inside a Proc inside a `-> {}` lambda returns either to the lambda or the method, depending if the lambda is still on the stack?

Which makes me think we should fix the "sane" case first, that is a `return` inside a block inside a method (no lambda involved(.

[2020-08-05 13:40] eregon commented on #1488
Which means we can construct an example where a single `return` in the source code might return to 2 different lexical places (which seems wrong to me, AFAIK no other control flow language construct violates that rule, they always jump to a single place):
[code]

[2020-08-05 17:27] MSP-Greg opened #2064 "Intermittent Puma CI failures"
Puma's CI is a bit unstable, and I've been working trying to stabilize it.  MRI seems stable, but some intermittent issues with JRuby & TruffleRuby.  The below is shown on some of the TruffleRuby failures:
[code]

Reactor:136 is the select statement below, the selector is a `NIO::Selector`:
[code]

This may not be helpful, I'm happy to debug, etc...

[2020-08-05 18:48] MaxLap commented on #1488
Haha, here is another one, no lambda involved! (at least not directly ;)). The proc is made in the same "stack", but called at different places.

[code]

The logic I see overall, is that all of the scopes accessible from the place where the proc is created are allowed to return with it (Guess it stops at the first scope it encounters that can return with it?)

Here is another fun one!

[code]
The

[2020-08-05 22:23] phykos commented on #2061
Update: tried to call `Zlib.deflate("1" * 10)` in IRB after having required `zlib`, and I got a REALLY long traceback.
I ended up writing the code above in a separate file and then redirecting the standard output
[errors.txt](https://github.com/oracle/truffleruby/files/5031542/errors.txt)

[2020-08-06 10:56] eregon commented on #1488
I filed https://bugs.ruby-lang.org/issues/17105 in an attempt to clarify the behavior.
While it is fun to play with edge cases, in practice these very complicated semantics harms understanding of what `return` does, and might have significant implications on performance.

[2020-08-06 12:17] gogainda opened #2065 "json_schemer failing test: JSONSchemerTest#test_json_schema_test_suite"
### How to reproduce
[code]
### Stack trace
[code]

[2020-08-06 12:38] eregon commented on #2065
A guess: this might due to TruffleRuby defaulting to the pure-Ruby json stdlib, if there is no `gem 'json'` in the Gemfile.

BTW, should it be `rake` or `bundle exec rake` to run tests?
I think `bundle exec rake` is safer.

[2020-08-06 12:47] eregon commented on #2064
Thank you for the report, and sorry about the transient issues.

The Java stacktrace is rather puzzling here, it shows that `unlockInternal()` doesn't have the lock, even though it should be guaranteed it's acquired by `lockInternal()` above:
https://github.com/oracle/truffleruby/blob/953ac5d2c62586de8f4b0a2cf9e0fad9de78cea0/src/main/java/org/truffleruby/cext/CExtNodes.java#L136-L141
And if there

[2020-08-06 12:59] gogainda commented on #2065
@eregon regarding rake I am not sure how it works , but I would be using this way of executing if it's safer

[2020-08-06 13:03] eregon commented on #2065
I don't anything in rake doing something like `require 'bundler/setup'`, so yeah it's safer to use `bundle exec rake` to make sure the right gems as specified by Gemfile.lock are used and not potentially other versions.

[2020-08-06 13:15] rschatz commented on #2061
Hmm... The relevant parts of the stack trace point to some native function:
{code}
  SP 0000007fcbf46fa0 IP 0000007f82cab4cc  IP is not within Java code. Trying frame anchor of last Java frame instead.
  SP 0000007fcbf473f0 IP 0000000000541d20  [image code] com.oracle.svm.truffle.nfi.libffi.LibFFI.ffi_call(LibFFI.java)
  SP 0000007fcbf473f0 IP 0000000000541d20  [image code] com.oracle.svm.truffle.

[2020-08-06 13:25] MSP-Greg commented on #2064
@eregon

Thanks for looking at this.  I don't know how significant this is, as I don't know how to interpret it.

It is intermittent, but when TruffleRuby fails, it is often the cause.  Oddly, sometimes Minitest completes all its reporting, shows no failures/errors, and then the above is shown.

Maybe CI is leaving an instance of TruffleRuby running, and it's failing after the CI has completed?  T

[2020-08-06 14:37] Hanmac commented on #1488
i think this is by design in MRI:

https://www.rubyguides.com/2016/02/ruby-procs-and-lambdas/

[2020-08-06 14:40] chrisseaton commented on #1488
I think we're all agreed on those basics of what return from a proc and lambda normally does - I think we're beyond that and talking about some edge-cases here which are more complex than that explanation.

[2020-08-06 15:11] phykos commented on #2061
Well from this "POV" I guess it's a problem related to those Sulong failures and stuff, I don't think of that being related to libffi

[2020-08-06 15:26] eregon commented on #2061
One way to debug might be to attach a native debugger (e.g., gdb) and check what values `deflateReset`, `deflateEnd` and `deflate` are passed.

[2020-08-06 15:28] gogainda opened #2066 "device_detector failing tests with errors"
### Hot to reproduce
[code]

### Stack trace
[code]

[2020-08-06 15:29] phykos commented on #2061
By running IRB in JVM mode I got this and a file with around 2000 lines
[![https://imgur.com/8FJgJzk.png](https://imgur.com/8FJgJzk.png)](https://imgur.com/8FJgJzk.png)

[hs_err_pid1147.log](https://github.com/oracle/truffleruby/files/5035905/hs_err_pid1147.log)

[2020-08-06 16:23] eregon commented on #2059
Fixed by 953ac5d2c62586de8f4b0a2cf9e0fad9de78cea0, all test-unit tests pass locally for me now.

[2020-08-06 16:23] #2059 closed

[2020-08-06 18:54] djberg96 opened #2067 "Gem installation failure: no member named flags in struct RBasic"
Hi,

I hit this when attempting to install `memory_buffer` on my Mac (~~in reality a dependency of sassc-rails~~),  and figured I should mention it:

truffleruby 20.1.0, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]

[code]

[2020-08-06 19:21] larskanis commented on #2001
Narray makes use of [inheritance of T_DATA](https://github.com/ruby-numo/numo-narray/blob/9c645424347bc05502bb5226c34de5f0d015a536/ext/numo/narray/narray.c#L229) objects. This didn't work but seems to be fixed in https://github.com/oracle/truffleruby/commit/f460ce7998c4be937ad298ca3f0daac12d4531e2 .

I noticed the same issue in [ruby-pg](https://github.com/ged/ruby-pg/pull/349). So far I didn't tr

[2020-08-06 19:53] gogainda commented on #2067
works for me with latest truffle ruby:
[code]

[2020-08-06 19:56] gogainda commented on #2067
thought I see that tests are failing:
[code]

[2020-08-06 21:00] bjfish commented on #2067
For reference, the code that is failing:

https://github.com/ManageIQ/memory_buffer/blob/4b9601981f6dca82ca64081c4a28171ac91ff5af/ext/memory_buffer/memory_buffer.c#L41-L42

[2020-08-06 22:30] bjfish commented on #2066
I think I have a small reproduction case for this:
[code]
Expected (RegexpError):
[code]
Actual (internal error)
[code]

[2020-08-07 09:30] eregon commented on #2067
[code]

That code pokes at CRuby internals and I wouldn't be surprised if it breaks in the next CRuby versions.
I am thinking it's not  reasonable to implement these RString internals in TruffleRuby.
I'm unclear what this gem is for.
If it's really needed then probably TruffleRuby would need to expose an API to create a native String from an existing allocation, and that allocation must be fine to

[2020-08-07 09:35] eregon commented on #2066
Right, so it seems just catching the internal SyntaxException and convert it to a RegexpError should fix it then.

[2020-08-07 10:56] eregon commented on #2001
@larskanis That commit will be part of 20.2.

The release schedule is on https://www.graalvm.org/docs/release-notes/version-roadmap/

[2020-08-07 11:01] eregon commented on #2001
The `numo-narray` examples works now:
[code]

[2020-08-07 11:01] #2001 closed

[2020-08-07 13:27] larskanis commented on #2001
@eregon Thank you for the link to the release schedule! And good to know that it will be no blocker for https://github.com/ged/ruby-pg/pull/349

[2020-08-07 14:00] djberg96 commented on #2067
@eregon You're right, i misread my output (it happened just after the sassc-rails install, that's why I thought that). It's a dependency of one of our own libraries at https://github.com/ManageIQ/manageiq-smartstate/blob/master/manageiq-smartstate.gemspec#L28

[2020-08-07 14:03] bjfish commented on #1827
There has been some progress on running mini_racer with libv8 which we can now compile as a shared library.  The next blocker on running this is a Sulong limitation where it does not currently support returning struct-by-value yet at the boundary between Sulong and native code.

[2020-08-07 17:40] bjfish commented on #2065
A small reproduction case:
[code]

[2020-08-07 19:43] bjfish commented on #2062
Small error case for the issue:
[code]

[2020-08-07 21:07] bjfish commented on #2063
The pdf bytes are also nearly equal. One issue I saw was the following (this may be the only issue):
[code]

[2020-08-08 14:59] Fryguy commented on #2067
One of the purposes of the gem (at least the part in the C extension), is to create a Ruby string that is memaligned.  At the time we wrote this (and probably still today?), there was no way to do it directly with Ruby, so the C code creates a memaligned buffer, then creates a Ruby String, then just swaps out the internal Ruby String with the buffer.  Is it a hack?  Yup!  If there's another way to

[2020-08-08 15:16] deepj opened #2069 "cld: No enum constant com.oracle.truffle.nfi.spi.types.NativeSimpleType.STRUCT_BY_VALUE"
[code]

To reproduce:

[code]

Error:

[code]

[2020-08-10 07:30] eregon commented on #2001
@larskanis It would be useful if you can test (temporarily, or could be added as allowed failure) on that PR if `truffleruby-head` works, to make sure there is no other issue.

Adding as an allowed failure would also allow me to track there is no regression with truffleruby-head + latest `pg` [conveniently](https://github.com/eregon/truffleruby-gem-tracker).

[2020-08-10 07:32] PragTob opened #2070 "Temporary Slowdown/Deoptimization very late into the process in Rubykon benchmark"
:wave:

Hi everyone and first of all thanks for your work :)

I've been running rubykon benchmarks again, namely [mcts_avg](https://github.com/PragTob/rubykon/blob/main/benchmark/mcts_avg.rb). What I noticed with truffleruby in various configurations was that after it had seemingly reached peak performance it would do rather drastic slow downs fairly late into the process. It reaches peak performa

[2020-08-10 07:53] eregon commented on #2067
The only usage of `create_aligned` in `manageiq-smartstate` seems to be:
https://github.com/ManageIQ/manageiq-smartstate/blob/818219ec146d16c6e4323ca166fd669c11034945/lib/disk/modules/RawBlockIO.rb#L102

Does it need to be aligned there, or is it optional but improves performance?
If it's optional, I'd suggest some kind of fallback in `memory_buffer` or `manageiq-smartstate`.

Technically it might

[2020-08-10 08:02] eregon commented on #2069
Thanks for the report.

I think this is the same source issue as in https://github.com/oracle/truffleruby/issues/1827#issuecomment-670532854 that is,
Truffle NFI does not support passing struct-by-value yet (internal issue: GR-13304).
And so our FFI implementation which uses Truffle NFI cannot yet either.

[2020-08-10 08:24] eregon commented on #2070
Thanks a lot for the report!

Indeed, this sounds worth investigating.
Usually this kind of late deoptimizations can be traced with `--engine.TraceTransferToInterpreter`.
`--engine.BackgroundCompilation=false` can help to debug this by using blocking foregound compilation (then early performance will be slow, so not good for benchmarking, but more predictable when debugging since compilation happe

[2020-08-10 12:22] PragTob commented on #2070
@eregon thanks!

Yeah, I got stddev of course. In Ruby here I don't do median & friends (yet). I do those in [benchee](https://github.com/bencheeorg/benchee) but that's elixir, that has got median, all the percentiles you want, mode, min, max, boxplots and probably stuff I'm forgetting.

It's one of my long term projects to make that more reusable for other languages/implement it in such a way as

[2020-08-10 16:16] larskanis commented on #2001
@eregon TruffleRuby-head looks good: https://travis-ci.org/github/ged/ruby-pg/builds/716604081
Thank you for the hint!

[2020-08-11 18:20] PragTob commented on #2070
So I did run it, could reproduce it and I have a likely candidate!

Full gist: https://gist.github.com/PragTob/32af2b74d96131c6b7130120245e6fe1

What I did:

[code]

To give enough warmup with the increased compile times (the first iteration alone takes ~300s) I configured even more extensive times:

[code]

The likely candidate is:

[code]

That snippet happens a total of 12 times.

It's also the

[2020-08-11 18:58] bjfish commented on #2063
The `prawn_manual_spec.rb` should pass now after https://github.com/oracle/truffleruby/commit/106f241d7a0874cce8d7b34b5bf53c9b79325dce with the same hash value but the hash for `TruffleRuby` needs to be added to that spec.

[2020-08-11 18:59] bjfish commented on #2065
This test now passes with the fix at: https://github.com/oracle/truffleruby/commit/12c84fa6e11dc0dcabf4b5886aea40604f420a3c.

[2020-08-11 18:59] #2065 closed

[2020-08-12 10:01] eregon commented on #2063
@gogainda Could you make a PR to prawn so the manual's hash is not conditional on the implementation? (it doesn't need to be)
See https://github.com/prawnpdf/prawn/blob/62f5f4a58ba597c955616c8df13e7b74f1546b65/spec/prawn_manual_spec.rb#L6-L14

[2020-08-13 00:48] deepj commented on #1827
@eregon look at https://github.com/rubyjs/libv8/issues/304 if that doesn't have impact on TruffleRuby

[2020-08-13 10:11] deepj opened #2072 "Support C++ gem extenstions"
There are plenty Ruby native gems written in C++ using rice gem. Currently, there is no option to compile them with TruffleRuby. Especially, there are missing C++ tools bundled with TruffleRuby.

Will TruffleRuby support them? What complications are connected with this support?

[2020-08-13 10:15] eregon commented on #2072
Could you give some example gems, preferably the one you would be interested in or are widely used?
What's the error you get when trying to install one of them?

We already support `unf_ext`, which is a C++ extension.

[2020-08-13 10:32] deepj commented on #2072
E.g. `rice` what is a glue for other C++ gem extensions.

[code]

Yes, the issue above I can resolve by `brew install automake`. But I'd expect this bundled in TruffleRuby since it's bringing own tool chain to compile gems. After that I get this anyway

[code]

[2020-08-13 11:13] eregon commented on #2072
TruffleRuby and GraalVM come with its own LLVM toolchain. autotools/automake is independent of that, it's a layer above the C/C++ compiler/linker/etc.

---

It looks like the extconf.rb of `rice` is not detecting the right compiler, we'll investigate.

[2020-08-13 14:27] bjfish commented on #2062
This is now fixed at: https://github.com/oracle/truffleruby/commit/d5e20489bf63a558194e709e5fc9b7fc6b34ea2b.

[2020-08-13 14:27] #2062 closed

[2020-08-13 15:28] eregon commented on #2072
The `rice` gem seems to be at https://github.com/jasonroelofs/rice/tree/2.2.0

Since it uses autoconf, the compiler needs to be in PATH, or the CC/CXX/etc variables be set.
With this it goes further:
[code]

[2020-08-13 15:40] eregon commented on #2072
The first error looks like we need more variants for `rb_tr_scan_args_*`:
https://github.com/jasonroelofs/rice/blob/b42193a7c6154343869ec12d10d6caf1ab1cc349/rice/detail/Auto_Function_Wrapper.ipp#L66-L67

And the second is a rather strange call to `rb_scan_args` with no arguments?
Maybe just to check no arguments are passed?
https://github.com/jasonroelofs/rice/blob/b42193a7c6154343869ec12d10d6caf1

[2020-08-13 16:38] gogainda commented on #2063
Cannot do this rn, don't have an access to a laptop

[2020-08-14 05:53] deepj opened #2073 "deep_clone: Polyglot object DeepClone cannot be converted to i32 (LLVMPolyglotException)"
[code]

To reproduce:

[code]

Error:

[code]

[2020-08-14 08:53] eregon commented on #2030
For now we'll implement this for interactive Sources, as there it's well defined. Tracked internally as GR-15673.

[2020-08-14 08:55] eregon commented on #2030
That means local variables of the interactive Binding and Object method might overlap: #1838
Probably unavoidable, and seems best to give priority to local variables of the interactive Binding.

[2020-08-14 09:27] eregon commented on #2073
The gem is from https://github.com/gmodarelli/ruby-deepclone

It seems an issue upstream, because
https://github.com/gmodarelli/ruby-deepclone/blob/465162df3f89c816badec1a1a473e5b2da4c8ec8/ext/deep_clone/deep_clone.c#L34
https://github.com/gmodarelli/ruby-deepclone/blob/465162df3f89c816badec1a1a473e5b2da4c8ec8/ext/deep_clone/deep_clone.c#L176

So the signature of the function `deep_clone` doesn't

[2020-08-14 09:37] eregon commented on #2073
With that signature fixed it goes further:
[code]

But https://github.com/gmodarelli/ruby-deepclone/blob/master/ext/deep_clone/deep_clone.h is accessing too much internals, it doesn't seem reasonable to support it as-is.
In fact it even accesses internals of MRI by duplicating struct definitions, which is extremely brittle (there is a reason those structs are newer versions of MRI).

Also, we coul

[2020-08-14 09:41] eregon commented on #2073
I filed an issue: https://github.com/gmodarelli/ruby-deepclone/issues/19

Does some dependency you use depend on `ruby_deep_clone`? Could you tell which gem?

[2020-08-14 09:45] deepj commented on #2073
https://github.com/lyptt/struct

[2020-08-14 13:10] eregon commented on #2044
I did not realize but the ChunkyPNG example is from https://github.com/oracle/truffleruby/blob/master/doc/user/tools.md
Probably we should use another example for profiling.

[2020-08-14 13:56] eregon commented on #2073
I see, then I think the best would be for https://github.com/gmodarelli/ruby-deepclone to have a fallback on `Marshal.load Marshal.dump(obj)` on non-MRI.

[2020-08-14 14:03] eregon commented on #2073
I filed an issue with this idea here: https://github.com/gmodarelli/ruby-deepclone/issues/20

Since there seems to be nothing we can reasonably do in TruffleRuby for this issue, but rather we need that gem to be more portable, I will close this issue.

[2020-08-14 14:03] #2073 closed

[2020-08-14 18:13] bjfish commented on #1406
For an update, These are the results I see:

Warmup
[code]
MRI 2.6.6
[code]
GraalVM CE (TruffleRuby latest master)
[code]

[2020-08-17 10:57] #1552 closed

[2020-08-18 18:39] mc2dx commented on #2044
@eregon Indeed, I have used the example from this document. I will try to prepare some sets of illustrations for profiling.

[2020-08-18 19:17] bjfish commented on #2066
This is now fixed at: https://github.com/oracle/truffleruby/commit/3e3610873282db9e45bef226c23df9fc00a2f746

[2020-08-18 19:17] #2066 closed

[2020-08-20 10:05] eregon commented on #1335
`findLocalScopes()` is implemented now, and also tracks returns variables from surrounding scopes if it's a block.
The only missing piece here is to only return the variables that have been set at that position of the method.

[2020-08-20 10:16] eregon commented on #1890
What's the status of this?
@chrisseaton If you think it's an issue in Ruby in TruffleRuby then can I assign you?
If you think it's a Truffle issue, then I'll move it to that repo.
But given that the branch does not exist anymore, maybe we can just close this issue since it's not a problem in practice for you? I'll optimistically do that.

Given that instrumentation can happen in the middle of a me

[2020-08-20 10:16] #1890 closed

[2020-08-20 11:40] chrisseaton commented on #1890
It's not an issue for me - I'm working around:

And the problem isn't as simple as `onEnter` not being called for nodes already on the stack.

I'm not sure why you've closed though - doesn't everyone agree this is a bug? Should we move it to the Truffle repo instead?

[2020-08-21 02:56] hsbt opened #2075 "Couldn't install truffleruby 20.2.0 with ruby-build on macOS"
@eregon I try to install 20.2.0 on macOS today. But it was failed. 20.1.0 is works fine with same environment.

see https://gist.github.com/hsbt/82d9eae64ccbc3a4cc648ad973ab00a6

[2020-08-24 09:59] eregon commented on #2075
Fixed in 80abcaa07ac2f81633275c8356b1e9f99a0c8de3.

[2020-08-24 09:59] #2075 closed

[2020-08-24 10:07] gogainda opened #2076 "Errno::ENOMEM: Cannot allocate memory"
[code]
from [here](https://travis-ci.org/github/rubyzip/rubyzip/jobs/720594560)

[2020-08-24 11:03] eregon commented on #2076
Link: https://github.com/rubyzip/rubyzip/pull/450

Thanks for the report, we should take a look why we run out of memory while running those tests.
Probably a good start is to look at how much memory is used with VisualVM when running on JVM CE.
@bjfish Can you do that?

[2020-08-24 14:21] bjfish commented on #2076
@eregon Yes, I'll investigate this.

[2020-08-25 09:57] gogainda opened #2078 "Test coverage report numbers are inconsistant with Ruby MRI"
Taken from [here](https://travis-ci.org/github/namusyaka/gammo/builds/720937433)
Ruby MRI 2.7.0
[code]

Truffleruby head
[code]

[2020-08-25 10:21] eregon commented on #2078
Thanks for the report.
It would probably be useful to compare the SimpleCov HTML reports to find what are the differences.

[2020-08-26 17:01] bjfish commented on #2076
@eregon I am able to recreate this now using a local VM that is setup similar to the `.travis.yml` file.  I saw nothing interesting in `visualvm`, `--memtracer`, or `free`, and `export TRUFFLERUBYOPT='--vm.Xmx4g'` did not seem to help.

I've gotten the error to resolve in the VM by changing this setting which I read about here: https://github.com/nodejs/node/issues/25382 :
Default
[code]
Works wit

[2020-08-26 19:00] djberg96 opened #2079 "Dynamic constant assignment using non-ascii variable"
From one of our libraries we have this:
[code]

In TruffleRuby, this results in: `SyntaxError: dynamic constant assignment`

[2020-08-26 20:54] gogainda opened #2080 "Potential performance degradation of method_missing"
Hi,
I created a fork of fast-ruby project to track the performance changes between different version of truffleruby. After the last run I noticed one deviation:
- results for truffleruby 20.3.0-dev-c60f3a13
[code]
- results for truffleruby 20.3.0-dev-cc7f184c (later version)
[code]
both runs were executed on the same laptop.

I understand that simply comparing absolute numbers  it's not correct, b

[2020-08-27 09:50] eregon commented on #2079
Thanks for the report, this sounds like a bug in the lexer when considering the kind of identifier `μ` is.

[2020-08-27 09:59] eregon commented on #2080
I can reproduce with a single run:
[code]

When using `x.iterations = 3` to make sure ordering doesn't change anything and it has enough time to stabilize, the numbers seem very close:
[code]

Note that it is in billions of iterations per second, in other words the benchmark is optimized and comparing those is going to be not representative of real code. But it's still nice that it does optimize a

[2020-08-27 10:29] eregon commented on #2080
The issue seems to be since the number of iterations is so high, at some point a `long` instead of an `int` is passed to benchmark-ips's `call_times(n)` and that causes extra branches. Other than that the compiler graphs seem identical.

[2020-08-27 10:35] eregon commented on #2080
There is definitely something a bit strange here where we get `long` but actually they would fit an `int`:
https://gist.github.com/eregon/8a00db1e9232cc82537037910413f93a

[2020-08-27 10:46] eregon commented on #2080
So it's this code:
https://github.com/evanphx/benchmark-ips/blob/5a2dc713fede28e0c08d2c9d43efad967cba6019/lib/benchmark/ips/job.rb#L266

During warmup for the first job (call), we actually compute we can run 1073741824 iterations in the remaining half warmup time.
[code]
And then `cycles` is doubled after even though it's not used, unfortunate.

Warmup for next job will then always use `long` beca

[2020-08-27 10:54] gogainda commented on #2080
So to have more reliable results I should add ```x.iterations = 3``` to every benchmark?

[2020-08-27 11:07] chrisseaton commented on #2080
@gogainda I think this problem with `benchmark-ips` was fixed but possibly not. It's documented here:

https://github.com/Shopify/truffleruby/blob/master/doc/user/reporting-performance-problems.md#how-to-write-a-performance-benchmark

[2020-08-27 11:13] eregon commented on #2080
I'll make a PR to benchmark-ips to fix this, almost done.

[2020-08-27 11:34] eregon commented on #2080
PR for benchmark-ips: https://github.com/evanphx/benchmark-ips/pull/106

`x.iterations = 3` (or `x.iterations = 2`) is a useful help to avoid ordering bias between the different blocks being benchmarked, at the cost of taking longer to benchmark.
Such bias can come from various sources including the benchmark harness (like here), interactions between the different benchmark blocks (for instance if

[2020-08-27 11:38] eregon commented on #2080
@gogainda And I forgot to say, thanks for https://github.com/gogainda/fast-truffleruby! I think it could make a nice blog post debunking "X is faster than Y" for some of the cases when really it's only "X is faster than Y in the current version of CRuby, but actually on a highly optimizing implementation it makes no significant difference".