[2021-02-25 17:37] ivoanjo commented on #2277
Uploaded full stacktrace (of a new run, I forgot to save the one I had used for the report above) to https://gist.github.com/ivoanjo/8794998e1da8592c1908c9a05af98931

[2021-02-26 12:34] eregon commented on #1974
Prepending the toolchain to PATH seems the right thing to do for `hiredis`.
Doing so, the gem just works and the tests pass for me locally (except one failure which also happens on CRuby).
I'll make a PR to do that by default, and have an option to disable in case it's problematic for some gem.

Setting CC/CXX doesn't seem enough, notably because of https://github.com/redis/hiredis/blob/685030652c

[2021-02-26 13:34] eregon commented on #1993
By prepending the toolchain to PATH like in #1974, then this happens:
[code]
and
[code]

i.e., TruffleRuby doesn't support `rb_add_event_hook()` yet, but the LLVMLinkerException is solved.

[2021-02-26 19:01] petenorth commented on #2204
@jirkamarsik  Should this be fixed by https://github.com/oracle/graal/commit/5389f3cc7077f24bcf62f1315530e445ec5646c7 ?

[2021-02-26 22:23] bjfish commented on #2273
@ivoanjo This is now fixed at: https://github.com/oracle/truffleruby/commit/cbb97d56017a10497925e062c87b55bdea545b19. Let us know if you see any more issues with this, thanks.

[2021-02-26 22:23] #2273 closed

[2021-02-27 10:28] eregon commented on #2204
Yes, we were waiting that a6282a3464017fc53aac61ee3bae8c42a9a2ff6f merges so that TruffleRuby picks the fixes.

[2021-02-27 11:18] ivoanjo commented on #2273
Mega fast, thanks! Looking forward to that 21.1 release :)

[2021-02-27 11:53] fniephaus commented on #2278
I must admit I don't understand why `asGuestValue` doesn't work. Is it because it considers visibility of packages?
Anyway, we have our own [wrapper class](https://github.com/hpi-swa/trufflesqueak/blob/f0f123e821b21e78d26e9160dc8aa0e5ca2698d2/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/interop/JavaObjectWrapper.java) for exposing host objects in TruffleSqueak, which shamelessly expos

[2021-02-28 12:59] eregon commented on #2127
This should be properly fixed now with ec62fae4f65ad57bf6de4d89ff70dd0597dbd058.

[2021-02-28 12:59] #2127 closed

[2021-02-28 13:02] petenorth commented on #2204
The only mismatch reported is listed below (it may have been been present before but I chose a representative sample of mismatches when posting this issue) .

The Cucumber test themselves pass now using either regex engine.

[code]

[2021-03-01 11:24] eregon commented on #1974
Fixed in 5f3339321c6bf3f30e7993101b2f2abce7f1b0f4, now `hiredis` should work just fine on TruffleRuby!

[2021-03-01 11:24] #1974 closed

[2021-03-01 12:12] eregon commented on #1993
Even if we implement `rb_add_event_hook()`, I don't think `rb_trace` would be useful on TruffleRuby, since it calls [this C function](https://github.com/tmm1/rbtrace/blob/73f8bb563f2926c02aabd3b630bee0c4d9060421/ext/rbtrace.c#L312-L526) on every Ruby method call and return, which seems expensive and also `in_event_hook` assumes there is a global lock, which there isn't for Ruby code in TruffleRuby

[2021-03-01 12:12] #1993 closed

[2021-03-01 12:15] eregon commented on #1088
5f3339321c6bf3f30e7993101b2f2abce7f1b0f4 fixes this and now `rugged` installs fine and can be required:
[code]

[2021-03-01 12:15] #1088 closed

[2021-03-01 12:17] eregon commented on #1343
It appears to install and require fine now with 5f3339321c6bf3f30e7993101b2f2abce7f1b0f4:
[code]

[2021-03-01 12:17] #1343 closed

[2021-03-01 12:20] eregon commented on #1400
I'll close this issue because all C extensions listed in the description work now :tada:, except `mini_racer` which is tracked in #1827.

[2021-03-01 12:20] #1400 closed

[2021-03-01 12:28] eregon commented on #1947
It works now!
![Screenshot from 2021-03-01 13-27-29](https://user-images.githubusercontent.com/168854/109497219-01444f80-7a92-11eb-948b-230e47d11206.png)
I believe due to 5f3339321c6bf3f30e7993101b2f2abce7f1b0f4.

[2021-03-01 12:28] #1947 closed

[2021-03-01 12:30] deepj commented on #1947
I can't test it myself until solving https://github.com/oracle/truffleruby/issues/2181 :)

[2021-03-01 12:37] eregon commented on #1947
@deepj Wouldn't using Rosetta 2 work?
Maybe it's inconvenient because you would need to install the SDL2 libs in a amd64 Homebrew prefix?

[2021-03-01 12:43] eregon commented on #1931
It works now, with 5f3339321c6bf3f30e7993101b2f2abce7f1b0f4:
[code]

[2021-03-01 12:43] #1931 closed

[2021-03-01 12:45] eregon commented on #1588
It installs and the example works fine with 5f3339321c6bf3f30e7993101b2f2abce7f1b0f4:
[code]

[2021-03-01 12:45] #1588 closed

[2021-03-01 14:36] eregon commented on #2247
The [external weak symbol issue](https://github.com/oracle/truffleruby/issues/2247#issuecomment-773365724) is fixed in https://github.com/oracle/graal/commit/1ddc1c2f178d652185cb5c20de91b9fe984a77e3, and I'm updating the graal import to pick that fix.

There is another issue with `pthread_{g,s}et_name_np` that @Palez is investigating.

[2021-03-01 14:50] jirkamarsik commented on #2204
Thanks for running the test suite! We found a fix for this mismatch as well and the fix is now in the CI pipeline, so it should be merged and picked up by TruffleRuby soon.

Thanks again for testing the regex implementation!

[2021-03-01 18:08] reidmorrison opened #2281 "Kernel.format does not truncate strings that are too long"
Using the nightly build version of Truffle Ruby:

Expected results:
[code]

Actual Result:
[code]

[2021-03-02 01:38] #2268 closed

[2021-03-02 11:01] eregon commented on #2281
Thanks for the report, @bjfish could you take a look?

[2021-03-02 11:03] chrisseaton commented on #2281
This seems like unusually low-hanging fruit - can we see if we can find a beginner to work on it? @MattAlp for example?

[2021-03-02 11:29] eregon commented on #2257
Fixed in https://github.com/oracle/truffleruby/commit/8cd22030ba26dba7aeacea8baf33f37ac877c3d8.

[2021-03-02 11:29] #2257 closed

[2021-03-02 11:38] eregon commented on #2281
Sounds fine to me.
@MattAlp if you are interested to work on this one, could you reply here?

[2021-03-02 16:23] chrisseaton commented on #2267
This blocks us from using a newer `grpc` as well.

[2021-03-02 18:11] wildmaples opened #2282 "Keyword argument hash doesn't allocate a new hash in caller"
## Issue overview

The behaviour of `**hsh`, the double-splatted/keyword argument, is different between MRI and TruffleRuby.

A new hash is allocated on the caller side when `m(**hsh)` is used in MRI, while TruffleRuby still uses the same `hsh` variable from the callee.

Because of that, any modifications to `hsh` within the method is then reflected in the original `hsh` variable in TruffleRuby, w

[2021-03-02 18:40] bjfish commented on #2282
This looks similar to internal issue: GR-28746

On the MRI side, I think it might be the following implementation:
https://github.com/ruby/ruby/blob/bad623558eafde1f2ea23d27afdfa6b1690ee16f/compile.c#L4265

[2021-03-02 19:53] eregon commented on #2282
Indeed, so `**h` (the caller-side `**`) should make a copy `h`.
Caller-side `**` is handled here: https://github.com/oracle/truffleruby/blob/eba171ee93c0463ab7fe193680a9d383b5ce6f7d/src/main/java/org/truffleruby/parser/BodyTranslator.java#L1841

I wonder if this is something I accidentally broke with this optimization: d00685be063b8e84932323dccdf4c26a6a6ef33d

We only need the copy for the case of

[2021-03-02 19:55] chrisseaton commented on #2282
Phew... caller-side copies are better!

[2021-03-02 20:09] wildmaples commented on #2282
I've found that MRI Ruby 3.0 seems to have removed the behaviour described in this issue - https://github.com/ruby/ruby/pull/2945

allocate a hash on the caller side.

How would we approach this? TruffleRuby is on 2.7 right now and presumably, we'd want to be on 3.0 eventually. When that happens, would we just revert the fix for this issue?

[2021-03-02 20:41] eregon commented on #2282
I think that PR does not intend to change that behavior, but maybe it does.
At least 2.7.2, 3.0.0, CRuby master and current TruffleRuby still make a copy for
`ruby -e 'def self.y(**kw) kw end; h = {a:1}; p h.object_id; p y(**h).object_id'`.
But indeed 3.0.0, CRuby master and current TruffleRuby do not make a copy for:
`ruby -e 'def self.y(kw) kw end; h = {a:1}; p h.object_id; p y(**h).object_id'`.

[2021-03-02 23:38] MattAlp commented on #2281
Sure thing. I'll pick it up on Sunday.

On Tue, 2 Mar 2021 at 06:38, Benoit Daloze <notifications@github.com> wrote:

[2021-03-03 12:22] deepj commented on #1947
@eregon I don't want to keep two versions of Homebrew. It's complicate and breaking many things from my experience. So I need to wait on a native version.

It seems Apple ARM64 port of JDK is near https://github.com/openjdk/jdk/pull/2200

BTW: Rosetta may be removed in the next version of macOS https://www.macrumors.com/2021/03/02/rosetta-macos-11-3-strings/

[2021-03-03 14:50] wildmaples commented on #2282
Thanks for taking over on the specs, @eregon , I didn't get a chance to work on it after I had read your comments and reacted 😛

I also agree that it might not be worth fixing in TruffleRuby if the behaviour is soon to be removed in Ruby 3.0 anyway.

So I took your recommendation and decided to make a PR to fix this root `m(**hsh)` issue on the `master` branch of SFR and `.dup` the hash variable.

[2021-03-03 16:19] norswap commented on #2271
I've been able to reproduce this issue. I have it somehow even worse, as I don't even get the output (`123`) in the console somehow.

Another issue I noticed is that mixing "function breakpoint" (where you type the name of the function in the breakpoint list) and "dot breakpoints" (added in the editor) causes the script to either not run, or to not even stop at the start.

(Function breakpoints al

[2021-03-04 08:17] petenorth commented on #2204
The most recent build has fixed it.

Many Thanks.

[2021-03-04 08:17] #2204 closed

[2021-03-04 11:15] eregon opened #2284 "Reusing precompiled gems between different development builds of TruffleRuby"
Reinstalling gems with native extensions can take a while, so we should ideally only change the ABI version (= `RbConfig::CONFIG['ruby_version']`) when needed.
I think we should probably update the ABI version manually (can be a simple number we increment) + have a CI check that if any of the headers, mkmf.rb or rbconfig.rb change then ensure the ABI version has been bumped.
That check is also sim

[2021-03-05 10:41] eregon opened #2285 "rdiscount fails to install because mkmf check_sizeof does not work"
https://github.com/rubygems/rubygems/runs/2035801677
[code]

`check_sizeof` used here:
https://github.com/davidfstr/rdiscount/blob/6b1471ec3b736839a29beaab8cac68050afeca79/ext/extconf.rb#L11

We need to set the `-rpath` for `libgraalvm-llvm.so` in that case, or change how `check_sizeof` works.
We should ensure there is a test in CI that checks that mkmf's `check_sizeof` works.

[2021-03-05 16:18] wildmaples opened #2286 "Time::at with a Rational argument doesn't return seconds to the correct decimal place"
# Background

When a `Time` is created using [`Time::at`](https://ruby-doc.org/core-2.6.3/Time.html#method-c-at) which a `Rational` object, the decimal points are off by a few. However, it isn't an issue when the Rational number gets smaller. Alternatively, if we use `Time::at(seconds, microseconds_with_frac)` everything is ok.

Here are some ✨ ~code snippets ~ ✨  to demonstrate the issue.

# Exam

[2021-03-05 16:24] chrisseaton commented on #2286
Looks like it does try to handle `Rational`?

https://github.com/Shopify/truffleruby/blob/ffeea5619fa8a123da947379ae038c9dcac1205d/src/main/ruby/truffleruby/core/type.rb#L468

[2021-03-05 17:13] wildmaples commented on #2286
It never reaches the else block, it stops at the first if-block:  https://github.com/Shopify/truffleruby/blob/ffeea5619fa8a123da947379ae038c9dcac1205d/src/main/ruby/truffleruby/core/type.rb#L461

The object passed in seems to be an `Integer`.

[2021-03-05 17:20] wildmaples commented on #2286
I think I found the issue: the [`sec` argument in the `Time::at` method](https://github.com/Shopify/truffleruby/blob/ffeea5619fa8a123da947379ae038c9dcac1205d/src/main/ruby/truffleruby/core/time.rb#L303) in time.rb [doesn't have a case to handle the `Rational` type](https://github.com/Shopify/truffleruby/blob/ffeea5619fa8a123da947379ae038c9dcac1205d/src/main/ruby/truffleruby/core/time.rb#L312).

[2021-03-05 17:53] eregon commented on #2286
I remember doing an optimization for `Time.at(Float)`, but I think it doesn't affect `Time.at(Rational)`.

I think `Time.at(Rational)` should work by going to the second part of the method (the first part is the fast path for simple cases, Rational is not really a simple case).
Maybe these computations are losing precision by converting to a Float at some point:
https://github.com/Shopify/truffler

[2021-03-05 17:54] eregon commented on #2286
This is something that probably makes a lot of sense to debug with `--inspect` or VS Code.

[2021-03-06 00:19] gogainda commented on #1078
run it with latest truffleruby and got the following results:
[code]

[code]

[2021-03-06 00:22] gogainda commented on #1415
Latest update:
[code]

[2021-03-06 00:31] gogainda commented on #1625
Latest results:
[code]

[2021-03-06 16:17] gogainda commented on #1938
@ocher could you double check this issue again? Locally I didn't notice that it's slow or hanging

[2021-03-08 07:49] ocher commented on #1938
Hi @gogainda

Yes, it is still slow for me. I've upgraded to:

[code]

And here are the results:

[code]

[2021-03-08 10:52] gogainda commented on #1938
@ocher is it truffleruby-dev or stable one? I was checking with latest dev

[2021-03-08 11:12] ocher commented on #1938
@gogainda I've used RVM to install it. I guess that it must be the stable release. I've pasted in my previous comment output of `ruby -v`.
If you would like I could check the latest dev version, just please let me know how could I get it.

[2021-03-08 11:15] eregon commented on #1625
@gogainda That's with no special flags and using the nightly builds, right?
Thank for the update.

I think 36 seconds is good enough, at least for this use case, and we improved ~40x since the first report here, so I think we can close this.

[2021-03-08 11:15] #1625 closed

[2021-03-08 11:17] eregon commented on #1415
@gogainda Thanks for the update, that looks pretty close to CRuby, so I think we can close this (most likely MultiTier by default helps).

[2021-03-08 11:17] #1415 closed

[2021-03-08 11:19] eregon commented on #1938
@ocher You can use `rvm install truffleruby-head`, see https://github.com/oracle/truffleruby#getting-started

[2021-03-08 11:20] eregon commented on #1078
Thanks for the update, that looks pretty close.
It would still be worth investigating how to get it faster on TruffleRuby.

[2021-03-08 12:34] gogainda commented on #1625
@eregon no extra args, yes

[2021-03-08 14:37] ocher commented on #1938
@eregon Thank you.

So I have tested it again, now I have installed the following version:

[code]

Results are better, but still it seems slow compared to MRI:

[code]

MRI:

[code]

[2021-03-08 15:31] norswap commented on #2271
I've filed an issue upstream to the tooling team, I'm waiting on word from there.

[2021-03-08 16:55] eregon commented on #2277
One issue here are usages of
[code]
Where one thread might poll and go into the safepoint while being in that synchronized block, and another thread might be blocked trying to enter the same monitor/lock, and Java's `synchronized` cannot be interrupted.
I think we need to use a lazy ReentrantLock per Object for `TruffleRuby.synchronized` instead.

[2021-03-09 03:44] marcandre opened #2290 "Slow to run specs of rubocop-ast"
The test suite of https://github.com/rubocop/rubocop-ast runs in ~4 seconds in Ruby
TruffleRuby takes over 2 minutes.
TruffleRuby-head in 3 successive runs took [3m26s](https://github.com/rubocop/rubocop-ast/runs/2062457261?check_suite_focus=true), failed (sorry no link) after 10 minutes and then took [1m37](https://github.com/rubocop/rubocop-ast/runs/2062618835?check_suite_focus=true).

1) Is the

[2021-03-09 11:53] eregon commented on #2277
Fixed by https://github.com/oracle/truffleruby/commit/4574e95196732f836aa3fc4fc6c9883fe79ad4db, thanks for the report.

[2021-03-09 11:53] #2277 closed

[2021-03-09 13:23] #2286 closed

[2021-03-09 16:38] marcandre commented on #2290
Oops, fixed the link to the [1m37](https://github.com/rubocop/rubocop-ast/runs/2062618835?check_suite_focus=true) one.
And no lnik for 10min run, as I did "restart all jobs" and that seem to delete the log. There was just a very generic error like "Job failed", no stack trace or nothing. I notice this morning that I set `timeout-minutes` to 5, so it's not clear how come it took 10 minutes to trigg

[2021-03-09 17:44] wildmaples opened #2291 "Can't compile unicorn because of kgio"
# Issue

We are unable to `bundle install unicorn` on `storefront-renderer`.

This is the exceptions I get when trying:

[code]

We think it is because that there are some internals from `kgio` (used by unicorn) that TruffleRuby haven't implemented yet.

It seems like this was an issue for others as well but solved by just not using unicorn: https://github.com/oracle/truffleruby/issues/1379 https:

[2021-03-09 19:58] eregon commented on #2291
The specific error above (`@rpath/libgraalvm-llvm.1.dylib not found`) is likely to be fixed by a PR which should be merged soon.
With that `gem install unicorn` succeeds for me on Linux, and `unicorn --help` actually works.

[2021-03-09 20:39] eregon commented on #2291
I forgot to link, the specific error is essentially a duplicate of https://github.com/oracle/truffleruby/issues/2285

[2021-03-09 20:40] wildmaples commented on #2291
Thank you -- was just about to ask!

[2021-03-10 01:56] #2282 closed

[2021-03-10 09:24] tomstuart commented on #2291
Is this a PR in `oracle/truffleruby` or elsewhere? (I can’t spot it.)

[2021-03-10 10:37] eregon commented on #2291
It's an internal PR.

[2021-03-10 13:37] eregon commented on #2285
Fixed by b97777e8f898f710d1910f5f86fc4e585f25ef94

[2021-03-10 13:38] eregon commented on #2291
`unicorn` and `kgio` should install fine with b97777e8f898f710d1910f5f86fc4e585f25ef94.

[2021-03-10 13:38] #2291 closed

[2021-03-10 20:01] petenorth commented on #2086
Closing as this as these cucumber tests have run successfully with

`truffleruby 21.1.0-dev-63052049, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]`

[2021-03-10 20:01] #2086 closed

[2021-03-10 21:50] marcandre opened #2294 "Odd crash when bundling resources"
Maybe not frequent enough to worry about, but got a crash for this build: https://github.com/rubocop/rubocop-ast/pull/174/checks?check_run_id=2081135114

<details>

[code]
Ruby Thread id=35 from /home/runner/.rubies/truffleruby-21.0.0/lib/gems/gems/bundler-2.2.14/lib/bundler/worker.rb:88 terminated with internal error: (java.lang.RuntimeException)
  from org.truffleruby.core.thread.ThreadManager.t

[2021-03-10 23:10] gogainda opened #2295 "slowes rspec-core tests: example_group_spec.rb:1007"
[code]
ruby 2.7.1
[code]
vs
truffleruby-head
[code]

[2021-03-11 11:29] eregon commented on #2294
Thank you for the report.
This is an issue on 21.0 which has been fixed on `truffleruby-head` and will be in 21.1.

The error line is https://github.com/oracle/truffleruby/blob/vm-21.0.0/src/main/java/org/truffleruby/language/FrameAndVariablesSendingNode.java#L235 which no longer exists on master.
Possibly related to #2086 and #2156.

[2021-03-11 11:29] #2294 closed

[2021-03-11 13:40] norswap commented on #1489
Fixed by b981115aa6a3532870c8c0c82f8e90f757185844

[2021-03-11 13:40] #1489 closed

[2021-03-11 15:43] #1681 closed

[2021-03-12 12:00] ivoanjo commented on #1672
This also breaks `pry-byebug`, and thus `pry`: running `pry` with `pry-byebug` installed makes it die immediately:

[code]

[2021-03-12 12:30] eregon commented on #1672
Is there maybe a way to "disable plugins" for `pry` as a workaround?

We seem to have some logic for calls for `set_trace_func` but not for `TracePoint`.
We should add support for the `TracePoint` `:call` event, it's probably quite some work though (it was for the `:class` event at least).

[2021-03-12 14:23] #62 closed

[2021-03-12 14:30] eregon commented on #62
We now use the libxml2/libxslt from nokogiri and not from the system, similar to CRuby, since dfc60c65747bab004a0c0979a9677a3075b20858.
With that, we also pass all tests of nokogiri, so it's time to close this :)

[2021-03-12 16:29] deepj commented on #2181
@eregon it seems Apple ARM support in OpenJDK (https://github.com/openjdk/jdk/pull/2200) will be landed soon. I guess there will be some work on Graal side. Is any chance to offer some experimental builds of TruffleRuby with Apple ARM support? I want to really avoid any compilation of Graal/TruffleRuby on my system.

Of course, you have other priorities. I'm just asking :)

[2021-03-12 16:32] chrisseaton commented on #2181
I hope to get an M1 laptop when Apple take away my DTK, so may go back to working on this.

[2021-03-12 16:57] ivoanjo commented on #1672
Yeap, good point. `bundle exec pry --no-plugins` does the trick indeed :)

For now I've just disabled installing `pry-byebug` when running in TruffleRuby in https://github.com/DataDog/dd-trace-rb/pull/1406 .

[2021-03-12 17:38] norswap commented on #2267
Well, not that easy :)
Fixed in 1a40956f879252dd13d49a9b778ca1ee375bd53c

[2021-03-12 17:38] #2267 closed

[2021-03-12 18:07] eregon commented on #2181
Once there are labsjdk JVMCI builds (https://github.com/oracle/graal/issues/2666), we can look at this and share a experimental build.
We'll also need Sulong to support darwin-arm64 for C extensions, for which the related linux-arm64 support is I think in progress.

[2021-03-12 21:11] skunkworker commented on #62
I'm still getting errors trying to install `nokogiri -> 1.11.2` on `truffleruby-21.0.0`.

I've tried with `bundle config build.nokogiri --use-system-libraries` and `gem install nokogiri -- --use-system-libraries`.

But I'm still getting errors about `polyglot.h`:

[code]

[2021-03-13 20:19] petenorth opened #2296 "Installing the pg gem requires libpq-dev"
`gem install pg` requires `libpq-dev` to be installed.

Recently changes in TruffleRuby enabled the `nokogiri` gem to be installed without requiring the `libxml2-dev` and `libxslt-dev` to be installed.

Should it be possible to have the `pg` gem to 'just work'?

In terms of installing gems I can now use the `flavorjones/truffleruby:nightly-buster-slim` Docker image as a base for a rails project th

[2021-03-14 20:05] chrisseaton commented on #2281
We figured out this was completely missing support for precision for strings. We started work on it today.

[2021-03-15 10:54] eregon commented on #62
@skunkworker Could you report as a separate issue?
The recent change I mentioned applies to `truffleruby-head` and will in 21.1 (see milestone above), it's not in 21.0.

[2021-03-15 11:04] eregon commented on #2296
No, this is the same as for CRuby, installing `pg` on any Ruby requires `libpq-dev`:
https://github.com/ged/ruby-pg#label-Requirements
I also just checked and without `libpq-dev` it fails to install on CRuby too.

Nokogiri by default on CRuby and now on TruffleRuby downloads and builds its own vendored/packaged version of libxml/libxslt (https://nokogiri.org/tutorials/installing_nokogiri.html#inst

[2021-03-15 11:04] #2296 closed

[2021-03-15 12:05] gogainda opened #2298 "savon gem test failure: ArgumentError: unknown keyword: code"
[code]
This is the place where issue appears:
[code]

[2021-03-15 12:25] eregon commented on #2298
Interesting, it's because HTTPError implements `to_hash`:
https://github.com/savonrb/savon/blob/0bf2a70b9c788fdef32156fad7537fc7ca46ad29/lib/savon/http_error.rb#L22-L24

@bjfish so `raise` must not use `cause:` or `**kwargs` but it needs to only take positional arguments, and then extract the `cause:` if the last arg is a Hash and has a `cause` key (we should check how MRI decides that).

This is

[2021-03-15 12:31] eregon commented on #2247
Related: recent grpc/google-protobuf need WeakMap to support primitives (#2267) which is now fixed.

[2021-03-15 12:51] eregon commented on #2247
Trying it the examples today on Linux, I get:
[code]

The first error might be solved by adopting Truffle safepoints, I'm not sure though.

The second error comes from Sulong, that node seems to need some extra specializations.

[2021-03-16 17:35] chrisseaton opened #2299 "Struct#dig uses exceptions for control-flow"
https://github.com/oracle/truffleruby/blob/d3ff03e9fd13212a69657a2b0c3ec5ff1727559d/src/main/ruby/truffleruby/core/struct.rb#L257-L261

Must be a better way?

Discovered with @jantnovi.

[2021-03-16 17:38] chrisseaton opened #2300 "#dig is recursive, and could be iterative"
TruffleRuby's `#dig` is purely recursive. This means it's limited by inlining budget, there's a performance cliff, and it generally doesn't PE well. In MRI the first level is recursive then there's an iterative version.

https://github.com/oracle/truffleruby/blob/d3ff03e9fd13212a69657a2b0c3ec5ff1727559d/src/main/ruby/truffleruby/core/array.rb#L294-L302

https://github.com/ruby/ruby/blob/1f0e0dfb22

[2021-03-16 18:12] eregon commented on #2299
Right, we can probably inline Struct#[] and adapt it as needed.

[2021-03-17 15:52] bjfish commented on #2298
@gogainda This is now fixed at https://github.com/oracle/truffleruby/commit/310f0550b8cada1c89e2172182c7ab63e5014d58.

[2021-03-17 15:52] #2298 closed

[2021-03-17 17:00] eregon commented on #2221
This should work fine now since TruffleRuby (-head and the next release) now uses the packages libraries for nokogiri since https://github.com/oracle/truffleruby/commit/dfc60c65747bab004a0c0979a9677a3075b20858

[2021-03-19 19:11] fnordfish opened #2302 "Positionial Hash argument mistaken for keyword argument"
The following method will silently drop the argument `b` on truffleruby 21.0.0,:

[code]

In my tests, this seems to only be an issue, if there's another default argument before the "Hash" argument.

[code]

[2021-03-21 02:26] chrisseaton commented on #2299
Started investigating this. What is going on? How on earth is TruffleRuby so good at removing exceptions here?!

[code]

[code]

The exception does seem to exist:

[code]

[code]

Am I out of date with the performance of exceptions? TruffleRuby can remove creating the backtrace? And what isn't `$!` set in either MRI or TruffleRuby at the end of the program?

[2021-03-22 10:16] eregon commented on #2302
Thank you for the report.
I think what happens is the `{"MISS"=>"ME"}` is considered as keyword arguments (for compatibility with 2.6).
But somehow the extra keyword argument does not cause an error.
In 2.7, keyword argument hashes can contain any key, not just Symbol.

In fact, if the code was `p foo(:a, {:MISS=>"ME"})` then it raises `unknown keyword: :MISS (ArgumentError)` on 2.6, 2.7 and Truff

[2021-03-22 10:46] eregon commented on #2299
Yes, as long as we can see `$!` isn't used in the `rescue` body.
A call in rescue would invalidate that, as the method called might access `$!`.

`$!` is only set in `rescue` and is cleared after. Since the `rescue` rescued the exception, there is no more an ongoing unwinding exception.

[2021-03-22 10:48] eregon commented on #2299
Also AbstractTruffleException builds its stacktrace lazily as unwinds.
We need to compute the stacktrace eagerly only if the Ruby Exception is captured (e.g. in $!) and no longer unwinding the stack.

[2021-03-22 10:50] fnordfish commented on #2302
Thanks for your explanations, that was kind of what I thought was going in.

I was putting together a PR (https://github.com/socketry/console/pull/23/commits/18bf2a4ce7db67b24c6dd268e8f0f7170d3414a2). This gem uses ENV quite a lot for internal default configurations like this `def self.default_log_level(env = ENV)`. I wanted to add a `def self.default_terminal(output = nil, env = ENV, verbose: sel

[2021-03-22 10:53] chrisseaton commented on #2299
Wow I'm impressed we got that far.

So there's no issue here is there? Shall we close it?

[2021-03-22 11:31] eregon commented on #2299
It relies on inlining Struct#dig -> Struct#[] -> #raise to optimize the exception away entirely but that seems reasonable and likely.

In interpreter and first tier it would likely still be faster to avoid the exception.
I'm not sure how frequent it is to `dig` on a Struct though.

[2021-03-22 11:44] eregon commented on #2302
I think indeed it's best to avoid having a default positional Hash argument + keyword arguments, that works unreliably across Ruby versions. For instance:
[code]

So in 2.7 that's actually a warning if there is a Symbol in Hash, and it causes hash splitting, which is something deprecated in 2.7 and removed in 3.0.

There is still some logic in TruffleRuby to do hash splitting, but it seems to not

[2021-03-22 12:00] fnordfish commented on #2302
totally agree with your conclusions, although my usecase was this:

[code]

which is also valid in ruby 3.0

[code]

[2021-03-22 12:22] eregon commented on #2302
Yeah, if you pass all 3 arguments it should work fine (that example also works on TruffleRuby).

It's when you want to pass only the 2nd or 3rd it gets quite tricky.
In Ruby <= 2.7, Ruby generally prefers keyword arguments to optional arguments, except in this edge case with optional arguments and non-Symbol keys where it decides to split. If you can have Symbols in the optional argument it wouldn

[2021-03-22 12:26] fnordfish commented on #2302
So true. Totally missed that.

[2021-03-22 12:36] fnordfish commented on #2302
FYI, it does work in jruby

[code]

[2021-03-22 14:59] chrisseaton opened #2303 "Interpolated string literals aren't frozen"
[code]

MRI: `true`, TruffleRuby: `false`.

Found by @tomstuart in Shopify's codebase. @kirs is looking at fixing it as a beginner issue so please don't gazump his efforts.

[2021-03-22 15:03] chrisseaton commented on #2303
This should probably be specified in RubySpec but possibly isn't https://github.com/oracle/truffleruby/blob/master/spec/ruby/language/string_spec.rb (I haven't looked yet myself.)

[2021-03-22 15:12] bjfish commented on #2303
@chrisseaton @kirs This example will also change in `3.0.0` to `false`:
https://docs.ruby-lang.org/en/3.0.0/doc/syntax/comments_rdoc.html#label-frozen_string_literal+Directive

[2021-03-22 15:40] eregon commented on #2303
Yes, CRuby changed that for 3.0.
There is no much point to freeze interpolated strings literals since they can't be deduplicated at parse time.
Does it cause any compatibility issue?

I think it's not worth fixing, because it would likely break many things in core files that rely on them not being frozen, for probably very little value.

[2021-03-22 15:45] eregon commented on #2303
I forgot I'm actually the person that did this change in CRuby: https://github.com/ruby/ruby/pull/3488 :D
There are already specs for this, see that PR.

[2021-03-22 15:46] tomstuart commented on #2303
Here’s the problem:

[code]

MRI prints `foo 14` (and leaves the original string alone), TruffleRuby prints `foo 14bar` and unexpectedly mutates the original.

[2021-03-22 15:49] eregon commented on #2303
@tomstuart Thanks for the example. It's also `foo 14bar` on CRuby 3.0.

`String#+@` is incorrectly used here, it might return the receiver, if one wants a safe copy, they need `String#dup` instead.
Could you check if it makes sense fixing the application since anyway this would break in 3.0 and it seems an incorrect usage of `String#+@`?

[2021-03-22 16:11] chrisseaton commented on #2303
It took us a day to find this issue - it shows up as flakiness because it depends on the order specs are run due to the modification of the original string. We have some other flakiness elsewhere that could be the same cause. We'll see if we're able to fix without a huge diff on our core.

[2021-03-22 20:08] #2302 closed

[2021-03-23 10:23] eregon commented on #2302
Fixed in d8890e7f55004c6ae6c55e0baf013501e4820adc.

[2021-03-23 15:47] chrisseaton commented on #2299
Deferred until after #2301.

[2021-03-23 17:28] eregon commented on #2254
@tomstuart Could you make a PR to ruby/openssl to fix it upstream too? (https://github.com/oracle/truffleruby/pull/2255#issuecomment-776010780)

[2021-03-23 17:29] #2245 closed

[2021-03-23 17:30] eregon commented on #2233
We now use IRB 1.3.3 and reline 0.2.3 and it's much faster, closing.

[2021-03-23 17:30] #2233 closed

[2021-03-23 17:43] eregon commented on #2004
Very few things left from the list above:
* Pattern matching is partially implemented, but in 2.7 it's experimental so likely not used much.
* Keyword arguments changes were done, except for some edge cases which make more sense to fix when targeting Ruby 3 (it would be work that would be basically thrown away when moving to Ruby 3)
* The new encoding CESU-8, needs support in JCodings.
* Fiber#rai

[2021-03-24 09:41] tomstuart commented on #2254
@eregon Thanks for the nudge — it was in our backlog but I hadn’t got to it yet. The upstream fix is https://github.com/ruby/openssl/pull/424.

[2021-03-24 16:24] gogainda commented on #2004
I looked into ```C-API *_kw functions``` but didn't figure out how to approach this works. @eregon Can we do 1 function so I can work on the rest by the example?

[2021-03-24 16:48] eregon commented on #2004
@gogainda https://github.com/oracle/truffleruby/blob/169bce9afead36cde38ae32a19d27b0b95cf9f6d/src/main/c/cext/class.c#L79-L82 is an example.
The `*_kw` functions can be found by `git grep -E 'rb_.+_kw\b' lib/cext/include/ruby`.

[2021-03-24 16:50] gogainda commented on #2004
I thought that ```// Ignoring kw_splat for now ``` should be replaced by actual code, no?

[2021-03-24 17:08] #2300 closed

[2021-03-25 17:32] eregon commented on #2004
@gogainda At this point it seems unnecessary, because of how we handle keyword arguments in TruffleRuby.
I think we'll only need to deal with this when migrating to Ruby 3.0.
So it's OK to just ignore it and add this comment as a reminder when we move to Ruby 3.

[2021-03-25 21:33] deepj commented on #2181
Support of Apple ARM's has been merged into OpenJDK (just sayin')

[2021-03-25 21:58] #2303 closed

[2021-03-26 16:32] #2254 closed

[2021-03-28 17:19] josevnz opened #2305 "GraalVM cannot run WPScan"
# Issue

[WPScan](https://github.com/wpscanteam/wpscan) is a WordPress vulnerability scanner written in Ruby. Installation works fine on Fedora 30 after providing the following dependencies:

## Environment
[code]
## Dependencies

[code]

## But the script dies during execution (it runs briefly using 3 times the amount of memory the regular Ruby run, plus twice the CPU) with the following error:

[2021-03-28 19:31] chrisseaton commented on #2305
To `bundle install` I had to make this change.

[code]

I then tried running specs with `bundle exec rake spec`. This goes to load a 100k line YAML file from `spec/fixtures/db/dynamic_finders.yml`, which is just grinding away forever. After it's loaded performance seems to grind away in `ruby.WPScan::DB::DynamicFinders::Wordpress.df_data (wordpress.rb:8)`, then specs start to run.

[code]

I didn'

[2021-03-28 21:03] josevnz commented on #2305
Hello,

Thanks for looking into this!. I'm aware WPScan is not CPU intensive but was hoping than the memory utilization would drop instead (but before the crash it went 3 times up, almost like it had  a memory leak).

I'll keep looking forward to this project, it looks promising but it is not a drop in replacement for Ruby or JRuby any time soon.

[2021-03-28 22:05] chrisseaton commented on #2281
Did you make any progress on this, @MattAlp?

[2021-03-29 09:48] eregon commented on #2305
It is expected TruffleRuby (and JRuby) use more memory than CRuby. After all they have a JIT and that needs some memory and CPU to work.
There are cases where TruffleRuby (and JRuby) can use less memory, e.g., when running a large apps with multiple threads instead of multiple processes on CRuby.
But for a single thread/process it is very likely CRuby will use less memory, at the cost of being slo

[2021-03-29 10:01] eregon commented on #2305
The test suites of both `ethon` and `typhoeus` pass on TruffleRuby, and in fact TruffleRuby is in CI for both of those gems.
And as Chris replied, the test suite of wpscan passes too.

So we need another way to reproduce this issue.

@josevnz Could you share the `$site` and `$WPSCAN_API_KEY` for a test website where it reproduces?
This could be sent privately if needed: https://github.com/oracle/t

[2021-03-29 14:17] josevnz commented on #2305
Hello Benoit,

I cannot share my key because is tied to my project but you can quickly get yours (they are free) on the following URL: https://wpscan.com/api (Free tier, 25 API requests per day).

I sent you an email with the URL on a blog you can use for testing (one of mine).

Please ping me if you need anything else, and thanks for looking into this.

[2021-03-29 14:40] eregon commented on #2261
I'm making progress on this, removing the `CatchFor*Node` and `ExceptionTranslatingNode` for method/lambda/proc and moving that logic inline in subclasses of RubyRootNode.

For lambdas we have a slightly unfortunate arrangement where we have 2 SequenceNode due to CheckArityNode executing the child:
[code]

So probably CheckArityNode should avoid having a child node, which would also reduce how muc

[2021-03-29 17:54] eregon commented on #2305
I've tried to reproduce and I could but not reliably.

I ran on JVM with some debug logging (using the new `--engine.TraceStackTraceInterval`):
[code]
Last stracktrace:
[code]
and then:
[code]

Sometimes, I instead get a segfault inside native code, probably libcurl:
[code]
The error report from the JVM says `The crash happened outside the Java Virtual Machine in native code`.

Maybe TruffleRuby p

[2021-03-29 22:16] chrisseaton commented on #2261
Let me know if you want a before-and-after measurement for a given PR.

[2021-03-29 23:20] josevnz commented on #2305
Ouch. I wish  I could help you there. Could be an issue with libcur (but on the other hand I would expect the Ruby code to barf as well). Do you think is OK to leave this open and maybe I can try with the next version of GraalVM?

Thanks,

--Jose

[2021-03-30 13:51] eregon commented on #2305
Tracked internally as GR-30480, it could potentially be a Truffle NFI issue.

[2021-04-01 08:03] #2299 closed

[2021-04-01 15:10] kwilczynski opened #2307 "Difference between Ruby's Check_Type() and implementation in TruffleRuby"
Hi @eregon, sorry for late reply!

[...]

[...]

I was able to derive a small piece of code that can reproduce what I was talking about:

[code]

[code]

Running it against Ruby and TruffleRuby:

- Ruby:

[code]

- TruffleRuby:

[code]

The function I am using is `Check_Type()` from [include/ruby/internal/value_type.h#L329-L352](https://github.com/ruby/ruby/blob/master/include/ruby/internal/value_

[2021-04-01 15:43] eregon commented on #2307
Thanks for the great bug report.
We should fix the error message for `rb_check_type`, so that it matches CRuby.

[2021-04-01 16:01] kwilczynski commented on #2307
Hello,

Just to add - prior to Ruby 3.0, the `Check_Type()` has also been a macro wrapping a number of functions - somewhat less sophisticated than what recent versions of Ruby offers, as per:

[code]

N.B. This has no bearing on the message that Ruby would emit, whether it would be 2.7 or 3.0.

Krzysztof

[2021-04-01 17:12] eregon commented on #2261
There were 2 PRs here: 4e90052 and 4abc6b6e68a62a4956f7bd58a52b57741cf7b254 (complete diff: 14322c1778b03279ea1b4efb71bb1dfa8a8d0e53...4abc6b6e68a62a4956f7bd58a52b57741cf7b254)
So it would be interesting to compare before them at 14322c1778b03279ea1b4efb71bb1dfa8a8d0e53 and after them at 4abc6b6e68a62a4956f7bd58a52b57741cf7b254.

Those PRs should reduce the total number of nodes for method & block

[2021-04-03 11:05] gogainda opened #2309 "colorls failure: run out of memory on CI"
during invocation of rubocop job:

https://gist.github.com/gogainda/94b24cc195b875183dcad67ddb473ca5

taken from: https://travis-ci.org/github/athityakumar/colorls/jobs/764345233

[2021-04-06 10:57] eregon opened #2312 "require '/absolute/path/' is much slower than $LOADED_FEATURES.include?"
Found by @fxn in https://github.com/fxn/zeitwerk/pull/157#issuecomment-813988837

[code]

[2021-04-06 10:58] eregon commented on #2312
@bjfish Could you take a look and profile this with `--cpusampler`?

[2021-04-06 11:04] eregon commented on #2312
I get different results with:
[code]

I wonder if maybe it's due to running on macOS or some other environment-specific thing like maybe the pwd having a symlink in it?

[2021-04-06 11:06] eregon commented on #2312
Very similar with 972a0521 which the same version you used:
[code]

[2021-04-06 11:08] eregon commented on #2312
Ah, I think I found why, it's because I was benchmarking with `export RUBYLIB=$HOME/code/benchmark-ips/lib` for convenience, but that means RubyGems isn't loaded.

If I don't do that and `gem i benchmark-ips` instead, then I have a much larger difference:
[code]

[2021-04-06 11:10] fxn commented on #2312
Interesting. Yes, I ran the benchmark on macOS.

In a string that exists as is in `$LOADED_FEATURES` do you think symlinks matter? Is there disk access involved if the string is found?

[2021-04-06 11:19] eregon commented on #2312
I guess the overhead (12x=>144x) is mostly due to all the extra logic in RubyGems' `require`.
That monitor usage is probably quite expensive, and since 2.7 CRuby uses a native extension for `monitor`, which might be faster than the pure-ruby version.
There is likely also quite a lot of disk accesses & extra computation by RubyGems before it calls the original `require`.

If I follow https://github

[2021-04-06 11:26] eregon commented on #2312
In RubyGems 3.1.4 shipped with Ruby 2.7.2 there is pretty heavy logic doing File.expand_path in a double loop of $LOAD_PATH and Gem.suffixes (= `["", ".rb", ".so"]`):
https://github.com/oracle/truffleruby/blob/972a0521668532c070bdf9915e2524d3fefadb44/lib/mri/rubygems/core_ext/kernel_require.rb#L44-L67

The actual time spent in the original require is only ~10% of the time spent in RubyGems' requir

[2021-04-06 11:31] eregon commented on #2312
So this seems almost entirely a RubyGems issue, and newer RubyGems seems faster.

RubyGems 3.2.3 shipped with CRuby 3.0.0:
[code]

RubyGems 3.1.4 shipped with CRuby 2.7.2:
[code]

So when we update to a newer RubyGems (probably when migrating to 3.0) it should be similar to CRuby 3.0.0 results.

[2021-04-06 11:53] eregon commented on #2307
@aardvark179 Could you look at this one? Probably we need some kind of mapping from `T_STRING` to `String` and for all other `T_*`.

[2021-04-06 12:02] fxn commented on #2312
@eregon This can be closed perhaps after your discovery? I left a summary in https://github.com/fxn/zeitwerk/pull/157#issuecomment-814063956.

[2021-04-06 12:04] eregon commented on #2312
Yeah I think we can close this, it'll be naturally solved when updating RubyGems.
If there are performance issues in practice with RubyGems 3.2.3 we might consider updating it before updating to 3.0.0.

[2021-04-06 12:04] #2312 closed

[2021-04-06 12:27] kwilczynski commented on #2307
Hi @eregon and @aardvark179,

Not sure if this helps, but I added a small helper to my Ruby Gem:

- https://github.com/kwilczynski/ruby-magic/commit/e18179dbf212530b3a84634580db3c0945d8025c
- https://github.com/kwilczynski/ruby-magic/commit/7a05a0c50991a9f138e05754fa5fa3661434ed51

Not sure if this was the best way, but does work and normalizes the type checking between Ruby and TruffleRuby a litt

[2021-04-06 12:59] eregon commented on #2309
Yes, we noticed as well, cc @bjfish.
That message seems to mean the Native Image GC ran out of memory, and we couldn't reproduce it, and a TravisCI run on a fork of the repo also passed.
So I think there is not much to do here besides waiting the next build.
If it happens more often it might be worth to try harder to reproduce it, but so far it's been very difficult to reproduce OOM from TravisCI

[2021-04-06 12:59] #2309 closed

[2021-04-06 15:44] petenorth commented on #1985
Focusing on the run rspec step of

https://github.com/petenorth/schools-experience/actions/workflows/ruby-rspec-truffleruby.yml

The difference between `--engine.Mode=latency` and `--engine.Mode=throughput` is now very roughly 20%-25%.

`--engine.Mode=multitier` is better than `--engine.Mode=throughput`

Options (rspec, app=latency) |  Run Rspec (6/4/2021) | Run Rspec (5/4/2021) | Run Rspec (4/4/2

[2021-04-07 01:30] chrisseaton commented on #2261
Before: stack 1277 deep, 1.789 GB heap, 27,935,639 objects, first request in 130 s.

After: stack 1043 deep (18% saved), 1.785 GB GB heap (0.2% saved), 27,860,223 objects (0.3% saved), first request in *it's noisy - I don't think there's a significant difference*.

So I'm afraid that didn't have a huge impact, except for stack sizes.

<details>
  <summary>Stacktrace before and after in case you wa

[2021-04-07 09:31] kirs opened #2313 "String#inspect and encodings"
(discovered this while pairing with @chrisseaton on https://github.com/oracle/truffleruby/pull/2308)

[code]

On MRI this prints:

[code]

And on TruffleRuby:

[code]

I think this one would benefit from consistency with MRI because developers might be surprised by `"\u0066\u006F\u006F\u0062\u0061\u0072"` while it's a legit string.

[2021-04-07 09:34] kirs opened #2314 "Kernel#format does not preserve encoding"
(discovered this while pairing with @chrisseaton on https://github.com/oracle/truffleruby/pull/2308)

[code]

On MRI:

[code]

On TrufflyRuby:

[code]

[2021-04-07 09:58] kirs commented on #2281
Found a few more bugs while working on this:

* https://github.com/oracle/truffleruby/issues/2314
* https://github.com/oracle/truffleruby/issues/2313

[2021-04-07 11:51] chrisseaton commented on #2314
Pack and format seem in general to possibly not understand anything but the most basic encodings.

[2021-04-07 13:18] eregon commented on #2313
Yes, that would be good to fix.

[2021-04-07 13:32] eregon commented on #1985
Thank you for the numbers.
Note that MultiTier is enabled by default now, so it probably applied to all those 12 runs.
And the default `--engine.Mode` is `default` but it's the same as `throughput`.
`Mode=latency` is default mode + disabling splitting + disabling inlining.
Disabling inlining is a bit strange with MultiTier because then we will compile in tier 1 and tier 2 without inlining and very

[2021-04-07 13:32] #1985 closed

[2021-04-07 14:39] eregon opened #2315 "RbConfig::CONFIG["mandir"] should be set"
It might be a good idea in general to check which other keys we might be missing in RbConfig compared to CRuby.

See https://github.com/rubygems/rubygems/pull/4209#issuecomment-756967502

[2021-04-07 16:26] kirs commented on #2313
👍 I can see what I can do once https://github.com/oracle/truffleruby/pull/2308 is merged

[2021-04-07 18:26] postmodern opened #2316 "[perf] Integer#chr(Encoding::UTF_8) is considerably slower than CRuby"
I discovered this performance issue when debugging an issue with calling `Integer#chr` on invalid multi-bytes UTF-8 words taking considerably longer on TruffleRuby than CRuby. The issue does not seem to be related to raising/rescuing the RangeError exception.

### Example

[code]

### ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-linux]

[code]

### truffleruby 21.0.0, like ruby 2.7.2, G

[2021-04-07 18:31] headius commented on #2316
I would be willing to be the issue *is* the raise of RangeError. As I noted in https://github.com/jruby/jruby/issues/6652#issuecomment-815126822, your `raise` benchmark here is eliminating the backtrace for the RangeError. I do not believe this is valid behavior, since between the call to `chr` or `bad_chr` and the rescue, the RangeError exception might have been removed, and the `const_missing` t

[2021-04-07 19:00] headius commented on #2316
A modified version of your bench that only does the direct raise, with and without the `UNPRINTABLE` constant lookup, shows that it is indeed the exception handling, with the backtrace only eliminated along the non-`UNPRINTABLE` path:

[code]

[code]

[2021-04-07 19:13] chrisseaton commented on #2316
This second case is really a no-op:

[code]

We can see at compile-time that the class of the exception is the same as the class in the `rescue` clause, so it becomes basically like this:

[code]

Then the `goto` is removed because it just jumps to the next line anyway. We do actually have a few 'guards' (checks) left in the code, but it's still just straight-line pure code with no operations - th

[2021-04-07 19:20] headius commented on #2316
@chrisseaton But the RangeError constant might be removed in another thread. How does your optimization handle that case, when the rescue exception lookup would call into a `const_missing` that might need to see the backtrace?

[2021-04-07 19:25] chrisseaton commented on #2316
If another thread wants to redefine a constant which this machine code uses, such as `RangeError`, it must first stop all threads using this machine code, and transfer them to the interpreter where the constant is re-checked every time.

As there are no side effects between the raise and rescue, and no significant computation either, no opportunity is provided for that interruption to happen betwe

[2021-04-07 19:35] headius commented on #2316
@chrisseaton This would be a bug (or at least behavior inconsistent with CRuby), would it not? Were this constant being checked every time, the update *would* be visible between the raise and the rescue, and the backtrace would need to be in hand before proceeding to the constant lookup. You are optimizing it assuming that the exception constant can't be removed between the raise and the rescue, b

[2021-04-07 19:40] chrisseaton commented on #2316
No, absolutely not.

What happens is that the thread which wants to redefine the constant has to wait before it is allowed to redefine the constant. Conceptually, it isn't allowed to redefine when the other thread is in between this `rescue` and `raise` pair. This is because there is no safepoint between the `raise` and `rescue`, in the same way that there is no safepoint 'between' the multiple ca

[2021-04-07 19:42] chrisseaton commented on #2316
@postmodern I think I fixed it by moving the exception raise outside the non-inlined code. Is this what you wanted to see? The baseline is slower because I'm running a development build on the JVM, but the point is I reduced the exception cost.

[code]

[code]

[2021-04-07 19:49] eregon commented on #2316
@chrisseaton That looks good, could you make a PR with that? :)

[2021-04-07 19:51] headius commented on #2316
I will preface this by saying that I do not believe the update necessarily should be visible between the raise and the rescue, but a strict interpretation of rescue behavior implies that this is so.

The behavior of rescue with a constant is that it performs that constant lookup *at the time of the rescue* and invokes `===` against it with the incoming exception. By that definition, an update of t

[2021-04-07 19:59] chrisseaton commented on #2316
@postmodern this is the same configuration as you're running

[code]

So `chr` is still slower - it still actually has to do the encoding work! But we definitely knocked it down.

I do fundamentally agree with @headius on the point the ultimately it'd be better not to optimise away the exception and to use a return code instead for fast-path operations.

[2021-04-07 20:01] chrisseaton commented on #2316
I would argue - how do you tell the difference between an update which by chance never happens to be observed between them but could be, and one that will never be observed between them?

Yes - exactly the same as when `1 + 2 + 3` is constant folded to `6` - you now can't interrupt after the first `#+` and before the second. That window is limited by both side effects (never contains side effects)

[2021-04-07 20:09] headius commented on #2316
@chrisseaton A simpler way to say what I am saying:

* In the unoptimized case, another thread's constant update could be visible between the raise and the rescue.
* In the optimized case, it would not. That is a behavioral change.

Of course, that behavior change might be fine.

Your example of `1 + 2 + 3` suffers from the same issue... a change visible between adds in the interpreter would not b

[2021-04-07 20:12] chrisseaton commented on #2316
I can agree that you may be able to detect a statistical difference in the locations where interrupts are observed when optimisations like this are applied.

We do have this disclaimer in our compatibility claims.

https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md#threads-detect-interrupts-at-different-points

In the past (I think Sidekiq?) we actually had a test failure

[2021-04-07 20:18] headius commented on #2316
@chrisseaton We have had issues filed in the past about our interrupt checks being too course-grained, but I think they were all in a long-lost bug tracker before we moved to Github. I don't recall that they were real-world examples... more like someone attempting to prove a weird concurrent edge case differed from CRuby.

This was during a time when we were the only parallel-executing Ruby and we

[2021-04-07 20:43] postmodern commented on #2316
Yes, in the long-run it would be nice if there was a way to directly query an `Encoding` to ask if a multi-byte Integer is a valid word before attempting to call `Integer#chr`. I remember CRuby did add `String#scrub` as a way to workaround invalid byte sequences, so I imagine it must be possible to make an `Integer#chr` that doesn't raise an exception.

[2021-04-08 01:01] chrisseaton opened #2319 "CI Native Image step seems broken"
[code]

https://github.com/oracle/truffleruby/pull/2318/checks?check_run_id=2291296400#step:9:27

Seems on all branches, unrelated to changes in the branch.

[2021-04-08 21:28] gogainda opened #2321 "mechanize test failure: undefined method last"
[code]
it happens here:
[code]
If filename doesn't match the rpatition regexptit returns nil instead of  ["", "", original_str]

[2021-04-09 08:08] deepj commented on #2181
@eregon Hm, is there any internal progress in Graal to support Apple ARM since OpenJDK has it already?

[2021-04-09 10:34] chrisseaton commented on #2181
We're still blocked by https://github.com/oracle/graal/issues/2666. Might be best to ask there until that issue is fixed.

[2021-04-11 13:24] kachick opened #2324 "`Kernel#inspect` raises exception if `self.class` is undefined"
Is this an intentional behavior?

[code]

ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin20]
---

[code]

truffleruby 21.1.0-dev-972a0521, like ruby 2.7.2, GraalVM CE Native [x86_64-darwin]
---

[code]

The cause looks depending `self.class` in inspect as https://github.com/oracle/truffleruby/blob/310f0550b8cada1c89e2172182c7ab63e5014d58/src/main/ruby/truffleruby/core/kernel.rb#L375

[2021-04-11 23:24] chrisseaton commented on #2324
Much of TruffleRuby is implemented in Ruby. This is inherited from Rubinius, and it's also increasingly what MRI and JRuby are doing, and what Topaz did.

This means that monkey patching parts of the core library may break other parts of the core library.

It wouldn't say it's intentional behaviour, but it is an intentional trade-off. I think JRuby and MRI agree that the trade-off is worth-it sinc

[2021-04-12 10:11] eregon commented on #2319
Internal issue: GR-30713
There is a PR from @olpaw fixing this that should be merged soon.

[2021-04-12 10:17] eregon commented on #2324
We should use `Truffle::Type.object_class(self)` instead of `self.class` there to fix this issue.
`Truffle::Type.object_class(self)` should probably be a Primitive like `Primitive.object_class(self)`.

[2021-04-12 11:32] kirs commented on #2313
Let me braindump what I discovered and maybe you'll share some ideas.

[code]

[code]

No matter the encoding, MRI prints ASCII-compatible chars in the human readable on `inspect`.

Here's the implementation: https://github.com/ruby/ruby/blob/master/string.c#L6156-L6247 - I'm having hard time following that.

So I'm guessing that in TruffleRuby we'd need some way to determine if a character from a

[2021-04-12 11:42] chrisseaton commented on #2313
Also check what JRuby does. We use the same encodings library as them, so if they can do it correctly we should be able to connect it up to the library we both use in the same way.

[2021-04-12 11:58] eregon commented on #2313
That can be checked by `Encoding#isAsciiCompatible() && Encoding.isAscii(byte/int)`.

We should probably try to follow the MRI logic as much as possible here since it seems quite complicated with lots of corner cases.

[2021-04-12 14:33] eregon commented on #2316
Fixed by https://github.com/oracle/truffleruby/pull/2318, the performance is then similar to CRuby.

[2021-04-12 14:33] #2316 closed

[2021-04-12 21:50] gogainda commented on #1570
@eregon I think it's fixed

[2021-04-13 11:58] eregon commented on #1570
@gogainda It's fixed upstream but we use the version of JSON that 2.7.2 includes, which is older than that.
It's still an issue on a fresh truffleruby installation.
Installing the `json` gem fixes it because `json` is a default gem and then it will pick the newer version.

[2021-04-13 15:56] LillianZ opened #2325 "Mass fiber creation is slow"
While looking at a random benchmark, it was unexpectedly slow on TR. It seems that this is because fiber creation is slow:

[code]

[code]

Relative TR performance gets worse as more fibers are created (ie when I increase warmup time).

Unclear how important this issue is since fibers are usually not created in the thousands.

[2021-04-13 16:04] LillianZ opened #2326 "Simple redis not working?"
The following is functional on MRI but not TR:
[code]

I also tried other hosts/ports/urls/commands, with the same results. I'm trying to benchmark Redis, so if you have code / a configuration that works, please share. :)

The error was:
[code]

[2021-04-13 16:20] eregon commented on #2325
That's kind of expected and documented: https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md#fibers-do-not-have-the-same-performance-characteristics-as-in-mri

The benchmark doesn't actually run the code in the Fiber, you would need `f.resume` for that.
Could you rerun the benchmark with that?

TruffleRuby does use a thread pool for Fibers so it shouldn't be too bad but stil

[2021-04-13 16:25] eregon commented on #2326
I can reproduce.

This part definitely seems an issue:
[code]

FWIW there is a somewhat similar error on CRuby when there is no `redis-server` around. Of course `redis-server` needs to be started before.

[2021-04-13 16:48] eregon commented on #2326
It works with:
[code]

On CRuby it seems `require 'socket'` also requires `io/wait` (but not on TruffleRuby):
[code]

[2021-04-13 17:23] olpaw commented on #2319
The fix is on master https://github.com/oracle/graal/commit/d866b4ab387bd461e8681a462956839def26c752

[2021-04-13 17:23] #2319 closed

[2021-04-13 17:54] eregon commented on #2319
I'll update the graal import in truffleruby to get that fix.

[2021-04-13 23:46] #2326 closed

[2021-04-14 10:38] kirs commented on #2314
I looked into more corner cases on MRI here.

[code]

[code]

It does some kind of math where ascii + win-1251 results to utf8 and utf16 equals utf16, but ascii + utf-16 is not compatible.

That's defined in rb_enc_compatible (https://github.com/ruby/ruby/blob/8a4472fb6d2df0f6407cef24df6a038be90d1462/encoding.c#L1172-L1185) which returns an error or one encoding out of two that's a superset.

I'm

[2021-04-14 11:04] chrisseaton commented on #2314
Yes that sounds likely, but figuring out when it should do it is often tricky.

Also compare with what JRuby does - as if they're correct it can sometimes be easier to understand their code.

[2021-04-14 12:23] olpaw commented on #2319
Thanks!

[2021-04-14 13:25] LillianZ commented on #2326
tysm!!!!!!!!  I am very admiring of your investigative/debugging skills.

[2021-04-14 13:47] eregon commented on #2261
I'll reopen because only part of the ideas here were done.

[2021-04-14 16:51] #2281 closed

[2021-04-15 11:08] eregon commented on #2319
Import update done, the CI on GitHub Actions is fixed, and truffleruby-dev builds are running again.

[2021-04-15 12:07] eregon commented on #2261
We noticed 20-25% improvements on the deltablue and richards in interpreter-only mode (Native EE, `--engine.Compilation=false`) for 2e3bf7d50321a5ffc48906829e7bb1e2a4bece53...5474e163faf1aff6cea1935450b198536e2d8b19.
That's quite a few commits, but it notably includes b1e4506 and b6c91ec.

cc @smarr

[2021-04-15 12:56] eregon commented on #2261
It's actually even more visible on JVM, but that has the caveat it might inline some virtual calls in the interpreter due to these benchmarks being relatively small.
So generally we recommend comparing on Native for interpreter for interpreter performance.
On 21.0.0 JVM CE I get ~600ms per iteration for richards.
On master JVM CE I get ~350ms per iteration for richards.
(I'm using `jt -u CONFIG ru

[2021-04-15 13:00] smarr commented on #2261
Thanks for the CC.

Similar to https://github.com/oracle/truffleruby/commit/b6c91eccb46a0b03f9f4cf04f6fb5fbbbb591ae6 I did recently experiment with inlining getters/setters (like HotSpot does, I believe) and a few other basic things, like methods returning constants or globals, and object instantiation. Inlining here means, I essentially integrate these trivial nodes into the dispatch chain direct

[2021-04-15 13:10] eregon commented on #2261
Right, I call that "AST inlining", not sure if there is a better term.

Interesting, are those results on Native or JVM? And if JVM is it with `--engine.Compilation=false` or by not including `/compiler`?

FWIW we AST-inline quite a few calls in TruffleRuby, including `new` as well:
https://github.com/oracle/truffleruby/blob/master/src/main/java/org/truffleruby/core/inlined/CoreMethodAssumptions.j

[2021-04-15 13:23] smarr commented on #2261
Yepp, AST inlinining seems suitable. The linked PR does it actually also for a bytecode interpreter, but yes, same idea.

Yes ;)

This info is hidden in the executor names
 - native-interp-ast: a native image, with `engine.Compilation=false` for the AST interpreter
 - native-interp-bc: a native image, with `engine.Compilation=false` for the BC interpreter
 - -interp: on top of HotSpot, with the Tr

[2021-04-15 13:46] #2321 closed

[2021-04-15 15:16] eregon commented on #2061
@phykos There were recent fixes in Sulong, and I think gem installation should work now.
Could you try with the latest builds at https://github.com/graalvm/graalvm-ce-dev-builds/ ?

[2021-04-15 15:18] eregon commented on #2061
Ah, but Ruby is not yet published on aarch64, I'll need to change that first.

[2021-04-15 15:49] eregon commented on #2307
@kwilczynski Fixed in https://github.com/oracle/truffleruby/commit/ea82ff0eeb4ced054ccefa320b7bc7160a6b00a0 by @aardvark179 and myself.

I would recommend switching to `truffleruby-head` (nightly builds) in CI and remove the workarounds: https://github.com/kwilczynski/ruby-magic/commit/e18179dbf212530b3a84634580db3c0945d8025c & https://github.com/kwilczynski/ruby-magic/commit/7a05a0c50991a9f138e05

[2021-04-15 15:49] #2307 closed

[2021-04-15 16:39] kwilczynski commented on #2307
Hi @eregon,

Thank you for update! Also, apologies for making you and @aardvark179 do more work! I appreciate to fix, though. :)

Re: `truffleruby-head` - that I wasn't sure about, good to know. I will move the CI to use this nightly too.

Krzysztof

[2021-04-15 16:56] phykos commented on #2061
I sold that RPi just a week ago...

...but I can try to emulate an AArch64 OS, I'll let you know ASAP

[2021-04-16 14:37] eregon commented on #2247
With branch https://github.com/eregon/grpc/tree/truffleruby-debug which has a couple workarounds,
and latest truffleruby-dev, it works for one message (`"Greeting: Hello world"`) and then the client hangs while exiting as it can't interrupt some native call. The server sometimes segfaults in a i64 write (GR-30218).

[2021-04-16 14:48] kirs commented on #2314
Related JRuby commit: https://github.com/jruby/jruby/commit/bb90d3b7644316f8ae6b92e02defdf3838854fb5

[2021-04-16 15:06] eregon commented on #2314
We have `NegotiateCompatibleEncodingNode` (and a couple nodes using that) to find an Encoding compatible for 2 encodings.
That's use for `Encoding.compatible?` in Ruby, and should be the same as `rb_enc_compatible()`.

[2021-04-16 15:44] kirs commented on #2314
Thanks!

Do you have an idea why `PrintfCompiler` is using `FormatEncoding` (which only supports ASCII and UTF)? Should I change that to use common `Encoding`?

[2021-04-16 15:51] eregon commented on #2314
I'm not sure. Yes, using the JCodings `Encoding` instead would be best.

[2021-04-16 16:59] chrisseaton commented on #2314
I think it was possibly done to make the format package independent of the rest of TruffleRuby.

[2021-04-16 18:16] #2324 closed

[2021-04-16 22:21] #2313 closed

[2021-04-17 10:30] petenorth opened #2331 "wrong argument type PG::TypeMapByClass (expected Data)"
**truffleruby 21.1.0-dev-97019acc, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]**

Started getting this error in a CI job (runs fine on previous TruffleRuby releases that are tested in the CI job).

This is the CI job, had to run a docker compose command into the foreground (rather than -d) to see the error and then cancel job as it waits for a docker compose container to exit successfully.

[2021-04-18 18:38] eregon commented on #2331
@aardvark179 Could you investigate? It might be related to https://github.com/oracle/truffleruby/issues/2307#issuecomment-820536576 / https://github.com/oracle/truffleruby/commit/ea82ff0eeb4ced054ccefa320b7bc7160a6b00a0

[2021-04-19 09:51] eregon commented on #2263
Fixed by https://github.com/oracle/truffleruby/pull/2310

[2021-04-19 09:51] #2263 closed

[2021-04-19 10:18] eregon commented on #2284
FWIW I've tried https://github.com/lvc/abi-dumper which works kind of OK, but the output does not always have the right ordering and is platform-dependent. It also kept giving warnings. Also installing this tool might not always be easy.
The old mode https://github.com/lvc/abi-compliance-checker for did not work at all for me, and comparing 2 abi-dumper dumps actually failed to notice a new functi

[2021-04-19 10:43] aardvark179 commented on #2331
Yes it does look related. There is a flag on typed data objects that is checked by `RTYPEDDATA_P` on MRI, and I assume is only set in _some_ circumstances, but I haven't worked out when it is or isn't set yet.

[2021-04-19 11:06] eregon commented on #2331
@aardvark179 I think only *typed* data causes `TypeError` for ``rb_check_type`:
https://github.com/ruby/ruby/blob/93420d34aaf8c30f11a66dd08eb186da922c831d/include/ruby/internal/value_type.h#L337-L341
https://github.com/ruby/ruby/blob/93420d34aaf8c30f11a66dd08eb186da922c831d/error.c#L994
Links from https://github.com/oracle/truffleruby/issues/2307#issue-848554420

So I think we should check with`Tr

[2021-04-19 11:11] aardvark179 commented on #2331
Yes, I think so too. The CAPI specs don't cover this area well enough, so I think it's worth adding some more.

[2021-04-19 21:37] chrisseaton opened #2332 "IO.select always runs FFI stub"
Bug introduced in d997f0b90dcfa34194c2cc68dec69d55c0535353.

`SELECT = method(:truffleposix_select)` captures the FFI lazy stub method - it's never replaced when the method is actually attached - and the stub is run every time.

Discovered with @LillianZ. She's worked around by doing the below but does this break interruptibility?

https://github.com/oracle/truffleruby/compare/master...Shopify:IO?

[2021-04-19 23:02] chrisseaton commented on #2284
Can we have a debug flag right now to change the gem installation path and mix ABIs at our own risk?

[2021-04-19 23:10] chrisseaton commented on #2261
Did you want me to run this again?

[2021-04-20 09:47] eregon commented on #2261
I have a PR implements the check in CI and only increasing the ABI version when needed, it should merge soon.

[2021-04-20 10:55] eregon commented on #2284
I have a PR that implements the check in CI and only increasing the ABI version when needed, it should merge soon.

[2021-04-20 10:56] eregon commented on #2261
@chrisseaton No, there was no change in this area since https://github.com/oracle/truffleruby/issues/2261#issuecomment-812049762

[2021-04-20 11:05] eregon commented on #2332
Good catch!
For `select()` we can't use `attach_function_eagerly`'s `blocking=true` because we need extra behavior to handle the timeout before retrying the call.
So I think we need to capture the method later, when the lazy stub has been resolved.

[2021-04-20 11:25] eregon commented on #2332
I'm curious, how did you find out this issue? Looking at invalidations?

[2021-04-20 11:28] eregon commented on #2331
Fixed in https://github.com/oracle/truffleruby/commit/a7a4b849224d9102484895d3521fcb2ebcc35067 by @aardvark179

[2021-04-20 11:28] #2331 closed

[2021-04-20 11:44] chrisseaton commented on #2332
It shows up in profiling.

[2021-04-20 16:26] eregon commented on #2261
This blog post details Multi-Tier and also shows the effect of the interpreter optimizations in this issue:
https://medium.com/graalvm/multi-tier-compilation-in-graalvm-5fbc65f92402#a16c (under `Interpreter impact` if the anchor doesn't work)

[2021-04-20 18:16] #2332 closed

[2021-04-21 06:59] petenorth commented on #2331
Confirmed, thanks.

[2021-04-21 09:47] eregon commented on #1449
TruffleRuby now has official Docker images for releases at https://github.com/orgs/graalvm/packages/container/package/truffleruby. These images are based on `oraclelinux:7-slim` and `oraclelinux:8-slim`.
They should be relatively small, and there is a `-slim` variant of the images where only the strict minimum is included (and then you need to use a multi-stage Dockerfile to install C extensions f

[2021-04-21 09:47] #1449 closed

[2021-04-21 12:22] brauliobo opened #2333 "Failed to require active_support/all"
On IRB

[code]

[2021-04-21 12:24] eregon commented on #2333
This error means that Rails 4 is too old and doesn't work on Ruby 2.7+ essentially. The same happens on CRuby 2.7.
Rails 5+ should work on Ruby 2.7+.

[2021-04-21 12:24] #2333 closed

[2021-04-21 12:24] brauliobo commented on #2333
thank you @eregon !

[2021-04-21 15:31] ojab opened #2334 "`define_method` in `self << class` block creates private method instead of public one"
Found in [`king_konf`](https://github.com/dasch/king_konf) gem, minified testcase:

[code]
Works fine on MRI, on `truffleruby 21.0.0, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]` installed via `rbenv` there is
[code]

The error goes away if `private` is removed.

[2021-04-21 16:01] #2284 closed

[2021-04-21 16:04] eregon commented on #2334
Thanks for the report.

That's interesting, so the `private` is not visible to the nested `define_method` in CRuby, even though `define_method` inside a block would normally inherit the visibility outside the block:
[code]

I think this might be quite tricky to fix unfortunately.
In this case, could I suggest using `public def desc` or `public :desc` in https://github.com/dasch/king_konf/blob/1f7e

[2021-04-21 16:05] eregon commented on #2284
Fixed in https://github.com/oracle/truffleruby/commit/34c7477027c5eec77f40a0b6e6f327bc3a45f4be, now the ABI should only change when required.

[2021-04-21 16:37] hanabi1224 commented on #2325
Reporting another case here, below program is ported from the concurrent-prime-sieve example from [golang homepage](https://golang.org/), it creates another coroutine for every prime number found, thus can be used to demonstrate / benchmark performance of massive coroutine scheduling and communication, it runs ok with ruby but is very slow with truffleruby today.

[code]

[2021-04-21 16:48] eregon commented on #2334
The logic in CRuby seems to be:
https://github.com/ruby/ruby/blob/3c8a67e8a5f51f337cf95b4038ed97bf8ca8b696/proc.c#L2197-L2198
https://github.com/ruby/ruby/blob/3c8a67e8a5f51f337cf95b4038ed97bf8ca8b696/vm.c#L1644

Notably if the module to define on is different than `self` in the caller frame, then the visibility of the new method is simply `public`.

[2021-04-21 17:19] ojab commented on #2334
While I'm pretty sure that your analysis is correct, I _think_ you're overthinking/misread the reported issue :)

In the example above `Config.integer` is public and `private` shouldn't actually change anything.

[2021-04-21 17:30] eregon commented on #2334
I've got a fix now. `Config.integer` is public on both CRuby and TruffleRuby, the difference is for `Config#value`.
`define_method` itself sets up a visibility inside the new method the same as outside (both CRuby and TruffleRuby), the tricky part is when deciding the visibility of the new method: it is decided not only based on the surrounding visibility but also based on the new method name, cal

[2021-04-21 21:48] chrisseaton opened #2335 "--backtraces-raise is broken"
[code]

It's not tested - maybe we should be testing some of these options,

[2021-04-22 10:22] eregon commented on #2061
linux-aarch64 builds are now available at https://github.com/graalvm/graalvm-ce-dev-builds/releases/
Either:
* truffleruby-dev-linux-aarch64.tar.gz the standalone
* graalvm-ce-java11-linux-aarch64-dev.tar.gz + `bin/gu install ruby`

If you can confirm whether `gem install` works that'd be nice (we test `gem install` and `bundle install` in CI, but from local `.gem` files, not from the network), bu

[2021-04-22 10:30] eregon commented on #2335
Just `jt ruby --experimental-options --backtraces-raise -e 'raise'` reproduces it.
Part of the issue is
[code]
We intentionally throw a crafted StackOverflowError to initialize all related classes properly (kind of related to https://github.com/oracle/truffleruby/issues/1743).

[2021-04-22 10:32] eregon commented on #2335
On `--native` it works fine, because we don't throw that StackOverflowError (all classes are initialized at build time anyway):
[code]

[2021-04-22 16:51] #2334 closed

[2021-04-23 11:36] eregon commented on #2061
I noticed we actually have a test in CI that installs a few gems from the network so that works fine, at least in CI.
So linux-aarch64 is now marked as fully supported: https://github.com/oracle/truffleruby/commit/6b31794dd1117eef41fba8ac42d7e43357885d7f
Thank you for the report.

[2021-04-23 17:01] #2335 closed

[2021-04-26 08:14] vlazar opened #2336 "Raytracer benchmark is 34x slower than with MRI"
I was playing with https://github.com/edin/raytracer benchmarks to see how different versions of Ruby perform as well as Crystal https://www.ruby-forum.com/t/ruby-raytracer-in-crystal/261230/3

I wonder if that has something to do with my environment or is there something specific to TruffleRuby/Raytracer benchmark which makes it so slow?

The results are for 2012 MacBook running MacOS Catalina an

[2021-04-26 09:13] chrisseaton commented on #2336
Thanks very much for opening the issue. I can reproduce.

This is a performance bug in `String#[]=`, called from `ImageRuby::RubyBitmapModl#set_pixel`.

[code]

I hacked around this.

[code]

This fixed it and it's now a lot faster.

[code]

[code]

[code]

Intuitively I can understand what this performance problem is, but I'll dig into it a bit more and hope to provide a deep-dive answer and fix.

[2021-04-26 10:14] eregon commented on #2335
Fixed in https://github.com/oracle/truffleruby/commit/ca823dac960e684e3c47b3d284e0b944b772fdab along with specs and a couple additional fixes to only print the relevant part of the stacktrace (and not internals of formatting the exception backtrace)

[2021-04-26 10:35] eregon commented on #2336
Mmh, so the image is represented as a long String and heavily mutated by String#[]= (used like a buffer)?
https://github.com/tario/imageruby/blob/ba38c3e4a5c8c068566501f0e73357fd219535e4/lib/imageruby/bitmap/rbbitmap.rb#L65
Also that code could probably use `setbyte` for clarity and efficiency.
One thing that would be worth trying is to use a native String there, that should handle being used as a

[2021-04-26 10:38] chrisseaton commented on #2336
Without the change:

[code]

At some point TruffleRuby needs to find a way to automatically figure out a string is being used as a buffer and optimise for it.

[2021-04-26 10:52] eregon commented on #2336
So that's >3x faster on CRuby when using an intuitive representation (Array) vs a String used like a buffer.
So even on CRuby it seems very problematic to use a String as a buffer / use `String#[]=`.
But the effect is much worse on TruffleRuby. On the upside it makes it really easy to see the problem in the benchmark here.

Yes, that could be nice, probably the first `[]=` or `setbyte` should migr

[2021-04-26 10:53] chrisseaton commented on #2336
Note that the time I posted was cold time on JVM CE - so includes warmup and I'm sure peak is much better.

[2021-04-26 11:11] eregon commented on #2336
We actually have a similar issue with `setbyte`: https://github.com/oracle/truffleruby/issues/2044#issuecomment-668524452
And some discussion there on possible fixes.

[2021-04-27 10:06] vlazar commented on #2336
@eregon this looks like a WIP to replace imagery gem for Ruby implementation of benchmark
https://github.com/edin/raytracer/blob/master/ruby/Image.rb#L77

[2021-04-27 16:05] bjfish commented on #2315
This is now fixed at: https://github.com/oracle/truffleruby/commit/efb16331c2ab4787492e7901a4a915ba732ac4b7

[2021-04-27 16:05] #2315 closed

[2021-04-28 16:40] AlexWayfer opened #2337 "`File.mtime` doesn't return milliseconds"
[code]

Related:
* https://github.com/jruby/jruby/issues/4520
* https://github.com/ruby/spec/pull/386

[2021-04-28 16:49] eregon commented on #2337
Thank you for the report, I can reproduce:
[code]

[2021-04-28 16:54] AlexWayfer commented on #2337
Yep, sorry for a lack of example, I didn't know how to make it laconically.

[2021-04-28 17:02] eregon commented on #2337
We use `struct stat`.`st_mtime` and that's a number of seconds, but some platforms have `struct stat`.`st_mtim` which is a `struct timespec`.
https://github.com/oracle/truffleruby/blob/1d46891ebbfb1df28319b8e0e7819e21d4511bcf/src/main/c/truffleposix/truffleposix.c#L397
If we store both seconds and nanonseconds into a `uint64_t`, then it would work until:
[code]
but not after.
So it's probably best

[2021-04-28 17:47] eregon opened #2338 "Implement Fiber#raise"
It's part of the new 2.7 methods: https://github.com/oracle/truffleruby/issues/2004
And it's used notably by https://github.com/socketry/event/issues/2
cc @ioquatix

[2021-04-28 21:08] ioquatix commented on #2338
Thanks, and also allow `Fiber#transfer` and `Fiber#resume/yield` interleaved.

[2021-04-29 10:12] eregon commented on #2338
The change for Fiber#transfer allowed in more cases is only in Ruby 3.0+ though, right?

[2021-04-29 23:08] ioquatix commented on #2338
It is purely additive, it won't break Ruby 2.x

[2021-04-30 09:36] eregon commented on #2338
Looking at Fiber specs, it seems there would be specs that break if we change the behavior of `Fiber#transfer` while reporting RUBY_VERSION as 2.7:
https://github.com/oracle/truffleruby/blob/master/spec/ruby/library/fiber/transfer_spec.rb
https://github.com/oracle/truffleruby/blob/master/spec/ruby/library/fiber/resume_spec.rb

Is it needed by https://github.com/socketry/event ?

[2021-05-02 16:58] eregon commented on #2169
I forgot to post an update here, but I now have an ExecJS backend using Graal.js and with proper isolation:
https://github.com/rails/execjs/compare/master...eregon:graaljs-runtime-inner-context-serialize

There is a performance issue though that a RubyContext is initialized for each inner context which is unnecessary and takes some time. That probably needs some new Truffle API to fix it.

[2021-05-02 22:58] ioquatix commented on #2338
The event library needs the following:

- Fiber#raise (for cancellation)
- Fiber#transfer (for non-blocking operation)

For new version of async which depends on `event`, `Fiber#resume` and `Fiber#yield` is not used. It's purely for user code.

[2021-05-02 23:17] SamSaffron commented on #2169
One concern with only doing exec js is that we would miss out on the richness a MiniRacer type interface offers.

[code]

This is quite critical for quite a few tight integrations of js/ruby. Full shims for every object is overkill, but the simple ability to mount a function call internal to the JS engine is quite important.

Any thoughts on targeting a partial MiniRacer API, specifically function

[2021-05-03 02:30] chrisseaton commented on #2336
I've got some preliminary fixes in https://github.com/oracle/truffleruby/pull/2341.

I'm then going to focus on making this benchmark faster.

[code]

[code]

TruffleRuby does actually do some work to try to flatten big concat-trees that works well for this case... but it still always allocates a new node for each write which is not what we want.

[2021-05-03 11:26] eregon commented on #2338
Fiber#raise was implemented in https://github.com/oracle/truffleruby/commit/52f7d8bbcee0bda019620d7b8189b60cbedcf760 by @bjfish.
If we need to allow more cases for `transfer` to pass tests/specs of `event` or `async`, could you create a separate issue?

[2021-05-03 11:26] #2338 closed

[2021-05-03 11:42] eregon commented on #2169
Is that used in Discourse?
I think we'd need some kind of MiniRacer backend to support that.
I started with ExecJS because it's simpler essentially.

The semantics seem interesting here: the JS context is isolated, but the Ruby Proc is not?
I guess the arguments and the return value are serialized between Ruby and JS? (otherwise the JS contexts are not truly isolated anymore)

If there was no isol

[2021-05-03 12:00] eregon commented on #2338
Looks like the `event` specs need Fiber#raise to be allowed after Fiber#transfer: https://github.com/socketry/event/pull/5#issuecomment-831210501
That's a change of Ruby 3 as well: https://github.com/ruby/ruby/pull/3795/files#diff-f5e06781d15d3a6c16eef4cb49eebc310820bead3672ed84608c84958ae5da14R2341-R2343

[2021-05-03 12:02] eregon opened #2342 "Support Fiber#raise after Fiber#transfer"
See https://github.com/oracle/truffleruby/issues/2338#issuecomment-831213756
@bjfish Could you try to implement that?
That's a Ruby 3 change, so we should add the spec in `:next`.

It does mean we'll need to mark as failing this spec:
https://github.com/ruby/ruby/pull/3795/files#diff-184b163e2d8d9c8d74755a749a8d21df6692d2af454e60d3a747fcc18cfbc2faR81
but I think that's fine, probably nothing relie

[2021-05-03 15:00] jeremyevans opened #2343 "File.basename returns frozen String"
A few of Roda's tests are failing on TruffleRuby because `File.basename` is returning a frozen string, while CRuby and JRuby return a new unfrozen string: https://github.com/jeremyevans/roda/runs/2492967121?check_suite_focus=true#step:4:17

Code in question:

[code]

[2021-05-03 15:41] eregon commented on #2343
Thank you for the report!
It's probably a case where the argument is returned, and the argument is a frozen String.

@bjfish Could you fix it?

[2021-05-04 00:54] SamSaffron commented on #2169
Yes we use MiniRacer directly in Discourse specifically due to the `attach` api.

When cooking Markdown for example we can call into MRI Discourse to figure out if a user that was `@mentioned` is really a user or not.

There are certainly ways to avoid needing attach (use HTTP calls from JS back into Ruby for example) but it would get very complicated.

We isolate as much as we can on all boundari

[2021-05-04 01:50] ioquatix commented on #2338
Yes, `Fiber#raise` must do the right thing in order to transfer back to the fiber.

[2021-05-04 03:30] ioquatix commented on #2342
`Fiber#raise` should use transfer if the fiber was previously transferred out. At least, that's my understanding of how it works currently in Ruby 3.x.

[2021-05-04 10:49] eregon commented on #2169
No isolation would mean global variables in JS are shared between all `MiniRacer::Context` though, wouldn't that be an issue? (e.g., we found that 1 ExecJS test breaks because of that).
OTOH, it would mean the framework/library JS code could be loaded only once and then naturally reused.

It would be easy to make a prototype for that.
However, Graal.js unfortunately does not support being executed

[2021-05-04 18:57] bjfish commented on #2337
This is fixed at: https://github.com/oracle/truffleruby/commit/fde89ae07d4e2cb66397f9bde6c2eaf83d58a7eb.

[2021-05-04 18:57] #2337 closed

[2021-05-05 02:22] SamSaffron commented on #2169
Oh my ... I see ... what a pickle. Yes, we allow (and often use) multiple isolated contexts from one  process.

One (somewhat ugly) option is to spawn off a process per context and use a named pipe to issue commands (serializing back calls to ruby, etc). It would make Context creation a rather expensive operation, but actual calls could be reasonably fast.

How do you envisage  inner contexts work

[2021-05-07 18:45] wildmaples opened #2344 "DateTime::new doesn't return the correct sec_fraction"
_I wrote this issue in our private repo a while back when we were looking at getting SFR tests running on TR. This issue impacts two tests in SFR. The team is prioritizing something else right now so I'm creating an issue here so everyone is aware._

# Issue

The TruffleRuby implementation does not return the correct `DateTime` fractional seconds as MRI.

# Investigation

Take this code example `f

[2021-05-07 18:56] bjfish commented on #2344
This may be related to internal issue GR-27260 "Invalid datetime day_fraction":
[code]

[2021-05-10 10:06] eregon commented on #2343
Fixed in https://github.com/oracle/truffleruby/commit/d2c863850e9824f4fc8322ec904c43e867161536

[2021-05-10 10:06] #2343 closed

[2021-05-12 15:09] chrisseaton opened #2346 "Issue with refinements in blocks"
[code]

[code]

Code is synthetic. Found by @XrXr.

[2021-05-12 15:28] eregon commented on #2346
Probably `using` should go to the closest module body or so, similar to how visibility looks for the module body frame.

I think actually `using` was never intended to work like that (it should always be strictly lexical, if not it's basically undefined behavior), and I'd think it only works by luck on CRuby.
For instance this fails:
[code]

But it doesn't matter, we can implement the reported iss

[2021-05-13 02:54] wildmaples commented on #2092
There's a middleware on SFR using `Dir#[]` and it's ~1.6x slower than MRI.

[2021-05-14 11:26] eregon commented on #2092
I can reproduce the difference locally on Linux:
[code]

[2021-05-14 11:30] eregon commented on #2092
[code]

Quite some time spent in native calls, which is expected. Maybe we can group some of them (e.g., do we need `Truffle::POSIX.truffleposix_lstat_mode`?)

[2021-05-14 11:53] chrisseaton commented on #2092
I'm wondering if it really makes the same native calls as MRI - like I can imagine it accidentally being written to stat each component of every path each time, rather than stating a component once and then stating its children once etc. Or something else like that.

[2021-05-14 14:40] eregon commented on #2092
We could potentially compare with strace for system calls.
One way to avoid the extra `lstat` for the mode would be to use readdir's `d_type` field, but:
[code]
So we'd need a fallback to lstat. And know whether that works on macOS too.

[2021-05-14 15:03] bjfish commented on #2092
@eregon I suspect `d_type` works on macOS after seeing some straces from MRI.  There appears to be 2 extra lstat in TruffleRuby for every file path currently. I believe this is due to not using `d_type`.

We also appear to have some duplicated calls to `POSIX.opendir` on some directories. On mac I captured this CPU sample:
[code]

[2021-05-14 16:23] eregon commented on #2092
sample from strace output:
CRuby:
[code]
TruffleRuby:
[code]

So CRuby seems to use the trick I described in https://github.com/oracle/truffleruby/issues/2092#issuecomment-841286446, and that's probably a significant gain.

Probably we need some extra private method to do something like `Dir#read` + return whether it's a directory/the file type.
We could also add a variant for efficiency which als

[2021-05-18 10:25] HoneyryderChuck opened #2349 "official docker images: no yum"
I'm experimenting with the recently released docker images. However, I can't seem to find a package manager. Being it oraclelinux, I'd expect at least `yum` to be there. How am I supposed to  install packages there?

[2021-05-18 12:03] eregon commented on #2349
I can reproduce, indeed, there seems to be no yum:
[code]

[2021-05-18 12:03] ezzarghili commented on #2349
Please use microdnf, the latest image is based on OracleLinux 8 slim image

[2021-05-18 12:27] eregon commented on #2349
Currently https://github.com/orgs/graalvm/packages/container/package/truffleruby doesn't point to the documentation at https://github.com/graalvm/container/blob/master/truffleruby/README.md, but that's being worked on.

I think the best is to document about `microdnf` in the common README for docker images (https://github.com/graalvm/container/blob/master/README.md, does not yet exist).
Maybe a `y

[2021-05-18 13:12] HoneyryderChuck opened #2350 "official docker image: can't install nokogiri"
Just had this while installing gems inside the docker image:

[code]

[2021-05-18 13:22] eregon commented on #2350
I can reproduce, and:
[code]
So the archive itself seems fine. And the value of `$LANG` is good.
`locale` emits some errors though.

Also:
[code]
Which I would guess is the cause of this.

[2021-05-18 13:28] eregon commented on #2350
It seems the same issue as https://github.com/graalvm/container/issues/9
See the workaround there.
I think we should potentially warn when we don't find a proper locale encoding, as it can lead to confusing issues such as this one.

[2021-05-18 16:19] abdelhaira commented on #2350
@eregon the encoding fix corrected the issue, but i'm getting another error when reproducing installing nokogiri(full log [truffleruby-log.txt](https://github.com/oracle/truffleruby/files/6502805/truffleruby-log.txt))

`To see why this extension failed to compile, please check the mkmf.log which can be found here:

  /opt/truffleruby-21.1.0-linux-amd64/lib/gems/extensions/x86_64-linux/21.1.0/nokog

[2021-05-18 16:38] HoneyryderChuck commented on #2350
thx, it worked.

should I still leave this open? I'd say that should come bundled in by default.

[2021-05-18 16:41] HoneyryderChuck opened #2351 "official docker image: can't install sqlite3"
I'm using `sqlite3` in the Gemfile for truffleruby, which used to work with the debian docker images.

It doesn't for the official image though:

[code]

[2021-05-18 16:59] eregon commented on #2350
@abdelhaira The error is:

So you need to install one of them, and then it works.

@HoneyryderChuck Agreed, installing `glibc-langpack-en` is enough, so I think that should be part of all graalvm Docker images (https://github.com/graalvm/container/issues/9) and then we can close this (otherwise many locale-related things are broken).

[2021-05-18 18:28] abdelhaira commented on #2350
This has been fixed [here](https://github.com/graalvm/container/pull/15), truffleruby-21.1.0 containers have been updated, closing this

[2021-05-18 19:12] #2350 closed

[2021-05-18 19:14] eregon commented on #2351
[code]
So you need `microdnf install sqlite-devel` and then it works.

The official Docker images use `oraclelinux` `slim`, so they have very minimal packages to optimize image size: https://github.com/graalvm/container/blob/master/truffleruby/Dockerfile.ol8

[2021-05-18 19:14] #2351 closed

[2021-05-19 14:50] CaptainAwesomeDi opened #2352 "sassc v2.4.0 failed to build gem native extension"
Hi, I'm trying to TruffleRuby out on my local machine for my project.
but it failed to `bundle install` on several gem's that requires native extension, one of them being `sassc` which `sassc-rails` was depending on.

Unrelated Question: I have other two errors on building native extension for gem `eventmachine` and `unf_ext` should i also open issue here?

Hope this is helpful,
Di

My Environment

[2021-05-19 14:58] eregon commented on #2352
Thanks for the report.

I think you are hitting this issue, which specific to macOS 11.3+: https://github.com/oracle/graal/issues/3383
@rschatz is working on that, once there is a new LLVM toolchain with that fix it should work.

`eventmachine` and `unf_ext` are also C++ extensions so it's very likely the same issue.

[2021-05-19 18:37] wildmaples opened #2353 "Logger#add is slow"
I was profiling a middleware using `statsd-instrument` to record metrics on SFR and found that `Logger#add` is 12x slower on TruffleRuby compared to MRI.

[code]

This is the micro benchmark I wrote:

[code]

Any ideas to why? Seems like MRI implements `Logger` in Ruby

[2021-05-20 09:26] eregon commented on #2353
Profile:
[code]

So most of it in Time#strftime  and the caller seems to be https://github.com/oracle/truffleruby/blob/78be2627128e54b12736b5799fcee4e872d911b6/lib/mri/logger/formatter.rb#L22

`Primitive.time_strftime` already inline caches the pattern so we'd need to profile inside to find what's slow.
Maybe switching from a `List<Token>` to a `Token[]` could be a quick small gain.
Potentially we

[2021-05-20 12:37] aardvark179 commented on #2092
I've taken a bit of a look at this, and we'll need an alternative way to read directory entries (we currently return the name from `libtruffleposix` when we really want the directory entry structs. I think we're also opening and reading every directory _twice_, once to handle the recursive ** part of the pattern, and then a second time to perform the leaf name matching `*` part.

The cases where w

[2021-05-20 12:55] chrisseaton commented on #2092
Going between Ruby and POSIX calls means that they're doing a lot of overhead to allocate structures and function calls just to read fields and things. Maybe a richer function in libtruffleposix could do most of the globbing work staying in C?

[2021-05-20 13:14] aardvark179 commented on #2092
Possibly, but I'm not sure I want to be the one to write that implementation. :-) I'll have a think about what we could do to divide the work up in a smarter way, and I'll try benchmarking fstatat and see if that would make a difference, I think it might be sensible to switch anyway because we likely have some horrible race conditions if anybody changes current working directory in another thread

[2021-05-20 13:15] chrisseaton commented on #2092
Is this a case where we can copy and paste from MRI?

[2021-05-20 13:18] aardvark179 commented on #2092
Have you looked at the MRI implementation? Also, they definitely suffer from the race condition problem (because although they use fstatat they use `AT_FDCWD` as the base).

[2021-05-20 13:51] chrisseaton commented on #2092
This seems to be the inner-most function, for reference.

https://github.com/ruby/ruby/blob/86b4c2fc3fb0ec815e212628f6708c5b777f523e/dir.c#L2255-L2599

Quite a lot of helpers around this.

[2021-05-20 16:50] rept opened #2354 "Link on homepage isn't correct"
This link gives a 404

http://www.graalvm.org/docs/reference-manual/ruby/

[2021-05-20 17:55] wildmaples commented on #2353
Thanks, @eregon ! Good catch re the jvm - we recently switched to a new cloud dev env and I didn't realize I was on jvm.

I don't have a lot of context on how this works, but is there an estimation of performance increase for the suggestions you have above? I'm trying to see if it's worth pursuing and digging further. If there is potential then it may be worth trying, otherwise, we can close the i

[2021-05-20 18:19] rept commented on #2354
This page (which was mentioned in Ruby Weekly).

https://github.com/oracle/truffleruby/releases/tag/vm-21.1.0

[2021-05-21 11:01] eregon commented on #2354
I updated the template and the last 3 releases.

[2021-05-21 11:01] #2354 closed

[2021-05-21 14:56] eregon commented on #2353
I don't have any, no.
`List<Token>` to `Token[]` seems trivial and useful.

`java.time.format.DateTimeFormatter` is larger effort to integrate, but it could be fairly fast to prototype by just having some method doing the formatting + converting to Ruby String and benchmarking that from Ruby, and see how fast is that.

[2021-05-24 15:45] aardvark179 commented on #2092
Okay, I've got a test implementation for using `readdir_r` and filling in a `dirent` structure to get the type along with the directory entry, bu on my machine it only helps a little bit as `XFS` returns `DT_UNKNOWN` for regular files so I have to stat them anyway, but it does tell me that directories are `DT_DIR`s so I does save some calls to lstat. On other file systems this won't be necessary (

[2021-05-24 15:52] nirvdrum commented on #2092
@aardvark179 I have a ZFS on Linux system running if you need me to test/verify anything.

[2021-05-24 16:03] aardvark179 commented on #2092
We have to stat anything that is returned with a `DT_UNKNOWN` type, and having dug through file system documentation I now understand why I saw a different number of stat calls to others.

[2021-05-25 09:07] deivid-rodriguez opened #2355 "Can't assign array elements to frozen strings using `start` and `length` parameters"
When using the `array[start, length] = object → object` form of `Array#[]=`, truffleruby crashes when assigning a frozen string literal while CRuby works just fine:

##### On CRuby

[code]

##### On Truffleruby

[code]

[2021-05-25 09:53] ivoanjo opened #2356 "Enumerator::Lazy missing `filter_map` and `with_index` methods"
Hello, hello 👋

I'm again spending a few minutes trying to get @Datadog's [ddtrace](https://github.com/DataDog/dd-trace-rb) gem specs going with TruffleRuby and I've noticed that `Enumerator::Lazy` is missing a few more methods (beyond those fixed in #2273), which forces lazy enumerators to become eager (non-lazy). The impact can be that, of course, if you do that with an infinite enumerator, the

[2021-05-25 10:04] ivoanjo opened #2357 "Weird/broken behavior when using ctrl+c while running debugger"
Howdy!

I'm not sure if this should be filed elsewhere (is this TruffleRuby specific, or is it more general to Truffle/GraalVM stuff?), let me know if I should send this elsewhere. The test below was running `truffleruby 21.1.0, like ruby 2.7.2, GraalVM CE Native [x86_64-darwin]`.

I was playing around with the debugger and started my Ruby process with `ruby --inspect`. I then realized I had start

[2021-05-25 12:02] eregon commented on #2356
Thank you for the report. @bjfish Could you look at this?

[2021-05-25 12:49] eregon commented on #2355
Thank you for the report, ArrayCastNode was incorrect, I'll fix it.

[2021-05-25 14:18] hainesr opened #2358 "Errors with `_id2ref` when using `frozen_string_literal` magic comment?"
I have no idea what or where this bug really is, but as the behaviour I'm seeing is only in TruffleRuby I thought I'd submit here to see if you folks have any thoughts.

I am doing some work on [rubyzip](https://github.com/hainesr/rubyzip) and I finally got around to adding the `frozen_string_literal: true` magic comment throughout the library. Now this is in place my CI is failing on TruffleRuby

[2021-05-25 14:28] eregon commented on #2358
Thank you for the detailed report!

The `RangeError: 0x0000000000000100 is not id value` means the object was not found.
I guess what's happening here is a side effect of using `frozen_string_literal: true`, which means some Strings now are the interned frozen literal strings, and those don't seem to be handled in `ObjectSpace._id2ref` yet (a bug).

[2021-05-25 14:35] ivoanjo opened #2359 "TruffleRuby crash with "SEVERE: waited 60 seconds in the SafepointManager, terminating the process as it is unlikely to get unstuck""
Hello, hello 👋

I'm again spending a few minutes trying to get @Datadog's [ddtrace](https://github.com/DataDog/dd-trace-rb) gem specs going with TruffleRuby. I extracted this testcase (please forgive any weirdness, I hacked and slashed at rspec until I got something I could run standalone) that causes TruffleRuby to lock up when trying to get Thread backtraces from ethon+webrick background threads

[2021-05-25 14:47] hainesr commented on #2358
Many thanks for your quick response!

I'm certainly not wedded to that code as it is - I'd be more than happy to refactor it once I am certain that I fully understand it (it's not mine originally, you see) 😄

Thanks!

[2021-05-25 14:47] #2355 closed

[2021-05-25 14:51] chrisseaton commented on #2358
I think you'll find your `_id2ref` code possibly won't work on JRuby either.

[code]

[2021-05-25 14:56] hainesr commented on #2358
It does work with JRuby but we have to turn ObjectSpace on for the tests, which I know is not ideal. I'd be very happy to rid myself of that bit of code! I'll stare at it a bit tonight and see if I can figure out what it's doing...

[2021-05-25 16:05] eregon commented on #2358
Actually neither `eval` nor `_id2ref` are needed: https://github.com/rubyzip/rubyzip/pull/483

[2021-05-25 16:56] hainesr commented on #2358
Thank you both @eregon, @chrisseaton for your attention and help with this!

[2021-05-25 17:47] #2358 closed

[2021-05-25 20:15] wildmaples commented on #2353
These are the format tokens we care about.

[code]

* FORMAT_ENCODING
* FORMAT_YEAR_LONG
* FORMAT_STRING
* FORMAT_MONTH
* FORMAT_DAY
* FORMAT_HOUR
* FORMAT_MINUTES
* FORMAT_SECONDS
* FORMAT_OUTPUT
* FORMAT_NANOSEC

[2021-05-26 09:39] eregon commented on #2359
Thank you for the report.
The blocked thread from the output above is:
[code]

That should be fine, because it's using `ReentrantLock.lockInterruptibly()` and that can be interrupted.

I can reproduce on 21.1.0, but not on `truffleruby-dev`, could you try that?
There might have been a fix since then.

[2021-05-26 09:41] eregon commented on #2359
Also from that stacktrace it looks like `truffleruby-21.1.0` used JDK8 to be built, and Native Image works better on JDK11+.
I'll investigate why that's the case, it seems unexpected.

[2021-05-26 09:55] eregon commented on #2358
Just to clarify, the _id2ref bug is fixed in beb45b8 (the issue was automatically closed by the commit fixing it).

[2021-05-26 09:56] eregon commented on #2355
Fixed now, will be in 21.2, and already in nightly builds.

[2021-05-26 10:02] deivid-rodriguez commented on #2355
Thanks!

[2021-05-26 10:52] chrisseaton commented on #2353
We've writing a fast version of `formatToRopeBuilder`.

[2021-05-26 11:04] eregon commented on #2353
Right, that makes sense given ZonedDateTime is actually represented as separate Y-m-d and H:M:S fields (and not as a timestamp), so we can PE most accesses there.

[2021-05-26 11:47] fniephaus opened #2360 "ruby-tree-sitter not working"
[ruby-tree-sitter](https://github.com/tree-sitter/ruby-tree-sitter) is a binding for [tree-sitter](https://github.com/tree-sitter/tree-sitter), a parser generator tool and an incremental parsing library written in C.

#### Steps to reproduce (works on macOS):
[code]

#### Errors:
[code]

[2021-05-26 13:51] eregon commented on #2360
When I run it I get different errors:
[code]

BTW I needed to apply this:
[code]

[2021-05-26 14:08] eregon commented on #2356
As a note, it seems both of these methods are new as of Ruby 2.7.

[2021-05-27 09:07] ivoanjo commented on #2359
Yeap, you're right @eregon , I'm also not seeing it anymore with a recent nightly `truffleruby 21.2.0-dev-a101c749, like ruby 2.7.3, GraalVM CE Native [x86_64-linux]` .

Feel free to close (not sure if you want to keep it open due to the JDK8 native image issue you mentioned).

[2021-05-27 10:38] #2359 closed

[2021-05-27 18:47] agbell opened #2363 "Jekyll Performance slower than MRI after warm up"
Hi
Using [Jekyll](https://jekyllrb.com/), and keeping the process running so truffle has lots of warm-up time I found that MRI Ruby is faster. After 20x builds it is getting closer but MRI Ruby is at 0.5 seconds and Truffle --jvm is at ~0.7 and Truffle --native is ~0.9s.  Perhaps that is within expectations, I'm not sure, but I put together a repo to demonstrate.

Here is my [test repo](https://gi

[2021-05-28 10:33] eregon commented on #2363
Thank you for the report.
I still need to read the related [blog post](https://earthly.dev/blog/jruby/) (I just skimmed it so far).

Regarding profiling, there is some documentation https://github.com/oracle/truffleruby/blob/master/doc/user/tools.md (the easier is just adding `--cpusampler`). Those docs seem to miss to mention that's it's possible to profile with Chrome Inspector and get a flamech

[2021-05-28 12:08] eregon commented on #2363
Do you have backtrace or output? How can I reproduce that?

[2021-05-28 12:49] eregon commented on #2363
What would be really useful here is to have a single Ruby process rendering multiple times, without waiting any time in between, otherwise it gets quite messy to profile, because most of the time is spent sleeping or wating.
[code]

FWIW, I ran manually with:
[code]
and then in another shell, multiple invocations of:
[code]

I notice a lot of threads created by `Process.detach`, so probably there

[2021-05-28 13:40] agbell commented on #2363
Thanks for looking into this! Yeah, my profiling method could be improved, but I'm not sure about the best way to tackle that.

This is the error I was getting:
[code]

And then things were hanging.  But I can't reproduce this anymore, now it seems to work find but occasionally give that warning.  So maybe that was user error.  This [branch](https://github.com/agbell/jekyll-perf/tree/kramdown) has

[2021-05-28 14:55] eregon commented on #2363
Thanks, that warning is just a performance warning, it shouldn't affect any behavior.
It comes from https://github.com/gettalong/kramdown/blob/REL_2_3_1/lib/kramdown/parser/kramdown.rb#L201
So apparently that code is hot enough to compile, there are many different Regexps created, and that's pretty expensive.

The --cpusampler output above is only for the `Ruby-reference-processor` Thread (which r

[2021-05-28 14:59] agbell commented on #2363
[results.txt](https://github.com/oracle/truffleruby/files/6561648/results.txt)
Here is the full thing from my run.

[2021-05-28 15:04] chrisseaton commented on #2363
[code]

Lol

[2021-05-28 15:06] eregon commented on #2363
Thanks, it's somewhat similar to the profile I posted above:
[code]

It's interesting that `Truffle::RegexpOperations.match_in_region` seems the hottest there.
Unfortunately 91.5% is spent in Thread#join, I guess waiting for filesystem changes from the 2 `listen` Threads, so those numbers are all very small and hard to compare.

@chrisseaton That Kernel#sleep is from the `listen` Thread it seems.

[2021-05-28 15:35] HoneyryderChuck opened #2364 "Invalid ElementType of Vector: VariableBitWidthType (java.lang.AssertionError)"
My "truffleruby on docker" CI builds are [failing again](https://gitlab.com/honeyryderchuck/httpx/-/jobs/1301837287):

[code]
Invalid ElementType of Vector: VariableBitWidthType (java.lang.AssertionError)
        from com.oracle.truffle.llvm.runtime.types.VectorType.setElementType(VectorType.java:80)
        from com.oracle.truffle.llvm.parser.listeners.Types.setType(Types.java:246)
        from c

[2021-05-28 15:42] bjfish commented on #2364
From the CI logs:
[code]

This appears to be the same issue/error as the GRPC error:
https://github.com/oracle/truffleruby/issues/2247

[2021-05-28 16:28] eregon commented on #2364
Yes, it's the same as #2247.
https://github.com/grpc/grpc/pull/24632 solves this but the gprc maintainers did not merge it yet (feel free to comment there).

I'll close as duplicate of https://github.com/oracle/truffleruby/issues/2247, you can follow that issue.

If this error did not happen before, I guess maybe grpc was added as a new dependency?

[2021-05-28 16:28] #2364 closed

[2021-05-28 17:08] HoneyryderChuck commented on #2364
Thx for the pointers everyone. I did browse through the issues, but didn't find a mention for this specific error.

Yes indeed, I've recently added a [grpc plugin to httpx](https://honeyryderchuck.gitlab.io/httpx/wiki/GRPC), and `grpc` is a test dependency.

[2021-05-31 11:14] eregon commented on #2364
@HoneyryderChuck Do you think you could skip the grpc-related tests on TruffleRuby for the time being? (and also in the Gemfile, using `platforms: [:mri]`)

[2021-05-31 11:35] HoneyryderChuck commented on #2364
sounds reasonable. will do.

[2021-06-02 18:51] chrisseaton opened #2366 "Coverage is confusing with modules"
[code]

[code]

[code]

You can see past the noise here, but in a large code-base it's very confusing to the point where it isn't really readable.

[2021-06-02 18:52] chrisseaton opened #2367 "Error running Optcarrot with coverage enabled"
[code]

[2021-06-02 20:03] eregon commented on #2366
What would be the expected output here?
It looks a bit like the coverage tool assume any region with SourceSection that was executed is marked as executed, even if it's nested in another CallTarget (it cannot easily know that, and hence the blank line in `foo` is considered executed, and other blank lines too). And so only the two lines of code within `foo` are not executed.
We should look at what

[2021-06-02 20:08] chrisseaton commented on #2366
Turns out it's really methods as well - just modules make it even more confusing.

[code]

[code]

Basically I think all but the last one are wrong.

[2021-06-02 20:11] eregon commented on #2366
Trying a similar example to the first example in JS leads to the same result.
The `class` syntax seems to behave differently though.
[code]

[code]

[2021-06-02 20:15] eregon commented on #2366
Those methods and the module body are executed, so the second example seems fine, except for some of the `end` being covered and some not. Or did I miss something?

[2021-06-02 20:39] chrisseaton commented on #2366
If you add some blank lines the noisiness becomes more pronounced.

[code]

Don't you think the line after `if n > 100` being marked is misleading? I can show you some concrete examples on Zoom from a real code base - it's annoying here - seems to become quickly unreadable on larger methods. That's what I was trying to show with #2367, but it doesn't work there at all.

[2021-06-02 23:52] chrisseaton opened #2369 "String format %c pretty incorrect"
[code]

[code]

[code]

Found while working on #2368.

[2021-06-03 09:55] eregon commented on #2369
We also noticed this one when running https://github.com/ruby/ruby/blob/master/benchmark/app_aobench.rb (GR-13417).
PR welcome, it seems a bug in format nodes.

My notes from then:
This turns out to be a bug in Kernel#sprintf. Replacing with `IO#write(byte.chr(Encoding::BINARY))` produces the correct image.

The logic there seems to mostly ignore encodings, which is obviously wrong.

There is alre

[2021-06-03 13:44] eregon opened #2371 "Ensure code is not invalidated when a TracePoint :class event is enabled"
See https://twitter.com/eregontp/status/1400446685113774088
and https://bugs.ruby-lang.org/issues/17881

On TruffleRuby, code compiles fine whether there are TracePoint or not, but enabling or disabling a TracePoint causes invalidations & recompilations.
For the `:class` event, there is no need to invalidate and we can just always check explicitly if there is an active :class TracePoint on `module

[2021-06-03 17:19] eregon commented on #2367
Can be reproduced with `jt ruby --coverage bench/optcarrot/fixed-workload.rb`

[2021-06-04 06:52] boris-spas commented on #2366
The coverage tool, by default, considers a line to be covered if **all** SourceSections on that line are covered (this can be switched to "covered if **any** SourceSections on that line is covered" by using `coverage.StrictLines=false`)

Re: empty lines - this seems like an easy fix, if there are no characters in the line, don't print a coverage character. This becomes tricky if there is indentati

[2021-06-04 09:12] eregon commented on #2366
@chrisseaton Could you post what you expect for the first script?
Is it simply to not mark blank lines?
[code]

This is what CRuby's Coverage stdlib reports (same on TruffleRuby for the Coverage stdlib):
[code]

[code]

[2021-06-04 11:25] chrisseaton commented on #2366
Yes. That's so much more scannable than what we get currently.

[2021-06-04 13:10] eregon commented on #2044
I filed an issue to discuss on the stackprof repo: https://github.com/tmm1/stackprof/issues/159
I think short term it would be nice to let the gem install, and fail at runtime with a clear message.

[2021-06-04 16:03] eregon commented on #2363
I'd like to look more this, but realistically I think we need a way to render the website (or a page) repetitively without any pause in between, otherwise it's very difficult to profile.
If anyone wants to look into that, i.e., a script rendering the website or some page repeatedly, that would be helpful.

`jekyll build` is probably not a great use case for JIT if it executes in a few seconds anyw

[2021-06-04 20:06] #2367 closed

[2021-06-07 11:51] eregon commented on #2089
I'm rerunning this with:
[code]

CRuby 2.7.3:
[code]

Native CE:
[code]

JVM CE:
[code]

From what I understood from @chrisseaton the actual YAML loading in SR is much larger though, because it takes way more than 2 seconds to load the file for SR startup. Could you share the size of that file or what differs from this one?
Optimizing below 2 seconds (a lot about warmup) vs optimizing 20s or so (p

[2021-06-07 12:01] eregon commented on #2089
JVM CE profile, I used `x.iterations = 3`:
`rb_ary_store` seems way too high.
[code]

[2021-06-07 13:44] eregon commented on #2089
After optimizing rb_funcallv_public() to not call rb_ary_new_from_values but directly unwrap the passed `VALUE*`, JVM CE is significantly faster on peak than CRuby!
[code]

Profile after that:
[code]

[2021-06-07 22:01] bjfish commented on #2356
These methods have been implemented at:
https://github.com/oracle/truffleruby/commit/3c681607abb7d85e0103ee4495a3b8fdc50bfa85
https://github.com/oracle/truffleruby/commit/e6e7a0eb493a0f4562f0ea3084dfc7ec983a8e3e

[2021-06-07 22:01] #2356 closed

[2021-06-08 08:14] ivoanjo commented on #2356
Thanks @bjfish for looking into this 🙇

[2021-06-08 18:29] agbell commented on #2363
Hi @eregon, The YJIT Ruby folks converted my example to a proper benchmark here:
https://github.com/Shopify/yjit-bench/pull/21

[2021-06-10 09:50] eregon commented on #2089
Improvements to rb_funcallv*() are now merged: https://github.com/oracle/truffleruby/commit/a50c8e527b92f48c8ac096e8172fbd2dcd181575

[2021-06-10 10:01] chrisseaton commented on #2092
This is faster but still not perfect.

[code]

Is that what you saw as well, Duncan?

[2021-06-14 15:03] eregon opened #2375 "Reimplement the monitor stdlib in Java"
Currently we use monitor.rb: https://github.com/oracle/truffleruby/blob/d2532c21cd85663329e083de1870a6466f258766/lib/mri/monitor.rb
That's quite inefficient, notably because it uses a lot of `Thread.handle_interrupt` which seems quite expensive.
By moving it to Java code we can avoid the need for changing the interrupt mode, because we have better control where guest safepoints can happen (i.e., n

[2021-06-15 23:50] chrisseaton commented on #2375
I see this everywhere

[code]

Doesn't seem like it takes up a lot of `self` time anywhere, but it must add an inlining burden.

Used in key operations like `Logger::LogDevice#write`.

[2021-06-16 08:19] eregon opened #2378 "Implement Process::Status.wait"
Requested by @ioquatix, to fix https://github.com/socketry/event/pull/6/checks?check_run_id=2807838780

This is a new Ruby 3 method, it's the same as `Process.wait` but without setting `$?`, so it should be fairly straightforward to add.

There are no specs currently, we should add some basic specs for it.

[2021-06-16 18:38] bjfish commented on #2344
This is now fixed at https://github.com/oracle/truffleruby/commit/1efa5322390773fa6a4028dba3849d5ba871b30a

[2021-06-16 18:38] #2344 closed

[2021-06-17 21:18] eregon commented on #2350
There is now a warning when the locale is not set properly: https://github.com/oracle/truffleruby/commit/6b03a11d685c4ce58855628ebfef5bafbfa211af

[2021-06-18 21:24] bjfish commented on #2378
This has been implemented at https://github.com/oracle/truffleruby/commit/2b88831b97a183db6ab7059dd5875333629e4304.

[2021-06-18 21:24] #2378 closed

[2021-06-19 01:56] ioquatix commented on #2378
Thanks!!!

[2021-06-20 13:21] eregon commented on #2352
This has been fixed for a while and will be in the next release: https://github.com/oracle/graal/issues/3383#issuecomment-850267110

[2021-06-20 13:21] #2352 closed

[2021-06-21 18:52] nirvdrum opened #2381 "Regular expressions run slower with Truffle Regex"
I've been looking at critical paths that use regular expressions this past week. As part of that, I've been trying with both the existing TruffleRuby regex engine (Joni) and the Truffle regular expression library. I believe we're leaving a lot of performance on the table with Joni because we're unable to PE through most of it. Particularly, for simple expressions, I'd expect Graal to optimize them

[2021-06-22 09:57] tomstuart opened #2382 "Native extension ABI version check failing for some gems"
As [discussed](https://github.com/oracle/truffleruby/commit/d497bae73fdc60585b66cd183768a16563b2886b#r52492762), the native extension ABI version check in d497bae73fdc60585b66cd183768a16563b2886b is causing failures when loading some gems on Linux (Ubuntu 20.04.2 LTS).

My current example is the [`semian`](https://rubygems.org/gems/semian) gem:

[code]

@nirvdrum reported a similar problem with th

[2021-06-22 10:07] eregon commented on #2382
`google-protobuf` is a different case, I already have a PR to fix that (it showed `nil` due the the symbol being hidden).

What happens here most likely is that `TRUFFLERUBY_ABI_VERSION` is not defined somehow, and in that case `STRINGIZE(TRUFFLERUBY_ABI_VERSION);` is replaced by `"TRUFFLERUBY_ABI_VERSION"`.
Probably best to make it a compile/preprocessor-time error if TRUFFLERUBY_ABI_VERSION is n

[2021-06-22 10:12] eregon commented on #2382
https://github.com/Shopify/semian/blob/6ff4b8292038fe3f6fc785884129039d5cf3e05f/ext/semian/extconf.rb#L26 is most likely what overrides the CFLAGS and causes the error.

[2021-06-22 10:21] tomstuart commented on #2382
Makes sense. Is the suggestion that this must be fixed in the gem? Do we have no way of supporting what it’s currently doing?

[2021-06-22 10:24] eregon commented on #2382
I'll try to find a way that's more reliably to pass the define, but overriding `$CFLAGS` seems problematic in general and might be worth fixing in the gem anyway (appending to `$CFLAGS` is fine, replacing much less).

[2021-06-22 10:40] eregon commented on #2382
I found a way, I moved the define from debugflags (part of CFLAGS), to DEFS, part of CPPFLAGS (= C preprocessor flags, `CPPFLAGS="cppflags_hardcoded $(DEFS) $(cppflags)"`) which seems better suited.
Here is to hoping nobody overrides `cppflags` or `$CPPFLAGS`.

[2021-06-22 10:48] tomstuart commented on #2382
FWIW I couldn’t find any other gems with this specific problem. All of the other failures I saw were the `nil` case like `google-protobuf`.

[2021-06-22 11:48] eregon commented on #2382
FWIW RubyInline includes CFLAGS but not CPPFLAGS when it compiles, but that's probably a bug of RubyInline, so doesn't matter too much.

[2021-06-22 14:52] eregon commented on #2381
Thank you for the report, that's unexpected.
We haven't spend much time optimizing the integration of TRegex in TruffleRuby yet, that's probably most of it.

As @chrisseaton noticed, there is currently a ConcurrentHashMap lookup from `tregex_compile` called in `match_in_region_tregex`. That would be good to fix by using some inline caching (but if it's on the RubyRegexp instance we'd need to split

[2021-06-22 15:11] eregon commented on #2381
Trying the second example in isolation, I actually see TRegex around 4x faster:
[code]

When running the full benchmark I see about the same performance for both (not expected, TRegex should be faster):
[code]
We'll investigate.

[2021-06-22 16:33] eregon commented on #2382
Fixed by https://github.com/oracle/truffleruby/commit/3252693c341d9db8f9ba3065fd891d4c602bf439

[2021-06-22 16:33] #2382 closed

[2021-06-22 16:43] eregon commented on #2381
By using plain fields (one per encoding supported by TRegex * 2 for the `atStart` flag) for TRegexCache, I see it's now 3x faster for the individual benchmark:
[code]
and no more boundaries during the benchmark.

I'll run the full benchmark with that change.

[2021-06-22 17:06] nirvdrum commented on #2381
Thanks for looking. I was going to play with the CHM, but I may have prematurely discounted that as the problem. I was looking at all of Joni being behind a boundary and the CHM request behind a boundary and pessimistically considering them near equal. If you already plan on adding an IC, I can leave that with you. Otherwise, I'll take a look later.

[2021-06-22 17:12] eregon commented on #2381
Here it is with the improved TRegexCache:
[code]

About as fast as Joni, and faster for the first and last one, i.e., the `no match` cases.

We see that during warmup `literal characters - no match` is so much faster, so I suspect we see degraded performance during measurements due to the polymorphism of seeing more regexps.
Splitting more might help (but can be expensive in footprint & warmup), o

[2021-06-23 10:24] aardvark179 commented on #2375
This seems doable. We already have a Java implementation of `Mutex` and `ConditionVariabl`, and since the mutex is a reeentrant lock under the hood it could easily serve as a monitor if we exposed the right methods. We'd also need a way to create the condition variable linked to the underlying monitory, but again this seems entirely doable.

[2021-06-23 11:56] jirkamarsik commented on #2381
Splitting more does indeed help. By setting `--engine.SplittingMaxCalleeSize=200`, it is possible to split the `match_in_region_tregex` built-in. This means that every Regexp then gets to optimize its own call site and we get much better peak performance (close, but not yet the same, to what we get when running the benchmarks in isolation).

TruffleRuby with Joni:
[code]

TruffleRuby with Truffle

[2021-06-23 13:37] eregon commented on #2381
Right, I think the way to go then is to make `match_in_region_tregex` fit in a 100 AST nodes, or force-split it as well as related Regexp methods (since force split is not recursive IIRC, to be verified), since it seems quite valuable for smaller regexps.
It's unfortunate that if multiple call sites match against the same regexp they would each have their copy of those nodes, but I don't know of a

[2021-06-23 14:25] eregon commented on #2381
The better TRegexCache got merged in https://github.com/oracle/truffleruby/commit/24bf3fd86e5de2397d6bf8f237d13cffe2891ac3

[2021-06-23 15:23] nirvdrum commented on #2381
Interesting. Splitting was something I was curious about, but I didn't know about `--engine.SplittingMaxCalleeSize`. That indeed does make a huge difference. I'll see if I can simplify things.

[2021-06-23 16:28] eregon commented on #2381
What's unfortunate is we spent quite some time to make setting `$~` in the caller is efficient, even when it's not split nor inlined. And now it seems we need to split & inline to be efficient with TRegex. Oh well.

[2021-06-23 23:27] ChillingHsu opened #2385 "Unnecessary compilation in TruffleRuby on Community Edition"
When I tried to compare TruffleRuby's performance between Graal CE and EE, for a simplified n-body benchmark, TruffleRuby on CE seems to have more compilation processes than EE. I tried to find out the reason but failed. So could you please give me some clues? Bear with me if I asked this question in the wrong place (probably should be in oracle/graal)

simplified n-body benchmark:
[code]

Truffle

[2021-06-24 01:21] nirvdrum opened #2386 "ABI version not set for json gem"
The `TRUFFLERUBY_ABI_VERSION` value is not being set correctly when installing _json_ from a gem:

[code]

It is being generated in the various _Makefiles_:

[code]

[2021-06-24 01:42] nirvdrum commented on #2386
I'm seeing a similar issue with [grpc](https://github.com/Shopify/grpc) (branch: _truffleruby-1.30.1_). Since the feature isn't broadly broken, would you prefer a separate issue is filed for each affected extension?

[2021-06-24 09:19] eregon commented on #2385
Could you share the output of `--engine.TraceCompilationDetails` or just `--engine.TraceCompilation`?
That should show which methods get compiled, in which Tier, and whether they get deoptimized.

[2021-06-24 10:07] ChillingHsu commented on #2385
CE:
[code]

EE:
[code]

[2021-06-24 11:51] eregon commented on #2385
`Connected to the IGV on 127.0.0.1:4445` that means dumping is enabled.
That can have a large effect on compilation as sending graphs over the network takes some time.

The invalidations (`opt inv.`) seems to be from installing the Tier 2 code here.

The timing of compilation can be hard to predict since multiple threads are used.
You might want to use `--engine.BackgroundCompilation=false` to get

[2021-06-24 12:05] ChillingHsu commented on #2385
Thanks for your reply. I removed the dumping option and added the option to disable multi-thread compilation.
(now cmd options I used are `--jvm --experimental-options --engine.TraceCompilationDetails --engine.CompilationStatistics --engine.BackgroundCompilation=false simplified.rb`)

But the results still haven't changed much:

CE:
[code]
EE:
[code]

[2021-06-24 14:28] eregon commented on #2386
I can reproduce for `json`, `lib/json/ext/generator.so` has the version but `lib/json/ext/parser.so` seems to have almost no symbols, investigating.

[2021-06-24 14:31] nirvdrum opened #2387 "Better grouping of "help" options"
When running `ruby --help`, the runtime options are listed as:

[code]

I think having the help options split up makes it harder to discover them. I suppose I could see the bare `--help` split off by itself, but I think `--help:vm` should be with the other `--help:` variants. Alphabetically sorting them might be nice as well, which would naturally group the options together.

[2021-06-24 14:40] eregon commented on #2386
Ugh, it seems the preprocessor fails but then nothing really notices the failure and it keeps installing:
[code]

[2021-06-24 15:26] eregon commented on #2386
About `grpc`, the problem is likely that it strips the symbols.
https://github.com/Shopify/grpc/blob/9bfe26e03b8122163e10acaa563e52616244a713/src/ruby/ext/grpc/extconf.rb#L129-L137

So:
[code]

[2021-06-24 15:37] eregon commented on #2386
Just removing the `strip` does not seem enough unfortunately, the symbols are still undefined:
[code]

[2021-06-24 15:48] eregon commented on #2386
Actually the `strip` is fine, the issue is due to `-Wl,--version-script=` https://github.com/Shopify/grpc/blob/9bfe26e03b8122163e10acaa563e52616244a713/src/ruby/ext/grpc/extconf.rb#L96 which hides most symbols.

[2021-06-24 15:52] eregon commented on #2386
https://github.com/eregon/grpc/commit/d400bb98a9c25fb0d1f534a7eb9e7946846d0305 fixes it by explictly keeping the `rb_tr_abi_version` symbol. Then `require 'grpc'` works fine.

There is also the possibility to skip https://github.com/Shopify/grpc/blob/9bfe26e03b8122163e10acaa563e52616244a713/src/ruby/ext/grpc/extconf.rb#L96 entirely, but that seems a bigger change.

[2021-06-24 16:14] nirvdrum commented on #2386
I'm a bit worried this is going to continue happening with arbitrary gems and each will require a one-off fix. "Fixing" it in each gem can be problematic if a project can't or won't upgrade to a version of the gem that pulls in the fix. E.g., some gems have infrequent release cycles and having to point at a git branch may not be allowed.

Can we go about this another way? It's a terribly naive sol

[2021-06-24 16:31] eregon commented on #2386
`grpc` is the only gem so far that needs upstream modification for this, and it (currently) needs modifications to compile on TruffleRuby anyway.
So I think it's good enough for now. I'm happy to reconsider if there are other gems that would need upstream fixes.

An extra file seems difficult to produce next to the `.so` and much less reliable as it doesn't indicate which version of the headers wa

[2021-06-24 17:20] wildmaples opened #2388 "Optimize keyword argument methods using call-target-specific arguments"
## Background

Keyword arguments are being used more often and we'd like to optimize it. There was a [previous implementation](https://github.com/oracle/truffleruby/commit/5dc368f3709a288a89f3535485d77c0ba4cf3cb4) that was reverted but we're trying to re-implement as according to the paper, [Call-target-specific Method Arguments](https://raw.githubusercontent.com/HPI-SWA-Lab/TargetSpecific-ICOOOLP

[2021-06-24 19:37] eregon commented on #2388
I think method lookup should remain independent of arguments.
But the actual calling of a method can be different if the target method accepts keyword arguments.

There are multiple designs possible here.
I don't really like the marker approach (extra checks typically) or approaches which need to handle the arguments being either packed or not (makes the AST & compiled code even larger), or approa

[2021-06-24 19:46] eregon commented on #2388
Note that because of Ruby semantics, if we see `foo(a: 1, b: 2)` it doesn't mean `foo` accepts keyword arguments, it could be `def foo(h)` or def `foo(**h)` or `def foo(a:, b:)` (or even `def foo(a:, **kw)`).
If we do this by looking at the callee CallTarget, it's no trouble and we can do the right thing (create a Hash for the first 2 cases, pass only the values for the 3rd case, a mix for the 4th

[2021-06-24 19:55] eregon commented on #2388
I think the approach I suggest is quite similar to the paper, with the difference of avoiding the `Pitfalls  and  Implementation  Details` which is about handling the arguments being either packed or not and something that seems best to avoid, so the callee always receives arguments packed as planned and does not need to handle receiving them as a single Hash.

BTW implementing this feature should

[2021-06-24 19:59] eregon commented on #2386
The issue is fixed for `json` in a8b7abcf89458611e53107b4cb493abc193bc062, and for `grpc` it needs https://github.com/eregon/grpc/commit/d400bb98a9c25fb0d1f534a7eb9e7946846d0305.
Thanks for the report!

[2021-06-24 19:59] #2386 closed

[2021-06-24 20:02] chrisseaton commented on #2388
99% of dynamic calls with keyword arguments do not have any kind of splatting - we just want something simpler to catch that don't we?

And yes ask the caller what it accepts.

Yes it would add one extra check on the proposed token, but that would be in most cases (we could count) a guard-deoptimise.

[2021-06-24 20:15] eregon commented on #2388
I wouldn't be sure, `**kwrest` is fairly frequent for delegation.
And in that case, for the `bar()` call in `def foo(a, **kw); bar(a, **kw); end` it seems quite messy (complexity and maintainability-wise) if we need to fallback to some logic that reads from the Hash in the callee.

[2021-06-24 20:17] chrisseaton commented on #2388
It was a fact not a guess :)

[2021-06-24 20:22] eregon commented on #2388
In any case I think there needs to be a single way to handle keyword arguments on the callee side.
Otherwise we'll have 2 pieces of code out of sync, with a lot of complexity and that's going to be error-prone.
IIRC, that was a big reason why we had to revert the original optimization, because it was too hard to keep it working + fix the semantics and have both be compatible semantically.

Kind of

[2021-06-24 20:23] chrisseaton commented on #2388
Either way, a first step is to pass keywords as positionals, based on an agreed order. We could do that step and then expand, I think?

[2021-06-25 15:35] fniephaus opened #2390 "[interop] Truffle::Interop.member_invocable? throws exception"
It looks like `Truffle::Interop.member_invocable?` (and possibly others) throw exceptions instead of returning `false` when the member is not a string. This is low priority, but maybe something that can/should be easily fixed.

[code]

[2021-06-25 15:48] eregon commented on #2390
I think this is expected behavior (to throw an exception in that case), since it's `InteropLibrary#isMemberInvocable(Object receiver, String member)`.
If we can't convert the member to a String, IMHO we should throw as we do, not ignore it which might be more confusing for the user.
Basically it's a user error to pass a name that is not an interop string (`InteropLibrary#isString`).

I'm not sure

[2021-06-25 15:52] eregon commented on #2390
[code]
So `Object` in JS is indeed not a interop string.

[2021-06-25 16:03] fniephaus commented on #2390
Right, I see your point. It seems this would be in line with how other interop messages are treated, for example:

[code]

I have lifted the interop implementation onto the language level and so far, the messages only return false if the member is not a string in TruffleSqueak. Maybe I should start throwing an exception to be consistent?

[2021-06-25 16:26] eregon commented on #2390
I think so, at least if the language typically throws an exception when coercion fails, which is the case for Ruby and I would think most languages. The "argument error" / "type error" in that case is helpful to tell the user they are trying something typically unintended.

Similar for host interop, when trying to call a method taking a String but passing something not coercible to a String it wou

[2021-06-25 16:26] #2390 closed

[2021-06-25 19:17] eregon commented on #2381
With https://github.com/oracle/truffleruby/pull/2389 + a couple further optimizations/cleanups, I get:
[code]

Which is, in order, speedups of TRegex over Joni of 27x, 15x, 17x, 18x and 41x!

[2021-06-25 19:30] eregon commented on #2381
By profiling the groupCount we get even better performance for the `match` cases, as then those arrays can be escape analyzed:
[code]

[2021-06-25 20:50] eregon commented on #2004
I think it's time to mark this issue as solved, we already support most of 2.7 since a 21.0.0.

Remaining from the list is:
* Pattern matching is partially implemented, but in 2.7 it's experimental so likely not used much.
* The new encoding CESU-8, needs support in JCodings.
* C-API `*_kw` functions, part of them are already there.

Those don't seem used much so I think we'll just pragmatically a

[2021-06-25 20:50] #2004 closed

[2021-06-28 18:44] eregon commented on #2381
I did the optimization to compute capture group indices lazily for TRegex, the PR should merge this week.
It does not change much given these regexps are pretty trivial.
With that:
[code]

Speedups TRegex vs Joni:
24.4x 25.6x 43.1x 45.5x 37.2x

Speedups TRegex vs CRuby 2.7:
27.0x 26.7x 39.4x 43.6x 41.1x

[2021-06-29 13:30] eregon commented on #2385
I tried to reproduce with the latest truffleruby & graal, and it does not reproduce.

[code]

They do 74 and 75 compilations, i.e., basically the same.

So this should no longer reproduces for the upcoming 20.2 release, probably related to the new TraversingCompilationQueue: https://github.com/oracle/graal/blob/master/truffle/docs/TraversingCompilationQueue.md

FWIW, there can be a different numbe

[2021-06-29 13:30] #2385 closed

[2021-06-29 16:37] eregon commented on #2381
https://github.com/oracle/truffleruby/commit/84ecfb4dfb24a263f760b71fdc68265cde2a06fa merged so I think we can close this.
Thank you for the great issue.

[2021-06-29 16:37] #2381 closed

[2021-07-01 08:09] ioquatix opened #2392 "`rb_str_modify` seems to fill strings with null bytes."
My understanding is this method is supposed to blow up if the string is frozen. But existing content should be preserved. However, my test shows otherwise.

https://github.com/oracle/truffleruby/blob/3219bdbd62abd0bb79605320b12e6b2f3355919b/src/main/c/cext/string.c#L176-L178

This is my implementation:

[code]

In this test, we call this method twice, and the following results:

[code]

[2021-07-01 10:09] eregon commented on #2392
rb_str_modify on CRuby 2.7 is:
[code]
Interestingly it's `str_independent` which raises if frozen, ENC_CODERANGE_CLEAR or str_make_independent do not (on CRuby).

Docs:
[code]

rb_str_modify_expand() also calls `str_independent` so also checks if frozen.
We should add a frozen check for both and add C-API specs for that.

Regarding the `\x00` that's less clear, @bjfish could you investigate?
It's

[2021-07-01 22:55] ioquatix commented on #2392
I guess my feeling is, Ruby IO using Strings is finally coming to a point where we actually need something a bit better.

So, I'm going to propose `IO::Buffer`. We still need to fix this issue though.

[2021-07-03 04:51] nirvdrum commented on #2392
I'd be happy to add support to such a proposal. You may want to look at a previous feature request for a [byte array type](https://bugs.ruby-lang.org/issues/13166). It has comments from several Ruby core members.

[2021-07-03 09:43] eregon commented on #2169
There is great progress here due to improvements to inner contexts in Truffle (upcoming PR, but seems almost ready).
With that it's convenient and efficient to use inner contexts for ExecJS: https://github.com/rails/execjs/compare/master...eregon:graaljs-runtime-inner-context-convert
ExecJS tests run in 3.3s, vs 22s when there was the issue to initialize a RubyContext in each in inner context, vs

[2021-07-03 09:45] eregon commented on #2392
https://github.com/ruby/ruby/pull/4621 is the PR by @ioquatix to add `IO::Buffer`.

[2021-07-05 01:36] SamSaffron commented on #2169
Amazing! Would love to try this out!

[2021-07-05 09:43] dentarg commented on #1624
Seems to happen when using truffleruby-head-ubuntu-18.04 with Addressable (build ran 2 days ago): https://github.com/sporkmonger/addressable/runs/2977469877?check_suite_focus=true#step:7:87

The Marshal dump is from 2012: https://github.com/sporkmonger/addressable/commit/1eb715d16c93987f5feb5507ad88f6a7cd708b61

truffleruby-21.1.0-ubuntu-18.04 works fine though: https://github.com/sporkmonger/addr

[2021-07-05 10:33] eregon commented on #1624
Thanks for the report! We'll look into that.

[2021-07-05 10:51] eregon commented on #1624
The problem in the original example is that some of the Symbols get a BINARY encoding when reloaded:
[code]

[code]

[2021-07-05 13:39] eregon commented on #1624
@dentarg I tried to reproduce but the addressable specs pass for me locally.
Unclear why they failed in that CI run.

[2021-07-06 16:07] #1624 closed

[2021-07-07 20:37] ChillingHsu opened #2396 "Expose an interface to get compilation queue size"
I'm a Java newbie, and I want to fetch compilation queue size data in every iteration of my benchmark, like `Truffle::Graal.compliation_queue_size`.

To do that, I added this snippet into the class `TruffleGraalNodes` (and relevant imports):
[code]

and I run `jt build --env jvm-ce --name modified`, everything seems fine. but it fails when I tried to use it:
`jt -u modified ruby -e 'Truffle::Graal

[2021-07-08 01:23] wildmaples commented on #2388
Last time we spoke, we agreed to come up with a prototype for this issue, since [MRI also has a similar optimization done](https://github.com/ruby/ruby/commit/79ddbe9deebc5af0f08e52cd056f58b49e486ea6). I'm currently working on it.

[2021-07-08 10:47] eregon commented on #2388
FYI @norswap and I are working on a refactoring of Hash strategies. That might bring some conflicts.
I suggest to avoid any new code touching Hash internals if possible, if it's only existing nodes then it should be relatively easy to migrate.

[2021-07-08 10:53] eregon commented on #2396
Essentially the TruffleRuby codebase cannot refer to GraalTruffleRuntime-specific classes, because it needs to be able to build with the DefaultTruffleRuntime too (used for testing and in TruffleRuby development).
So if you want to be able to access the compilation queue size from inside Ruby code, you would need to suggest adding TruffleRuntime#getCompilationQueueSize() at https://github.com/orac

[2021-07-08 10:54] eregon commented on #2396
I'll close this because I don't think we can do anything in truffleruby, without first a change in TruffleRuntime. Or `--engine.TraceCompilationDetails` might be enough for you, and then there is no need to change anything.

[2021-07-08 10:54] #2396 closed

[2021-07-08 16:09] chrisseaton commented on #2396
@fniephaus how do you get the queue size in your language? Do you modify Graal to do it?

[2021-07-08 18:52] fniephaus commented on #2396
In TruffleSqueak, we do [this](https://github.com/hpi-swa/trufflesqueak/blob/62c0e77654a44b2b6fe5b69286175408f0ab745f/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesqueak/nodes/plugins/TruffleSqueakPlugin.java#L62). We use our own [`JavaObjectWrapper`](https://github.com/hpi-swa/trufflesqueak/blob/62c0e77654a44b2b6fe5b69286175408f0ab745f/src/de.hpi.swa.trufflesqueak/src/de/hpi/swa/trufflesque

[2021-07-08 20:02] deivid-rodriguez opened #2397 "`Dir.mkdir` doesn't handle `Pathname`'s"
On CRuby 2.7.3:

[code]

On truffleruby-dev:

[code]

[2021-07-09 22:24] bjfish commented on #2392
Both of these issues have been fixed at:
- https://github.com/oracle/truffleruby/commit/00283ee9b7162b1467d9213f7db1606002d3ce0f
- https://github.com/oracle/truffleruby/commit/000482099abb95ffe33eb852b5c1fb5cab57ed65

[2021-07-09 22:24] #2392 closed

[2021-07-10 02:45] ioquatix commented on #2392
Awesome, nice work!

[2021-07-12 08:28] postmodern opened #2398 "String#scrub! on invalid UTF-8 String causes internal exception"
Discovered this [bug](https://github.com/postmodern/hexdump.rb/runs/3044142389?check_suite_focus=true) while adding Encoding support to the [1.0.0 branch](https://github.com/postmodern/hexdump.rb/tree/1.0.0) of [hexdump.rb](https://github.com/postmodern/hexdump.rb/tree/1.0.0#readme). The bug is triggered when [String#scrub!('.')](https://github.com/postmodern/hexdump.rb/blob/0b5debb52335f77021d40f

[2021-07-12 18:12] #2398 closed

[2021-07-13 09:30] eregon commented on #2398
Thanks for the report, fixed in #2399 and `truffleruby-dev` should have a build soon with that fix.

[2021-07-13 11:17] eregon commented on #2388
FYI, that refactoring was merged in https://github.com/oracle/truffleruby/commit/6e7a9b038134309ba3b1aab2550ab6e8828ce3e7

[2021-07-13 11:22] eregon commented on #2366
Fixed by @boris-spas now (GR-31869):
[code]

[2021-07-13 12:40] eregon commented on #2325
That's because the benchmark leaks Fibers essentially, since they are never run or terminated.
And leaking Fibers means many more alive threads, much bigger heap, longer GCs, no Fiber pool reuse, etc.
In summary, it's no better than a big memory leak.

Here is a Fiber creation benchmark which does not leak Fibers:
[code]

Results:
* CRuby 2.7: 882,599
* JVM CE: 44,622
* JVM CE `--fiber-leave-conte

[2021-07-13 13:58] HoneyryderChuck opened #2400 "sendmsg_nonblock with exception: false gobbling all errors"
Reproducible with:

[code]

In CRuby, this raises ` No route to host - sendmsg(2) (Errno::EHOSTUNREACH)`, whereas in truffleruby, it return `:wait_writable`.

Bottom line is, connectivity errors shouldn't  be gobbled.

Observed this behaviour with 21.1.0

[2021-07-13 14:05] eregon commented on #2400
@HoneyryderChuck Trying that script (+ `require 'ipaddr'`) on CRuby I get:
[code]
And the same on truffleruby-dev.

[2021-07-13 16:02] HoneyryderChuck commented on #2400
Probably because your IPv6 connectivity works better (kudos to your ISP provider 😂 ).

Maybe try it out with some other unreachable IP?

[2021-07-13 16:05] HoneyryderChuck commented on #2400
You can set the following ip table rule:

[code]

And use that IP. Also doable from within truffleruby's docker container.

[2021-07-13 17:00] #2397 closed

[2021-07-13 18:05] deivid-rodriguez commented on #2397
Thanks!

[2021-07-14 00:02] chrisseaton commented on #2366
Thank you very much!

[2021-07-14 04:32] ioquatix opened #2402 "Maybe missing `rb_fiber_current`?"
It compiles, but fails:

https://github.com/socketry/event/runs/3063384404#step:5:63

[code]

[2021-07-14 04:33] ioquatix commented on #2402
It seems like we have it?

https://github.com/oracle/truffleruby/blob/5f4a46271351c5b8e22b078620d826824d6adb7f/lib/cext/include/ruby/intern.h#L250

[2021-07-14 10:11] eregon commented on #2402
https://github.com/oracle/truffleruby/blob/5f4a46271351c5b8e22b078620d826824d6adb7f/lib/cext/include/ruby/intern.h#L250
is just the prototype, this error means there is no actual definition of the `rb_fiber_current()` function.

So we should add it, @bjfish could you do that?

[2021-07-14 10:12] eregon commented on #2402
Note that if you use `have_func('rb_fiber_current')` it should correctly find out that it's not available on TruffleRuby (until we add it).

[2021-07-15 02:13] ioquatix commented on #2402
Thanks, sorry, I didn't realise this was needed. I can add it.

[2021-07-15 09:24] eregon commented on #2402
It's just a good way to workaround if the function is not available, but we'll add it soon anyway (if you use `truffleruby-head`).

We noticed other `rb_fiber_*` functions are also not defined currently on TruffleRuby and will add those too.

[2021-07-15 14:47] bjfish commented on #2402
This is now implemented at: https://github.com/oracle/truffleruby/commit/06bc34f55d238747b832581a71ce2cd413e0d0d0. Thank you for reporting this.

[2021-07-15 14:47] #2402 closed

[2021-07-15 15:05] chrisseaton commented on #2388
Here's a new sketch idea I've discussed with @eregon and @wildmaples.

- caller always sends keyword argument values as flat array of values in the arguments array - [a0, a1, ..., v0, v1, ...]
- caller also passes a description of the keywords [k0, k1, ...] - this instance is created statically and pooled globally so it can be compared by reference
- keyword arguments are packed simply in the orde

[2021-07-15 15:23] eregon commented on #2388
That sounds great!

What happens for `foo(**h)`? Also use the descriptor in that case since there are keywords arguments on the caller side?

I think there is an issue if we want to do this in 2.7 and not in 3.0, because in that case it's possible (although it warns with `-w`) to call a method accepting keyword arguments without using the keyword arguments syntax at the call site. In 3.0 it's an e

[2021-07-15 15:30] eregon commented on #2388
There is also the inverse case of:
[code]
It's unclear in such a case if it's beneficial to use the descriptor. I guess at least it's not incorrect to use it as it's a new Hash created, and for `foo(**h)` it would copy anyway.

We could easily check if the callee does not accept keyword arguments and in that case pass no descriptor and everything as positional.

[2021-07-15 15:35] eregon commented on #2388
Another complication is since Ruby 2.7 any key is allowed in a keyword hash, not just Symbols.
So `foo(**h)` might have non-Symbols keys, and the descriptor would need to handle that.
It makes comparison less easy, and is an issue about leaking keys inside descriptors globally.

[2021-07-15 16:12] #2400 closed

[2021-07-15 16:17] chrisseaton commented on #2388
[code]

translated to

[code]

`args.kwhash` is usual logic for finding the keyword argument hash.

This is fine - because the descriptor will say the keyword wasn't passed explicitly, so look it up as normal.

[code]

translated to

[code]

[code]

translated to

[code]

If it's already in a hash, we don't take it out.

[code]

translated to

[code]

[2021-07-15 16:37] eregon commented on #2388
So that means we would need to have to maintain both paths then when reading kwargs, reading from packed arguments or from a Hash. In other words, only literal kwargs use the optimization. Seems not completely ideal, but it does simplify things quite a bit in that design.

---

To emit code like the `it's a bit polymorphic` case above we basically need to rework the AST a bit so `ReadKeywordArgume

[2021-07-17 19:44] ivoanjo opened #2404 "`break` causes `BreakException` to escape out of the interpreter"
This seems to trigger on the latest 21.1.0 stable, as well as on a recent nightly:

[code]

[2021-07-19 09:21] eregon commented on #2404
On CRuby it's:
[code]

So probably something to handle in the parser or translator.

Such code is always incorrect of course, is some variant of it used in some gem or app?

[2021-07-19 09:24] chrisseaton commented on #2404
I half-wrote a spec but then got de-motivated when I saw I'd have to work on the parser.

[code]

[2021-07-19 09:38] ivoanjo commented on #2404
Indeed, I can provide a bit more context. I usually have `pry-byebug` or a similar one installed, which provides a `break` command (for listing breakpoints).

I forgot that under TruffleRuby it doesn't work, so I just typed `break` inside the REPL and my app died with that error:

[code]

whereas in MRI if I uninstall the debugging gem I get an error, but my app doesn't die:

[code]

So I thought

[2021-07-19 10:19] eregon commented on #2404
That's a slightly different case actually.
It seems `eval` is actually forbidden in `eval`, be it a break-from-call-with-block or a break-from-while:
[code]
Probably it is easier to handle this in the BodyTranslator, e.g., see if it's a top-level or eval ParserContext, and there is no block or `while` around it. Probably need to check if there is no parent MethodTranslator or so.

[2021-07-19 10:25] eregon commented on #2404
Note: https://github.com/oracle/truffleruby/issues/1672#issuecomment-797446928 is the issue with `pry-byebug`.

[2021-07-19 10:29] eregon commented on #1672
As a note, TruffleRuby already supports a couple debuggers:
* VSCode: https://www.graalvm.org/tools/vscode/graalvm-extension/#ruby-debugging
* Chrome: https://www.graalvm.org/tools/chrome-debugger/

[2021-07-19 11:20] tomstuart commented on #2388
This sounds great! My mental model of the tradeoffs isn’t as clear as it should be, so I could use some help developing my intuition:

Am I correct that the main advantage of the call-target-agnostic approach is that it’s simpler (potentially much simpler) to implement on the caller side, rather than necessarily faster than the call-target-specific approach? Naively it feels like the former must d

[2021-07-19 11:45] eregon commented on #2388
It's very good points. I think I don't know of all trade offs yet either.

Yes, the call-target-agnostic approach means the callee needs to handle either the packed kwargs, or extract from a Hash, and the packed kwargs might be in different order for different callers. The logic for extracting from a Hash feels pretty messy, so from that point of view it is not ideal. If that strategy is used rega

[2021-07-19 12:19] eregon commented on #2136
Given https://bugs.ruby-lang.org/issues/17307#note-21
The way to mark C extensions as thread-safe should be:
[code]

[2021-07-19 13:02] eregon commented on #2136
@ioquatix says a way to define it explicitly per method would be nice, like:
[code]
It's more verbose if many methods, but explicit vs implicit thread-local state. Maybe we can have both.

[2021-07-19 13:29] ioquatix commented on #2136
Here is a way to efficiently pack flags into `args` which gives us plenty of head room:

[code]

[2021-07-19 22:52] chrisseaton commented on #2388
This is what MRI is doing at the moment.

https://github.com/ruby/ruby/commit/79ddbe9deebc5af0f08e52cd056f58b49e486ea6

Note that I think `rb_iseq_only_kwparam_p` is misleading - it means only keyword arguments *and zero or more* leading arguments.

[2021-07-19 23:11] chrisseaton commented on #2388
MRI does pass literal keyword arguments flatly, which is what we're proposing, but then it looks them up by a linear search each time, so it's like our packed hash strategy.

[code]

But there's no descriptor of the arguments like we're proposing to be able to compile this loop away, and no specialisation. The callee does get the caller site info, and uses this to interpret the flat array of keywo

[2021-07-19 23:16] chrisseaton commented on #2388
JRuby always passes a full hash, and extracts keyword argument values like this:

[code]

Notice the mutation of `lastArg` on the conversion, to fast-path it the next time.

[2021-07-20 10:27] eregon commented on #2388
Here are some more discussion points (discussed with Chris).
* CallTarget-specific might be more complex in terms of logic, because mix-and-matching caller kwargs with callee kwargs
* But CallTarget-agnostic needs to handle unpacking either from the Shape-like kwargs or a full Hash in the callee.
* CallTarget-specific leads to more generated code, due to having more call sites than methods
* CallT

[2021-07-20 10:39] eregon commented on #2388
@wildmaples @chrisseaton Since it seems you prefer the CallTarget-agnostic approach and you're doing the work I say go for it, I think both approaches are good and have their own merits.

Representation-wise, it might be interesting to use a DynamicObject + Shape, that would avoid boxing primitive values. That means extra nodes (using DynamicObjectLibrary) for writing/reading though. Could also be

[2021-07-21 18:29] petenorth opened #2406 "External LLVMFunction __strspn_c1 cannot be found."
Am using this Docker image

[flavorjones/truffleruby:21.2.0](https://hub.docker.com/layers/flavorjones/truffleruby/21.2.0-buster/images/sha256-599f039d22b784eb6f665cfe7fc203082a9c8642558588c35ebf0218a7064ccb?context=explore)

Which is based on I think these Dockerfiles

https://github.com/flavorjones/truffleruby/tree/master/tool/dockerfiles

And am encountering this issue
[code]
Interestingly usin

[2021-07-21 19:11] eregon commented on #2406
Can be reproduced with:
[code]

[2021-07-21 19:15] eregon commented on #2406
And indeed it does not happen on `nightly`, most likely because those builds are done on Ubuntu 20.04, which is more recent than releases which are done on Oracle Linux 6.
[code]

I guess you mean `:nightly` and not `:latest`, right?

[2021-07-21 21:00] eregon commented on #2406
A workaround until this is fixed is to explicitly install the `date` gem (or to use `nightly`):
[code]

[2021-07-21 21:01] petenorth commented on #2406
The base image that I don't see the issue on is  `flavorjones/truffleruby:nightly-buster-slim`

into which additional packages are added

`RUN apt-get update && apt-get install -y curl gnupg2 git libpq-dev shared-mime-info`

[2021-07-21 21:03] eregon commented on #2406
Yeah that's based on nightly builds so those don't have the issues because they are built on a newer distribution, Ubuntu 20.04: https://github.com/flavorjones/truffleruby/blob/master/tool/dockerfiles/nightly.dockerfile#L6

[2021-07-23 11:40] ivoanjo opened #2407 "Performance regression while calculating code coverage in 21.3.0-dev head builds"
Howdy 👋

We've recently started to run a subset of the [`ddtrace` gem](https://github.com/DataDog/dd-trace-rb) test suite using [truffleruby-head](https://github.com/DataDog/dd-trace-rb/blob/master/.github/workflows/test-head.yaml).

In the past few days, our test suite has started to take really long to run on truffleruby-head, e.g. for instance on [this run](https://github.com/DataDog/dd-trace-r

[2021-07-23 12:42] eregon commented on #2407
I can reproduce, thank you for the great issue report.

6aaaa4689c49c9aaa1740ec6553d1c87a868aaf4 seems unlikely because `language.contextIfSingleContext.isPresent()` should always be `true` when using RubyLauncher / `ruby`/`truffleruby` on the command line (currently).

[2021-07-23 12:46] eregon commented on #2407
Looking with --cpusampler:

20.2.0:
[code]

e1c70780
[code]

[2021-07-23 13:54] eregon commented on #2407
It's due to e95ab5954739920f3200d1c3db66bc6d2263b5de.
It seems SimpleCov parses a pretty large JSON file at the end, and that uses StringScanner very heavily.
That seems be slower with TruffleRegex currently, likely due to not enough splitting (`scan_internal` is quite big and does not split).

[2021-07-23 14:24] eregon commented on #2407
This is the JSON file being parsed: [resultset.zip](https://github.com/oracle/truffleruby/files/6869375/resultset.zip) (from `coverage/.resultset.json` from that run)
Can be reproduced with just:
[code]

[2021-07-23 15:39] eregon commented on #2407
We got a fix, should be merged soon.

[2021-07-23 15:44] ivoanjo commented on #2407
Interesting! I did briefly suspect the regex change, but since turning off simplecov made the issue go away I completely forgot about it.

Thanks for the mega-fast fix, as always 🙇 . We still don't run the full ddtrace CI test suite on TruffleRuby, but I hope to do that soon :)

[2021-07-26 14:55] eregon commented on #2375
Fixed in https://github.com/oracle/truffleruby/commit/00b825c2bd35fda0407e86321ac60a24c6c103d8

[2021-07-26 14:55] #2375 closed

[2021-07-26 14:57] chrisseaton commented on #2375
How much faster did this make it?

[2021-07-26 15:06] eregon commented on #2406
Fix in https://github.com/oracle/truffleruby/commit/b37e09e842116044db8ad8adbc3f7fc7812cc6f4

[2021-07-26 16:03] aardvark179 commented on #2375
I added a monitor/synchronize microbenchmark as part of this work. Without the change the peak performance was 4221084 iterations per second, and with the change it is 20322560 iterations per second, so about a 5x speed increase.

[2021-07-26 22:47] #2407 closed

[2021-07-27 12:07] eregon opened #2408 "Addressable specs pass on truffleruby-21.1 but not on truffleruby-21.2"
From https://github.com/ruby/setup-ruby/issues/208

[2021-07-27 12:09] eregon commented on #2408
Locally on Linux,

with just:
[code]
it passes.

But with BUNDLE_WITHOUT from https://github.com/sporkmonger/addressable/blob/a079a52ba5a5cb43cadd5edaa684ee6874dafaa8/.github/workflows/test.yml#L51:
[code]
then it does fail like in CI (https://github.com/dentarg/addressable/runs/3168756143?check_suite_focus=true).

[2021-07-27 12:12] eregon commented on #2408
BTW it seems fairly when it errors, which seems due to RSpec using Ripper:
[code]

[2021-07-27 12:21] eregon commented on #2408
Smaller reproducer:
[code]

[2021-07-27 12:50] eregon commented on #2408
I reduced that spec to just:
[code]

The
[code]
in the Fiber seems to somehow cause the error.

BTW, this spec removes the IDNA constant and reloads the file for *every* example/`it`, is that intended @sporkmonger?

[2021-07-27 13:06] dentarg commented on #2408
I can only speculate, but seeing Addressable is an old code base and [the `:remove_const` thing was added 10 years ago](https://github.com/sporkmonger/addressable/commit/3db3329f02f675d45cccf45220de019f5d9391b5#diff-11298fc266939df0611b1b5ed71264a59b5fa67864611588258c87d1ecdd4571R201), I'm guessing it was one way to solve the problem at hand then and no more thought has been given to it :). If the

[2021-07-27 14:00] eregon commented on #2408
The issue is caused by those `Addressable.send(:remove_const, :IDNA)` + `load "addressable/idna/pure.rb"`.
What happens then is the `COMPOSITION_TABLE` during the second `load` might actually still refer to the `COMPOSITION_TABLE` from the first load, because it's read from the first load Addressable::IDNA.
That's a bug in TruffleRuby. It doesn't seem a great idea to reload a file 36 times in spec

[2021-07-27 18:38] gogainda commented on #1407
I am seeing such results now:
up to date truffleruby 21.3.0-dev-a2dc7291
[code]

[2021-07-27 18:39] gogainda commented on #1407
@findchris @ashishbista

[2021-07-28 10:20] eregon commented on #1407
Right, [small Rack apps](https://speakerdeck.com/eregon/running-rack-and-rails-faster-with-truffleruby) and [Sinatra](https://github.com/benchmark-driver/sinatra/tree/2944a48bde62da6157b6c0ac716df10a3898f903#benchmark-driver) should already be faster on TruffleRuby, at least when running on an appropriate server like puma, so I think we can close this.
Thanks for the measurements!

[2021-07-28 10:20] #1407 closed

[2021-07-28 10:22] eregon commented on #1406
TruffleRuby is faster now (^), let's close this.

[2021-07-28 10:22] #1406 closed

[2021-07-28 13:20] eregon commented on #2408
I'm going to fix this by not caching the 2nd and later loads of the same file in a context, and adding a check that the LexicalScope's module is never overridden with another module. With that it works fine, the PR should land soon.

[2021-07-28 16:58] jaimerave opened #2412 "An internal exception escaped out of the interpreter while running rubocop test"
Running `bundle exec rspec spec/rubocop/cop/style/format_string_token_spec.rb` generates the following error:

[code]

This is with `truffleruby 21.3.0-dev-a2dc7291, like ruby 2.7.3, GraalVM CE Native [x86_64-darwin]`

[2021-07-28 17:19] eregon commented on #2412
Thanks for the report, I can reproduce.

[2021-07-28 17:41] eregon commented on #2412
The full Regexp is:
[code]
from https://github.com/rubocop/rubocop/blob/39fcf1c5684915adad4a9ab8babb93f37367fba8/lib/rubocop/cop/utils/format_string.rb#L18
And the access is `match[:width]`.

I see that TRegex reports it has `numberOfCaptureGroups = 3`, but I guess it should be a higher number since there is at least `type, flags, width, precision, name` named capture groups.
What's special though

[2021-07-28 19:07] #2408 closed

[2021-07-29 10:36] jirkamarsik commented on #2412
When you mix named and unnamed capture groups in a single regex, the unnamed capture groups cease to be capture groups and function as the non-capturing groups `(?:...)`. The issue was with the line comment character (`#`) appearing inside a character class. The first pass that identifies all the capture groups in the regex uses a stripped down parser and that parser omitted the case when `#` appe

[2021-07-29 12:55] eregon commented on #2408
I realized there is also a way to trigger this without reloading a file with something like:
[code]
So at least it's an error now (before it would show twice the same object).
Hopefully nobody writes such code, but if somebody does they'll see an error.

A possible fix might be to not use any static LexicalScope inside module bodies, and on `def` for methods, we would check if the LexicalScope (fr

[2021-07-29 16:27] nirvdrum opened #2414 "The --regexp-instrument-creation errors out printing statistics"
While looking into regular expression performance, I came across some options that looked like they could be helpful. Unfortunately, the `--regexp-instrument-creation` throws an exception when printing out its statistics due to a regexp key (a `Rope`) having an `ASCII-8BIT` encoding, which we can't convert to a Java string.:

[code]

[2021-07-29 16:51] nirvdrum commented on #2414
With a local modification, I've seen that all of the regexp keys with an `ASCII-8BIT` encoding could be represented as ASCII-only strings with the `US-ASCII` encoding. We don't generally make that change when decoding ropes because we can't be sure that bytes < 128 actually correspond to an ASCII character. So, instead we throw an exception indicating the `Rope` instance can't be converted to a `j

[2021-07-29 16:53] eregon commented on #2414
`rope.toString()` should not be used, it's only allowed for debugging.
`RopeOperations.decodeOrEscapeBinaryRope(rope)` should be used instead.

[2021-07-29 17:01] eregon commented on #2414
That said, it seems bad in the debugger if rope.toString() throws, so we should use `RopeOperations.decodeOrEscapeBinaryRope(Rope rope, byte[] bytes)` in `Rope#toString`.
One issue though is that calls `rope.isAsciiOnly()` and that has side effects for NativeRope.

[2021-07-29 17:01] nirvdrum commented on #2414
Thanks. `RopeOperations.decodeRope` handles the conversion. I was using `RopeOperations.decode`.

[2021-07-29 19:42] nirvdrum opened #2415 "`mx sforceimports` error ignored by `jt build`"
I've had difficulty getting a TruffleRuby build working today and tried rebuilding a few times. I had tried a few branches and kept getting an the following error:

[code]

Eventually I realized that upon each build I was being prompted to update the Graal imports. So, I decided to try `jt mx sforceimports` directly and that ended up failing because I had a local Graal change that I forgot about:

[2021-07-29 21:29] nirvdrum opened #2416 "TRegex matches aren't counted with `--regexp-instrument-match` flag"
One of the instrumentation options is to see how frequently regular expressions are matched against via the `--regexp-instrument-match` flag. Only regular expressions that are processed by Joni get counted at the moment because the only instrumentation is in `TruffleRegexpNodes.MatchNode`. TRegex matches will go through `TruffleRegexpNodes.MatchInRegionTRegexNode` and will need to be instrumented

[2021-07-29 21:32] nirvdrum commented on #2416
It might be worth rolling `--warn-truffle-regex-match-fallback` up into the other `REGEXP_INSTRUMENT_` options. I would find it helpful to see the regex creation and match data split up by the regex engine.

[2021-07-30 11:08] eregon commented on #2415
Right, I agree `mx sforceimports` should fail in that case (exit status != 0), because it fails to do what we ask it to.
Could you make a PR to mx to fix that?

There should be "error: Your local changes ..." in the output of `jt build` too BTW, since that just runs `mx sforceimports` if you tell it to.

[2021-07-30 11:10] eregon commented on #2415
Another possibility I've thought about is to `scheckimports` again after `sforceimports`, but that's not great for cases where it's impossible to match all imports (e.g., when building both JS and Ruby and they have different graal imports).
So fixing sforceimports seems much better.

[2021-07-30 11:21] eregon commented on #2416
Indeed, PR welcome :)
Sounds fine to separate in the output of `--regexp-instrument-match`, could be done easily with a boolean in `MatchInfo`.

[2021-07-30 15:03] nirvdrum commented on #2416
Sounds good. I have a local patch that I'll clean up for next week.

[2021-08-01 01:27] #2414 closed

[2021-08-02 12:14] coorasse opened #2418 "Failing tests on cancancan"
Hi @eregon , there seems to be an issue in the latest cancancan test suite running on truffleruby: https://github.com/CanCanCommunity/cancancan/runs/3220131164?check_suite_focus=true

No big information in the log, just to report it here.

[2021-08-03 09:40] eregon commented on #2418
Thanks for the report, it seems there is a `break` escaping:
[code]

[2021-08-03 09:49] coorasse commented on #2418
I am not sure what this means 😅

[2021-08-03 09:51] eregon commented on #2418
We'll investigate, probably some unusual use of `break`.

[2021-08-03 09:56] coorasse commented on #2418
this is the only `break` we have right now: https://github.com/CanCanCommunity/cancancan/blob/4254891b8b29a325c7fc9ff5a8d1e31db687a963/lib/cancan/matchers.rb#L16

[2021-08-03 11:01] eregon commented on #2418
Changing `BreakException` to `extends RuntimeException` we get a stacktrace:
[code]

We're missing the first entry in the Ruby stacktrace, but it is exteremly likely to be https://github.com/CanCanCommunity/cancancan/blob/4254891b8b29a325c7fc9ff5a8d1e31db687a963/lib/cancan/matchers.rb#L16
What's tricky here is RSpec does a lot of meta magic so the block passed to `match` is actually defined as a m

[2021-08-03 11:03] eregon commented on #2418
Simpler reproducer:
[code]

`return 42` would work, and might make more sense since that block is really a method.
But still `break` should work, similar to how break works in lambdas.

[2021-08-03 11:16] eregon commented on #2418
It's a regression from the optimization of moving more behavior into RootNode's.
The issue is `define_method` takes the body node of a RubyLambdaRootNode and put it in a RubyMethodRootNode
https://github.com/oracle/truffleruby/blob/77fe3398c3380120246960c9c1fd06dccf293773/src/main/java/org/truffleruby/core/module/ModuleNodes.java#L1332-L1334

But RubyLambdaRootNode does extra things (redo, break,

[2021-08-03 13:05] eregon commented on #2418
@coorasse I have a fix now, it's in the merge queue.

I would recommend to change the upstream code (use a natural return value instead of `break`) to get CI green on TruffleRuby 21.2.0, which cannot be changed.

[2021-08-03 17:17] #2418 closed

[2021-08-04 07:57] deivid-rodriguez opened #2419 "`Process.spawn` does not pickup a custom `PATH` given as `ENV`"
The following script:

[code]

succeeds on CRuby but prints the following error on truffleruby:

[code]

[2021-08-04 12:07] eregon opened #2420 "require "strscan.so" uses the strscan gem and does not work"
[code]

However `require "strscan"` picks the stdlib and works fine:
[code]

Even `bundle exec` picks the stdlib:
[code]

Found by @noahgibbs in https://github.com/Shopify/yjit-bench/pull/32#issuecomment-892590349

[strscan gem](https://github.com/ruby/strscan)

[2021-08-04 12:35] eregon commented on #2419
Thank you for the report.

`posix_spawnp()` is used in TruffleRuby for spawn/system/backticks, and that searches the PATH but it seems to ignore the `PATH` variable in the `envp` passed it.
That is
https://github.com/oracle/truffleruby/blob/0c3745e48357904295877750d6e1bee87b4c8c9c/src/main/c/truffleposix/truffleposix.c#L524
ignores whether `PATH` is set in `envp` or not.

So that leaves two choice

[2021-08-04 12:46] eregon commented on #2420
It's surprising that the strscan.so is even used in that case, maybe it was a bug of 21.1.0.
I don't see any `require "strscan.so"` from a quick look.

Anyway we should probably make a PR to the strscan gem so it just does nothing on TruffleRuby since the strscan stdlib is a lot faster (no need to move every String to native or emulate the Onigmo C API) and with much less indirections.

[2021-08-04 13:06] eregon opened #2421 "test"

[2021-08-04 13:06] #2421 closed

[2021-08-04 13:21] noahgibbs commented on #2420
Makes sense. It's a dependency of one of the (removed in 3.1) net-* gems, so you're likely to see this more frequently going forward. When 3.1 is released properly, there's going to be a lot more code that just installs those gems unconditionally, as our yjit-bench version of Railsbench had been doing.

There are definitely a lot of weird issues with having duplicates of the default CRuby built-in

[2021-08-04 18:38] noahgibbs opened #2422 ""An exception escaped out of the interpreter" when not connected to a tty"
When I attempt to run large batch jobs with "nohup" with several different Rubies, TruffleRuby crashes because it can't correctly hook up STDERR. Specifically, what I see on all the Truffle benchmarks is:

[code]

[2021-08-05 02:25] YU5Z8X2CvH1fv4ep commented on #2271
thanks

[2021-08-05 11:07] #2419 closed

[2021-08-05 18:17] #2412 closed

[2021-08-06 13:06] eregon commented on #959
PR to fix this in OptCarrot: https://github.com/mame/optcarrot/pull/35

[2021-08-07 16:36] eregon commented on #959
I confirm with that PR (merged now) there is more Fiber leak on TruffleRuby when running OptCarrot that way.

[2021-08-14 12:06] gogainda commented on #1401
latest results:
[code]

[2021-08-14 12:43] eregon commented on #1401
Thank for rerunning the benchmark @gogainda, those results look great :)

[2021-08-14 12:43] #1401 closed

[2021-08-15 11:35] gogainda commented on #1939
As it was mentioned before, 10 sec probably is not enough for Truffleruby so I extended it to 30 sec and got following results:
Truffleruby head
[code]
MRI Ruby 2.7
[code]

[2021-08-15 20:39] gogainda commented on #1584
latest results are Truffleruby head (23 sec) vs MRI Ruby 2.7 (23 sec)

[2021-08-16 13:52] eregon commented on #1584
On par is progress (thanks for rerunning!), but I think TruffleRuby should be faster here, especially if it's allowed to process jobs in parallel.
Seems worth investigating once the new CPUSampler flamegraph support is in.

[2021-08-16 19:07] #2149 closed

[2021-08-16 19:28] eregon commented on #2149
This is now implemented, see https://github.com/oracle/truffleruby/pull/2153#issuecomment-899508508 and 4b6964f92259f93e7c3645c90320ce4ffd27165e for more details.
As an example:
[code]
Also foreign objects nicely display in irb now, while it used to be a problem with `OutgoingForeignCallNode` (due to `irb` using the Kernel#respond_to? to check if `inspect` was callable IIRC).

[2021-08-17 12:09] fniephaus commented on #2149
Nice! What happens if traits have overlapping methods or aren't there any?
In Smalltalk, for example, `Dictionary>>at:` and `Array>>at:` accept different types of arguments. In a `ForeignDictionaryArray`, these methods would need to be composed somehow.

[2021-08-17 12:42] eregon commented on #2149
There is no Hash entries trait yet, but it should be added soon.
Right now there is an overlap for `[]`, `[]=` and `delete` for the Array trait and ForeignObject as these methods can access both indices and members: https://github.com/oracle/truffleruby/blob/eb057e71f733874e150eacd7ce044b4ff62497af/src/main/ruby/truffleruby/core/truffle/polyglot.rb#L99-L121
That one is easy to decide as arguments

[2021-08-17 15:11] fniephaus commented on #2149
Introducing a notion of precedence is, of course, one possible way forward. However, it's always going to cause some incompatibilities. What if, for example, the users passes an object into a Ruby method and the wrong interface is exposed? Similar to target type mappings on the level of the host language, maybe there's a way to give developers some control over such precedences used in TruffleRuby

[2021-08-17 16:02] eregon commented on #2149
I think we want to maximize portability (as in existing Ruby code should just work with foreign objects) as @chumer would say (and obj[] is used mostly for Array & Hash in Ruby), and a foreign hash seems more specific than just "an object with members". Members are typically accessed with obj.foo/obj.foo= anyway (it looks nicer, and is more concise), so there is probably very little overlap in pra

[2021-08-17 16:21] fniephaus commented on #2149
Hang on, I thought users are not supposed to use `Truffle::Interop`?
Also, I wasn't trying to convince you to do anything now... of course, we need more and realistic data points to act upon :)

[2021-08-17 16:53] eregon commented on #2149
Still changing my mind about that, because sometimes there seems to be no other way, or sometimes being explicit feels better/safer.

Notably in [ExecJS](https://github.com/rails/execjs/compare/master...eregon:graaljs-runtime-final), e.g., there is currently no way to express `isMemberReadable`, but maybe we could via `instance_variable_defined?` but that's more like `isMemberExisting`, and there

[2021-08-17 16:58] fniephaus commented on #2149
I guess the main reason why it's not exposed in all guest languages is that it's still being evolved a lot and it's hard to change things if users depend on them. In terms of naming, why not call it `Interop` if users are allowed to use it? I mean TruffleRuby already provides `Polyglot`. Does a `TruffleRuby` module already exist?

[2021-08-17 17:37] eregon commented on #2149
I guess InteropLibrary won't change in incompatible ways, it would likely break all languages.

Maybe, the main reason is to avoid potential name clashes by limiting the number of top-level constants added by TruffleRuby (no choice for `Polyglot` to be API-compatible with other languages).
But it sounds tempting, true.

Yes it does.

I managed locally to avoid using `Truffle::Interop` for ExecJS,

[2021-08-17 20:49] gogainda commented on #1784
@eregon is there a way to capture realtime memory usage of the given ruby process?

[2021-08-17 21:22] fniephaus commented on #2149
True :)

But it sounds tempting, true.

Since there already is a `TruffleRuby` module, `TruffleRuby::Interop` seems reasonable too.

The remaining issue is how to getMembers.
Right now there is foreign.keys but that's the old naming and should be deprecated.
Maybe expose it with instance_variables, which is otherwise always empty for foreign objects?
One detail there is Kernel#instance_variables r

[2021-08-18 10:02] eregon commented on #1784
Yes, there is `GC.stat` and `GC.stat(key)`:
[code]
So `GC.stat(:used)` is the actual usage, in bytes.

[2021-08-18 10:05] chrisseaton commented on #1784
I sometimes just this - as long as you only do it once a second or so it's fine.

[code]

[2021-08-18 10:16] eregon commented on #1784
That's the whole process rss so it's a different measurement, but can also be useful, and closer to what e.g. the Activity Monitor would report.

Above we see actual heap usage is ~50MB, committed ~500MB, initial ~500MB and max ~8GB (the defaults on my system, on JVM).

The JVM and Native Image will typically take up to the maximum memory relatively quickly in order to improve performance (GC is t

[2021-08-18 10:24] eregon commented on #2149
A good question. Since in Ruby there is `Kernel#methods` and `Kernel#instance_variables` I was thinking to split the members in invocable and non-invocable for those methods. `Kernel#methods` also additionally reports methods defined on the Ruby class and ancestors.
(an upside of having `Kernel#instance_variables` and related working would be the default `Kernel#inspect` would already give useful

[2021-08-18 17:31] eregon commented on #2149
Hash, Iterable and Iterator traits added in https://github.com/oracle/truffleruby/commit/21d0dc2a475b36898a5318bb4f2649e18a05c969 (with HashTrait#[] winning over ArrayTrait#[]).
Also `foreign.class` now always returns the Ruby class for better compatibility with existing Ruby code.

[2021-08-18 19:06] petenorth commented on #2406
Didn't spot the 21.2.0.1 release .

Did a run of the failing pipeline with the flavorjones Docker image for 21.2.0, 21.2.0.1 and nightly-slim .

https://github.com/petenorth/schools-experience/runs/3364455234?check_suite_focus=true

21.2.0 has errors
21.2.0.1 succeeds

[2021-08-18 20:08] eregon commented on #2406
Looks like I forgot to reply here.

Yes, this is fixed and we got a release for it: https://github.com/oracle/truffleruby/releases/tag/vm-21.2.0.1
Also in ruby-install/ruby-build/RVM.

[2021-08-18 20:08] #2406 closed

[2021-08-18 23:05] postmodern opened #2423 "StringScanner#scan does not accept a String argument as a pattern"
In [strscan 1.0.2](https://github.com/ruby/strscan/blob/master/NEWS.md#102---2019-10-13) Strings can be given as a literal pattern to scan:

[code]

truffleruby-21.2.0.1 claims to ship with strscan-1.0.3, however it does not accept a String as a pattern argument.

[code]

[code]

[2021-08-19 10:49] eregon commented on #2423
Thanks for the report.

TruffleRuby has its own implementation of strscan in Ruby code for efficiency.
It needs to declare the default gem too, so it uses the same gemspec.

As part of the import from MRI, we already have the strscan tests in https://github.com/oracle/truffleruby/blob/master/test/mri/tests/strscan/test_stringscanner.rb.
So we just need to implement this new case and untag the corr

[2021-08-19 19:03] gogainda opened #2424 "faraday gem test failure: raise 'Parsing should have failed.'"
[code]
is not happening on MRI ruby 2.7.4

[2021-08-19 19:19] gogainda commented on #2122
not hanging anymore, closing it

[2021-08-19 19:19] #2122 closed

[2021-08-19 20:53] jaimerave opened #2425 "Rubocop test fails under Truffleruby if a folder is named "{}""
Using truffleruby 21.3.0-dev-153f8166, like ruby 2.7.3, GraalVM CE Native [x86_64-darwin].
[code]

It works fine with Ruby 2.7.4

[2021-08-20 01:11] postmodern opened #2426 ""%2s" does not add left-padding when given a unicode character"
It appears that when formatting a unicode characters within a `%2s` format string, the raw byte length of the unicode String is used instead of the character length.

### Expected Behavior

[code]

### Actual Behavior

[code]

### Version Info

[code]

[2021-08-20 20:39] eregon commented on #2425
@bjfish Could you investigate?
I guess it's about Dir.glob or so not escaping those.

[2021-08-20 20:41] eregon commented on #2426
@aardvark179 Could you take a look at this one (can be after the rb_sprintf changes)?

[2021-08-21 21:38] eregon commented on #1589
`pty` is used by the tests of the `debug` gem:
https://github.com/ruby/debug/blob/d0a3372a864d3906ac2a81907b9222dba15883be/test/support/utils.rb#L3

It would be worth trying if importing the `pty` sources from CRuby works.

[2021-08-22 11:33] eregon commented on #1589
@bjfish Could you try that?

[2021-08-23 22:03] nirvdrum opened #2429 "Regex line anchors much slower than global anchors"
While investigating regex performance, I've noticed that line anchors are much slower than global anchors, even when a string consists of a single line. Most regexps that I've encountered that use anchors use the line variants. I've tried with a variety of patterns and the effect is visible in each case:

[code]

[code]

NB: I have not investigated the `\Z` anchor.

[2021-08-23 22:37] bjfish commented on #2429
cc: @jirkamarsik

[2021-08-24 14:14] bjfish commented on #2425
Yes, it appears to be an issue with `ruby -e 'p Dir.glob("\\{}/*")'` not finding the files in a directory named `{}`.  This relates to internal issue GR-28734.

[2021-08-24 15:37] djoooooe commented on #2429
I would say that this is to be expected, since line anchors are more complex than global anchors - for example:
`/\Aabc\z/` is equivalent to `"abc".equals(SUBJECT)`, which of course is not allowed when handling `/^abc$/`. The latter translates to something like this (in pseudo-Java):
[code]

[2021-08-24 16:33] nirvdrum commented on #2429
I see what you're saying for the general case, but by far the most common case that I'm seeing is a `SUBJECT` without any newline characters at all. I strongly suspect the next most common case is a `SUBJECT` that contains a newline, but still matches from position `0` (i.e., it doesn't match from the middle of the subject).

Adapting your pseudocode, I'd expect something more along the lines of:

[2021-08-24 16:50] nirvdrum commented on #2429
FYI, I've updated the original benchmarks and results to include cases where only one of the anchors is being used. That way, we can consider cases other than exact string equality matches.

[2021-08-24 17:01] nirvdrum commented on #2429
For what it's worth, in my extremely non-scientific experience, I've rarely ever encountered anyone using `\A` and `\z`. I'd hazard to say most Rubyists don't even know those exist, especially those coming from other languages that may only support `^` and `$` and possibly some sort of multi-line modifier. In MRI, there's largely no performance difference between the two in the cases from the benc

[2021-08-25 12:34] djoooooe commented on #2429
I see what you mean, and i'll put it on the list of possible future optimizations, but keep in mind that optimizations like this are speculating on the input string's content and introduce additional deopts. MRI is equally slow in both cases (more than 10x slower than TRegex in all cases) because it doesn't JIT compile regex matchers, so i wouldn't really say that that's an argument in favor of MR

[2021-08-27 19:24] fxn opened #2431 "New test failure in the Zeitwerk test suite"
Hi!

The suite of Zeitwerk has [this test](https://github.com/fxn/zeitwerk/blob/49e61a98f6a6b95604e75750dbed9d069b82e968/test/lib/zeitwerk/test_concurrency.rb#L4-L19) to check autoloading blocks context switching (autoloading is thread-safe):

[code]

It has passed regularly for a long time, but it started to fail in a flaky way both in `truffleruby` and in `truffleruby-head`. See for example [thi

[2021-08-27 23:24] fxn commented on #2431
This is a shell script that essentially does the same as the flaky test:

[code]

If it passes, you see "true" printed. Otherwise, `M` does not respond to `works?` (`NoMethodError`) because there was a context switch before the `require` triggered by `autoload` returned.

[2021-08-27 23:26] fxn commented on #2431
With CRuby, that passes even with `sleep 60`.

[2021-08-28 14:13] eregon commented on #2431
Thanks a lot for the report.
This is an area where the semantics of CRuby seems unclear, e.g. does it make other threads wait until the end of `module M` or the end of the file until the constant M is "published"? What happens if the autoloaded file creates threads, do they see M?

In short this is not yet implemented in TruffleRuby (IIRC), because of unclear semantics.
Currently there is a lock o

[2021-08-28 14:23] eregon commented on #2431
BTW to improve the reliability of that test I believe you would need a sleep (smaller, e.g. of 0.1) between the Thread.new and `assert M.works?`, otherwise it's likely the M.works? runs first and then the other thread will see the constant is autoloading and wait, and anyway that thread does not check what is defined on M. For the test to fail it needs to be the Thread.new running first and defini

[2021-08-28 14:40] fxn commented on #2431
Problem is, this is a fundamental property of Zeitwerk, which is a fundamental property of CRuby: You won't see a class half-defined due to context switching while autoloading. Meaning, what the test does (of course, a class may be reopened elsewhere later, not in a generic sense).

You're right.

[2021-08-28 15:00] fxn commented on #2431
Test revised here: https://github.com/fxn/zeitwerk/commit/016404cc94c9940e31cf057955d7ecdd43f70f54. Thanks for the comment about that :).

[2021-08-31 15:57] #2416 closed

[2021-08-31 18:54] bjfish commented on #2425
@jaimerave This is now fixed at https://github.com/oracle/truffleruby/commit/d772ae7b4a9a72cfbc4797ab4ef1449040c1b2eb and should be included in the next truffleruby-head build. Please let me know if you see any more issues.

[2021-08-31 18:54] #2425 closed

[2021-09-01 15:55] jaimerave commented on #2425
@bjfish thanks! is working great, all the tests are passing now.

[2021-09-01 19:14] nirvdrum opened #2434 "Upgrade Bundler to 2.2.23+"
Bundler 2.2.x now records the source of each gem that was installed, plugging a security issue for Gemfiles with multiple sources. It's hard to point at a single release that includes the functionality as there were several issues detected that were fixed in subsequent point releases. MRI 3.0.2 ships with Bundler 2.2.22, which includes many of the aforementioned fixes. TruffleRuby still currently

[2021-09-01 21:04] gogainda opened #2435 "base64 misses closing brace"
[code]
output (invalid json, bc outermost closing brace is missing):
[code]

[2021-09-02 01:44] nirvdrum commented on #2429
The note about MRI is mostly to avoid entries like you see in the [fast-ruby](https://github.com/JuanitoFatas/fast-ruby) project, where developers end up changing the way they write code in order to better exploit a temporary execution difference between two equivalent methods.

As for the speculation, I think it's warranted here. TruffleRuby now has a regex profiler, which I've run against a seri

[2021-09-02 08:50] djoooooe commented on #2429
Thanks for the analysis! Could you provide a list of the regexes using `^` and `$` encountered in this experiment?

[2021-09-02 09:14] Nakilon opened #2436 "StringIO#ungetbyte stores incorrectly"
[code]
This results in several tests failing in my project.

[2021-09-02 09:43] HoneyryderChuck opened #2437 "conditional operations sometimes failing with multithreading"
Here's another wickedly hard to reproduce bug from `httpx` :)

A [recent MR](https://gitlab.com/honeyryderchuck/httpx/-/merge_requests/162) caused the truffleruby build to start failing "consistently" (always the "expect-100" plugin tests) but "randomly" (never the same test failing).

I've started a "truffleruby-bug" branch to reproduce it, and added [this commit](https://gitlab.com/honeyryderchu

[2021-09-02 09:45] Nakilon commented on #2436
And this one:
[code]

[2021-09-03 13:38] gogainda opened #2438 "Unexpected return (LocalJumpError)"
throws an exception -  unexpected return (LocalJumpError)
[code]
suprisingly MRI Ruby returns `parseable` which is obviously not

The code about is simplified version of this https://github.com/ruby/rdoc/blob/master/lib/rdoc/markup/to_html.rb#L214

[2021-09-03 13:49] wildmaples commented on #2353
Fixed in https://github.com/oracle/truffleruby/pull/2361

[2021-09-03 13:49] #2353 closed

[2021-09-03 15:51] nirvdrum commented on #2424
I cloned the Faraday repo and walked through the test with a debugger to see what was going. The problem is likely in our JSON library. It doesn't fail when parsing only the opening brace for object or array literals.

MRI 2.7.4:

[code]

TruffleRuby:

[code]

I check if just providing the closing brace induces the same issue. But there, TruffleRuby correctly raises a `JSON::ParserError`:

[code]

[2021-09-03 15:57] bjfish commented on #2424
@nirvdrum Given these examples, this looks like a duplicate of https://github.com/oracle/truffleruby/issues/1570

[2021-09-03 16:07] nirvdrum commented on #2424
@bjfish Thanks for tracking that down. I thought this looked familiar. I'd say we can close this out as a dupe of the other.

[2021-09-03 16:09] bjfish commented on #2424
Closing this as duplicate of #1570

[2021-09-03 16:09] #2424 closed

[2021-09-03 16:26] aardvark179 commented on #2436
I see the problem. The `StringIO#ungetbyte` is treating the byte as a character rather than raw bytes. Since we're commonly working in UTF8 this single byte is converted into a multibyte UTF8 encoding, and appended to the front of the string.

To illustrate this consider the string `"\u01A9"`. This is encoded into the byte sequence `0xC60xA9`. When a byte is read we get `0xc6`, but if we try to un

[2021-09-05 21:08] gogainda opened #2439 "Fast blank is slower than Slow blank on Truffleruby"
[code]
@SamSaffron

[2021-09-06 01:20] SamSaffron commented on #2439
A minimal thing we can do with the gem @eregon is have a special switch of "if truffle, do no harm" happy for a PR in that department if the overhead here can not be removed.

[2021-09-06 11:26] eregon commented on #2429
Thanks for the statistics in the latest comment, we see they are used almost as often as ^/$, which match my expectations.
If the String cannot contain newlines by design then it doesn't matter which is used, but if it can it's a potential security or correctness issue and I would expect Rubyists know about \A and \z (especially in web apps).

I think it's fair to say that \A \z will always be as

[2021-09-06 13:19] eregon commented on #2439
The benchmark is from https://github.com/SamSaffron/fast_blank/blob/master/benchmark
The first 2 (lengths 0 and 6) are actually blank, the last 3 are not.

For length 0 & 6 (actually blank), `New Slow Blank` is fastest (expected) and `Slow Blank` is slowest (unexpected).
For length 14-136 (not blank), `Slow Blank` seems fastest, and `New Slow Blank` is actually slowest.

Note that latest ActiveSup

[2021-09-06 13:30] eregon commented on #2438
Interesting, RDoc uses yet another variant to check if it's valid Ruby syntax:
https://github.com/ruby/rdoc/blob/2f7dfecdc3c90477e2f77e8cbadfba9cbe444814/lib/rdoc/markup/to_html.rb#L427-L434
This is what IRB uses now:
https://github.com/ruby/irb/pull/134/files/5eb3ef3293a026e3f7de1711b8a399fe736bdb13#r702901657

So this issue is about supporting `return` in `BEGIN {}` in `eval`, or maybe simply `r

[2021-09-06 13:34] gogainda commented on #2439
this is what I've got:
[code]

benchmark
[code]

[2021-09-06 13:49] eregon commented on #2437
Thank you for the report!
Maybe it is some race in some part of the Ruby code, or it could indeed be a TruffleRuby bug.
We will try to reproduce.

Which command line did you use to reproduce that failure, and which TruffleRuby version (`ruby -v`)?

[2021-09-06 13:59] eregon commented on #2434
I think pragmatically it would be easier to do this when doing the update to Ruby 3, to minimize risks and surprises.
Indeed, we'll need 2.2.23, or to backport that fix individually (but that would probably be confusing as it would still report as 2.2.22).

21.3 will be released on Oct 19, and feature freeze will be earlier than that. After the feature freeze I think we can start work to migrate t

[2021-09-06 14:08] eregon commented on #2439
Thanks, I'll take a look.
Self-note: the `while i < times` in the benchmark might actually make things less stable, I'll try without it to check.

Might also want to run without the C ext cases, or by `.dup` the string for each impl in case those affect the performance of other methods.
That is likely actually, the C ext will RSTRING_PTR which converts the String to native, and if later we need it

[2021-09-06 14:39] eregon commented on #2435
Fixed in https://github.com/oracle/truffleruby/commit/da1954e3c790753f9a79c3f09d214ec67a0af428 by @bjfish

[2021-09-06 14:39] #2435 closed

[2021-09-06 17:32] eregon commented on #1844
This is done now (https://github.com/oracle/truffleruby/issues/2149#issuecomment-899763303).

[2021-09-06 17:32] #1844 closed

[2021-09-06 17:36] eregon commented on #1722
This is an interesting question to revisit now that TruffleString is being worked on.
We should check what is the behavior if one tries to get a j.l.String from a TruffleString with a binary encoding and non-7-bit bytes.

[2021-09-06 17:41] eregon commented on #1689
This works fine now:
[code]

[2021-09-06 17:41] #1689 closed

[2021-09-06 17:46] eregon commented on #1561
No longer an issue anymore, now we have `void rb_tr_init(void *ruby_cext) {` and that sets it in C code.

[2021-09-06 17:46] #1561 closed

[2021-09-06 18:17] eregon commented on #2422
Thanks for the report and sorry for the late reply.
Standard streams not being a TTY works fine, the issue is that `fcntl(0=stdin, F_GETFL)` returns 1=WRONLY, but we expect 0=RDONLY.
So I guess `nohup` sets for fd=0=stdin a WRONLY file as a way to achieve `If  standard  input  is a terminal, redirect it from an unreadable file`.

Actually on Linux,  `fcntl(0 or 1 or 2, F_GETFL)` returns `O_RDWR` b

[2021-09-06 21:09] noahgibbs commented on #2422
Huh. I wonder if there's something odd about -e with CRuby. I actually use nohup quite routinely with large CRuby batch jobs, and it writes to file as you'd expect. But maybe I'm doing something odd that it handles differently than TruffleRuby.

[2021-09-07 10:51] eregon commented on #2422
Writing is OK, it just redirects STDOUT & STDERR to some file, same as `>file 2>&1` in the shell.

What's hacky is it sets a non-readable (but writable) file for STDIN, which in this case breaks  TruffleRuby's initialization of the standard streams (I have a fix), but that could also easily break any Ruby program if they ever try to read from STDIN (it's a low-level EBADF vs something like an IOEr

[2021-09-07 13:09] HoneyryderChuck commented on #2437
Hi @eregon ,

The failure can be reproduced by [following the same instructions](https://github.com/oracle/truffleruby/issues/2210#issuecomment-755364941) from a previous issue report, the main differences being:

* you must do it in the `truffleruby-bug` branch;
* You ran the tests like this: `PARALLEL=1 bundle exec ruby -Itest test/http_test.rb`

I can only reliably reproduce this using minitest

[2021-09-07 16:04] nirvdrum commented on #2439
I'm looking at `String#blank?` from ActiveSupport independently of this issue as part of an in-depth look at optimizing regexps in TruffleRuby. I had planned on looking at _fast_blank_, too. I'm happy to collaborate with anyone on it.

[2021-09-08 16:58] eregon commented on #1497
There is `TracePoint.trace` defined since a while now.

[2021-09-08 16:58] #1497 closed

[2021-09-09 02:21] halostatue opened #2441 "Unexpected CI failures on TruffleRuby (using Appraisal)"
I’m not entirely sure why this particular run failed except that I’m using Appraisal.

https://github.com/KineticCafe/marlowe/pull/10/checks?check_run_id=3551437592

At the moment I only use TruffleRuby in CI, but I want to make sure that people who use my gems can use TruffleRuby.

[2021-09-09 02:42] nirvdrum commented on #2439
I've begun looking at this a bit. As Benoit noted, the `new_slow_blank?` method does not match what ActiveSupport does. I dug into the history and it looks like the definition used to match, but [changed](https://github.com/rails/rails/commit/bbb84a17213d60f25a61ae4a09111d5adac01a05) five years ago. I'll open up a PR to fix that in fast_blank. While that doesn't have any bearing on TruffleRuby's f

[2021-09-09 02:46] halostatue commented on #2441
This only appears to fail under the current released version available via Github Actions.

[2021-09-09 03:30] nirvdrum commented on #2439
As a follow-up, I did extract the code out into simpler benchmarks without the embedded `while` loops and used the _benchmark-ips_ `hold!` method to ensure different benchmarks weren't adversely affecting each other. The `slow_blank?` and `new_slow_blank?` methods see a fairly large improvement:

[code]

Using frozen strings, the IPS value jumps even higher:

[code]

I'm reticent to go changing th

[2021-09-09 09:45] eregon commented on #2441
Thanks for the report.

I think the problem here might be:
[code]

Do you know why appraisal reinstalls bundler, or if there is a way to disable that?

In the backtrace we see bundler files loaded from different places, which feels wrong (although they have the same bundler version):
[code]

Maybe it would help to use `bundler: none` for `setup-ruby`, so the default bundler is used, and there woul

[2021-09-09 09:47] eregon commented on #2441
Given the failing line is:
[code]
Which dynamically generates the superclass on every execution.

That seems to clearly indicate Bundler is loaded twice.

[2021-09-09 09:51] eregon commented on #2441
Do you mean it works with `truffleruby-head`, or locally?

[2021-09-09 09:58] gogainda commented on #2295
was trying to figure out what this spec is slow, but from the cpusample nothing interesting stands out:
`TRUFFLERUBYOPT="--cpusampler --cpusampler.Output=calltree --cpusampler.Mode=roots"  rspec ./spec/rspec/core/example_group_spec.rb:1007
`
[code]
[full log](https://gist.github.com/gogainda/1b0070e3f49ec925371d80b0b6068796)

[2021-09-09 10:05] eregon commented on #2439
IMHO benchmark-ips is most reliable in the regular block form, so if it doesn't make much difference for CRuby I think it's best to use that.

I think it's fair and good to measure both blanks and non-blanks strings in the same process, but ideally there should be a way to run with a single blank implementation in the process, since they otherwise they can have side effects like mutating the strin

[2021-09-09 10:11] eregon commented on #2295
@aardvark179 is working on flamegraph output for CPUSampler, that should make it easier to analyse profiler output.
I typically use the default histogram or the flamegraph, I find the calltree quickly unusable as it's too big.

[2021-09-09 11:34] nirvdrum commented on #2439
If we can make a case for it, then maybe it's worth getting it changed in the benchmark-ips README. The docs have [an example](https://github.com/evanphx/benchmark-ips/blame/master/README.md#L39-L49) showing the inner `while` loop with the comment:

[code]

Agreed. I'll give that a try.

Thanks for the explanation. I forgot about the extra look-up.

[2021-09-09 13:15] halostatue commented on #2441
I mean it works with `truffleruby-head`. Only `truffleruby` fails on Ubuntu and MacOS both.