[2019-07-17 11:13] chrisseaton commented on #1722
What about the interop contract though? Maybe binary strings should not be `isString`?

[2019-07-17 11:14] eregon commented on #1722
@chumer Is it a violation if asString throws?

[2019-07-17 11:36] fniephaus commented on #1722
@eregon IIRC there are assertions for that in TCK. Do you test TruffleRuby against TCK? If isString returns true, asString shouldn't fail.

[2019-07-17 11:41] eregon commented on #1722
@fniephaus We do test against the TCK, but probably we don't have an example for a binary Ruby String with non-7-bit characters.
Making binary Ruby String with non-7-bit characters not `isString` would make some sense, but that sounds confusing to users. Maybe making all binary Ruby String non-`isString` would be easier to understand.

[2019-07-17 11:51] fniephaus commented on #1722
what about converting binary strings to byte[] and return a new Java string for that array? I think it’s also confusion that binary strings cannot be converted to char*/byte[] at all. It might not always makes sense but that’s the user’s problem maybe?

[2019-07-17 11:52] fniephaus commented on #1722
and of course +1 for adding an appropriate example to your TCK setup. :)

[2019-07-17 11:56] eregon commented on #1722
It's not possible to "return a new Java string for that array" without specifying a Charset/Encoding, it's just impossible to know how to interpret the bytes correctly as Chris showed.

A binary Ruby String with non-7-bit characters is not "text" and it cannot be printed nor shown as characters, only as a sequence of bytes. So probably they shouldn't be "polyglot strings".

They can, by using `Str

[2019-07-17 12:33] eregon commented on #1721
This was a bug in Sulong, fixed in https://github.com/oracle/graal/commit/dc40d6dc7bbc3070311a2b1809cafb861ce7cd0c, it will be in the next release.
With that, I only have one async-io spec failing:
[code]

[2019-07-17 12:50] eregon commented on #1721
That specs does:
[code]

which tries to read 4GB of data, that's just too big for TruffleRuby Strings which have a maximum length of around 2GB, i.e., a 32-bit signed integer, the same limitation as the maximum size of `byte[]` on JVM.
And so `@read_buffer << chunk` fails when it would become larger than 2GB.

Maybe we could transition to a String in native memory for that case, but I'm not sure i

[2019-07-17 12:56] eregon commented on #1721
When reading 1GB, it works fine. I made a PR: https://github.com/socketry/async-io/pull/30

[2019-07-17 13:48] fniephaus commented on #1722
Maybe you are right and the best fix atm is to not return true in isString if it's a binary string. It would certainly fix our use case. Nonetheless, I wonder if interop needs to support different string encodings.

[2019-07-17 14:57] eregon commented on #1715
Fixed by 5ed7adc51ec51839cdd639e4a1b1375954ccef2a, at least for the Bundler case.

`chruby` needs a fix to not reuse the same GEM_HOME for multiple TruffleRuby releases.

[2019-07-17 15:01] eregon commented on #1484
Removing this from `priority` because it seems really hard to fix unfortunately, and there is an easy workaround (see my message just above).

[2019-07-17 15:04] eregon opened #1723 "chruby uses the same GEM_HOME for multiple TruffleRuby releases"
Which means it might reuse C extensions compiled on a different TruffleRuby version, which is very likely to not work.

Related to #1715 and https://github.com/postmodern/chruby/pull/410.

Other Ruby managers seem not affected:
* RVM uses a different GEM_HOME for each installed Ruby.
* rbenv does not set the `GEM_*` environment variables AFAIK, and so installs gem under the Ruby's prefix.

[2019-07-17 15:05] eregon commented on #1715
Let's track the fix for chruby separately: #1723, and close this issue since it will be fixed in the upcoming release.

[2019-07-17 15:05] #1715 closed

[2019-07-17 15:30] eregon commented on #1709
This seems to just work in 19.1.0:
[code]

So I'll close this, but feel free to reopen if there are still issues.

The fact that JS work is because there is only a single Ruby thread.
The workaround above is the more reliable solution for now when doing interop with JS (using `--single-threaded`).

[2019-07-17 15:30] #1709 closed

[2019-07-17 21:37] ioquatix commented on #1721
Thanks for this.

I already anticipated and ran into this issue recently:

https://github.com/socketry/async-io/blob/master/lib/async/io/stream.rb#L236-L239

Why are we not hitting that limit? It should be around 8MB by default.

Is it because `String` itself cannot hold 4GB of data, even if `read` is getting chunks of 8MB?

[2019-07-17 21:48] chrisseaton commented on #1721
A TruffleRuby `String` cannot contain more than `2**31-1`, or `2147483647` characters - that's the underlying limitation. It doesn't matter how the `String` is created.

We should perhaps list this on https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md and make the error message more clear.

[2019-07-17 21:51] ioquatix commented on #1721
Is there anything that can make larger buffers in the JVM?

[2019-07-17 21:54] chrisseaton commented on #1721
I think @nirvdrum experimented - can you comment?

JRuby has the same restriction. @headius has this been a problem for other people in practice?

[2019-07-17 22:01] ioquatix commented on #1721
I think the main point is, if there are limitations, we document it, and additionally, we might need to figure out how this affects Ruby code in general. For example, the requirement of generating buffers in chunks by default rather than assuming one can fill 64-bit address space.

[2019-07-18 00:25] deepj opened #1724 "vips: org.truffleruby.language.control.RaiseException: [["out", 35]] (Array) is not a pointer (ArgumentError)"
TruffleRuby:

[code]

To reproduce:

[code]

Error:

[code]

[2019-07-18 00:37] deepj opened #1725 "curb: gem install curb fails"
To reproduce:

[code]

Error:

[code]

[2019-07-18 00:54] deepj commented on #1452
@eregon this can be closed. It doesn't happen anymore

[2019-07-18 01:09] headius commented on #1721
@chrisseaton We get occasional reports, usually from people who didn't realize they were reading >2GB of data into memory. None of the potential workarounds would be compatible with regular JVM APIs, and since we have users across many different JVMs those options won't work for us.

[2019-07-18 02:15] ioquatix commented on #1721
A dedicated rope style data type which accumulated multiple strings and uses `readv`/`writev` would make a lot of sense.

[2019-07-18 06:19] machisuji opened #1726 "rb_utf8_str_new_static not implemented"
I'm trying to use the [sanitize](https://rubygems.org/gems/sanitize) gem which fails to be loaded using truffleruby.

[code]
I'm on Ubuntu 19.04 (Linux 5.0.0-20-generic).

[2019-07-18 10:09] eregon commented on #1452
@deepj Thanks for checking and reporting this!
In general, with the new approach to C extensions, we should no longer have "Cannot convert to native" errors, because every Ruby object can now be stored in native memory.

[2019-07-18 10:09] #1452 closed

[2019-07-18 10:12] eregon commented on #1724
Looks like an issue in our FFI, I will try to take a look.

[2019-07-18 10:15] eregon commented on #1725
[code]

Probably the check on whether rb_io_stdio_file exists/works fails, and that also causes the next error.

[2019-07-18 13:43] chrisseaton commented on #1721
That's what we already do - a rope - and that is compatible with a standard JVM except for being able to write the whole thing out atomically. We don't use `readv` and `writev` but we could do fairly easily, and that could also be done on a standard JVM using JNI or some abstraction on top of that.

We didn't allow `long` strings yet as our current design permits you to flatten at any point. We'd

[2019-07-18 19:59] deepj opened #1727 "rubocop: Array#sort! Too deep inlining, probably caused by recursive inlining."
To reproduce:

[code]

Error:

[code]

[2019-07-18 20:19] nirvdrum commented on #1727
It looks like we're missing a `@TruffleBoundary` on a call into `Arrays.sort` and that call has unbounded recursion.

[2019-07-19 17:30] nirvdrum commented on #1721
@chrisseaton's summary is basically correct. A couple years back I had worked on extending our String representation to permit `long` length strings. It's doable, but it's unfortunately a viral. E.g., we'd have to extend jcodings and joni to work with them as well, since many operations currently expect a `byte[]`. Likewise, anywhere we might want to convert to a Java String (e.g., Truffle interop

[2019-07-20 00:03] ioquatix commented on #1721
That makes total sense, and encourages me that the correct solution is some kind of binary-only data buffer specifically for efficient I/O.

[2019-07-21 13:24] deepj opened #1729 "msgpack: Global variable rb_tr_true is declared but not defined"
See https://travis-ci.com/socketry/falcon/jobs/217858985

[2019-07-21 13:27] deepj commented on #1661
@eregon the same issue has Falcon. See https://travis-ci.com/socketry/falcon/jobs/217858985

[2019-07-21 14:59] eregon commented on #1709
I also improved the error message when interacting with single-threaded languages like JS in 3b698b1a4bf9b168891f1f795858eb550c258bc7.

[2019-07-22 08:30] eregon commented on #1729
@deepj Thanks for the report.
This is a duplicate of #1715, which will be fixed in the next release, and can be worked around until then by removing the cache in TravisCI.

[2019-07-22 08:30] #1729 closed

[2019-07-22 08:31] eregon commented on #1729
@ioquatix Could you clear the cache on TravisCI for `falcon`?

[2019-07-22 08:33] eregon commented on #1661
I think that's unrelated and just caused by the first exception (#1715).

[2019-07-22 10:17] ioquatix commented on #1729
Sure

[2019-07-22 10:24] ioquatix commented on #1729
Cleared cache and running it again: https://travis-ci.com/socketry/falcon/jobs/218052935

[2019-07-22 18:36] mauricioszabo opened #1730 "Net/SFTP: rb_str_drop_bytes not implemented"
While I was trying to use Net::SFTP library, I found the following error:

Exception rb_str_drop_bytes not implemented

With backtrace:

[code]

Ruby's version output:
truffleruby 19.1.1, like ruby 2.6.2, GraalVM CE Native

On Ubuntu 18.04.2 LTS

[2019-07-23 09:01] eregon commented on #1721
This is now documented in b4dbbb345586e851a4a9df540aa05248d55992b5.
async-io specs should all pass with the next release, so I'll close this.
@ioquatix Thank you for the bug report!

[2019-07-23 09:01] #1721 closed

[2019-07-23 10:54] ioquatix commented on #1721
Thanks for fixing it so quickly!

[2019-07-23 12:59] chrisseaton commented on #1673
It's an issue with the desugaring of `||=` I believe.

I simplified to this

[code]

And then to:

[code]

[2019-07-23 13:01] nirvdrum commented on #1721
@ioquatix I'm a strong proponent of having a proper byte array type in Ruby. I'm not sure it buys us anything in terms of max array length, but it would allow for cleaner solutions for the IO use case. Please comment on https://bugs.ruby-lang.org/issues/13166 if you'd like to see something for Ruby 3.

[2019-08-03 08:23] hsbt opened #1733 "Installation failure ruby-build with macOS"
I'm going to add 19.1.1 definition to ruby-build. But I couldn't install truffleruby-19.1.1(and 19.1.0) to my macOS 10.14.6 environment.

It fails openssl build with `./lib/truffle/post_install_hook.sh`. I'm not sure why it failed because I could install it a few weeks ago.

mkmf.log is here: https://gist.github.com/hsbt/482726643f45e92b48304ad85956ffbe

What's do I next step for investigation? /c

[2019-08-03 10:58] eregon commented on #1733
Please do not add 19.1.1 to `ruby-build`, there is no difference with 19.1.0 for the TruffleRuby standalone (see https://github.com/rvm/rvm/pull/4740#issuecomment-513757515).

[code]

This looks like the missing C headers on macOS.
@chrisseaton @lukasstadler @rschatz What's the solution for this on the latest macOS?

[2019-08-03 11:31] eregon commented on #1733
@hsbt Do the instructions for installing system headers at https://github.com/oracle/truffleruby/blob/master/doc/user/installing-llvm.md#development-tools-and-system-headers work for you?

[2019-08-03 12:27] hsbt commented on #1733
@eregon After the following instruction, I could install truffleruby.

[code]

I wonder why I need it because I already install it ago. Can we invoke above command each updating `CommandLineTools` on macOS?

[2019-08-03 12:29] eregon commented on #1733
It seems unfortunately that every macOS update removes the system headers, and so they need to be re-installed again after every update. We're looking at finding a more permanent solution to this issue.

[2019-08-03 12:52] hsbt commented on #1733
I see. I try to re-install them the next minor upgrade of macOS.

Thanks!

[2019-08-03 12:52] #1733 closed

[2019-08-05 08:01] lukasstadler commented on #1733
FWIW, I fixed this problem (header files not being in standard locations any more in Mojave) by defining `SDK_ROOT`:
[code]

[2019-08-05 09:11] HoneyryderChuck commented on #1730
Getting the same error when using the ASN1 layer of `ruby-openssl` (https://travis-ci.org/swisscom/ruby-netsnmp/jobs/567174660)

[2019-08-05 09:40] eregon commented on #1730
https://github.com/oracle/truffleruby/pull/1732 is a PR aiming to implement `rb_str_drop_bytes`.

[2019-08-07 09:46] eregon commented on #1565
I added a stress test for concurrently loading C extensions and fixed a couple race conditions triggered by the test. This should work reliably now.

[2019-08-07 09:46] #1565 closed

[2019-08-09 07:12] wangyin-git commented on #1730
How about 'rb_io_set_nonblock'.  I got a #<RuntimeError: rb_io_set_nonblock not implemented>

ruby version:
truffleruby 19.1.0, like ruby 2.6.2, GraalVM CE Native [x86_64-linux]

[2019-08-09 21:39] enebo commented on #1566
I was excited to see how well you ran oj because you site says 3.7 is running 98.90% tests pass of the oj test suite: https://www.graalvm.org/docs/reference-manual/compatibility/#oj

It immediately hit this issue locally for me.  Is there some way you work around this to test oj?  Seems like your results would be 0% otherwise.

[2019-08-09 21:44] chrisseaton commented on #1566
I think the immediate answer is that `HAVE_LIBPTHREAD` is undefined. That's what the log shows me from this test run. I'm not sure who undefined it of it it's undefined by default. Maybe a config run fails because `pthread_mutex_init` doesn't work and so undefines `HAVE_LIBPTHREAD`? But then I'm not sure why you wouldn't see that locally.

[2019-08-09 21:50] enebo commented on #1566
@chrisseaton Just to let you know more details I am on fedora core 29 and I just did a gem install oj --version 3.7.12 (3.8 is out but I hit this and realized you advertised running on 3.7).   If you test system does not have libpthread then it sets HAVE_LIBPTHREAD false/undefined and compiles with out it?  That is why it works there but fails on my system.  I did I understand that correctly?

[2019-08-09 21:52] chrisseaton commented on #1566
It looks more like the configuration test fails and so doesn't set the feature flag.

[code]

[2019-08-09 21:57] ohler55 commented on #1566
Does truffle have a pthread library or an alternative that supports a mutex of some type? I'd be glad to make changes to improve support.

[2019-08-09 21:59] chrisseaton commented on #1566
This is a bit of a silly issue really - we could easily implement our own `pthread_mutex_init` - it's not complicated. We have been debating where it should be implemented and really we should just get on and do it in TruffleRuby for now. If you are keen to do it I can show you how.

[2019-08-09 22:00] ohler55 commented on #1566
Sure

[2019-08-09 22:01] chrisseaton commented on #1566
I'll put together some notes and get back to you. You'd need to sign the OCA https://www.oracle.com/technetwork/community/oca-486395.html.

[2019-08-09 22:15] ohler55 commented on #1566
Signed and returned.

[2019-08-10 00:37] eregon commented on #1566
I just remembered, there is a C API for this: rb_nativethread_* functions in `ruby/thread_native.h`. Advantages of those:
* They are portable
* They are already used by the OpenSSL C extension
* TruffleRuby already implements them (using a Ruby Mutex currently)

This might be the easiest way.

[2019-08-10 05:28] ohler55 commented on #1566
I think you are right, that might be the easiest way to move forward.

[2019-08-10 20:42] ohler55 commented on #1566
On further digging it looks like the issue may be the macro Oj uses to detect the existence of pthread. I changed the `extconf.rb` file and the `#if HAVE_LIBPTHREAD` to do an explicit check for the `pthread_mutex_init` function. If not found Oj should revert to the Ruby Mutex. Please take a look at the 3.9alpha branch and see if that works for you.

[2019-08-16 20:31] kirs opened #1734 "Unable to build bcrypt"
I'm trying to install dependencies of a typical Rails app and `bundle install` failed on bcrypt:

[code]

I have truffle built from master (`202f28eea00ce1408108e5199830c857f2549d64`) on macOS `10.14.6`.

I'm able to `gem install bcrypt -v '3.1.13'` if I switch to MRI.

[2019-08-16 20:46] chrisseaton commented on #1734
I'm sure we've run `bcrypt` in the past... but the issue is that it contains assembly code. We have an interpreter for C, some inline assembly, but not full assembly files. I'll take a better look later - maybe there is a C fallback for this assembly code we're not triggering for some reason - presumably there is in order to support non-Intel machines.

[2019-08-16 21:08] chrisseaton commented on #1734
@aardvark179 knows most about C extensions at the moment - I've assigned to him.

[2019-08-16 21:08] kirs commented on #1734
Thanks for a quick reply!
Hopefully this helps to make Truffle more ready for to run Rails :)

[2019-08-17 06:50] kirs opened #1735 "Cannot run rails ecosystem tests without a dependency"
To reproduce:

[code]

[2019-08-18 13:06] aardvark179 commented on #1734
Version 3.1.12 should work fine, 3.1.13 has changed to using some assembly code and a little customisation of the makefile which we'll need to fix.

[2019-08-19 10:29] chrisseaton commented on #1416
This seems to work fine on latest TruffleRuby. Sorry about how long that took! This looks like a nice gem - have you thought about writing some benchmarks with it?

[2019-08-19 10:29] #1416 closed

[2019-08-19 10:34] chrisseaton commented on #1408
Sorry we're not planning to support JRuby-style interop any-time soon now. Thanks for your help diagnosing the issue and we know some people will want JRuby-style interop, but it's just not a priority immediately.

[2019-08-19 10:34] #1408 closed

[2019-08-19 11:35] chrisseaton commented on #595
For me on 19.1 the original benchmark now runs as fast as MRI in CE, and is faster in EE. JRuby is still faster but I'll close the issue as it's now not slower than MRI.

[2019-08-19 11:35] #595 closed

[2019-08-19 11:59] hsbt opened #1739 "truffleruby is broken with rake test suite"
HI, I would like to support truffleruby in rake.

I try to add truffleruby provided by RVM in GitHub Actions. But I got the test failure like this:

https://github.com/ruby/rake/runs/196971401#step:6:5

I'm not sure why that has happened. It's great to resolve at the next version of truffleruby.

Thanks,

[2019-08-19 12:20] chrisseaton commented on #1739
There's two failures here

[code]

For `#spwan` with `:chdir` it looks like this is indeed not yet supported - it's tagged https://github.com/oracle/truffleruby/blob/5458f470b90d9c37eca0378f5b0ad1075f871999/spec/tags/core/process/spawn_tags.txt#L77-L78.

For the `UnsupportedOperationException` it's from here https://github.com/oracle/truffleruby/blob/5458f470b90d9c37eca0378f5b0ad1075f871999/src/ma

[2019-08-19 15:19] gettalong commented on #1416
Thanks! And thanks for fixing this!

As for a benchmark: No, not really. The library is used by HexaPDF and it has some benchmarks, though none yet that use the part where Geom2D is used. However, I will add one to HexaPDF once the document composition part is more in place.

[2019-08-20 00:38] hsbt commented on #1739
@chrisseaton Thanks. I temporary removed `truffleruby` on CI of ruby/rake. I will add it again when it was resolved.

[2019-08-21 04:30] rafaelfranca commented on #1417
As for Xcode 11 the system headers package will not be provided anymore. The correct fix on MacOS is to set the `isysroot` or use `xcrun --sdk macosx` as CC wrapper. We can also tell people to set `SDKROOT` to the MacOS SDK like: `export SDKROOT=`xcrun --show-sdk-path`.

@eregon do you know if we can change the CC wrapper only on MacOS? I tried to look on this file https://github.com/oracle/truffl

[2019-08-21 05:35] eregon commented on #1417
@rafaelfranca Thanks, we came to the same conclusion in #1733 and in discussions with the Sulong team, but did not apply changes yet.
cc @zapster

The actual code for C/C++ compilation is in https://github.com/oracle/truffleruby/blob/master/lib/truffle/rbconfig-for-mkmf.rb
I'll change that to wrap `CC` with `xcrun --sdk macosx` and check the impact on time to compile C files.

[2019-08-21 17:14] chrisseaton commented on #1739
I've got a fix on the way for `Kernel#load` (the second failure.)

The first failure is a bit more tricky - it requires us to `chdir` on the thread running `spawn` (because it's not actually part of the system call) but we run threads in parallel so we might cause problems doing that. JRuby run a sub-command to change directory and then run the spawn. Maybe we should do that as well.

[2019-08-22 08:32] eregon commented on #1739
`spawn(chdir:)` is tracked as #1492, I'll try to get to that.
I think the most promising approach there is to use a small executable to chdir() and then exec(), much like Java does in some cases.

[2019-08-22 08:39] eregon commented on #1492
FWIW JRuby uses `cd workdir && ...` but that invokes the shell (can be slow) and if arguments are passed as an Array they would need to be escaped into a flat command line.

I think the best approach here is having a small executable doing `chdir` + `execve`, much like Java does in some cases for `ProcessBuilder`.

It seems `posix_spawn_file_actions_addchdir_np` was added in glibc 2.29: https://so

[2019-08-23 09:40] pitr-ch commented on #1673
I fixed this in d407cfdabab436451e924e2785defe60722138cb, it will be in the next release.
@deepj Thank you for reporting the issue!

[2019-08-23 09:40] #1673 closed

[2019-08-23 10:01] chrisseaton commented on #1739
`Kernel#load` is fixed in https://github.com/oracle/truffleruby/commit/5ccaefbfc7bb5030c1032f7e7eb1331c9566d1e7.

[2019-08-23 13:40] eregon commented on #1566
@ohler55 `have_func('pthread_mutex_init')` will still return `true` unfortunately, because Sulong [defines it](https://github.com/oracle/graal/blob/7b0cc8ba7d6ce48d709e8e1f6551d06c4be1f2c9/sulong/projects/com.oracle.truffle.llvm.libraries.bitcode/src/pthreads.c#L164-L166) and even if it didn't the system libpthread does. We have to fix this on our side and remove the Sulong shim.

[2019-08-23 13:44] eregon commented on #1730
@wangyin-git We'll implement `rb_io_set_nonblock`, it's needed for `async` too IIRC.

[2019-08-23 13:47] eregon commented on #1734
Note: we should add TruffleRuby in bcrypt's CI to avoid future regressions like this.

[2019-08-23 19:15] deepj commented on #1710
@eregon this seems to be resolved in 19.2.0

[2019-08-23 19:22] eregon commented on #1710
@deepj Yes indeed, I fixed this in f4af1b2c3207b366eb15b91f90fff903ac46e8c9 for 19.2.0 as marked in the ChangeLog but forgot to update this issue. Thanks for noticing and for the bug report.

[2019-08-23 19:22] #1710 closed

[2019-08-23 19:26] eregon commented on #1715
TruffleRuby 19.2.0 was release and fixes this bug, please try it.

[2019-08-23 19:26] eregon commented on #1729
TruffleRuby 19.2.0 was release and fixes this bug, please try it.

[2019-08-23 19:27] eregon commented on #1714
TruffleRuby 19.2.0 was released and fixes this bug, please try it.

[2019-08-24 10:59] eregon commented on #1697
`lib/cucumber/rake/task.rb` triggers this bug as well by using `path/to/ruby -S bundle ...` as found in https://github.com/asciidoctor/asciidoctor/pull/3305#issuecomment-524533456

[2019-08-24 11:15] eregon commented on #1697
I filed a bug in RVM for this to understand better and figure out the best solution: https://github.com/rvm/rvm/issues/4765

[2019-08-26 10:08] eregon commented on #1492
I fixed this in d39f45e6fc1d50354fa2ed237883e5a798996bd3 and it will be in the next release.
@MaxLap Thank you for reporting the bug, and sorry it took so long to actually fix it.

[2019-08-26 10:08] #1492 closed

[2019-08-26 10:10] eregon commented on #1739
I fixed `spawn(chdir:)` (#1492) in d39f45e6fc1d50354fa2ed237883e5a798996bd3, it will be in the next release.
I'll try to run the tests locally to make sure they pass now.

[2019-08-26 11:40] eregon opened #1741 "RuntimeError: rb_io_set_nonblock not implemented"
How about 'rb_io_set_nonblock'.  I got a #<RuntimeError: rb_io_set_nonblock not implemented>

ruby version:
truffleruby 19.1.0, like ruby 2.6.2, GraalVM CE Native [x86_64-linux]

_Originally posted by @wangyin-git in https://github.com/oracle/truffleruby/issues/1730#issuecomment-519807723_

[2019-08-26 11:41] eregon commented on #1730
`rb_str_drop_bytes` has been implemented in #1740, it will be in the next release.

For `rb_io_set_nonblock`, I split it in a separate issue: #1741.

[2019-08-26 11:41] #1730 closed

[2019-08-26 11:52] eregon opened #1742 "Lots of WARNING: negative line number warnings not supported in #class/module_eval"
For example, in AsciiDoctor's CI: https://travis-ci.org/asciidoctor/asciidoctor/jobs/576533763:
[code]

We should try to figure what uses negative line numbers and how to make this work, so there is no need to warn.

[2019-08-26 12:14] chrisseaton commented on #1739
Thanks for that @eregon - I though supporting chdir was going to be very difficult.

[2019-08-27 15:26] eregon commented on #1566
@ohler55 The `TRUFFLERUBY` macro is defined in C and the `TruffleRuby` constant is defined in Ruby. That's documented in https://github.com/oracle/truffleruby/blob/master/doc/user/truffleruby-additions.md#detecting-if-you-are-running-on-truffleruby

But we'd rather avoid TruffleRuby-specific code in gems if possible.

[2019-08-27 15:47] eregon commented on #1566
@ohler55 I'm working on a fix to let `pthread_mutex*` just work. So that issue should be solved for the next release.

[2019-08-27 16:20] eregon commented on #1566
The next error once `pthread_mutex*` work is:
[code]

Which is something we need to fix by either allowing RARRAY_PTRs to go native or finding another to pass arguments to C extension functions taking `(int argc, VALUE *argv, VALUE self)`.

[2019-08-27 16:35] eregon commented on #1566
On the upside, if I do allow RARRAY_PTRs to go native in a quick-and-dirty way just for this case, it does work:
[code]

[2019-08-27 17:27] shayneoneill commented on #1436
was a solution ever found for how to install this? I havent worked out which of my Gemfile dependencies want this as I'm not asking for it explicitely, but its barfing on the same linker problem

[2019-08-27 18:48] eregon commented on #1436
@shayneoneill I'm working on a general solution to use the native linker, which should address this.

In the `Gemfile.lock` it should be relatively clear what depends on `hitimes`.

[2019-08-27 19:28] eregon commented on #1566
@enebo I think the output above is actually from the run of the module tester.
It looks like that run didn't actually run any Oj-specific tests due to `pthread_mutex_init is unsupported` when requiring `oj`, but still ran the `test/json_gem` tests and those probably ended up testing against the stdlib `json` gem.
[code]
So I'd guess it's miscounted in this case, and somehow the tests were skipped

[2019-08-28 08:00] shayneoneill commented on #1436
Yeah I think it was socketry that was causing it.

[2019-08-28 23:38] chrisseaton opened #1743 "Not enough stack space to initialize exception classes to raise stack overflow"
[code]

You need some quite specific flags to trigger this!

[code]

Works as intended with `--native`, with `--vm.Dgraal.Dump=`, and if you remove `--vm.Dgraal.TruffleCompileOnly=fib`.

[2019-08-29 11:08] aardvark179 commented on #1407
We had somewhat put this on hold while we improved general compatibility of C extensions, and then worked on other performance challenges round that change. It is probably now time to investigate Puma performance again with these changes in place.

I'll do some investigation, but my initial guess would be that our main performance blocker will by in Puma's C extensions, and how well Sulong can JIT

[2019-08-29 11:18] aardvark179 commented on #1566
I think we can fix things to allow `RARRAY_PTR` to be converted to a native pointer without too much trouble. We can achieve this by adding a native array storage strategy which would

1. Allocate a block of memory large enough to hold all the array contents as `VALUE`s.
2. Convert and copy the current array contents into this buffer.
3. Send all ruby access to the array via conversion to and from

[2019-08-29 12:59] aardvark179 commented on #1743
I agree that's an annoying edge case, but it may be quite hard to completely solve. Throwing an exception will need some stack space for the creation of the exception itself, and may additionally need space to deoptimise methods as the stack is unwound, and both of these can result in the stack overflow exception itself causing a stack overflow.

You can avoid increase the stack size using an argu

[2019-08-29 13:02] chrisseaton commented on #1743
The JVM maintains several layers of reserve stack space so it can always throw itself.

https://pangin.pro/posts/stack-overflow-handling

I wonder if we can 'lift' that same idea to the guest-level, in the same way we did safepoints. Or otherwise configure these pages to allow us to do what we want?

[2019-08-30 16:38] findchris opened #1744 "ArgumentError comparing a BigDecimal to a Float"
As posted on [gitter](https://gitter.im/graalvm/truffleruby), I'm comparing a `BigDecimal` to a `Float`. No problems on MRI, error on TruffleRuby:
[code]

[2019-09-02 11:25] aardvark179 commented on #1743
So there are two things we'd need to consider, the stack spaces required to construct our exception object, and the stack space required to de-optimise methods as we unwidn the stack. The JVM itself can't guaranteee the latter, so has special code to ensure that monitors are released as the stack is unwound even if catch blocks can't actually be executed, and I think some special code round privil

[2019-09-04 15:52] chrisseaton opened #1746 "Not all specs are configured properly to run on a release build"
I'm trying to run all specs on a proper release artefact.

It turns out this isn't possible - for example `spec/truffle/launcher_spec.rb` has specs that try to use the `--options-log`, which isn't allowed in a release build unless you also use `--experimental-options`.

We haven't noticed this problem yet as so far the only place we have been running all specs is a development build. The Docker te

[2019-09-08 03:38] deepj commented on #1742
This issue is a duplicate of https://github.com/oracle/truffleruby/issues/1481 and then https://github.com/oracle/truffleruby/issues/1482

[2019-09-08 07:48] k0kubun opened #1747 "hamlit: performance degraded due to missing Ripper.lex"
I added truffleruby support of Hamlit in https://github.com/k0kubun/hamlit/pull/145, but it disabled various optimizations because `Ripper.lex` is not available in truffleruby.

It also complicated its implementation to guard against missing `Ripper.lex`. I really want truffleruby to support `Ripper.lex`, to make it easier to maintain the truffleruby support. Is there any plan to support `Ripper.l

[2019-09-08 07:50] k0kubun commented on #1600
This issue is resolved by https://github.com/k0kubun/hamlit/pull/145. So please feel free to close this issue (it seems I can't).

But I filed https://github.com/oracle/truffleruby/issues/1747 instead. Missing `Ripper.lex` was the most problematic thing for truffleruby support in Hamlit.

[2019-09-08 08:47] eregon commented on #1742
@deepj Thanks for the links, I forgot about them when filing this issue.
ERB itself should work fine, but indeed with `tilt` or other cases setting the line number to a negative value it's still a problem.

I'll close this in favor of #1482.

[2019-09-08 08:47] #1742 closed

[2019-09-08 08:48] eregon commented on #1482
This also happens in AsciiDoctor's CI (#1742)
https://travis-ci.org/asciidoctor/asciidoctor/jobs/576533763:
[code]
We should try to figure what uses negative line numbers and how to make this work, so there is no need to warn.

[2019-09-08 08:58] eregon commented on #1600
@k0kubun Thank you for adding TruffleRuby support in Hamlit!
I am sorry it took so many exclusions due to missing Ripper support.

[2019-09-08 08:58] #1600 closed

[2019-09-08 09:09] eregon commented on #1747
Thank you again for adding TruffleRuby support in Hamlit.

We'll try to support `Ripper.lex`, it's one of the few missing stdlibs remaining: https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md#standard-libraries

I expect there are no major issues to implement it, we can probably use a similar approach to JRuby as we share basically the same lexer and parser.

[2019-09-09 17:08] eregon commented on #1743
I think a simple workaround here would be to eagerly load `RaiseException` and other classes needed to handle the `StackOverflowError`.

BTW, we already print `[ruby] WARNING StackOverflowError` on STDERR just after catching the `StackOverflowError`.
The fact we don't see it here probably means `org.truffleruby.language.methods.TranslateExceptionNode#translate` fails to load `RaiseException`.

In

[2019-09-22 08:17] chrisseaton commented on #1746
With binary tarballs, with our `ruby` on `$PATH` and then

[code]

I'll use the workaround and I'll send a PR in to fix the specs at some point.

[2019-09-24 12:05] chrisseaton opened #1748 "AOT tags don't seem to be needed any more"
I test against a tarball AOT image, and I can run all specs not marked as `fails`, including those tagged as `aot` - I think this tag could be removed.

After working around #1746, the only spec I now can't run on a binary tarball is 'Requiring C extensions concurrently is thread-safe'. I've tagged that as a failure and now run without any tags set apart from `fails`.

[2019-09-24 22:53] nirvdrum opened #1749 "Upgrade stdlib from 2.6.2 to 2.6.5"
I'm getting started with a new Rails project and the mismatch between TruffleRuby's latest stdlib version and MRI's is a bit annoying. This is because the generated Gemfile from `rails new` adds a `ruby` version directive. Since the latest TruffleRuby and MRI have different reported stdlib versions, I can't readily share the Gemfile between the two implementations. The directive is optional, so fo

[2019-09-24 23:08] nirvdrum opened #1750 "Missing exception info when failing to start Rails console"
I've encountered an odd issue when trying to invoke the Rails console (i.e., `bundle exec rails console`). In this case, I had changed the default database adapter from `sqlite3` to `pg` in my `Gemfile`, but I forgot to update the DB connection settings in `config/database.yml`. So, completely a user error. However, TruffleRuby omitted all the error information when my attempt to run the Rails con

[2019-09-25 00:11] nirvdrum commented on #1750
This is with Rails 6.0.0 and Bundler 1.17.2 (the one that ships with TruffleRuby), by the way.

[2019-09-25 08:07] eregon commented on #1749
We plan to upgrade to 2.6.4 although I'm not sure yet when it will land. One of the other reasons is to restore `rdoc` support now that the [related vulnerability](https://www.ruby-lang.org/en/news/2019/08/28/multiple-jquery-vulnerabilities-in-rdoc/) has been fixed upstream.

Note however that using the same Gemfile for both MRI and TruffleRuby might not always work.
For instance, `rails new` gene

[2019-09-25 08:14] eregon commented on #1750
Thank you for the report, we'll try to reproduce it.

Could you try running again after `export RUBYOPT=-d`? That should print every exception raised, so we should be able to compare exceptions raised on TruffleRuby and MRI.

[2019-09-25 12:30] nirvdrum commented on #1749
Thanks. I'm fairly well aware of the issues with trying to share the Gemfile. I probably wouldn't have even tried MRI if I hadn't run into #1750. Thanks for the info on the String corruption bug, though. I hadn't seen that.

[2019-09-25 12:49] nirvdrum commented on #1750
Here's the full output with `-d`. You can see the `LoadError` I was expecting at the bottom of the output:

[code]

[2019-09-26 12:31] shayneoneill opened #1751 "qml-ruby linker error"
I'm trying to use the qml-ruby library from here: https://github.com/seanchas116/ruby-qml

This works fairly reliably with regular ruby, but when I try and install (via truffleruby's bundle or gem) for for truffleruby I get this;-

[code]

It would seem I'm supposed to provide this -rpath argument, but I must confess I'm not sure how. or if theres a deeper problem not immediately solveable by the

[2019-09-26 14:09] tomajask opened #1752 "Slack/Discourse for Truffleruby community (?)"
I was looking for a slack or discourse where Truffleruby users could discuss their topics. Is there anything like this available?

It could help to popularize Truffleruby faster amongs the developers community, I think.

[2019-09-26 14:15] eregon commented on #1752
There is a Gitter room currently:
https://gitter.im/graalvm/truffleruby

We are working on a better communication platform and will introduce it soon.

[2019-09-26 15:08] pitr-ch commented on #1491
Until we fix this here is a workaround:
[code]

[2019-09-26 18:04] MaxLap commented on #1491
Thank you, I already have a workaround, but that is a nice one too!

[2019-09-27 14:19] petenorth opened #1753 "Unable to install sassc gem"
Hi,

I am unable to complete a bundle install of my project's Gemfile, it is getting very close but fails on the `sassc` gem. I have created a test case Dockerfile to highlight the issue

[code]
running `docker build -f Dockerfile -t sassc-test:latest .` results in

[code]

[2019-09-27 16:11] petenorth commented on #1753
Digging led to

https://gcc.gnu.org/wiki/LinkTimeOptimization#Using_LTO-1

So `-flto` would need to be added to the list of understood flags in custom linker. Since it is an optimisation flag is it optional? If it is then can the custom linker ignore the flag and emit a warning explaining what it has decided to do?

[2019-09-27 16:16] eregon commented on #1753
Thank you for the report.

We are aware sassc doesn't install currently due to how the gem is built, but we should have fix soon in the next TruffleRuby release.

[2019-09-27 17:08] ahorek commented on #1753
there's a flag to disable lto, but there might be other issues...
[code]

[2019-09-27 17:15] petenorth commented on #1753
@ahorek Thanks and as you suspected it leads to a different issue

[code]

[2019-09-27 22:09] eregon commented on #1753
As a workaround until the new TruffleRuby release, using an older version of `sassc` like `2.0.1` or older should work. I just tried on TruffleRuby 19.2 and it seems to work fine.
Using the pure-Ruby but deprecated `sass` gem might also be an option.

For the record, https://github.com/sass/sassc-ruby/pull/127 is what changed how `libsass` is compiled.

[2019-09-27 22:13] eregon commented on #1751
Thank you for the report.
I suspect this an issue in our linker and our new approach to linking which should be merged soon should resolve this.

[2019-09-28 09:14] petenorth commented on #1753
I included the `Gemfile.lock` file (had excluded it as was having to make some changes to the `Gemfile`) and this specified `2.0.1` . This has done the trick:

`Bundle complete! 60 Gemfile dependencies, 175 gems now installed.`

For information the Dockerfile I am using:
[code]
The `git` install is because of some non packaged gems. The `libxml2` and `libxslt` were required by `nokogiri` .

`BUNDL

[2019-09-28 09:43] petenorth commented on #1753
I think that

https://github.com/oracle/truffleruby/blob/master/lib/mri/mkmf.rb#L15

Makes the explicit `RUN bundle config build.nokogiri --use-system-libraries` unnecessary.

[2019-09-28 09:57] eregon commented on #1753
I would recommend dropping privileges and using Docker's `USER` command, and then running `bundle` as a normal user, but of course that's your call.

Great!

Indeed, but it doesn't hurt to be explicit and makes it more resilient to changes. The reason we do this is because nokogiri wouldn't compile at all otherwise with TruffleRuby's current strategy for compiling C extensions. That might possibly

[2019-09-28 12:34] petenorth opened #1754 "Error using webpacker:compile"
So I am trying to get an asset pipeline working in a Rails app. My Dockerfile looks like

[code]
The result is below, I have seen a fair amount of chat on `spawn option: chdir` . Is this something that is likely to be fixed in the near term or is it further out?

[code]

[2019-09-28 14:18] shayneoneill commented on #1751
Spectacular. Is there an issue I can watch that would give me updates on this?

[2019-09-28 14:43] nirvdrum opened #1755 "jt.rb can no longer auto-install a JVMCI build."
Rev. b382d3b958bda063fa3fb87b91ca37cf223868c2 removed the "openjdk" reference from ci.jsonnet, which now causes the [version lookup mechanism](https://github.com/oracle/truffleruby/blob/79fa32e7fa65dc967f4cd24ed72eb73c5560b392/tool/jt.rb#L138) in jt.rb to fail. There's no "openjdk" reference to match. Simply changing it to "oraclejdk" doesn't work either, unfortunately, because the Oracle JDK vers

[2019-09-28 14:46] nirvdrum commented on #1755
Setting `JVMCI_VERSION` currently doesn't work either because the version match regexp was not update for the 19.x releases.

[2019-09-28 14:53] nirvdrum commented on #1755
I've opened #1756 to update the regexp so setting `$JVMCI_VERSION` works.

[2019-09-28 15:00] eregon commented on #1755
I'm on it, I have a PR getting through CI now.

[2019-09-28 15:10] eregon commented on #1751
I'll mention it here when the approach to linking is merged, so just watching this issue should be enough.

To be clear, I don't know if qml-ruby will work after that's merged, but I think the specific error above should no longer be an issue.

[2019-09-28 15:13] eregon commented on #1754
[code]

I fixed this on master (https://github.com/oracle/truffleruby/issues/1739#issuecomment-524803946), but it's not yet in a release.

[2019-09-28 15:18] petenorth commented on #1754
#1739 mentions something similar and there is a link to some test(?) tags

https://github.com/oracle/truffleruby/blob/5458f470b90d9c37eca0378f5b0ad1075f871999/spec/tags/core/process/spawn_tags.txt#L77-L78

which interestingly are not indicated as failing on master (or am I misinterpreting?)

https://github.com/oracle/truffleruby/blob/master/spec/tags/core/process/spawn_tags.txt

I am on 19.2.0.1 w

[2019-09-28 15:20] petenorth commented on #1754
@eregon you were already on it!

[2019-09-29 09:14] eregon commented on #1755
I fixed the version lookup mechanism in https://github.com/oracle/truffleruby/commit/0808ffc9e65a98c38a252c87f917e34cff584b28
Thank you for the report.

FWIW the openjdk and oraclejdk `u` differ in this case because they are the respective CPU releases for the 2 different JDKs. We'll just maintain two entries in ci.jsonnet to accommodate that.

[2019-09-29 09:14] #1755 closed

[2019-09-30 15:03] petenorth opened #1758 "jt docker build with --source flag fails"
I tried to build a new Docker image to pick up some fixes  but the the `jt docker build truffleruby-latest --source` command fails with

[code]
The offending line is

https://github.com/oracle/truffleruby/blob/master/tool/jt.rb#L2347

Fundamentally the slim linux base image doesn't have the `which` command installed.

[code]

[2019-09-30 15:59] eregon commented on #1758
Thank you for the report.

We don't use the `--source` Dockerfile frequently, at least building JVMCI from source seems unusual, nowadays most people would use https://github.com/graalvm/openjdk8-jvmci-builder/releases.
We should fix it.

Do you specifically want to build TruffleRuby in a Docker image, or building TruffleRuby on your host system would be fine for you? We definitely support the lat

[2019-09-30 16:41] petenorth commented on #1758
I think it will be easier enough to work around (using the `print` option and then manually working with the  Dockerfile).

Thanks.

[2019-09-30 16:46] tomajask commented on #1752
Thanks @eregon for letting know 🙂 I'm looking forward to see this new platform then 🤞

[2019-09-30 21:32] XrXr opened #1759 "Example for Thread#raise in documentation executes very differently"
The following snippet from the official documentation doesn't output anything on `truffleruby 19.2.0.1, like ruby 2.6.2, GraalVM CE Native [x86_64-darwin]`
https://ruby-doc.org/core-2.6.4/Thread.html#method-i-raise

[code]
Adding a puts at the end of the script gives strange a output:

[code]

Why is the error printed twice?

[2019-10-01 09:10] eregon commented on #1759
This also happens on MRI by tweaking the script a little (program termination is racy in the code above):
[code]
gives (MRI 2.6.3):
[code]
And on TruffleRuby 19.2.0:
[code]

It is printed once because of Thread.report_on_exception [being true by default on Ruby 2.4+](https://eregon.me/blog/2017/12/28/thread-report-on-exception.html).

And it is printed another time due to `Thread.abort_on_exceptio

[2019-10-01 09:10] #1759 closed

[2019-10-01 11:54] eregon commented on #1748
`spec/truffle/nfi_spec` still seems to fail for `spec/truffle/nfi_spec.rb` (trying with 19.2.0.1 and master), it hard exits:
[code]

[2019-10-01 11:55] chrisseaton commented on #1748
Ah, sorry I figured out that `truffle.mspec` sets to exclude `aot` automatically for native. So you don't need to set the exclude - it's always set in native mode - but you still need the specs tagged.

[2019-10-01 11:55] #1748 closed

[2019-10-01 12:00] eregon commented on #1748
Yes, all tags should be automatic with `truffle.mspec` except `fails`.

[2019-10-01 16:11] eregon commented on #1748
I removed all tags except that one in https://github.com/oracle/truffleruby/commit/622abfce0718cb93face31d7c19970f033ecd0c8 and did a bit more cleanup related to tags.

[2019-10-02 08:50] chrisseaton opened #1761 "Use-after-free of native handles"
I'm having a lot of trouble with use-after-free of handles - they're allocated, collected, and then they're used again. I'm not sure what part isn't working correctly, but to work around I'm keeping all handle blocks alive forever by default for the moment in order to keep working.

It most noticeably happens during `bundle install`, and almost always at `zlib.c:2347`.

I don't have a permanent so

[2019-10-02 09:17] eregon commented on #1761
@aardvark179 has a PR under review which I think should address that.

Yes, this would be good to have under `doc/contributor` or as comments in the code explaining the high-level logic.

[2019-10-02 11:18] eregon commented on #1761
The PR was merged, 2066eae936eeae042190bb00162c6ec7e5410909 should solve this.

[2019-10-02 17:22] chrisseaton commented on #1761
Thanks very much. I'll get back in touch if I see it again.

[2019-10-02 17:22] #1761 closed

[2019-10-07 02:34] JongleurX commented on #1433
@chrisseaton, any progress to report after Redmine was added to your testing system?

[2019-10-07 10:27] chrisseaton commented on #1433
Sorry, I left Oracle. @eregon can task someone else. I'd help you myself still, but this seems fairly complicated to setup and test.

[2019-10-07 11:11] eregon commented on #1433
I'll try to take a look soon at the cause of this.
It seems the RegexpError happens in the `css_parser` 1.6.0 gem, and is actually very easy to reproduce (on TruffleRuby 19.2.0.1):
[code]

[2019-10-07 13:46] chrisseaton opened #1762 "`jt dis` is defunct"
Use `jt mx llvm-dis` instead.

[2019-10-07 13:55] eregon commented on #1762
Do you think we should document this anywhere or just remove the method in `jt`?

[2019-10-07 13:56] chrisseaton commented on #1762
Just removing would be fine I think - we don't want to proxy every `mx` command into `jt`.

[2019-10-07 19:26] chrisseaton opened #1763 "New LLVM toolchain produces code not supported by Sulong"
I know the team are already aware of this as discussed on other channels, but I'll open it for the record.

We used to compile `-O0` and `opt -mem2reg`. The new toolchain does `-O1`. This produces different bitcode - for example a chain of `if` becoming a `switch` with bitcode that Sulong does not support.

@eregon already reduces to a minimal test case `gem install json + jt ruby -e 'gem "json";

[2019-10-07 19:36] rafaelfranca commented on #1753
The new llvm toolcahin fix this issue. I believe this can be closed.

[2019-10-08 04:37] JongleurX commented on #1433
Thanks! I don’t know if you are still keen to add Redmine to your test system, but it is a great example of an open-source and complex Ruby on Rails app that could benefit from TruffleRuby, particularly for larger installations with heavy usage and concurrency. Might be useful as a litmus test of TruffleRuby’s real-world readiness.

[2019-10-08 09:38] eregon commented on #1753
@rafaelfranca Thanks for confirming, I'll close this then and it will be available in the next release.

[2019-10-08 09:38] #1753 closed

[2019-10-08 10:35] aardvark179 commented on #1433
I've found the cause of this problem and I'm running it through our internal CI at the moment. The issue was that regexps that specify `NOENCODING` can include escaped characters that would not be valid in the source string's original encoding.

[2019-10-08 13:19] chrisseaton opened #1764 "You need to set SDKROOT manually to build on macOS Catalina"
[code]

[code]

[2019-10-08 13:33] eregon commented on #1764
@chrisseaton Is this only to build, or is it also an issue at runtime?

The build seems to fail in Sulong:
[code]

@zapster Are those LLVM tests built with the toolchain and using `xcrun`?

[2019-10-08 13:36] chrisseaton commented on #1764
I seem to be able to for example install `oily_png` with C extensions ok without it, so maybe just during build it's needed.

[2019-10-09 11:33] rschatz commented on #1763
Should be fixed on `graal` master (https://github.com/oracle/graal/commit/c5164fbd9a4c5ffca043294aa95065d1cd13c9f6). The fix will be in 19.3.0.

[2019-10-09 11:33] #1763 closed

[2019-10-09 11:35] chrisseaton commented on #1763
Thank you very much.

[2019-10-09 18:55] #1762 closed

[2019-10-09 19:21] eregon commented on #1762
I fixed this in 56610ec48ded517e6f63717949a9ecee63a18362 along with documentation updates for the toolchain.

[2019-10-10 19:21] eregon commented on #1763
Regression test added in dc1d6807f930e9b57ba0ddf06751bb00706bb194

[2019-10-12 08:58] eregon opened #1767 "opt fail LLVMForeignCallNode Partial evaluation did not reduce value to a constant"
From https://travis-ci.org/ged/ruby-pg/jobs/595579253#L781 noticed by @larskanis
Also in https://travis-ci.org/ged/ruby-pg/jobs/595809673
[code]

It seems to happen consistently in TravisCI when running pg's specs.

[2019-10-14 07:40] pitr-ch commented on #1491
Fixed in c30547e32c2c1c174583b940302dd9944ddae325.

[2019-10-14 07:40] #1491 closed

[2019-10-14 09:28] fniephaus opened #1768 "[interop] Ruby arrays do not answer `getMembers` correctly"
I'm not sure whether this has already been fixed as part of migrating to interop v2. But in GraalVM 19.2.0.1,  Ruby arrays do not answer `getMembers` correctly:

[code]

[2019-10-14 09:36] pitr-ch commented on #1768
Please try master, it is already fixed there and will be part of 19.3.

[2019-10-14 09:39] fniephaus commented on #1768
Great, thanks!

[2019-10-16 07:07] zapster commented on #1764
Hi @chrisseaton and thanks for reporting the issue! Building sulong should be fixed by https://github.com/oracle/graal/commit/19842ba6576aa9fae08d56c04ed7cbf2cf40d289. Please let me know if there are any remaining issues.

[2019-10-16 15:25] #1764 closed

[2019-10-17 15:11] chrisseaton opened #1769 "Broken symlinks in build"
[code]

Then I couldn't actually find `libc++.dylib` anywhere in the GraalVM release - it's not in either `graalvm-ce-19.2.1` nor `llvm-toolchain-installable-darwin-amd64-19.2.1` - where is it, and why are all these links broken?

[2019-10-17 16:14] zapster commented on #1769
That is already fixed by https://github.com/oracle/graal/commit/70de30a4aa25a202af8ad2e4530aa8eb05ce7712

[2019-10-17 16:14] #1769 closed

[2019-10-19 11:41] eregon commented on #1433
This issue was fixed in fb3fca16d6294fe76464c56310949135ee5cd150 by @aardvark179 and will be in the next release. Thank you for the bug report and sorry it took so long.

[2019-10-19 11:41] #1433 closed

[2019-10-21 20:02] chrisseaton opened #1770 "mysql2 can't be built on Catalina due to -lssl failing"
We're unable to build `mysql2` on macOS Catalina at the moment. I think this is the problem:

[code]

So the Homebrew `libmysqlclient` links `-lssl` but nothing says to look in `/usr/local/Cellar/openssl/1.0.2t/lib`. I think it worked before as `/usr/lib` contains a `libssl`, but `/usr/lib` is not on the path now. So I think that's a Homebrew bug? Does anyone else have an opinion on that?

What I'

[2019-10-22 10:06] eregon commented on #1770
Thanks for the report.

Does installing `mysql` work on MRI on macOS Catalina?
Can you see which libssl it links to if it does, with `otool -L path/to/mysql.bundle`?

This might be due to eager checks when linking on macOS, I'll make a PR to make them more lazy like on MRI (`-Wl,-undefined,dynamic_lookup`). That might help, but I'm not sure it's enough for this case.

[2019-10-22 10:24] chrisseaton commented on #1770
I can install with MRI on Catalina.

[code]

So it should be linking to the one inside Homebrew as we'd expect, and it looks like it's `mysql_config` that is misconfigured, would you agree?

Delaying won't help, as it still wouldn't know where to find `libssl` at runtime (and I've dealt with quite a few weird bugs related to ignoring undefined symbols in gems recently.)

[2019-10-22 10:28] eregon commented on #1770
Is that with your change to `mysql_config` though?
I wonder how `mysql_config` or mysql's `extconf.rb` finds the path to libssl.

[2019-10-22 10:32] chrisseaton commented on #1770
It install on MRI _without_ my change. I'm not sure how it's working there either.

[2019-10-22 11:10] eregon commented on #1770
https://github.com/brianmario/mysql2/blob/0.5.2/ext/mysql2/extconf.rb doesn't seem to link to libssl explicitly, only through `mysql_config --libs`.

On Linux I see on MRI:
[code]

@chrisseaton Could you share the generated Makefile for MRI in
`~/.gem/ruby/2.6.5/gems/mysql2-0.5.2/ext/mysql2/mysql2.so` ?

[2019-10-22 12:16] chrisseaton commented on #1770
It appears in `ldflags` somehow

[code]

[2019-10-22 12:25] eregon commented on #1770
[code]
So these values seem to be provided at `./configure` time to MRI with something like `./configure --with-openssl-dir=/usr/local/opt/openssl`, in your case done by `ruby-build`:
https://github.com/rbenv/ruby-build/blob/da8e0b41fc93f84f4298d63efff15107332c064a/bin/ruby-build#L1023-L1031

Moral of the story: some C extensions expect to just inherit build-time settings for libraries MRI itself

[2019-10-22 12:38] eregon commented on #1770
@chrisseaton Could you also share `ruby -e 'pp RbConfig::MAKEFILE_CONFIG'` and `ruby -e 'pp RbConfig::CONFIG'` ? That should make it easier to pinpoint how this works in MRI.

[2019-10-22 12:42] chrisseaton commented on #1770
[code]

[code]

[2019-10-22 12:50] eregon commented on #1770
Actually that's a Homebrew-installed MRI, it's not installed by ruby-build.
Here is the logic setting `--with-opt-dir=`:
https://github.com/Homebrew/homebrew-core/blob/29c7cfb92c0efed7fdb303f069bb3d2830fed636/Formula/ruby.rb#L47-L54

[2019-10-22 14:12] eregon commented on #1417
We fixed this by using `xcrun --sdk macosx /path/to/toolchain/bin/clang` in the Sulong toolchain and it will be in the next release, 19.3.0. So TruffleRuby should work out-of-the-box on macOS, without any configuration (no need to set `SDKROOT`).

[2019-10-22 14:12] #1417 closed

[2019-10-22 15:22] eregon commented on #1623
Here is what I get when running on latest master:
[code]

So we get a proper error message now at least.
That error seems to mean the global `EventMachine` variable is not set, likely because initialization fails.

Running with `-d` (or the better `--backtraces-raise`) gives some extra details:
[code]

The LoadError is expected and rescued, so it's fine.
`rb_fd_init not implemented` seems the issu

[2019-10-22 15:26] eregon commented on #1708
This should be fixed in 19.3.0 because we use a native linker now.
@fniephaus Please confirm. I'll close this issue as the report bug should be fixed.

I could not reproduce because it seems both `TREE_SITTER_PARSER_DIR` and emscripten need to be installed for installing this gem.
BTW it takes a long time to install this gem, probably because it includes 2069 files and they are extracted one by on

[2019-10-22 15:26] #1708 closed

[2019-10-22 15:30] eregon commented on #1752
A Slack is now available for GraalVM in general and there is a `#truffleruby` channel.

We still need to update links in the README about it.

[2019-10-22 15:33] eregon commented on #1754
This should be fixed in the next release, 19.3.0.
I'll close this issue for now and ping you when 19.3.0 is released to verify the fix.
Thank you for the bug report.

[2019-10-22 15:33] #1754 closed

[2019-10-22 15:37] eregon commented on #1751
The new linker approach has been merged and should solve this.
It will be in the next release, 19.3.0.
I cannot easily verify this as installing Qt seems rather involved.
I'll ping you when 19.3.0 is released to check whether it's fixed.

[2019-10-22 15:43] eregon commented on #1734
With the new toolchain this seems to just work:
[code]

@aardvark179 Could you try adding truffleruby in BCrypt's CI and see if pass the tests?

[2019-10-22 15:45] eregon commented on #1623
Note: https://github.com/oracle/truffleruby/issues/1634 is also about `rb_fd_init` not being implemented.

[2019-10-22 16:11] eregon commented on #1637
I tried with the new Sulong toolchain and `phashion` installs successfully now:
[code]
So this should be fixed in 19.3.0.
Thank you for the report.

[2019-10-22 16:11] #1637 closed

[2019-10-22 16:20] eregon commented on #1642
`gem install rugged` succeeds on master:
[code]

[2019-10-22 16:20] #1642 closed

[2019-10-22 16:23] eregon commented on #1088
`gem install rugged` now succeeds on master (https://github.com/oracle/truffleruby/issues/1642#issuecomment-545041984).
However, requiring `rugged` fails currently:
[code]

[2019-10-22 16:25] eregon commented on #1668
Still an issue on master:
[code]

[2019-10-22 16:29] eregon commented on #1546
`gem install hiredies` and `ruby -rhiredis -e0` now succeed on master:
[code]

[2019-10-22 16:29] #1546 closed

[2019-10-22 16:41] eregon commented on #1435
@gmalette Could you try again on the latest TruffleRuby release (19.2.0)?
I think it might address this.

[2019-10-22 16:43] eregon commented on #1427
`gem install hamlit` succeeds on master:
[code]
So it should work in the next release.
Thank you for the bug report!

[2019-10-22 16:43] #1427 closed

[2019-10-22 16:45] eregon commented on #1588
I get a different error on master now:
[code]

[2019-10-22 18:09] gmalette commented on #1435
@felix-d are you still using this? Can you try?

[2019-10-22 18:12] chrisseaton commented on #1435
I'll take this issue over from the Shopify side and try it out.

[2019-10-22 20:05] eregon commented on #1435
@chrisseaton OK, thanks, I'll re-assign to you then.

[2019-10-22 20:15] chrisseaton commented on #1435
This works now - but requires the commits that I know @eregon has in process.

[2019-10-22 20:15] chrisseaton commented on #1435
I'm assigned but can't close!

[2019-10-22 20:16] felix-d commented on #1435
No `@gmalette` we're not using prepared statements anymore

[2019-10-22 20:23] XrXr opened #1772 "Cannot load more than one byte from RSTRING_PTR"
I'm trying to run [google-protobuf](https://rubygems.org/gems/google-protobuf) on TruffleRuby. The gem contains a C extension that computes a hash code off of Ruby strings, and TruffleRuby does not execute the hash function correctly.

I have reduced the code down to a simple demo extension here that you can play with: https://gist.github.com/XrXr/d7a07623330c244cb3b13bcae5f9530e.
As you can see i

[2019-10-23 01:51] TisonKun commented on #1642
Thanks for your update!

[2019-10-23 10:24] #1435 closed

[2019-10-23 10:58] eregon commented on #1770
Fixed in 3541dcec2f50e0fc3fa93c3c09fd83b0f294314d, thanks for the report and the help debugging this.

[2019-10-23 10:58] #1770 closed

[2019-10-23 11:13] eregon commented on #1537
This is fixed on master and will be in the next release, 19.3.0.
The new approach uses a native linker which links against the correct library.

[2019-10-23 11:13] #1537 closed

[2019-10-23 11:21] fniephaus commented on #1708
Thanks, I will try again when `19.3.0` is out.

[2019-10-23 12:03] eregon commented on #1772
Thank you for this excellent bug report and investigation.

I guess we need to tell Sulong that our `RStringPtr` object needs to be addressed byte-wise.

[2019-10-24 10:11] ioquatix commented on #1405
@eregon maybe docs need to be updated?

[code]

[2019-10-24 11:08] eregon commented on #1405
@ioquatix Installing `clang`/`llvm` will no longer be needed in the next release, the docs already reflect that.

[2019-10-30 17:50] nirvdrum opened #1778 "Can't load pg gem with TruffleRuby 19.3 master builds"
I'm unable to load the pg gem with master (19.3.0-dev) (rev. 9309ef1fce70b7c91cf913eee2741f43dc42a003), whereas I could load the gem with TruffleRuby 19.2.0.1:

[code]

[2019-10-31 11:00] eregon commented on #1778
Could you show:
[code]

For me that gives:
[code]

This extra `/usr/lib64:` at the start of `Library runpath` sounds like a possible cause for this issue.

[2019-10-31 11:56] deepj commented on #1752
@eregon What to consider Discord? E.g. artichoke uses it for their community https://github.com/artichoke/artichoke#discussion

For me it has multiple pros over Slack (better native client for main platforms including for iOS or Android)

[2019-10-31 12:27] eregon commented on #1752
The link is in the README and it's been publicly announced now, so I think we can close this issue.

Slack is what we use at work, so it's a lot more convenient for us to use it for community too.
I find the Slack client on Android quite good (and so much better than Gitter).

[2019-10-31 12:27] #1752 closed

[2019-10-31 12:42] chrisseaton commented on #1752
Slack is what quite a lot of the community seems to already use internally - Oracle, Shopify, AdoptOpenJDK, etc. So in terms of apps open, it's much more convenient for these people.

[2019-10-31 13:43] nirvdrum commented on #1778
Here you go:

[code]

I have a slightly different path than you because I'm on Ubuntu. But it looks like the same case as you're seeing.

[2019-10-31 17:01] brodock commented on #1733
didn't work for me... xcrun seems to not be doing what we expect it to do:

[code]

[2019-10-31 17:09] eregon commented on #1733
@brodock There was a missing final backquote above, I edited the command.
BTW, the next TruffleRuby release (on Nov 19) will use `xcrun` automatically, so it's less error-prone.

[2019-11-01 14:52] brodock opened #1784 "Big memory usage when running benchmark.ips benchmarks"
I was trying out truffleruby with a small gem to see how it would perform against MRI : https://gitlab.com/gitlab-org/gitlab_kramdown/blob/improve-benchmark/benchmark/benchmark.rb and one thing that caught my attention was the fact that it was allocating memory on the GBs.

<img width="815" alt="gitlab_kramdown_system_monitor" src="https://user-images.githubusercontent.com/20575/68033149-6e3dae80-

[2019-11-02 20:02] nateberkopec opened #1785 "Bundler can't be uninstalled"
Bundler is pre-installed in the "download this binary" version of TruffleRuby, but it's 1.17.2, so you end up in this situation:

[code]

You can workaround with `bundle _2.0.2_` of course, but still it's a bit surprising.

[2019-11-02 20:14] nateberkopec commented on #1785
I then tried to `gem install --default bundler`, which worked, but now `bundler` returns:

[code]

[2019-11-02 21:21] chrisseaton opened #1786 "C extension compilation may not work with --enable-frozen-string-literal"
https://travis-ci.org/puma/puma/jobs/606523352

[code]

I haven't dug any deeper than that, but I'm guessing something in our modifications to `mkmf` or `rbconfig` or something like that may not work with frozen string literals?

@nateberkopec

[2019-11-02 21:44] eregon commented on #1785
Thank you for the bug report.
This is an issue from TruffleRuby 19.2, which doesn't have `lib/gems/gems/bundler-2.0.2/exe/bundle`.
That file is present on master.

`bundler` is a default gem (same on MRI) and default gems cannot be uninstalled.
It seems `gem uninstall` just ignores it and succeeds:
[code]

I think `gem install --default` is broken, even on MRI. I assume you tried it here to get th

[2019-11-02 21:53] eregon commented on #1786
Thank you for the bug report.
I'm a little curious about the reason for using `--enable-frozen-string-literal`, as that is likely to break many things, is hard to test for Ruby implementations, and the only way to protect files expecting mutable strings is for the files to use
[code]
I don't mind adding those for core & stdlib in TruffleRuby, but I'm not sure how gems authors would feel about it.

[2019-11-02 21:54] eregon commented on #1786
`ruby --enable-frozen-string-literal -rmkmf -e0` is enough to reproduce this bug.

[2019-11-02 22:11] chrisseaton commented on #1786
Do we need to start testing all our core basic functionality like building C extensions with this flag set, or something like that, do you think?

[2019-11-02 23:57] nateberkopec commented on #1786
I added it because of the possibility that it may, someday, become the default.

[2019-11-03 16:49] eregon commented on #1786
Right, it makes sense to ensure Puma is compatible with that flag.

[2019-11-03 18:04] nateberkopec commented on #1785
Ah cool. I didn't really know what "default" meant. I agree with your assessment.

[2019-11-04 17:56] chrisseaton opened #1795 "Implement specialisation for structs with keyword arguments"
https://github.com/oracle/truffleruby/pull/1789#discussion_r342100201

[2019-11-05 21:29] ms-ati commented on #1449
Is it possible, as an intermediate step, to publish the generated Dockerfiles somewhere, so that they can be seen and used without having to install the dev environment and run `jt`?

[2019-11-05 21:30] chrisseaton commented on #1449
(Can't answer that, but do you want me to generate a `Dockerfil`e for you now since I already have the environment set up?)

[2019-11-06 02:44] rafaelfranca commented on #1744
This can be closed now. It works fine on master:

[code]

[2019-11-06 02:51] rafaelfranca commented on #1726
Closed by 56b326eba9d91dccabcabd9a31ff18cbfabd60a7

[2019-11-06 02:54] rafaelfranca commented on #1661
This should be fixed now. Rack test suite is green with the master branch.

[2019-11-06 02:55] rafaelfranca commented on #1616
The error on the title should be fixed now, but not all tests on that file are passing.

[2019-11-06 06:28] jodosha commented on #1449
@chrisseaton Please do. It would be helpful for me too. Thanks a lot!

[2019-11-06 11:56] aardvark179 commented on #1786
This is a pretty simple fix. `RbConfig.expand` replaces the existing string value, and we're normally careful to only call it with a duplicated string. Unfortunately we're missing one case.

[2019-11-06 12:15] #1726 closed

[2019-11-06 14:22] chrisseaton commented on #1449
[code]

Feel free to ask any questions.

[2019-11-06 14:42] nirvdrum commented on #1449
While not quite official images of just TruffleRuby, Oracle does have [an official GraalVM CE image](https://github.com/oracle/docker-images/tree/master/GraalVM/CE). I haven't tried, but you should be able to use that as a base image and add the step to install TruffleRuby via GraalVM's `gu` utility.

[2019-11-06 16:45] chrisseaton opened #1801 "Extract exception pattern into method"
We have this pattern a lot - should factor it out into a common method.

[code]

[2019-11-07 10:11] pojntfx commented on #1400
I'd like to add the popular `grpc` gem to this list.

[2019-11-07 13:38] eregon commented on #1400
@pojntfx Could you file a new issue with the error you see?

[2019-11-07 17:36] #1744 closed

[2019-11-07 17:39] #1661 closed

[2019-11-07 17:41] eregon commented on #1801
Indeed, do you plan to make a PR?

[2019-11-07 17:41] chrisseaton commented on #1801
I'll self-assign before I start work when I get around to it, but anyone else can as well.

[2019-11-07 17:56] eregon commented on #1744
I verified, it's fixed in 20.0.0, but not in 19.3.0.

[2019-11-08 10:03] dixpac opened #1806 "Having a problem while installing gems: (NullPointerException)"
I've just started with `truffleruby`. I managed to install GraalVM and truffleruby with rbenv. But when I want to install a gem I got this error:

<img width="1258" alt="Screenshot 2019-11-08 at 10 58 58" src="https://user-images.githubusercontent.com/7427365/68467604-cbcd8000-0216-11ea-9f7d-151b33110cac.png">

<img width="900" alt="Screenshot 2019-11-08 at 11 00 33" src="https://user-images.githu

[2019-11-08 10:53] eregon commented on #1806
This is very likely due to using a too recent LLVM.
For TruffleRuby 19.2.x we recommend `llvm@4` from Homebrew.

The coming 19.3 release will fix this by shipping its own LLVM so it's always the right version.

[2019-11-08 10:53] #1806 closed

[2019-11-08 16:15] eregon commented on #1772
Filed as a Sulong bug internally as GR-19473.

[2019-11-08 22:59] chrisseaton commented on #1801
I couldn't self-assign, but I've done it.

[2019-11-11 11:17] eregon commented on #1786
This should be fixed by d1cf59f731a5a152b7865adca898789732b0a6d4.

[2019-11-11 11:17] #1786 closed

[2019-11-11 12:21] #1801 closed

[2019-11-11 12:24] eregon commented on #1785
I'll close this issue since I think it's fixed in 19.3, and will comment here when 19.3 is released for verification.

[2019-11-11 12:24] #1785 closed

[2019-11-11 12:26] eregon commented on #1778
@rschatz fixed this in https://github.com/oracle/graal/commit/adc94cd5c47846bc9b4b9c242b61597b5f4ab4cf.
That fix will also be in 19.3.

[2019-11-11 12:26] #1778 closed

[2019-11-11 12:27] eregon commented on #1751
I'll close this issue since I think this is fixed for 19.3. I'll write here when 19.3 is released for verification.

[2019-11-11 12:27] #1751 closed

[2019-11-11 12:28] eregon commented on #1630
I fixed this in 2a0f8392e04740373382a4f9772f781f09cb8c70.

[2019-11-11 12:28] #1630 closed

[2019-11-16 19:22] deepj commented on #1727
@eregon Hello, is there any new about  this issue?

[2019-11-16 22:37] larskanis opened #1814 "rb_check_symbol_cstr is not yet implemented"
pg-1.2.0 will probably introduce field names deliverable as symbols. In MRI there are two types of symbols: dynamic and static symbols. PG will primary use dynamic symbols per [`rb_check_symbol_cstr()`](https://github.com/ged/ruby-pg/pull/306/files#diff-631a3ecabfa0db95985789711f6ded8bR417-R422) , to allow GC'ing of field names. Static symbols on the other hand can lead to memory bloat if field na

[2019-11-17 13:34] eregon commented on #1814
Thanks for the bug report!

1. No, all Symbols are the same and GC'd.
2. Yes.
3. We will, but that will need to wait for the next release (20.0), so it would be helpful if pg can use ID2SYM() on TruffleRuby.

[2019-11-18 12:39] eregon commented on #1727
This still seems an issue, I'll fix it.

[2019-11-18 17:06] eregon commented on #1727
Fixed by 5dc880e5421293f6c4d87db3fe9f578f2c709f07.

[2019-11-18 17:06] #1727 closed

[2019-11-18 20:22] larskanis commented on #1814
Thank you @eregon ! I switched symbol allocation to `ID2SYM` in https://github.com/ged/ruby-pg/pull/306 on Truffleruby and it works great. So you could drop the "priority" flag from this issue.

[2019-11-18 22:43] eregon commented on #1749
Indeed, we're currently planning to update to 2.6.5. I updated the issue title as well.

[2019-11-19 21:30] eregon commented on #1814
@larskanis Thanks!
Using `rb_str_intern` always would work on both MRI and TruffleRuby, but that requires to allocate a temporary String so I guess that's why `rb_check_symbol_cstr` is used?

`rb_check_symbol_cstr` is mentioned in `extension.rdoc` and it seems useful for your case, so we'll implement it soon for compatibility.

[2019-11-19 21:52] larskanis commented on #1814
Exactly! Most of the time the symbols are already allocated, so that we allocate strings only when necessary.

[2019-11-20 18:30] petenorth commented on #1753
I have tested with the new release

[code]
and it works

[code]

[2019-11-20 22:47] fniephaus opened #1816 "[Interop] Array#swap invocable, but not readable"
I'm getting errors when trying to display the API of an `Array`, because of [Array#swap](https://github.com/oracle/truffleruby/blob/c3845389c4f38e51283b48a1ea3ccdac4962adbf/src/main/ruby/truffleruby/core/array.rb#L1673-L1678). It's listed as part of `getMembers` and can be invoked. But it does not seem to be a *readable* member. I'm not too familiar with the API of `Array`, but I couldn't find `#s

[2019-11-20 23:03] fniephaus opened #1817 "[Interop] getMembers returns empty list for Strings"
#### Repro session
[code]

[2019-11-21 03:23] hsbt opened #1818 "Build failure 19.3.0 with ruby-build and macOS environment"
I'm not sure why it's failed.

[code]

Can you give me the point for this failure?

[2019-11-21 11:08] eregon commented on #1818
Thank you for the report, could you try `rbenv install truffleruby-19.2.0` and see if that works?
It sounds like a `ruby-build` uses a different working directory than before, but that's just a guess.
I'll try to reproduce.

[2019-11-21 11:20] eregon commented on #1818
I cannot reproduce in Docker on Fedora 28 with `ruby-build truffleruby-19.3.0 $PWD/prefix/`, it works fine there.

And the logic seems fairly straightforward:
[code]

Could you check what is `$PREFIX_PATH` in your case, and what's under it with `ls $PREFIX_PATH` and `ls $PREFIX_PATH/lib/truffle` ?

[2019-11-21 11:26] eregon commented on #1818
I also pushed https://github.com/rbenv/ruby-build/commit/f0a393d20a4fe3cbda0d5a10bf7b14b1b524bb0d to `ruby-build` to help debugging, that should print the full path to `post_install_hook.sh`.

[2019-11-21 14:43] eregon commented on #1818
We found the issue with @pitr-ch.

When installing TruffleRuby with rbenv, on macOS, openssl is downloaded, built and installed first in `$PREFIX_PATH/truffleruby-19.3.0/openssl`.
Then truffleruby is downloaded and extracted by `fetch_tarball`.
The logic in `fetch_tarball` assumes that the `$PREFIX_PATH`, however it is not in this case, since the installation of openssl created `$PREFIX_PATH/truff

[2019-11-21 15:31] eregon commented on #1818
https://github.com/postmodern/ruby-install/pull/315/files is a possible approach for fixing `fetch_tarball`

[2019-11-21 15:34] eregon commented on #1753
@petenorth Excellent, thanks for confirming.
I'll add TruffleRuby in `sassc`'s CI.

[2019-11-21 15:41] eregon commented on #1818
@hsbt https://github.com/rbenv/ruby-build/pull/1383 should fix this, could you confirm?

[2019-11-21 15:53] eregon commented on #1816
Thank you for the bug report, I can reproduce.
`Array#swap` is indeed an internal method, marked as `protected`.
`protected` is between `public` and `private` and that's probably why it appears in one case but not the other.

@pitr-ch Could you take a look at this?

I think there are two things to fix:
* Should `protected` methods be listed in `getMembers()` and `isMemberReadable()`? We need to be

[2019-11-21 16:00] eregon commented on #1817
Thank you for the report.
@pitr-ch Could you take a look at this?

[2019-11-21 22:24] deepj opened #1819 "sassc: image not found (UnsatisfiedLinkError) (LoadError)"
[code]

To reproduce

[code]

Error:
[code]

[2019-11-21 22:29] deepj commented on #1819
Hm, it seems this issue is not only relative to sassc but also to other C extensions such as `ruby-vips`

[2019-11-21 23:01] hsbt commented on #1818
@eregon Thank you. I can build truffleruby-19.3.0 with https://github.com/rbenv/ruby-build/commit/08af62839635b4cf6b2e21e7a0ddf54000cfa906

[2019-11-21 23:01] #1818 closed

[2019-11-22 00:48] ashishbista opened #1820 "It doesn't install on Catalina using RVM"
I'm trying to install `truffleruby` on macOS Catalina using RVM, but getting the below error.

[code]

It looks like it's failing to install `llvm@4`, which has been deleted from `homebrew/core`.

[code]

[2019-11-22 00:49] deepj opened #1821 "Method#>> and Method#<< are not supported"
This is supported in MRI 2.6 when proc composition was added.

[code]

To reproduce:

[code]

Error:

[code]

[2019-11-22 03:02] deepj commented on #1661
@rafaelfranca I can't find it in changelog. In what commit it was fixed?

[2019-11-22 08:49] larskanis opened #1822 "Regression in Truffleruby-19.3.0 at memcpy() in C-ext"
Truffleruby-19.3.0 fails with TypeError in two test cases of the pg gem, whereas Truffleruby-19.2.1 works:
[code]

It fails in [this line of the C code](https://github.com/ged/ruby-pg/blob/583403f9d617bd08a02bf750e8aa9f838677153c/ext/pg_text_encoder.c#L243). Full stack trace is here: https://travis-ci.org/larskanis/ruby-pg/jobs/615474667#L628

[2019-11-22 09:14] eregon commented on #1661
@deepj It's not fixed in 19.3, which the 20.0 milestone reflects.
I think https://github.com/oracle/truffleruby/pull/1779 fixed this.

[2019-11-22 09:23] eregon commented on #1822
Thank you for the report.
@aardvark179 Could you look at this?

[2019-11-22 09:31] eregon commented on #1820
Thank you for the report!

TruffleRuby >= 19.3 no longer need LLVM to be installed on the system.
I will update RVM to fix that.

In the meanwhile, you can disable installing requirements on RVM with:
[code]
https://rvm.io/rvm/autolibs

[2019-11-22 12:24] eregon commented on #1566
Support for native `RARRAY_PTR` got merged in be190ac0fb1d095429889dce53d55f55c562ccd3 by @aardvark179.
I can confirm `truffleruby -roj -e 'puts Oj.dump({a: 2})'` works on `master`, so I'll close this and it will be in the next release.

We'll try to get nightly builds (#1483), so we can test TruffleRuby in oj's CI before the 20.0 release.

[2019-11-22 12:24] #1566 closed

[2019-11-22 13:57] aardvark179 commented on #1822
This is another problem with the new `memcpy` implementation in Sulong. Even if we ensure that the `RSTRING_PTR` is typed as a polyglot i8 array ``memcpy` still attempts to copy into it with i64s.

[2019-11-22 15:57] aardvark179 commented on #1822
I have had a discussion with @rschatz and we have a plan to resolve this and #1772. This requires a small fix in TruffleRuby to declare the correct polyglot type for `RSTRING_PTR`, and some work in our LLVM interpreter to convert managed objects to native in certain cases. This will cause slightly more conversions to native objects than happens currently, but is relatively simple fix to resolve th

[2019-11-22 15:58] eregon commented on #1820
PR to fix this in RVM: https://github.com/rvm/rvm/pull/4815

[2019-11-22 16:37] eregon commented on #1751
@shayneoneill TruffleRuby 19.3.0 was released, could you try installing qml-ruby again?

[2019-11-22 16:37] #1820 closed

[2019-11-22 16:38] eregon commented on #1820
@ashishbista This should be fixed now, please try again with the latest RVM.

[2019-11-22 16:43] eregon commented on #1785
@nateberkopec TruffleRuby 19.3.0 was released, could you verify this is fixed?

[2019-11-22 16:44] eregon commented on #1806
@dixpac TruffleRuby 19.3.0 was released and should fix this.

[2019-11-22 16:51] eregon commented on #1427
@jameschenjav FYI, TruffleRuby 19.3.0 was released and that should at least let `hamlit` install.

[2019-11-22 16:53] eregon commented on #1642
@TisonKun FYI, TruffleRuby 19.3.0 was releases and fixes this.

[2019-11-22 16:55] eregon commented on #1754
@petenorth TruffleRuby 19.3.0 was released, could you verify it works now?

[2019-11-22 16:55] eregon commented on #1708
@fniephaus TruffleRuby 19.3.0 was released, could you verify it works now?

[2019-11-22 16:59] eregon commented on #1730
@mauricioszabo @HoneyryderChuck TruffleRuby 19.3.0 was released, could you verify it works now?

[2019-11-22 17:00] eregon commented on #1492
FYI, TruffleRuby 19.3.0 was released and should fix this.

[2019-11-22 17:41] petenorth commented on #1754
Have been looking at this but with the original test I think it is hitting a memory issue in `** Execute webpacker:compile`

The following works without issue (the trivial app generated by rails)

[code]

with the original test (with the more complex application )

I sometimes get

[code]
or just a docker error of 137 (which suggests memory). I'll try outside of Docker on the original test.

[2019-11-22 18:47] rafaelfranca commented on #1661
Yes, that is the fix

[2019-11-22 18:52] eregon commented on #1819
Thank you for the bug report.
It seems specific to macOS, where on MRI C extensions are compiled as `.bundle` files and on TruffleRuby as `.dylib` files.

TruffleRuby sets `RbConfig::CONFIG["DLEXT"]` as `'dylib'` so this should work, but some gems might hardcode `.dylib` somewhere.

[2019-11-22 19:11] eregon commented on #1819
FWIW, I checked and on Linux it works fine:
![Screenshot from 2019-11-22 20-11-32](https://user-images.githubusercontent.com/168854/69453499-514b4700-0d64-11ea-9396-1b25c6423695.png)

[2019-11-22 19:16] eregon commented on #1819
The bug is https://github.com/sass/sassc-ruby/blob/8b6f4154355afcfc49174c87b6ddd7039ccbec8a/lib/sassc/native.rb#L9
I'll make a PR to `sassc` to use `dl_ext = RbConfig::CONFIG["DLEXT"]`.

[2019-11-22 23:39] TisonKun commented on #1642
@eregon Thanks for your working~

[2019-11-23 00:37] ashishbista commented on #1820
Yes, it now installs on macOS Catalina with the latest RVM. Thanks for promptly fixing the issue.

[2019-11-23 04:38] nateberkopec commented on #1785
Getting a new issue when compiling openssl so can't confirm or deny

[code]

[2019-11-23 09:44] eregon commented on #1785
Interesting, I never saw that one. Which version of openssl do you have?

[2019-11-23 12:01] petenorth commented on #1754
I have run it outside of Docker on the complex app and it succeeds:

[code]

[2019-11-23 17:05] dixpac commented on #1806
Thanks @eregon! Works like a charm now

[2019-11-23 18:57] tiredenzo opened #1823 "Runtime Error with Agoo web server"
Hello,
while tryiing to run [Agoo](https://github.com/ohler55/agoo) with truffleruby-19.3.0

with the provided example in the documentation

[code]
app.rb

```gem install agoo```
```ruby app.rb```

Accessing the browser to `http://localhost:6464/hello`

I get the following stacktrace in my console

[code]

Thank you

[2019-11-24 15:10] deepj opened #1824 "bundle install with many dependencies causes OutOfMemoryError"
[code]

I wanted to try one old project to run on TruffleRuby but I was stopped while bundle install when I faced to multiple fails. At least on my machine this happens always when one of the following errors is occured.

Unfortunately, I can't share the `Gemfile` and `Gemfile.lock` publicly, but I can share it privately.

Errors:

[code]

[code]

[code]

[2019-11-25 01:01] 0xdevalias commented on #1820
Just hit this with ruby-install as well:

[code]

[2019-11-25 10:34] eregon commented on #1820
@0xdevalias Thanks for creating the ruby-install issue. I already made a PR to fix this in ruby-install, but it needs a new release: https://github.com/postmodern/ruby-install/issues/360#issuecomment-558093337.

Until then a workaround (only needed on macOS) is:
[code]

[2019-11-25 16:17] eregon commented on #1824
Thank you for the bug report.
Both the 1st and 3rd logs seem to be `OutOfMemoryError`.
I would think because of some leak or using excessive memory for representing some of the data Bundler uses.

The OutOfMemoryError seems to happen for libv8 which is a very large gem: 190MB on macOS for the version you're using: https://rubygems.org/gems/libv8/versions.

Could you try `bundle install` without th

[2019-11-25 16:18] eregon opened #1825 "opt fail: node is not LIRLowerable NewFrame"
The second error is a compilation error:
[code]

That should let the process continue, although it might be quite a bit slower.

_Originally posted by @eregon in https://github.com/oracle/truffleruby/issues/1824#issuecomment-558228094_

[2019-11-25 16:19] eregon commented on #1824
I split the compilation error in a separate issue: #1825

[2019-11-25 16:25] eregon commented on #1823
Thank you for the bug report.

@aardvark179 Could you look into what causes this?

[2019-11-25 16:29] eregon commented on #1754
@petenorth Thanks for checking. It seems indeed that `webpacker:compile` uses too much memory.
Could you report it as a separate bug if you think it's using too much compared to MRI?
Good to hear it works outside Docker :)

[2019-11-25 19:21] petenorth commented on #1754
I managed to get the docker build working, not entirely sure what did it but

- `--memory=4096m` as a flag on the `docker build` command _made no difference_
- instead I changed the memory available to Docker desktop on my mac to 4GB via the preferences menu and restarted, the `docker build` then completed.

I think the memory usage is slightly more for TruffleRuby but not massively so.

[2019-11-25 19:50] deepj commented on #1824
It seems `libv8` caused the `OutOfMemoryError` errir. It was a dependency of `mini_racer`.

But the whole `bundle install` is extremely slow and I can't use my machine during installation due to throttling.

[2019-11-25 23:24] deepj opened #1826 "BigDecimal(object) doesn't convert implicitly the object into String"
To reproduce

[code]

MRI 2.6.5

[code]

TruffleRuby 19.3

[code]

[2019-11-26 02:39] deepj commented on #1453
@eregon This can be closed. The error is not occurred anymore in this context. It's possible to compile the most recent gem without any issue.

[2019-11-26 02:42] deepj opened #1827 "mini_racer: `rb_context_init_unsafe': External function cannot be found."
[code]

To reproduce:

[code]

Error:

[code]

[2019-11-26 03:01] nateberkopec commented on #1785
What would be the correct way for me to check that? I have homebrew installed in a nonstandard location so I should be exactly sure about which version Truffle would try to use.

[2019-11-26 03:48] deepj commented on #1667
@eregon this can be closed. It's possible to compile it with latest TruffleRuby

[2019-11-26 03:49] deepj commented on #1592
@eregon I guess, this can be closed as well since sulong support pthread

[2019-11-26 03:51] deepj commented on #1592
I'm just getting a different issue

[code]

[2019-11-26 04:37] chrisseaton opened #1828 "C-API Array function RARRAY_PTR allows memcpying between arrays fails on macOS native"
This fails reliably in native on macOS, including locally.

[code]

[2019-11-26 04:38] chrisseaton commented on #1828
Actually it's just flaky but it fails most of the time.

[2019-11-26 10:03] #1453 closed

[2019-11-26 10:05] eregon commented on #1824
@deepj To get an idea, how much RAM do you have available (`free -m`)?

[2019-11-26 10:07] eregon commented on #1827
[code]

So the v8 library or its functions seem to not be found for some reason.

[2019-11-26 10:15] eregon commented on #1785
Does the error message above have extra lines, which might indicate which headers it's using?

We check `brew --prefix openssl` and `/opt/local/include/openssl`:
https://github.com/oracle/truffleruby/blob/e4d5dfa3531e4376909a4be98afce063b2f00577/lib/truffle/truffle/openssl-prefix.rb

If the first one, could you tell me your `brew info openssl`?
And whether you also have `openssl@1.1` (`brew info o

[2019-11-26 10:16] #1667 closed

[2019-11-26 10:22] eregon commented on #1592
From `man 7 socket`:
[code]
Which Linux version do you have?

And https://github.com/ohler55/agoo/blob/177154260c9323a789e78826a3a34bb2480aad76/ext/agoo/bind.c#L289 seems to reference `SO_REUSEPORT` unconditionally.

Does `agoo` install fine on your machine with MRI?

[2019-11-26 10:22] eregon commented on #1592
FWIW, we currently support Puma relatively well, but other webservers probably not as good.

[2019-11-26 10:25] eregon commented on #1828
I cannot reproduce on Linux.

[2019-11-26 10:34] eregon commented on #1592
It works for me locally:
[code]

So I think it's a bug of `agoo` when installed on older operating systems (or when installed on non-Linux).
Please report it there.

[2019-11-26 12:19] deepj commented on #1592
I'm on macOS. No issue under MRI. Compiled and worked. That's was why I reported it.

[2019-11-26 12:32] eregon commented on #1592
@pitr-ch Can you try to reproduce on macOS?

[2019-11-27 01:37] nateberkopec opened #1830 "OpenSSL compilation fails on macOS"
Continuing discussion from https://github.com/oracle/truffleruby/issues/1785#issuecomment-558560788

Failing part of the build log:

[code]

Other relevant lines:

[code]

[code]

Not seeing anything else related to OpenSSL version numbers. [Full log here.](https://gist.github.com/nateberkopec/7b573f2438ff768aafd2d785deb60817)

More relevant info:

[code]

[code]

[2019-11-27 01:37] nateberkopec commented on #1830
19.2.0 now fails in the same place for me, so this is definitely my local environment.

[2019-11-27 01:40] nateberkopec commented on #1830
Setting OPENSSL_PREFIX to `/Users/nateberkopec/.homebrew/opt/openssl@1.1` doesn't change the outcome :|

[2019-11-27 01:41] nateberkopec commented on #1830
I do also have libressl installed which may be messing with things somehow? My SSL setup is definitely weird thanks to all the stuff I have to do with Puma maintenance so I'm guessing the answer is in which SSL is being used where.

[2019-11-27 08:41] HoneyryderChuck commented on #1730
Issue seems to have been fixed https://travis-ci.org/swisscom/ruby-netsnmp/jobs/608498676, although build is failing, apparently because bundling is taking too much time.

[2019-11-27 09:34] fniephaus opened #1831 "[interop] 'Internal error occured' instead of 'Unknown identifier' error"
For some reason, `invokeMember` exposes `PolyglotException`s when sending not-existing identifiers to Python objects. This may be a problem in GraalPython, but I've decided to open this here as the interaction between Javascript and Python seems to work fine.

#### Repro session

[code]

[2019-11-27 10:42] petenorth opened #1832 "Active Record error in Blog 5 test"
When I try and run the `test/truffle/ecosystem/blog5` application I get an exception when trying to add a post.

[code]
I am testing via a Dockerfile

https://github.com/petenorth/truffleruby/blob/master/test/truffle/ecosystem/blog5/Dockerfile-5-truffleruby

To build and test

[code]

Prior to this error there is a failure to serve an image which seems to be to do with the assets pipeline but I do

[2019-11-27 14:09] petenorth commented on #1832
So it looks as if the new post screen isn't rendering fields for title and author (or have I missed something). I have added a MRI version of  the Dockerfile to compare to in the my fork.

Would be nice if there was a working blog app to smoke test Rails in a truffleruby environment.

[2019-11-27 14:41] eregon commented on #1830
Thanks for creating a separate bug report, definitely easier to track stuff :)

Can MRI be installed in your environment with `ruby-install ruby [SOME_VERSION]` ?

Yes, this looks like it picks the headers from one place for the `extconf.rb` checks but then picks another header when compiling with `make`.
`X509_get0_notBefore` should be available in OpenSSL 1.1, so I guess somehow LibreSSL headers

[2019-11-27 14:44] eregon commented on #1830
Could you also show your `/Users/nateberkopec/.rubies/truffleruby-19.3.0/src/main/c/openssl/mkmf.log` ?

[2019-11-27 14:54] eregon commented on #1730
@HoneyryderChuck It looks like it's getting stuck while running specs. Running spec in "verbose mode" with `--format documentation` should show which spec hangs.

Could you file a new issue with that, since it's separate from this one?

[2019-11-27 15:33] aardvark179 commented on #1828
I think I've found the cause, and have managed to run those tests 50 times locally without failure.

[2019-11-27 16:23] eregon commented on #1825
@deepj Can you reproduce this error or did it happen only once?

[2019-11-27 23:09] eregon commented on #1739
TruffleRuby now runs in Rake's CI: https://github.com/ruby/rake/pull/331
@hsbt Thank you for the bug report!

[2019-11-27 23:10] #1739 closed

[2019-11-27 23:40] HoneyryderChuck commented on #1730
sure, will keep u posted.

[2019-11-28 00:08] HoneyryderChuck opened #1833 "endless loop on test with celluloid"
https://travis-ci.org/swisscom/ruby-netsnmp/jobs/617962889?utm_medium=notification&utm_source=github_status

@eregon follow up of #1730

[2019-11-28 04:50] nateberkopec commented on #1830
Oh, look at that. MRI is failing too in the same spot. OK, so this is probably not your fault. Looks like I have something that needs to be fixed by a particular incantation of CONFIGURE_OPTS.

[2019-11-28 11:02] fniephaus opened #1834 "[interop] "<no message> (EngineException)" when interacting with org.graalvm.polyglot.Context"
#### `eval.rb`
[code]

#### `eval.rb` output on GraalVM CE 19.3
[code]

Instead of `<no message> (EngineException)`,  TruffleRuby should print the [`RuntimeException` referenced by the `EngineException`](https://github.com/oracle/graal/blob/b6022e8699bbbe6ce4e9af894456aec3d164f015/truffle/src/com.oracle.truffle.polyglot/src/com/oracle/truffle/polyglot/PolyglotImpl.java#L446). Then it would be clea

[2019-11-28 11:06] eregon commented on #1833
Thank you for filing an issue.

Relevant output:
[code]

[2019-11-28 11:10] eregon commented on #1830
Right, we use almost the same `extconf.rb` for OpenSSL as MRI.

A wild guess here would be that `pkg-config` returns values inconsistent with what's found by default by the C compiler.

Having Homebrew in a non-standard location might also mean headers might not be found automatically.
I would also check if `CPATH` or any C compiler-related env var is set in your environment.
I'm happy to help you

[2019-11-28 11:15] eregon commented on #1834
Using org.graalvm.polyglot.Context via host interop is pretty much unsupported I think, isn't it @chumer?

Is this bug specific to Ruby?

Maybe there should be a way to retrieve the original exception from EngineException?
How is EngineException supposed to work to report the actual error?

[2019-11-28 13:07] petenorth commented on #1825
I have seen two other stack traces that look similar but are initiated from different Ruby classes. I think that in both cases the SubstrateVM was under memory pressure (?). Are these separate issues or related?

[code]

[code]
The stack traces continue then as in issue reported above

[code]

[2019-11-28 13:54] eregon commented on #1825
@petenorth Thanks, it looks related indeed.
This is a compiler bug, so I guess it can trigger on basically any Ruby code.

[2019-11-28 14:53] chrisseaton opened #1835 "Support AST sharing in Ruby"
We need AST sharing in Ruby to be able to be able to use advanced warmup and Native Image features.

Many of the changes we'll need to do will be need to be evaluated for performance regressions, so we may need to delay a little until we have a better way to do that at scale.

Can we track progress for that here (edit this comment.)

- [ ] Create a `RubyEngine` object to live in `RubyLanguage` and

[2019-11-28 14:53] chrisseaton commented on #1835
Is there a tool to help you know if you are capturing your context in your AST that we could start running in CI to see how far off we are?

[2019-11-28 15:13] eregon commented on #1835
cc @chumer

[2019-11-28 16:26] eregon commented on #1835
The first big step is making the Translator not needing a RubyContext.

The Translator references `nil` in `FrameDescriptor` though.
So probably we should start by making `nil` a global immutable singleton `Nil.INSTANCE` like `NotProvided.INSTANCE` so it can be shared between contexts and is context-independent. But many nodes assume they only see primitives and DynamicObject (and nothing else), s

[2019-11-28 16:47] eregon commented on #1832
Thank you for the report.
The application is tested in our CI and seems to work fine there.

What's your `startup.sh` script?

[2019-11-28 16:51] eregon commented on #1832
There is no separate title and author fields, those are extracted from the main field, like such:
[code]

I agree that's not intuitive, we should at least provide a default value for the main field.

[2019-11-28 16:59] eregon commented on #1831
`Polyglot.eval("python", "[]").foo` is the same as `Polyglot.eval("python", "[]").foo()`.

You probably meant:
[code]

Which seems to work as expected.

OTOH, when calling the method foo():
[code]
It seems the same for JS and Ruby, just that Ruby wraps the Python AttributeError in a RaiseException (= A Ruby exception).
The wrapping is a bug (we already know about it), but the real cause here is Py

[2019-11-28 17:01] eregon commented on #1831
@fniephaus I can't transfer this issue to https://github.com/graalvm/graalpython, so could you reopen it there?

I'll close this as I think the Ruby side is correct for this case.
Sorry for moving the issue around.

[2019-11-28 17:01] #1831 closed

[2019-11-28 17:08] eregon commented on #1832
Here is a screenshot of it working with `jt test ecosystem blog5` + `cd test/truffle/ecosystem/blog5 && bundle exec rails s`:
![Screenshot from 2019-11-28 18-07-25](https://user-images.githubusercontent.com/168854/69823704-f7d29480-1209-11ea-97c4-a8c1209bf351.png)

[2019-11-28 19:04] eregon commented on #1828
@aardvark179 fixed it in 4bf3272849b553fc39092dc3103b6cf32aa8088d.

[2019-11-28 19:04] #1828 closed

[2019-11-28 22:01] eregon commented on #1784
Thank you for the bug report, we'll try to take a look and reproduce it.

[2019-11-29 09:39] petenorth commented on #1832
@eregon Thanks that has sorted it - I'll try and get some timings out for the various Docker build stages vs MRI. Bundle installs are (as reported separately) much slower compared to MRI and running the assets pipeline is significantly slower.

An existing app works with TruffleRuby but full functional testing (via the suite of Cucumber tests) is currently not possible I think because of the memor

[2019-11-29 09:40] #1832 closed

[2019-11-29 12:59] fniephaus commented on #1831
No worries, thanks for looking into this!

[2019-11-29 13:32] petenorth commented on #1832
@eregon Here are the outputs from GNU Time using the docker files

https://github.com/petenorth/truffleruby/blob/master/test/truffle/ecosystem/blog5/Dockerfile-5-mri
https://github.com/petenorth/truffleruby/blob/master/test/truffle/ecosystem/blog5/Dockerfile-5-truffleruby

Both the elapsed time and resident memory are significantly larger for TruffleRuby.

**time bundle install --without developme

[2019-11-29 19:21] CorbanR commented on #1830
The issue that I ran into, was that I had some packages installed via `brew` that required an older version of `openssl` to be installed. So I have both `openssl@1.0` and `openssl@1.1` installed.

adding the following environment variable
`export PKG_CONFIG_PATH="/usr/local/opt/openssl@1.1/lib/pkgconfig"`  allowed openssl compilation to succeed.

I also have `export SDKROOT="/Library/Developer/Com

[2019-11-30 15:04] petenorth opened #1836 "CPU sampling for bundle install"
I have enabled cpu sampling for bundle install in this repo area

https://github.com/petenorth/truffleruby/tree/master/test/truffle/ecosystem/bundle-rake

To build:

`docker build -f Dockerfile-rake -t rake:latest .`

The output should include cpu sampling information in calltree format (search for `calltree` in the customised `bundle` script to see exactly where this is done).

What becomes appar

[2019-11-30 23:35] shidel-dev opened #1837 "grpc gem errors with LoadError when attempting to load c extension"
## Environment
- truffleruby-19.3.0
- native mode
- OSX
- grpc-1.21.0

## Issue

When requiring the grpc gem, it attempts to load a native extension. See https://github.com/grpc/grpc/blob/master/src/ruby/lib/grpc/grpc.rb#L20

The compiled code exists on my machine at `$HOME/.rvm/gems/truffleruby-19.3.0/gems/grpc-1.21.0-universal-darwin/src/ruby/lib/grpc/2.6/grpc_c.bundle`.

I added a break point t

[2019-11-30 23:57] shidel-dev commented on #1837
Same issue for `google/protobuf`. It also builds a `.bundle` file. Maybe this is the issue? It seems like `.bundle` is osx specific?

[2019-12-01 00:09] shidel-dev commented on #1837
this comment seems relevant https://github.com/oracle/truffleruby/issues/1819#issuecomment-557649759

[2019-12-01 11:59] eregon commented on #1837
Thank you for the bug report.

Currently we use `.dylib` for C extensions on macOS, but it seems multiple gems hardcode `.bundle` (instead of using `RbConfig::CONFIG['DLEXT']`), so we'll try to change to that to avoid incompatibility. As a result we also look for `.rb` and `.dylib` on macOS but not for `.bundle`.

This is only part of the story though.
[grpc](https://rubygems.org/gems/grpc/version

[2019-12-01 12:05] eregon commented on #1837
A potential workaround until then would be to force compilation for source, to not use the precompiled gem, which can be done with:
[code]

[2019-12-01 12:15] eregon commented on #1837
However, that currently fails for `google-protobuf`, because of a `switch` on `VALUE`:
[code]
https://github.com/protocolbuffers/protobuf/blob/e6c5a3b57d20384775950c4f85310e82a4f7a69b/ruby/ext/google/protobuf_c/repeated_field.c#L131-L138

That is a current limitation we hope to solve soon:
https://github.com/oracle/truffleruby/blob/master/doc/user/compatibility.md#value-is-a-pointer

There are als

[2019-12-02 11:04] pitr-ch commented on #1817
@fniephaus thanks for the report. This is a behaviour for strings we had from the beginning. I know about the problem, there is more inconsistencies like this in our Interop. I am going through them and it will be all fixed during the winter. Is it something which is causing problems for you at the moment?

[2019-12-02 11:10] fniephaus commented on #1817
@pitr-ch thanks for the update. Our students use GraalVM for various experiments and these inconsistencies make it hard to work with TruffleRuby sometimes. This is not necessarily urgent, but it would be great if these inconsistencies could be addressed soon.

[2019-12-02 12:19] fniephaus commented on #1708
This issue seems to be fixed with `19.3.0`. Thanks!

[2019-12-02 12:43] eregon opened #1838 "Expose public methods of the main/top-level object in the top scope/bindings"
From @bmatthews68 on the GraalVM Slack:

[code]

Currently, we only expose global variables in the bindings.
A workaround is to get the method object explicitly:
[code]
Or to eval a lambda:
[code]
which in general is useful for more complicated things

[2019-12-02 16:09] fniephaus opened #1844 "[interop] Array-like object do not implement `length` and other Array methods"
According to [the polyglot docs](https://github.com/oracle/truffleruby/blob/master/doc/user/polyglot.md#using-foreign-objects-from-ruby), foreign objects understand `size`, which is [an alias for `length`](https://docs.ruby-lang.org/en/2.4.0/Array.html#method-i-size). In fact, foreign arrays should appear as Ruby `Array`s and hence should also understand all other messages of [`Array`](https://doc

[2019-12-02 18:11] eregon commented on #1844
Agreed, this would make sense but will probably be quite some effort to make it work, especially considering `Array.public_instance_methods(false).size # => 104` and quite a few of these currently work on the internal Array representation directly.
Maybe we need a separate implementation of these methods for foreign arrays, which only support the array elements interop.

[2019-12-02 20:03] pitr-ch commented on #1816
fixed in 25b684ed274b904d1613c6334f97eaa0bec9e111

[2019-12-02 20:03] #1816 closed

[2019-12-02 22:06] deepj opened #1845 "File.fnmatch('/**/file0', '/', File::FNM_PATHNAME) causes ArrayIndexOutOfBoundsException"
To reproduce:

[code]

Error:

[code]

[2019-12-02 22:22] deepj commented on #1824
@eregon unfortunately, there is no such command on macOS. Any way, bundle install is significant slower with TruffleRuby 19.3.0 on my machine

[2019-12-03 03:03] deepj opened #1846 "bson _ext: error: invalid operands to binary expression ('long' and 'VALUE' (aka 'void *'))"
To reproduce:

[code]

Error:
[code]

[2019-12-03 08:17] eregon commented on #1824
What's the available memory in Activity Monitor then?

Maybe it's swapping memory, or do you mean something else?

[2019-12-08 15:03] deepj opened #1850 "rdiscount: `Integer': can't convert nil into Integer (TypeError)"
To reproduce:

[code]

Error:

[code]

[2019-12-08 18:53] shidel-dev commented on #1837
@eregon I am experimenting with things a bit, and when I try and compile without the switch statement, I run into a different error.

[code]

This does not occur when building with ruby 2.6.5

[2019-12-09 10:12] pitr-ch commented on #1592
I've reproduced it on macOS. I'll continue investigating when I am back from vacation.

[2019-12-09 10:41] pitr-ch commented on #1817
It turned out I was confusing this problem with something else that was hard to fix. I have a fix for this issue and it should be merged in few days.

[2019-12-09 10:43] fniephaus commented on #1817
Great, thanks!

[2019-12-09 11:12] aardvark179 commented on #1850
Is this on macOS? I've just tried locally on Linux and it installs fine on our current development version, I'll check on macOS and 19.3 later.

[2019-12-09 11:40] aardvark179 commented on #1846
This is a bug in `bson_ext`, in that they are declaring a variable as a `VALUE` when it should be a long, or an int, since that is what they are storing in it (after doing a `FIX2INT`. I'm not sure how willing they will be to fix this since they deprecated `bson_ext` in 2010.

[2019-12-09 13:40] deepj commented on #1850
Yes, I'm on macOS

[2019-12-09 19:34] pitr-ch commented on #1817
Fixed in 6c7d440d791597e4311a283c5f15b54446d41251

[2019-12-09 19:34] #1817 closed

[2019-12-10 18:38] ThomasKoppensteiner commented on #1398
Can someone please give an update on this issue?

[2019-12-10 20:56] chrisseaton commented on #1398
I can provide an update of how I see Bundler performance. For a production application at Shopify, `bundle install` takes 270s (wall-clock) on MRI, and 620s on TruffleRuby in the native configuration. That's 3x slower which is not great, I agree, but I don't see the prohibitive performance that we had in the past. And - more importantly for me - `bundle install` now works on far more gems. Do you

[2019-12-11 10:32] mtneug opened #1853 "Interop in native-image"
The documentation states that

Is this also true for cases like these:

[code]

This example is taken from the [embedding documentation](https://www.graalvm.org/docs/reference-manual/embed/). When I create a native-image running on macOS I get the following:

[code]

I'm wondering why this example does not work since I'm not dynamically loading Java classes from Ruby. Or is this happening under th

[2019-12-11 11:45] eregon commented on #1814
I implemented `rb_check_symbol_cstr` in 2aafcec9a83894d83100b202e358967be075c13c, it will be in the next release.

[2019-12-11 11:45] #1814 closed

[2019-12-11 15:41] larskanis commented on #1814
Thank you @eregon ! Good to know it's in ruby spec now.

[2019-12-11 19:57] bjfish commented on #1845
Thank you for the bug report. This is fixed at https://github.com/oracle/truffleruby/commit/af36a87c94f01852a7a2f53ff7430e1d91328a1a.

[2019-12-11 19:57] #1845 closed

[2019-12-11 20:57] eregon commented on #1853
That documentation is outdated, I'll update it.
Host (Java) interop works now with native images, but they need a reflection configuration file as documented.

To get that example working, you need to pass this reflection configuration file:
[code]
as mentioned in https://www.graalvm.org/docs/reference-manual/embed/#build-native-images-from-polyglot-applications under `Configuring Native Host Refl

[2019-12-12 12:01] mtneug commented on #1853
@eregon thank you! This works perfectly.

Should I leave this issue open until the documentation is updated?

[2019-12-12 17:08] eregon commented on #1846
What's the repository of `bson_ext`? Is it https://github.com/mongodb/bson-ruby ?

[2019-12-12 18:30] eregon commented on #1853
Yes, I'll update the documentation.

[2019-12-12 20:37] bjfish commented on #1821
Thanks for the bug report @deepj . This has been resolved at https://github.com/oracle/truffleruby/commit/192c776d1160343f8757bfbb8fe05dcc73c56678.

[2019-12-12 20:37] #1821 closed

[2019-12-13 06:35] deepj commented on #1846
@eregon yes, it's in https://github.com/mongodb/bson-ruby/tree/master/ext/bson

[2019-12-13 08:21] mojavelinux commented on #1398
The 3x slower number is not universal. The dependencies for the Asciidoctor gem take considerably longer to install. 13s for CRuby vs ~300s for TruffleRuby. You can track the difference in this CI job: https://travis-ci.org/asciidoctor/asciidoctor/jobs/623359268

[2019-12-13 12:45] #1853 closed

[2019-12-13 13:06] eregon commented on #1853
Fixed in 927e1dc88bc018afde97e5f153e0ee02c1bb0300.
Thank you for the issue, I hope it's clearer now.

[2019-12-14 10:30] Mogztter opened #1857 "rb_gc_register_mark_object not implemented in json 2.3.0"
We are using the `json` gem in Asciidoctor and the following error is thrown when running the test suite (with coverage):

[code]

[code]

https://travis-ci.org/asciidoctor/asciidoctor/jobs/624746943?utm_medium=notification&utm_source=github_status

Please note that we cannot reproduce this issue with json 2.2.0.
The `rb_gc_register_mark_object` calls were indeed added in json 2.3.0:

https://gith

[2019-12-14 11:45] eregon commented on #1671
FWIW, I think it's clear now that RubyVM::AbstractSyntaxTree is not a stable API (the Ruby core team agrees). There needs to be improvements there to make it a stable API.

It doesn't mean we can't implement it in TruffleRuby, but it seems extremely difficult to use in a way that won't break in future Ruby releases.
Being under RubyVM is also quite confusing as RubyVM is expected to be only define

[2019-12-14 11:45] #1671 closed

[2019-12-14 12:00] eregon commented on #1857
Thank you for the report, and sorry that it broke in your CI.

JSON 2.3.0 was released a few days ago (https://rubygems.org/gems/json) with those `rb_gc_register_mark_object` calls.

#1856 is a PR by @chrisseaton to fix this.

For the 19.3.0 TruffleRuby release I can advice to use the `json` bundled in the standard library, or to use json 2.2.0 as a workaround.

To avoid this in the future I'll tr

[2019-12-14 12:09] eregon commented on #1857
This seems related to @tenderlove changes in https://github.com/ruby/ruby/commit/79ead821dd4880725c9c6bb9645b3fad71715c5b and https://github.com/ruby/ruby/commit/91793b8967e0531bd1159a8ff0cc7e50739c7620

So this seems indeed needed for `GC.compact` in MRI.

This is a fairly different use than what the documentation states:
https://github.com/ruby/ruby/blob/master/doc/extension.rdoc#defining-global

[2019-12-14 13:10] Mogztter commented on #1857
@eregon I was looking for an issue on GitHub so I missed the related pull request. Anyway thanks for the pointer!
I'm glad this issue is already worked one :rocket:

[2019-12-15 10:18] eregon commented on #1819
I switched to using `.bundle` (instead of `.dylib` before) for C extensions on Darwin, like MRI: 783d5295838cb9b5c129a33a7e1a5cff2df3f7df.
This should solve this issue and it will be in the next release.

I also merged a fix in `sassc` that works on the current release, however that needs a new release of `sassc`.

[2019-12-15 10:18] #1819 closed

[2019-12-15 10:21] eregon commented on #1837
I switched to using `.bundle` (instead of `.dylib` before) for C extensions on Darwin, like MRI: 783d5295838cb9b5c129a33a7e1a5cff2df3f7df.
So at least the extension file should be found on macOS too now.

We still need to find a way to avoid using extensions precompiled for MRI and instead always compile from source. cc @chrisseaton

[2019-12-16 11:09] norswap commented on #1517
Fixed by ba88208436aac349a1c1655e52570e3b115ba017

[2019-12-16 11:12] #1517 closed

[2019-12-16 12:51] norswap commented on #1519
fixed by 6ec3567b4ee3e648858dd72cbedb5e6c69c5625c

[2019-12-16 12:51] #1519 closed

[2019-12-16 16:28] deepj opened #1858 "Enumerator::Chain.new(1..3, [4, 5]) causes TypeError"
This is a direct example from Ruby 2.6 documentation to `Enumerator::Chain` (https://ruby-doc.org/core-2.6/Enumerator/Chain.html). There is no issue under MRI.

To reproduce:

[code]

Error:

[code]

[2019-12-16 21:51] ThomasKoppensteiner commented on #1398
I'm also using Travis-CI for testing. Without caching `bundle install --jobs=3 --retry=3` takes for
[code]

TruffleRuby is in this case at least 10x slower than other ruby versions.

CI job: https://travis-ci.org/ThomasKoppensteiner/sidekiq-undertaker/builds/625889922

@mojavelinux 13s sounds fast for me. Did you enable [caching](https://docs.travis-ci.com/user/caching/#bundler)?

[2019-12-16 22:30] eregon commented on #1746
@chrisseaton Is this fixed with https://github.com/oracle/truffleruby/pull/1782 ?

[2019-12-16 22:36] chrisseaton commented on #1746
Yes.

There's some weird GitHub or browser bug going on here which caused me to mention #1749 instead.

![ezgif-1-3fd122adde1f](https://user-images.githubusercontent.com/341094/70948862-51352300-2054-11ea-9a6d-3311aa065b78.gif)

[2019-12-16 22:40] eregon commented on #1634
`pg` no longer seems to use `rb_fd_init` so I'll close this issue.
Also, TruffleRuby is now tested in pg's TravisCI.

[2019-12-16 22:40] #1634 closed

[2019-12-16 22:41] eregon commented on #1822
We should try to solve this soon as it fails in pg's CI, for instance:
https://travis-ci.org/ged/ruby-pg/jobs/625409241

[2019-12-16 22:50] bjfish commented on #1826
Thanks. This is now fixed at https://github.com/oracle/truffleruby/commit/53b07fd23fb6b207d0c012563df5a57f850881d4

[2019-12-16 22:50] #1826 closed

[2019-12-16 22:54] eregon commented on #1398
Thanks for the extra data points, we definitely want to improve the situation there.

It seems the relative slowdown varies a lot depending on the number of gems using C extensions.
Gems with C extensions seem to install roughly as fast on TruffleRuby as most of the time is spent compiling the C extension. On the other hand we still seem to be much slower for installing pure-Ruby gems, and for fet

[2019-12-16 22:57] #1746 closed

[2019-12-17 06:26] deepj opened #1859 "Enumerator#+ is not supported"
Available since Ruby 2.6 (https://ruby-doc.org/core-2.6/Enumerator.html#method-i-2B)

To reproduce

[code]

Error:

[code]

[2019-12-17 09:13] eregon commented on #1857
https://github.com/oracle/truffleruby/pull/1856 got merged, it will be in the next release.

[2019-12-17 20:45] tenderlove commented on #1857
@eregon I'm not sure what to say that will better document it.  The problem is that JSON was stashing Ruby objects in static variables.  Those objects could get collected, so they may indeed "not be referenced anywhere".

For example:

## Library code

[code]

[code]

## User Code

[code]

[2019-12-17 20:48] chrisseaton commented on #1857
Why do you want to protect the object, rather than the variable, though? In other words, why `rb_gc_register_mark_object` and not `rb_global_variable`? Doesn't `rb_gc_register_mark_object` mean that the object could not be referenceable by any code, but still kept alive?

(It's not a problem for TruffleRuby, and I've implemented `rb_gc_register_mark_object` now, but just wondering about the intent

[2019-12-18 09:22] eregon commented on #1857
@tenderlove Thanks for the explanation. From the commit message of https://github.com/ruby/ruby/commit/79ead821dd4880725c9c6bb9645b3fad71715c5b :

I thought that meant `rb_gc_register_mark_object` is a way to pin objects so they are not moved by `GC.compact`.

Indeed, `remove_const` would be a way to have C pointing to GC'd objects.

[2019-12-18 17:40] tenderlove commented on #1857
We could use either.  I've seen both used to mark C statics in the wild, so I made the GC prevent objects marked with either of those functions from moving.  I think you're right, we probably want to use `rb_global_variable` since I guess the value could change (though in this case it doesn't).

Yes, it's a side-effect of the function.  Since the GC can't update `static` variables, and `rb_gc_regi

[2019-12-18 19:55] simonmd opened #1861 "gem 'debase' fails to compile with "fatal error: 'vm_core.h' file not found""
Gem '[debase](https://github.com/denofevil/debase)'  fails to compile with:

[code]

[2019-12-18 20:00] bjfish commented on #1741
This is now implemented at eca449347e2e011bd36565be01a81d6d86a69fed.

[2019-12-18 20:00] #1741 closed

[2019-12-18 21:59] bjfish commented on #1711
Thanks. This has been resolved at ac2440e4e705f9d4668ce03025489bf3b978997f.

[2019-12-18 21:59] #1711 closed

[2019-12-19 14:48] petenorth commented on #1836
Duplicate of #1398

[2019-12-19 14:49] petenorth commented on #1836
Duplicate of #1398

[2019-12-19 14:49] #1836 closed

[2019-12-19 18:29] bjfish commented on #1555
This appears to work now on current master. I compared the results above between MRI 2.6.5 and TruffleRuby.

[2019-12-19 18:29] #1555 closed

[2019-12-20 04:43] shidel-dev commented on #1837
i'll have another stab at this when the next release is cut.

[2019-12-20 10:33] eregon commented on #1836
@petenorth Thank for filing the issue, I missed this one.

FWIW, we also have a flamegraph visualization of this output, using `jt profile`. We plan to improve that to include `Opt %` and other metadata in it.

If `Self Time` is large and `Opt %` low then indeed it's likely we spend too much time in interpreter and that method should be compiled. The fact that it is not compiled might be caused by

[2019-12-20 14:25] eregon commented on #1747
Relates to https://github.com/oracle/truffleruby/issues/1585

[2019-12-20 14:30] eregon commented on #1712
I forgot to update this issue:
A workaround was merged in `temple` in https://github.com/judofyr/temple/pull/127 by @k0kubun, thanks!
Therefore Haml works in TruffleRuby >= 19.3.0.

It's not ideal yet for performance though (#1747).

[2019-12-20 14:30] #1712 closed

[2019-12-20 14:35] eregon commented on #1585
An idea to get Ripper support and not have to maintain a lot of code would be to reuse the Ripper C extension from MRI sources.
@chrisseaton started a branch with that: https://github.com/Shopify/truffleruby/commits/ripper
It does not compile yet though.

Tracked internally as GR-20329.

[2019-12-20 16:04] eregon commented on #1857
This will be in the 19.3.1 release, [scheduled](https://www.graalvm.org/docs/release-notes/version-roadmap/) for January 14.
Considering that, I think we can wait for that and don't need a workaround in JSON for now.

[2019-12-20 16:04] #1857 closed

[2019-12-20 18:43] bjfish commented on #1663
Thanks @deepj , this is fixed at 96e245251063405c35b277783dc28897023e8d09.

[2019-12-20 18:43] #1663 closed

[2019-12-20 21:49] bjfish commented on #1570
I just tried `ruby -e 'require "json";JSON.parse("{")'` and this still appears to be an issue.

[2019-12-20 21:49] chrisseaton commented on #1585
My approach is to copy across ripper as a C extension, and then copy across supporting parts of MRI as needed, hacking it around to work in TruffleRuby, and that's sort of where I left it.

[2019-12-21 10:42] eregon commented on #1570
This is an issue of the pure-Ruby implementation of JSON, it also happens on MRI with `json/pure`:
[code]

@deepj or @bjfish could you report the bug to https://github.com/flori/json ?

[2019-12-21 15:08] bjfish commented on #1570
@eregon I've reported the issue here: https://github.com/flori/json/issues/394

[2019-12-23 17:38] bjfish commented on #1850
I currently get the error `dyld: Library not loaded: libpolyglot-mock.dylib` when trying to install using master.

[2019-12-23 19:22] bjfish commented on #1859
Thanks, this is fixed at: 3b756ceddba635edb4a5673ab999a26f427074de.

[2019-12-23 19:22] #1859 closed

[2019-12-23 19:23] bjfish commented on #1858
Thanks, this is fixed at: 3b756ceddba635edb4a5673ab999a26f427074de.

[2019-12-23 19:23] #1858 closed

[2019-12-23 21:07] bjfish commented on #1833
I've tracked this down to this `monitor.closed?` which hangs and never calls the underlying C extension method: https://github.com/celluloid/celluloid-io/blob/49c1021b435073cd7bc9a394658d273488f4105e/lib/celluloid/io/reactor.rb#L52

I would suspect an issue relating to the mutex here:
https://github.com/oracle/truffleruby/blob/3b756ceddba635edb4a5673ab999a26f427074de/lib/truffle/truffle/cext_ruby.

[2019-12-23 21:31] fniephaus opened #1864 "[interop] invokeMember should throw ArityException, not ArgumentError"
`invokeMember` should throw an [`ArityException`](https://github.com/oracle/graal/blob/da471b0bb5616db29a99d64c94731d768bae14f3/truffle/src/com.oracle.truffle.api.interop/src/com/oracle/truffle/api/interop/ArityException.java#L51) in case the number of arguments is incorrect. At the moment, it throws a TruffleRuby-internal `ArgumentError` instead.

[code]

[2019-12-24 09:52] eregon commented on #1833
@bjfish Interesting, could you show a Java thread dump (from Ctrl+\) or Ruby thread dump (send SIGALRM to the process) when that happens?
Probably something else is keeping the C-ext lock and never releasing it.

[2019-12-24 10:03] eregon commented on #1864
This is going to be a little bit tricky because the arity check must happen inside the method per Ruby semantics. So we'll have to translate ArgumentError to ArityException, but ideally only for "wrong number of arguments" ArgumentErrors, because the user could just `raise ArgumentError, "message"` which probably shouldn't become ArityException.

Translate ArgumentError to ArityException would be

[2019-12-24 18:35] bjfish commented on #1833
@eregon
Java thread dump:
https://gist.github.com/bjfish/ab5b30e7a29c009d46a5db0d889d9df1
Ruby thread dump:
https://gist.github.com/bjfish/8d4f1441f561038cef02c8fed9da876d

[2019-12-26 12:45] norswap commented on #1838
Fixed by d0f07eca6e0

[2019-12-26 12:45] #1838 closed

[2019-12-27 11:18] eregon commented on #1833
OK that shows:
[code]
is waiting for the C-ext lock, but this fiber:
[code]
holds the C-ext locks and is waiting for the next Fiber#resume.

We need to figure out why it's still holding the C-ext lock (is there some C-ext code ending up in `Fiber.yield`?) and if it should have released it before.
If it's actually a C-ext calling (can be indirectly) `Fiber.yield` then we need to figure where is a g

[2020-01-01 21:07] chrisseaton opened #1878 "If the context cannot be patched we search for home twice"
In `RubyContext#patch` and then in `RubyContext#<init>`.

The reason this is an issue is that warnings about the home get printed twice.

[code]

[2020-01-03 11:52] eregon commented on #1878
Right, I'm not sure what's a good way to avoid the warnings twice.
I would kind of expect them twice, since it's searched twice in two different RubyContext instances.

Is `--no-home-provided` a good enough workaround for these warnings?

[2020-01-03 13:29] chrisseaton commented on #1878
The fact that home can't be found is a bug in this case (the one I mentioned on Slack), so the warnings are correct and I don't want to work around them.

[2020-01-03 18:53] bjfish commented on #1660
@deepj This is fixed at 6c34ed26d522bbfc47e4fc99963adc57ae9c362f. Thanks!

[2020-01-03 18:53] #1660 closed

[2020-01-03 22:38] bjfish commented on #1532
This is now implemented at 4a944fc12b78a91a9d784697e11be011d2e85e50.

[2020-01-03 22:38] #1532 closed

[2020-01-06 21:18] eregon opened #1880 "Latest Bundler (2.1.4) fails to install on TruffleRuby"
Using < /dev/null to simulate non-interactive shell:
[code]

Also seen when running `gem install bundler` in GitHub Actions.

When run with an interactive shell it asks:
[code]

On MRI, it installs without asking anything:
[code]

I think this is because our `bin/bundle` is not the traditional RubyGems stub but something else.
We should do the same as MRI here most likely.

[2020-01-06 21:25] bjfish commented on #1880
@eregon FWIW: I was able to `gem update bundler` with native, I have a GEM_HOME set, and using rbenv.

[2020-01-06 22:48] eregon commented on #1880
Setting `GEM_HOME` seems indeed to workaround the problem, since then the executable ends up in `$GEM_HOME/bin/bundle`:
[code]

[2020-01-07 22:38] fniephaus opened #1881 "[interop] Foreign objects have no `object_id` and `__id__`"
Ruby objects are supposed to implement [`object_id`](https://ruby-doc.org/core-2.7.0/Object.html#method-i-object_id) (as well as `__id__`), but this does not seem to be the case with foreign objects. Consequently, a `NoMethodError` is thrown when the user tries to print a foreign object. I suggest to implement both using `Object#hashCode` for now.

#### Repro session
[code]

/cc @chumer, @janehmue

[2020-01-08 09:35] pitr-ch commented on #1881
Currently, the foreign object is intended to only have the polyglot API, it is truly foreign it is not required to have any of the Ruby standard methods. However, we are thinking about making it more user friendly.

[2020-01-08 09:42] eregon commented on #1881
At least `puts Polyglot.eval('js', '[]')` (or for any foreign object) should work. I'm not sure why it calls `object_id`, that sounds like a bug.

[2020-01-08 09:44] eregon commented on #1881
i.e., it should end up in `Truffle::Interop.foreign_to_s` which would then call `foreign_inspect`, which does not call `object_id`.

[2020-01-08 10:54] fniephaus commented on #1881
That'd be great. AFAIK, foreign objects should at least implement the object API of the corresponding language. Otherwise, users will have a hard time doing anything reasonable with them.

[2020-01-08 14:48] eregon commented on #1749
We updated to Ruby 2.6.5 in https://github.com/oracle/truffleruby/commit/9b8b8579e86673b5d3e62e08836ee71ebca21af5 and restored the RDoc template files.

[2020-01-08 14:48] #1749 closed

[2020-01-08 20:06] bjfish commented on #1880
It appears this section detects the existing stub and early returns:
https://github.com/ruby/ruby/blob/ruby_2_6/lib/rubygems/installer.rb#L231-L241
It is able to get the name from this section:
https://github.com/ruby/ruby/blob/650c45dcd70e791747c4b9084c100cb895e718cb/bin/bundle#L22-L27

[2020-01-08 21:00] eregon commented on #1880
Indeed, that seems likely to be the logic causing this.
Currently we don't match that Regexp:
https://github.com/oracle/truffleruby/blob/687277be74e391502cafc4d61ef2712a9399f9f4/bin/bundle

MRI seems to have the non-stub `bundle` executable under `libexec`:
https://github.com/ruby/ruby/blob/v2_6_5/libexec/bundle

[2020-01-11 13:02] eregon commented on #1846
@aardvark179 That seems recently maintained then, could you make a PR to `bson_ext`?

[2020-01-11 13:28] eregon commented on #1846
Ah I think I got what @aardvark179 meant, `bson` is maintained and `bson_ext` is deprecated.

`bson_ext` has [no release since 2015](https://rubygems.org/gems/bson_ext) and was deprecated so it's very unlikely they will do one again, since the extension is now part of the main `bson` gem.

[code]

works with TruffleRuby 19.3.0.

I'll close this issue as we can't fix old deprecated gems.
There are

[2020-01-11 13:28] #1846 closed

[2020-01-14 10:52] pitr-ch commented on #1881
I've found the cause and fixed `puts Polyglot.eval('js', '[]')` case.

[2020-01-14 11:00] fniephaus commented on #1881
@pitr-ch great! I'd be interested to see the patch :)

[2020-01-15 14:26] thbar commented on #1830
@CorbanR thanks for sharing this! I had to also use the `export PKG_CONFIG_PATH` incantation like you did. Otherwise I saw `Recompiling the OpenSSL C extension (against the installed libssl)` in the early logs, then the failure mentioned in this issue.

I wonder if it would be relevant, if the default libssl is used, to issue a warning with those guidelines somewhere in the logs? In all cases, tha

[2020-01-15 15:08] eregon commented on #1830
In the future we are thinking to ship openssl with TruffleRuby, since it's so complicated to install and find a decent OpenSSL on macOS.

@thbar To help finding out the issue, could you show some of your configuration?
In your case what does `brew --prefix openssl` return?
Do you have both openssl@1.0 and openssl@1.1 installed?
Which pkg-config is it, `which pkg-config` ?

I would guess this line

[2020-01-15 15:35] thbar commented on #1830
On the other hand, while complicated, I appreciate that I can apply OpenSSL security fixes on my end (at the cost of reinstalling TruffleRuby), too!

Now to your questions.

`brew --prefix openssl` gives `/usr/local/opt/openssl@1.1`.

On the versions, it's a bit complicated and I could not fully investigate yet :
- `brew info openssl@1.1` shows it's installed under `/usr/local/opt/openssl@1.1`.
-

[2020-01-16 13:03] eregon commented on #1880
Fixed in 49f199abd48fbc51f26e0af8f38933c3c8ff67c3 by @bjfish, it will be in the next release.

[2020-01-16 13:03] #1880 closed

[2020-01-16 14:00] eregon commented on #1837
OK, I also see these duplicate symbols, which is also reported as #1879.

[2020-01-16 15:04] eregon commented on #1837
These duplicate symbol warnings seem to be caused by `-std=gnu90` in
https://github.com/protocolbuffers/protobuf/blob/f4b6e4a561480fa6727e9d9a4537c404c23ff5f6/ruby/ext/google/protobuf_c/extconf.rb#L6
which apparently [inverts](https://en.wikipedia.org/wiki/Inline_function#gnu89) the meaning of `inline` and `extern inline`.

Removing `-std=gnu90` lets it link, but the real fix is to annotate our "i

[2020-01-16 16:03] eregon commented on #1837
I have a proper fix for linking, now with changing the `switch` to `if/else`, the gem compiles and `require` succeeds. Tests don't pass yet.

[2020-01-16 20:06] rafaelfranca commented on #1837
This issue is related https://github.com/rubygems/rubygems/issues/2945

[2020-01-20 13:36] jaime-rave-conichi opened #1882 "Unable to install rmagick 4.0.0 with TruffleRuby 19.3.1"
I'm trying to install rmagick but I'm getting the following error:

`rmstruct.c:865:12: error: called object type 'VALUE' (aka 'void *') is not a function or function pointer
    return rb_funcall(Class_TypeMetric, rm_ID_new, 9`

It works fine with MRI 2.6.5. I'm attaching the logs.

The source code can be found here: https://github.com/rmagick/rmagick

[logs.txt](https://github.com/oracle/truffle

[2020-01-20 15:09] eregon commented on #1882
Thanks for reporting the issue.
From a quick look this is caused by RMagic passing 9 arguments to `rb_funcall`, which is more than we ever found so far. The fix should be easy.

[2020-01-20 15:17] eregon commented on #1882
Note: we should probably add a C-API spec to test it and ensures it works for let's say 15 arguments.

[2020-01-20 16:09] jaimerave opened #1883 "Rubocop fails to parse files in TruffleRuby 19.3.1"
When I run rubocop 0.79.0 this is the error I'm getting

[code]

The file I'm trying to check is this:

[code]

It works fine in MRI 2.6.5. The source code of rubocop is in https://github.com/rubocop-hq/rubocop

[2020-01-20 16:51] jaimerave opened #1884 "Unable to install rbtree3 0.5.0 with TruffleRuby 19.3.1"
When trying to install rbtree3 ([https://github.com/kyrylo/rbtree3](https://github.com/kyrylo/rbtree3)) I get the following error:

[code]
Works fine in MRI 2.6.5

[2020-01-20 16:57] eregon commented on #1884
Thank you for reporting the issue.
The problem here is that we need to implement `RB_FL_UNSET_RAW`.

[2020-01-20 18:52] aardvark179 commented on #1882
@jaime-rave-conichi I have a fix for the problem you have reported, but you may still find issues on some systems. If ImageMagick has been built with OpenMP support then the compiler will be configured to add `-fopenmp` to the compiler flags, which the version of the LLVM tool chain we currently bundle does not support it at this time.

[2020-01-20 19:33] jaimerave commented on #1882
@aardvark179 awesome news! I'm currently not compiling with OpenMP so that's not a problem. Thanks a lot for your quick response.

[2020-01-21 12:16] aardvark179 commented on #1884
We need more than just to implement `RB_FL_UNSET_RAW` for the gem to work correctly. We would also need to implement the `FL_USER` flags used by this gem as much of the logic appears to be based on setting and testing those.

[2020-01-21 14:17] norswap commented on #1606
Fixed by https://github.com/oracle/truffleruby/commit/c4ee0e28b4323c6fb176d0d1d852b8c545f9a2a7

[2020-01-21 14:17] #1606 closed

[2020-01-21 16:59] eregon commented on #1884
`FL_USER` flags are just information private to that gem though, isn't it?
I.e., we need to be able to read/write flags, but other than that the gem itself defines the semantics of those flags.

[2020-01-21 18:09] chrisseaton opened #1888 "IO.popen specs still hang for me"
I had to revert 7bf5b3c1627dfb2bc1285a95f2dc28dbb59b5f58 as these specs hang for me every time in my CI, on Linux and macOS, in native configuration running from a binary tarball. I don't have any more information about why that might be.

[2020-01-23 15:49] chrisseaton opened #1890 "Instrument `onReturnX` being called but not `onEnter`"
I've pushed one commit on top of the Thermometer branch.

https://github.com/Shopify/graal/tree/thermometer-restore

The thermometer sets a flag in `onEnter`. I was trying to do something where I would save the old value and restore it on `onReturnX`.

https://github.com/Shopify/graal/blob/thermometer-restore/tools/src/com.oracle.truffle.tools.thermometer/src/com/oracle/truffle/tools/thermometer/T

[2020-01-23 17:01] eregon commented on #1830
@thbar Thank you for providing this data.
`/usr/local/opt/openssl -> ../Cellar/openssl/1.0.2s` might be part of the issue in this case.
We'll specifically look for `openssl@1.1` to avoid that, and hope Homebrew doesn't remove that package anytime soon (they did for `llvm@4` :/).
OpenSSL 1.0.2 should also work but probably it results in a mix in your case, and anyway 1.0.2 is end-of-life now so it

[2020-01-23 21:19] deepj opened #1891 "numo-narray: error: no member named 'flags' in 'struct RBasic'"
To reproduce:

[code]

Error:

[code]

[2020-01-24 05:09] bjfish commented on #1883
Here is a minimal reproduction:
[code]
results in `true`, expected to be `false`.

[2020-01-24 11:28] eregon commented on #1891
It comes from https://github.com/ruby-numo/numo-narray/blob/50dee41baedb73f2a37927bc4d2b11591eb80d32/ext/numo/narray/narray.c#L948-L949
[code]
I think it's kind of deprecated to `RBASIC()` and access `->flags` directly.
One could do instead:
[code]
That is completely equivalent (exact same on MRI) but avoids digging in the internals of RBasic, which might change per implementation. It would also w

[2020-01-29 16:40] bjfish commented on #1883
This is now fixed at https://github.com/oracle/truffleruby/commit/3d7e9628e324f8991b6f1728fc268d5dc80bdc03.

[2020-01-29 16:40] #1883 closed

[2020-01-29 18:15] eregon commented on #1830
This should be fixed with 2706c09e57c4c27fb6177a9e420a87c0befb9e70 which automatically sets `PKG_CONFIG_PATH` on macOS. It will be in the upcoming 20.0 release.

[2020-01-29 18:15] #1830 closed

[2020-01-30 10:34] ioquatix opened #1892 "I think `Process.spawn(..., 3 => io)` is broken in TruffleRuby."
e.g. on 19.3.0

[code]

The option handling seems a bit messed up.

[2020-01-30 10:53] eregon commented on #1892
That's an interesting behavior.
The source of difference here is that this options are no keyword arguments in the Ruby <= 2.6 sense because it contains non-Symbol keys.

So this works (both MRI and TruffleRuby):
[code]

In fact, the case with `**options` also fails on MRI 2.6.5:
[code]

[2020-01-30 10:56] eregon commented on #1892
On MRI 2.7.0 it works because keyword arguments hashes accept any key. But in 2.6.5 in before, they only accept Symbol keys. So the problem is `**options` itself raises:
[code]

[code]

[2020-01-30 10:59] eregon commented on #1892
TruffleRuby behaves like MRi 2.6.5 here as far as I can see, so I'll close this issue.
Thank you for reporting it though and digging into what goes wrong.

[2020-01-30 10:59] #1892 closed

[2020-01-30 11:16] eregon commented on #1822
This is fixed with 9a22abd0844caae6ce1329dd39c08707235c96ba and 1bf2f6ac641454dae8498adb49bae15dc6b804db, by always returning a native pointer for `RSTRING_PTR`. It will be in the 20.0 release. Thank you for the bug report!

[2020-01-30 11:16] #1822 closed

[2020-01-30 11:16] eregon commented on #1772
This is fixed with 9a22abd0844caae6ce1329dd39c08707235c96ba and 1bf2f6ac641454dae8498adb49bae15dc6b804db, by always returning a native pointer for `RSTRING_PTR`. It will be in the 20.0 release. Thank you for the bug report!

[2020-01-30 11:16] #1772 closed

[2020-01-30 11:22] eregon commented on #1697
This should no longer be an issue as `rubygems-bundler` (the gem that RVM was automatically installing and causing this issue by modifying TruffleRuby launchers) is no longer installed by default for TruffleRuby: https://github.com/rvm/rvm/pull/4766
So I'll close this as I believe it's fixed.
We can reopen if it's found problematic again, or if someone intentionally wants to use the RVM `rubygems-

[2020-01-30 11:22] #1697 closed

[2020-01-30 12:24] ioquatix commented on #1892
Thanks for your help.

[2020-01-30 13:26] eregon commented on #1398
An update for this:
I optimized `bundle install` on a small Gemfile with Gemfile.lock to take 19s instead of 84s previously in 50a76f32b8187207625e0e6014816e97eafd0c17, that's a nice 4.42x speedup.

Many optimizations there, including optimizing `RSTRING_PTR()` accesses, using Mode=latency to make better use of compilation for this kind of workload and tweaking the GC heap size with Native Image.

[2020-01-30 17:44] chrisseaton commented on #1398
Thanks for this important work, @eregon. This halves time to `bundle install` a major production application at Shopify.

You can see in this trace (blue is before, green is after) that we're compiling more methods more quickly now, with fewer cancelled methods. More methods compiled may be due to more deoptimisations. Less methods are cancelled, and we do now manage to drain the compilation queue

[2020-01-30 18:09] eregon commented on #1398
That's a great view, thanks for sharing.

Re methodology I mostly used `jt profile` on native image builds, which produces a flamegraph.
I used @aardvark179's work in progress for a flamegraph also showing an histogram and with coloring to identity Ruby/C methods and compiled/interpreted methods.
Then I basically looked at the top self times in that histogram and figured what I could do to speed t

[2020-02-01 11:29] eregon commented on #1837
Not reusing MRI-precompiled gems on TruffleRuby is fixed with https://github.com/oracle/truffleruby/commit/6da9d7c2acf4adcd6bda5c49c2a76027ed02feb6.

`switch (VALUE)` is not specific to this issue but a docuemented incompatibility which we plan to try to fix soon, so I'd like to close this issue.

[2020-02-01 11:29] #1837 closed

[2020-02-01 11:32] eregon commented on #1723
Fixed in chruby in https://github.com/postmodern/chruby/pull/419 but there is not yet a release a chruby containing the fix (cc @postmodern).

[2020-02-01 11:41] eregon commented on #1576
With https://github.com/rvm/rvm/pull/4766 only 2 gems are installed by RVM for TruffleRuby, so I think this is no longer much of an issue.

If somebody is looking for a faster setup of TruffleRuby in CI  in < 5 seconds (notably skipping the recompilation of OpenSSL), please take a look at https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md#testing-truffleruby-in-g

[2020-02-01 11:41] #1576 closed

[2020-02-01 12:59] petenorth commented on #1398
@chrisseaton did you see the halving of the `bundle install` times after merging @eregon changes i.e. `RSTRING_PTR()` optimizations _and_ `--engine.Mode=latency` or just by updating the bundle executable to run with the `--engine.Mode=latency` ?

The reason I ask is that on 19.3.0.2 simply by updating the `/opt/graalvm-ce-java8-19.3.0.2/bin/bundle` to run as

    exec "$(dirname $SELF_PATH)/ruby"

[2020-02-01 13:02] chrisseaton commented on #1398
My result is from merging with master a couple of days ago, so the latency mode and string pointer changes.

[2020-02-01 15:15] eregon commented on #1398
@petenorth the optimization/bug fix for `RSTRING_PTR()` will be in 20.0, however `--engine.Mode=latency` and other optimizations will not because the feature freeze for 20.0 was already some time ago and those optimizations do not fix compatibility bugs. We're getting very close to providing nightly builds which should make it easy to try the latest changes (#1483).

[2020-02-01 15:38] petenorth commented on #1398
@eregon OK, I can easily add them to 20.0 locally once released and then see how

19.3.0.2
20.0
20.0 + latency mode latency and heap size

compare `bundle install` wise .

[2020-02-01 21:56] XrXr commented on #1891
Since the C code is interpreted, could it theoretically detect stores to the `flags` field of `struct RBasic` and act accordingly?

[2020-02-01 23:52] eregon commented on #1891
@XrXr Yes, that would work as long as the `struct RBasic` is not stored in native memory (including the stack). It shouldn't be too hard, we have similar things for `rb_encoding_t`, `RDATA`, etc in https://github.com/oracle/truffleruby/blob/master/lib/truffle/truffle/cext.rb.

In this case I was suggesting to update the code upstream because I don't think there is any reason to not use the macro.

[2020-02-02 14:02] petenorth commented on #1398
Do you mean 20.1 for both as per the change log ?

[2020-02-02 15:37] deepj commented on #1891
@eregon So what? I already have a time on this. Would I submit PR (I'm not familiar to C though) or is it better having the implementation of `(RBasic*)->flags`?

[2020-02-02 17:50] eregon commented on #1398
@petenorth The RSTRING_PTR() optimization/bug fix was backported to the 20.0 release branch. The rest not as it's too big/risky to backport.

[2020-02-02 17:52] eregon commented on #1891
What do you mean?

I think both can be done, but the fix to implement `(RBasic*)->flags` is more general, so we should do that.

[2020-02-03 09:09] pitr-ch commented on #1881
Fixed in https://github.com/oracle/truffleruby/commit/6778db38d249688a06f6462459e6dbfe2b54c35e. The object_id is added as well.

[2020-02-03 09:09] #1881 closed

[2020-02-03 09:42] fniephaus commented on #1881
Great, thanks!

[2020-02-03 15:49] #1882 closed

[2020-02-04 10:40] eregon commented on #1483
There are now nightly builds of TruffleRuby and of GraalVM at
https://github.com/graalvm/graalvm-ce-dev-builds/releases

The TruffleRuby standalone are the files:
* truffleruby-20.1.0-dev-linux-amd64.tar.gz
* truffleruby-20.1.0-dev-macos-amd64.tar.gz

Those builds have passed the GraalVM CI and so should work relatively well.

Currently there is not yet a way to automatically find the latest build

[2020-02-04 10:47] chrisseaton commented on #1483
Thanks for this work!

Could you try to make a habit of updating it for example at least every Monday morning?

[2020-02-04 11:30] eregon commented on #1483
Internal issues to track the two shortcomings mentioned above: GR-13460 and GR-21069.

I'll try to update it more often and report how it goes. We'll want to automate this though because it's not fun to wait for the entire GraalVM CI.

[2020-02-04 12:02] deepj commented on #1483
@eregon it is possible not to set the releases as `pre-release`? Then `https://github.com/graalvm/graalvm-ce-dev-builds/releases/latest/download/truffleruby-20.1.0-dev-macos-amd64.tar.gz` doesn't work.

BTW: this works https://github.com/oracle/truffleruby/releases/latest/download/truffleruby-19.3.1-macos-amd64.tar.gz because it's not marked like `pre-release`

[2020-02-04 12:07] eregon commented on #1483
@soufianenassih did most of this work actually, thanks goes to him.

[2020-02-04 12:15] eregon commented on #1483
@deepj Interesting, I tried something like that in the past by replacing the tag name with `latest` (https://github.com/oracle/truffleruby/releases/download/latest/truffleruby-19.3.1-linux-amd64.tar.gz) but that doesn't work, it needs to be in the order you show (releases/latest/download). Is that documented anywhere?

Builds at https://github.com/graalvm/graalvm-ce-dev-builds/releases are not ful

[2020-02-04 12:17] deepj commented on #1483
@eregon It's mentioned here https://help.github.com/en/github/administering-a-repository/linking-to-releases#linking-to-the-latest-release

[2020-02-04 16:33] deepj commented on #1725
Still reproducible in `truffleruby 20.1.0-dev-a575d7bc, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`

[2020-02-04 16:35] deepj commented on #1619
@eregon I haven't seen this for a while

[2020-02-04 16:41] eregon commented on #1619
I think @norswap fixed this (`Kernel#caller_locations(Range)`), let's close it.

[2020-02-04 16:41] #1619 closed

[2020-02-04 16:47] deepj commented on #1824
@eregon I tried `truffleruby 20.1.0-dev-a575d7bc, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`

And I got it again:

[code]

This happens mostly when there is 150+ gems to be installed and all it's installed from the scratch

[2020-02-04 17:08] eregon commented on #1824
@deepj Could you run with `--vm.XX:+PrintGCSummary`, for instance:
[code]

That should show the heap sizes chosen by Native Image.

[2020-02-04 17:11] petenorth opened #1893 "bundle install can consume too much memory"
**TruffleRuby 20.1.0-dev-20200204_0342**

The files in the repo

https://github.com/petenorth/bundle-install-memory.git

attempt to install the rails gem into an image. In a memory constrained system
it falls over. Memory can be constrained either via the Docker desktop preferences or via the a flag `--memory=4g` .

The test case is

    docker build -f Dockerfile-graalvm -t graalvm:latest .
    d

[2020-02-04 17:23] eregon commented on #1893
Thanks for the report.
Probably relates to #1824.

I could reproduce it with `--memory=4g` on Linux.
Running `bundle install` with `--jvm --vm.Xmx3g` (JVM) and `--vm.Xmn256m --vm.Xmx3g` (Native Image) seem to both work.
Just `--vm.Xmn256m` still OOM.

`free -m` shows the full host memory in the container.
Maybe Native Image considers it has much memory available than the container has?
That seems

[2020-02-05 12:11] norswap commented on #1679
Revisiting this at the moment.

- The issue with `puts` was probably fixed as a side effect of other changes.
- The rest will now work as expected, in particular, the vector will be shown as an array and not a pointer via `inspect`.

For reference, the new behaviour is:

-----
### Polyglot Eval

[code]

[code]

[code]
(with newline)

[code]
(no newline)

-----
### With Galaaz

[code]

[code]

[cod

[2020-02-05 15:27] eregon commented on #1893
I think some of my docker commands went wrong yesterday, because now I see that Native Image correctly detects the maximum memory size of the container:
[code]
It also seems fine during `docker build`.

[2020-02-05 16:27] petenorth commented on #1893
@eregon so you don't see any

    [truffle] opt fail         Gem::Package::TarHeader.from ~/.rubies/truffleruby-20.1.0-dev/lib/mri/rubygems/package/tar_header.rb:102|ASTSize           252 |Reason java.lang.OutOfMemoryError: Garbage-collected heap size exceeded.
    java.lang.OutOfMemoryError: Garbage-collected heap size exceeded.

can these be ignored? Can you confirm the `bundle install` command

[2020-02-05 18:38] eregon commented on #1893
Yes, I noticed one:
[code]
when running `RUN env time ruby --vm.Xmn256m --vm.Xmx3g --vm.XX:+PrintGCSummary -S bundle install`.

The fact that the compilation should be safe, although obviously it can impact performance.

I think that problem is due to too much inlining and noticed by @bjfish we well.
We're experimenting to fix that one as currently we have a higher setting than the default for inl

[2020-02-06 11:52] petenorth commented on #1893
@eregon I thought that `bundle install` now runs with `--engine.Mode=latency` meaning that there is _no_ inlining or splitting?

[2020-02-06 13:40] eregon commented on #1893
@petenorth You're right. So too much inlining shouldn't be the problem here.
And `Gem::Package::TarHeader.from` doesn't seem really big (about 29 calls in it and a 17-entries Hash literal): https://github.com/oracle/truffleruby/blob/fdcc3f2ee9ff2e3c8a84c998ca26cb3888d8a0a2/lib/mri/rubygems/package/tar_header.rb#L102-L126
So probably something during bundle install is using all the heap and the com

[2020-02-06 17:51] norswap commented on #1679
Fixed in 78ba95255d99bb1e2d890d46911fc779be48a8fc

[2020-02-06 17:51] #1679 closed

[2020-02-07 01:59] deepj commented on #1824
@eregon here is the result. I tried it during the last two days but the problem didn't occur again (I always remove all previous gems).

[code]

[2020-02-07 02:19] deepj commented on #1824
My laptop has only 8 GB RAM

[2020-02-07 10:44] deepj commented on #1824
This happened when I installed dependencies of

[code]

[code]

[2020-02-07 11:25] eregon commented on #1824
Are you using TruffleRuby 19.3 or the nightly builds (which one?) for the above output? I'd guess the nightly build since the young generation is 1GB.
That last output is the same issue as https://github.com/oracle/truffleruby/issues/1893#issuecomment-582490912.

[2020-02-07 11:29] eregon commented on #1824
Ah, it's indeed the nightly, https://github.com/oracle/truffleruby/issues/1824#issuecomment-582004165 sorry, I missed that.

[2020-02-07 11:30] deepj commented on #1824
@eregon truffleruby `20.1.0-dev-a575d7bc, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`

[2020-02-07 11:55] deepj opened #1894 "spring: TruffleRuby doesn't have a case for the StringToNullTerminatedByteArrayNodeGen node with values of type Pathname (TypeError)"
Ugh, crazy long naming in the Java

[code]

To reproduce:

[code]

Note: Bundler 2 is required

Error:

[code]

[2020-02-07 15:27] eregon commented on #1894
The reason we see so much of the Java backtrace is the call boundary detection is broken.
It should match
`org.graalvm.compiler.truffle.runtime.OptimizedCallTarget.callProxy`
but we currently match
`com.oracle.graal.truffle.OptimizedCallTarget.callProxy` in BacktraceInterleaver.
That's a trivial fix, anyone interested to fix it? :)

[2020-02-07 15:31] eregon commented on #1894
^ I'll do it, I have the line in front of my eyes.

[2020-02-07 15:49] eregon commented on #1894
Can be reproduced with:
[code]
I have a fix for both, should be merged soon.

[2020-02-07 15:51] deepj commented on #1894
@eregon

[code]

[2020-02-07 16:39] #1894 closed

[2020-02-07 17:06] eregon commented on #1894
@deepj Fixed, thank you for the bug report.
There should be a build at https://github.com/ruby/truffleruby-dev-builder/releases in ~20 minutes.
Could you verify it works with it?

[2020-02-07 17:27] deepj commented on #1894
@eregon maybe later today (I'm out) or tomorrow, then I let you know

[2020-02-07 20:53] eregon commented on #1483
https://github.com/ruby/truffleruby-dev-builder/releases is a repository building TruffleRuby once a day (or more if triggered manually). Those builds are used for [ruby/setup-ruby](https://github.com/ruby/setup-ruby) with `ruby-version: truffleruby-head`.

The main advantage there is it uses truffleruby `master`, so it always picks the latest truffleruby commit. That commit has passed the Truffle

[2020-02-08 01:13] deepj commented on #1483
Unfortunately, any of my current work & personal projects is on Github :( So, I can't try it

[2020-02-08 01:38] deepj commented on #1894
@eregon Tested. Works.

[2020-02-08 05:51] deepj opened #1895 "Code causes an exception and nothing is thrown (visibly)"
Originally, the Rails model would cause `NameError: uninitialized constant ActsAsTaggableOn::TagListType` error on TruffleRuby (No issue on MRI). I tried to use a bug report template offering by Rails team and I noticed a different issue. Nightly and 19.3.1 are same in this case

Here is a reproducible code.

[code]

[2020-02-08 06:03] deepj commented on #1824
Another fault

[code]

[2020-02-08 08:01] deepj opened #1896 "skylight: lib/mri/mkmf.rb:1299:in `find_type': wrong number of arguments (given 1, expected 2+) (ArgumentError)"
To reproduce:

[code]

Error:

[code]

[2020-02-08 12:31] eregon commented on #1483
@deepj Sorry, I probably wasn't clear. I meant the nightly builds at https://github.com/ruby/truffleruby-dev-builder should also work locally/on other machines, and it would be good to see if they actually do.

These nightly builds now have fixed URLs for convenience (thanks to what @deepj suggested above):
* Linux: https://github.com/ruby/truffleruby-dev-builder/releases/latest/download/truffleru

[2020-02-08 13:19] deepj commented on #1483
Yeah, yes. I have already installed this build(`truffleruby 20.1.0-dev-9e0b0468, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`) from https://github.com/ruby/truffleruby-dev-builder on my machine. It seems everything works

[2020-02-08 14:16] deepj opened #1897 "A lot of annoying warnings about instance variable @internal not initialized from truffleruby/core/io.rb"
[code]

Warnings

[code]

[2020-02-08 15:28] eregon commented on #1897
@bjfish has a PR to fix it.

[2020-02-08 19:13] deepj commented on #1724
@eregon this is a problem with the latest nightly build

[2020-02-09 10:16] deepj commented on #1587
@eregon this is already fixed I guess. At least in my nightly build the code above works

[2020-02-09 13:36] dentarg commented on #1415
Same thing for Addressable:

* truffleruby-19.3.1: [~80 seconds](https://travis-ci.org/sporkmonger/addressable/jobs/641809444#L314)
* ruby 2.6.5: [~2 seconds](https://travis-ci.org/sporkmonger/addressable/jobs/641809451#L275)

(Then there's [the bundler issue](https://github.com/oracle/truffleruby/issues/1398) adding another  4-5 minutes where ruby does it in ~4 seconds 😄)

[2020-02-09 14:55] eregon commented on #1587
Yes, this was fixed by https://github.com/oracle/truffleruby/pull/1889.
Thanks for checking!

[2020-02-09 14:55] #1587 closed

[2020-02-09 15:03] eregon commented on #1415
@dentarg Thanks for the report.
It might be worth trying with https://github.com/ruby/setup-ruby + `truffleruby-head` to see if that helps. I think it could help quite a bit for the Bundler time.

The 4 seconds for `bundle install` on MRI is not really comparable, because that used a Bundler cache for most gems.

For the specs:

That's a very long time to load, there is probably something going wr

[2020-02-09 15:19] eregon opened #1898 "The Rack test suite does not pass on TruffleRuby"
See https://github.com/rack/rack/issues/1579 and https://github.com/rack/rack/pull/1568#issuecomment-583856763.
Found by @ioquatix

[2020-02-09 16:01] eregon commented on #1898
OK, one issue is:
[code]
gives
[code]
on MRI but
[code]
on TruffleRuby.

That's what causes `Rack::Lint#test_0005_notice error errors` to fail.

[2020-02-09 16:49] dentarg commented on #1415
Yes, around 1m instead of 5m: https://github.com/dentarg/addressable/runs/434731081?check_suite_focus=true

[2020-02-09 16:52] dentarg commented on #1415
[`truffleruby-head`](https://github.com/dentarg/addressable/runs/434731081?check_suite_focus=true#step:6:2229)

[`ruby 2.6.5`](https://github.com/dentarg/addressable/runs/434731071?check_suite_focus=true#step:6:2021)

[2020-02-09 17:16] gogainda opened #1899 "`floor': wrong number of arguments"
An exeption is taken from [here](https://travis-ci.org/sporkmonger/addressable/jobs/645568855) :
[code]

[2020-02-09 19:13] eregon commented on #1899
I think this is already fixed in 20.1.0: https://github.com/oracle/truffleruby/blob/master/CHANGELOG.md#2010

If using GitHub Actions and https://github.com/ruby/setup-ruby, it would be easy to verify with `truffleruby-head`.

Otherwise I'd suggest to enable Coverage only for MRI as a workaround (`platforms: :mri` in the Gemfile).
It seems the coverage doesn't do anything on JRuby, so there would

[2020-02-09 19:17] eregon commented on #1899
https://github.com/dentarg/addressable/runs/434731081?check_suite_focus=true shows it works with `truffleruby-head` and fails as reported with 19.3.1.
So I think we can safely close this, it will be in the 20.1.0 release and feel free to use truffleruby-head to get it immediately.

[2020-02-09 19:17] #1899 closed

[2020-02-09 19:18] eregon commented on #1899
cc @dentarg, using GitHub Actions and `truffleruby-head` would solve the issue for coverage of `addressable`.

[2020-02-09 19:20] deepj opened #1900 "mail: all in test suite fails due to ArgumentError: wrong number of arguments (given 2, expected 1) in overriding Kernel.warn"
The problem lies in overridden `Kernel.warn` in their `spec/spec_helper.rb` https://github.com/mikel/mail/blob/6bc16b4bce4fe280b19523c939b14a30e32

There is no issue with this on MRI. When the overridden `Kernel.warn` is removed, the test suite works (except several failures) on TruffleRuby as well.

To reproduce

[code]

[2020-02-09 19:22] eregon commented on #1415
@dentarg Thank you for trying with GitHub Actions and `truffleruby-head`, these numbers look significantly better.

We should still take a look at loading time and why those tests are much slower on TruffleRuby.

[2020-02-09 19:32] gogainda commented on #1899
Thanks for confirmation

[2020-02-09 21:24] ioquatix commented on #1898
Is UTF-8 considered binary? I don't get it?

[2020-02-09 22:23] eregon commented on #1898
No it's not. It was a bug that `StringIO#binmode` didn't change the external encoding (and did nothing but return `self`):
https://github.com/oracle/truffleruby/blob/9e0b0468590ff77cb62e80e185b0474541dc6774/lib/truffle/stringio.rb#L201-L203

[2020-02-09 22:26] ioquatix commented on #1898
Haha, that's actually pretty funny :p

[2020-02-10 01:48] deepj opened #1901 "String#unpack('M*') doesn't omit \r\n correctly"
[code]

Actual:

[code]

Expected:

[code]

[2020-02-10 10:15] eregon commented on #1898
Fixed in https://github.com/oracle/truffleruby/commit/d5d3d0727ede8d5d899b42ebde6a9e0bfc993afe, waiting for a nightly to build, and then I'll make a PR to add truffleruby-head in rack's CI.

[2020-02-10 11:00] fniephaus opened #1902 "[interop] foreign null objects not handled correctly as falsy values"
# Repro:

[code]

[2020-02-10 11:55] #1898 closed

[2020-02-10 11:59] eregon commented on #1902
Should isNull() imply "false when converted to boolean"?

I agree for `None`, but unsure, e.g., for a pointer object which has an address of 0 and also implements isNull() for some reason, such as NFI `NativePointer`.

[2020-02-10 18:23] eregon commented on #1623
I implemented  `rb_fd_init` and friends in 982f68355c8710ef5923b81cab818fba1d228c9b.
That allows to get further for EventMachine and require it + `EM.run{}`, but EventMachine tests don't pass yet (I didn't investigate further).

I'd like to close this issue, because that error no longer happens.

[2020-02-10 18:23] #1623 closed

[2020-02-10 18:30] eregon commented on #1900
Thanks for the report.
The link in the description is broken, but https://github.com/mikel/mail/blob/e054847e4e186290232a308246e1287be5f1fde7/spec/spec_helper.rb#L318 works.

[2020-02-10 18:37] fniephaus commented on #1902
Intuitively, I would have expected a null pointer to behave as `false` in conditions. It would also return `true` for `nil?`, right?

[2020-02-10 18:40] eregon commented on #1900
Given that the commit adding the monkey patch is https://github.com/mikel/mail/commit/bf418912133d0aee5fdd9a5140fe5fb44cf4091f, I'd think it was never intended to override Kernel#warn.

[2020-02-10 18:41] eregon commented on #1900
I asked on the original PR: https://github.com/mikel/mail/pull/1105

[2020-02-10 18:54] bjfish commented on #1900
A minimal reproduction for this is `jt ruby -w -e 'module Kernel; def warn(m); $stderr.puts(m); end; end; Object.new =~ "test" '`.

[2020-02-10 19:02] eregon commented on #1902
Right, we handle `foreign.nil?` by sending `isNull()`.

Do you know if any other language does this?
Maybe we should add this in the JavaDoc of isNull()? cc @boris-spas @chumer

[2020-02-10 19:05] eregon commented on #1897
Fixed in https://github.com/oracle/truffleruby/commit/0beee06d2d30f213c4a2ff728e2564fe87c521b4 by @bjfish. The next nightly build will have it.

[2020-02-10 19:05] #1897 closed

[2020-02-10 19:11] eregon commented on #1896
Interesting case where code in FFI ends up conflicting with code in mkmf.rb.
I'll need to find out why it doesn't happen on MRI.

[2020-02-10 20:20] fniephaus commented on #1902
In GraalSqueak, we map `ForeignObject>>isNil` to `isNull()`. However, it's more common to use `ifNil:ifNotNil:`. That's also why the Squeak parser optimizes these cases by replacing `ifNil:` with a `nil` identity check, which is unfortunate because `nil` != Ruby's `nil` or Python's `None`.

[2020-02-11 13:00] gogainda opened #1903 "How exactly I can install latest nightly builds on my local machine?"
Before I was using rvm, but are nightly build available there?

[2020-02-11 13:09] eregon commented on #1903
I plan to integrate the nightlies in RVM, as mentioned in https://github.com/oracle/truffleruby/issues/1483#issuecomment-583606306.

Please follow that issue.
I'll close this one since it's basically a duplicate.

[2020-02-11 13:09] #1903 closed

[2020-02-11 13:40] gogainda commented on #1903
Until it's implemented in rvm is there a way to install it locally?

[2020-02-11 15:16] eregon commented on #1903
`rvm mount` maybe: https://github.com/rvm/rvm/blob/master/help/mount.md
(in other managers, a simple `mv` would be enough, but not for RVM)

[2020-02-11 20:57] deepj commented on #1895
@eregon I guess this is a duplicity of #1750

[2020-02-12 04:56] deepj opened #1904 "io-console: no member named 'pathv' in 'struct rb_io_t'"
It's one of dependencies newest `irb` (-> `reline` -> `io-console`)

To reproduce:

[code]

Error:

[code]

[2020-02-12 10:51] eregon commented on #1904
To confirm, were you trying to `gem install irb`? Or `reline`?

This error is unfortunate, because TruffleRuby already provides `io/console` and it's part of the standard library. I'm not sure why reline has an explicit dependency on it.

I see a few ways forward:
* Remove the explicit dependency in reline, since io/console is part of stdlib.
* Move our pure-Ruby implementation of io/console in th

[2020-02-12 10:59] eregon commented on #1904
Let's try the first way, since it seems unexpected a pure-Ruby gem would depend on installing a C extension: https://github.com/ruby/reline/issues/124

[2020-02-12 11:15] eregon commented on #1893
We found the issue, there was an unintended loop explosion in the node creating the Hash literal when running on Native Image.

[2020-02-12 11:32] petenorth commented on #1893
I've got a GitHub workflow set up, for the rails bundle install which runs nightly using the truffleruby head

https://github.com/petenorth/bundle-install-memory/actions

so I once the fix gets merged it should be picked up there. Curious as whether you can see the workflow runs under the action tabs in my repo?

[2020-02-12 12:07] deepj commented on #1904
I just accidentally wrote `gem install irb` :)

[2020-02-12 12:07] eregon commented on #1893
Yes I can see it, action runs are public for public repos (just like for TravisCI).

[2020-02-12 12:23] eregon commented on #1893
I reran the workload with that fix (locally, not in Docker):
[code]
That's just 1.09GB of RSS (vs 10GB of RSS above).

And without an explicit Xmx:
[code]
Which is 2.32GB RSS, due to the larger young gen:
[code]

[2020-02-13 03:35] deepj commented on #1398
@eregon I noticed bundler/rubygems generates a lot of exceptions

See https://gist.github.com/deepj/9a6dccfadd621780242a698274f7396a

This was generated using `RUBYOPT=-d ruby bug.rb` where `bug.rb` comes from #1895

[2020-02-13 03:40] deepj opened #1905 "acts-as-taggable-on: NameError: uninitialized constant ActsAsTaggableOn::TagListType"
To reproduce

[code]

Error:

[code]

[2020-02-13 10:13] eregon commented on #1398
@deepj Good catch! Could you run the same on MRI and post the output to compare?

[2020-02-13 10:18] eregon commented on #1905
Could you post the backtrace?
It's quite useful in general to find out where the bug comes from and assess the bug without needing to reproduce first.
If there are parts of the backtrace with private code, feel free to replace those with `...`.

[2020-02-13 10:21] petenorth commented on #1893
@eregon I noticed this recent commit to oracle/graal is it relevant/related?

https://github.com/oracle/graal/commit/6faf23d1b060a6a0afbe2176ab80278a397d9205

[2020-02-13 10:43] eregon commented on #1893
@petenorth Yes, that's the fix. I'll make a PR to bump the truffle/graal import.

[2020-02-13 12:03] deepj commented on #1398
@eregon much less exceptions https://gist.github.com/deepj/bad131face490e7c062617aa80df4eeb

[2020-02-13 13:05] eregon commented on #1893
Fixed in c138bc04b656a09b0e72b37cf839cc82f2bd8e70, the fix will be in 20.0 too.
I'll trigger a nightly build.
Thank you for the report, this was indeed a major bug.

[2020-02-13 13:05] #1893 closed

[2020-02-13 13:09] eregon commented on #1398
@chrisseaton Could you try again your `bundle install` with latest truffleruby master?
#1893 has been fixed and I think that was causing the memory spike above.

[2020-02-13 13:11] eregon opened #1906 "Bundler/rubygems generates a lot of exceptions"
Extracted from #1398, to keep track more easily of it.

I noticed bundler/rubygems generates a lot of exceptions

See https://gist.github.com/deepj/9a6dccfadd621780242a698274f7396a

This was generated using `RUBYOPT=-d ruby bug.rb` where `bug.rb` comes from #1895

MRI produces much less exceptions:
https://gist.github.com/deepj/cb29e92d8eba43129ed107c04adf3d83

_Originally posted by @deepj in http

[2020-02-13 13:13] eregon commented on #1398
@deepj Regarding exceptions, I extracted it to #1906.

[2020-02-13 13:14] deepj commented on #1905
@eregon I added the backtrace while running something else. But it would be reproducible by above code but due to another bug #1895 is not shown

[2020-02-13 13:19] eregon commented on #1906
[code]
is present on both TruffleRuby and MRI, so it probably comes from Bundler code.
It would be useful to investigate what calls `to_ary`, by using `--backtraces-raise`.

This part appears only on TruffleRuby:
[code]

Note that MRI 2.7.0 is used, so there might be a different fileutils.rb version, etc.

@deepj Could you post a log with Ruby 2.6.5 to make sure we're comparing the same standard l

[2020-02-13 13:23] deepj commented on #1906
@eregon https://gist.github.com/deepj/6c7b67d2b898003ece448fc21a4444e4

this is more similar to the original gist. But still less exceptions. What it's original for TruffleRuby is such as

[code]

[2020-02-13 13:26] deepj commented on #1906
One thing, isn't generating exception more expensive in TruffleRuby then in MRI? What I remember JRuby has it in this way

[2020-02-13 13:33] eregon commented on #1906
I'm glad I asked, it seems these ENOENT happen on MRI 2.6.5 too.
Which sounds like FileUtils or zlib is quite a bit better for exceptions in MRI 2.7+.

The EINPROGRESS are not so frequent, about 32 in total. Those are due to our FFI-based Socket implementation. We could probably do it without exceptions.

Probably, yes, since we optimize the stack more (e.g., use the native stack for Ruby values b

[2020-02-13 15:47] deepj commented on #1483
@eregon Is it possible to add nightlies to `ruby-build`/`rvm`. I use the above linked nightly builds and no issue so far. Let's close this issue finally :)

[2020-02-13 16:32] eregon commented on #1483
Yes, I'll work on that.

[2020-02-13 21:59] eregon commented on #1900
I made a PR to the `mail` gem: https://github.com/mikel/mail/pull/1378

[2020-02-13 22:19] eregon commented on #1527
Here is a run with the latest nightly:
[code]

4) sounds like the spec is too strict, e.g. there could be a GC right around the call.
The other 3 seem to be TurffleRuby bugs.

And with NIO4R_PURE=true:
[code]

Probably TurffleRuby bugs.

[2020-02-14 12:39] deepj opened #1907 "actionpack: RuntimeError: Cannot convert a Ruby String with BINARY encoding containing non-US-ASCII character 229 to a Java String"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-14 12:42] deepj commented on #1907
Hm, isn't the error coming from rack in the end?

[2020-02-14 14:56] deepj commented on #1599
@eregon I guess this can be closed.

[2020-02-14 15:00] eregon commented on #1599
Right, thanks. I guess it was due to reusing the same GEM_HOME. This should not happen so easily anymore.

[2020-02-14 15:00] #1599 closed

[2020-02-14 15:13] eregon commented on #1483
`ruby-build` PR merged: https://github.com/rbenv/ruby-build/pull/1405
`ruby-install` PR opened: https://github.com/postmodern/ruby-install/pull/364
`RVM` still to do (most complicated)

[2020-02-14 18:57] bjfish commented on #1901
This is fixed now at: https://github.com/oracle/truffleruby/commit/c24c4074a20b16b2e1968662cf7e62c55460231a. Thanks.

[2020-02-14 18:57] #1901 closed

[2020-02-14 22:43] gogainda commented on #1595
Latest results (much better now, but still not comparable to mri implementation)
[code]

[2020-02-15 10:53] eregon opened #1911 "cppjieba_rb fails to install"
Reported by @samsaffron in https://twitter.com/samsaffron/status/1228476364388352001

Error:
[code]

Code:
https://github.com/fantasticfears/cppjieba_rb/blob/5b3f0f210529fa5418b093c0a56ed7549e381057/ext/cppjieba_rb/internal.cc#L48

[2020-02-15 10:56] eregon commented on #1911
Interesting, this error seems to happen only in C++ code where it doesn't allow converting `1` to `void*`.
In C it seems to just convert it, since the same pattern is used in OpenSSL and that works fine:
https://github.com/oracle/truffleruby/blob/c24c4074a20b16b2e1968662cf7e62c55460231a/src/main/c/openssl/ossl_x509store.c#L114-L120

[2020-02-15 11:06] eregon commented on #1911
It's trivial to fix: https://github.com/eregon/truffleruby/commit/4cfea0bc10657b16617774a0070dc4fe70a98cde
After that, `gem install cppjieba_rb` works.

[2020-02-15 11:48] eregon opened #1912 "multiple assignment in conditional (SyntaxError)"
[code]

This pattern is used in Discourse:
https://github.com/discourse/discourse/blob/cd5b7109d04722df5c39b2ded9fa4ead6c290ce4/lib/stylesheet/importer.rb#L210

[2020-02-15 12:54] eregon commented on #1891
Implementing `(RBasic*)->flags` would likely also fix these warnings in C++ code due to `struct RBasic` being empty:
[code]

[2020-02-15 15:10] eregon commented on #1903
PR to RVM adding truffleruby-head: https://github.com/oracle/truffleruby/issues/1903

[2020-02-17 13:09] jaime-rave-conichi opened #1913 "Crash while inspecting file with Rubocop and Truffleruby head"
I'm seeing a crash while running Rubocop on the following file:
[code]

The backtrace of the crash is:
[code]

My Truffleruby version is `truffleruby 20.1.0-dev-c24c4074, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`. It works fine under MRI 2.6.5

[2020-02-17 13:33] #1911 closed

[2020-02-17 13:34] eregon commented on #1911
Fixed in https://github.com/oracle/truffleruby/commit/daa9b86594a597c767078df389147d01e187f84d

[2020-02-17 14:06] eregon commented on #1483
Both `ruby-build` and `RVM` PRs have been merged, so you can:
[code]

The `ruby-install` has been [rejected](https://github.com/postmodern/ruby-install/pull/364), because `ruby-install` considers installing `-head` versions an anti-feature. So use `ruby-build` (also works fine with `chruby`) or download, extract, post-install-hook the nightly manually if you're using `ruby-install`.

I think the o

[2020-02-17 14:12] gogainda commented on #1483
@eregon thanks for that :100:

[2020-02-18 00:18] SamSaffron commented on #1911
btw... was about to test this @eregon  and I got

[code]

[2020-02-18 00:59] SamSaffron opened #1914 "mini_racer is not working"
[code]

I would say this is one of the most important gems for Discourse support, hopefully there is a simple fix here @eregon

[2020-02-18 03:09] deepj commented on #1914
@SamSaffron this is a duplicate of #1827

[2020-02-18 03:11] deepj commented on #1556
@eregon this is already implemented so it can be closed

[2020-02-18 03:11] deepj commented on #1518
@eregon this is already implemented so it can be closed

[2020-02-18 03:12] deepj commented on #1912
@eregon this is a duplicate of https://github.com/oracle/truffleruby/issues/1513

[2020-02-18 04:29] SamSaffron commented on #1914
thanks @deepj I should have searched, closing!

[2020-02-18 04:29] #1914 closed

[2020-02-18 04:30] SamSaffron commented on #1827
It is something to do with libv8 being c++, the mix of c++ with c appears a bit challenging for truffle.

[2020-02-18 10:41] #1556 closed

[2020-02-18 10:42] #1518 closed

[2020-02-18 11:34] eregon commented on #1835
@bjfish is going to work on making `nil` a global immutable singleton `Nil.INSTANCE`.

[2020-02-18 12:21] eregon commented on #1911
`ruby-install` doesn't support installing truffleruby nightly builds, see https://github.com/oracle/truffleruby/issues/1483#issuecomment-587009669
I'd suggest to use `ruby-build`, which works fine with `chruby` too.

[2020-02-18 12:27] eregon commented on #1827
When I tried locally libv8 it failed to compile.
Since [libv8](https://github.com/rubyjs/libv8) seems independent of the Ruby C API/ABI, we should try to allow installing it as a binary gem too on TruffleRuby, but that seems non-trivial since RubyGems doesn't really have good support for that.

The issue might be that libv8 doesn't have bitcode, and that's currently required if the C/C++ extension

[2020-02-18 12:59] eregon commented on #1513
The warning is only because the RHS is a simple literal like `[1,2]`.
This doesn't warn on MRI:
[code]
(from #1912)

[2020-02-18 12:59] #1912 closed

[2020-02-18 13:01] deepj commented on #1905
@eregon Can be this a priority as well? It'd allow me to dig more and to find other "anomalies" in TruffleRuby :)

[2020-02-18 14:43] eregon commented on #1905
OK, I'll try to take a look when I get some time.

[2020-02-18 14:48] bjfish commented on #1905
I looked at this briefly the other day, some things I noticed:
- disabling didyoumean may help uncover an error since an error happens in didyoumean code handling the NameError
- I suspected an `autoload` issue due to `autoload_under` usage:
https://github.com/mbleigh/acts-as-taggable-on/blob/950c01072b7ab6227d74dc0d0b112f0135281fc2/lib/acts-as-taggable-on.rb#L27
https://github.com/rails/rails/blo

[2020-02-18 17:13] eregon commented on #1904
Installing the io-console gem now works thanks to https://github.com/ruby/io-console/pull/11#issuecomment-587245910.
Longer term we'll want to support the io-console gem and not just skip it, but for now this seems good enough.

[2020-02-18 17:13] #1904 closed

[2020-02-18 20:18] deepj opened #1917 "google-protobuf: installation fails due to switch (VALUE)"
[code]

Error:

[code]

[2020-02-18 20:46] eregon commented on #1917
Right, that's the same error as in https://github.com/oracle/truffleruby/issues/1837#issuecomment-560100365 but since it [wasn't specific to protobuf](https://github.com/oracle/truffleruby/issues/1837#issuecomment-581021059) I closed that issue.
This can track making `switch (VALUE)` work then.

[2020-02-19 14:34] eregon commented on #1830
@nateberkopec @CorbanR @thbar TruffleRuby 20.0.0 was released and includes this fix. It would be useful if any of you can confirm it installs without troubles on macOS now.

[2020-02-19 14:43] eregon commented on #1822
Ref: https://github.com/ged/ruby-pg/pull/331

[2020-02-19 15:27] nateberkopec commented on #1830
💥

[2020-02-19 15:58] thbar commented on #1830
@eregon works for me as well:

SNIP

Thanks!

[2020-02-19 18:29] petenorth opened #1918 "Performance regression in bundle install"
I think a performance regression has been introduced between

builds-20200217-190341

and

builds-20200218-190334

A rails bundle install for the former takes 1 min 54 secs

https://github.com/petenorth/bundle-install-memory/actions/runs/41924274

and the latter takes 2 mins and 9 secs

https://github.com/petenorth/bundle-install-memory/actions/runs/41942419

The timings are pretty consistent (I n

[2020-02-19 19:20] #1483 closed

[2020-02-19 19:24] eregon commented on #1918
`ruby -v` shows the revisions, it's daa9b865...e8ccba87, so indeed only one PR is the difference: e8ccba87.

[2020-02-19 19:39] eregon commented on #1483
Documented in 536a663b71adc0739ea85b250ae6f91f05fbc771.

[2020-02-19 19:43] eregon commented on #1918
If I `bundle install` with an existing Gemfile.lock, I can't reproduce any meaningful difference locally:
[code]

Feb17:
[code]

Feb18:
[code]

[2020-02-19 19:52] eregon commented on #1918
Similar, no significant difference if I also remove the `Gemfile.lock` everytime:
Feb17:
[code]
Feb18:
[code]

[2020-02-19 19:58] eregon commented on #1918
So this might be simply fluctuations from the GitHub Action runners, which most likely have no performance guarantees, being in the cloud and all.

Could you try to reproduce locally?
FWIW I ran this outside Docker, but I don't think it should matter.

If you want to reproduce on GitHub Actions, it would be better to run with both releases multiple times (e.g. 3) in the same job run, so at least i

[2020-02-19 20:02] eregon commented on #1918
One thing we should do at least is add a `bundle install` benchmark in our benchmark server to keep track of it over time.

[2020-02-19 20:40] petenorth commented on #1918
I have been re-running with and without the Gemfile.lock file on GitHub (and locally) and I think these are just fluctuations as you say.

Feel free to close but a benchmark would be useful as you say.

[2020-02-19 23:01] petenorth commented on #1918
Another suggestion for the benchmarking, split it into two (but run sequentially)

    env time bundle lock
    env time bundle install

I think that a regression might have occurred against a `bundle lock` benchmark but not `bundle install`

They do very different things (I think the lock does lots of yaml parsing?) and `bundle install` retrieves resources over the network.

[2020-02-20 14:40] eregon commented on #1835
`nil` has become a global singletion `Nil.INSTANCE` in 1dc2c2894ca8d88dc4b6220021b7e42b98317bdb.

[2020-02-20 16:18] deepj opened #1919 "oga: multiple Oga::XML::PullParser specs fail"
[code]

To reproduce
[code]

**NOTE**: `ragel` needs to be installed on your OS

Error:

[code]

[2020-02-20 16:22] deepj commented on #1919
One thing. On my machine, specs run 2.21 secs in MRI, but TruffleRuby it's over 1m 33 secs...

[2020-02-20 20:23] chrisseaton commented on #1835
Thanks for this work!

[2020-02-21 10:01] deepj opened #1920 "Thread::Backtrace::Location#base_label is not implemented"
[code]

Reproduce:

[code]

Error:

[code]

[2020-02-21 18:54] deepj commented on #1669
@eregon is it possible to take a look at this in near future? :)

[2020-02-23 14:49] petenorth opened #1921 "rspec issue (Wrong number of arguments. Expected 1 or more, got 0.)"
I am trying to get some rspec test working for an existing project.

https://github.com/petenorth/schools-experience

There is a failure that appears for a number of tests and so I was hoping for some guidance (it works in MRI)

VERSION: truffleruby 20.1.0-dev-08311e22, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]

[code]

[2020-02-23 14:53] petenorth opened #1922 "wrong number of arguments ( lib/truffle/digest/sha2.rb )"
I am running some rspecs for an existing project (all specs pass in MRI)

https://github.com/petenorth/schools-experience

and am seeing this stacktrace a number of times

VERSION: truffleruby 20.1.0-dev-08311e22, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]

[code]

[2020-02-23 15:01] petenorth opened #1923 "wrong number of arguments on simple (?) spec"
I am running some rspecs for an existing project

https://github.com/petenorth/schools-experience

and am seeing this stacktrace a number of times (all specs pass in MRI)

VERSION: truffleruby 20.1.0-dev-08311e22, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]

[code]

[2020-02-24 09:33] deepj opened #1924 "simdjson: ISO C++17 does not allow 'register' storage class specifier simdjson"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-24 09:56] eregon commented on #1922
Thanks for the report, we noticed this failure as well in Rails tests.

[2020-02-24 10:03] eregon commented on #1924
The same warning happens on MRI 2.6.5 too with gcc, except there it's a warning and not an error:
[code]

Since the warning comes from `ruby/intern.h` it should be fixed in TruffleRuby, as done in MRI in https://github.com/ruby/ruby/commit/113bef697633803a33a547914b16ba5fbef165b8.

[2020-02-24 10:31] deepj commented on #1924
@eregon Ah, I tested it only on MRI 2.7.0 where it works

[code]

[2020-02-24 10:54] yosiat opened #1925 "ArtiyException on C-extension"
Hi!

I am the mainer of panko-serializer (https://github.com/yosiat/panko_serializer) and I am checking out truffleruby.

I am trying to get it passing the tests and they fail on ArtityExcpetion.

Here are the reproduction steps:
1. Install truffleruby (`truffleruby 20.0.0, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]
`) using RVM
2. Clone https://github.com/yosiat/panko_serializer
3. Use `t

[2020-02-24 10:57] eregon commented on #1925
Thank you for the nice issue report, we'll take a look.

[2020-02-24 12:06] petenorth commented on #1921
Unfortunately to reproduce requires a Postgres instance but (from the root directory)

[code]

[2020-02-24 16:07] deepj opened #1926 "yajl-ffi: dlopen(yajl, 2): image not found (UnsatisfiedLinkError)"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-24 18:02] petenorth opened #1927 "Too deep inlining error when running ActionPack tests (Regexp.escape builtin)"
The reproducer is summarized by the following workflow

https://github.com/petenorth/rails/blob/5-2-stable/.github/workflows/ruby.yml

I am not sure whether the test directory environment variable TEST_DIR is being respected since `dispatch` is not `journey` but still something is going wrong in a test.

Failure (truncated stack trace):
[code]

[2020-02-24 19:30] deepj opened #1928 "ruby_native_statistics: error: use of undeclared identifier 'value'"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-24 19:49] eregon commented on #1927
The too deep inlining compilation failure should be easy to fix.

Not sure about the test failing, that might possibly be due to using the pure-Ruby `json` stdlib.

[2020-02-24 19:51] eregon commented on #1928
Looks like a simple typo in https://github.com/oracle/truffleruby/blob/b7e8555fd9ec449597bfbedb90a92daed1096ed4/lib/cext/include/ruby/ruby.h#L563-L564

We should add a spec under `spec/ruby/optional/capi` to make sure it doesn't regress.

[2020-02-25 01:22] deepj opened #1929 "minitest + simplecov integration causes uninitialized constant Minitest::SimpleCov (NameError)"
[code]

The problematic code:

[code]
https://github.com/colszowka/simplecov/blob/v0.18.4/lib/minitest/simplecov_plugin.rb

To reproduce:

[code]

Error:

[code]

[2020-02-25 01:29] deepj opened #1930 "regexp_property_values: error: no member named 'get_ctype_code_range' in 'struct rb_encoding'"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-25 11:33] #1924 closed

[2020-02-25 21:12] deepj commented on #1905
@bjfish hello, any news about this issue? :)

[2020-02-25 22:05] deepj opened #1931 "simdjson: `padded_string': External LLVMFunction _ZN8simdjson22allocate_padded_bufferEm cannot be found"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-25 22:16] deepj opened #1932 "blingfire: `malloc': NotImplementedError in Fiddle"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-26 13:56] DamienRobert opened #1933 "symbol matching not quite working"
This is on truffleruby 20.0.0.

Doing `:foobar.match(/foobar/) { |m| puts "hello" }` does not execute the block.
Adding a `to_s` after `:foobar` does work.

[2020-02-26 21:12] eregon commented on #1931
That seems to happen because libsimdjson is compiled as native without bitcode:
https://github.com/saka1/simdjson_ruby/blob/93189b84d744c46d7f7cef381f497669e04f05bc/ext/simdjson/extconf.rb#L13-L18

[2020-02-27 01:14] deepj opened #1934 "sinatra: `caller_locations': wrong number of arguments (given 2, expected 0) (ArgumentError)"
[code]

This is minimal reproducible code extracted from [ruby_event_store-browser](https://github.com/RailsEventStore/rails_event_store/tree/master/ruby_event_store-browser). The problem lies in https://github.com/sinatra/sinatra/blob/master/lib/sinatra/base.rb#L1514 It's in conflict with `Kernel.caller_locations`. No issue under MRI though.

To reproduce:

[code]

**config.ru**

[code]
Error:

[

[2020-02-27 01:43] deepj opened #1935 "rbtrace: error: no member named 'klass' in 'struct RBasic'"
[code]

To reproduce:

[code]

Error:
[code]

[2020-02-27 01:50] deepj opened #1936 "scout_apm: error: use of undeclared identifier 'rb_mProcess'"
[code]

To reproduce:

[code]

Error:

[code]

[2020-02-27 02:12] deepj opened #1937 "stackprof: rb_gc_latest_gc_info not implemented (RuntimeError)"
To reproduce:

[code]

Error

[code]

[2020-02-27 11:47] denisoster commented on #1409
0.12.3 not compiling
https://gist.github.com/denisoster/b46632bb386958121df67ee540a5a912

[2020-02-27 14:12] chrisseaton commented on #1398
Heap spike has gone.

![image](https://user-images.githubusercontent.com/341094/75453007-237d2c00-596b-11ea-8a08-0a7290298d09.png)

[2020-02-27 14:51] aardvark179 commented on #1921
This appears to be a problem inside `rspec-mocks` where it's miss validating the actual arguments against the signature. I'm kind of glad they don't have quite the same wording as the core argument error message, otherwise this would have been really hard to track down. :-)

I'll investigate a little more and see if I can find the root cause of this issue.

[2020-02-27 18:42] eregon commented on #1931
One idea here is to compile libsimdjson with the toolchain as well, which seems to work by adding it to the PATH. That leads to some parse error though at runtime:
[code]

[2020-02-27 18:45] eregon commented on #1935
This should be easy, by defining `RBASIC_CLASS()` as `rb_obj_class()`, but we need to check they have the same semantics.

[2020-02-27 18:53] eregon commented on #1937
I'm not sure how realistic it is to try to run `stackprof`, it seems to use `rb_profile_frames()` for sampling.
We have a builtin `--cpusampler` that is likely always going to be far more efficient and should be a good replacement.

So I'd like to close this, because it doesn't seem worth the effort to support rb_profile_frames() if it's inefficient in the end anyway.

If you want a compatible API

[2020-02-27 18:57] eregon commented on #1409
The error in that gist is:
[code]

[2020-02-27 19:25] deepj commented on #1937
Hm, my point is more about not implemented `b_gc_latest_gc_info` then about the gem itself.

[2020-02-27 19:55] eregon commented on #1937
Maybe we could stub that one (it seems to just return a Symbol), but installing stackprof would fail anyway at runtime. I'd rather we focus on compatibility with gems we could run, stackprof seems rather unlikely to be useful to run on TruffleRuby as the overhead of profiling that way seems high.

[2020-02-27 23:05] deepj opened #1938 "rails: Extremely slow boot with thousands routes and probably hanging"
Today's jodosha released his ruby web benchmark (see https://twitter.com/hanamirb/status/1233002378930065408).

So I wanted to try `hanami-api` and TruffleRuby. Unfortunately, `hanami-api` requires `2.7`. OK. So let's run rails and 10000 routes. And I was badly surprised. MRI boots it in ~8 secs. TruffleRuby it wasn't able to either in 15 minutes (then I killed it).

What I noticed. The most time

[2020-02-28 01:05] deepj commented on #1937
@eregon If I'm not mistaken it's one of flamegraph gem's dependencies. That's why I guess tested this gem. Anyway, I still think it'd be worth to implement this method.

[2020-02-28 01:19] deepj opened #1939 "roda/puma: big differences in performance between TruffleRuby 2.1.0-dev and MRI 2.7"
Used https://github.com/jodosha/ruby-web-bench. TruffleRuby is almost **50x** slower than`MRI 2.7 🙀😿😾

[code]

**TruffleRuby 2.1.0-dev**

Test 1:
[code]

Test 2:

[code]

**MRI 2.7**

Test 1:

[code]

Test 2:

[code]

[2020-02-28 01:25] deepj commented on #1938
BTW: Roda with 10000 routes was loaded quite fast against to this. But a bit slower than in MRI

[2020-02-28 11:07] eregon commented on #1939
10 seconds is likely not enough for TruffleRuby to warmup and important methods to be JIT-compiled.

[2020-02-28 11:12] eregon commented on #1937
OK, implementing `rb_gc_latest_gc_info(:state)` as e.g. always returning `:none` seems easy:
https://github.com/ruby/ruby/blob/fbd7f08e922cdf1a4be7a71aa056659971c81dab/gc.c#L8862-L8863

I don't see it as a dependency in https://github.com/SamSaffron/flamegraph/blob/master/flamegraph.gemspec

[2020-02-28 11:17] norswap commented on #1934
Minimal reprod:
[code]

[2020-02-28 15:23] norswap commented on #1934
Fixed in 1de99bf4631adcd326857855beadb921a5d2475e

[2020-02-28 15:23] #1934 closed

[2020-02-28 16:41] norswap commented on #1927
The inlining failure was fixed in 83dd6abcbe5e9fb52ace355ad342b3009f4ead99
But as Benoit pointed out, that's probably not why the test fails.

[2020-02-28 16:54] petenorth commented on #1927
Well I will test the nightly build on the repo anyway and hopefully confirm that the inlining issue has gone away.

Might be better to open a separate issue for the actual test failure.

[2020-02-28 17:30] norswap commented on #1927
Appreciate it!

I'll probably take a look at this next week, though it would be easier if you can point at some function behaving differently on MRI vs TruffleRuby rather than a whole Rails workflow.

[2020-02-28 17:41] aardvark179 commented on #1921
@petenorth, I've found the root cause of this. If you look up a method on an object that implements `method_missing` for that method then we return a method object which returns the wrong `arity` and `parameters`. I've got a fix for this which I'll create an internal PR for, and it appears to fix almost all the other spec failures in your app.

[2020-02-28 20:00] deepj opened #1941 "Comparation of String and Integer throws an exception with slightly different error message but in MRI"
There is a slight difference in exception message while comparating String and Integer between TruffleRuby and MRI.

TruffleRuby: `#<ArgumentError: comparison of String with Integer>`
MRI: `#<ArgumentError: comparison of String with 23 failed>`

This difference in TruffleRuby causes 20 failing specs in `dry-schema` specs where there is the following expectation

[code]

Then error is:

[code]

[2020-02-28 21:08] petenorth commented on #1927
Have verified the inlining issue fix.

[2020-02-28 22:21] deepj opened #1942 "alias_method inside refine causes `alias_method': undefined method for module"
To reproduce:

[code]

Error:

[code]

[2020-02-29 11:02] eregon commented on #1941
Thanks for the report, we should try to match MRI here, even more so since the message seems clearer.

[2020-02-29 11:41] deepj opened #1944 "Converted method to proc is given wrong number arguments"
To reproduce:

[code]

Error:

[code]

[2020-03-01 02:33] deepj opened #1945 "Float ArgumentError exception has different message but in MRI"
To reproduce:

[code]

TruffleRuby: `#<ArgumentError: invalid value for Float()>`
MRI: `#<ArgumentError: invalid value for Float(): "foo">`

Due to this difference some specs fail in `hanami-model`.

[2020-03-01 04:23] deepj opened #1946 "Hanami::Utils::String - value "diseappers" after calling Time.parse"
To reproduce:

[code]

Error:

[code]

[2020-03-01 15:15] deepj opened #1947 "ruby2d: `ruby2d_window_ext_show': External LLVMFunction S2D_CreateWindow cannot be found. (LLVMLinkerException)"
To reproduce:

[code]

Error:

[code]

[2020-03-02 10:49] norswap commented on #1920
Fixed by fc1917c83affd938361751ea36423b19f4e0c914

[2020-03-02 10:49] #1920 closed

[2020-03-02 17:33] alecgorge commented on #1942
I am experimenting with TruffleRuby as well and ran into the same issue. `alias`/`alias_method` works for existing methods but not methods declared inside the refinement.

Here is a simple set of cases for reproduction:

[code]

Expected output:

[code]

[2020-03-02 18:01] alecgorge opened #1948 "Integer ** BigDecimal does not work but BigDecimal ** Integer does work"
### Truffleruby Version

`truffleruby 20.0.0, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`

### Code to reproduce
[code]

### Expected output (MRI)

[code]

### Actual output

**Error**

`scratch_4.rb:7:in ``**': TruffleRuby doesn't have a case for the org.truffleruby.stdlib.bigdecimal.BigDecimalNodesFactory$PowerNodeFactory$PowerNodeGen node with values of type  BigDecimal(com.oracle.truff

[2020-03-02 19:58] alecgorge opened #1949 "Refinements do not work inside of a `class_exec`"
### Truffleruby Version

`truffleruby 20.0.0, like ruby 2.6.5, GraalVM CE Native [x86_64-darwin]`

### Code to reproduce

[code]

### Expected output (MRI)

[code]

### Actual Output

[code]

[2020-03-02 20:35] bjfish commented on #1907
I believe this error should now be resolved at https://github.com/oracle/truffleruby/commit/d48f341845fb68cbe616e42b9a82fb0cedaca507.

[2020-03-02 20:35] #1907 closed

[2020-03-03 08:15] deepj opened #1950 "activesupport: Array#to_sentence returns #ActiveSupport::SafeBuffer instead of #String in some cases"
To reproduce:

[code]

Actual:

[code]

Expected:

[code]

[2020-03-03 15:47] alecgorge opened #1951 "Ctrl-C doesn't stop puma and SIGTERM does not work"
Truffleruby version (happens on native with or without JIT too)

[code]

Start command:

[code]

Once the server finally starts, CPU is pegged at about 400% for a few minutes and then drops to ~100% for another few minutes.

Pressing Ctrl-C does nothing--even when pressed multiple times:

[code]

`- Gracefully stopping, waiting for requests to finish` appears when I did `kill 49851`. the last line

[2020-03-03 16:08] bjfish commented on #1936
This is now resolved at https://github.com/oracle/truffleruby/commit/5fd773c7f327cbf2eb2c01a65926816e6bd3cb2b. Thanks.

[2020-03-03 16:08] #1936 closed

[2020-03-03 16:27] alecgorge commented on #1949
FYI, my working around of putting `using Refinements` in the method works on Truffleruby but when run on MRI I get:

[code]

[2020-03-03 17:26] bjfish commented on #1945
This is now fixed at: https://github.com/oracle/truffleruby/commit/a19f208a4cfaaea6f6e3af90df470ce70fec98f8.

[2020-03-03 17:26] #1945 closed

[2020-03-03 19:37] bjfish commented on #1937
This is now implemented at: https://github.com/oracle/truffleruby/commit/26bac3451a39f2bbe009905c8ec0b770195058ed

[2020-03-03 19:37] #1937 closed

[2020-03-03 19:47] eregon commented on #1951
Thank you for the report.

Could you try sending SIGALRM (`kill -ARLM $PID`) to the process after Ctrl+C?
That should dump the Ruby backtraces to `$stderr`.

If running in `--jvm` mode, it would also be helpful if you can run `jstack $PID` and share the output, that gives the Java-level stracktraces.

[2020-03-04 03:15] deepj opened #1952 "truffleruby: an exception escaped out of the interpreter - this is an implementation bug"
To reproduce:

[code]

Error:

[code]

[2020-03-04 16:02] bjfish commented on #1933
This is fixed at https://github.com/oracle/truffleruby/commit/5aff36289241ef132febeb10c26a39eccae50e4b. Thank you.

[2020-03-04 16:02] #1933 closed

[2020-03-04 16:03] bjfish commented on #1928
This is fixed at: https://github.com/oracle/truffleruby/commit/852a9bb3b9abebb463ab1dc4d61d1ada56da563d.

[2020-03-04 16:03] #1928 closed

[2020-03-04 16:04] norswap commented on #1414
@eregon Should we close this?

The message is now identical to MRI safe for punctuation (they use `TypeError: <explanation>`, we use `TypeError (<explanation>)`.

`Kernel#caller` etc have specs on them and should behave as in MRI.

[2020-03-04 18:33] eregon commented on #1952
This is with the nightly builds right?
Probably caused by a `return` at the top-level of a file.

[2020-03-04 18:37] eregon commented on #1414
I'm not sure, we should still think what we can do to make it clearer that it's code part of the core library.

MRI 2.7+ started to use Ruby files in the core library, we should check how they look in the backtraces.

[2020-03-04 19:01] deepj commented on #1952
@eregon In my case

[code]

[2020-03-04 19:28] jaimerave commented on #1951
This is the backtrace I got:
[code]

[2020-03-04 20:34] petenorth commented on #1921
@aardvark179 Fantastic - have just run the specs against the nightly build that includes your fix and the issue has been resolved.

The situation with the specs is now

`3560 examples, 5 failures, 2 pending`

And three of the failures I think are covered by the fix by @eregon for the sha2 issue which just missed the nightly build.

[2020-03-04 20:34] #1921 closed

[2020-03-04 20:40] petenorth commented on #1927
@aardvark179 The issue as described in the issue title is resolved so think this issue can be resolved.

[2020-03-04 20:56] bjfish commented on #1922
This is now fixed at: https://github.com/oracle/truffleruby/commit/ffc8f62e4342d0e14a61b3038b8e4f4bbfd28098.

[2020-03-04 20:56] #1922 closed

[2020-03-04 22:16] bjfish commented on #1946
This is now fixed at: https://github.com/oracle/truffleruby/commit/182c1cf85dd63aa1649e3adbb06da53afbb18e8f

[2020-03-04 22:16] #1946 closed

[2020-03-04 22:17] bjfish commented on #1941
This is now fixed at https://github.com/oracle/truffleruby/commit/1afbac73dac6f8d06ebc16f8e065f2caec181041.

[2020-03-04 22:17] #1941 closed

[2020-03-04 22:34] bjfish commented on #1669
A smaller example which I think reproduces this failure:
[code]
Expected
[code]
Actual
[code]

[2020-03-04 22:49] bjfish commented on #1950
A minimal example:
[code]

[2020-03-05 05:39] tiredenzo opened #1954 "Unable to install rmagick 4.0.0 with TruffleRuby 20.0.0"
Hello,

while trying to

```gem install rmagick -v '4.0.0'```

with

```truffleruby-20.0.0 [ x86_64 ] (rvm osx)```

I get the following stack trace

[code]

Also an Rmagick issue here [#1882],
Thank you

[2020-03-05 09:47] petenorth commented on #1923
Seems to be fixed in

`truffleruby 20.1.0-dev-cdced895, like ruby 2.6.5, GraalVM CE Native [x86_64-linux]`

[2020-03-05 09:47] #1923 closed

[2020-03-05 10:15] petenorth commented on #1758
I no longer have a need to build from source within a Dockerfile since nightly builds are now made available

https://github.com/ruby/truffleruby-dev-builder/releases

Here are some example `Dockerfile` using these nightly builds

`https://github.com/petenorth/bundle-install-memory/blob/master/Dockerfile-rails-truffleruby`

or

`https://github.com/petenorth/schools-experience/blob/master/Dockerfil