[2021-09-09 13:33] eregon commented on #2441
Interesting, for `truffleruby-head` I see
https://github.com/KineticCafe/marlowe/runs/3551721464?check_suite_focus=true
There is no `Reinstall Bundler into /home/runner/work/marlowe/marlowe/vendor/bundle/truffleruby/2.7.3.21.2.0`.
And the Bundler shipped with TruffleRuby 2.1.4 is used for everything including appraisal.
That's partly because setup-ruby doesn't `gem install bundler` on `-head` vers

[2021-09-09 13:33] eregon commented on #2441
@bjfish Could you look into this? Probably the $LOAD_PATH is not correct at some point, maybe related to `-I` options or something else.

[2021-09-09 15:25] djoooooe commented on #2429
Unfortunately, adding this speculation is not as straightforward as shown in the example above, i'll come back to this as soon as my schedule allows

[2021-09-10 20:36] nirvdrum opened #2442 "TRegex DFA DOT data has duplicated state transitions"
This is mostly a TRegex issue, but I can induce it with a Ruby regexp and it ties in with the general work around TruffleRuby regexes I've been doing. Making use of TRegex's `DumpAutomata` feature, I have a generated DOT file that duplicates states and makes the graph overall more difficult to read. I do not know if the states are duplicated during execution as well or if this is just an aesthetic

[2021-09-11 02:05] deepj commented on #2181
😿

[2021-09-11 17:45] gogainda commented on #2230
I guess it's fixed, CI is passing now

[2021-09-11 23:02] gogainda commented on #2230
I was wrong, it's failing but Github Actions shows it as a green one

[2021-09-16 21:37] gogainda opened #2443 "rdoc : SOURCE_DATE_EPOCH is empty"
Noticed that this env variable is not set for Truffleruby

`clone`, `bundle install` rdoc gem and then
epoch.rb:
[code]
MRI Ruby 2.7.1
[code]
Truffleruby head:
[code]

[2021-09-20 14:44] bjfish commented on #2443
@gogainda I was unable to recreate this yet. Could you report the TruffleRuby version `ruby -v`, bundler version `bundler --version` and rdoc project commit `git log -n` so I could try to reproduce this again?

[2021-09-20 14:53] gogainda commented on #2443
sure, here you go:
[code]
[code]

[2021-09-20 17:14] deepj commented on #2181
![Any news](https://media.makeameme.org/created/any-news.jpg)

[2021-09-20 20:11] chrisseaton commented on #2181
As it says above, we're still blocked by oracle/graal#2666.

That's the blocker. That's where you need to ask for progress.

We really appreciate your enthusiasm, but we can't do anything ourselves.

[2021-09-21 10:54] eregon commented on #2443
It looks like RubyGems sets that variable, but probably only some versions of RubyGems: https://github.com/rubygems/rubygems/issues/3081
Do you need that env var for anything or does it cause any failure?

[2021-09-21 11:34] gogainda commented on #2443
Nothing in particular, just noticed the difference

[2021-09-21 16:16] deepj commented on #2181
@chrisseaton I know about that. I was silent the whole time and will be further. I just discovered this meme yesterday. And somehow I immediately connected it to this issue. I just wanted to make a smile on face of members of TruffleRuby team :)

[2021-09-21 16:38] gogainda commented on #2443
@bjfish it is `"3.1.6"`

[2021-09-21 17:52] mauricioszabo opened #2445 "Bigdecimal#to_f always return `0.0`"
In TruffleRuby 21.2.0.1:

[code]

In Ruby:

[code]

[2021-09-21 17:56] gogainda commented on #2445
truffleruby 21.3.0-dev-a52bd0fc, like ruby 2.7.4, GraalVM CE Native [x86_64-darwin]:
[code]

[2021-09-22 10:17] eregon opened #2446 "defined?(yield) should behave like block_given?"
Noticed by @jeremyevans in https://github.com/jeremyevans/roda/runs/3668526326?check_suite_focus=true

[2021-09-22 10:27] eregon commented on #2442
cc @jirkamarsik

[2021-09-23 19:53] bjfish commented on #2446
Here is a minimal case to reproduce:
[code]

[2021-09-24 09:14] fxn commented on #2431
Hey! I have documented this [in the README](https://github.com/fxn/zeitwerk#supported-ruby-versions). I believe it is accurate, but let me know if it should word it in a different way :).

[2021-09-24 10:02] eregon commented on #2431
That looks accurate, I'll try to fix this issue soon.

[2021-09-24 16:00] gogainda opened #2448 "File.utime strips nanoseconds from mtime"
touch orig.rb
touch dest.rb

[code]

[2021-09-24 16:19] eregon commented on #2448
Related to https://github.com/oracle/truffleruby/issues/2337.
I guess the issue here is `utime` not preserving the nanoseconds.

[2021-09-25 12:07] eregon commented on #2446
Fixed by https://github.com/oracle/truffleruby/commit/7e369102a2880c8ae9c49aea0cf021fae5190301, cc @jeremyevans

[2021-09-25 12:07] #2446 closed

[2021-09-26 12:25] eregon opened #2450 "The result of defined?(code) should be frozen"
`defined?` returns `nil` or a String, I consider only when it returns a String here.
It seems on CRuby since a very long time/the start the returned String is frozen:
[code]
On TruffleRuby it's not currently:
[code]

We should add specs for this and change the behavior (e.g., return a cached ImmutableRubyString from the CoreString, or maybe not use CoreString for `defined?` altogether and replace

[2021-09-28 07:36] petenorth opened #2451 "sprintf error"
truffleruby 21.3.0-dev-5e49a731, like ruby 2.7.4, GraalVM CE Native [x86_64-linux]

Started seeing this

[code]

https://github.com/petenorth/schools-experience/runs/3729226773?check_suite_focus=true

From https://github.com/petenorth/schools-experience/blob/58a3e32fb82a69fdcbd6954e4a42da4c322fe9c0/app/services/bookings/gitis/event_logger.rb#L26

[2021-09-28 10:19] gogainda commented on #2451
related to https://github.com/oracle/truffleruby/issues/2436

[2021-09-28 10:49] eregon commented on #2451
@aardvark179 Could you take a look?

[2021-09-29 13:12] bjfish commented on #2450
This is fixed at https://github.com/oracle/truffleruby/commit/fdbe239a2f753eabfda89e8f389638066560d822

[2021-09-29 13:12] #2450 closed

[2021-09-29 13:13] bjfish commented on #2448
This is now fixed at https://github.com/oracle/truffleruby/commit/605d5b84cf222e6592050c410f6e47895f07b1da.

[2021-09-29 13:13] #2448 closed

[2021-10-01 11:09] eregon opened #2452 "Object.constants includes :fatal"
Found by @fniephaus

And so `Object.constants.collect { |x| Object.const_get x }` fails with `wrong constant name fatal`.

We should filter out constants with a lowercase name for Module#constants.

Avoiding attaching fatal as a constant of `Object` doesn't seem a proper fix because I think it can be queried from C exts, and on CRuby (on TruffleRuby too) there are also namespaced lowercase constan

[2021-10-05 13:10] eregon opened #2453 "Ruby 3.0 support"
We plan to work on Ruby 3.0 support for the next release, TruffleRuby/GraalVM 22.0.

Any help is appreciated whether it is:
* implementing one of the Ruby 3 changes in TruffleRuby, and ensuring it is tested in specs or MRI tests and otherwise add specs
* adding specs for Ruby 3 changes, which is best done in ruby/spec directly, see https://github.com/ruby/spec/issues/823

See this comment: https:/

[2021-10-05 15:32] eregon commented on #2453
I'll start by importing the CRuby 3.0.2 files and report here when done.

[2021-10-05 18:06] chrisseaton opened #2455 "Redundant null guards"
After #2454, for this test program

[code]

We get this load and null guard:

<img width="900" alt="Screenshot 2021-10-05 at 19 03 14" src="https://user-images.githubusercontent.com/341094/136078478-1b139566-0791-4f06-ba11-80fcf0b103f9.png">

But that load is from:

[code]

[2021-10-05 18:08] chrisseaton commented on #2455
Note that the null check actually comes from later code:

[code]

But why isn't the result of the load constant? Or stamped as non-null?

[2021-10-05 18:18] chrisseaton commented on #2455
I guess I figured it out - there is nothing that knows about the aggregate contents of the array - nothing to track that no entries are null. So this is a good example of what do we do here if we don't have unsafe stamp injections?

[2021-10-05 18:53] eregon commented on #2455
The index is not a PE constant here, hence the field read is still in the code and not folded.
And indeed there is nothing tracking "are all entries non-null".
Of course `@CompilationFinal` only has effect on PE and nothing else.

Maybe PE could do this when it sees a load from a `@CompilationFinal` array with a variable index.
But it would be unsafe because technically anything could write a `nul

[2021-10-05 18:57] eregon commented on #2455
I guess one possible way is PE would take a private copy of that array, and somehow embed it in the generated code (if it's not too big, 100 elements is already not so small). But the increased footprint and complexity (also on the semantic model of PE) would likely not be worth it.

Part of the confusion might be that the graph shows the array's content, but that's only the contents at the time o

[2021-10-05 19:02] chumer commented on #2455
I don't have an idea how to do this safely without requiring a wrapper for the Object[]. If that is acceptable then we can expose a primitive for that. We can leave it open for subclasses, that will probably be needed.

Note that some Truffle framework classes actually use unsafe stamp injection. But we are extremely conservative in where we use it. I will object to exposing unsafe stamp injection

[2021-10-05 19:03] chrisseaton commented on #2455
I can probably manually restructure to avoid this null check in this case.

It's an example of where there may be a requirement.

What's your idea for wrappers, Christian?

[2021-10-05 19:07] chumer commented on #2455
Some class in Truffle:

[code]

But I fear the cost of the additional indirection will eat the benefit of getting rid of the null check.

[2021-10-05 19:09] eregon commented on #2455
That would only be a cost in the interpreter, in PE code it'd be the same, at least for this use case (the array is stored in a `static final` field of RopeConstants.
`NonNullArray` sounds like a good approach to me.

[2021-10-05 19:12] chumer commented on #2455
@eregon feel free to propose it.
You can access the injection with Engine|Instrument|Utilities|LanguageAccessor.RUNTIME.unsafeCast

[2021-10-05 19:31] eregon commented on #2455
One trade-off in this case though with that wrapper is we'd have a class check when reading to cast Object -> LeafRope.
Probably it's avoidable if we also pass the class to the constructor (and then internally use a LeafRope[] or use the unsafeCast to inject the class as well).

[2021-10-05 19:47] chumer commented on #2455
@eregon we could do the same by storing a Class<?> in the array wrapper and check any value that would flow in.

[2021-10-05 19:48] chumer commented on #2455
No. If your array is read-only you should use a @CompilationFinal(dimensions=1) Object[] array.

[2021-10-05 19:51] chumer commented on #2455
Btw.: This is related to what the Static Object Model can do for you too. You can create an object descriptor and any read from a field will have the property type unconditionally without check on the field read result. Only the receiver needs a type check.

[2021-10-05 23:42] chrisseaton commented on #2453
@wildmaples and I can handle keyword argument as part of our current work. Do you want to note that down to avoid conflict?

[2021-10-06 07:25] petenorth commented on #2451
This seems to have been fixed in

truffleruby 22.0.0-dev-641865bc, like ruby 2.7.4, GraalVM CE Native [x86_64-linux]

[2021-10-06 09:36] eregon commented on #2453
OK, I added you in the description for  keyword arguments-related changes.
That's probably the easiest way to keep track, but we could also use the wiki or a spreadsheet if that's more convenient.

[2021-10-06 10:01] eregon commented on #2455
But then you need both this wrapper if the index is not PE constant and that `@CompilationFinal` copy if the index is PE constant (both in memory all the time), and you need to choose the proper one for each access for efficiency.
The array here is already `@CompilationFinal(dimensions=1)` but it's not enough to avoid the null check (when the index is not PE constant).

In this case the index is p

[2021-10-06 10:28] #2451 closed

[2021-10-06 14:45] chrisseaton opened #2458 "Basic remainder operations are incredibly complicated"
[code]

<img width="628" alt="Screenshot 2021-10-06 at 15 33 11" src="https://user-images.githubusercontent.com/341094/136225142-57e00d8c-76d3-4922-bba7-52650ad93c5f.png">

[code]

Relates to https://github.com/oracle/graal/issues/3866 but that's a small part of the problem.

[2021-10-06 15:29] chrisseaton commented on #2458
Maybe if we try a super-optimizer there's some sequence of instructions that does this more simply?

[2021-10-06 20:27] rubyFeedback commented on #2458
Off topic but ... how did you create that nifty image? That looks really nice.

[2021-10-07 09:55] eregon commented on #2458
"incredibly complicated" as in it's two branches + the actual native modulo.
The native modulo is `idiv`, i.e., it's not cheaper than division and so I guess that would take most of the time.

Typically the RHS of a modulo would be constant and then it's just one guard:
![Screenshot from 2021-10-07 11-55-03](https://user-images.githubusercontent.com/168854/136362450-0a73e909-b2f9-48ba-90fa-247a7d5

[2021-10-08 12:26] eregon commented on #1391
I've got a fix for `Float#<=>` and it reliably returns the same result as CRuby, I guess Ruby's sort is stable at least when no element needs to move.

[2021-10-08 15:03] gogainda opened #2462 "Unicode instance variable names are not supported"
[code]

[2021-10-09 14:02] gogainda commented on #2453
@eregon I would like to try some easy java task

[2021-10-10 10:45] eregon commented on #2453
@gogainda Then any task which is `easy` but not `pure ruby` should fall into that category.
You can just choose and mention it here.
Here is one I spotted from a quick look, feel free to pick that one or another:

[2021-10-10 15:57] gogainda commented on #2453
@eregon thanks, lets assign it to myself then

[2021-10-13 11:36] eregon commented on #2436
This was fixed by @aardvark179 in https://github.com/oracle/truffleruby/commit/a52bd0fcf2848ed70e79aba9930f7c5f040fd18d

[2021-10-13 11:36] #2436 closed

[2021-10-13 11:37] eregon commented on #2441
This was fixed by @bjfish in https://github.com/oracle/truffleruby/commit/54ccd51818c34648acfafeb87e0a2a7474961361

[2021-10-13 11:37] #2441 closed

[2021-10-15 19:12] djberg96 opened #2503 "Array#pack('h') discrepancy"
Given `[0].pack('h')`, Ruby and JRuby raise an error:

`<internal:pack>:134:in 'pack': no implicit conversion of Integer into String (TypeError)`

While TruffleRuby 21.2.0 returns "\x00"

[2021-10-16 00:30] djberg96 opened #2504 "Array#pack('g') failure with bignum"
truffleruby 21.2.0, like ruby 2.7.3, GraalVM CE Native [x86_64-darwin]

[code]

[2021-10-18 09:21] eregon commented on #2504
Thank you for the report.
@aardvark179 Could you look into this?

[2021-10-18 21:00] Strech commented on #2453
Hey @eregon I've checked this one item `[easy, ruby-only] The following methods now return Array instances instead of
subclass instances when called on subclass instances:` and it seems that everything is already working for `3.x` as expected.

[code]

So I think it should be ticked as done.

[2021-10-20 10:24] ojab opened #2511 "`TypeError` on `require 'digest/sha2'`"
[code]

[2021-10-20 15:17] ojab commented on #2511
ah, quite easy, `Gemfile.lock` has digest-3.0.0, so
[code]

[2021-10-20 15:19] ojab commented on #2511
I guess could be https://github.com/oracle/truffleruby/issues/1390 duplicate?

[2021-10-29 14:53] eregon opened #2519 "RbConfig::CONFIG["WERRORFLAG"] is not set"
[code]

From https://github.com/puma/puma/pull/2732#issuecomment-954801643
@bjfish  Could you take care of that?

[2021-10-29 20:41] bjfish commented on #2519
This is resolved at: https://github.com/oracle/truffleruby/commit/f709b810385454a589febfb6ecd25f89932a3543

[2021-10-29 20:41] #2519 closed

[2021-11-01 16:44] HoneyryderChuck opened #2520 "StringScanner: undefined method `captures'"
How to reproduce:

[code]

`StringScanner#captures` exists at least since ruby 2.4 . I don't know exactly why it isn't there, as I thought this part of the stdlib was shared with truffleruby, but I might be wrong.

[2021-11-01 18:01] eregon commented on #2520
`strscan` is a pure-Ruby stdlib for TruffleRuby: https://github.com/oracle/truffleruby/blob/master/lib/truffle/strscan.rb (it's also a default gem)
That's probably faster, has less indirections than going through a C extension to match Regexps, and some of the Regexp C-API used by that extension might not be supported yet.

@HoneyryderChuck Would you like to make a PR to add `StringScanner#capture

[2021-11-02 00:44] HoneyryderChuck commented on #2520
Makes sense, I honestly thought it was using the CRuby C extension version, but I guess this version is more JIT able.

I can't commit this time with a patch, sadly.

[2021-11-02 02:34] postmodern opened #2521 "Incorrect exception message for exceptions that inherit from Errno exceptions"
I noticed that TruffleRuby deviates from CRuby when an exception inherits from an Errno exception. The inherited Errno message (ex: `No such file or directory`) becomes lost.

## Example

[code]

### CRuby (3.0.2)

[code]

### TruffleRuby (21.3.0)

[code]

[2021-11-02 12:35] eregon commented on #2521
Thanks for the report.

@bjfish Could you look into this?
I think this condition is problematic: `if error && error.class.equal?(self)` and I guess we need to pass the `self` (the exception class) to `SystemCallError.errno_error`. The other usage of `SystemCallError.errno_error` doesn't know the correct class so we should probably split the logic to map errno->class to a separate Primitive.

[2021-11-02 12:37] eregon commented on #2521
Actually it might already work by changing `error.class.equal?(self)` to something like `Primitive.object_kind_of?(error, self)` since there is a `super(*args)` call which might deal fine with such cases.

[2021-11-03 09:17] entlicher commented on #2271
The breakpoint issue was resolved in GraalVM 21.3.0. The path issue is visible on the video - there are two sources named App.rb opened in the editor.

I've verified that with GraalVM 21.3.0 and the latest GraalVM extension 0.5.13 Ruby debugging works as expected.

The output issue needs to be fixed in the Ruby language implementation and there is an internal issue for it.

[2021-11-03 09:17] #2271 closed

[2021-11-03 09:20] entlicher commented on #2271
FYI, you may use `--polyglot-stdio` option as a workaround to get output to the Debug Console.

[2021-11-03 17:35] eregon commented on #2520
Fixed in 417feca9a4e32e303fc8cc9429b31a9fab08c4ca.

[2021-11-03 17:35] #2520 closed

[2021-11-05 16:32] eregon commented on #2349
This is documented in https://github.com/graalvm/container/blob/master/truffleruby/README.md now, and that's linked from the TruffleRuby README.

[2021-11-05 16:32] #2349 closed

[2021-11-05 16:49] eregon commented on #2157
This works and is simplest:
[code]

The default image is OracleLinux 8 now, and that installs `postgresql-server;10.17-1`.

If you need a specific postgres version different than the system it's possible like:
[code]
and that works except the last step because we need to tell `pg` where to find the postgres since they are not in standard locations.

[2021-11-05 16:49] #2157 closed

[2021-11-05 19:54] bjfish commented on #2342
I think this is implemented since the spec/test here are passing:
https://github.com/ruby/ruby/pull/3795/files#diff-184b163e2d8d9c8d74755a749a8d21df6692d2af454e60d3a747fcc18cfbc2faR81

Additional fiber transfer for Ruby 3 was implemented here:
https://github.com/oracle/truffleruby/commit/d59b3fb70a8b125335a75a06963c2b772ab6f076

Additional Ruby 3 Fiber methods are still work in progress as tracked

[2021-11-05 19:54] #2342 closed

[2021-11-05 21:30] bjfish commented on #2521
This is now fixed at https://github.com/oracle/truffleruby/commit/5776ef65c7fa5c2edbddc6c49593de3f507c8637.

[2021-11-05 21:30] #2521 closed

[2021-11-06 12:43] eregon commented on #2434
We updated to Ruby 3 and currently ship Bundler 2.2.22 like CRuby 3.0.2.

That has the issue with `sorbet-static` (https://github.com/rubygems/rubygems/issues/4588).
So either we patch Bundler to include [that one-line fix](https://github.com/rubygems/rubygems/pull/4625/files#diff-3ada38090bec028614dcf46678cd1dbf7ef8918a69f00b2f0a1c18ebe0b48fc3R198) or we ship a newer Bundler.

Newer Bundler might

[2021-11-07 14:06] nirvdrum opened #2524 "Implement C API methods for OpenSSL 2.2.1"
It's not possible to install OpenSSL 2.2.1 with any released version of TruffleRuby or with the current dev version. This will show up as an error about `rb_str_locktmp` not being implemented:

[code]
The relevant commit in the OpenSSL extension is https://github.com/ruby/openssl/commit/d38274949f4a504c046a00a76ec33aff006e12a8. The full set of changes is https://github.com/ruby/openssl/compare/v2.

[2021-11-08 11:09] eregon commented on #2325
This will be addressed once Fibers are based on Loom. Until then it's documented, so I think we can close this issue.
I added a micro benchmark to measure Fiber creation time.

[2021-11-08 11:09] #2325 closed

[2021-11-08 11:48] eregon commented on #2524
The repro is actually a bit more complex, installing openssl 2.2.1 works fine, but then using it breaks:
[code]
`openssl` is a default gem so the latest version is always picked (unless running under bundler, but e.g. `bundle install` is not run under bundler)

@bjfish Could you look to support those 2 functions?
We should implement `rb_str_locktmp`, `rb_str_unlocktmp` and check that boolean flag

[2021-11-08 15:52] eregon commented on #2434
Fixed in 8fa22dca3336e970bacf116861515ab41fd22027 by adding a patch which includes the fix for `sorbet-static` and similar.

If you need a minimum Bundler version I would advise to have some dynamic check e.g. in the Gemfile or application that the minimum version is met.

[2021-11-08 15:52] #2434 closed

[2021-11-09 23:51] bjfish commented on #2524
@nirvdrum This is now implemented at https://github.com/oracle/truffleruby/commit/de750267b55c073bc0092f2d6c52f808b779ef6f.

[2021-11-09 23:51] #2524 closed

[2021-11-10 14:52] YU5Z8X2CvH1fv4ep opened #2525 "After debugging and modifying the source code, how to replace the current running code？"
After modifying the debugged code in chromedebuger  during debugging
, how to replace the current running code？

[2021-11-10 15:32] eregon commented on #2525
I'm not sure what you mean.
Can one even edit code in the Chrome Debugger?
If so, you'd need to save the file, and to relauch truffleruby from the command line.

Because it's Ruby it's also possible to change methods and eval code which redefines the method, but I expect the chrome debugger does not have builtin support for that besides being able to eval a snippet of code.

Does that answer your

[2021-11-10 18:30] Strech commented on #2453
If no one mind will take this one to check

[2021-11-10 18:38] eregon commented on #2453
Go ahead :)

[2021-11-11 02:19] YU5Z8X2CvH1fv4ep commented on #2525
Can the source code be modified during debugging and then the call stack can be restarted? Do you know Java's hot code replacement feature?

[2021-11-12 02:51] YU5Z8X2CvH1fv4ep opened #2527 "when i call java object,how can i get code complete?"
when i call java object,how can i get code complete? my ide is vscode.

like this.
[code]

![image](https://user-images.githubusercontent.com/57204004/141400981-59b3dde6-f6bd-4bcc-8035-d5c6cd1cf21b.png)

please help me , thanks !

[2021-11-12 03:36] YU5Z8X2CvH1fv4ep opened #2528 "Is there a code example that implements the java interface (multi-method java interface)?"
Is there a code example that implements the java interface (multi-method java interface)?

https://github.com/oracle/truffleruby/blob/master/doc/user/jruby-migration.md
I only saw the documentation of the method that implements a single-method interface. How should I write to implement a multi-method interface?

please help me , thanks !

[2021-11-12 03:54] YU5Z8X2CvH1fv4ep commented on #2528
i find the way .

[code]

java

[code]

[2021-11-12 03:55] #2528 closed

[2021-11-12 08:24] eregon opened #2529 "Both -"string" and "string".freeze should be done at parse time"
Both `-"string"` and `"string".freeze` (only for literal strings) are done at parse time on CRuby.

On CRuby redefinition of these methods is also checked (I thought it was not):
[code]
But IIRC from the CRuby discussion it's also fine to not check redefinition here, and I think it's not worth the complexity.

On TruffleRuby I think only `"string".freeze` is done at parse/translation time.
Both ar

[2021-11-12 09:06] eregon commented on #2525
Editing files in the Chrome Inspector/Debugger does not seem supported yet, when I edit the file and try to save it I get:
![Screenshot from 2021-11-12 09-55-35](https://user-images.githubusercontent.com/168854/141439525-c1b89ed4-413c-4d84-a45c-d9e81570fb09.png)
In any case I would never expect that to work for the current session, because saving the file would only affect the next run, like a reg

[2021-11-12 09:17] eregon commented on #2525
Using VS Code works well, one can simply eval code by using the `DEBUG CONSOLE` tab:
![Screenshot from 2021-11-12 10-13-13](https://user-images.githubusercontent.com/168854/141441834-087bb371-b89f-4972-a23e-35e8cce3aa9d.png)

I think that answers your questions so I'll mark this issue as closed.
Feel free to ask further if it's not clear though. In that case, please provide an example and explain

[2021-11-12 09:17] #2525 closed

[2021-11-12 09:34] eregon commented on #2443
It's not set on CRuby 3.0.2 either, let's close this as it doesn't seem to cause any incompatibility in practice, and rather seems a side effect of using a specific non-default RubyGems version.

[2021-11-12 09:34] #2443 closed

[2021-11-12 09:36] eregon commented on #2445
I cannot reproduce, even on 21.2.0.1:
[code]

And 21.3 works fine too:
[code]

Are you using a specific non-default bigdecimal version?

[2021-11-12 09:37] eregon commented on #2445
It also works fine using the latest bigdecimal gem installed with `gem i bigdecimal`:
[code]

[2021-11-12 09:37] #2445 closed

[2021-11-12 09:44] eregon commented on #2511
Sorry, I missed your reply somehow.

That repro works correctly now (no output and no error), because TruffleRuby master already ships with digest 3.0.0 as a default gem.

`gem i digest` fails though:
[code]

In general it's probably better to avoid an explicit dependency on the digest gem, but I guess maybe it's through a transitive dependency or so?

We'll likely need fixes in https://github.com

[2021-11-12 10:08] eregon commented on #2511
After setting `sitehdrdir` in RbConfig and fixing the check for `rb_path2class()` it works fine:
[code]

[2021-11-12 10:11] ojab commented on #2511
Yep, it's transitive via updated net-smtp that we need for https://github.com/ruby/net-smtp/pull/26.

So I guess it's a minor incompatibility issue with particular cext at the end of the day?
Bailing out in truffleruby-dev looks fine, but building ext and bailing out on require in 21.3 looks like a truffleruby bug for me.

If it would work — even better, anyway.

[2021-11-12 10:30] eregon commented on #2511
Yeah, that's a fair assessment, it was a bug of `rb_path2class()` to only accept classes and not modules.

Regarding the issue label/changelog, compatibility is typically used for "didn't work yet" and bug for incorrect behavior which can cause incorrect result.

[2021-11-12 10:31] eregon commented on #2511
To clarify, it'll be fixed soon and it will be in the next release.

[2021-11-12 10:34] eregon commented on #2527
Does https://www.graalvm.org/tools/vscode/graalvm-extension/#ruby-language-server work for you?
I think you need the language server and probably solargraph too for completion to work.

@entlicher what are the requirements for completion to work (based on runtime information)?

[2021-11-12 17:18] #2511 closed

[2021-11-13 21:56] gogainda opened #2531 "Kernel#print doesn't print $_ when no arguments are given"
[code]
per manual it should work as -p but currently it doesn't work

[2021-11-15 01:33] YU5Z8X2CvH1fv4ep commented on #2527
I want to get the function in the java object in ruby code

[2021-11-15 11:40] eregon commented on #2531
It works with `seq 100 | ruby -ne 'print $_'`.
So it seems `print` with no args prints `$_` in CRuby?

Ruby without `-n` has the same behavior:
[code]

Note that `$_` is nil by default and `print nil` prints nothing, so I guess it doesn't matter whether `$_` is set or not, if `print` has no arguments, then pretend the argument was `$_`.

[2021-11-15 12:05] eregon commented on #2527
`foreign.methods` already lists foreign methods, in addition to Ruby methods available on it.
So you can `puts frame.methods` to set the list.
Did you install solargraph, does completion work on regular Ruby objects?

(and `foreign.instance_variables` lists the fields of the foreign object.)

[2021-11-15 14:41] eregon commented on #2527
I can reproduce the issue.

After installing the solargraph extension, and then `gem install solargraph` on truffleruby and in the solargraph settings set the `Solargraph: Command Path` to an absolute path to `.../bin/solargraph` next to `bin/truffleruby`, then Ruby completion works.

However when trying to complete `frame.m` it fails.

I suspect solargraph doesn't trust overrides of `#methods`, b

[2021-11-15 15:07] eregon commented on #2527
`foreign.method(name)` is not supported yet, but we could probably add support for that.
I guess solargraph wants to know the name of the module where the method is define for instance.

[2021-11-16 14:37] bjfish commented on #2531
@gogainda This is now fixed at https://github.com/oracle/truffleruby/commit/82c9521e06f758a9f1064ddacde71f83727d4cca.

[2021-11-16 14:37] #2531 closed

[2021-11-17 20:18] eregon commented on #2527
It seems the GraalVM LSP support could handle this.
However for host interop specifically it seems difficult, because the way completion works is it runs in a Context with basically no permissions, including no access to host interop.

Static analysis might work for this particular case, but it would need some work in solargraph.

[2021-11-18 01:52] YU5Z8X2CvH1fv4ep commented on #2527
It makes sense to complete the code at the compilation stage. Completion is very important for this project. If the IDE cannot provide a comfortable and smooth development process, truffleruby will be difficult to popularize. Truffleruby is a great project, I hope this problem can be Fix it as soon as possible, thanks to truffleruby team

[2021-11-18 09:29] eregon commented on #2527
What do you mean by compilation stage?

I see only two approaches for code completion: static analysis like solargraph does, or actually running the program in a sandbox, which I think the GraalVM LSP can do.
The second approach seems problematic here, because e.g., you wouldn't want a JFrame to pop up on screen when doing code completion (and it won't since host interop is not allowed, but it cou

[2021-11-19 01:39] YU5Z8X2CvH1fv4ep commented on #2527
I mean static analysis. Haha, sorry, my first language is not English.

[2021-11-19 16:31] eregon opened #2535 "GC.stat({}) doesn't work"
From https://github.com/Shopify/gctime/pull/1#issuecomment-974125795, found by @casperisfine
@bjfish Can you fix it?

[2021-11-19 16:36] eregon commented on #2535
Let's also implement `GC.total_time` and `GC.measure_total_time/=` (does nothing) while we're at it, so https://github.com/Shopify/gctime needs to do nothing then.

[2021-11-19 16:38] casperisfine commented on #2535
❤️

[2021-11-19 18:38] Strech commented on #2453
Going to take a look into this one

a non-empty value, and the standard input and output are tty, the --help
option shows the help message via the pager designated by the value.
[Feature #16754]

[2021-11-19 19:01] eregon commented on #2535
@bjfish Spec added in https://github.com/ruby/spec/pull/900 :)
(you can just copy the file for the truffleruby PR and it'll just noop when upstreaming)

[2021-11-19 21:54] dishcandanty opened #2536 "File read is dramatically slower"
Been experimenting with truffle. Honestly don't really know what specifically I should be looking for. But in one of the scripts I was playing with I noticed it was quite slower. Its more than just the `File.read`, but this was the easiest one to show.

Am I missing something? Or is something like this just a bad usecase for truffle?

[code]

[2021-11-20 17:35] eregon commented on #2536
Thank you for the report.
This is not expected, it should be about the same speed for reading the file itself.

Could you share the size of that file?
And maybe how it was generated, or whether it consists only of US-ASCII characters, or also other characters?

`File.read` will read as the locale encoding, typically UTF-8, which may occur some overhead.
It would be interesting to try `File.binread

[2021-11-21 18:53] chrisseaton opened #2537 "Core file paths aren't clickable in a terminal"
[code]

Is it possible to turn on full or relative paths, so I can click these paths in my terminals?

[2021-11-22 12:58] eregon commented on #2537
They are designed to:
* Always look the same, so the backtrace are consistent and can be tested meaningfully
* Clickable in IntelliJ

If we'd just print an absolute paths like in the past, we'd e.g. break tests relying in backtrace and various gems which might rely on the `<internal:` prefix.

File paths are never clickable in my terminal (Gnome Terminal), so I'm not sure what you expect.
If you m

[2021-11-23 02:34] YU5Z8X2CvH1fv4ep opened #2538 "how can i use TruffleRubyScriptEngine?"
what is org.truffleruby.services.scriptengine.TruffleRubyScriptEngine.class ? i cant find it Constructor . how can i use TruffleRubyScriptEngine? is there any help docment?

![image](https://user-images.githubusercontent.com/57204004/142963299-52faa224-b8db-4d34-bf94-710fbac30d27.png)

[2021-11-23 11:40] eregon commented on #2538
It's meant to be used like a ScriptEngine: https://docs.oracle.com/javase/8/docs/technotes/guides/scripting/prog_guide/api.html
You should not attempt to instantiate it yourself but use `ScriptEngineManager#getEngineByName("ruby")`.

The Context/Engine API is much preferred though, so please use that instead.
That's documented on https://www.graalvm.org/.
We might remove TruffleRubyScriptEngine in

[2021-11-23 11:40] #2538 closed

[2021-11-23 12:39] chrisseaton commented on #2537
In VSCode I can click on Ruby file's mentioned in terminal output to open them. That doesn't work with core, as VSCode thinks the file doesn't exist (as it doesn't at this location) so doesn't make it clickable.

<img width="1294" alt="Screenshot 2021-11-23 at 12 36 57" src="https://user-images.githubusercontent.com/341094/143025357-a62d72eb-9add-42d5-a361-d3c3a5bde4c9.png">

[2021-11-23 13:05] eregon commented on #2537
I see, then we could try `<internal:core> relative path from initial CWD` or `<internal:core> absolute path`.
The latter might be fairly long and hard to read.
The former depends on initial CWD, which can be weird (e.g., the relative path might include `..`).

They are both not stable paths (depends on CWD or location of the truffleruby checkout), hence the current approach seems best by default,

[2021-11-24 00:57] YU5Z8X2CvH1fv4ep commented on #2538
thanks

[2021-11-24 02:53] YU5Z8X2CvH1fv4ep opened #2540 "The require statement cannot be run in java context eval( )"
my java code:
[code]
TestInterFace.java
[code]

ruby code:

[code]

testImport.rb code
[code]

files in target/
![image](https://user-images.githubusercontent.com/57204004/143162945-8d90b2b1-89fd-44f4-940d-43f7240cf4af.png)

when i run code. i get a error

[code]

how to fix it ? please help me .

[2021-11-24 03:02] YU5Z8X2CvH1fv4ep commented on #2540
Does the context have to execute(eval) the imported ruby ​​file before it can be used

[2021-11-24 11:54] eregon commented on #2540
`require 'file.rb'` never looks in the current working directory in Ruby, you need either `require_relative` or `require './file.rb'` (only works with the correct working directory of course).

In general you should probably put both files in the jar or both files on the filesystem for simplicity.
I would avoid putting Ruby files in the `.jar` as that's simpler if it's not necessary (there is no w

[2021-11-24 15:27] YU5Z8X2CvH1fv4ep commented on #2540
ok ! thanks for your team!

[2021-11-24 21:40] bjfish commented on #2535
These issues are now fixed at https://github.com/oracle/truffleruby/commit/91546e7a81599a9d7d1c50248f10cbbb10e8290e.

[2021-11-24 21:40] #2535 closed

[2021-11-26 09:57] postmodern opened #2541 "Empty splatted keyword arguments are not ignored"
TruffleRuby attempts to support 2.7.4, but I noticed a difference in behavior with the splatting of keyword arguments when calling `super`. It appears that splatting `{}` as keyword arguments to a `super` method, TruffleRuby treats the empty Hash as an actual argument, instead of omitting it.

## Examples

[code]

### ruby 2.7.4

[code]

### truffleruby 21.3.0

[code]

## Version Information

* `t

[2021-11-26 10:51] eregon commented on #2541
This is an expected difference, such code is anyway broken on 2.6 and on 2.7 (https://eregon.me/blog/2021/02/13/correct-delegation-in-ruby-2-27-3.html, https://github.com/oracle/truffleruby/issues/2260).
Delegating keywords via `**kwargs` is only correct on Ruby 3+.

[2021-11-26 10:51] #2541 closed

[2021-11-27 04:01] dishcandanty commented on #2536
It was a log file, don't have the exact file to compare with anymore. But there shouldn't have been any special characters.

[code]

[code]

[2021-11-29 18:23] aardvark179 commented on #2536
Thank you for the report. I’ll try and profile where the time is being spent, there are a few areas that we know could be optimised, but I’d be surprised if they add up to enough overhead to be the sole cause of the problem.

[2021-11-30 15:42] aardvark179 commented on #2536
Okay, running this through `strace` I see that for reading a file like this MRI short circuits a lot of its own normal machinery, and just reads the _entire_ file in one go. If you try profiling this under TruffleRuby most of the time is reported as being spent on string concatenation (because we do smaller reads, and then join the strings together), but this is actually an artefact of the way our

[2021-12-03 18:16] aardvark179 commented on #2536
Right. I've got some draft changes that speed up IO by between 2 and 4 times, depending on exactly how you build TruffleRuby. I'm not ready to turn these into a PR because they need a little more work (reading 1GB files should not leave us with 1GB buffers sitting around for the lifetime of the thread which did it), and I think there is also so extra speed to be gained by combining some operations

[2021-12-05 23:47] chrisseaton commented on #2181
To build and run using Rosetta on an M1 machine:

* Create a copy of Terminal, open properties, and set it to open using Rosetta
* Using this Terminal:
* Install Homebrew (again, if you've already installed it, it'll go into `/usr/local/homebrew` this time)
* Don't forget to now use `eval "$(/usr/local/homebrew/bin/brew shellenv)"` instead of what you had before
* Install `cmake` and `openssl@1.1`

[2021-12-06 15:25] eregon opened #2544 "Support rescuing foreign exceptions"
Reported by @jylamont in https://graalvm.slack.com/archives/CMY63522F/p1637250173107100

Like `rescue Java.type('org.foo.SomeException')`.

`rescue Java.type('org.postgresql.util.PSQLException')` should work but it does not currently.

---

It's unclear if a lone `rescue` should rescue foreign exceptions.

JRuby behavior seems to treat StandardError specially as an ad-hoc way to support lone `resc

[2021-12-07 15:34] aardvark179 commented on #2503
Sorry for the slow reply on his. It looks like a very easy fix, but we also seem to be lacking a lot of tests for `Array#pack` error case, so I think should add those while we're at it.

[2021-12-07 21:40] nirvdrum commented on #2439
I'm just circling back to this. We made some big improvements to regex processing that should ship in TruffleRuby 22.0.0. Running benchmarks on a native Ryzen 3700X system with Ubuntu 21.04, TruffleRuby's execution of ActiveSupport's `String#blank?` was ~5x the speed of _fast\_blank's native extension with MRI 3.0.3. We should still make this extension run faster, but as Sam suggested, it might ju

[2021-12-08 14:02] aardvark179 commented on #2504
Thanks for this one. It's not just bignums that aren't being handled here, it appears rationals should also be converted.

[2021-12-08 17:41] chrisseaton commented on #2181
[code]

[2021-12-08 17:52] nirvdrum commented on #2181
Not having to invoke another process would be preferable, but that `$CPUTYPE` variable looks to be a zsh thing (and it doesn't show up in `env` output -- odd). I don't see it set in either bash or fish.

[2021-12-12 16:53] gogainda opened #2545 "incompatible character encodings: UTF-8 and ASCII-8BIT"
MRI Ruby :
[code]

Truffleruby latest:
[code]

[2021-12-13 17:35] jeremyevans opened #2546 "Remove Hash#index and make Hash#__store__ private"
Looks like `Hash#__store__` and `Hash#index` are public in TruffleRuby.  CRuby dropped `Hash#index` in 3.0, so I assume TruffleRuby should do the same now that you target CRuby 3.0.  I'm guessing it's a bug that `Hash#__store__` was ever public?  I noticed this due to a CI failure: https://github.com/jeremyevans/ruby-cicphash/runs/4487049153?check_suite_focus=true#step:4:15.

[2021-12-13 17:47] bjfish commented on #2546
@jeremyevans Yes, this is a bug. I'll look into removing these methods.

[2021-12-14 13:34] eregon commented on #2545
It looks like `String#[]=` should negotiate an encoding and not just check there are compatible.
`key = "\x00"*2` is UTF-8, `[0xB9].pack("C*")` is BINARY.

Not clear why one of the orders works.
@bjfish Can you take a look?

[2021-12-14 15:28] eregon opened #2547 "Doubly-weak semantics for ObjectSpace::WeakMap"
I discussed with @byroot and we tried to find out if it's possible to implement the ObjectSpace::WeakMap semantics like CRuby does it.
It's "doubly weak" which means both the keys and values are weak.
If any key becomes unrechable, the entry is removed (or considered removed).
If any value becomes unrechable, the entry is removed (or considered removed).

One idea would be to start with something

[2021-12-14 17:46] bjfish commented on #2546
@jeremyevans This is now fixed at https://github.com/oracle/truffleruby/commit/4b4c2521cb206bca1bff0c3ea2b57263043c8a11. Thanks!

[2021-12-14 17:46] #2546 closed

[2021-12-14 19:58] HoneyryderChuck opened #2548 "SIGKILL on gitlab CI"
Hi,

The truffleruby build of [rodauth-oauth](https://gitlab.com/honeyryderchuck/rodauth-oauth) started failing out of the blue (I have set up monthly automated builds, this was [the last successful one](https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/1624266723), this was the [first failing one](https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/1783287910), there were no changes in

[2021-12-15 12:04] eregon commented on #2548
I don't see any `--vm.Xmx2g` in this log, where is it set?
https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/1883707290

Both failing runs seems to be on truffleruby 21.3.0 and the passing one on truffleruby 21.2.0 (based on 2.7.3 vs 2.7.4 compat).
It would be useful to show a `ruby --version` to make this clearer.

The SIGKILL seems most likely thrown by the the gitlab CI or the container,

[2021-12-15 13:12] HoneyryderChuck commented on #2548
https://gitlab.com/honeyryderchuck/rodauth-oauth/-/blob/truffleruby-debug/.gitlab-ci.yml#L101

https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/1887938622#L212

https://gitlab.com/honeyryderchuck/rodauth-oauth/-/jobs/1887938622#L213

(I'm not sure what you mean by  "inside and outside". If you mean "outside of the container", I'm not sure I can do that in aa docker executor).

[2021-12-15 15:03] deivid-rodriguez opened #2549 "Truffleruby-head CI started failing for rubygems"
I didn't have time to investigate it but I thought I would at least report it!

Here's our daily CI page: https://github.com/rubygems/rubygems/actions/workflows/daily-rubygems.yml.

[2021-12-15 15:28] eregon commented on #2549
https://github.com/rubygems/rubygems/runs/4527833024?check_suite_focus=true and
https://github.com/rubygems/rubygems/runs/4513709668?check_suite_focus=true seem cancelled, I guess externally so don't seem actual failures.

https://github.com/rubygems/rubygems/runs/4464537157?check_suite_focus=true is a failure, it looks like a transient:
[code]

I think we should either skip or allow a larger time

[2021-12-15 15:29] eregon commented on #2549
@bjfish Could you take a look and make a PR to rubygems so this no longer fails?

[2021-12-15 16:12] deivid-rodriguez commented on #2549
But isn't it strange that it never failed before and it started failing consistently at a given point? I wonder if it could be some performance regression.

[2021-12-15 16:16] eregon commented on #2549
Oh, I didn't notice the times, indeed these 2 seem cancelled because they took longer than 1 hour, that's definitely unexpected.

[2021-12-15 16:59] bjfish commented on #2545
@gogainda This is now fixed at: https://github.com/oracle/truffleruby/commit/ebdab9d81b10998c6f692581568451277020e466. Thanks!

[2021-12-15 16:59] #2545 closed

[2021-12-15 17:53] eregon commented on #2549
I think those hangs are caused by a deadlock in Truffle during splitting. That's already fixed on graal master but the current graal import in truffleruby doesn't include it, I'll update it.

[2021-12-15 22:27] jeremyevans opened #2550 "truffleruby: Unexpected internal exception in at_exit on Sequel's CI"
The error message says this should be reported here: https://github.com/jeremyevans/sequel/runs/4540570171?check_suite_focus=true#step:7:14

[code]

[2021-12-16 10:31] eregon commented on #2550
Thank you for the report. I'll look into it.

[2021-12-16 19:52] bjfish commented on #2550
@eregon I think this may be a minimal reproduction case for this issue:
[code]
Result:
[code]

[2021-12-17 10:55] eregon commented on #2550
@bjfish Thanks, that's similar to the pattern in https://github.com/jeremyevans/sequel/blob/eb918d145900d9c8ba8da54b2aa38f78233d508e/spec/core/dataset_spec.rb#L3711-L3728.

A variant with `class A; end` which is actually equivalent works fine.
So it seems we're detecting `class ::Name` as a static lexical scope but it isn't necessirely if e.g. nested in blocks like in this example.

[2021-12-17 11:10] eregon commented on #2550
I don't have a good solution for it currently, so I'll make a PR to Sequel to avoid the problematic pattern.
We'll need to address this at some point, but it requires a large refactoring of constant lookup.

Normally the "constant lexical scope" is always the same anywhere in Ruby code, except under `class << ...`.
But that can break if like in this example the module body under `class ::InspectDa

[2021-12-17 11:34] eregon commented on #2550
Unfortunately this pattern is used in many places in Sequel specs: https://github.com/jeremyevans/sequel/blob/78f1b62ef9ee567d544ade7f76b089987cf72478/spec/extensions/class_table_inheritance_spec.rb

[2021-12-17 11:53] eregon commented on #2550
I found one solution, which is to use dynamic constant lookup for any `class/module` nested under a block, given that can mean that module body is executed multiple times, and possibly that module is removed/reassigned in between executions.
That does mean every constant lookup inside that module body, including any nested method or nested module body will be slower.
Hopefully that pattern is extr

[2021-12-17 14:10] eregon commented on #2541
@postmodern Could you fix the issue in the source instead? As I said above the same happens on CRuby 2.6:
[code]

It only works on 2.7 by luck, no Ruby code should rely on that, unless it's marked as requiring Ruby 3.0+.

[2021-12-17 15:29] #2550 closed

[2021-12-17 17:04] eregon opened #2551 "Removing the threadpool for Fibers"
We plan to remove the threadpool for Fibers because it adds tons of complexity and can cause correctness issues (the same Java Thread is used for Fibers of belonging to different Ruby Threads).
It also forces an extra indirection for ContextThreadLocal, and other languages might reuse their ContextThreadLocal for different Fibers over time, belonging even potentially to different Ruby Threads, whi

[2021-12-17 22:23] postmodern commented on #2541
The above example code also fails on truffleruby 21.3.0, which claims to support ruby 2.7.4. CRuby 2.7.x however does support this behavior.

[2021-12-18 11:48] eregon commented on #2541
@postmodern It breaks on CRuby 2.7 if e.g., the super `initialize` would use delegation using ruby2_keywords:
[code]
=>
[code]

In Ruby < 3, you should only pass keywords to a method if you know if the method accepts keywords.
If not you might pass an extra empty Hash and break things like here.

Concretely in this case, the easiest fix is `kwargs.empty? ? super() : super(**kwargs)`.

[2021-12-18 22:31] postmodern commented on #2541
@eregon that is a different example than mine, which does not use `ruby2_keywords` modifier. My example works on Ruby 2.7 but not TruffleRuby.

[2021-12-19 11:40] eregon commented on #2541
I just wanted to mention (with my extensive knowledge of kwargs semantics) that this is IMHO a bug in the user code because it'll only work on 2.7 in some specific cases, and it would always break in 2.6.
It's made a bit less clear by the gem not supporting 2.6, otherwise it would be clearly a bug of the gem since it wouldn't work on CRuby 2.6.

So this difference is expected in TruffleRuby target

[2021-12-19 20:29] djberg96 commented on #2158
I've noticed a similar error happening with macos-latest with github actions: https://github.com/djberg96/sys-proctable/runs/4572088661?check_suite_focus=true

[2021-12-20 15:49] rubyFeedback commented on #2070
This is now +1 year. Can someone update this with the recent changes and newer ruby releases? Not sure if PragTob wants to re-do them but it would be interesting to see any progress here.

[2021-12-20 15:57] eregon commented on #2070
@rubyFeedback FWIW I plan to publish a blog post benchmarking many Rubies soon.

[2021-12-20 17:37] eregon commented on #2549
The timeouts/deadlocks seem gone now: https://github.com/rubygems/rubygems/runs/4576911994?check_suite_focus=true
There is still that transient about using more than 10s, @bjfish will look at that.

[2021-12-27 14:55] rubyFeedback opened #2553 "Too many ruby versions!!!"
I have been using ruby since many years; and since ~2 years I am learning java.
Getting better at it too! Have it tested on windows too and that works.

So naturally jruby was interesting, and I got it to run on windows as well. (I mention
windows twice here since that is an important target for me, but at home on my main
desktop computer I use linux + MRI ruby).

Today I am testing graalvm - hope

[2021-12-27 15:00] rubyFeedback opened #2554 "[Minor problem] Slightly peculiar message when re-compiling openssl"
So I am installing graalvm right now. Well actually truffleruby, but from the context of graalvm so I had
to install the latter first.

truffleruby shows this:

"IMPORTANT NOTE:
---------------
The Ruby openssl C extension needs to be recompiled on your system to work with the installed libssl.
First, make sure TruffleRuby's dependencies are installed, which are described at:
  https://github.com/

[2021-12-27 15:03] rubyFeedback commented on #2453
For ruby 3.1.0, I noticed that nobu changed time.rb a bit.

I do not know whether this affects truffleruby or not, but
one area that caused issues to my code base was the
removal of a constant aka RFC2822_DAY_NAME. That
constant just kept the weekdays in an array and I was
using that. With the removal I had to change a bit of
the downstream code.

I forgot which part it was (somewhere on github of

[2021-12-28 10:59] eregon commented on #2462
@bjfish and I are working on this, should be fixed soon after the winter holidays

[2021-12-28 11:05] eregon commented on #2462
@headius https://github.com/test-prof/test-prof/blob/ef07109ecdd43683a3148946eed9389121324442/lib/test_prof/recipes/rspec/let_it_be.rb#L78

[2021-12-28 14:41] dblock commented on #2462
Nice!

[2021-12-29 15:56] aardvark179 commented on #2504
Fix in commit `39d740bd3eb8abafe737656055850fc7b3a4d1dc`.

[2021-12-29 15:56] #2504 closed

[2021-12-29 15:57] aardvark179 commented on #2503
Fixed in commit `39d740bd3eb8abafe737656055850fc7b3a4d1dc`.

[2021-12-29 15:57] #2503 closed

[2021-12-31 01:09] headius commented on #2462
There should be no issue with this code on any current version of JRuby.

[2022-01-02 08:16] YU5Z8X2CvH1fv4ep opened #2555 "what is Ruby-NativeCallInterrupt-Timer"
What is the role of Ruby-NativeCallInterrupt-Timer ? I created multiple context evals and did not use them, but I saw a lot of Ruby-NativeCallInterrupt-Timer . Will they consume my thread resources when I don’t use the context?

![image](https://user-images.githubusercontent.com/57204004/147870042-3e7269aa-d7a1-42c0-af25-0ca3750197ed.png)

[2022-01-02 08:17] YU5Z8X2CvH1fv4ep commented on #2555
In other words, will it consume a lot of my CPU resources when I don't actually use the context?

[2022-01-02 08:18] YU5Z8X2CvH1fv4ep commented on #2555
I might create 100 contexts

[2022-01-02 14:22] chrisseaton commented on #2555
They shouldn't be doing anything by default - they're just there to be able to run an interrupt if required. Are they really consuming a lot of CPU time?

But I do think we should try to consolidate our background tasks - `nfi-gc`, `Ruby-NativeCallInterrupt-Timer`, etc.

[2022-01-03 11:20] eregon commented on #2553
@rubyFeedback The upcoming TruffleRuby release, [22.0.0 on Jan 18](https://www.graalvm.org/release-notes/version-roadmap/), will have a good part of 3.0.2 support, you can follow at https://github.com/oracle/truffleruby/issues/2453.

Alternatives Rubies will always have a bit of delay, e.g. to avoid wasting time on implementing new features being developed in CRuby which might be removed or change

[2022-01-03 11:20] #2553 closed

[2022-01-03 11:32] eregon commented on #2554
TruffleRuby typically does not work properly before that step, e.g., `gem/bundle ...` will fail.

I get your point, but I think "Openssl bindings were successfully installed" is even more confusing, and I have no idea how to make it clearer.

What I intend by this sentence is to mean "now you completed the installation of truffleruby and everything is ready" (before it indeed was not).

BTW, I wou

[2022-01-03 11:32] #2554 closed

[2022-01-03 11:37] eregon commented on #2453
@rubyFeedback We import `lib/time.rb` from CRuby, unchanged, so whatever change was done there we'll also have it, automatically.
If you'd like you can already file a short issue to ask for Ruby 3.1 support, but likely we won't get to it until 3.0 is done.

[2022-01-03 11:47] eregon commented on #2555
These threads are needed to interrupt native calls, CRuby uses the timer thread IIRC for this which is somewhat similar.
Those timer threads will be idle most of the time, they are only active when needing to interrupt a native call, e.g., if a thread is reading from a Socket and another thread interrupts it with Thread#raise, or Ctrl+C, or a signal is sent to the process.

I don't think we can ea

[2022-01-03 11:47] #2555 closed

[2022-01-03 11:52] eregon commented on #2555
We could create that thread lazily on the first blocking native call, that's likely to be really early though for most Ruby applications, so not sure it's worth the additional complexity.

I forgot to mention, you can disable this thread with `--platform-native-interrupt=false` but obviously then it won't be possible to interrupt native calls at all. Disabling native access on the Context.Builder

[2022-01-04 02:13] YU5Z8X2CvH1fv4ep commented on #2555
thanks for your answer

[2022-01-04 02:14] YU5Z8X2CvH1fv4ep commented on #2555
thanks for your answer

[2022-01-04 13:00] eregon opened #2556 "The tk gem does not install"
From Michael Aponte on Slack (https://graalvm.slack.com/archives/CMY63522F/p1639877980162600):

[code]

Note: 8.5 TCL AND TK are needed, not 8.6 (https://github.com/ruby/tk/commit/247f01adf981abe11283dc24cc7afd2173e62108)

---

I found that `is_ruby_native_thread` is an old name for `ruby_native_thread_p`, so likely we should define `ruby_native_thread_p()` on TruffleRuby to solve that specific is

[2022-01-06 11:49] ioquatix opened #2558 "Incorrect `class.singleton_class.prepend` behaviour."
https://github.com/ioquatix/sus/runs/4726484058?check_suite_focus=true

This failure means there is probably something wrong with singleton_class and prepend in TruffleRuby.

Line one is what we got and line two is what we want.

[code]

The tests pass on 2.7, 3.0 and 3.1

This is the method that formats the output: https://github.com/ioquatix/sus/blame/main/lib/sus/with.rb#L31-L38

This line shou

[2022-01-06 19:52] eregon commented on #2070
@rubyFeedback this is the blog post: https://eregon.me/blog/2022/01/06/benchmarking-cruby-mjit-yjit-jruby-truffleruby.html

[2022-01-06 19:52] phene opened #2559 "Pathname#glob is missing"
Pathname's glob method is missing

[2022-01-06 20:01] eregon commented on #2559
Indeed, thanks for the report.
[code]

(`Pathname.glob` is there though)

We should try to add Pathname to https://github.com/oracle/truffleruby/blob/master/spec/truffle/methods_spec.rb and see if any other methods are missing, and try to untag the Pathname MRI tests.

TruffleRuby's version of Pathname is unfortunately not always in sync because CRuby for rather unclear reasons moved most of Pathn

[2022-01-06 20:07] eregon commented on #2559
I found the previous CRuby discussion regarding moving Pathname back to Ruby: https://bugs.ruby-lang.org/issues/17473#note-1

[2022-01-07 19:29] eregon commented on #1584
New numbers from @mperham: https://twitter.com/eregontp/status/1479534410546483201
We should investigate what's slower.
Those results seem to be with [toxiproxy](https://github.com/Shopify/toxiproxy).

[2022-01-07 20:34] mperham commented on #1584
Thanks. I appreciate you investigating this.

[2022-01-07 23:58] skunkworker opened #2562 "Unable to install nokogiri 1.13.0 on truffleruby 21.3.0 on macOS 11.6.2"
I am currently unable to install nokogiri on my mac. I've tried `--use-system-libraries` and it still is not working but complaining about missing a header file `'graalvm/llvm/polyglot.h'`

`truffleruby-21.3.0` was installed through `rvm`

I did just notice that I don't have llvm installed through homebrew, just clang from xcode.

clang
[code]

Below is the stacktrace when installing from bundler

[2022-01-08 10:39] dogweather opened #2563 "cext.rb:978:in `rb_path_to_class': TypeError"
I get this error when trying to run a Rails 6.1.4.4 app via either `rails console` or `rails server`. Using Truffle Ruby 21.3.0.

[code]

[2022-01-09 13:19] larskanis opened #2564 "`rb_io_wait` is declared but not implemented"
Truffleruby on the master branch declares [`rb_io_wait`](https://github.com/oracle/truffleruby/blob/0345f913981d115434f84b3efb3b4ccc6da10e2c/lib/cext/include/ruby/io.h#L166) but doesn't implement it. It also defines [`RUBY_IO_READABLE`](https://github.com/oracle/truffleruby/blob/0345f913981d115434f84b3efb3b4ccc6da10e2c/lib/cext/include/ruby/io.h#L45) without using it.

This issue leads to a build

[2022-01-09 22:15] dazuma opened #2565 "Difference in String#split behavior"
`String#split` behaves differently from MRI in certain cases.

[code]

In TruffleRuby 21.3.0, this yields `[" "]`.
In MRI (both 2.7.5 and 3.1.0 tested), this yields `[]`.

[2022-01-09 22:23] dazuma opened #2566 "Difference in error behavior for Rational()"
In MRI (2.7.5 and 3.1.0 tested):

[code]

In TruffleRuby 21.3.0:

[code]

It seems that the same applies to any non-numeric string.

[2022-01-09 22:46] dazuma opened #2567 "Passing empty splatted keyword args fails unless at least one keyword arg is declared"
[code]

This succeeds on MRI (2.6.9, 2.7.5, and 3.1.0 tested).
On TruffleRuby 21.3.0, it fails with `wrong number of arguments (given 1, expected 0) (ArgumentError)`.

Note: A similar issue was present in MRI prior to 2.7.0. MRI 2.6.x and earlier would give the same ArgumentError *only* on initialize methods. For example:

[code]

This fails on MRI 2.6.9, but succeeds on MRI 2.7.5 and 3.1.0. (It a

[2022-01-09 23:43] dazuma opened #2568 "Process.spawn with a single argument doesn't recognize shell built-ins"
If you pass a single string argument to `Process.spawn`, it should interpret it as a command line to pass to the standard shell (see e.g. the documentation at https://ruby-doc.org/core-2.7.5/Process.html#method-c-spawn). Only if you pass multiple arguments, or if the first argument is an array, should `Process.spawn` bypass the shell and attempt to spawn the process directly.

This is the behavior

[2022-01-10 09:35] eregon commented on #2562
Nowadays it's better to just use the defaults for nokogiri for TruffleRuby, not set `--use-system-libraries`.

I checked and it works fine on Linux (both `gem install` and with `bundle install`), and I'm pretty sure it works fine on macOS too (will ask a colleague to double check), so I think it must be something specific to your setup.
Could you try `gem install -V nokogiri` to see if that works?

[2022-01-10 09:40] eregon commented on #2563
This is already fixed on master, same as https://github.com/oracle/truffleruby/issues/2511#issuecomment-966993472, you can try `truffleruby-dev` (see the README).
(`rb_path_to_class` somewhat surprisingly can also return modules, the logic in 21.3 allowed only classes)

[2022-01-10 09:40] #2563 closed

[2022-01-10 09:44] eregon commented on #2564
@aardvark179 is working on implementing `rb_io_wait`.

The current conflict is unfortunate but expected: we import headers from CRuby, changed as little as possible to keep it maintainable.
`have_func` correctly detects it's not implemented, so the only issue here is those conflicts.

[2022-01-10 09:45] eregon commented on #2565
Indeed, thanks for the report.
@bjfish Could you fix it?

[2022-01-10 09:50] eregon commented on #2566
Indeed, thanks for the report, @aardvark179 could you take a look?
It sounds like `Rational()` is not strict with strings for some reason (looks like we're using `to_r` for Strings which is not strict, seems that code comes from Rubinius).

[2022-01-10 09:56] postmodern commented on #2511
Also ran into this issue after I had to add `net-smtp` to the `Gemfile`, since Ruby 3.1.0 made `net-smtp` a "bundled gem". I tried restricting the bundled `net-*` gems using `platforms: :ruby` so those gems would not pull in C extensions under JRuby.
* GitHub Actions: https://github.com/ronin-rb/ronin-support/runs/4759465473?check_suite_focus=true
* `Gemfile`: https://github.com/ronin-rb/ronin-sup

[2022-01-10 10:05] eregon commented on #2567
Thanks for report.

Interesting, I thought `foo(**empty_kwargs)` would definitely pass a positional empty Hash on 2.6.
It is the general semantics on <= 2.6, so this seems a weird corner case.
Maybe it's even a bug to not pass anything, because in many other cases 2.6 would pass an empty Hash in that case (which can be received as positional or as keywords with `**kw` on the callee side).

In gene

[2022-01-10 10:15] eregon commented on #2568
Thanks for the report.
The semantics are more complicated (i.e., the docs are wrong), a single argument String can run without an extra shell, this is the behavior and optimization of CRuby, and TruffleRuby tries to replicate it.
So in CRuby there is some logic which specifically checks for shell builtins like `exit`, which we need to replicate in TruffleRuby as well: https://github.com/ruby/ruby/

[2022-01-10 10:34] eregon commented on #2511
truffleruby-dev has this `rb_path2class` issue already fixed, and the next release 22.0 on January 18 (in a week) will have it as well. So probably simplest to use one of those.

My understanding is those gems should be under `if RUBY_VERSION >= "3.1"`, but if they noop on previous versions probably they work fine on TruffleRuby as well.

FWIW, there is also `platforms: :mri` if you want to includ

[2022-01-10 10:55] sudeeptarlekar opened #2569 "source in regex works differently"
### Description
When `source` method called for regex, it yields different result than other ruby version e.g. 2.6.0. Method adds extra escape characters(`\`) for `/`

### Sample
With truffleruby
[code]

With ruby 2.6.0 and other ruby versions
[code]

### Difference
[code]

Let me know if I am doing something wrong here.

[2022-01-10 11:42] sudeeptarlekar commented on #2569
Interesting. Thanks for quick help

[2022-01-10 11:57] larskanis commented on #2564
OK, so the next release will implement `rb_io_wait` and the current inconsistent state is just temporary.

The polyfill in ruby-pg is [here](https://github.com/ged/ruby-pg/blob/master/ext/pg_connection.c#L2211-L2235), just in case it's interesting. But sure, a complete implementation needs proper integration into `Fiber.scheduler`, far beyond the simple polyfill.

[2022-01-10 12:19] eregon commented on #2569
Let's keep this open as it is an observable difference.
https://github.com/faker-ruby/faker/pull/2442 looks good to me :)

[2022-01-10 12:30] eregon commented on #2564
Maybe a simple workaround here is to do some renames/prefix for the polyfill?
I think that would be the fastest to solve this specific issue.

(We're also working on the Fiber scheduler, not merged yet)

[2022-01-10 14:52] dogweather commented on #2563
Thanks!

[2022-01-10 14:56] eregon commented on #2562
@nirvdrum confirmed it works fine on macOS (12.1) for both truffleruby-dev and 21.3.0.

[2022-01-10 17:42] aardvark179 commented on #2566
We end up delegating `Rational('')` to `Rational.convert('', 1)`, which then falls `''.to_r`. That all seems entirely sensible, but `''.to_r` does return `0/1` on both MRI and TruffleRuby.

I love it when two different routes to creating something return different results. :-)

[2022-01-10 18:40] skunkworker commented on #2562
thanks @eregon

I am right now on macOS `11.6.2` at the moment.

With rvm I'm on the `(default)` gemset for `truffleruby-21.3.0``

`$(ruby -e 'puts RbConfig::CONFIG["CC"]') --version`
output
[code]

Here is my `.env` with only a few removed for privacy
[code]

And the failed `gem install -V nokogiri` backtrace:

[code]

[2022-01-10 19:32] PragTob commented on #2070
@eregon thanks! :green_heart:

@rubyFeedback I have persistent arm problems for almost 11 months... they got better so that today is the first time in ~11 months that I look at my github notifications. Time to new blog post is still a while off, but I might :) It'll likely be months but the numbers from Benoit's benchmark look great.

[2022-01-10 19:33] PragTob commented on #2070
@eregon did you encounter deoptimization late into the process when doing the benchmark? If not we might be able to close this one or shall I keep it open?

[2022-01-11 11:48] eregon commented on #2070
@PragTob Here are the numbers for my run, yjit-bench seems to use the same setup: https://github.com/Shopify/yjit-bench/blob/1751916ceb/benchmarks/rubykon/benchmark.rb vs https://github.com/PragTob/rubykon/blob/main/benchmark/mcts_avg.rb
The numbers are time per iteration, it seems a textbook warmup only getting faster and quickly stabilizing.
I ran it for less long than you did, summing all itera

[2022-01-11 11:48] #2070 closed

[2022-01-11 11:59] eregon commented on #2562
Thanks from that I see a couple things that might cause it:
* `/usr/local/opt/llvm@4/bin` is in PATH but LLVM 4 is very old, so if you don't need it I would just uninstall it. In any case it's worth trying without it in PATH
* `CC=gcc` this seems a possible cause of the issue, it might force many Makefile using `CC` to use gcc instead of the default cc or the cc in PATH. Could you unset it?

[2022-01-11 12:05] eregon commented on #2562
What would be really useful is to see which cc/C compiler is used and the command lines used to compile.
I'm not sure how to do that though, `V=1 gem install -V nokogiri` doesn't show anything extra.
Maybe look in /Users/john/.rvm/gems/truffleruby-21.3.0/extensions/x86_64-darwin/2.7.4.21.3.0.1/nokogiri-1.13.0/gem_make.out ?

Also, to make sure, installing nokogiri 1.13.0 works on CRuby on your mac

[2022-01-11 12:14] eregon commented on #2562
Ah, it's `V=1` needs to be after `make` and not just in the env.
So after the installation fail, could you do this:
[code]

That should show C compiler command lines and help find out which compiler is used.
Sharing the `Makefile` in that directory would also be helpful.

[2022-01-11 15:15] bjfish commented on #2559
@phene `Pathname#glob` is now implemented here: https://github.com/oracle/truffleruby/commit/4888d8b35787f1a56a306fb7782b150110657655. Thanks!

[2022-01-11 15:15] #2559 closed

[2022-01-11 15:37] aardvark179 commented on #2426
This was actually fixed as part of the `rb_sprintf` work I believe. It certainly appears to be producing the correct results now.

[2022-01-11 15:37] #2426 closed

[2022-01-11 15:40] aardvark179 commented on #2423
This was fixed in commit `15bb22a8f64775f06f9306c0dabb8ac2ca578038`

[2022-01-11 18:15] aardvark179 commented on #2092
I've taken another look at this, and it looks like most of the remaining difference is from sorting the array. I've just done a quick micro benchmark of sorting large string arrays, and MRI is over twice as fast, so it's probably worth taking a look at that.

[2022-01-11 18:30] PragTob commented on #2070
:+1:

in case I do another run and I find these again I'll reopen. Thanks!

[2022-01-12 15:51] #2423 closed

[2022-01-12 17:54] aardvark179 commented on #2092
Improving the string comparison used in `Array#sort!` gets us closer to MRI's performance, and we're within 10% if sorting is disabled, but sorting is _still_ more expensive on TruffleRuby. That's mostly because we sort all the entries once they have been matched, but MRI is doing the sort as it goes. I've tried refactoring our code to do something similar, but it cost us as much as we gained, so

[2022-01-13 16:35] bjfish commented on #2565
@dazuma This is now fixed at https://github.com/oracle/truffleruby/commit/6dd971c7ef070259ee7a414ad59a6597be0ed8aa. Thanks!

[2022-01-13 16:35] #2565 closed

[2022-01-14 21:33] skunkworker commented on #2562
@eregon thanks. I updated to a newer version of llvm and removed `CC=gcc` and nokogiri installed successfully.

[2022-01-14 21:33] #2562 closed

[2022-01-15 11:07] deivid-rodriguez commented on #2549
I think the deadlocks are still happening, just so you know.

[2022-01-17 10:46] eregon commented on #2549
@bjfish and I are looking into it, it seems some of the tests trigger a large memory usage, and I guess that ends up swapping or being really slow hence the timeout.

It's also suboptimal that `rake test` keeps the `rake` process alive during the entire tests, maybe that's something we can fix in `rake`.

[2022-01-17 12:10] brauliobo opened #2572 "Rescue through Set of errors not working"
The following code:
[code]

Returns the error `TypeError: class or module required for rescue clause` on truffleruby but works on MRI

[2022-01-17 16:43] aardvark179 commented on #2566
This is now fixed on master.

[2022-01-17 21:18] eregon commented on #2462
Fixed in d97d1f36b9e657a066633ddba5b8254e58eb47bc by @bjfish and I.

(looks like we forgot a changelog entry, could you add one @bjfish?)

[2022-01-17 21:18] #2462 closed

[2022-01-18 12:15] eregon commented on #2422
Fixing this turns out to be rather complicated to not break tests, and writing a portable test for this seems pretty hard since `nohup` behave differently on different OS (some of them do not set STDIN as WRONLY). I might need to shim nohup as a Ruby script or so to replicate the problematic conditions.

[2022-01-18 13:29] eregon commented on #2572
Thanks for the report, simpler repro with no dependencies:
[code]

It works fine if an Array is used instead of the `Set`.
A `Set` of exceptions like here seems rather inefficient since it will cause to iterate the set on every exception.

[2022-01-18 16:55] brauliobo commented on #2572
thanks eregon, I'll switch to array

[2022-01-18 16:59] eregon commented on #2572
I have a fix coming BTW, it's literally changing a `true` to `false` to use `to_a` instead of `to_ary` for coercion.

[2022-01-18 20:04] brauliobo opened #2573 "Memory leak consuming more than 100gb before getting killed by earlyoomd"
This was running on a 128gb RAM machine :)
[code]

The memory leak doesn't happen with MRI, although the process may consume 20gb after some time.
The command is running with 200 threads as it is IO intensive.

[2022-01-18 21:35] #2572 closed

[2022-01-18 22:31] brauliobo opened #2574 "Concurrency issues in the first parallel iterations"
I'm experiencing a tendency for more errors at the start of a parallel loop using a threadpool ([see peach](https://github.com/brauliobo/mining-pool-monitor/blob/master/exts/peach.rb)).

For instance, in this project (closed source) everything is required at boot (it isn't using rails autoloader) but sometimes constants aren't recognized as loaded, so I'm seeing several of the errors below which e

[2022-01-18 22:38] brauliobo opened #2575 "Concurrency issue with proxy reuse and net-http-persistent"
I'm using mechanize (which uses net-http-persistent) to share a pool of connections. I have a set of proxies (20) that are being reused by multiple threads using mechanize.

With truffleruby (and not with MRI), the error below happens, and it seems it is blocking concurrent connections to the same IP.

[code]

[2022-01-19 10:02] brauliobo commented on #1666
closing for now

[2022-01-19 10:02] #1666 closed

[2022-01-19 13:10] eregon commented on #1666
As a note, `RBASIC_CLASS` is implemented now.

`rb_postponed_job_register_one` could probably be done using Truffle safepoints, but we would need to investigate the exact semantics of that function.

On TruffleRuby you can send SIGALRM to print the Ruby backtraces of all threads and fibers:
https://github.com/oracle/truffleruby/blob/master/doc/user/debugging.md#printing-stacktraces-and-backtraces-

[2022-01-19 20:13] bjfish commented on #2575
@brauliobo Do you have steps or some example code to reproduce this error? Thanks.

[2022-01-19 20:13] bjfish commented on #2574
@brauliobo Do you have steps or some example code to reproduce this error? Thanks.

[2022-01-19 20:17] bjfish commented on #2573
This may be related to the memory issue in #2549.

[2022-01-19 22:35] gogainda opened #2577 "Uninitialized constant Digest::SHA1"
Intalling this Gemfile fails on Truffleruby:
[code]
issue initially reported here https://github.com/rmosolgo/graphql-ruby/pull/3852

[2022-01-20 10:56] WozniakMac opened #2578 "Docker Arm64 Unsupported Floating Point Type: f128"
Tried to run my project on truffleruby and got this error multiple times.

[code]

This same error is with those gems too
[code]

I use arm64 version on docker (created docker image based on debian by myself). Not sure if it fails on x64 because I'm stuck with my M1 for now.
https://github.com/oracle/truffleruby/releases/download/vm-21.3.0/truffleruby-21.3.0-linux-aarch64.tar.gz

Full stack trace

[2022-01-20 17:50] eregon commented on #2573
@brauliobo Could we reproduce that workload, or could you create a reproducer?
It's very hard to investigate without something to run.

If you cannot share it or you want to investigate yourself, you can use `bin/visualvm` (part of truffleruby+graalvm, see the README) and for example get a heap dump when it starts being big (e.g. at 5 GB) and also screenshot the heap view. You will need to run in

[2022-01-20 17:55] bjfish commented on #2573
@brauliobo I wanted to add that it would be good to report the  memory used by the process since the JVM may use native memory not reported in `visualvm`.  This could be found using a tool like `htop` or `Activity Monitor`.

[2022-01-20 18:52] aardvark179 commented on #2578
This is likely a C extension defining something as a `long double` which is a 128 floating point number on systems which use the Arm Architecture Procedure Call Standard, as Aarch64 Linux does. `oj` appears to use `long double` as a simple way to reduce their error when parsing numbers, we _might_ be able to patch it to avoid this problem. I'm not entirely sure why they seem to have written their

[2022-01-20 19:26] eregon commented on #2578
Maybe it's the famous dtoa() DoS because it's not linear and creates arbitrarily big integers when parsing long floats (IIRC)? I think an usual fix is to just limit the length of the float to parse and if it's just between 2 floats then whatever cut at a reasonable length.

[2022-01-21 13:38] eregon commented on #2578
Sulong/GraalVM LLVM does not support fp128 yet, which is what `long double` resolves to on linux-aarch64.
Internal Sulong issue about fp128: GR-36514

[2022-01-23 12:25] BookOfGreg opened #2579 "mini_racer fails to build libv8-node"
Appears to be the same as https://github.com/oracle/truffleruby/issues/1409 which was previously fixed.
mini_racer is effectively the same as ruby_racer but much much faster.

This is causing us to be blocked on adding truffleruby support to rswag https://github.com/rswag/rswag/pull/479

Here's the last few lines of the log:
[code]

[2022-01-24 10:54] eregon commented on #2579
We have special handling for the `libv8` gem which as an exception reuses the binary gem, but not for the `libv8-node` gem.

In the end I believe what you need here is mini_racer support, right?
#1827 tracks that, so I'd like to close this one and please follow that issue.

[2022-01-24 11:03] eregon commented on #2579
Actually we should probably also allow libv8-node as a binary gem, because there is no point to compile it and it has a high chance to fail (same on CRuby if it was compiled from source).

[2022-01-24 11:20] eregon commented on #2579
For some reason RubyGems/Bundler think `x86_64-linux-musl` is appropriate but that's not and fails later:
[code]

[2022-01-24 11:31] eregon commented on #2577
Fixed in c1655b30e3461997f1ebab976427e4789a319b79

[2022-01-24 11:31] #2577 closed

[2022-01-24 11:33] eregon commented on #1390
Probably the easiest to support usages of `ruby/digest.h` is to reuse the digest C extension from CRuby.
@bjfish gave that a try but it's slower than the current implementation, so we need to figure out why.

[2022-01-24 11:36] eregon commented on #2511
The digest gem shouldn't cause any problems anymore on TruffleRuby with the fix for https://github.com/oracle/truffleruby/issues/2577: c1655b30e3461997f1ebab976427e4789a319b79

[2022-01-24 13:10] eregon commented on #1584
I tried running the benchmark but quickly run into non-fatal errors which happens regularly.
It also happens on CRuby although less often as CRuby runs the benchmark for less long.
https://github.com/mperham/sidekiq/issues/5137

There is also another type of error when running on TruffleRuby:
[code]
This sounds like a bug in hiredis to not handle EINTR correctly (it should just retry).
That might

[2022-01-24 13:24] gogainda commented on #1584
FYI, in my recent tests not using hiredis improves a bit overall performance. Not sure if using it brings any benefits to Redis on Truffleruby

[2022-01-26 10:51] gogainda opened #2580 "Getting max time fails"
[code]
ruby 3:
[code]
truffleruby fails with:
[code]

[2022-01-26 11:09] eregon commented on #2580
Note that `(2**64)-1` is not LONG_MAX, LONG_MAX is `(2**63)-1`.

With `(2**63)-1` it also fails:
[code]
And this is basically not fixable without a huge effort, yet I don't think it make any sense in many applications to use a time 292 billion years in the future (we'll all be dead by then).

Also Time is for timestamps close to our days, for precise calendars far in the future or past, one should

[2022-01-26 15:50] vovanmozg opened #2583 "Segfault while executing JSON.parse with big string"
Generates Segfault:
`ruby -r  json -e "JSON.parse('{\"a\": \"' + ('0' * 132829) + '\"}')"`

works:
`ruby -r  json -e "JSON.parse('{\"a\": \"' + ('0' * 132828) + '\"}')"`

Output (Segfault):
https://pastebin.com/00bV9mLt

#1 SMP Debian 5.10.70-1 (2021-09-30)

truffleruby 20.3.0, like ruby 2.6.6, GraalVM CE Native [x86_64-linux]

[2022-01-27 11:56] vovanmozg commented on #2583
The error is not reproduced in truffleruby 22.1.0-dev-cc5717a5

[2022-01-27 14:45] MSP-Greg opened #2586 "22.0.0.2 & Bundler activation"
Puma is failing on TruffleRuby jobs.  This seemed to happen when TruffleRuby went from 21.3.0 to 22.0.0.2.  It may also involve recent changes to ruby/setup-ruby.  Not.Sure.

Passing job using 21.3.0 - https://github.com/puma/puma/runs/4938565379

Failing job using 22.0.0.1 - https://github.com/puma/puma/runs/4943479989

Both jobs use the same workflow, and both install Bundler 2.3.5, but the fail

[2022-01-27 17:38] eregon commented on #2583
20.3.0 is quite old and no longer supported.

Could you try the recent 22.0.0.2? That works fine for me.
I think the issue might be that old version didn't handle stack overflows correctly in `--native` mode.

[2022-01-27 17:38] #2583 closed

[2022-01-27 18:50] eregon commented on #2586
Thank you for the report, @bjfish and I will take a look.
I suspect it's something new in Bundler or in RubyGems that broke this.

"your Gemfile requires bundler 2.3.5." sounds confusing, I guess it's just because the Gemfile.lock was created with Bundler 2.3.5.

Maybe not using the latest Bundler release (e.g., just use Bundler 2.2.22 shipped with TruffleRuby) would help here.
That's not possible

[2022-01-27 19:11] eregon commented on #2586
FWIW this worked: https://github.com/ruby/setup-ruby/runs/4942414592?check_suite_focus=true
truffleruby 22.0 + bundler 2.3.5 for bundle install + bundle exec. Weird.
I'll support `bundler: none + bundler-cache: true` in setup-ruby so at least we have a workaround.

[2022-01-27 20:38] eregon commented on #2586
Workaround in https://github.com/puma/puma/pull/2811 but we'll keep investigating on how to fix Bundelr 2.3.5+ and TruffleRuby 22.0/latest.

[2022-01-28 08:01] vovanmozg commented on #2583
The error is not reproduced in truffleruby 22.0.0.2. Thanks!

[2022-01-30 20:45] gogainda opened #2589 "Dir[] skips symlink'd files"
[code]

expected output:
[code]

[2022-01-31 11:05] eregon commented on #2589
@aardvark179 Can you take a look?

[2022-01-31 11:50] aardvark179 commented on #2589
This appears to be an issue with `**` followed by another element. In general `**` should not follow symlinks, but the next element may. I’ll try and simplify this to a case without braces, I think it’s the `*` following the link and we are optimizing that case wrongly.

[2022-02-01 08:40] Speak2Erase opened #2590 "Some files have invalid filenames on Windows"
Hi! I would like to integrate truffleruby in one of my projects that makes heavy use of the Ruby C API, and truffleruby is the only distribution out there besides MRI that has support for it. (And good support too.)

I'm still not sure if it will work, since it's set up to embed ruby rather than act as a C extension.

Unfortunately because of the way I have my project set up as well to make a Wind

[2022-02-01 08:52] Speak2Erase commented on #2590
Well, I just noticed windows isn't listed in system compatibility, darn that's kind of disappointing.
That's entirely my fault for not noticing though.

Are there any plans to support windows?

[2022-02-01 09:12] Speak2Erase commented on #2590
Huh, I'm confused now. You can get GraalVM on windows which let's you get truffleruby.

[2022-02-01 11:25] eregon commented on #2590
Windows is not supported for TruffleRuby and there is currently no plan for it (huge effort and many easy workarounds, including WSL).

Not all GraalVM components support Windows: https://www.graalvm.org/22.0/docs/introduction/#features-support

Regarding the files with `:` in it, it's just a few:
[code]
That could be changed in https://github.com/oracle/truffleruby/blob/master/spec/truffle/method

[2022-02-01 12:09] chrisseaton commented on #2590
@Speak2Erase TruffleRuby is currently built on POSIX APIs that Windows doesn't support - that's the issue.

[2022-02-01 12:24] eregon commented on #2590
That's hardly the only issue for Windows support, there are a lot of complications for supporting C extensions on Windows and other things (not LP64, etc). Truffle POSIX is being worked on and that will eventually address the NFI calls to POSIX functions we currently use, but that's not enough for Windows support.

[2022-02-01 13:51] gogainda opened #2591 "Grape CI is failing with exit code 137"
Example: https://github.com/ruby-grape/grape/actions/runs/1699176889

[2022-02-01 14:34] Speak2Erase commented on #2590
Darn. Yeah, I understand. Multi platform sucks to support. I wouldn't necessarily agree that WSL is an easy workaround, since I've had issues with it indefinitely hanging on build.
Plus, it's not a native binary, so it doesn't make it as easy for the end user to use, and wsl isn't supported or easy to get working on all systems. I had to fiddle with it quite a bit to get it to work for me.
I think

[2022-02-01 14:34] #2590 closed

[2022-02-01 14:45] eregon commented on #2591
We currently have some memory issue when running in GitHub Actions, and are investigating it.
Either GitHub Actions changed something, or TruffleRuby started using more memory and went above the threshold at which GitHub Actions kills the process.

[2022-02-02 12:38] aardvark179 commented on #2589
A fix for this has been merged to master.

[2022-02-02 12:38] #2589 closed

[2022-02-02 19:22] ioquatix commented on #2558
I see. Thanks for the explanation.

[2022-02-03 17:40] postmodern opened #2593 "Digest::RMD160 is missing"
`Digest::RMD160` appears to be missing?

## Steps To Reproduce

[code]

### Expected Result

[code]

### Actual Result

[code]

[2022-02-03 17:47] eregon commented on #2593
Thanks for the report. Interesting, I've never heard about this Digest algorithm before.

[2022-02-04 16:36] gogainda opened #2595 "TruffleRuby doesn't print warnings for ininitialized variables"
test.rb:
[code]
Run: `ruby -w test.rb`

Expected output:
[code]

[2022-02-04 16:54] eregon commented on #2595
Does it cause any compatibility issue in practice?
This is probably not worth the implementation effort otherwise.

[2022-02-04 16:57] eregon commented on #2595
Actually we already track if they are defined/have been assigned, so it seems easier than I thought.

[2022-02-05 05:45] dogweather commented on #2593
I get this error, installing my Rails gems:

[code]

Related?

[2022-02-05 05:47] dogweather opened #2596 "NameError: uninitialized constant Digest::MD5"
I get that error with **22.0.0.2** and Rails 6.1.4.4 when trying to run `bundle install`.

[code]

[2022-02-07 09:53] eregon commented on #2593
@dogweather No, that's most likely https://github.com/oracle/truffleruby/issues/2577 and that's solved on master/dev builds.

[2022-02-07 10:00] eregon commented on #2577
To improve search, here are some examples errors this issue could cause, they are all solved now in dev builds and will be in the 22.1 release:
[code]

The problem is typically caused by `digest` becoming a default gem and CRuby adding it as a dependency of net-imap/net-pop/net-smtp: https://github.com/ruby/net-protocol/pull/6 (even though it's not needed)

[2022-02-07 14:07] eregon commented on #2596
Duplicate of #2577 and already fixed, it should work fine in `-dev` builds (see README)

[2022-02-07 14:07] #2596 closed

[2022-02-11 15:07] bjfish commented on #2549
@deivid-rodriguez The build is passing now:
https://github.com/rubygems/rubygems/actions/runs/1826802635

The large memory usage appeared to have been the cause and was alleviated mostly by:
https://github.com/oracle/truffleruby/commit/92d8e8780d3710453e142c5a75ff6c79b4040f6d

[2022-02-11 15:07] #2549 closed

[2022-02-11 17:59] eregon commented on #2595
It seems used in RSpec tests

[2022-02-14 15:34] Yush08 commented on #2181
@nirvdrum This shouldn't be that big of a problem since ZSH is the default shell for MacOS -- although to make it more portable, spawning a uname instance would be better. It's pretty cheap and won't affect much.

[2022-02-14 19:12] nirvdrum commented on #2181
@Yush08 Thanks. I don't use ZSH though, thus my note.

[2022-02-15 12:09] eregon opened #2599 "Prawn::Images::PNG#split_image_data is slow on TruffleRuby"
From https://github.com/prawnpdf/prawn/pull/1246:

From the [flamegraph](http://eregon.me/flamegraphs/prawn-flamegraph_20220214-102939.svg) it seems most of time (31.2% using `Search`) is spent in `Prawn::Images::PNG#split_image_data` and specifically in `StringIO#read` and `String#byteslice` called from there. The main cost is probably scanning the substring to compute the correct coderange (7-bi

[2022-02-15 14:34] bjfish commented on #2599
Link to Ruby [feature request for byte arrays](https://bugs.ruby-lang.org/issues/13166)

[2022-02-16 21:19] pboling commented on #1389
When installing the most recent 2 versions (the only ones I've tried) with `asdf`'s `asdf-ruby` plugin, which uses `ruby-build` under the hood, I get an error that tells me to come here.  It doesn't really seem like a reasonable failure, as:
A. I've never tried to install truffleruby before, so there is no reason for the "directory" to exist, except perhaps as the result if untaring the downloaded

[2022-02-16 22:02] pboling opened #2600 "Add `asdf-ruby` to README"
`asdf` seems to be coalescing as the [one version manager to rule them all](https://asdf-vm.com/), and the `asdf-ruby` project is gaining a lot of traction.  I have had some trouble getting truffleruby (and only truffleruby) working with it though.

Would like to see asdf-ruby install instructions added to the readme.  Ideally it would work in all cases where ruby-build works, since it literally j

[2022-02-17 11:41] eregon commented on #1389
Maybe `asdf` is creating an empty directory before installing and that then fails the check?
It would be useful if you can come to the GraalVM Slack to help us debug that, otherwise I'll have to install asdf in Docker or so which might take a while.

---

Regarding `truffleruby-dev`, what if you install it to `~/.asdf/installs/ruby/truffleruby-dev`?
Does asdf need any extra step besides having the

[2022-02-17 11:45] eregon commented on #1389
@pboling Would you mind filing a separate issue with that asdf error? This issue is not about asdf and I'd rather not mix both.

[2022-02-17 12:15] eregon commented on #2586
This is fixed on truffleruby-head with https://github.com/oracle/truffleruby/commit/752a2f3f496087b0424d5bf5ec166e36176aeaa4.

For 22.0 I did the workaround of always using the shipped Bundler for TruffleRuby in ruby/setup-ruby:
https://github.com/ruby/setup-ruby/releases/tag/v1.97.0

Ideally rake-compiler would fix this and then the workaround would probably not be needed anymore.

[2022-02-17 12:15] #2586 closed

[2022-02-17 16:59] pboling commented on #1389
I disagree, this is the same issue.  The error reported when the `asdf`fails is this same issue, which you may have missed in the noise (see more in my comments above).  I am just piling on here giving another instance of a thing that is not working that I, and ruby-build, would expect to work:
[code]

[2022-02-17 17:27] eregon commented on #1389
@pboling This is a message [from ruby-build](https://github.com/rbenv/ruby-build/blob/cbdbc6e44be4756df3fc526ee97c1a5ce0632b74/bin/ruby-build#L800), and the main purpose is to prevent installing to `/usr/local`, as that wouldn't work well for many reasons, most of them applying to CRuby, most JVMs and many software BTW.
Piling on when the maintainers tell you the issue is separate is never appreci

[2022-02-17 21:27] pboling commented on #1389
😆 laughing at another project directing people to your issue tracker.  I've probably done this myself at some point, but always worth a chuckle.  I'll file tickets in other trackers!  Thanks for explaining.

[2022-02-21 14:41] gogainda opened #2602 "contracts.ruby gem test failure: wrong number of arguments"
Example
[code]
was trying to track down the root cause but didn't find a way to debug such issues.

https://github.com/egonSchiele/contracts.ruby

[2022-02-21 16:24] eregon commented on #2602
It's seems kwargs-related, the 2nd caller is:
https://github.com/egonSchiele/contracts.ruby/blob/36b055b80544a58464f83602e5b98d38c0084d28/lib/contracts/method_reference.rb#L44-L46

Which is correct for Ruby 3+ kwargs but broken for Ruby 2 kwargs, and TruffleRuby currently still has Ruby 2 kwargs.

Given the gem [requires Ruby 3+](https://github.com/egonSchiele/contracts.ruby/blob/master/contracts.

[2022-02-25 15:19] eregon opened #2605 "require Primitive.get_original_require(__FILE__) not working for Concurrent::AtomicReference patch"
From https://github.com/sinatra/sinatra/pull/1751#issuecomment-1050535025

I can reproduce the issue locally with sinatra/sinatra@0309bbb9b28044bdde9f96ecae811f6534c7c851:
[code]
which gives:
[code]

I added `p [:in, __FILE__, :original, Primitive.get_original_require(__FILE__)]` in `lib/patches/concurrent/atomic/atomic_reference.rb`.
So it's weird because that shows:
[code]
but then the later `re

[2022-02-25 22:21] bjfish commented on #2605
In the following `relative_feature` method, the absolute path: `/Users/bfish/Documents/projects/sinatra/vendor/bundle/truffleruby/3.0.2.13/gems/concurrent-ruby-1.1.9/lib/concurrent-ruby/concurrent/atomic/atomic_reference.rb`
is getting transformed to `vendor/bundle/truffleruby/3.0.2.13/gems/concurrent-ruby-1.1.9/lib/concurrent-ruby/concurrent/atomic/atomic_reference` instead of the desired `concur

[2022-02-25 22:56] eregon commented on #2605
Good find, could you try that?
`relative_feature` is heuristics and unfortunately it seems hard to make it fully reliable.

I'm not sure how we end up not loading the original file though, since we do find the patch file initially and immediately do `patchFiles.put(relativeFeature, true);`.

[2022-02-26 00:39] bjfish commented on #2605
@eregon Yes, I'll try this. I think it's returning before loading since it thinks there's a circular require:
`lock.isHeldByCurrentThread()lock.isHeldByCurrentThread()` is `true` but since the `relativeFeature` is wrong `isPatched` is `false`
https://github.com/oracle/truffleruby/blob/8d9858227d2fcd38304e760f5112cdc5b3f2f628/src/main/java/org/truffleruby/language/loader/RequireNode.java#L154-L168

[2022-02-28 14:01] eregon commented on #2600
Upstream issue: https://github.com/asdf-vm/asdf-ruby/issues/247

[2022-03-01 16:34] eregon commented on #2605
I realized, `/Users/bfish/Documents/projects/sinatra` shouldn't be in $LOAD_PATH, `/Users/bfish/Documents/projects/sinatra/lib` should instead and that makes sense.
And that would avoid the issue altogether.

[2022-03-01 16:59] bjfish commented on #2605
@eregon This is added here: https://github.com/sinatra/sinatra/blob/ae70708d21db79de7d8ef8195d356c2fa76a2d3a/Rakefile#L29-L40

[2022-03-01 17:09] eregon commented on #2605
Can you try to remove it and see if that works? i.e. is it actually needed there?

[2022-03-01 20:19] bjfish commented on #2605
@eregon The tests passed without this. PR submitted here: https://github.com/sinatra/sinatra/pull/1765

[2022-03-02 01:04] wxw-matt commented on #1672
I checked out this issue #1450 and I got error when running the following code. I guess the error is related to this one.
[code]
[code]
`docker run --rm -it ghcr.io/flavorjones/truffleruby:nightly-slim bash`
Ruby version: truffleruby 22.1.0-dev-8d985822, like ruby 3.0.2, GraalVM CE Native [x86_64-linux]  using Docker image
byebug (11.1.3)

[2022-03-02 02:40] djberg96 opened #2606 "String#split(false) should raise error"
MRI 3.0.2:

`"hello".split(false) # => wrong argument type false (expected Regexp) (TypeError)`

TruffleRuby 22.0.0.2:

`"hello".split(false) # => ["hello"]`

[2022-03-02 02:43] djberg96 opened #2607 "String#lstrip should strip leading nulls"
MRI 3.0.2:

`"\u0000\u0000\u0000hello".lstrip # => "hello"`

TruffleRuby 22.0.0.2:

`"\u0000\u0000\u0000hello".lstrip # => "\u0000\u0000\u0000hello"`

[2022-03-02 02:47] djberg96 opened #2608 "String#rindex should raise error on invalid type"
Ruby 3.0.2:

`"hello".rindex(1) # => no implicit conversion of Integer into String (TypeError)`

TruffleRuby 20.0.0.2:

`"hello".rindex(1) # => nil`

[2022-03-02 03:01] djberg96 opened #2609 "String#<< should require an argument"
Ruby 3.0.2:

`"hello".send(:<<) # => wrong number of arguments (given 0, expected 1) (ArgumentError)`

TruffleRuby 20.0.0.2:

`"hello".send(:<<) # => "hello"`

[2022-03-02 10:40] eregon commented on #2544
This is now implemented: https://github.com/oracle/truffleruby/commit/e6753ad464c825d0aa850a68af6c8cfdfbbb1c35

[2022-03-02 10:40] #2544 closed

[2022-03-02 16:24] jylamont commented on #2544
Thanks for this @eregon!

[2022-03-02 19:15] eregon commented on #1672
Yes, byebug doesn't work currently on TruffleRuby, and that error is due to the call/c_call TracePoint not being implemented yet.
There are already GUI debuggers for TruffleRuby however: https://github.com/oracle/truffleruby/issues/1672#issuecomment-882436749

[2022-03-03 00:04] wxw-matt opened #2610 "Compatibility with Rails 7"
## How to reproduce
Using Docker image:
[code]
You will get the error:
[code]

[2022-03-03 14:12] eregon commented on #2609
Thank you for the report, I'm curious, how did you find this out?

[2022-03-03 14:14] jcoleman opened #2611 "Retrieving unknown global symbol in LLVMParserRuntime: _ZN9grpc_core14ReclaimerQueue13kInvalidIndexE (java.lang.IllegalStateException)"
Trying to `require 'grpc'` (using this PR branch since otherwise the native extensions don't build properly: https://github.com/grpc/grpc/pull/27660) I get this:

[code]

[2022-03-03 14:15] jcoleman commented on #2611
@eregon Is this not something you're encountering on your PR branch?

[2022-03-03 14:48] eregon commented on #2609
Ah yes, I thought it might be that, but I couldn't find it anymore, found it now: https://github.com/djberg96/berger_spec

Ideally it'd be great to integrate that test suite in ruby/spec or in CRuby tests one day for the extra behaviors which are not already tested, but I guess that's a significant amount of work so probably unrealistic.
We'll add specs to ruby/spec for the issues you reported, so

[2022-03-03 14:54] eregon commented on #2611
@jcoleman Did you try with https://github.com/grpc/grpc/pull/27660?

I think this Gemfile should use that branch:
[code]

[2022-03-03 15:01] eregon commented on #2610
Thanks for the report, Rails 5 & 6 work (tested [here](https://github.com/oracle/truffleruby/tree/master/test/truffle/ecosystem)), but we didn't test Rails 7 yet.

`gem install nokogiri --platform=ruby` should be unnecessary (it'll be installed by `bundler` later on if needed), why is that done?

@bjfish Could you investigate?
I would try to repro outside Docker for convenience.

[2022-03-03 15:12] jcoleman commented on #2611
@eregon My gem file has:
[code]

Which should be equivalent?

[2022-03-03 15:16] eregon commented on #2611
I can reproduce with that Gemfile and then:
[code]

<details><pre>
Retrieving unknown global symbol in LLVMParserRuntime: _ZN9grpc_core14ReclaimerQueue13kInvalidIndexE (java.lang.IllegalStateException)
	from com.oracle.truffle.llvm.parser.LLVMParserRuntime.lookupGlobal(LLVMParserRuntime.java:113)
	from com.oracle.truffle.llvm.parser.model.symbols.globals.GlobalVariable.createNode(GlobalVariable.ja

[2022-03-03 15:46] jcoleman commented on #2611
Unfortunately I don't have any ability to remove the reliance on grpc; that decision wasn't mine, but there's heavy usage of it.

Do you happen to have a commit/branch that you know is working? Right now I'm trying to spike running an app on TruffleRuby to prove out performance benefits before any larger effort is expended on it, but if I can't even boot the app obviously that can't happen.

[2022-03-03 16:04] eregon commented on #2611
I tried this branch, require 'grpc' works for me with it:
[code]

There are some more branches:
[code]
and also the `truffleruby-debug` branch which is the one used to try to make grpc work as good as possible on TruffleRuby.
That's a branch which might move over time though.
[code]

[2022-03-03 18:02] sudeeptarlekar opened #2612 "Random gives different values when range passed as float"
Facing few issues in truffleruby and random behavior is not same in MRI and truffle

[code]

When max range is passed as `0.0...100.0` or `0.0...100` observed strange behaviour

[code]

Is this expected or am I missing something here?

Feel free to close if this is irrelevant or duplicate. Thanks in advance

[2022-03-03 18:05] eregon commented on #2612
This is a bug, thank you for the report.
It seems the issue is in the `Random#.rand(float1...float2)` case, which was probably missed due to being rarely used and probably not well tested.

[2022-03-03 18:49] bjfish commented on #2610
I think this is a smaller reproduction case:
[code]
Actual
[code]
Expected
[code]

[2022-03-03 19:04] sudeeptarlekar commented on #2612
Also observed

[code]

[2022-03-03 20:16] bjfish commented on #2608
This is now fixed at https://github.com/oracle/truffleruby/commit/f4ab861fe96d2d8a47b08c29970c95512c4ab5a7.

[2022-03-03 20:17] #2608 closed

[2022-03-03 20:17] bjfish commented on #2609
This is now fixed at: https://github.com/oracle/truffleruby/commit/6d7998f372785479f5478cd14e4e6ea0fa6cb079.

[2022-03-03 20:17] #2609 closed

[2022-03-03 21:27] bjfish commented on #2605
This is fixed at https://github.com/oracle/truffleruby/commit/8f5d1fcc6c9b7c800970497034aefd074de951e8.

[2022-03-03 21:27] #2605 closed

[2022-03-04 13:25] djberg96 opened #2613 "Hash constructor with true/false keys causes FrozenError with to_s"
Ruby 3.0.2:

`Hash[true, 1].to_s # => "{true=>1}"`
`Hash[false, 1].to_s # => "{false=>1}"`

TruffleRuby 22.0.0.2:

`Hash[true, 1].to_s #=> FrozenError`
`Hash[false, 1].to_s #=> FrozenError`

[2022-03-04 13:29] eregon commented on #2613
Thanks for the report, seems a trivial fix.

[2022-03-04 14:27] djberg96 opened #2614 "['string'].pack('x*') hangs"
With Ruby 3.0.2 if you do `['foo'].pack('x*')` you'll get an empty string, whereas TruffleRuby 22.0.0.2 appears to hang.

[2022-03-04 19:19] bjfish commented on #2606
This is now fixed at
https://github.com/oracle/truffleruby/commit/62f0cc4093c8e99f39ffe675859aa9b8cece586b.

[2022-03-04 19:19] #2606 closed

[2022-03-05 02:42] djberg96 opened #2615 "Process.euid=/Process.egid= don't accept strings"
Ruby 3.0.2 allows a string for Process.euid=, and will (I assume) do a user lookup in that case:

[code]

But using Truffleruby 22.0.0.2:

[code]

[2022-03-05 10:58] chrisseaton commented on #2615
Seems an ancient feature.

https://github.com/ruby/ruby/commit/9bf9b3ef95e5a699b931435f482087c57439eda3

But it's never been properly specified - see here it specifies that it raises an error if not given an integer, but then also specifies that you can't set it to `root`, using the string, but in order to trigger an unrelated error.

https://github.com/ruby/spec/blob/a0f1a08f38d13cc6491cd11929580

[2022-03-05 12:06] eregon commented on #2615
Converting the user name to a uid can be done with `Etc.getpwnam(user).uid`, which is what fileutils does:
https://github.com/oracle/truffleruby/blob/0e730617b83d1007818ecc7452933e4a54a8832b/lib/mri/fileutils.rb#L1110-L1111

That means it needs `require 'etc'` but that seems fine since it's a rarely-used method.

[2022-03-05 12:13] eregon commented on #2613
Fixed in https://github.com/oracle/truffleruby/commit/cde4cfae0883e5225ba80993ac668eb5cb386cd7

[2022-03-05 12:13] #2613 closed

[2022-03-05 14:04] djberg96 commented on #2615
Note that `Process.egid=` has the same issue.

[2022-03-05 15:10] djberg96 opened #2616 "File.utime returning wrong value"
Assuming you've done `touch temp.txt` locally...

Ruby 3.0.2:

`File.utime(0, 0, "temp.txt") # => 1`

Truffleruby 22.0.0.2:

`File.utime(0, 0, "temp.txt") # => ["temp.txt"]`

Docs say it should return the number of filenames in the argument list.

[2022-03-06 16:50] HoneyryderChuck opened #2617 "pattern match bug with internal array"
Given truffleruby's ruby 3 support, a [new codepath was unlocked](https://gitlab.com/honeyryderchuck/httpx/-/blob/master/test/extensions/response_pattern_match.rb#L9) in httpx test suite which surfaced what it seems like a [parser bug](https://gitlab.com/honeyryderchuck/httpx/-/jobs/2168456117#L491).

This should also be easily reproducible just by copying the line with the pattern match (I did it

[2022-03-07 13:51] eregon commented on #2617
Pattern matching is not implemented yet, that's why it's a SyntaxError.
It's currently tracked as part of https://github.com/oracle/truffleruby/issues/2453.
The main issue is it's a huge effort to update the parser, with no easy solution.
We're trying to figure out a better long term solution to keep the parser up-to-date with reasonable efforts (instead of copying+adapting thousands of lines manu

[2022-03-07 13:53] eregon commented on #2617
Does httpx support Ruby <= 2.6 which doesn't have pattern matching? It seems so from the gemspec 7 CI files.
What does it use to detect if pattern matching is supported?
The best way is probably to check one by trying to `eval` some pattern matching and if that's SyntaxError -> not supported.

[2022-03-07 15:21] HoneyryderChuck commented on #2617
It does.

The [detection is only relevant for tests](https://github.com/onfido/onfido-openapi-spec/tree/master/schemas), and is based on ruby version. For the library, the extensions are [fairly safe](https://gitlab.com/honeyryderchuck/httpx/-/blob/master/lib/httpx/pmatch_extensions.rb) even if pattern matching wouldn't be supported.

I guess I can use the `eval` as you suggested for now. It just

[2022-03-07 15:26] eregon commented on #2617
In general feature detection is much better than checking RUBY_VERSION (also applies to C APIs BTW), RUBY_VERSION should IMHO only be used when there is no other reasonable way (very rare).
Since TruffleRuby is released every 3 months, it's always possible some features of a CRuby version are not implemented, and so feature detection is important.

[2022-03-07 16:59] bjfish commented on #2607
This is now fixed at https://github.com/oracle/truffleruby/commit/2dd02626b98bd3a0fdd330d55b0bef77d4b3931d.

[2022-03-07 16:59] #2607 closed

[2022-03-07 19:42] bjfish commented on #2614
This is now fixed at: https://github.com/oracle/truffleruby/commit/9a7fda9de5f96e343fe8d1e81ec0931614f8da97.

[2022-03-07 19:42] #2614 closed

[2022-03-07 22:18] bjfish commented on #2616
This is fixed at https://github.com/oracle/truffleruby/commit/8947d2bc4f33a920c12363733dcb30e5aaffb92c.

[2022-03-07 22:18] #2616 closed

[2022-03-08 10:11] HoneyryderChuck commented on #2617
Sorry, I meant ruby version is pretty reliable **if** I can't do feature detection (i.e. `defined?(NewClass)` or `.respond_to?(:fancy_new_method)`) :-) . I guess there isn't a great way to feature-detect new syntax, besides your suggestion, so I'll take it.

[2022-03-08 12:33] eregon opened #2618 "External LLVMFunction rb_check_safe_obj cannot be found with sqlite3 1.3.13 and Rails 5"
See https://github.com/thoughtbot/factory_bot/runs/5458798971?check_suite_focus=true and https://github.com/thoughtbot/factory_bot/issues/1529#issuecomment-1061727535

Rails 5 is anyway not supported with Ruby 3+ so that part does not matter (https://github.com/rails/rails/issues/40938),
but it'd still be good to understand why this error happens, and it seems to be different on CRuby.

[code]

[2022-03-08 12:43] eregon commented on #2618
It's the same error on CRuby 3.0.2:
[code]

I just missed it above because there was a newer sqlite3 1.4.2 installed, and so `-rsqlite3` picked that.

This is fixed in sqlite3 1.4.2:
https://github.com/sparklemotion/sqlite3-ruby/blob/194493be44cd41b73e612eed69ba49354f0d32e7/CHANGELOG.rdoc
https://github.com/sparklemotion/sqlite3-ruby/blob/v1.4.2/ext/sqlite3/database.c#L43

Problematic code was:
ht

[2022-03-08 12:43] #2618 closed

[2022-03-08 12:54] eregon commented on #2618
And there is a compile-time warning:
[code]

But unfortunately `gem install` completely hides this, unless using `-V` (`gem i -V sqlite3`).
Same for `bundle install`.

Maybe CRuby and/or TruffleRuby should have `-Werror=implicit-function-declaration` by default.

[2022-03-08 13:03] eregon commented on #2618
CRuby issue to address this https://bugs.ruby-lang.org/issues/18615

[2022-03-08 19:28] djberg96 opened #2619 "Rational() with string arg should raise ArgumentError"
Ruby 3.0.2:

`Rational("bogus", 1) # => ArgumentError`

TruffleRuby 22.0.0.2:

`Rational("bogus", 1) # => (0/1)`

As to why it raises an ArgumentError instead of a TypeError, I don't remember, but it's probably why I originally tested for this.

[2022-03-08 20:50] bjfish commented on #2612
The `Array#sample` issue is fixed at https://github.com/oracle/truffleruby/commit/25398cfaa7db38eabbc9a535b445d44b5aa5f449.

[2022-03-08 20:50] #2612 closed

[2022-03-09 02:59] #2540 closed

[2022-03-09 02:59] #2527 closed

[2022-03-09 14:53] djberg96 opened #2620 "Object#dup should not accept arguments"
Ruby 3.0.2:

`"hello".dup('wut') # => ArgumentError`

TruffleRuby 22.0.0.2

`"hello".dup('wut') # => "hello"`

[2022-03-09 15:00] aardvark179 commented on #2619
This is already fixed on master. This is a duplicate of #2566 .

[2022-03-09 15:00] #2619 closed

[2022-03-09 15:25] djberg96 opened #2621 "Math.sqrt(-1) should raise error"
Ruby 3.0.2:

`Math.sqrt(-1) # => Math::DomainError`

TruffleRuby 22.0.0.2

`Math.sqrt(-1) # => NaN`

Not really "wrong" so much as a philosophical difference I think, but that's how MRI behaves.

[2022-03-09 16:20] eregon commented on #2620
This is already fixed on master:
[code]

[2022-03-09 16:20] #2620 closed

[2022-03-09 19:57] eregon opened #2622 "Embed Range literals in the AST"
I just remembered, there is a follow-up optimization related to this, range literals can be embedded in the AST:
[code]

However this is a problem for AST sharing (sharing the same AST for multiple execution contexts, which have different Ruby classes, etc), because RubyRange objects are currently not context-independent, they point to a given RubyClass (`private RubyClass metaClass;` in `RubyDyna

[2022-03-11 03:23] djberg96 opened #2625 "IO.readlines with negative limit value returns different results"
A negative limit argument to IO.readlines returns different results than MRI. I think a negative value is treated as no argument.

The setup:

[code]

Ruby 3.0.2:

[code]

Truffleruby 22.0.0.2:

[code]

[2022-03-11 22:02] bjfish commented on #2610
@wxw-matt This issue is now fixed at https://github.com/oracle/truffleruby/commit/1c888c9e77def6dd7bc40488590a2a6e813a87de. Thanks.

[2022-03-11 22:02] #2610 closed

[2022-03-12 00:43] wxw-matt commented on #2610
@bjfish Thank you all very much. Just wondering if the patch is available in the nightly built Docker image?
Will have a tutorial about Truffleruby and latest Rails 7.

[2022-03-12 01:12] eregon commented on #2610
@wxw-matt As long as the build at https://github.com/flavorjones/truffleruby/pkgs/container/truffleruby is after 1c888c9e77def6dd7bc40488590a2a6e813a87de it should be fine (not the case yet, needs ~4 hours more).

[2022-03-12 03:31] djberg96 opened #2626 "Enumerable#inject without block causes error"
Ruby 3.0.2:

`[1,2,3].inject # => LocalJumpError`

Truffleruby 22.0.0.2:

[code]

[2022-03-12 06:55] wxw-matt commented on #2610
Thanks @eregon. Yeah, the current image does not have this patch. Waiting for the latest Docker image built with this fix.

[2022-03-14 18:56] bjfish commented on #2626
@eregon This is the spec so far:
[code]

[2022-03-15 11:17] eregon commented on #2626
Indeed, that CRuby behavior is weird, looks like a bug/unintended.
I think `inject` should always require either a Symbol argument or a block, but all those cases in that specs do something different.

It should be ArgumentError or LocalJumpError in all cases.

The docs say this:
[code]

So `enum.inject()` is not documented.
Maybe `enum.inject()` uses either the first element (or nil if there isn'

[2022-03-15 12:47] djberg96 opened #2627 "Dir.foreach should allow encoding"
Ruby 3.0.2:

[code]
Truffleruby 22.0.0.2:

`wrong number of arguments (given 2, expected 1) (ArgumentError)`

[2022-03-15 14:16] bjfish commented on #2626
@eregon I've reported the issue here: https://bugs.ruby-lang.org/issues/18635

[2022-03-15 16:32] djberg96 opened #2629 "Fun with Dir.glob and filesystems"
The following behavior is probably an artifact of the underlying implementation rather than a deliberate design choice, but I thought I would mention it:

Given the following layout:

[code]

And the following snippet:

`Dir.glob('foo/[A-Z]*'){ |f| p f }`

Ruby 3.0.2 output on a case insensitive filesystem (e.g. OSX, Windows):

[code]

Ruby 3.0.2 output on a case sensitive filesystem (e.g. Linux e

[2022-03-15 16:43] eregon commented on #2629
`File.fnmatch?` docs have a description of something probably related:
[code]

So probably CRuby is using the FNM_SYSCASE semantics for `Dir.glob`.

[2022-03-15 16:56] bjfish commented on #2629
@eregon On macOS I see:
[code]
I found an old issue describing this: https://bugs.ruby-lang.org/issues/4255

This might be the glob implementation:
https://github.com/ruby/ruby/blob/0db68f023372b634603c74fca94588b457be084c/dir.c#L2404-L2405
https://github.com/ruby/ruby/blob/0db68f023372b634603c74fca94588b457be084c/dir.c#L1754-L1782

[2022-03-15 21:20] eregon commented on #2629
This seems really complicated and needing lots of low-level hacks, so I think we should wait until there is an actual need before trying to implement this.

[2022-03-15 21:21] djberg96 commented on #2629
Regarding the old ruby-lang issue, you can test the filesystem using something like `File.identical?(Dir.pwd, Dir.pwd.swapcase)`, which I don't think existed at that time. This is what I do for the `sys-filesystem` gem. Technically, I think it only tests the file's *partition*, but in practice I think mixed filesystems are super rare.

[2022-03-16 09:27] ntkme opened #2630 "google-protobuf raises `NoMethodError` randomly where MRI works"
I'm facing a strange issue that there is an extremely small chance where truffleruby raises unexpected `NoMethodError` from `google-protobuf` gem.

An example of the error looks like below:

[code]

The error was from [this piece of C code](https://github.com/protocolbuffers/protobuf/blob/22d0e265de7d2b3d2e9a00d071313502e7d4cccf/ruby/ext/google/protobuf_c/message.c#L454-L467). Basically, protobuf

[2022-03-16 13:33] bjfish commented on #2625
This is fixed at https://github.com/oracle/truffleruby/commit/5b099ff0794453d42d535f3fd7ad477c5a0dc101.

[2022-03-16 14:37] eregon commented on #2630
Thank you for the report.

So that branch does rb_call_super() and that then likely calls BasicObject#method_missing (if it didn't find a super method, it would also be a NoMethodError FWIW).

I guess the main question as you say, why `extract_method_call` sometimes returns `METHOD_UNKNOWN` on TruffleRuby.

[2022-03-16 17:17] ntkme commented on #2630
Exactly. I tried again with a counter when running the loop. This time, the counter shows truffleruby raised at 54th attempt (about 2% chance?). For the roughly same amount time, MRI ran for 851 iterations and never raised.

[2022-03-16 21:09] ntkme commented on #2630
I managed to get a much faster reproduction of the issue:

[code]

This usually reproduce `NoMethodError` within a minute or two. However, at the same time it revealed another bug that happens randomly on truffleruby but not MRI:

[code]

[2022-03-16 23:13] rickhull opened #2631 "Some kind of integer / float bounds issue; differing behavior from historical ruby up to HEAD and jruby"
I've been enjoying truffleruby support on GitHub Actions, turning it on and off here and there.  I turned it back on and got some differing behavior:

https://github.com/rickhull/compsci/actions/runs/1995013610

[code]

Here is https://github.com/rickhull/compsci/blob/master/test/fit.rb#L127

[code]

Note that the `-114` line is commented out.  Truffleruby passes.  The failed run is when the `-114

[2022-03-16 23:50] rickhull commented on #2631
Possibly related: https://github.com/oracle/truffleruby/issues/2184

[2022-03-17 11:30] eregon commented on #2630
Thanks, those smaller reproductions will be helpful.

[2022-03-17 11:36] eregon commented on #2567
Fixed in https://github.com/oracle/truffleruby/commit/b8086afe6ecc64a78e1f80f42d4ae9c05cf56605

[2022-03-17 11:36] #2567 closed

[2022-03-17 11:38] eregon commented on #2541
FYI, TruffleRuby now fully implements Ruby 3 keyword arguments (since b8086afe6ecc64a78e1f80f42d4ae9c05cf56605)

[2022-03-17 11:42] eregon commented on #2260
FYI, TruffleRuby now fully implements Ruby 3 keyword arguments (since b8086afe6ecc64a78e1f80f42d4ae9c05cf56605)

[2022-03-17 11:43] eregon commented on #2453
TruffleRuby now fully implements Ruby 3 keyword arguments since b8086afe6ecc64a78e1f80f42d4ae9c05cf56605 and that will be in the 22.1 release.

[2022-03-17 12:48] eregon commented on #2618
CRuby 3.2+ will use `-Werror=implicit-function-declaration`, and TruffleRuby will add it for the 22.2 release.

[2022-03-17 13:19] aardvark179 commented on #2630
Are you using native image @ntkme? I've tried this on both master, and the at 22.0.0.2 and have successfully done 100,000 iterations of the test spec without an error running in JVM mode. A dump of your environment variables might also be useful (especially LOCALE) just in case we've got something going wrong with a string overflowing a buffer, or something similar.

[2022-03-17 13:42] bjfish commented on #2621
This is fixed at https://github.com/oracle/truffleruby/commit/a5b5504487844d0ca51fcf15fb23495f954a2e91.

[2022-03-17 13:42] #2621 closed

[2022-03-17 15:29] ntkme commented on #2630
I'm using official truffleruby container image: `ghcr.io/graalvm/truffleruby:22.0.0.2`. All environment variables are default. Specifically, `LANG=en_US.UTF-8`.

[code]

In my environment the following usually crashes before hitting 10000 iterations, and the issues are reliably reproducible:

[code]

Please let me know if there is any other information I can get to help debug this.

[2022-03-17 18:10] ntkme commented on #2630
To make sure this is not just my local environment, I created a VM on GCP with Container Optimized OS and run the test mentioned in the previous comment. I was able to get it consistently reproduced on the GCP VM.

[2022-03-17 19:02] bjfish commented on #2602
These spec failures now pass after the kwargs implementation was merged: https://github.com/oracle/truffleruby/commit/b8086afe6ecc64a78e1f80f42d4ae9c05cf56605.

[2022-03-17 19:02] #2602 closed

[2022-03-18 11:33] eregon commented on #2631
Good find, yeah those numbers are huge so the usual technique of converting to double first won't work here, it'll just become inf/inf->NaN.
The gcd stuff wouldn't help this case because Rational already ensures the gcd is 1.

I think the logic in CRuby goes here: https://github.com/ruby/ruby/blob/5ca51ddde81cd7f338d0dd495ceb8569def60647/bignum.c#L6218 (i.e., division to double of 2 bignums)

[2022-03-18 11:33] eregon commented on #2631
Might be helpful to check what JRuby does here.

[2022-03-18 13:39] gogainda commented on #1584
I see different numbers now: 45s vs 21s . Still much slower but difference is not x4 anymore, which is good

[2022-03-18 13:50] eregon commented on #1584
Right, we should look at this again. I was focused on Ruby 3 keyword arguments and other things but that's done now, and the fix has been merged in sidekiq (https://github.com/mperham/sidekiq/commit/1efbaddcefb75a958872f73b5614ea91ddf35be6).

Actually on master sidekiqload now doesn't use hiredis, so I think we should start with that, hiredis likely only adds complexity.
For instance there is an i

[2022-03-18 13:51] bjfish commented on #2631
@eregon  It appears to use BigDecimal: https://github.com/jruby/jruby/blob/9.2.19.0/core/src/main/java/org/jruby/RubyBignum.java#L1188-L1200

[2022-03-18 13:53] eregon commented on #2631
I think we should do the same as JRuby, that's a much easier way to get the correct answer without manually writing out a division algorithm (CRuby kind of does that).

[2022-03-19 17:51] gogainda opened #2632 "SystemExit exception should be printed as `exit`"
[code]
should print `exit`, but TruffleRuby prints `SystemExit`

[2022-03-21 15:41] aardvark179 commented on #2630
Ah, yes. I've managed to reproduce it with 22.0.0.2 in native image mode. I haven't been able to reproduce it on master in native image mode, so I think it's been fixed, but I haven't bisected it fully to work out which change fixed the problem.

[2022-03-22 14:02] deepj commented on #2181
There are dev builds of GraalVM supporting Apple Silicon.

https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/22.1.0-dev-20220321_2332

Can we see testing builds of TruffleRuby supporting Apple Silicon in near future? :)

[2022-03-22 14:36] nvh0412 opened #2634 "TruffleRuby doesn't have a case for the com.oracle.truffle.llvm.runtime.nodes.cast.LLVMToAddressNodeGen node with values of type com.oracle.truffle.nfi.NFISymbol"
TruffleRuby raised the error when I was trying to run a gRPC server with our truffle ruby (patched to run grpc via)

**Error**
[code]

**To reproduce:**

Follow this issue to get patched grpc gem version

[code]

**Verify that it's working**

![Screenshot from 2022-03-22 21-35-19](https://user-images.githubusercontent.com/1973623/159506683-f1c32993-0026-4454-9733-50d3d623b1e0.png)

**Get proto fil

[2022-03-22 14:59] eregon commented on #2634
21.3 is not the last release, could you try 22.0 or dev builds as documented in the README?

grpc in general is not well supported yet (some details in https://github.com/oracle/truffleruby/issues/2611#issuecomment-1058145324 and what follows).

[2022-03-22 15:26] nvh0412 commented on #2634
Dev builds doesn't work

Here is the error when I tried our latest dev build
[code]

[2022-03-22 15:28] nvh0412 commented on #2634
As for 22.0.0.2 can boost the gRPC server

But the gRPC server raises the segment fault error right after I made a gRPC request from a client
![Screenshot from 2022-03-22 22-27-23](https://user-images.githubusercontent.com/1973623/159518263-45c7accb-1845-4f7d-9eff-481401fe8fde.png)

[2022-03-22 15:33] nvh0412 commented on #2634
@eregon Dealing with the same situation with @jcoleman in this issue https://github.com/oracle/truffleruby/issues/2611, my system is heavy using gRPC. I want to give TruffleRuby a try before I make the decision that is we use TruffleRuby for current gRPC servers, but as we can see here, no luck with a repository and maintainers like gRPC repo

[2022-03-22 20:02] #2632 closed

[2022-03-22 23:16] tiredenzo opened #2635 "Truffle crashes when trying to load large set in RAM"
Dear TruffleRuby team,

While trying to load a large CSV file as a Hash, with TruffleRuby I encountered some issues:

The the CSV file weighs about 39G and has 700 millions of lines.
The machine I run has 240G of RAM
TurffleRuby verison is installed via RVM `truffleruby 22.0.0.2, like ruby 3.0.2, GraalVM CE Native [x86_64-linux]`

The script runs and loads up until line ~= 129M and RAM usage is 66

[2022-03-23 11:24] eregon commented on #2635
I made a script to make it clearer what is going on, please see https://gist.github.com/eregon/93523d087c283ac88d13a75845e5785e

So TruffleRuby doesn't use the full RAM by default, because the underlying VM has a default max heap which is smaller than the full RAM. However, it is possible to make it use all RAM with e.g. `--vm.Xmx240g`.

Could you try with `--vm.Xmx240g` and also try both `--nativ

[2022-03-25 05:08] tiredenzo commented on #2635
Hi, thanks for your reply

I installed TruffleRuby with ruby-build as you asked. And added your script to mine, it is indeed better ;)

- For `--native` with `--vm.Xmx240g` I did not see any difference
[code]

- For `--jvm` with `--vm.Xmx240g` sadly it did not work but it went much further. It was also blazingly fast compared to `--native`, comparable to a couple of times of the speed I reached in

[2022-03-25 19:29] bjfish commented on #2626
CRuby has updated this to be an`ArgumentError` and TruffleRuby has implemented the same at: https://github.com/oracle/truffleruby/commit/ae7e102d13d74c5bc3319c0cc7a852da880ab665.

[2022-03-25 19:29] #2626 closed

[2022-03-26 02:15] djberg96 opened #2636 "MatchData[x,y] failure"
Truffleruby 22.0.0.2. The following matchdata snippet returns `["X", "113", "8"]` for 3.0.x, but Truffleruby bombs:

[code]
[code]

[2022-03-26 23:54] nirvdrum commented on #2636
I can take a look at this one.

[2022-03-27 18:37] gogainda commented on #1707
latest results:
[code]

[2022-03-28 09:26] eregon commented on #1707
For me locally TruffleRuby is about 2x faster:
[code]
I also redirected to /dev/null as otherwise it's likely gonna be mostly the terminal slowing down the benchmark

And this is a profile of the benchmark with `--cpusampler`.
Very heavy on IO, so 2x is pretty good.
[code]

450c3d92168ad1bc7d7be73b035a63961bbbf5c3 might help a bit, although that's about IO reading, not writing.

[2022-03-28 09:26] #1707 closed

[2022-03-28 16:24] aardvark179 commented on #2630
This has now been fixed on master. The problem was that `rb_id2name` generated a string which was not held onto by anything, so the `RSTRING_PTR` from that (which was returned to the caller) could be freed while the caller was still using it.

[2022-03-29 04:51] nirvdrum commented on #2636
The issue is our implementation of `MatchData#[]` with a length argument is attempting to copy too much data. It allocates a result array of length `length` regardless of how many match values there are. Those extra array entries are all Java `null` and that's bad for most Ruby operations.

[2022-03-29 14:54] aardvark179 commented on #2635
This looks like a bug in our hash implementation when we try to allocate very large buckets. We have an array of capacities, and then allocate an array of that capacity multiplied by a constant, and for the largest defined capacity this overflows the 32 bit array offset.

[2022-03-30 10:38] eregon commented on #2635
I will try to reproduce on native (on a machine with enough RAM), that early OutOfMemoryError sounds like a bug.

On JVM that NegativeArraySizeException we see is because of trying to create a very big Hash.
That error could be improved to be clearer.
An array in Java has a (signed) `int` size, and so the maximum is  2**31 - 1 = 2 147 483 647 elements

The Hash would have 700_000_000 pairs at the

[2022-03-30 22:26] #2636 closed

[2022-03-31 08:01] HoneyryderChuck commented on #2617
Applied the patch, should this be kept open?

[2022-03-31 08:01] #2437 closed

[2022-03-31 09:23] eregon commented on #2617
Let's close this, we have other issues to track pattern matching support, and until then the SyntaxError is expected.

[2022-03-31 09:23] #2617 closed

[2022-03-31 09:42] gogainda commented on #2076
rubyzip fully functional on TruffleRuby now, I think it was related to Travis CI. Closing

[2022-03-31 09:42] #2076 closed

[2022-04-04 10:17] eregon opened #2639 "Remove nokogiri C extension patches and require ensure minimum nokogiri version"
See https://github.com/sparklemotion/nokogiri/issues/2491

We need to figure out if any of these is still needed with the latest nokogiri release. I'd think most of them not since we run libxml2/libxslt as bitcode.

We need to check if using `--use-system-libraries` still builds them as bitcode, as that option was frequently used (was necessary for old truffleruby releases).
Most likely not. Then

[2022-04-05 14:48] bjfish commented on #2631
This is now fixed at https://github.com/oracle/truffleruby/commit/502f2c99e57c54648ccb476ae7383343f701b856.

[2022-04-05 14:48] #2631 closed

[2022-04-06 18:38] eregon commented on #2635
I got access to a machine with 251GB of RAM. I used the latest truffleruby.
On my script:
[code]
So it does reach 240GB before being killed. It takes a while though.
So maybe the issue that `--native` didn't use all available memory was resolved already?

Using your `test_no_csv.rb` script:
[code]
I was not patient enough and cancelled it after a few minutes.
The Native Image CE GC is not good eno

[2022-04-07 17:58] eregon commented on #2635
I've run on JVM too, and test_no_csv.rb on `--native`.
There was no problem on native, it's the same result as on `--jvm`.
Both end up with the `NegativeArraySizeException`, so I'll look into that next.

[2022-04-08 06:37] ntkme opened #2640 "missing LLVM builtin: llvm.x86.ssse3.pshuf.b.128 (com.oracle.truffle.llvm.runtime.LLVMUnsupportedException)"
google-protobuf-3.20.0 crashes on truffleruby-head.

https://github.com/ruby/truffleruby-dev-builder/releases/download/v20220406.081127/truffleruby-head-macos-latest.tar.gz

[code]

[2022-04-08 06:52] ntkme commented on #2640
Looks like it is thrown from here due to lack of `sse3` support?

https://github.com/oracle/graal/blob/8fd55430939bf4b1a9cf0b1d3ad9f17a42d04450/sulong/projects/com.oracle.truffle.llvm.parser.factories/src/com/oracle/truffle/llvm/parser/factories/BasicNodeFactory.java#L1727

[2022-04-08 07:08] ntkme commented on #2640
It is introduced by google-protobuf updating utf8_range library: https://github.com/protocolbuffers/protobuf/commit/349d74d92e8268c41fbb726b0a8292d588c63e20#diff-4d00540ada044635f25b301c6d4b9ba72a3a29f32d8e840604a26731e2d81b2d

Downgrade to google-protobuf-3.19.4 works.

[2022-04-08 07:34] ntkme commented on #2640
https://github.com/protocolbuffers/protobuf/blob/85aa87cbc95edfa63df159eec5536e1d39781f11/third_party/utf8_range/utf8_range.h#L2

[2022-04-08 11:06] eregon commented on #2640
Thank you for the report.
This is an issue of Sulong which does not handle these SSE3 builtins yet, I've filed https://github.com/oracle/graal/issues/4480
If you can write reproduction instructions there that would be useful.

[2022-04-08 11:08] eregon commented on #2640
Note, PR to workaround this issue: https://github.com/protocolbuffers/protobuf/pull/9769
We might want to undo that when Sulong supports SSE3, but unsure at this point as it might not be any faster with emulating SSE3.

[2022-04-08 11:27] eregon commented on #2634
The error/regression `LLVMThreadLocalSymbol symbol: _ZN9grpc_core7ExecCtx9exec_ctx_E (java.lang.IllegalStateException)` (https://github.com/oracle/truffleruby/issues/2634#issuecomment-1075323314) has been fixed in Sulong, and the fix will be in  22.1 too. It will be in truffleruby dev builds next week.

[2022-04-11 16:30] ms-ati commented on #2453
Just noting here that released TruffleRuby 22.0.0.2 reports itself as `RUBY_VERSION` of `3.0.2`, but it appears to not fully conform to the Ruby 3.0 behavior when passing a final `Hash` argument to a method taking both splat and double-splat arguments.

You can see a test that needs to check for TruffleRuby to workaround this behavior here:
https://github.com/ms-ati/docile/pull/90

[2022-04-12 15:43] eregon commented on #2640
This was fixed in graal (see https://github.com/oracle/graal/issues/4480), and it will be fixed on the next graal import (next week).

[2022-04-12 18:08] eregon commented on #2635
I've got a fix for the `NegativeArraySizeException`, and I could run a slight variant of the script to the end (https://gist.github.com/eregon/70787386138f339b964fb76496a3f1d9 it uses a little bit less memory):
[code]

[2022-04-12 22:57] #2635 closed

[2022-04-13 02:08] tiredenzo commented on #2635
thanks 👍

[2022-04-13 11:00] eregon commented on #2635
So it should work fine now. I didn't compare to CRuby (I don't have a recent CRuby on that machine).

If you want to optimize this workload to make it faster, it's probably best to avoid such a large memory usage/heap (because the GC becomes a lot slower, and growing the Hash takes a lot of time), and process e.g. line-by-line if that's possible.
Also an Array would store the entries much more com

[2022-04-21 11:16] eregon opened #2643 "Handle UINT64 bitmasks in FFI"
See https://github.com/ffi/ffi/pull/949#issuecomment-1098175336

[2022-04-22 11:42] eregon commented on #2420
https://github.com/ruby/strscan/pull/35 will fix this.

[2022-04-22 11:43] eregon commented on #2072
I renamed this issue, because we support several C++ extensions already. Rice not yet.

[2022-04-22 11:48] eregon opened #2644 "Support default extension gems"
This an issue to track all default gems with an extension, which might need specific support for TruffleRuby.
For some, we might just reuse the C extension and add TruffleRuby in the CI of those gems.

These default extension gems are problematic when they included in a Gemfile.lock, https://bugs.ruby-lang.org/issues/18567#note-30 has more details.
Related JRuby issue: https://github.com/jruby/jru

[2022-04-23 11:51] eregon commented on #2644
Yes basically JRuby's approach so far is to mostly upstream their JRuby-specific extension Java code into those default gems' repositories (and publish a java platform gem).
You can check the linked PRs in the linked JRuby issue for more details.

[2022-04-25 14:02] aardvark179 commented on #2639
This has now been merged to master.

[2022-04-26 09:48] okuramasafumi opened #2646 "Crash on CI by `bundle install`"
I saw my CI failing only with TruffleRuby, it seems it crashes when it executes `bundle install`.
https://github.com/okuramasafumi/alba/runs/6169615428?check_suite_focus=true
This is the first time I see this kind of crash of TruffleRuby. It uses `truffleruby-22.0.0.2` so there might be a bug only in this version?

[2022-04-26 10:01] eregon commented on #2646
This is a segfault reported by SubstrateVM/Native Image.
It's hard to tell from that the actual issue.
I guess it's transient and rarely occurring? Or did it happen multiple times?

It could also be an issue of sharing native-compiled code due to the bundler cache, but that seems unlikely.

[2022-04-26 10:04] eregon commented on #2640
This is fixed on master now.

[2022-04-26 10:04] #2640 closed

[2022-04-26 13:48] okuramasafumi commented on #2646
Oh, after re-running it passes. Thank you for pointing out!

[2022-04-26 13:48] #2646 closed

[2022-04-26 17:04] eregon commented on #2627
Note that this actually produce garbage entries:
[code]
vs
[code]

i.e., using the encoding there only makes sense if it's actually the encoding of the filesystem, and I think no filesystem uses UTF16.
I need to change the spec for TruffleString, so I'll use another encoding.

[2022-04-27 13:10] rubyFeedback opened #2647 "Support less verbosity via the default output"
Hey there eregon and others.

A new GraalVM release is out and I wanted to test it.

This is the copy/paste example I used:

    import org.graalvm.polyglot.*;

    class Embedding {
        public static void main(String[] args) {
            Context polyglot = Context.newBuilder().allowAllAccess(true).build();
            Value array = polyglot.eval("ruby", "[1,2,42,4]");
            int result

[2022-04-27 13:26] eregon commented on #2647
You can use `--log.level=OFF`, that will effectively suppress the output.

The warning is there for a reason, it means none of the standard library is available, no RubyGems, nothing.
So that probably cannot run anything except trivial examples.
What you need in practice for embedding in a native image is to tell it where is the truffleruby home, using `--vm.Dorg.graalvm.language.ruby.home=...` or

[2022-04-27 14:47] rubyFeedback opened #2648 "[Documentation, within the truffle-ruby repository - examples] Small standalone examples, say five different ones, for polyglot usage, covering basic use case, towards somewhat more sophisticated use case?"
Hey there truffle-ruby devs and users.

I am not sure if I made this suggestion before or not (I tend
to often suggest more examples and documentation in many
different projects, so it is hard to keep track over all
projects), but either way I'll make this suggestion. You
lot can then decide whether this has merit.

GraalVM is fairly well-documented, but there is one thing
I think is partially mis

[2022-04-27 15:06] eregon commented on #2648
There are polyglot examples at https://github.com/graalvm/examples, notably:
* https://github.com/graalvm/examples/tree/master/shared_domain_logic which uses Sinatra
* https://github.com/graalvm/examples/tree/master/weather_predictor which uses the `openweather` gem

They all run GraalVM in JVM mode (`--jvm --polyglot`), not Native mode, that's simply for convenience because then there is no need

[2022-04-28 13:56] flavorjones opened #2649 "Loofah test suite failing on truffleruby-head"
Sometime between these two versions:

- success: `truffleruby 22.2.0-dev-0b02c3cb` (see https://github.com/flavorjones/loofah/runs/6135216946?check_suite_focus=true)
- failure: `truffleruby 22.2.0-dev-a6d2e0bb` (see https://github.com/flavorjones/loofah/runs/6211940003?check_suite_focus=true)

the test suite for [Loofah](https://github.com/flavorjones/loofah) started failing, mostly with this erro

[2022-04-28 16:02] flavorjones commented on #2649
Git bisect reveals 3a8f5196e6a51dc6143ba3d480a984d1cb1e09e5 is the first bad commit.

Tagging @aardvark179 for awareness.

[code]

[2022-04-28 16:13] aardvark179 commented on #2649
Thanks for that, I'll take a look.

[2022-04-28 19:15] flavorjones commented on #2649
Reproduced this on the Nokogiri test suite (which Loofah depends on and subclasses heavily) using 22.2.0-dev-dc3fc7ef:

[code]

[2022-04-29 15:59] aardvark179 commented on #2649
Looks like this has uncovered an entirely separate bug. One of the argument counts appears to have been accidentally overwritten by `VALUE`, the post argument count has some marker bits I recognise. I'll track down what's doing this.

[2022-04-30 21:02] zofrex opened #2650 "File#each_line doesn't accept chomp: true"
Possibly similar to #2205?

[code]

[2022-05-01 10:46] eregon commented on #2650
@bjfish It'd be a good idea to search for `getline_args` in CRuby and see if TruffleRuby accepts `chomp`: for all such methods in CRuby to ensure we don't miss any other.

[2022-05-02 11:53] eregon commented on #2650
Actually, let's leave this one to @andrykonchin :)

[2022-05-03 12:38] aardvark179 commented on #2649
Found the problem. Testing a fix in CI at the moment.

[2022-05-03 21:20] djberg96 opened #2652 "Array#fill double error?"
Not sure what's happening here, but it seems to raise *two* errors, an ArgumentError and a TypeError. It should just be a TypeError:

TruffleRuby 22.1.0:
[code]
Ruby 3.0.x:
[code]

[2022-05-03 21:42] djberg96 opened #2653 "Module#class_variables should accept an inherit argument"
The `Module.class_variables` method should accept an optional `inherit` argument.

Trying this in Truffleruby 22.1.0 results in `'class_variables': wrong number of arguments (given 1, expected 0) (ArgumentError)`

[2022-05-04 09:31] aardvark179 commented on #2649
The fix for this has now been merged to master.

[2022-05-04 09:31] #2649 closed

[2022-05-04 10:35] eregon commented on #2652
It's best to reproduce this outside of IRB for simplicity and smaller stacktraces:
[code]

It's simply an exception which has a cause.
Which is not surprising given the code is this:
https://github.com/oracle/truffleruby/blob/50a95cfe38fd0ec2c9ff9847d4ed508042783a56/src/main/ruby/truffleruby/core/array.rb#L458-L462

So I guess we should change that to be a TypeError and not ArgumentError, but othe

[2022-05-04 11:06] djberg96 commented on #2652
I'm not following. The CRuby error message looks correct to me. It's only the Truffleruby error message that makes reference to the 2nd argument.

[2022-05-04 11:08] eregon commented on #2652
Oh you are right, I confused the output somehow.
Then we we just remove this `rescue TypeError` + `raise ArgumentError` (which I guess comes from Rubinius) and we should match CRuby.

[2022-05-04 12:24] djberg96 opened #2654 "Segfault on bundle install"
truffleruby 22.1.0, like ruby 3.0.2, GraalVM CE Native [x86_64-linux]

Hit this randomly this morning doing a `bundle install` for a project called memfs (https://github.com/simonc/memfs). I was unable to replicate though. There's nothing special about the Gemfile (except maybe the frozen string literal pragma?), so the fact that it happened during a bundle install might just be a coincidence.

I

[2022-05-04 13:35] eregon commented on #2646
I copied the output in https://gist.github.com/eregon/20b715929396b9a499a2777afeb51da0 since GitHub Actions logs disappear after some time.

[2022-05-04 21:04] flavorjones commented on #2649
Thank you!

[2022-05-06 01:50] nickh-stripe commented on #1480
This doesn't seem fixed or fixed still? On latest truffleruby:
[code]

[2022-05-10 08:49] eregon commented on #2431
Some more details about how CRuby handles this: https://github.com/ruby/ruby/pull/5788
And: (from @ioquatix)

[2022-05-10 11:50] ioquatix commented on #2431
I'm slowly figuring out how it works, I guess it's not a bad implementation, but I think `variable.c` could do with a rewrite. lol.

[2022-05-10 16:09] eregon commented on #2431
FWIW, I found https://bugs.ruby-lang.org/issues/15663#change-77214 where I asked some autoload questions and which makes it somewhat clear it's so complex nobody understands it fully.
I think it shouldn't be too bad to implement in TruffleRuby because we already have a lock per autoload constant.
But potentially deadlocks is an issue to consider, i.e., what if one thread is loading A and that need

[2022-05-10 16:19] eregon commented on #1480
It was fixed but regressed, unfortunately the test guard was written incorrectly and so missed the regression (I'll fix that).
The regression is 37b70d4120f732598708e01195f644c833e2baba.
So the fundamental issue is our CI platform (Oracle Linux 7) doesn't have these clocks, and so we can't reliably expose the clock value since the clock might or not exist depending on the Linux version.

@nickh-st

[2022-05-10 16:24] fxn commented on #2431
I am not familiar with the implementation, but isn't `require` already synchronized to avoid seeing partially evaluated files elsewhere? Why aren't these autoloads inheriting or relying on this property?

[2022-05-10 16:33] fxn commented on #2431
@eregon But if `user.rb` uses `C`, it should `require 'c'` before at some point in the code path, no?

[2022-05-10 16:39] fxn commented on #2431
Something that could be relevant in @ioquatix `foobar.rb` example (just a remark, I don't know from the top of my head) is the constant lookup that happens in `module Foo; end` triggers the autoload for `Foo`. Same for the constant lookup that happens in `module Bar; end`. So, one of them is trying to `require` a file that is being `require`d by the other one simultaneously.

[2022-05-10 17:01] eregon commented on #1480
I've got a fix. The trade-off is it will also define these clocks as Process constants on older Linux, and using them with `clock_gettime` raises `EINVAL`.

[2022-05-10 17:09] fxn commented on #2431
So, let me repeat the question.

The example sets autoloads for two constants, pointing to the same file. Since that is synchronized, why aren't the autoloads?

I'd expect the second one to trigger a `require` that blocks, waits, and when it returns, the constant is defined and all continues.

This argument is incorrect, as shown by the tests, but in what sense?

[2022-05-10 19:59] bjfish commented on #2653
This is fixed at https://github.com/oracle/truffleruby/commit/9d4c2bcb18363e54a7d3ab39219c2be16eca7b9f.

[2022-05-10 19:59] #2653 closed

[2022-05-10 22:51] nickh-stripe commented on #1480
Thanks, just some existing code was using it, I don't know enough about why to say whether it could be substituted, just thought reporting it for a easy fix might be beneficial to all 👍 thanks for the quick turnaround.

[2022-05-11 22:27] chrisseaton commented on #2181
https://twitter.com/ChrisGSeaton/status/1524514743209410563

[2022-05-13 09:40] eregon commented on #2438
This also happens in `bundle exec rake --trace doc` of https://github.com/msgpack/msgpack-ruby/runs/6416790321?check_suite_focus=true:
[code]

Seems the exact same issue.

[2022-05-13 09:42] eregon commented on #1479
Seems a clear duplicate of #2438.
A workaround is having a `~/.gemrc` with `gem: --no-document`.
This is also the default, so now it just works and this is solved: https://github.com/oracle/truffleruby/blob/8839057f6c9b8b9e72ddb3650085a711a2505256/lib/truffle/rubygems/defaults/truffleruby.rb#L25-L30

[2022-05-13 09:42] #1479 closed

[2022-05-13 10:19] eregon commented on #2438
Some idea to fix this, we'd store the ReturnID in FrameDescriptor#getInfo(), and so when parsing the eval we could find the proper ReturnID to jump to.

Semantics are like (i.e., the return inside the eval returns to the surrounding method, and not allowed top-level):
[code]

[2022-05-13 16:57] Maumagnaguagno opened #2658 "Different behavior between TruffleRuby and CRuby"
The following code has different behavior in TruffleRuby 22.1.0 and CRuby 3.1.2.
[code]
See outputs below:
[code]

To my surprise, replacing ``||=`` with ``=`` makes both Rubies output the same.
Forgive me if this is already fixed or if there is a related open issue, my search resulted in nothing similar.

[2022-05-13 18:04] eregon commented on #2658
This is because the `a.shift` is evaluated twice by TruffleRuby, but only once by CRuby.
We should fix that..

This variant has no issue:
[code]

[2022-05-15 18:20] postmodern opened #2659 "String#unpack with `Z` and `x` results in corrupted data"
One of my specs which tests unpacking a repeating series of binary fields fails on truffleruby. I managed to narrow the bug down to using `Z` and `x` in a pack-string along with `s` and `L` after it. Changing the `Z` to an `A` or removing the `x` and the `\x00` byte seems to work, implying there's some kind of interaction between the handling of `Z` and `x`.

### Steps To Reproduce

[code]

### Ex

[2022-05-15 18:29] postmodern commented on #2659
Just tested on truffleruby 22.1.0 and seeing the same behavior.

[2022-05-16 10:12] eregon commented on #2659
Thank you for the report.

@aardvark179 Can you take a look?

[2022-05-16 10:29] aardvark179 commented on #2659
I'll take a look.

[2022-05-16 16:08] andrykonchin commented on #2650
Fixed in b30242d07e2b6d471cefdbef020b5b0daf4b8a99, thank you for the report.

[2022-05-16 16:08] #2650 closed

[2022-05-16 17:10] eregon commented on #2659
It's quite weird `.unpack('Z')` doesn't consume the `\0` on CRuby, even though it obviously reads it. Sounds very error-prone.
It's easy to be compatible with CRuby for that, though.

[2022-05-17 09:35] aardvark179 commented on #2659
A fix for this has now been merged into master.

[2022-05-17 16:08] eregon commented on #2420
Fixed by https://github.com/ruby/strscan/pull/35

[2022-05-17 16:08] #2420 closed

[2022-05-17 17:12] #2600 closed

[2022-05-17 17:16] eregon commented on #2600
Done in https://github.com/oracle/truffleruby/commit/c95144afe737f2072efc40966e4f4daee8e1cf8e.
Would be helpful if you can test that it works as documented, as I don't have asdf and I don't plan to setup a Docker image just to test it.
Any tweaks to the docs is also welcome of course e.g. if some part is unclear.

[2022-05-18 15:07] aardvark179 commented on #2658
Our translation of operator assignment nodes seems half correct. We correctly store the receiver as a local variable, but we do not do this correctly with any arguments passed to that receiver.

[2022-05-19 22:40] headius opened #2660 "Cannot load OpenSSL on Fedora 36+"
I am running Fedora 36, which has switched to shipping OpenSSL 3 by default. I have been unable to get TruffleRuby to install with working openssl support.

Installing through RVM does not seem to build the extension correctly, or else it is having trouble finding libssl after built:

[code]

A tarball of the release produces the same error, even after forcing the openssl extension to reinstall po

[2022-05-19 23:51] bjfish commented on #2660
A related CRuby issue is here: https://bugs.ruby-lang.org/issues/18658

The internal issue for this is: GR-38028

[2022-05-27 10:43] eregon commented on #2660
I'm looking into this and adding a Docker test for it and docs.
On truffleruby-dev there is a clear message when libssl 3 is used:
[code]

[2022-05-27 10:55] eregon commented on #2660
On Fedora 36, it is possible to install `openssl1.1-devel openssl1.1`, instead of the `openssl-devel openssl` (which is v3).

I think that's not a possibility on Ubuntu 22.04 though (looking at the package list and https://askubuntu.com/questions/1403837/how-do-i-use-openssl-1-1-1-in-ubuntu-22-04).
And of course it's not an option if some other package is installed/needed and depends on openssl3.

[2022-05-27 11:45] eregon commented on #2660
I've tried in fedora:36, with the system libssl3 installed, and manually installing openssl 1.1 and that works (i.e., `bin/gem install path` works) with truffleruby 22.1.0.

One thing to note though is it's important to not have already run `lib/truffle/post_install_hook.sh` with libssl3 before as there is caching going on (I'll remove that on master for when OPENSSL_PREFIX is set).
In my case the

[2022-05-27 15:23] eregon commented on #2660
Documentation added in fdecea5e45a82bbea2e1ed77cc646c7dc140b2fd, I'll close this as it works on Fedora 36 either with `openssl1.1-devel` or by building openssl 1.1.0 manually with the instructions above.

[2022-05-27 17:59] Strech commented on #2453
@eregon I would like to try a medium-level difficulty issue

instead of a warning. yield in a class definition outside of a method
is now a SyntaxError instead of a LocalJumpError. [[Feature #15575](https://bugs.ruby-lang.org/issues/15575)]

[2022-05-29 09:18] eregon commented on #2453
Noted.

[2022-05-30 08:39] #2181 closed

[2022-05-30 09:18] deepj commented on #2181
Thank you! @eregon Is there any public nightly build is available?

[2022-05-30 09:50] eregon commented on #2181
We should be able to have GraalVM dev builds at https://github.com/graalvm/graalvm-ce-dev-builds, but those lag a few days up to 1-2 weeks behind due to using the truffleruby import in GraalVM. `ruby-build truffleruby+graalvm-dev ~/.rubies/truffleruby+graalvm-dev` will work then.

For the standalone dev builds (https://github.com/ruby/truffleruby-dev-builder), I don't see any way currently as GitH

[2022-06-02 14:37] kachick commented on #2324
Thank you for fix! 🙏

[2022-06-03 15:44] deepj commented on #2181
I successfully installed native build from https://github.com/graalvm/graalvm-ce-dev-builds on my M1 mac :)

[code]

[2022-06-03 16:03] deepj opened #2670 "Puma server crashes while booting on M1"
[code]

To reproduce:
[code]

**app.rb**

[code]

Error:

[code]

[2022-06-03 16:45] bjfish commented on #2670
Thanks for reporting. This is tracked as internal issue GR-38645.

[2022-06-04 07:45] deepj opened #2671 "xapian-ruby: compilation ends with fatal error: 'graalvm/llvm/polyglot.h' file not found"
[code]

To reproduce:

[code]

Error:

[code]

Full log output: https://gist.github.com/deepj/7f6ea3e6113d1d857b3ab339c8e5fa0d

[2022-06-05 19:55] chrisseaton opened #2673 "jt format doesn't work on M1"
[code]

This because Eclipse is an AMD64 build and the JDK on M1 is AArch64.

We need Eclipse 4.14. That's from 2019!

Eclipse 4.23 does have a AArch64 macOS build. Can we update to that? Why is GraalVM using such an old version of Eclipse? Why are we dependent on the source code formatting of one particular IDE anyway?

To get `jt format` working I'm using this patch:

[code]

And running:

[code

[2022-06-06 21:33] chrisseaton opened #2675 "block_given? issue when called via C in Nokogiri"
[code]

This seems to be caused by a `block_given?` failing due to a method being very distant from where it's logically passed the block due C code in between.

`BlockGivenNode` here seems to be getting the frame of `/Users/chrisseaton/Documents/nokogiri/lib/nokogiri/html4/document_fragment.rb:27`, which looks right, but indeed it doesn't have a block. How should `rb_obj_call_init` be passing it,

[2022-06-09 11:31] aardvark179 commented on #2675
CRuby has a macro `PASS_PASSED_BLOCK_HANDLER()` which it uses explicitly in a couple of places to pass the block. I'll add a spec and refactor our code to do the same sort of thing.

[2022-06-10 12:47] eregon commented on #1724
Indeed, it works now, also on linux-amd64:
[code]

[2022-06-10 12:47] #1724 closed

[2022-06-10 13:09] eregon commented on #2671
It looks like compilation fails because it does not use the GraalVM LLVM toolchain.
The reason seems to be it's not a usual extension (see files at https://github.com/garaio/xapian-ruby) and instead of an `extconf.rb` it's a `Rakefile`: https://github.com/garaio/xapian-ruby/blob/master/Rakefile
That doesn't require `mkmf`, and that's what sets up the GraalVM LLVM toolchain in PATH:
https://github.

[2022-06-10 13:18] eregon commented on #2671
Actually there is probably an even easier way to check if that solves it, with `RUBYOPT=-rmkmf gem install xapian-ruby`.
I tried that, but it fails:
[code]

Looking at `xapian-core-1.4.18/config.log`:
[code]
That's because it doesn't use `mkmf`.
There is handling for this stuff in https://github.com/oracle/truffleruby/blob/07df635e4734f17b29f55d75c1541154a1b4db36/lib/mri/mkmf.rb#L2302-L2310

[2022-06-10 14:15] eregon commented on #2181
Darwin-aarch64 dev builds are now available via
[code]
with https://github.com/rbenv/ruby-build/pull/1980.
With the caveat it might be a build with a truffleruby commit ~1 week old.

Should probably add those builds to RVM too at some point.

[2022-06-10 17:05] aardvark179 commented on #2675
A fix for this has now been pushed to master.

[2022-06-10 17:05] #2675 closed

[2022-06-10 18:53] daveola commented on #2171
Here's some real code - anyone who wants to implement their own version of eval.  Kernel::eval has some magical access to it's binding thanks to almost exactly this same pathway.

So if anyone wants to build their own eval, whether it's perhaps something that first checks the code before doing eval, or maybe does a debug logging of the eval before doing the eval, taking this out *without also prov

[2022-06-10 23:18] chrisseaton commented on #2675
https://github.com/oracle/truffleruby/commit/a4e867a2bd66baa7824e317a9d9ae4eb83f4261a

[2022-06-11 12:29] eregon commented on #2171
We'll follow CRuby here, and since https://bugs.ruby-lang.org/issues/18487 CRuby's Kernel#binding raises a RuntimeError if it is called from a non-Ruby frame (the sensible thing to do). We just need to check TruffleRuby does the same (currently it might return an empty Binding) and add a spec for it, and then close this issue.

Where is the real code? Anyway, you can continue discussing on https:/

[2022-06-11 12:48] eregon commented on #2171
There is already a spec in https://github.com/ruby/ruby/pull/5567/files#diff-b5aa67ac2808791677a9de1757bca05d77baa6bcdf77fa75df6a177cc45b6a70, great.

[2022-06-11 12:48] #2171 closed

[2022-06-13 08:15] Tiikara opened #2677 "Rails: RuntimeError (Digest::Base cannot be directly inherited in Ruby) on request"
**OS**: Ubuntu 20.04
**Arch**: amd64
Truffleruby installed with:

`
rvm install truffleruby-22.1.0
`

**Exception** on request:

[code]

**Gemfile** (installed with 'bundle install' without Gemfile.lock):

[code]

[2022-06-13 22:09] bjfish commented on #2677
@eregon This appears to be the same error as the internal issue: GR-38307.

[2022-06-14 03:10] Tiikara opened #2678 "Error compile 'getsource-0.2.2' with <gcc: error: unrecognized command line option ‘-ferror-limit=500’>"
**OS**: Ubuntu 20.04
**Arch**: amd64
**Truffleruby version**: truffleruby+graalvm-22.1.0
**Package manager**: rbenv
**Ruby version output**: `truffleruby 22.1.0, like ruby 3.0.2, GraalVM CE JVM [x86_64-linux]`

When I run :
[code]

Got following output:

[code]

[2022-06-14 10:59] eregon commented on #2678
It's due to https://github.com/tario/getsource/blob/43417d97fb1391548659c513c257cf019e409d9b/ext/getsource_base/extconf.rb hardcoding `gcc`.
That old gem won't work on TruffleRuby anyway (it digs in private method internals), and I don't see the point of it, there is `Method#source_location` since a while, no need for a C extension to get the filename for a Method object.

The fix for this is for

[2022-06-14 10:59] #2678 closed

[2022-06-15 10:40] eregon commented on #2670
Fixed by @rudihorn in https://github.com/oracle/graal/commit/06c54c1111bf254b3d1f7ff2ad69d6554a5dc281, we'll update the import soon and this will be in 22.2.

[2022-06-15 10:40] #2670 closed

[2022-06-15 16:27] eregon commented on #2673
Yes. Could you add Eclipse 4.23 for all 3 arch's on https://github.com/chrisseaton/eclipse-mirror/releases?

There is no point to update when there is no need, it'd be overhead.

Because so far we didn't find a better solution. I agree a standalone java code formatter tool would be nice, but there doesn't seem to be any good one for java that formats in a reasonable way, fast enough, and is config

[2022-06-15 20:41] chrisseaton commented on #2673
Looks like we run `clang-format` on C and C++, could we run it on Java as well?

[2022-06-15 20:41] chrisseaton commented on #2673
Don't configure it.

[2022-06-16 12:04] eregon commented on #2673
Interesting, I didn't know `clang-format` can format Java, that's worth a try.
There is `mx clangformat` which we might be able to tweak.

Then it's very likely to look ugly for things like annotations, etc (e.g. we want `@Child` `@Cached` inline but `@TruffleBoundary` on its own line).

[2022-06-16 19:32] eregon commented on #2660
truffleruby-dev and the next release 22.2 support OpenSSL 3 and so can simply be compiled against the system openssl on Fedora 36/Ubuntu 22.04.

[2022-06-16 19:36] eregon commented on #2124
@bjfish Could you commit this spec and add tags for it?

[2022-06-17 16:06] bjfish commented on #2124
@eregon I've committed the spec above. It appears the third example had `CN=TruffleRuby CA` repeated as the subject. The behavior appears correct on TruffleRuby and no tags were necessary.

[2022-06-17 17:46] eregon commented on #2124
I think we can close this then, the issue has probably been fixed in Sulong, and it's for an older openssl gem release.

[2022-06-17 17:46] #2124 closed

[2022-06-20 11:19] andrykonchin commented on #1515
I suppose we can close this issue.

I cannot reproduce the issue on the master branch:

[code]

[2022-06-20 11:52] #1570 closed

[2022-06-20 12:48] andrykonchin commented on #2569
Created a ticket https://bugs.ruby-lang.org/issues/18838

[2022-06-23 09:25] Strech commented on #2453
@eregon If you don't mind I will try to tackle this issue

ancestor class/module, a RuntimeError is now raised (previously,
it only issued a warning in verbose mode).
[[Bug #14541](https://bugs.ruby-lang.org/issues/14541)]

[2022-06-23 12:16] eregon commented on #2453
@Strech Alright. Something to know about this, TruffleRuby did not have the warning and never implemented the "overtaking semantics" of class variables, because it's unreasonably slow and nobody wants those semantics anyway. An example of it is https://bugs.ruby-lang.org/issues/14541#note-31. So I'd suggest for this item to only raise if a class var is assigned at the top-level, and ignore anythin

[2022-06-23 14:04] #2529 closed

[2022-06-24 12:28] deepj commented on #1717
Now the error is a bit different:

[code]

No issue with MRI rubies thought

[2022-06-24 15:07] deepj commented on #1668
@eregon this can be closed

[code]

[2022-06-24 16:43] #1668 closed

[2022-06-25 13:54] deepj commented on #1522
Still a problem in `truffleruby 22.2.0-dev-84832be1, like ruby 3.0.3, GraalVM CE Native [aarch64-darwin]`

[2022-06-27 13:06] eregon commented on #2089
I have tried with a native libyaml instead of the bundled one, by removing `--enable-bundled-libyaml` in `src/main/c/Makefile`.
`ruby -ryaml -e 'p Psych.libyaml_version'` prints the libyaml version and it's 0.2.5 in both cases.
This is on Native CE.

[code]
TruffleRuby master 7314b6769245c5e0cce5940e27b57ec2d0116cad:
[code]
TruffleRuby master 7314b6769245c5e0cce5940e27b57ec2d0116cad without `--ena

[2022-06-28 10:00] eregon commented on #1982
The [PR](https://github.com/grpc/grpc/pull/27660) to support building the grpc gem on TruffleRuby has been merged.
So I close this issue as it grpc should install fine by the next grpc release.
I will use https://github.com/oracle/truffleruby/issues/2247 to track issues with using `grpc` at runtime.

[2022-06-28 10:00] #1982 closed

[2022-06-28 10:00] eregon commented on #2611
Closing as "can't reproduce/possibly already fixed".
I will use https://github.com/oracle/truffleruby/issues/2247 to track issues with using `grpc` at runtime.

[2022-06-28 10:00] #2611 closed

[2022-06-28 10:01] eregon commented on #2634
This specific error has been fixed, so I'll close this.
I will use https://github.com/oracle/truffleruby/issues/2247 to track issues with using `grpc` at runtime.

[2022-06-28 11:15] aardvark179 commented on #2658
The fix for this has now been merged into master.

[2022-06-28 11:15] #2658 closed

[2022-06-29 16:41] aardvark179 commented on #2536
We neglected to add the release milestone for this issue when it was merged in master. I've done a little benchmarking of IO performance and depending on the build configuration our read performance is either about half of MRI's, or about 1.5 times as fast. For single read operations like the one originally reported a native build of truffleruby took 0.25s to read a 98MB file, while MRI took 0.17s

[2022-06-30 12:10] andrykonchin commented on #2595
Fixed in https://github.com/oracle/truffleruby/commit/9b535010fc8983217b3cb4fb9aa8bb75d22caa49, thank you for the report.

[2022-06-30 12:10] #2595 closed

[2022-07-01 08:40] andrykonchin commented on #2569
Fixed in [b30242d](https://github.com/oracle/truffleruby/commit/2d0ae5e3343ad3978abe9aab4089e5d0a29708ae), thank you for the report.

[2022-07-01 08:40] #2569 closed

[2022-07-05 13:15] aardvark179 commented on #2207
I thought we had solved this, but I think last time I looked I'd run the tests with `OutputIO`. I found the cause of the problem, which was that `StringIO` was updating the position incorrectly after reading a string containing multi-byte characters. I've got a patch for this in our internal CI now.

[2022-07-05 13:17] #2536 closed

[2022-07-05 14:13] piotrmurach commented on #2207
This is still an active bug. The recent run of [tty-spinner](https://github.com/piotrmurach/tty-spinner) test suite on `truffleruby-head` in GitHub CI confirms it.

![truffleruby-string-io-bug](https://user-images.githubusercontent.com/444312/177348171-b1b5cc5f-3908-4c7f-80bb-bc589cf05c6c.png)

[2022-07-06 10:06] aardvark179 commented on #2207
You were about an hour too early for the merge. https://github.com/oracle/truffleruby/commit/be96ee562944f863e7e72ed750f336b939e5d9c3 I'm not sure how long it takes `truffleruby-head` to be updated in CI.

[2022-07-06 10:50] eregon commented on #2207
`truffleruby-head` is updated now: https://github.com/ruby/truffleruby-dev-builder

[2022-07-06 10:50] #2207 closed

[2022-07-06 11:46] andrykonchin commented on #1649
I can confirm that the issue is reproduced on CRuby (3.0.3) so I suppose it isn't a TruffleRuby bug that should be fixed.

I suppose that specs in `spec/isolation/` should be run separately one by one. At least they are run this way on CI:

[code]

https://github.com/hanami/utils/blob/main/script/ci#L26-L51
https://github.com/hanami/utils/runs/6840998067?check_suite_focus=true

### Details

Runnin

[2022-07-06 12:06] #1649 closed

[2022-07-06 12:29] andrykonchin commented on #1952
I've tried to reproduce on the current TruffleRuby master and received the following error:

[code]

`stimulus_reflex` 3.5.0.pre9, MacOS Monterey

<details>
<summary>Full output</summary>

[code]

</details>

[2022-07-06 12:39] eregon commented on #1952
@andrykonchin That sounds like somehow the precompiled-for-CRuby nokogiri was used, which is probably a Bundler bug, or maybe some local setup issue, I'll check with you directly.

[2022-07-06 15:06] andrykonchin commented on #1952
The specs have passed on the current TruffleRuby master:

[code]

[stimulus_reflex](https://github.com/stimulusreflex/stimulus_reflex): [9ea8560829c2b587c23d9ce3f6059e1e896c3aa1](https://github.com/stimulusreflex/stimulus_reflex/commit/9ea8560829c2b587c23d9ce3f6059e1e896c3aa1)

Thank you for reporting the issue.

[2022-07-06 17:04] andrykonchin commented on #2615
Looks like the issue is fixed and the PR is merged.

[2022-07-06 17:04] #2615 closed

[2022-07-11 09:25] dentarg opened #2690 "`File::Stat#executable?` returns `true` when it shouldn't with root user"
TruffleRuby

(Started with `docker run --rm -it -v $(pwd):/app -w /app ghcr.io/flavorjones/truffleruby:nightly-slim bash`, it said `Digest: sha256:97f4726094dee47d3e516c36f2bc0bf3980243017f0aa3d32fab4b1346e4f4ce` in the output)

[code]

MRI

(`docker run --rm -it -v $PWD:/app -w /app ruby:3.0.3 bash`, `Digest: sha256:7c57b474163e01f1518ff830dffef023fbd014378edd414526562137edc1400f`)

[code]

[2022-07-11 10:35] eregon commented on #2690
I cannot reproduce outside Docker:
[code]

[2022-07-11 10:40] eregon commented on #2690
But I can indeed reproduce with your instructions in Docker.
Running ruby as root is rarely a good idea though, that is probably what is causing the issue here.

In general I recommend trying outside Docker (e.g. use ruby-build to install truffleruby-dev), to avoid this root issue, it is quite different than what GitHub Actions does which does not use the root user.

[2022-07-11 10:49] eregon commented on #2690
This is a bug we inherited from Rubinius: https://github.com/rubinius/rubinius/blob/b7a755c83f3dd3f0c1f5e546f0e58fb61851ea44/core/stat.rb#L158
Looks like a mistake when porting https://github.com/ruby/ruby/blob/fae568edbe61f816237aab230ced2ecc07135c45/file.c#L6025-L6047

@andrykonchin Could you fix this?

BTW, `File.executable?(path)` is preferable in general to `File.stat(path).executable?` becau

[2022-07-11 10:55] eregon commented on #2690
Actually access() might slower than stat(), b25099225c9a8371d6801a1be67a987be46b36ed, but access/eaccess is convenient here to check the right bit for us, so we should check if that's faster than truffleposix_stat_mode() + checking the bits. Either should be faster than going through File::Stat.

[2022-07-13 12:36] eregon commented on #2690
It's interesting actually, root can read or write any file, but it can only execute a file if one of the executable bits is set (no matter if it's on the user and root does not own the file).

Regarding performance, it seems stat() is actually fastest on macOS like on Linux (compared to access/eaccess), probably due to being better cached.

[2022-07-16 09:09] MrWormHole opened #2691 "RBS gen doesn't work with Truffleruby"
**Ruby Version**
truffleruby 22.3.0-dev-3dfcaa03, like ruby 3.0.3, GraalVM CE Native [x86_64-linux]

**RBS gem version**
2.6.0

Error message I am getting when I run the command
[code]

[code]

**Notes**
It works on other ruby versions

[2022-07-16 09:56] eregon commented on #2691
As it says, `rbs prototype` doesn't support anything but CRuby, because it depends on RubyVM, an unstable experimetal CRuby-specific API: https://github.com/ruby/rbs/issues/348
The rest of `rbs` should work.

[2022-07-16 09:56] #2691 closed

[2022-07-20 10:10] eregon opened #2692 "Kgio::Pipe.new results in a stack overflow"
CRuby:
[code]
TruffleRuby:
[code]
The issue seems to be we assume IO and subclasses have a `def initialize(fd, mode=nil)` or so constructor but that doesn't seem true for `Kgio::Pipe` which inherits from IO, and so `read_class.new(fds[0], IO::RDONLY)` doesn't work as expected.

Found in https://github.com/sinatra/sinatra/issues/1799

[2022-07-21 04:47] drianpauL opened #2693 "Support to modify Java classpath at run-time"
From: https://graalvm.slack.com/archives/CMY63522F/p1658321203861729

When running TruffleRuby in JVM mode (`--jvm`), it would be nice to have a convenient method modify the JVM classpath at run-time.

An example use case for this would be for a Ruby gem (managed via Bundler) that loads a Java library. Currently users of that gem would need to supply additional environment or command-line options

[2022-07-22 12:34] andrykonchin commented on #2690
Fixed in https://github.com/oracle/truffleruby/commit/78264ffe6c0ed36a04d348d06b1555de19bb57aa. Thank you for reporting.

[2022-07-22 12:34] #2690 closed

[2022-07-22 16:47] #2622 closed

[2022-07-25 17:09] bjfish commented on #2693
@drianpauL This is now added at https://github.com/oracle/truffleruby/commit/925274f409f8498c985b2a23d26cf21f5597483a. Thank you for reporting this.

[2022-07-25 17:09] #2693 closed

[2022-07-26 15:55] ntkme opened #2695 "Installing the latest bundler causes google-protobuf to be installed as a different platform and failed to be resolved at runtime"
Log from GitHub Actions that with truffleruby-head it is using bundled bundler from truffleruby and everything was fine:

[code]

When using truffleruby stable release ruby/setup-ruby action will install the latest bundler version and it causes a strange problem. At first, instead of treating truffleruby as `platform: ruby`, it now `platform: x86_64-linux`, this behavior itself is already very pro

[2022-07-26 15:58] ntkme commented on #2695
Also https://github.com/ruby/setup-ruby/issues/358

[2022-07-26 16:06] eregon commented on #2695
It's https://github.com/rubygems/rubygems/issues/5691 it should be fixed in the upcoming Bundler 2.3.19: https://github.com/rubygems/rubygems/issues/5691#issuecomment-1193725643

[2022-07-26 16:09] ntkme commented on #2695
Thanks. I will lock it to 2.3.16 for now.

[2022-07-26 16:09] #2695 closed

[2022-07-26 16:10] eregon commented on #2695
I'll fix https://github.com/ruby/setup-ruby/issues/358 ASAP so users run less into this.

[2022-07-26 16:11] eregon commented on #2695
Thanks for the report!

[2022-07-26 19:06] eregon commented on #2695
https://github.com/ruby/setup-ruby/issues/358 fixed, so at least setup-ruby users should not run into this with the default `bundler` input.

[2022-07-28 08:56] ollym opened #2697 "grpc doesn't build on M1 Mac (aarch64) with 22.2.0"
[code]

Followed by long list of errors, ending with:

[code]

[2022-07-28 10:50] eregon commented on #2697
Thanks for the report.
grpc 1.48.0 should install fine, since it includes the fixes: https://github.com/grpc/grpc/releases/tag/v1.48.0
But apparently it does not work yet for you.

Could you share the gem_make.out and the mkmf.log (somewhere under `/Users/ollym/.rbenv/versions/truffleruby-22.2.0/lib/gems/gems/grpc-1.48.0`)?

I wonder which option is it which is `not supported by llvm-objcopy for M

[2022-07-28 10:54] eregon commented on #2697
I wonder if that option is `--keep-section=.llvmbc`:
https://github.com/oracle/truffleruby/blob/c37d6aeb1b1159ce28d2c50dd310b3000a771511/lib/truffle/rbconfig.rb#L191
Because https://github.com/grpc/grpc/blob/dd77c67217b10ffeaf766e25eb8b46d2d59de4ff/src/ruby/ext/grpc/extconf.rb#L159 does not seem to add strip options.

[2022-07-28 14:18] eregon commented on #2697
I have a fix and a test for it, it should merge soon. We simply need to not pass `--keep-section=.llvmbc` on macOS because it is not supported on macOS, but yet macOS keeps the bitcode by default (unlike Linux where the flag is needed).

[2022-07-28 17:24] andrykonchin commented on #2692
Fixed in ca0c55e79824c74da4e7db56637c6fb1e5490b1d

[2022-07-28 17:24] #2692 closed

[2022-07-28 21:07] ollym commented on #2697
*gem_make.out*
https://gist.github.com/ollym/343869d0573e870d0bceba5dfd8c19b9

I couldn't find mkmf.log

[2022-07-29 13:59] #2697 closed

[2022-07-29 14:02] eregon commented on #2697
Fixed in 4a027648c1e699cbb00bc2f7e74080bb0f24d1f3. You can try `truffleruby-dev` and it will be in the next release.

[2022-07-29 16:47] andrykonchin commented on #1522
Fixed in 66bd905965f72601c7d40f845b380812a04eb91d. Thank you for reporting the issue.

[2022-07-29 16:47] #1522 closed

[2022-08-01 17:15] #1515 closed

[2022-08-01 17:20] andrykonchin commented on #1511
Fixed in c99ec964fb51f8364c6919467e898db6969f4058. Thank you for reporting.

[2022-08-01 17:20] #1511 closed

[2022-08-01 17:31] andrykonchin commented on #1626
Cannot reproduce the issue on TruffleRuby 22.2:

[code]
I suppose it was fixed in https://github.com/oracle/truffleruby/commit/c99ec964fb51f8364c6919467e898db6969f4058.

Thank you for reporting.

[2022-08-02 02:47] ntysdd commented on #1626
The Ruby rule for Float rounding indeed seems weird for programmers or IEEE 754 experts, and sometimes inconsistent.
https://bugs.ruby-lang.org/issues/12548

That said, I believe currently ruby intentionally choose this rounding mode to be friendly to common people in common cases. And that's because the underlying floats are actually binary floating points, while Ruby wants them to behave much li

[2022-08-02 02:48] ntysdd commented on #1626
The Ruby rule for Float rounding indeed seems weird for programmers or IEEE 754 experts, and sometimes inconsistent.
https://bugs.ruby-lang.org/issues/12548

That said, I believe currently ruby intentionally choose this rounding mode to be friendly to common people in common cases. And that's because the underlying floats are actually binary floating points, while Ruby wants them to behave much li

[2022-08-02 03:35] ntysdd commented on #1626
Currently truffleruby still gives different results for some values when using `sprintf", as can be seen in the commented out test cases https://github.com/oracle/truffleruby/commit/c99ec964fb51f8364c6919467e898db6969f4058 .

And indeed the MRI behavior is quite confusing, inconsistent with neither IEEE 754 nor Float.round(2, half: :even).

[2022-08-02 09:14] andrykonchin commented on #1626
OK, so I keep this issue open as a reminder there is still a compatibility issue (mentioned on the commit):

Failed MRI tests:
[code]

[2022-08-03 20:59] ollym commented on #2697
@eregon I'm still struggling installing grpc with `truffleruby-dev` (installed via rbenv) also

[code]

The contents of gem_make.out are here: https://gist.github.com/ollym/992c273ab98331c5ee1fd2e6652f1ace

[2022-08-04 11:44] rubyFeedback opened #2699 "truffleruby gem: a few things, as well as HOME_DIR/.gem issues"
Recently I found out that truffleruby will be installed into a graalvm
directory I created. So the following works in theory:

    /home/Programs/Graalvm/22.2.0/languages/ruby/bin/gem install libui

I install everything under /home/Programs/. Including versioned
directories so I don't even need a "package manager", the filesystem
acts as surrogate here. And symlinks are used for compaibility.

Any

[2022-08-04 22:43] ntkme opened #2700 "Flaky crash - Receiver not supported. (java.lang.IllegalArgumentException)"
It is very difficult to reproduce but here is one occurrence that is lucky enough to be logged: https://github.com/ntkme/sass-embedded-host-ruby/runs/7681669161?check_suite_focus=true

[2022-08-04 23:52] ntkme commented on #2700
[code]
Ruby Thread id=92 from /Users/runner/work/sass-embedded-host-ruby/sass-embedded-host-ruby/lib/sass/embedded/dispatcher.rb:17 terminated with internal error: (java.lang.RuntimeException)
	from org.truffleruby.core.thread.ThreadManager.printInternalError(ThreadManager.java:337)
	from org.truffleruby.core.thread.ThreadManager.threadMain(ThreadManager.java:325)
	from org.truffleruby.core.thread

[2022-08-06 11:17] eregon opened #2701 "Investigate failures in oj test suite"
See https://github.com/ohler55/oj/pull/804/files
Some missing C API functions (like `rb_ivar_foreach`), some differences and some segfaults.

It might be useful to run this with managed Sulong regarding the segfaults to find the invalid memory accesses.

[2022-08-08 11:32] aardvark179 commented on #2701
`rb_ivar_foreach` seems pretty simple, though it has some special cases in MRI for classes and modules. Implementing that allows most of those skipped specs to pass, but we get two failures and 1 error for trying to call `__allocate__` on something which we don't support it on. I'll take a bit more of a look and create some issues for the problems.

[2022-08-08 14:29] eregon commented on #2700
Thanks for the report, this is a concurrency issue, possibly with the C extensions marking/finalization, @aardvark179 has some work which might fix that.

[2022-08-08 14:43] eregon commented on #1626
I think we are very close to CRuby behavior now and the original issue was fixed, hence I think we keep this closed.
TruffleRuby uses the same rounding behavior as CRuby now.
The remaining differences might even be CRuby bugs.

Is there an actual failing gem/app/software because of this? (if so a new issue would be better)

Because for these 2 cases it doesn't seem reasonable to round like that as

[2022-08-08 14:43] #1626 closed

[2022-08-08 14:54] eregon commented on #2697
The problem is likely already solved, except that https://github.com/ruby/truffleruby-dev-builder/actions hasn't produced a build recently due to an issue on macOS builders, which should be fixed soon (i.e. I'd guess fixed by Wednesday).

[2022-08-08 14:57] eregon commented on #2697
Correction, the latest dev build even though it is old has that fix, so please follow on https://github.com/oracle/graal/issues/4726

[2022-08-08 16:35] stanhu opened #2703 "Seg fault with hiredis-rb tests"
As mentioned in https://github.com/redis/hiredis-rb/pull/81, the test for the native extension seems to be failing at the moment. From https://github.com/redis/hiredis-rb/runs/7707432485?check_suite_focus=true:

[code]

[2022-08-10 19:07] MSP-Greg opened #2704 "Very recent UTF-16 issue? Not.sure."
About 17 hours ago a CI run in [sqlite3-ruby](https://github.com/sparklemotion/sqlite3-ruby/runs/7758324143) passed.  There has been an update in a Window's vcpkg used for the CI, and I just ran it in my [fork](https://github.com/MSP-Greg/sqlite3-ruby/runs/7773611383?check_suite_focus=true#step:7:20) a moment ago.  Both were on current master.  TruffleRuby failed in my fork build.

Passing version

[2022-08-11 10:02] HoneyryderChuck opened #2705 "Regexp.new does not coerce input to string"
Given the following snippet:

[code]

CRuby will return  `/bang/`. Truffleruby fails:

[code]

[2022-08-11 11:52] eregon commented on #2704
Thanks for the report.
TruffleString raises this error, it does not support UTF-16 strings with an odd bytesize.
I think we should adapt the upstream test doing that if possible, @andrykonchin could you do that?
Full output to preserve it:
[code]

[2022-08-11 11:53] eregon commented on #2704
Re why it passed 17 hours ago is because the truffleruby dev builds did not work for a while due to some issue that is now fixed, and so it was using a dev build before the adoption of TruffleString.

[2022-08-11 12:09] andrykonchin commented on #2704
Yeah. Will work on it.

[2022-08-11 16:05] eregon commented on #2704
The issue seems https://github.com/sparklemotion/sqlite3-ruby/blob/94b7447b016b6eabb0d91d68ee73478b7db313f0/ext/sqlite3/database.c#L34
The intention seems to add a second \0 byte, just before the one added by RSTRING_PTR().
Given the error it seems the string before the rb_str_buf_cat() has an even size, but an odd size after, but would be good to verify.
A fix seems to use `rb_str_buf_cat(str, "\

[2022-08-11 16:08] eregon commented on #2704
I'm not sure why `sqlite3_open16` is used at all and not just `sqlite3_open_v2`, UTF-8 seems a much better choice/much more common for Ruby than UTF-16. That seems worth asking upstream.

[2022-08-11 16:33] MSP-Greg commented on #2704
Thanks.

IDK.

I saw the change, (recent pass to recent fail), and all the other platforms were passing in both CI runs.  As some point, right/wrong, good/bad isn't the issue, it's about compatibility.

I was just running CI because the Windows mswin build wasn't working (fixed), and then MSYS2 and vcpkg updated their sqlite3/sqlcipher packages, so I wanted to check the updates.  Or, I'm not that

[2022-08-12 20:46] flavorjones commented on #2704
FWIW, this appears to be happening only when sqlite3 is compiled to use packaged libraries (but not when it uses sytem libraries).

[2022-08-12 21:46] #2704 closed

[2022-08-16 15:24] eregon commented on #1827
mini_racer 0.6.3 works on TruffleRuby now :tada:

[2022-08-16 15:24] #1827 closed

[2022-08-16 15:28] eregon commented on #2169
There is a Graal.js backend in execjs since 22.2 or earlier, and it works well: https://github.com/rails/execjs/blob/master/lib/execjs/graaljs_runtime.rb
It is automatically selected if running with `TRUFFLERUBYOPT="--jvm --polyglot"`, TruffleRuby+GraalVM and `js` is installed (`gu install js`). If any of these parts is missing it warns if Ruby is in $VERBOSE=true mode (or `-w`).

[2022-08-16 15:28] #2169 closed

[2022-08-17 15:48] eregon commented on #2089
Rerunning this on Native CE:
TruffleRuby master 2031318c8309bc0874df7f5b037c3281ee64a7dd:
[code]

TruffleRuby master 2031318c8309bc0874df7f5b037c3281ee64a7dd with `__attribute__((noinline))` on `yaml_parser_fetch_next_token`:
This is because there seems to be an LLVM issue (`https://github.com/llvm/llvm-project/issues/57006`) where the caller inlines `yaml_parser_fetch_next_token` and that blows u

[2022-08-22 15:56] andrykonchin commented on #2705
Fixed in f9ae7a9509b4e2805035cc8b01a135dce70c23a3. Thank you for reporting.

[2022-08-22 15:56] #2705 closed

[2022-08-22 16:43] eregon commented on #2247
https://github.com/cookpad/grpc_kit seems a possible alternative to the grpc gem.
It's written in Ruby and uses the google-protobuf gem (which works fine on TruffleRuby).
I tried and both the [helloworld](https://github.com/cookpad/grpc_kit/blob/master/examples/helloworld_client.rb) and [routeguide](https://github.com/cookpad/grpc_kit/blob/master/examples/routeguide_client.rb) examples work on Tru

[2022-08-22 17:16] eregon commented on #2044
https://github.com/tmm1/stackprof/pull/184 is merged upstream, so for the next release of stackprof it should install fine on TruffleRuby.
At runtime, if `StackProf.*` is used it raises an error saying to use CPUSampler instead.

[2022-08-22 17:16] #2044 closed

[2022-08-22 17:19] eregon commented on #2044
It works with the just-released stackprof 0.2.21:
[code]

[2022-08-22 18:12] eregon commented on #2044
Regarding the `chunky_png` benchmark mentioned in https://github.com/oracle/truffleruby/issues/2044#issuecomment-667579955, that's also solved since TruffleString was merged. Because we now use a MutableTruffleString on the first `setbyte` and then later we can just mutate the MutableTruffleString's bytes without creating new ConcatRopes/SubstringRopes.

CRuby: one-shot: 0.713s peak: 1.557i/s
Truf

[2022-08-22 21:06] k0kubun opened #2709 "require_relative incompatibility after Dir.chdir"
With the following two files, `a/b.rb` and `a/c.rb`,

[code]

[code]

CRuby and TruffleRuby give different results:

[code]

Is this intentional?

[2022-08-23 09:31] andrykonchin commented on #2369
Fixed in 773fd3fb712c712704c0ad26339d6468b2af07c4. Thank you for reporting.

[2022-08-23 09:31] #2369 closed

[2022-08-23 12:51] eregon commented on #2709
Thanks for the report, it's not intended, we should fix it.
IIRC JRuby has the same issue.

It might not be completely trivial, because `__FILE__` in `a/b.rb` is just `a/b.rb` and conceptually `require_relative` is based on `__FILE__`, and that's why we currently see this behavior. Probably we can base it on `__dir__` or handle specially the main script path (which is the only file path which can

[2022-08-23 12:59] aardvark179 commented on #2701
PRs submitted to OJ so far
- https://github.com/ohler55/oj/pull/810
- https://github.com/ohler55/oj/pull/811
- https://github.com/ohler55/oj/pull/812
- https://github.com/ohler55/oj/pull/813

[2022-08-24 01:20] kalaracey opened #2710 "trouble installing nokogiri / rails with rbenv truffleruby+graalvm-22.1.0"
Hello. Truffle Ruby looks really cool. I wanted to try running rails with it, but when I went to `gem install rails`, it failed while installing nokogiri.
I tried installing nokogiri separately, and it failed with the same error. Here are the steps I took, and the output I got:

[code]

* Mac OS 12.5
* rbenv 1.2.0

Full output of `gem install`: ~~[gem-install-nokogiri-log.txt](https://github.com/o

[2022-08-24 11:45] eregon commented on #2710
The error seems:
[code]

Could you try with the latest release, TruffleRuby 22.2.0?

Also it would be useful if you can try `gem install nokogiri --platform=ruby` on CRuby to see if that works or if there is something wrong with the system compiler.

[2022-08-24 11:56] gogainda opened #2711 "regex_game_of_life is slow on TruffleRuby"
Project: https://github.com/dmagliola/regex_game_of_life
In short it's implementation of Game of Life using RegExp

`regex_gol_v2.rb: Final version described on my talk, using named captures to do the replacement also using Regex. The new interesting code is in method add_neighbour_capture`

Noticed that v2 is considerably slower on TruffleRuby comparing to other implementations.
Not something is

[2022-08-24 12:01] eregon commented on #2711
Could you share the numbers you see, and also on CRuby?
Is the v2 supposed to be faster or rather just fancier?

[2022-08-24 12:56] gogainda commented on #2711
I dont have any number, since it's not printing FPS. It just runs much slower that v1.
On CRuby both variants are running smoothly

[2022-08-24 12:58] eregon commented on #2247
TruffleRuby is now in `grpc_kit`'s CI and passes all tests.

I'm not sure how much [grpc_kit](https://github.com/cookpad/grpc_kit) (and maybe [griffin](https://github.com/cookpad/griffin)) can replace `grpc` in practice though, it would be useful if `grpc` users could comment on that.

[2022-08-24 13:31] rschatz commented on #2710
I think we've an issue like this before, it's an incompatibility between the `dsymutil` version that's shipped with Xcode and to the LLVM version we ship. This was fixed in GraalVM 22.2 (https://github.com/oracle/graal/commit/779d805a2acb2e169312365369466ac06fb48763).

If this is really the same issue, updating to version 22.2 should fix it.

[2022-08-24 16:34] HoneyryderChuck commented on #2247
FWIW httpx also [ships with a grpc plugin](https://honeyryderchuck.gitlab.io/httpx/wiki/GRPC.html) which has been successfully testing against truffleruby for quite a while. It's probably the closest to pure ruby (grpc_kit uses dr9 for http2 parsing, which uses C extensions and nghttp2, last time I checked).

Both have very fringe communities and usage, IME. The grpc gem has much bigger community

[2022-08-24 17:27] k0kubun commented on #2709
It's here https://github.com/Shopify/yjit-bench/blob/287fa7c9253068255f2e706b14f88e8fc0affa85/benchmarks/railsbench/benchmark.rb#L10. Apparently they did for running `bin/rails db:migrate db:seed`.

I don't have a strong preference for this one TBH, but it could be an easy workaround when we want to run TruffleRuby.

[2022-08-24 21:26] kalaracey commented on #2710
Upgrading TruffleRuby to 22.2.0 worked, thanks very much.

For reference, I had to update brew and upgrade `ruby-build` to get TruffleRuby 22.2.0. After doing that, and installing 22.2.0, the installation worked.

[code]

[2022-08-24 21:26] #2710 closed

[2022-08-24 22:07] eregon commented on #2709
I have a fix for this, it should be merged soon.

[2022-08-25 13:44] eregon commented on #2247
Thanks for the context. grpc seems hard to get working because it's a huge amount of rather messy C++/C code (which notably reflection with `dlsym()` and has multiple implementations of locks to use to give an idea) and running all that on Sulong is proving challenging. We might be able to run some part on Sulong and some part natively but that would likely need build system changes in grpc, some

[2022-08-26 16:14] ollym commented on #2247
@eregon we're also trying to evaluate truffleruby in production and have hit grpc stumbling block #2697 which we need for development as many of our devs work on M1 macs, but this now seems blocked by https://github.com/oracle/graal/issues/4726 which sounds equally as difficult to workaround. We're forced to use grpc gem because of https://github.com/googleapis/ruby-spanner-activerecord which we e

[2022-08-26 19:38] eregon commented on #2247
Right, there are quite a few gems depending on `grpc`: https://rubygems.org/gems/grpc/reverse_dependencies
We'll look into how feasible it is to run some part natively and some part on Sulong.

Actually no, it's literally dozens of complicated fixes which seem to be needed only for `grpc`. I'm aware of no other popular native extension having similar problems on TruffleRuby. Native extensions don'

[2022-08-27 19:18] ShalokShalom opened #2713 "Report NullPointerException"
[ruby] WARNING: truffleruby starts IRB when stdin is a TTY instead of reading from stdin, use '-' to read from stdin

truffleruby: an internal exception escaped out of the interpreter,
please report it to https://github.com/oracle/truffleruby/issues.

[code]

P.S: I love that you include Backticks into your output XD

Running on Linux
Any more facts needed?

[2022-08-28 00:36] ahorek commented on #2711
<details>
<summary>Benchmark</summary>
<pre>
board = "0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000000000101000000000000000000000000000000000000000000000000000000000110000001100000000000011000000000000000000000

[2022-08-29 11:50] eregon commented on #2713
How did you install GraalVM?
I think this likely means the LLVM toolchain is not installed.

[2022-08-29 14:31] ShalokShalom commented on #2713
From the AUR. I reported this issue to the maintainer. More specifically, it needs
https://aur.archlinux.org/packages/graal-llvm-jdk17-bin

[2022-08-29 14:31] #2713 closed

[2022-08-29 14:56] eregon commented on #2713
Right, installing the ruby component should include both sulong and the llvm toolchain components which are dependencies (and `gu install` does that):
https://github.com/oracle/truffleruby/blob/ea16721f7f9ce953a0a5e50197d327bc776a9904/mx.truffleruby/mx_truffleruby.py#L239

[2022-08-29 14:58] eregon commented on #2713
@rschatz Is it expected Sulong fails like that when the llvm toolchain is missing? I would expect a clearer message.

Kind of related, we might need to handle this case gracefully for https://github.com/graalvm/container/blob/master/truffleruby/README.md#multi-stage-build-for-the-no-toolchain-images so `require 'rbconfig'` still works for that case.
I think the expectation is the `Toolchain` still

[2022-08-29 15:47] ShalokShalom commented on #2713
I added a comment:
https://aur.archlinux.org/packages/truffleruby-jdk17-bin

[2022-08-29 15:47] eregon commented on #2711
Thanks for the benchmark, that's a lot more convenient.

The issue is shown clearly with `--engine.TraceCompilation`:
[code]

The regexp is simply too big (11k characters-long!), and so it's not reasonable to compile it.
Therefore it's run in interpreter and that's pretty slow.
@djoooooe What do you think? Could TRegex detect this and use the backtracking for such a big regexp instead of the DFA?

[2022-08-29 16:06] rschatz commented on #2713
The problem isn't that the LLVM toolchain is missing. This is handled gracefully by the toolchain launchers. The problem is that the LLVM *runtime* component is missing.

I guess this is kind of unexpected from the point of view of the code running. After all, the code that's throwing the exception is part of the LLVM runtime ;)

What's happening here is that the code from the LLVM runtime compone

[2022-08-30 10:51] andrykonchin commented on #1496
Reproduce similar issue on CRuby:

Ruby 3.1.2

[code]

Ruby 3.0.3

[code]

[2022-08-30 11:00] andrykonchin commented on #2101
The specs are successfully passed on truffleruby-head Now ([CI build](https://github.com/mikel/mail/runs/6920782463?check_suite_focus=true)).

The failures might be caused by an issue in rspec-mocks which was fixed in https://github.com/rspec/rspec-mocks/pull/1473.

[2022-08-30 11:00] #2101 closed

[2022-08-30 14:42] eregon commented on #1496
I could repro with a file like:
[code]
Without the `p ` it works fine on TruffleRuby.

With it it fails but this is expected, this code redefines the `!` globally and incorrectly for all Object, and also as a private method hence the error.
So the problem also happens on CRuby with more code:
[code]
gives
[code]

[2022-08-30 14:42] #1496 closed

[2022-09-01 13:04] kou opened #2714 "truffle/truffle/fiddle_backend.rb may raise `Polyglot::ForeignException`"
It should raise `Fiddle::Error` or `Fiddle::DLError` to compatible with https://github.com/ruby/fiddle .

e.g.:

https://github.com/ruby-gettext/locale/runs/8130975674?check_suite_focus=true#step:5:8

[code]

[2022-09-01 16:16] eregon commented on #2714
Thank you for the report, I'll take a look soon.

[2022-09-02 10:11] eregon commented on #2714
There seems to be no test in Fiddle for this case. I guess I'll test this in ruby/spec then.

[2022-09-02 11:05] eregon commented on #2714
This is a regression since 22.1, it will be fixed soon.

[2022-09-02 14:27] eregon opened #2716 "sleep seems too fast"
Report by @ioquatix
https://github.com/socketry/timers/blob/710aea96aa90b96a45df8e5fc0bab9dcbe447f6d/fixtures/timer_quantum.rb
https://github.com/socketry/timers/runs/8149588088?check_suite_focus=true#step:4:8

I added some prints:
[code]

Output:
[code]

[2022-09-02 14:32] eregon commented on #2716
It's simple, we use `java.lang.Thread.sleep(long millis)` for Kernel#sleep, which uses milliseconds.
And so we round 0.1ms to 0ms.

There is also `java.lang.Thread.sleep(long millis, int nanos)`, I'll try that.

In general, I guess sleeps below 1ms are not portable across platforms and probably rarely accurate.

[2022-09-02 15:02] eregon commented on #2716
I have a fix.
With it and `repeats: 100, duration: 0.0001`:
[code]
So there is quite a large overhead for these tiny sub-millisecond sleeps.

With `repeats: 1000, duration: 0.001` it's a lot more accurate for all:
[code]

[2022-09-02 15:50] eregon commented on #2716
I was wondering if the extra clock_gettime()s around the actual sleep are the cause of the overhead but it seems not.
In fact, using only `Thread.sleep(sec=0, ns=100000)` in Kernel#sleep it's still:
[code]

And it's not the overhead of the call either, because if I replace the sleep with `itself`:
[code]

So I guess it's a potential issue with `java.lang.Thread.sleep(long millis, int nanos)` in th

[2022-09-02 16:26] frvade opened #2718 "`require 'grpc'` doesn't work on latest dev version on macOS"
Hi all, thanks for your great efforts on speeding up ruby!

We're trying to switch to truffleruby on our project with GRPC and now expecting problems installing it on macos

First, it seems that [this issue](https://github.com/oracle/truffleruby/issues/2697) affects all macs, not only M1. But the latest dev version actually let the grpc gem be installed.

Second, after installation requiring the g

[2022-09-02 16:39] #2709 closed

[2022-09-02 16:40] eregon commented on #2718
Thank you for the report, we'll look into it.

FWIW here is the error on JDK19 with more details:
[code]

[2022-09-02 18:09] #2714 closed

[2022-09-02 21:22] ioquatix commented on #2716
Thanks for investigating this. One could consider "sleep being too fast" to be an optimisation to make the program faster :)

This could be a problem for an event loop - sleeping not long enough can cause it to burn cycles calling sleep again. I'd advise that we should never sleep for less than what was requested.

[2022-09-03 01:59] #2716 closed

[2022-09-03 04:34] ioquatix commented on #2716
Thanks for fixing this so quickly.

[2022-09-03 10:21] eregon commented on #2556
`tk` should work now with the fixes in https://github.com/oracle/truffleruby/commit/eda7198072ca7b79af1e8758cba0c15a59493cd5

[2022-09-03 10:21] #2556 closed

[2022-09-03 10:23] eregon commented on #2701
Most issues with the `oj` gem should be fixed now with https://github.com/oracle/truffleruby/commit/01607d7343517e3f04ea599416beca78e9c6d73b.
We need to make a PR to `oj` to remove the now-unecessary skips.

[2022-09-05 14:32] eregon commented on #2701
I have a branch removing most skips: https://github.com/ohler55/oj/compare/develop...eregon:oj:remove_most_truffleruby_skips
I'll fix rb_struct_s_members/rb_struct_members first though.

[2022-09-06 14:52] frvade opened #2719 "Array dereference from SimpleDelegator doesn't work in each (iterating)"
### Description
Array dereference in truffleruby works with arrays, but doesn't work with wrapped delegated arrays
### How to reproduce
[code]

In MRI it would be
[code]

The normal array dereference works as expected as well as not wrapped array in `each`

[2022-09-06 19:13] flavorjones opened #2720 "22.3.0-dev-01607d73 `dead handle 0xbad000000010000` exception"
In the https://github.com/sparklemotion/sqlite3-ruby test suite, we started seeing this error within the past week (between ea16721f (good) and 01607d73 (bad)):

[code]

Full log can be found here: https://github.com/sparklemotion/sqlite3-ruby/runs/8214375961?check_suite_focus=true

The version of truffleruby being used in that error run is [22.3.0-dev-01607d73](https://github.com/sparklemotion/sq

[2022-09-07 11:35] eregon commented on #2720
Thank you for the report. In that commit range, the only change for C extensions is https://github.com/oracle/truffleruby/commit/01607d7343517e3f04ea599416beca78e9c6d73b.
I think the change for `rb_gc_register_address` is likely to reveal that issue.
https://github.com/sparklemotion/sqlite3-ruby/blob/6607e64078dd2ee4547e9e82f8aa16efce8ace81/ext/sqlite3/aggregator.c#L268-L269 registers the addresse

[2022-09-07 11:39] eregon commented on #2720
It's already clear from the stacktrace actually:
[code]
https://github.com/sparklemotion/sqlite3-ruby/blob/6607e64078dd2ee4547e9e82f8aa16efce8ace81/ext/sqlite3/aggregator.c#L240

[2022-09-07 11:52] eregon commented on #2720
Fix: https://github.com/sparklemotion/sqlite3-ruby/pull/345

[2022-09-07 11:52] #2720 closed

[2022-09-07 12:04] eregon commented on #2720
We should fix these TODOs though, I'll create an issue for that:
https://github.com/oracle/truffleruby/blob/01607d7343517e3f04ea599416beca78e9c6d73b/src/main/c/cext/gc.c#L15-L20
https://github.com/oracle/truffleruby/blob/01607d7343517e3f04ea599416beca78e9c6d73b/src/main/c/cext/gc.c#L61-L66

[2022-09-07 14:17] flavorjones commented on #2720
Thanks for investigating, and for the upstream PR.

[2022-09-07 14:19] eregon opened #2721 "rb_gc_register_address and rb_global_variable should read the latest VALUE of the pointer"
https://github.com/oracle/truffleruby/blob/01607d7343517e3f04ea599416beca78e9c6d73b/src/main/c/cext/gc.c#L15-L20
https://github.com/oracle/truffleruby/blob/01607d7343517e3f04ea599416beca78e9c6d73b/src/main/c/cext/gc.c#L61-L66

_Originally posted by @eregon in https://github.com/oracle/truffleruby/issues/2720#issuecomment-1239300943_