[2019-01-30 21:23] chrisseaton commented on #1519
Can't see any tagged specs for this - needs specs first.

[2019-01-30 21:32] chrisseaton commented on #1515
I think there's tagged specs for the former but not the latter.

[2019-01-30 21:33] chrisseaton commented on #1511
It's not inaccurate - it's rounding incorrectly.

[2019-01-30 21:35] chrisseaton commented on #1508
@aardvark179 can you take a look, please?

[2019-01-30 21:39] chrisseaton commented on #1496
Note only happens in IRB.

[2019-01-31 16:14] fniephaus opened #1561 "TruffleRuby sets `ruby_cext` in polyglot bindings"
TruffleRuby uses `ruby_cext` in the polyglot bindings to communicate with Sulong when a C-based Ruby library such as nokogiri is used. This communication should not leak into the polyglot bindings object (imagine someone happens to override `ruby_cext` for some reason). I think @chumer knows how to avoid that.

[2019-02-01 11:18] chumer commented on #1561
The polyglot bindings should remain empty, if possible. @chrisseaton could you elaborate why you need it there?

[2019-02-01 11:32] chrisseaton commented on #1561
For example, when someone uses the constant `Qnil` in a Ruby C extension, we need to get the `nil` object from the Ruby context. This is effectively done by:

[code]

On the Ruby side we effectively do

[code]

`ruby_cext` is the exported object @fniephaus is talking about. It's our way to communicate between C and Ruby. Is there better way?

[2019-02-01 13:05] eregon opened #1562 "RbConfig::CONFIG['rubylibdir'] and RbConfig::CONFIG['archdir'] point to not existing directories"
Bootsnap relies on these values to be correct in https://github.com/Shopify/bootsnap/blob/2390a1a5/lib/bootsnap/explicit_require.rb

[2019-02-01 14:01] eregon commented on #1562
Fixed in https://github.com/oracle/truffleruby/commit/2c8878bbc859e4ae5f2839957930e8244bc8391f. It's too late for RC12, so this will be in RC13.

[2019-02-01 14:01] #1562 closed

[2019-02-01 20:56] chrisseaton commented on #1480
Sorry this was fixed ages ago, forgot to close it.

[2019-02-03 00:13] mojavelinux opened #1563 "Single-quoted heredoc string is mislabeled with ASCII-8BIT encoding"
TruffleRuby incorrectly assigns the ASCII-8BIT encoding to a single-quoted heredoc string (in cases when we expect the encoding to be UTF-8). (This happens regardless of whether the string contains a multi-byte character, though is most problematic when it does).

Here's an example:

[code]

The problem goes away if the single quotes are removed:

[code]

This happens for all heredoc variations (`

[2019-02-03 00:31] mojavelinux opened #1564 "Significant indentation in single-quoted squiggly heredoc string is not preserved"
In a squiggly heredoc string, Ruby is supposed to drop the indentation from all lines that matches the length of the indentation of the least indented line (excluding blank lines). This leaves significant indentation in tact. However, when single quotes are added to the heredoc marker, TruffleRuby drops all indentation, including significant indentation.

Working:

[code]

Not working:

[code]

It

[2019-02-03 22:02] eregon commented on #1374
@MaxLap I just saw your comment above.
If you don't mind, could you open a separate issue for it? This seems a problem in Sulong (still fine to report here), and the cause seems unrelated to the original issue.

[2019-02-04 14:26] MaxLap opened #1565 "ArrayIndexOutOfBoundsException while running "bundle install""
Note, this was in November, on rc9. I haven't haven't run my tests with truffle since.

On Travis, I got a similar error (ArrayIndexOutOfBoundsException) during `bundle install`. I have no reproduction scenario.

In 2 different, non consecutive runs, during `bundle install`, I got the following ArrayIndexOutOfBoundsException which have different backtraces.

[code]
Then got the same error and back

[2019-02-04 14:32] eregon commented on #1374
Thanks!

[2019-02-04 14:32] #1374 closed

[2019-02-04 14:59] eregon commented on #1565
@MaxLap Thank you for the detailed report!
It seems an issue on the Sulong side (the Truffle interpreter we use for C extensions), so I filed a bug there and will update here when it's fixed.

[2019-02-04 15:01] nirvdrum commented on #1563
Thanks for the easy reproduction! I'll take a look and see what's going on here.

[2019-02-04 18:12] deepj commented on #1441
This can be closed. No issue with RC12 @eregon @chrisseaton

[2019-02-04 18:13] eregon commented on #1441
@deepj  Great, thanks for replying back :)

[2019-02-04 18:13] #1441 closed

[2019-02-04 18:18] deepj commented on #1508
@eregon @chrisseaton @aardvark179 OK with RC12. This can be closed as well.

Only what I noticed is the following difference

MRI:
[code]

TruffleRuby 1.0.0 RC12

[code]

The object's hash is shorter in case of TruffleRuby 1.0.0 RC12.

[2019-02-04 18:23] aardvark179 commented on #1508
Glad to hear this one is working in RC12.

[2019-02-04 18:23] #1508 closed

[2019-02-04 18:23] deepj commented on #1437
OK. With RC12 there is a new issue

[code]

@eregon ^^

[2019-02-04 18:31] ohler55 commented on #1437
Is there an equivalent in the OS you are using?

[2019-02-04 18:38] eregon commented on #1437
@ohler55 I'm pretty sure it's a Sulong bug (our way to run C extensions), not a missing OS feature.

@deepj Would you mind opening a new issue to avoid mixing different bugs? This particular issue might also be present with other C extensions, so it seems even more important to have its own bug.

[2019-02-04 18:56] deepj commented on #1437
@eregon of course. I wanted to make it anyway.

[2019-02-04 18:59] deepj opened #1566 "oj: pthread_mutex_init is unsupported!"
After solving several issues in #1437 there is a new one

This is reproducible on TruffleRuby 1.0.0 RC12

To reproduce:

[code]

Error:

[code]

[2019-02-04 19:07] eregon commented on #1566
@deepj  Thank you for the report, I filed GR-13707 internally for the Sulong team to resolve this.

[2019-02-04 19:09] eregon commented on #1437
@deepj Thanks!
Let's close this as the original issue (`use of undeclared identifier 'rb_eEncodingError'`) is solved, as well as  the conversion to native pointer.

[2019-02-04 19:09] #1437 closed

[2019-02-05 00:32] nirvdrum commented on #1487
This was fixed by 648d728, but unfortunately I couldn't get the fix before 1.0.0 RC 12 was released. The fix will be available in the next release.

[2019-02-05 00:32] #1487 closed

[2019-02-05 01:32] nirvdrum commented on #1564
Thanks for checking against JRuby as well. JRuby ports MRI's parser and lexer to Java. We used to share those files when we were part of the JRuby project, but when forked away we ended up with our own copy of them. So, it's not too surprising that if JRuby has a problem like that that we've inherited it as well.

[2019-02-05 12:17] deepj commented on #1475
@eregon I guess this can be closed. The original issue comes from `kgio`. `dalli` just "works" on TruffleRuby even some `dalli` tests just fail.

[2019-02-05 12:36] eregon commented on #1475
@deepj Thanks, good news :)
I will close this issue then.
If you have the logs of `dalli` tests failing, feel free to open a new issue with it.

[2019-02-05 12:36] #1475 closed

[2019-02-05 16:45] deepj commented on #1398
@eregon I can’t confirm so speed up of ‘bundle install`. Honestly, the speed is almost same on my machine like in the previous RC11.

[2019-02-05 16:52] eregon commented on #1398
@deepj  Yes, it's not expected to be really faster locally yet, but on CI (at least TravisCI), where the list of all gem versions is downloaded every time, there should be a noticeable gain, particularly for smaller Gemfile.lock.

[2019-02-05 18:28] deepj opened #1567 "bundle exec, require and rescue causes LoadError"
The require's exception would be caught by the `rescue`.

**Gemfile**

[code]

**load_error.rb**

[code]

To reproduce:

[code]

Error:

[code]

Expected:

No exception and nothing is printed.

[code]

[2019-02-05 18:31] deepj commented on #1398
I always tried it from the scratch (all gems was removed before it)

[2019-02-05 18:37] #1567 closed

[2019-02-05 18:39] deepj commented on #1567
Sorry, my mistake. I haven't realized `rescue` catches only `StandardError` exceptions. `LoadError` is `ScriptError`. The problem is in https://github.com/dry-rb/dry-initializer/blob/master/spec/spec_helper.rb#L4

[2019-02-05 19:02] nirvdrum commented on #1563
This has been fixed via d3229f3dd3228f36d5e095d6467bcd932f698697. I wasn't able to get it before the 1.0.0 RC 12 release, so we'll have to wait for the next release for the fix to appear in a build. I'm going to close the issue out now, but we can reopen it after the next release if necessary.

[2019-02-05 19:02] #1563 closed

[2019-02-05 19:03] deepj opened #1568 "protected method and respond_to? would return false"
This one of big changes in Ruby 2.0 beside Ruby 1.9.3.

See https://tenderlovemaking.com/2012/09/07/protected-methods-and-ruby-2-0.html

To reproduce

[code]

Actual:

[code]

Expected:

[code]

This issue causes failing this dry-initializer spec https://github.com/dry-rb/dry-initializer/blob/master/spec/public_attributes_utility_spec.rb

See also https://github.com/dry-rb/dry-initializer/blob/mas

[2019-02-05 19:16] mojavelinux commented on #1563
Thanks @nirvdrum! That's great news.

[2019-02-05 19:57] mojavelinux commented on #1398
@deepj Same here. It hasn't really gotten any better.

Another part of the problem seems to be that RC12 takes a few tries to successfully install all the gems. And I am not talking about large applications here. I mostly work on text-processing utilities and even those take a very long time for Bundler to set up under truffleruby.

For example, kramdown-asciidoc has about 50 gem dependencies for

[2019-02-05 20:22] mojavelinux commented on #1490
Building on @Mogztter's point, is there anything we can do to make the SegFault a bit less ugly? (Or should we not be worried because the real solution is not having a SegFault at all)?

[2019-02-05 20:30] mojavelinux commented on #1490
I guess as long as it's helpful to you. But the raw stacktrace just looks like a repetitive stream of nonsense to the rest of us. Is that input for a debugger?

[2019-02-05 20:34] nirvdrum commented on #1490
I can certainly empathize with the output looking like gibberish if you're not familiar with it. But, it's not an input for automated tool. It just includes a lot of information about the state of the program at the time of the segmentation fault with the hope that at least some of it will help guide the dev team to a fix.

You might find the `RuntimeCodeCache` section interesting. It shows which

[2019-02-05 20:36] mojavelinux commented on #1490
Understood. I'm not saying it's all bunk. There are certainly parts that are very interesting. It's just these lines that I don't see how they add value:

[code]

from https://travis-ci.org/asciidoctor/asciidoctor/jobs/489199146

[2019-02-05 20:42] MaxLap commented on #1490
Possible idea: The output could be turned into a blob. Something like compressing the text and then doing a base64 of it.

The overall size would go from 600k to 55k compressed (Based on the log in the top post). Then with the 33% overhead of Base64, that would be around 75k. Sadly this is still too big for a Github comment, but it wouldn't look like something that just repeats.

But that means th

[2019-02-05 23:32] deepj opened #1569 "prawn: too many loop explosion iterations - does the explosion not terminate for method SubstrateMethod<..>"
To reproduce

[code]

It starts hanging up after a while and you need to terminate it using `Ctrl + C/Command + C`. Mostly after several minutes (5 – 7 minutes). These steps reproduce always this issue on my machine. Probably, there is a simpler way how to reproduce it but this is how I found it.

Error
[code]

[2019-02-06 01:05] deepj opened #1570 "JSON.parse parses an invalid JSON like a valid one"
To reproduce:

[code]

Actual:

[code]

Expected:

[code]

[2019-02-06 01:18] deepj commented on #1570
There is some bug for `JSON.parse("[")`

[2019-02-06 01:50] deepj commented on #1560
This causes an issue in Sidekiq on this place https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/processor.rb#L176

Due to this, plenty tests fail.

[2019-02-06 02:07] deepj commented on #1548
@chrisseaton what a title of this issue would be more accurate here. I have no idea.

[2019-02-06 10:08] eregon commented on #1523
@deepj Is memory that high just when running specs like above?

[2019-02-06 10:11] eregon commented on #1523
`spec/manual_spec.rb` generates a pretty big PDF IIRC, that might be part of it. How much memory does MRI use?

[2019-02-06 10:55] eregon commented on #1569
The relevant part of the error (I removed some less relevant parts) is:
[code]
Which means it's a bug of StringNodes$DeleteBangNode most likely.

[2019-02-06 12:29] eregon commented on #1569
[code]
is a simple reproducer for this bug.

[2019-02-06 14:15] aardvark179 commented on #1569
Thank you for reporting this. I've found two places where this type of problem could occur, and I'm testing a fix internally right now.

[2019-02-06 16:21] deepj commented on #1523
@eregon I used Ruby 2.6.1 and these are the results

In a case of the given spec ~ 41.1 MB
In a case of the whole spec suite ~ 89.2 MB

I think prawn can be good "memory usage benchmark" for TruffleRuby.

[2019-02-06 16:58] eregon commented on #1523
OK, 89MB vs 8GB is definitely a problem. Part of it might be due to #1569.
Could you extract it in a new issue since this one is closed?

[2019-02-06 19:27] flash-gordon commented on #1568
@deepj glad you narrowed down, dry-initializer is highly optimized and, frankly speaking, quite hard for debugging. It even crashed CRuby once, it took me a while to come up with a reproducible snippet for a bug report.

[2019-02-06 20:01] aardvark179 commented on #1569
@deepj just to let you know I have found one other memory related issue in the tests. I have a fix which I'm testing in our CI environment now, and can successfully run the whole test suite locally (apart from `manual_spec.rb` which will need a new case for TruffleRuby.

[2019-02-06 20:29] deepj opened #1571 "keyword splats cause sometime SyntaxError: syntax error, unexpected '['"
I couldn't prepare some simple reproducible example for this issue. But it's easy to reproduce in rom specs. The problem lies in https://github.com/rom-rb/rom/blob/master/repository/lib/rom/repository/class_interface.rb#L125 when `root.command(type, **opts)` is called.

To reproduce:

[code]

Error:

[code]

I guess there is similar issue https://github.com/oracle/truffleruby/issues/1469 to this.

[2019-02-06 20:55] piotrmurach opened #1572 "Fiddle support?"
I've added `TruffleRuby` to `tty-prompt` gem travis configuration to see if it works with a more interesting project of mine. I hope to help you make the `1.0.0` relaese with this issue report. The [tty-prompt ci](https://travis-ci.org/piotrmurach/tty-prompt/jobs/489310769) fails due to lack of [Fiddle::DLError](http://ruby-doc.org/stdlib-2.0.0/libdoc/fiddle/rdoc/Fiddle/DLError.html) which will pr

[2019-02-06 21:44] deepj opened #1573 "bson: External function @rb_num2ull cannot be found."
To reproduce:

[code]

Error:

[code]

[2019-02-06 22:10] deepj opened #1574 "bson: RuntimeError: unknown type 12"
To reproduce:

[code]

Error:

[code]

Expected:

[code]

[2019-02-06 22:20] deepj opened #1575 "bson: rb_sym_to_s not implemented"
To reproduce:

[code]

Error:

[code]

[2019-02-06 22:34] eregon commented on #1572
Hello and thank you for the report!

We intend to support `Fiddle`, although currently our support is very minimal.
I'll try to take a look at what's needed to run `tty-prompt`.

What I see is that Fiddle is used for `size_from_win_api` in https://github.com/piotrmurach/tty-screen/blob/282ae528974059c16090212dbcfb4a3d5aa3bbeb/lib/tty/screen.rb#L80-L81
So probably just raising `Fiddle::DLError` whe

[2019-02-06 23:11] chrisseaton commented on #1575
This'll be a one-line fix.

[2019-02-06 23:13] chrisseaton commented on #1572
We worked a bit on `Fiddle` support in the past but paused when we realised we didn't really have any use-cases at the time. It's good to have a motivating user.

[2019-02-06 23:16] eregon commented on #1572
I have a fix for the usage of Fiddle in `tty-screen` going through CI.
It now works with both `IO#ioctl`, and also through `io/console`:
[code]

[2019-02-06 23:27] piotrmurach commented on #1572
@eregon Ohh forgotten that `tty-screen` uses Fiddle as well. The actual dependency in `tty-prompt` is `tty-reader` that uses Fiddle to support Windows keyboard input on older systems(please see https://github.com/piotrmurach/tty-reader/blob/master/lib/tty/reader/win_api.rb)

@chrisseaton I thought this may be an interesting gem to try on travis due to Win API integration. I need to support this du

[2019-02-07 10:17] eregon opened #1576 "rvm install truffleruby is rather slow"
It's been reported to take around 140 seconds, which is a lot for basically downloading TruffleRuby and RVM installing a few gems.
For comparison, before TravisCI integration, downloading TruffleRuby and adding it in PATH using [these instructions](https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md#testing-truffleruby-in-ci) takes just [2 seconds](https://travis-

[2019-02-07 10:18] eregon commented on #1576
cc @mojavelinux

[2019-02-07 11:17] eregon commented on #1572
@piotrmurach My fix for `tty-screen` got merged (e4211f0232710f1f18c2f238dfd0bd7a78bc6bef) and will be in the next release.
I'll try to run `tty-prompt` tests locally to see if there are other issues.

[2019-02-07 11:31] eregon commented on #1572
I ran the `tty-prompt` specs locally, and they all passed :smiley:

[code]

So I'll close this issue, and notify you when the next release is out.
Thank you again for the report.

[2019-02-07 11:31] #1572 closed

[2019-02-07 12:16] eregon commented on #1572
BTW, I noticed `tty-prompt` depends on `timers 4.1.2`, which depends on `hitimes`.
`hitimes` works fine on Linux with TruffleRuby, but not yet on macOS (#1436).
More recent `timers` releases solve this problem by dropping the `hitimes` depdendency and use `Process.clock_gettime`, but that also means Ruby >= 2.1 is required.

[2019-02-07 12:26] eregon commented on #1436
I opened an issue on the `hitimes` tracker to consider using `Process.clock_gettime` as a backend:
https://github.com/copiousfreetime/hitimes/issues/72

[2019-02-07 18:14] rbotafogo opened #1577 "Bug when using $stdout"
Hello....

The following code works fine in MRI Ruby but crashes in Truffle:

[code]

[code]

[2019-02-07 20:44] piotrmurach commented on #1572
@eregon Nice one! Thanks for the heads up. I use `timers` only for one of the prompts, I may consider dropping it altogether and roll my own solution for scheduling calling proc in equal intervals.

[2019-02-07 22:38] eregon commented on #1576
I made a PR to TravisCI to skip the hook on TruffleRuby, as anyway it noops as we always use a more recent RubyGems: https://github.com/travis-ci/travis-build/pull/1654

[2019-02-07 23:44] copiousfreetime commented on #1436
I need to confirm a few things - but initially looks doable to move hitimes to pure ruby.

[2019-02-08 10:12] mojavelinux commented on #1576
Thanks for sharing this analysis. I agree RVM is being too defensive by trying to modify the RubyGems installation.

On my machine, I get a different result than you by following the instructions. It takes 1m to install truffleruby. That may be due to:

[code]

That could be happening on Travis CI as well:

[code]

But we can't see what's actually happening behind that log message.

[2019-02-08 11:08] deepj opened #1578 "bundle install is sometime terminated by signal SIGSEGV (Address boundary error)"
[code]

Example (TruffleRuby 1.0.0 RC12):

[code]

This happens exceptionally when I have open many apps on my machine (macOS Mojave and 8 GB RAM).

[2019-02-08 12:13] eregon opened #1579 "listen gem test failures"
Around 90% of the specs pass on TruffleRuby 1.0.0-rc12:
[code]
https://travis-ci.org/eregon/listen/jobs/490484766#L4839

The failures all fail at a high-level with incorrect `added`/`modified`/`removed` files.
We should investigate to find out the root cause.
Maybe @ioquatix can help?

[2019-02-08 12:45] eregon commented on #1576
@mojavelinux

Maybe we should just install Bundler in TravisCI with RVM, and not all other gems RVM installs by deault, which seem unlikely to be used in TravisCI.

TravisCI is not particularly fast, so I'm not surprised it runs faster locally.
Re the OpenSSL C extension, it's only recompiled if libssl 1.0.x is not the system version.
TravisCI currently always uses libssl 1.0.x, so it's not recomp

[2019-02-08 17:27] eregon commented on #1576
travis-ci/travis-build#1654 was merged, so the extra TravisCI RVM hook is now skipped without overhead:
[code]

Next step is installing less gems with rvm  and/or faster `gem install`.

[2019-02-08 17:52] deepj commented on #1578
Hm, I can reproduce it using Rails Gemfile (with several uncommented gems)

[2019-02-08 17:59] aardvark179 commented on #1569
All the fixes for this issue are now merged.

[2019-02-08 17:59] #1569 closed

[2019-02-08 19:51] deepj commented on #1578
Another fact, this happens only when many gems are needed to be installed.

[2019-02-08 20:12] nirvdrum commented on #1578
I'm fairly certain this is a duplicate of #1490. If you don't mind, I'm going to close this out and move discussion over there.

[2019-02-08 20:12] #1578 closed

[2019-02-08 20:22] deepj commented on #1490
I can reproduce this issue when I install many gems. A good example is Rails' Gemfile contains a lot of dependencies (unfortunately some gems need to be commented out to not be installed).

Do that always freshly with no cached/previously installed gems on your machine. When you have installed them before you don't reproduce it.

I'm sure this happened to me with RC9 or RC8 when I tried some Rails

[2019-02-08 20:46] nirvdrum commented on #1490
I think we have the issue fixed on master already. I'm running against ~1K Gemfiles to verify now.

[2019-02-08 21:08] eregon commented on #1436
@copiousfreetime Great to hear :)

[2019-02-08 23:27] deepj commented on #1398
@eregon even bundle update is extremely slow. All gems are "cached"

[code]

Ignore what I tried but I'd used Rails' Gemfile

[2019-02-09 04:17] deepj opened #1580 "A method is called but never triggered"
OK. I guess this issue is connected to more issues what I've seen with TruffleRuby. But I finally find easy way to reproduce it and the code is short.

To reproduce:

[code]

Error:
[code]

[process_args](https://github.com/seattlerb/path_expander/blob/master/lib/path_expander.rb#L75) method is called but the its code is not triggered. This methods is called in [assert_process_args](https://github

[2019-02-09 09:55] mojavelinux commented on #1576
:+1:

[2019-02-09 09:58] mojavelinux commented on #1576
I wasn't saying that it installs faster locally. I was saying that my local install is slower than yours on account of having to recompile (Fedora 28).

Gotcha.

:+1:

I'm not too concerned about the time it takes to install Ruby itself, honestly. It's the `gem install` part that is really the killer. All I'd be interested to know (in the docs) is how recompilation can be avoided (if I were lookin

[2019-02-10 23:14] JongleurX commented on #1433
This issue has been open for a while, so I thought I'd give try the process again with the latest bits.

I tried again, using Ubuntu 18.04.2 LTS and TruffleRuby 1.0.0-rc10, installed with RVM. I couldn't install the nokogiri gem. I had attempted to install it using the system libraries as documented (e.g. in #62), so I removed 1.0.0-rc10 and downloaded 1.0.0-rc12 CE from the GitHub releases page.

[2019-02-10 23:19] chrisseaton commented on #1433
Yes we've got a bit behind on our public issues, sorry about that. Thanks for trying again.

[2019-02-11 12:33] chrisseaton commented on #1548
We've documented that TruffleRuby detects thread interrupts in different places than MRI. This is the same as Rubinius and JRuby, and TruffleRuby actually detects them sooner, rather than later, so I don't see it as a problem.

https://github.com/oracle/truffleruby/blob/56e619506e7265f34f4e981e9072ed902f2b1e53/doc/user/compatibility.md#threads-detect-interrupts-at-different-points

So I'm going to

[2019-02-11 19:46] aardvark179 commented on #1575
I've now got a fixes for all the unexpectedly failing BSON tests in CI. The redefinition of `NilClass#==` by BSON did throw for a little bit.

[2019-02-11 20:49] aardvark179 commented on #1580
I've taken a look and the actual bug is not that `process_args` isn't called correctly, but that `Array#each` only iterates over the initial elements of the array, and excludes the extra ones pushed to it.

[2019-02-11 22:26] chrisseaton commented on #1548
https://github.com/mperham/connection_pool/pull/112

[2019-02-12 00:34] #1548 closed

[2019-02-12 13:24] fniephaus opened #1581 "Integer Division returns Foreign object"
In Java, `Long.MIN_VALUE / -1` is the only division that overflows. I don't know why, but `-9223372036854775808 / -1` returns a `Foreign` object in TruffleRuby.

truffleruby 1.0.0 RC12 repro session:
[code]

Related: https://github.com/smarr/SOMns/pull/292.

[2019-02-12 15:02] eregon commented on #1581
We already handle this case, but by mistake return a `BigInteger` and not a Ruby Bignum/Integer, good catch.

[2019-02-12 15:55] fniephaus commented on #1581
For the record, these are lines @eregon was referring to: [IntegerNodes L326](https://github.com/oracle/truffleruby/blob/fb14db44e98da85b66bfd4ff60b5426a4efcba46/src/main/java/org/truffleruby/core/numeric/IntegerNodes.java#L326) and [IntegerNodes L367](https://github.com/oracle/truffleruby/blob/fb14db44e98da85b66bfd4ff60b5426a4efcba46/src/main/java/org/truffleruby/core/numeric/IntegerNodes.java#L3

[2019-02-12 20:14] aardvark179 commented on #1577
This appears to be happening because we don't have the same fallback behaviour as MRI when `to_s` doesn't return a string during `StringIO#puts`. I will submit a fix for this.

[2019-02-12 20:17] eregon commented on #1581
Fixed in 3650346e173a21ac8accbcd4a980545cb3ea2007, thank you for the bug report!

[2019-02-12 20:17] #1581 closed

[2019-02-12 20:18] fniephaus commented on #1581
Sure thing, thanks for the fix!

[2019-02-12 23:20] deepj commented on #1568
@eregon @chrisseaton Please, make this to RC13. It helps dry/rom stuffs. And this was one of big changes between 1.x and 2.x versions.

[2019-02-12 23:37] deepj commented on #1580
@eregon @chrisseaton this one please to RC13. I guess if @aardvark179 is right this issue might be connected to problems with splat operator such in
https://github.com/oracle/truffleruby/issues/1469 + maybe this
https://github.com/oracle/truffleruby/issues/1571 is relative too

Back this issue I guess I’ve seen more relative failed specs/tests with missing items in arrays. I just don’t remember wh

[2019-02-12 23:40] chrisseaton commented on #1580
We were thinking about this one today in the group.

[2019-02-12 23:41] deepj commented on #1529
@eregon @chrisseaton if there would be a chance to move FFI compability forward it could help to run more native gems on TruffleRuby. RC13/14?

[2019-02-12 23:47] chrisseaton commented on #1529
I think we're unlikely to fix this one as fast as the other priority issues, I'm afraid. It's going to be a bit more work.

[2019-02-12 23:56] deepj commented on #1560
@eregon @chrisseaton when this issue is quick to fix, please try to fix it to RC13. This fix almost or all failed tests in Sidekiq. Sidekiq depends heavily on this behaviour.

[2019-02-13 10:31] eregon commented on #1560
I'll take a look at this.

[2019-02-13 17:48] rbotafogo opened #1582 "Wrong unboxing?"
[code]

Crashes with:
Failure/Error: `puts val.class`

[code]

[2019-02-13 18:02] chrisseaton commented on #1582
This is currently as documented. We don't have any rules that say that calling `.class` should try to `UNBOX`.

Compare with:

And:

And:

https://github.com/oracle/truffleruby/blob/master/doc/contributor/interop.md

None of those apply so it doesn't try to `UNBOX` and instead does `INVOKE(class)`.

Do you think we should `UNBOX` before any method calls? I think we'd lose a lot of information.

[2019-02-13 19:19] rbotafogo commented on #1582
Chris,

I think you are right... this unboxing stuff is really hard and I'm not always sure what I want...

Here is another example and it shouldn't really unbox, maybe it's just the error message that is inadequate.

The code creates a vector in R with one element.  I then retrieve this element by indexing the vector and when doing 'p' the message comes with an Interop error with  java.lang.Doubl

[2019-02-13 19:25] chrisseaton commented on #1582
What are you trying to do in the first place that is motivating you to try to get the class? I think ideally you shouldn't have to look at what the class is, and maybe there is a way to avoid having to do it.

The second example looks more like a bug - the logic we're doing there isn't right even if we did intend to be unboxing, so I will work on fixing that one.

[2019-02-14 13:26] rbotafogo commented on #1582
I was just debugging my code and when trying to simplify it to open this
issue I got confused.

You are absolutely right.  A Polyglot call should return an external
pointer and thus should not respond to class!

So, please, forget about the first issue.  Thanks for fixing the second one!

Em qua, 13 de fev de 2019 às 17:25, Chris Seaton <notifications@github.com>
escreveu:

--
Rodrigo Botafogo

[2019-02-14 15:58] eregon commented on #1560
Fixed by ee80ecd1002495f06b6da6855221919fab9611bc.
@deepj Thanks for the report, I took the occasion to fix a couple more `Exception#cause`-related bugs.

[2019-02-14 15:58] #1560 closed

[2019-02-14 17:44] pierre-pretorius commented on #1421
I tried a few versions and they all work fine on 1.0.0-rc12 on Ubuntu 18.04.1 LTS:
`ruby -v`
`truffleruby 1.0.0-rc12, like ruby 2.4.4, GraalVM CE Native [x86_64-linux]`

`gem install pg -v 1.1.2`
`gem install pg -v 1.1.3`
`gem install pg -v 1.1.4`

[2019-02-14 17:51] aardvark179 commented on #1421
Good to hear. We still have a minimal set of patches that we apply to `pg` but they aren't likely to cause many issues.

[2019-02-14 17:51] #1421 closed

[2019-02-14 22:00] nateberkopec opened #1583 "Install script assumes Homebrew installed to /usr/local"
Mine is installed in my home directory, so this check:

[code]

...fails.

Separately, even after correctly setting OPENSSL_PREFIX, I still get:

[code]

[2019-02-15 01:05] chrisseaton commented on #1583
Does `$ brew config` give the correct directory for `HOMEBREW_PREFIX`? If so we could use that.

[2019-02-15 02:24] nateberkopec commented on #1583
It does, and so does `brew --prefix openssl`

[2019-02-15 10:29] aardvark179 commented on #1573
The fix for this is now merged.

[2019-02-15 10:29] #1573 closed

[2019-02-15 10:30] aardvark179 commented on #1574
The fix for this is now merged.

[2019-02-15 10:30] #1574 closed

[2019-02-15 10:31] aardvark179 commented on #1575
The fix for this is now merged.

[2019-02-15 10:31] #1575 closed

[2019-02-15 19:28] deepj commented on #1503
@eregon @chrisseaton Can you add this as a priority to RC13. I've seen this issue several times in some tests/specs.

[2019-02-15 19:30] deepj commented on #1575
@aardvark179 Just a question. Do you say all BSON specs are just passed?

[2019-02-15 21:14] deepj commented on #1450
@chrisseaton @eregon  I've noticed of your last work on TracePoint support. If it's not too much work, is it possible to provide some support TracePoint API to C extensions?

[2019-02-15 21:44] chrisseaton commented on #1450
In order to support `byebug`? Do you mean code like this? https://github.com/deivid-rodriguez/byebug/blob/af25ece0b5a43fd857d19a45206653d0c402cd10/ext/byebug/byebug.c#L78

[2019-02-15 21:47] deepj commented on #1450
@chrisseaton yes, I'd like to see byebug and to try on TruffleRuby

[2019-02-15 21:49] chrisseaton commented on #1450
Ok I'll mark this as priority as well, but I don't think it's as easily achievable as the others. We should try to fix this set now and then ask for more if we have time. Let us know if you want to swap one priority issue out for another.

[2019-02-15 22:28] eregon commented on #1503
@nirvdrum Could you look at this since you worked on `step` recently?

[2019-02-15 22:40] nirvdrum commented on #1503
Will do. At first glance, it's been broken so at least I didn't regress. But we probably need a new Ruby spec.

[2019-02-15 22:59] eregon commented on #1583
@nateberkopec Just to be sure, what did you set `OPENSSL_PREFIX` to?

Did you use a Ruby manager/installer to install TruffleRuby, which one?

Just as a note, Homebrew recommends against using anything else than `/usr/local` (https://docs.brew.sh/Installation), as it means other software cannot find Homebrew packages easily like here. We try to fix bugs for other systems/setups, but in the end we

[2019-02-16 02:12] nateberkopec commented on #1583
I realize not installing to /usr/local is nonstandard, but this is actually the first trouble I've ever encountered with it.

FWIW MRI installs just fine.

I set `OPENSSL_PREFIX=/Users/nateberkopec/.homebrew/opt/openssl`

[2019-02-16 02:14] nateberkopec commented on #1583
And I'm using `ruby-install`, so the whole command is `OPENSSL_PREFIX=/Users/nateberkopec/.homebrew/opt/openssl ruby-install truffleruby`

[2019-02-16 10:48] eregon commented on #1583
Interesting, and that seems to work due to special handling of `brew` in `ruby-install`, which I didn't notice: https://github.com/postmodern/ruby-install/blob/ea2b8bbff87ea4340d965e72ac3acfb4ab1d1766/share/ruby-install/ruby/functions.sh#L24

We can definitely call `brew --prefix openssl` and set `OPENSSL_PREFIX` from it, the only remaining question is how to let `have_header` search that.

[2019-02-16 11:39] eregon commented on #1583
I tried on Linux when uninstalling my system OpenSSL and  building OpenSSL in a custom prefix, and everything seems to work as expected.

For the record, on Linux, building openssl from source is:
[code]
(Without the -rpath, ` ldd .../lib/libssl.so` wouldn't find the correct `libcrypto.so` and use the system one)

@nateberkopec Could you run this, and share
`~/.rubies/truffleruby-1.0.0-rc12/src/ma

[2019-02-16 18:29] chrisseaton commented on #1568
This is covered by specs.

The behaviour of `respond_to?` doesn't change inside an object of the same class does it?

[2019-02-16 20:43] nateberkopec commented on #1583
Nice. Setting `OPENSSL_PREFIX="$(brew --prefix openssl)"` fixed it, so I think that can close up this issue.

The *other* issue I was having is [explained here:](https://forums.developer.apple.com/thread/104296#317543)

Running that package fixed the issue and truffleruby installed fine.

[2019-02-16 20:45] chrisseaton commented on #1583
We mention that second bit for the LLVM install https://github.com/oracle/truffleruby/blob/master/doc/user/installing-llvm.md#macos. Hopefully it will become common knowledge soon, as you need it for everything.

[2019-02-16 20:46] chrisseaton commented on #1583
But we should still detect your non-standard prefix automatically, right? You shouldn't have to use `OPENSSL_PREFIX` should you?

[2019-02-16 20:48] nateberkopec commented on #1583
Yikes! I skipped right over that and went for the `brew install llvm@4` and thought "yes, that's done, all good now."

Correct. If I don't set OPENSSL_PREFIX myself, it blows up on that step. I think you should just rewrite the script to use brew --prefix (and deal with `brew` not existing for other package manager users).

[2019-02-16 22:59] eregon opened #1584 "Sidekiq is slow on TruffleRuby"
From @nateberkopec https://twitter.com/nateberkopec/status/1096880039491133441
Instructions to reproduce at https://gist.github.com/nateberkopec/a612498e9719af6b8775ecdcb8afaa18 (time to process 20 000 empty jobs with Sidekiq).

We should investigate why it's slow.
`hiredis` does not work yet (#1546).

@nateberkopec Does it matter whether the benchmark is run with the Rails app, or just running Si

[2019-02-16 23:56] nateberkopec commented on #1584
I don't think it matters whether or not this is run in a Rails app.

[2019-02-17 02:46] deepj commented on #1568
@chrisseaton try the example above. `respond_to?` would return `false` for protected methods.

[2019-02-17 02:57] chrisseaton commented on #1568
I don't see an example above covering the case where the call is inside a method of the same class? They're all top-level?

[2019-02-17 03:05] deepj commented on #1568
Yes, try

[code]

[2019-02-17 03:08] chrisseaton commented on #1568
I think we're talking at cross purposes.

I'm talking about a call to `respond_to?` with a method of `Dummy`, that is made inside a method of `Dummy`. You aren't making any calls inside methods of `Dummy`.

But don't worry I was only thinking aloud and I'll work it out myself.

[2019-02-17 11:40] eregon commented on #1568
I think `respond_to?` is not context-sensitive (changing based on where it's called), just like the rest of reflection and metaprogramming in Ruby (there are some exceptions for refinements though).

[2019-02-17 11:54] deepj commented on #1568
No, it's not context-sensitive. As it is said in docs:

[code]

@chrisseaton I got it this morning what you'd meant.

[2019-02-17 12:00] deepj opened #1585 "ripper is missing in the standard library"
See https://ruby-doc.org/stdlib-2.0.0/libdoc/ripper/rdoc/Ripper.html

To reproduce:

[code]

Error:

[code]

[2019-02-17 13:13] eregon commented on #1585
@deepj Thanks for the report.
Do you know which applications or gems rely on Ripper?

[2019-02-17 14:09] deepj commented on #1585
@eregon rdoc, crack or skippa https://github.com/niku/skippa

[2019-02-18 21:03] eregon commented on #1585
* `rdoc`: Is it used beyond generating documentation when installing gems (which I think most users disable)? I think basic rdoc already works.
* https://github.com/jnunemaker/crack doesn't seem to user Ripper.
* `skippa` seems rather original, what's the purpose to parse `schema.rb` without evaluating it?

It's a stdlib and it's a rather portable way to get an AST out of Ruby source code, so we s

[2019-02-19 01:49] deepj commented on #1585
@eregon definitely it's not a priority. The `crack` was a mistake. I forgot to delete it.

Yes, the purpose of skippa is parse schema.rb without evaluating it.

[2019-02-19 15:10] deepj commented on #1585
@eregon: just to rdoc, at least many rdoc tests fail on the issue

[2019-02-20 17:34] aardvark179 commented on #1580
The fix for array iteration has been merged, and I this test now works.

[2019-02-20 17:34] #1580 closed

[2019-02-20 17:35] aardvark179 commented on #1577
The fix for this has now been merged.

[2019-02-20 17:35] #1577 closed

[2019-02-20 18:04] aardvark179 commented on #1568
I think I see the problem, and we do have specs that cover this which are currently tagged as failing.

[2019-02-20 21:18] chrisseaton commented on #1558
Fixed in 6f1b9aa973ee8d81f8eb56809d66fb7ea26e2b3a.

[2019-02-20 21:18] #1558 closed

[2019-02-21 13:39] aardvark179 commented on #1568
The fix for this has now been merged.

[2019-02-21 13:39] #1568 closed

[2019-02-21 16:17] deepj commented on #1580
@aardvark179 thanks. Could you try, please, this if it's associated to https://github.com/oracle/truffleruby/issues/1469 as well?

[2019-02-21 18:51] rbotafogo opened #1586 "Pushing a gem crashes"
gem push galaaz-0.4.6.gem
Pushing gem to https://rubygems.org...
ERROR:  While executing gem ... (RuntimeError)
    rb_io_wait_writable wait case not implemented

[2019-02-22 09:53] deepj commented on #1469
@eregon could you please check if this has been fixed in https://github.com/oracle/truffleruby/commit/a73127dc74f2fa0b2b28d33d67b16a882b6af9a9?

[2019-02-22 11:50] aardvark179 commented on #1586
This doesn't look like it will be too hard to fix, but testing it maybe slightly more tricky as there are tests for this, and they do seem to pass consistently.

[2019-02-22 20:18] nirvdrum commented on #1503
I believe I've fixed this issue in b53957f31c8d4336806bfd9deab00869c9b97673. The fix should appear in the 1.0.0 RC 13 release.

[2019-02-22 20:18] #1503 closed

[2019-02-22 22:43] eregon commented on #1469
@deepj I think the issue here is related to splatted keyword arguments, most likely this line doesn't work as expected:
https://github.com/dry-rb/dry-types/blob/858d7ab3c7de23a43fe016f918056fcfb7c01da2/lib/dry/types/options.rb#L17

[2019-02-22 22:49] nirvdrum commented on #1585
[busser](https://rubygems.org/gems/busser) is one I've just come across. It's frequently used with [Test Kitchen](https://kitchen.ci/) for testing provisioning scripts in devops environments.

[2019-02-22 23:05] eregon commented on #1469
The issue still happens, using your 4 commands at the top, although the failing specs changed lines.
Commit tested: dry-rb/dry-types@858d7ab3c7de23a43fe016f918056fcfb7c01da2
[code]

[2019-02-22 23:12] deepj commented on #1469
@eregon thank you for testing!

[2019-02-23 00:53] deepj opened #1587 "OpenSSL::Digest.digest doesn't support two arguments"
See https://ruby-doc.org/stdlib-1.9.3/libdoc/openssl/rdoc/OpenSSL/Digest.html#method-c-digest

To reproduce:

[code]

Error:

[code]

The equivalent of the above code is this method which works `OpenSSL::Digest::SHA256.digest('abc')`

`net-ssh` uses this method for instance

[2019-02-23 01:36] deepj opened #1588 "bcrypt_pbkdf: External function @SHA512Init cannot be found. (LLVMLinkerException)"
To reproduce:

[code]

Error:

[code]

[2019-02-23 01:46] deepj commented on #1587
The same problem is with `OpenSSL::Digest.hexdigest`. But I couldn't find it in the documentation.

But it uses `net-ssh` gem. See https://github.com/net-ssh/net-ssh/blob/dd13dd44d68b7fa82d4ca9a3bbe18e30c855f1d2/lib/net/ssh/authentication/pub_key_fingerprint.rb#L34

[2019-02-23 10:54] deepj opened #1589 "pty is missing in the standard library"
See https://ruby-doc.org/stdlib-2.0.0/libdoc/pty/rdoc/PTY.html

To reproduce:

[code]

Error:

[code]

This gem is used in [querly](https://github.com/soutaro/querly/blob/b39154602301caa8f09af0c1b765723a774a4e74/test/cli/console_test.rb) tests

[2019-02-23 10:55] deepj commented on #1469
@eregon @chrisseaton could this be a priority for RC14, please?

[2019-02-23 11:17] deepj commented on #1551
A similar issue is with loading `net/ssh`

[2019-02-23 12:44] deepj opened #1590 "English: Method $RS is already a global not implemented"
This error had been occurred when I tried to run [time_math2](https://github.com/zverok/time_math2).

To reproduce

[code]

Error:

[code]

[2019-02-23 12:58] deepj commented on #1509
@eregon @chrisseaton Could this be a priority for RC14, please? In fact, this is one of issues why I started to report bugs in TruffleRuby. I'd like to run a quite trivial script importing exchange rates on TruffleRuby one day :)

[2019-02-23 13:10] deepj opened #1591 "ox: error: use of undeclared identifier 'rb_encoding'"
To reproduce:

[code]

Error:
[code]

[2019-02-23 13:15] deepj opened #1592 "agoo: use of undeclared identifier 'SO_REUSEPORT'"
This issue is associated to #1566 and a support of pthread in sulong.

To reproduce:

[code]

Error:

[code]

[2019-02-23 13:52] deepj opened #1593 "net-scp: Net::SCP is not a class (TypeError)"
This issue is occurred when I run `net-scp` tests

To reproduce:

[code]

Error:

[code]

[2019-02-23 14:26] chrisseaton commented on #1589
I'm just working on updating our documentation on standard libraries.

#### Standard libraries

The following standard libraries are unsupported.

* `continuation`
* `dbm`
* `gdbm`
* `sdbm`
* `io/console` (partially implemented, could be implemented in the future)
* `io/nonblock` (could be implemented in the future)
* `io/wait` (partially implemented, could be implemented in the future)
* `pty` (c

[2019-02-23 15:15] eregon commented on #1590
This also happens with RuboCop apparently:
https://travis-ci.org/eregon/cancancan/jobs/497486197
[code]

[2019-02-23 15:35] eregon commented on #1590
I'm not sure what defines `$RS/$INPUT_RECORD_SEPARATOR`.

Here is a very simple repro case, but it might be different because there it's just using defining twice the aliases:
[code]

Supporting an alias already present might be a good workaround.

[2019-02-23 16:29] deepj commented on #1590
@eregon

`$RS` => `$/` <= https://github.com/ruby/ruby/blob/trunk/lib/English.rb#L79
`$INPUT_RECORD_SEPARATOR` => `$/` <= https://github.com/ruby/ruby/blob/trunk/lib/English.rb#L84

[2019-02-25 13:40] aardvark179 commented on #1591
This seems to be due to `ox`'s extconf.rb` enabling C API features based on the ruby command used to run `extconf.rb`.

[2019-02-25 13:47] eregon commented on #1590
In my case, this happens because `cancancan.gemspec` contains:
[code]

But `$INPUT_RECORD_SEPARATOR` doesn't exist yet, and so is `nil` on both MRI and TruffleRuby (an unintended result in that `gemspec` that works accidentally as `split(nil)` works).

So an easy reproducer for that case is:
[code]

This more complex case also works on MRI:
[code]
Where the `alias` basically overrides the old glob

[2019-02-25 15:40] aardvark179 commented on #1593
It fails with the same error for me on MRI. This is caused by `version.rb` creating a `Net::SCP` module.

[2019-02-25 16:00] aardvark179 commented on #1593
Looking at their `.travis.yml` I don't think they use bundler for running their CI tests, which is probably why they haven't seen this problem. I'd suggest reporting a bug, or creating a PR, against `net-scp`.
Let me know if you're okay with me closing this issue.

[2019-02-25 23:24] gogainda opened #1595 "Calling method with splat arguments is slower than MRI"
Hi there,
I was comparing the results from fast_ruby repo using Truffle Ruby vs MRI.
I notice that [this](https://github.com/JuanitoFatas/fast-ruby/blob/master/code/general/array-argument-vs-splat-arguments.rb) code  shows different results. I am not talking about instructions per seconds but difference between 'slow' and 'fast' methods. Ideally it should be the same as in MRI

[code]
vs
[code]

[2019-02-26 22:31] nirvdrum commented on #1595
Thanks for the report! It certainly looks like something odd is going on that we need to look into. As a minor quibble though, I think the method naming convention adopted in fast_ruby is misleading. I've [raised this point](https://github.com/JuanitoFatas/fast-ruby/issues/110) and got buy in to go through and rename the methods. I just haven't found the time to do it yet. In the time since I orig

[2019-02-26 23:38] eregon commented on #1595
The interesting part in this benchmark, is whether `M.func(*M::ITEMS)` creates copies of the Array, and how many copies and how fast.

[2019-02-27 17:10] aardvark179 commented on #1595
Yeah. In MRI the splatted array is simply passed as a Ruby array (after enabling copy on write), so it doesn't actually copy any of the elements. Our argument passing code turns it into a Java `Object[]` which means we have to copy all the arguments on every call.

[2019-02-28 11:26] eregon commented on #1595
MRI still seems to do at least one copy or walk, as it's >10x faster with `ITEMS` 10x smaller.

As a note, the original benchmark code is also slightly incorrect because `args` doesn't contain the same value in both cases.

I'm also unsure of how representative is this benchmark.
Do people often call methods with a rest argument with 10 000 arguments?
If we make it to a more realistic 10 elements,

[2019-02-28 12:03] gogainda commented on #1595
Don't think that this is common pattern, at least I haven't seen it in the wild. If you think that this benchmark doesn't represent real life application we can close this issue.

[2019-02-28 13:51] nirvdrum commented on #1595
I agree that handling smaller cases makes more sense. I suspect someone was looking at O(1) and O(n) and pumping the n value makes the resulting discrepancy easier to spot.

[2019-03-01 12:52] eregon commented on #1478
Interestingly, I can only reproduce #1486 on SubstrateVM, not on JVM.

[2019-03-03 15:05] zaknuces opened #1596 "base64 benchmark is noticeably slow as compare to JRuby"
I am running base64 benchmark (based on https://github.com/kostya/benchmarks) on TruffleRuby and JRuby 9.2.6.

I noticed that base64 performance is significantly slower in truffle as compare to JRuby. Can anyone please tell me why?

![image](https://user-images.githubusercontent.com/4598910/53697090-81cf0780-3e08-11e9-96ae-1a23aa9b611e.png)

Code
`
require 'benchmark/ips'
require "base64"

STR_SIZ

[2019-03-04 14:43] eregon commented on #1478
This should be fixed by 2470d862e2341aabd235e74f5d8924e1615e6d69. It should be in 1.0.0-rc14.
@deepj @MaxLap  Thanks for the report and easy reproduction steps!

[2019-03-04 14:43] #1478 closed

[2019-03-05 22:01] ivoanjo opened #1597 "Eventmachine failing to install due to missing iostream header"
Hello there! 👋

I'm running `truffleruby 1.0.0-rc13, like ruby 2.4.4, GraalVM CE Native [x86_64-linux]` on `Ubuntu 18.10` installed via `rvm 1.29.7-next (master)`.

While trying to `gem install eventmachine` I'm getting this error:

[code]

I'm not sure why this is failing, as I've checked that a simple C++ hello world compiled using both `g++` and `clang++` on the same machine works and does not

[2019-03-05 22:11] eregon commented on #1541
I opened a PR to `eventmachine` to address this: https://github.com/eventmachine/eventmachine/pull/878

[2019-03-05 22:20] eregon commented on #1597
Hello and thank you for the report.

I have a PR open on `eventmachine` to make it compile on TruffleRuby, but it's not yet merged:
https://github.com/eventmachine/eventmachine/pull/878

However, without that patch, I get a different error (on 1.0.0-rc13), basically the same as in #1541:
[code]

So I would guess this is somehow related to your platform or setup.
Is `clang++` the installed system c

[2019-03-05 22:23] eregon commented on #1597
Please also make sure you have all required packages installed, see https://github.com/oracle/truffleruby/blob/master/doc/user/installing-llvm.md#ubuntu

[2019-03-05 22:40] ivoanjo commented on #1597
Ah! Derp :man_facepalming: I was indeed missing both `libc++-dev` and `libc++abi-dev`.

Since rvm even asks sometimes to install dependencies via `apt`, I didn't even think to check the documentation to see if I was missing anything.

Do you think it'd make sense to report this issue on the rvm side?

Other than that, feel free to close this ticket! :+1:

[2019-03-06 06:22] deepj opened #1598 "BigDecimal on the left while coercing doesn't have cases for multiplication and division"
I was surprised by this. I'd though this had been solved by #1533. Unfortunately, not yet for multiplication and division. I noticed when one test in Sequel tests failed in the latest TruffleRuby 1.0.0 RC 13. Ironically, on the same issue reported in #1507 => `BigDecimal('1.0') * Sequel[:a][:y]`

As an example to reproduce the issue, I use @janko's original code in #1507

[code]

Error:

[code]

[

[2019-03-06 06:31] deepj commented on #1593
@aardvark179 yes, this was a mistake. My apology for this. This can be closed.

[2019-03-06 10:50] deepj commented on #1568
@aardvark179 Hm, it seems this doesn't help at all to pass this dry-initializer test

[2019-03-06 11:06] eregon commented on #1598
Thanks for the report.
Sorry about that, we planned to fix other operations right after integrating #1533 (for which I didn't want to ask the author too much for a first contribution), but due to the OCA process which took much longer than expected and other more urgent tasks, this was forgotten.
I'll fix it.

[2019-03-06 11:12] deepj opened #1599 "TypeError: superclass mismatch for class Psych::Parser::Mark"
This happens when I want to try to run `path_expander` in TruffleRuby. Doesn't happen in MRI

To reproduce
[code]

Error:

[code]

[2019-03-06 11:15] deepj commented on #1599
My RubyGems is `2.6.14.1`. What I know, the tests have been possible to run in RC12, not now. Maybe the problem on my side only.

[2019-03-06 11:22] eregon commented on #1507
Reopening, as only + and - were fixed, not yet other operators. Also see #1598.

[2019-03-06 18:16] deepj commented on #1566
@eregon Any news with this? Since the report is not public so I'm asking.

[2019-03-07 10:37] deepj commented on #1398
@eregon just for an interest

https://travis-ci.org/dry-rb/dry-system/jobs/503018338

$ gem update --system 101.00s
$ bundle install --without tools --path=${BUNDLE_PATH:-vendor/bundle} 216.09s

Very very slow :(

[2019-03-07 17:45] eregon commented on #1598
I fixed this in 89e5a01af333182eb221061bac6db3df1e70d399, it will be in the next release.
I checked and the above example works identically on MRI and TruffleRuby now.
Thanks for the report!

[2019-03-07 17:45] #1598 closed

[2019-03-07 17:45] eregon commented on #1507
Fully fixed in #1598.

[2019-03-07 17:45] #1507 closed

[2019-03-07 17:54] eregon commented on #1597
@ivoanjo Great to hear that fixed the compilation error!

I'm generally not a huge fan in hardcoding dependencies in Ruby installers, since dependencies tend to change and can vary in subtle ways between OS and TruffleRuby versions.
A good way to solve this would be to improve the error message in such a case.
Unfortunately, it seems quite difficult in this case, as it's a message from `clang` fro

[2019-03-07 17:54] #1597 closed

[2019-03-07 19:21] deepj commented on #1469
@eregon I know I'm annoying right now, but can you take a look at this in near future. Due this e.g. dry-validation specs fail in almost 2000 cases

[2019-03-07 19:49] chrisseaton commented on #1469
We'll see if we can squeeze it in.

Thanks again for your reports.

[2019-03-08 13:25] aardvark179 commented on #1469
I've found the problem. It was a bug in the concatenation of multiple `**args` containing duplicate keys. I'm testing a fix in our CI environment now.

[2019-03-08 15:10] aardvark179 commented on #1596
Are you comparing running the native of JVM version of TruffleRuby? I've compared the JVM version to JRuby and get the same performance on each, almost completely dominated by pack and unpack calls.

[2019-03-08 15:27] aardvark179 commented on #1593
Thanks, I'll close this.

[2019-03-08 15:27] #1593 closed

[2019-03-08 15:56] aardvark179 commented on #1586
The fix for this has been merged.

[2019-03-08 15:56] #1586 closed

[2019-03-08 15:58] aardvark179 commented on #1469
Fix is now merged.

[2019-03-08 15:58] #1469 closed

[2019-03-08 16:01] aardvark179 commented on #1490
I'm going to mark this as closed since we seem to be able to install large numbers of gems.

[2019-03-08 16:01] #1490 closed

[2019-03-08 16:11] ahorek commented on #1596
btw ruby has an optimization for #unpack1
https://github.com/ruby/ruby/blob/ffd9a7ea27d82b96ec51ee6016fb85dccda51ef5/pack.c#L1099

but it isn't really implemented on jruby
https://github.com/jruby/jruby/blob/fb0e4cb7899f0a0690785d1987b17431ca0e16a0/core/src/main/ruby/jruby/kernel/string.rb
or truffleruby
https://github.com/oracle/truffleruby/blob/37351674f4590ea409d246a23653f1b271c86d7b/src/main/r

[2019-03-08 16:20] deepj commented on #1599
It seems, this happened while upgrading RC12 -> RC13. When I haven't removed old gems. Interesting, there was no problem with RC11 -> RC12.

Feel free to close this since there is a solution - remove old gems.

[2019-03-08 19:57] zaknuces commented on #1596
@aardvark179 to answer your question. See
https://github.com/zaknuces/graal-benchmarks/tree/master/ruby/base64/jruby
https://github.com/zaknuces/graal-benchmarks/tree/master/ruby/base64/truffle

[2019-03-09 01:34] deepj opened #1600 "hamlit: statement requires expression of integer type ('VALUE' (aka 'void *') invalid"
[Hamlit](https://github.com/k0kubun/hamlit) is a high performance Haml implementation

To reproduce

[code]

Error:

[code]

[2019-03-09 01:37] deepj opened #1601 "gem install rarely causes makeSharedShape() can only be called on non-shared shapes. (UnsupportedOperationException)"
When I tried to install `hamlit`, I got in TruffleRuby 1.0.0 RC13:

[code]

The same error when I tried something else in the morning, but I don't remember what's it.

[2019-03-09 01:37] chrisseaton commented on #1600
Unfortunately TruffleRuby has an issue with switching on Ruby objects - we model them as pointers, rather than integers, so switching doesn't work.

https://github.com/oracle/truffleruby/blob/4f4444599174ca3822c76232aebb572e52197900/doc/user/compatibility.md#value-is-a-pointer

[2019-03-09 01:38] chrisseaton commented on #1601
@eregon will know the most about this one.

[2019-03-09 05:31] zaknuces opened #1602 "Error running Ruby polyglot in native mode"
Is it possible to run Ruby polyglot native? It is not apparent from the reference manual. I am getting the following error:

ERROR: Could not find class 'org.truffleruby.launcher.RubyLauncher'.
You might need to rebuild the polyglot launcher with 'gu rebuild-images polyglot'.

Is this expected?

[2019-03-09 10:14] chrisseaton commented on #1602
Yes it’s usable from a polyglot context.

Which part of the reference wasn’t as clear as you needed on that?

Did you try running the command the error message gives you? Did it work? You should have seen the same advice when installing Ruby initially.

[2019-03-09 11:14] zaknuces commented on #1602
Thanks, it worked. After rebuilding polyglot image.

[2019-03-09 11:14] #1602 closed

[2019-03-09 13:03] chrisseaton commented on #1602
Great - but do we need to improve that error message or any other documentation to make it more clear, if it wasn't immediately obvious what you needed to do?

[2019-03-09 17:28] zaknuces commented on #1602
The error message was clear. I was doing it in a container and rebuild image failed for me. After trying it again, it worked.

Thanks

[2019-03-09 17:33] chrisseaton commented on #1602
Yeah it probably needs more memory to rebuild images than most containers are configured for - that's usually the issue. About 8 GB I think.

[2019-03-10 00:46] deepj commented on #1585
@eregon I just remember out why I reported this. It was due to [rubyfmt](https://github.com/samphippen/rubyfmt)

[2019-03-10 02:14] deepj commented on #1506
This causes an issue to run Rubocop specs.

[code]

[2019-03-10 03:54] chrisseaton commented on #1398
It *is* very slow at the moment, yes. We've focused on peak performance and compatibility and not worked on cold performance in the same way. We did tackle the absolute startup time issue, but after those first hundred milliseconds it's then a different problem.

I don't think we're likely to get a fix for bundle performance in the short term, I'm afraid. We do know it's frustrating, but it's not

[2019-03-10 03:56] chrisseaton commented on #1566
I think Sulong aren't planning `pthread` support soon. Perhaps we should provide some of our own shims for things like mutexes and condition variables (why doesn't `oj` use the Ruby ones?!)

[2019-03-10 04:18] deepj commented on #1566
@ohler55 ^^ maybe interesting for you

[2019-03-10 05:24] zaknuces opened #1603 "Referencing jar class in Ruby"
Hi, I am new to TruffleRuby and Graal. I am trying to use a Java SDK in ruby. However, I am having a hard time referencing the classes in the SDK jar. I am doing the following:

ruby --jvm --jvm.classpath=messaging-jar-with-dependencies.jar --polyglot example.rb

In the example.rb, I am doing the following:

Commons = Java.type('myorg.util.Commons')
puts Commons.SDK_VERSION

Error
example.rb:7:in

[2019-03-10 10:48] deepj opened #1604 "TruffleRuby image on Circle CI"
Hello,
Circle CI is the second used CI for running specs/tests by various projects. At least two of the most important Ruby project use it - [rack](https://github.com/rack/rack) and [rubocop](https://github.com/rubocop-hq/rubocop).

So it would be great some TruffleRuby images available on this CI.

[2019-03-10 11:43] deepj opened #1605 "trenni: invalid operands to binary expression ('VALUE' (aka 'void *') and 'int')"
To reproduce:

[code]

Error:

[code]

[2019-03-10 12:01] ohler55 commented on #1566
For historical reasons or just because I'm familiar with pthread. At once point pthreads had less overhead but that was many years ago.

[2019-03-10 12:22] deepj commented on #1600
The issue is with `pg` gem when I tried to run tests locally.

It fails on

[code]

[2019-03-10 13:36] chrisseaton commented on #1585
We've stubbed `ripper` so it's now there... but it treats every Ruby file as an empty file. Probably not very useful to you.

[2019-03-10 13:47] chrisseaton commented on #1603
Thanks for the report. Our Java Interop is not compatible with JRuby's. This is because instead of just bridging Ruby and Java, we're bridging any language with any other language.

The specific answer to your question is here https://github.com/oracle/truffleruby/blob/f6b387c4e239dec178094b4247cf4a3c5bc3b04f/doc/user/jruby-migration.md#referring-to-constants.

I can explain a bit more about why t

[2019-03-10 15:21] deepj commented on #1469
I can confirm this is fixed. I used @chrisseaton nightly build and all dry-types' specs passed.

Thank you @aardvark179

[2019-03-10 15:39] deepj opened #1606 "Endless ranges are not supported"
Available since Ruby 2.6.

Version:
[code]

To reproduce:

[code]

Error:

[code]

Where I can use Ruby 2.6 I use this pattern because when I need to omit some beginning of string or array and I don't care about the rest, this is more readable and handy than e.g. `(2..string.length - 1)`.

[2019-03-10 16:00] deepj opened #1607 "pg: SIGSEGV while running specs"
This hasn't been a problem with RC 13 (Native), but with @chrisseaton nightly build (JVM) I got this

To reproduce:

[code]

Error:

[code]

[2019-03-10 16:01] deepj commented on #1607
@chrisseaton ^^

[2019-03-10 16:13] chrisseaton commented on #1607
Can you post the `hs_err_pid52622.log` please?

[2019-03-10 16:16] deepj commented on #1607
[hs_err_pid52662.log](https://github.com/oracle/truffleruby/files/2949688/hs_err_pid52662.log)

Here

[2019-03-10 16:18] chrisseaton commented on #1607
Looks like it's crashing during C extension GC marking @aardvark179.

[code]

[2019-03-10 16:32] deepj opened #1608 "String deduplication is not supported"
This is a feature of Ruby 2.5

Version:

[code]

To reproduce:

[code]

It would return `true` but I got `false`.

This causes an issue in Sequel specs

[code]

[2019-03-10 16:34] chrisseaton commented on #1608
This spec seems to be excluded for JRuby - `&& !defined?(JRUBY_VERSION)` I wonder why.

[2019-03-10 16:37] deepj commented on #1608
@chrisseaton sorry, I mislead the description. I updated it. This is a new feature of Ruby 2.5. More on https://samsaffron.com/archive/2018/02/16/reducing-string-duplication-in-ruby

[2019-03-10 16:37] chrisseaton commented on #1608
Yeah this is the `String#@-` method.

[2019-03-10 16:37] chrisseaton commented on #1608
https://github.com/jeremyevans/sequel/commit/263f98006269f59425c02e5d0a2b841f0a67ec8f

[2019-03-10 16:46] aardvark179 commented on #1605
Thank you for reporting this. I think we will need to alter this macros slightly as our ’VALUE’s are pointers rather than longs.

[2019-03-10 16:49] aardvark179 commented on #1606
Looks like this will require some parser changes, and the correct implementation of the 2.6 enumerator subclasses. I’m part way through the latter right now, but I don’t know which RC they will get into.

[2019-03-10 18:58] deepj opened #1609 "pp is not enabled by default"
`pp` is enabled by default since Ruby 2.5. See https://bugs.ruby-lang.org/issues/14123

Version:

[code]

To reproduce:

[code]

[code]

[2019-03-10 19:06] deepj opened #1610 "Enumerable#filter, Enumerator::Lazy#filter are not aliases"
`Enumerable#filter`, `Enumerable#filter!` are aliases for `Enumerable#select`, `Enumerable#select!` since Ruby 2.6. See https://bugs.ruby-lang.org/issues/13784

To reproduce:

[code]

Error:

[code]

[2019-03-10 19:10] chrisseaton commented on #1610
Is Enumerable#filter something you have a use-case for as well?

Just to be clear, we are aware of all new features. We tag then as not working yet in our specs https://github.com/oracle/truffleruby/blob/f6b387c4e239dec178094b4247cf4a3c5bc3b04f/spec/tags/core/enumerable/filter_tags.txt and it's often us who writes the specs. So you don't need to spend your time looking up MRI issues to go with you

[2019-03-10 19:30] deepj commented on #1610
In fact, I prefer to use `#filter` since Ruby 2.6. And I use it’s in a small sceipt importing CSV where I need filter out some useless data. Also the reason is described in the issue, which is same like me, is compability with other programming languages. I use occasinaly JavaScript. So I decided to use it from Ruby 2.6.

[2019-03-10 19:31] chrisseaton commented on #1610
Yes I often write `filter` first time myself and have to rethink to write `select` each time!

[2019-03-10 22:33] deepj opened #1611 "binding.irb is not enabled by default"
I use this feature heavily and on daily basics since Ruby 2.5 together with #1609 . I'd appreciate to bring this to TruffleRuby 1.0.0 RC14 if possible.

From Ruby 2.5 NEWS

- IRB
  - Print backtrace and error message in reverse order [Feature #8661] [experimental]
  - `binding.irb` automatically requires irb and runs [Bug #13099] [experimental]
  - `binding.irb` on its start shows source around th

[2019-03-10 23:27] deepj commented on #1554
Original description

[code]
$ rake test
~/.rubies/truffleruby-1.0.0-rc11/bin/truffleruby -I"lib:test" -I"~/.gem/truffleruby/2.4.4/gems/rake-12.3.2/lib" "~/.gem/truffleruby/2.4.4/gems/rake-12.3.2/lib/rake/rake_test_loader.rb" "test/spec_auth_basic.rb" "test/spec_auth_digest.rb" "test/spec_body_proxy.rb" "test/spec_builder.rb" "test/spec_cascade.rb" "test/spec_cgi.rb" "test/spec_chunked.rb" "test/s

[2019-03-10 23:31] deepj commented on #1554
@aardvark179 @eregon ^^

[2019-03-10 23:57] deepj opened #1612 "String#to_d doesn't work properly in 1.0.0 RC14-dev"
This is used heavily in `dry-types`. The following code below works on TruffleRuby 1.0.0 RC13. Not on @chrisseaton nightly build.

[code]

To reproduce:

[code]

Error:

[code]

[2019-03-10 23:57] deepj commented on #1612
@chrisseaton Here is a regression on the nightly build

[2019-03-10 23:59] chrisseaton commented on #1612
Ok thanks very much - we'll fix that tomorrow.

[2019-03-11 00:30] deepj commented on #1568
@aardvark179 @chrisseaton this looks this is not fixed in RC13, but in RC14-dev yes.

[2019-03-11 00:59] deepj opened #1613 "splatted arguments and keyword argument in block causes missing keyword error"
I'm not sure how to describe it by words but the code is clear. This construct is heavily used in dry and ROM.

To reproduce:

[code]

Error:

[code]

[2019-03-11 00:59] deepj commented on #1613
@chrisseaton please, make this as a high priority for RC14. This solves many issues in dry and ROM land

[2019-03-11 01:04] chrisseaton commented on #1613
I don't think our yield handles keyword arguments properly. It's kind of a parallel to the usual method call, but with all the same complexity and less-well tested.

[2019-03-11 01:27] deepj commented on #1554
@chrisseaton please, this would be also a high priority for RC14. It would fix a lot of issues in Rack specs.

[2019-03-11 09:09] deepj commented on #1606
Just for a note, one of Sequel's spec since Ruby 2.5 depends on this functionality...

[2019-03-11 12:04] Mogztter commented on #1543
I can reproduce this bug in rc13:

[code]
[code]
[code]
[code]

[2019-03-11 14:00] deepj opened #1614 "require 'openssl' causes NameError (uninitialized constant OpenSSL) in 1.0.0 RC14-dev"
Version:

[code]

To reproduce:

[code]

Error:

[code]

[2019-03-11 14:01] deepj commented on #1614
@chrisseaton another regression

[2019-03-11 14:10] chrisseaton commented on #1614
I can't reproduce that. Is that file literally what you're running?

[2019-03-11 14:11] chrisseaton commented on #1614
That's not even our backtrace format. Can you show a full terminal session?

[2019-03-11 14:17] nirvdrum commented on #1614
@deepj It looks like you're tracking TruffleRuby master. If you've been doing so since before the Ruby 2.6.1 merge, you need to the extensions for the built-in native libraries. I'd recommend just doing a `git clean -dxf` and rebuilding everything. Please let me know if that clears up your issue.

[2019-03-11 14:38] deepj commented on #1614
This is strange. I can't reproduce the above way in a different terminal session. But I can reproduce it in my specs.

@chrisseaton I can offer a private repo here on Github. It's some old assignment which I upgraded to Ruby 2.6.1 and I tested some stuff in TruffleRuby

@nirvdrum this is a nightly build offered by @chrisseaton to me

[2019-03-11 14:41] chrisseaton commented on #1614
Are you perhaps running a different Ruby as a sub-process?

[2019-03-11 14:43] deepj commented on #1614
I use chruby. In the direction I have `.ruby-version` set to 2.6.1.

Installed rubies
[code]

[2019-03-11 14:46] deepj commented on #1614
This is an output when I run specs

[code]

[2019-03-11 18:55] aardvark179 commented on #1607
I can reproduce this with `pg`, I'm trying to work out exactly what the source of the problem is.

[2019-03-11 19:11] deepj commented on #1614
@chrisseaton would you like have an access to the repo to try to reproduce it?

[2019-03-11 19:18] nirvdrum commented on #1612
@deepj As far as I can tell, this is only broken for `String`. Can you provide a case where it's broken on `Float` for you, please?

[2019-03-11 19:50] deepj commented on #1612
@deepj sorry for misleading in this case. `bigdecimal/util` wasn't required in the case. It works for `Float`. The problem seems to be only `String`.

[2019-03-11 20:22] nirvdrum commented on #1612
Great. Thanks for confirming!

[2019-03-11 20:43] deepj opened #1615 "Some constants are not propagated into RSpec specs"
I have a following structure of an application

[code]

**app.rb**

[code]

**spec_helper.rb**

[code]

**app_spec.rb**

[code]

After running `rspec` I get `NameError: uninitialized constant App`. Under MRI there is no issue with this.

[2019-03-11 21:41] deepj commented on #1615
Quite lots projects are affected by this.

Try

[code]

[code]

[2019-03-11 22:44] deepj commented on #1585
Anoter library it uses. [cane](https://github.com/square/cane/search?q=ripper&unscoped_q=ripper) from Square

[2019-03-12 00:18] deepj opened #1616 "zeitwerk: Object#autoload on yourself is not ignored"
This issue comes from [zeitwerk](https://github.com/fxn/zeitwerk) tests.

Version

[code]

To reproduce

[code]

[2019-03-12 01:45] deepj opened #1617 "Class.alias_method causes private method `alias_method' called for Class (NoMethodError)"
This construct is used in [ERB handler](https://github.com/rails/rails/blob/master/actionview/lib/action_view/template/handlers/erb.rb#L20) in ActionView. And it's public since Ruby 2.5

To reproduce:

[code]

Error:

[code]

There is no issue in MRI.

[2019-03-12 02:06] deepj opened #1618 "rescue/else/ensure inside do/end is not supported"
This is already used e.g. in [ActiveSupport](https://github.com/rails/rails/blob/master/activesupport/lib/active_support/testing/parallelization.rb#L93) I personally use this on daily basis

To reproduce

[code]

Error:

[code]

[2019-03-12 02:41] deepj commented on #1614
@chrisseaton The issue is easily reproducible using this

[code]

Error
[code]

[2019-03-12 02:44] chrisseaton commented on #1614
I think I've now seen something similar locally now, but it's a very nonsensical problem. I mean if we're installing gems then `openssl` is definitely there. Maybe it's being required in a slightly unusual way.

[2019-03-12 03:04] deepj opened #1619 "bootsnap: `caller_locations': Truffle doesn't have a case for the org.truffleruby.core.kernel.KernelNodesFactory$CallerLocationsNodeFactory$CallerLocationsNodeGen node with values of type Range"
Version

[code]

This happens when a regular Rails application booting with enabled bootsnap.

Error:

[code]

[2019-03-12 03:04] deepj commented on #1614
@chrisseaton This didn't happen in RC13 ...

[2019-03-12 03:07] chrisseaton commented on #1614
Yes I know - it's a bug, it's not intended.

[2019-03-12 14:30] chrisseaton commented on #1614
This appears to be some kind of autoload issue.

[2019-03-12 17:52] nirvdrum commented on #1609
This was fixed in 568058f507e51d9b0eb63b318507c0c5903de187. It should appear in our next release. Thanks for the report!

[2019-03-12 17:52] #1609 closed

[2019-03-12 17:54] nirvdrum commented on #1612
Thanks for the report! We accidentally dropped a Ruby implementation of the `String#to_d` method when we merged the stdlib files from MRI 2.6.1. MRI implements that method in C, but doing it in Ruby is better for us. I've added a spec to ensure this doesn't regress in the future. See f51f789ac0ffcf9871dd83bc374c0fc8e8c0da4a for more details.

[2019-03-12 17:54] #1612 closed

[2019-03-12 19:23] eregon commented on #1541
PR merged upstream, now waiting for an `eventmachine` release.

[2019-03-12 20:08] rbotafogo opened #1620 "Puts does not call 'to_s' any longer?"
The following code

    require 'galaaz'

    vec = R.c(1, 2, 3)
    p vec
    puts vec
    print vec

When executed in RC12 with the following command:

ruby --polyglot --jvm --single_threaded -Ilib/ -S rspec specs/t2.rb -f documentation

shows

    #<R::Vector:0xde0 @r_interop=#<Foreign pointer 0xdef000000000669>>
    Method to_s in file robject.rb called!
    [1] 1 2 3
    Method to_s in file r

[2019-03-12 21:17] aardvark179 commented on #1607
I’ve found and fixed one cause of this, along with a few more minor issues that may have contributed to the problem, but I can still provoke the issue. I’ll keep looking at this tomorrow.

[2019-03-12 21:32] deepj commented on #1607
@chrisseaton Can I ask for when @aardvark179 changes will be merged, it's possible to make a new nightly build for me, please?

[2019-03-12 21:38] chrisseaton commented on #1607
Yes I can make a nightly build for you whenever you need - I'll do one later today.

Did you know it's relatively easy to build yourself as well? If you want to try that I can help you do it. If you'd prefer me to do the builds for you that's fine as well I'll keep doing that.

[2019-03-13 01:36] chrisseaton commented on #1607
His changes aren't merged yet. I'll wait until they are.

[2019-03-13 03:35] chrisseaton commented on #1614
I still don't know exactly why it goes wrong but here's two points of it.

[code]

[2019-03-13 14:07] chrisseaton commented on #1614
Reproduced by

[code]

[2019-03-13 14:55] chrisseaton commented on #1614
Found the issue - thinking about a fix.

[2019-03-13 15:15] chrisseaton commented on #1614
`test.rb`:

[code]

`test2.rb`

[code]

[code]

[code]

[code]

I don't think it's a regression. Maybe something else changed and exposed this bug.

[2019-03-13 15:18] eregon commented on #1614
Yes, what changed is that `lib/mri/net/http.rb` now autoloads OpenSSL instead of `require`-ing it directly.

[2019-03-13 15:20] eregon commented on #1614
Actually the diff is:
[code]

So the `autoload` moved.

[2019-03-13 16:40] chrisseaton commented on #1614
Turns out this was tagged all along

[code]

[2019-03-13 17:11] chrisseaton commented on #1614
Workaround on the way.

[2019-03-13 17:14] nirvdrum commented on #1611
Thanks for the report! This issue was fixed in d845846a5ca802301cddad998133135bda6b1890 and will appear in the next TruffleRuby release (1.0.0-rc14).

[2019-03-13 17:14] #1611 closed

[2019-03-14 01:05] #1614 closed

[2019-03-14 01:06] chrisseaton commented on #1614
Worked around in 3a8b2c204d394b7c9d4909a5b76407409af17f86.

[2019-03-14 16:29] deepj commented on #1607
@chrisseaton I would prefer not to build myself for now yet. In near future why not. I'd appreciate a new nightly build after merging a fix on this issue if I can ask for. This and the openssl's issue (already fixed by you) blocking me.

I'm testing one middle large Rails on TruffleRuby so far quite good. I just needed to exclude some native gems (due to missing FFI#enum support) and replace them

[2019-03-14 21:09] ioquatix commented on #1527
@eregon I recently fixed the specs so they are running on TruffleRuby, but there appear to be some issues still:

https://travis-ci.org/socketry/async/jobs/506071145

It's definitely better than before though.

[2019-03-15 20:24] deepj commented on #1607
@aardvark179 I don't push into this issue but there is any news about this issue? :)

[2019-03-16 09:47] sebyx07 opened #1621 "Jemalloc support ?"
Is there a need to support jemalloc? Or using graalvm solves the issue?

https://medium.com/rubyinside/how-we-halved-our-memory-consumption-in-rails-with-jemalloc-86afa4e54aa3

[2019-03-16 11:08] #1621 closed

[2019-03-16 23:35] deepj opened #1622 "dalli: ArgumentError: load error, unknown type 6"
Similar to #1574

Version:

[code]

To reproduce:

[code]

Error:

[code]

There is more issues on RC13 but not on RC14-dev. Then there are some problems with numbers of TCP connections, but I don't know anything about that.

[2019-03-17 00:03] deepj opened #1623 "eventmachine: RuntimeError: rb_fd_init not implemented"
After changes in https://github.com/eventmachine/eventmachine/pull/878 by @eregon it's possible to compile eventmachine now. Unfortunately, every time when `EM.run` is used, it fails on `RuntimeError: 0x123efff80`

To reproduce:

[code]

Error:

[code]

[2019-03-17 13:12] deepj opened #1624 "Unmarshaled hash with non-ascii keys is corrupted"
This issue is similar to https://github.com/jruby/jruby/issues/5523 reported by @larskanis. But it behaves a bit differently in TruffleRuby. There was the same issue with arrays already fixed in TruffleRuby https://github.com/oracle/truffleruby/issues/1530

The used code is from @larskanis

TruffleRuby 1.0.0-RC13

[code]

Ruby 2.5.3

[code]

[2019-03-18 00:13] deepj opened #1625 "stringex: tests are running very slow"
It takes almost 25 minutes (beside ~5 minutes in MRI 2.5.5) to pass all tests in TruffleRuby 1.0.0-rc13. I don't think there would be a reason being so slow.

To reproduce:

[code]

[2019-03-18 12:39] deepj commented on #1526
@eregon @chrisseaton I guess this can be closed. At least in RC13 or RC14-dev I can run these tests.

[2019-03-18 13:25] chrisseaton commented on #1526
Thanks!

[2019-03-18 13:25] #1526 closed

[2019-03-18 19:16] aardvark179 commented on #1607
Sorry, I was away from the office on Friday. The changes have now been merged, though they didn't make it into RC14. There will be some more changes to come to fix a few other issues I've found while testing `pg`.

[2019-03-18 19:16] #1607 closed

[2019-03-18 20:55] deepj commented on #1607
@chrisseaton it would be possible to build RC15-dev for me, please?

[2019-03-18 21:06] chrisseaton commented on #1607
Done.

[2019-03-19 13:33] ntysdd opened #1626 "compatability: floating point formatted differently by default"
test code
`puts 1.0 / 7`

MRI
`0.14285714285714285`

TruffleRuby
`0.142857142857143`

this may prevent truffle ruby being a drop in replacement for MRI in some situation

[2019-03-19 16:59] Maumagnaguagno commented on #1626
I was also surprised by this difference between MRI and TruffleRuby.
This difference should be stated in ``doc/user/compatibility.md`` or modified to match MRI behavior.

[2019-03-19 17:05] aardvark179 commented on #1620
We did change the behaviour a little to try and unify `IO` and `StringIO` and get a few failing tests to pass, but may have inadvertently changed the behaviour for R objects. I'll try reproduce the issue and see what the underlying problem is.

[2019-03-19 17:07] chrisseaton commented on #1626
Thanks for the report! This is an unintended bug we'll fix - it's not intentionally different from MRI.

[2019-03-19 17:22] rbotafogo commented on #1620
The funny thing is that I’m actually wrapping the R foreign pointer in a
Ruby class. I can fix the problem by re implementing puts as:

module Kernel
  def puts(*args)
    print(*args)
    print "\n"
  end
end

It is as if puts has been undefined somehow.  Might be something I did
wrong, although everything is fine in RC12 and brakes > RC13.

Em ter, 19 de mar de 2019 às 14:05, Duncan MacGregor <

[2019-03-19 19:45] chrisseaton commented on #1626
I can fix your specific test case, but it's a bit more complex making it exactly match MRI for all cases (and fixing yours caused others to break.)

MRI has custom floating-point formatting code, which doesn't match anything in C or Java. We may need to port their C code to Java.

JRuby has similar problems to us https://github.com/jruby/jruby/blob/5602787e537fe025c40abd785926e10cb34690b0/spec/tag

[2019-03-19 20:20] presidentbeef commented on #1544
@chrisseaton - the fix for this is a bit limited. If the regex does not begin with `^` in the very first position, the fix will not work.

However, there are plenty of ways to introduce `^` that violate this assumption. For example:

[code]
etc.

Using a modified version of the code in the original issue:

[code]

I bring this up because I'd like to test Brakeman on TruffleRuby. Brakeman depends o

[2019-03-19 20:28] chrisseaton commented on #1544
Yes the fix was a bit of a hack! We'll keep thinking.

[2019-03-20 12:14] eregon commented on #1614
I added a proper fix for this in ec974a98b905f880b3455af854068027f60b6f3c.

[2019-03-20 12:39] deepj opened #1627 "bundle install: `rb_exc_raise': nested asn1 error (Segmentation fault) in Travis CI"
This doesn't happen on my Mac but I got this in Travis CI in Linux here: https://travis-ci.org/dry-rb/dry-initializer/jobs/508901190

Error

[code]

[2019-03-20 13:20] deepj commented on #1616
@eregon https://github.com/oracle/truffleruby/commit/ec974a98b905f880b3455af854068027f60b6f3c fixes this?

[2019-03-20 13:23] deepj commented on #1627
Again in case of dry-initializer https://travis-ci.org/dry-rb/dry-initializer/jobs/508921011

[2019-03-20 13:27] deepj commented on #1627
Here https://travis-ci.org/dry-rb/dry-struct/jobs/508921345

[2019-03-20 13:28] deepj commented on #1627
@eregon @chrisseaton this would have a high priority because it's failing in Travis CI

[2019-03-20 16:53] okirmis opened #1629 "Forwarding multiple arguments to method reference fails"
Forwarding multiple arguments to a method reference works in MRI, but fails in truffleruby. Example:

[code]

On MRI it prints `a: 1` to the command line. Truffleruby fails with:
[code]

`Hash#each` passes two arguments. Forwarding single arguments, e.g. with `Array#each` works fine.

[code]

Edit: For some reason it pretends to be rc10, but I used `rvm install truffleruby-1.0.0-rc14` and `rvm use

[2019-03-20 16:59] aardvark179 commented on #1627
From the trace it looks like a malloc failure. It might be possible to reproduce in a docker container.

[2019-03-20 17:29] eregon commented on #1629
I would trust the `ruby --version` output, this is probably a RVM bug, see https://github.com/rvm/rvm/issues/4633

Anyway, the given example still fails on master, so the version doesn't matter for this bug report.

[2019-03-20 17:33] eregon commented on #1629
This seems to be a bug of `Hash#each` rather, which currently yields an Array of 2 elements instead of yielding 2 arguments:
[code]
On TruffleRuby master:
[code]

[2019-03-21 00:59] deepj commented on #1613
@chrisseaton: can be this fixed in RC15? I've added testing Truffleruby in Travis CI for other several dry-rb gems and this would fixed a lot of the rest issues.

[2019-03-21 03:04] deepj opened #1630 "sequel: Object of type Lorg/graalvm/compiler/truffle/runtime/FrameWithoutBoxing; should not be materialized (must not pass virtual object into an invoke that cannot be inlined)"
Unfortunately, I can't localize a test causing this issue (one of reason why I dislike minitest/test-unit in Ruby).

I guess the issue can be associated to `pg`

To reproduce:
[code]

Error:

[code]

BTW: It's possible to improve the error where would be easy to locale in which Ruby script has happened this

[2019-03-21 05:09] deepj opened #1631 "BigDecimal would throw RuntimeError instead of TypeError when precision argument is set"
It's used in `Hanami::Utils` in https://github.com/hanami/utils/blob/master/lib/hanami/utils/kernel.rb#L420

To reproduce:

[code]

Error:

[code]

MRI 2.5.5

[code]

I guess, TruffleRuby would follow the error message of MRI as well and not the above which is confusing.

[2019-03-21 12:36] eregon commented on #1629
@okirmis Fix for this coming.

I wouldn't recommend using Method or lambdas with yielding methods from Array/Hash in general, because it's quite inconsistent what works and what doesn't. Better to use a block and delegate explicitly, that always works no matter the core method used.
In this case, there is no way to pass all specs with a single choice between yielding 2 arguments or an Array of 2 e

[2019-03-22 00:48] deepj commented on #1627
Again here https://travis-ci.org/dry-rb/dry-core/jobs/509683061

[2019-03-22 07:56] ioquatix opened #1632 "Segmentation fault (core dumped) bundle install --jobs=3 --retry=3 --path=${BUNDLE_PATH:-vendor/bundle}"
https://travis-ci.com/socketry/event/jobs/186902925

[code]

I've also seen https://github.com/oracle/truffleruby/issues/1565 and https://github.com/oracle/truffleruby/issues/1627

It seems very flakey bombing for any of the above issues when running specs on Travis.

[2019-03-22 14:38] eregon commented on #1590
@deepj Thanks for the report, cb4c8a9d6ba7e15817b1126778f5fff9ac0239a9 should fix and allow unrestricted aliasing of global variables like in MRI. It will be in the next release.

[2019-03-22 14:38] #1590 closed

[2019-03-22 14:53] eregon commented on #1590
I verified, and the specs of `time_math2` now all pass :smiley:

[code]

cc @zverok, in the case you would want to add `rvm: - truffleruby` in the `.travis.yml` (when 1.0.0-rc15 is released).

[2019-03-22 15:05] nirvdrum commented on #1631
Thanks for the report. As you've no doubt noticed, we don't pass a fair number of the `BigDecimal` specs. I'll add the functionality required here, but we really need to take a more in-depth pass on this library.

[2019-03-22 22:03] eregon commented on #1629
@okirmis Thank you for the report. I fixed this in 7c7997b02780494761ec5a51f3d30577b8c61db9 and it will be in the next release, 1.0.0-rc15.

[2019-03-22 22:03] #1629 closed

[2019-03-22 22:35] eregon commented on #1554
This looks related to #1544.

[2019-03-22 22:54] eregon commented on #1565
I believe this has been fixed in Sulong and should be in the next release, although we still need to add a stress test for concurrent loading of C extensions.
@MaxLap Thank you for the report.

[2019-03-22 23:43] deepj opened #1633 "Hash#fetch with incorrect key throws different error messages but MRI"
To reproduce:

[code]

This throws `KeyError (key object_name not found)` in TruffleRuby 1.0.0 RC14. In MRI throws `KeyError (key not found: :object_name)` in this case. Just note: when `string` is used in fetch, the error message is `KeyError (key not found: "object_name")`.

Yes, this causes problems in some specs/tests such as in FactoryBot/hanami/dry-rb.

Example from FactoryBot specs

[code]

[2019-03-23 00:44] deepj opened #1634 "pg: rb_fd_init not implemented"
To reproduce:

[code]

Error:

[code]

[2019-03-23 01:01] nirvdrum commented on #1625
As an initial observation, I ran the tests with TruffleRuby 1.0.0-rc13 and 1.0.0-rc14. Both take ~12 minutes to run the tests on my machine. In contrast, MRI 2.6.2 takes ~7 seconds. Both versions of TruffleRuby also experienced a compiler error while JITting. So, there's certainly some interesting going on here.

[2019-03-23 04:44] deepj commented on #1632
Same problem here https://travis-ci.org/dry-rb/dry-logic/jobs/510214622

[2019-03-23 10:17] eregon commented on #1632
@ioquatix Thank you for the report!
This seems like a problem with the OpenSSL C extensions and/or libssl.

From the log reported by @deepj, it happens repeatedly in TravisCI.
[code]

[2019-03-23 23:34] deepj opened #1635 "bundle install: several issues on macOS"
Today I've got several issues when bundle install

[code]

[2019-03-23 23:34] deepj commented on #1635
I haven't seen any with these issues yet

[2019-03-24 02:43] deepj opened #1636 "Coverage doesn't support branches"
This is a new feature since Ruby 2.5. Some specs of several gems depend on this.

See https://github.com/ruby/ruby/blob/ruby_2_5/NEWS

[code]

[2019-03-24 06:53] deepj opened #1637 "phashion: fatal error: 'cstdio' file not found"
`phashion`gem is one of dependencies of `image_processing` gem. There is no issue to install this gem in MRI.

To reproduce:

[code]

Error:
[code]

[2019-03-24 10:05] eregon commented on #1635
Thanks for the report.

What do you mean?

This is very likely a duplicate of https://github.com/oracle/truffleruby/issues/1565, so I'll close in favor of that issue.

[2019-03-24 10:05] #1635 closed

[2019-03-24 10:27] eregon commented on #1637
Thanks for the report.
I had a quick look, and `phashion` tries to compile a C++ extension with a C command line for compiling, and tweaking the CFLAGS. That's obviously not recommended and going to lead to many problems.

One small issue we can fix is moving `-xc` of `RbConfig::MAKEFILE_CONFIG['COMPILE_C']` earlier so it can still be overridden by `CFLAGS` which `phashion` modifies (notably addin

[2019-03-24 15:58] deepj commented on #1635
@eregon

I meant

[code]

These errors I don't see in #1565

[2019-03-24 17:12] eregon commented on #1635
@deepj Right, but it has the same source (`com.oracle.truffle.llvm.parser` in the backtrace): parsing bitcode was not thread-safe in Sulong and it should be fixed now.

[2019-03-24 18:45] aardvark179 commented on #1634
I’m working my way through pg issues at the moment, I’ll take a look.

[2019-03-24 19:05] deepj opened #1638 "brotli: fatal error: 'ruby.h' file not found"
I don't see into these compilation issues. So I'm not sure if the gem uses some non-standard way to compile itself or not.

To reproduce
[code]

Error:

[code]

[2019-03-24 20:15] deepj opened #1639 "sqlite3: org.truffleruby.language.control.RaiseException: Not a handle or a pointer (ArgumentError)"
To reproduce:

[code]

Error:

[code]

[2019-03-25 10:53] janko opened #1640 "Closing StringIO not idempotent"
Hello :wave:

The `#close` method in IO and IO-like objects is idempotent in MRI:

[code]
[code]

In TruffleRuby RC 14, closing File objects is indeed idempotent, but for StringIO objects an `IOError: closed stream` exception is raised on second `#close`.

[2019-03-25 11:00] eregon commented on #1616
@deepj No, it doesn't. I'm not sure why that test fails.

[2019-03-25 12:40] aardvark179 commented on #1639
I can't reproduce this on linux on `master`, I'll check on macos later.

[2019-03-26 19:47] deepj commented on #1639
@aardvark179 Hello, have you gotten this issue on macOS? I'm just asking if I would add or re-try it again.

[2019-03-26 20:24] deepj commented on #1613
Is there any change to be this fixed in RC15?

[2019-03-28 09:26] deepj opened #1641 "pg_query :`process_args': Unknown argument: -exported_symbols_list (RuntimeError)"
`pg_query` is a de/parser of PostgreSQL's queries. I don't use it directly, I just was curious if I can install it in TruffleRuby.

To reproduce:

[code]

Error:

[code]

[2019-03-29 18:57] aardvark179 commented on #1634
Okay, that area of `pg` change substantially in https://github.com/ged/ruby-pg/commit/65092156a4084fbc121dcd4928abaac5dd39d61b, which is why I haven't seen the same issue while testing. If you can use a more recent version of pg then that will partially solve the problem, but you'll need to wait a couple of days for my various PRs to get merged for all of this to be fully working.

To fix this at

[2019-03-30 09:50] eregon commented on #1632
From the first backtrace in the description:
[code]
That looks like a potential double `free()`.
cc @aardvark179

[2019-03-30 09:53] eregon commented on #1632
NOTE: The original TravisCI log doesn't work anymore as the repo was renamed, but this works:
https://travis-ci.com/socketry/console/jobs/186902925

[2019-03-30 10:01] eregon commented on #1632
Maybe relates to https://github.com/ruby/openssl/issues/201? In other words, the issue might be due to the new OpenSSL C extension and/or the setup in TravisCI.

[2019-03-30 10:05] eregon commented on #1632
I wish Bundler would show the backtrace in such a case, instead of just showing the error message, that would help to debug the problem.

[2019-03-30 17:55] zverok commented on #1590
Will do :)
(Well, obviously this `$RS` trick is outdated as hell, I just once in a past copied it into my default `.gemfile` template and haven't rethought it since.)

Thanks for all the great work you are doing here!

[2019-03-30 19:45] deepj commented on #1570
@chrisseaton Hello, can you check if this has been solved by your commit https://github.com/oracle/truffleruby/commit/b9d5779ffba78842999e247cb33ef11bbb8a156d, please?

[2019-03-30 23:46] deepj commented on #1634
@aardvark179 Yes, it's possible to use more current version of `pg`. In fact, I haven't realized the old version is used in this case.

[2019-04-01 18:20] aardvark179 commented on #1639
Sorry for the slow reply. I have now managed to reproduce the issue, and have a fix I will put through CI shortly.

[2019-04-02 05:31] TisonKun opened #1642 "gem install rugged failed {linking shared-object rugged/rugged.su}"
[gem_make.txt](https://github.com/oracle/truffleruby/files/3032397/gem_make.txt)

[code]

[2019-04-02 05:31] TisonKun commented on #1642
ref #1400 #1088
cc @eregon

[2019-04-02 05:33] TisonKun commented on #1642
a workaround is welcome too

[2019-04-02 09:33] eregon commented on #1642
Thank you for the report.
This is a current limitation of the linker we plan to address by using the native linker.
I don't see where `-framework` is passed or `have_framework` is used in `rugged` though.

Could you share your command to install rugged? Did you system libraries?

[2019-04-02 14:27] aardvark179 commented on #1632
I've been trying to reproduce this, and so far failing. Going through the failing travis CI jobs I know about it doesn't appear to be specific to a single version of OpenSSL or a single version of Ubuntu, or anything like that.

I'm doubtful that it is a double free issue as the pointer in the error message is not aligned. Equally it doesn't appear to be a `VALUE` being misinterpreted as a pointer

[2019-04-02 14:53] aardvark179 commented on #1641
This appears to be a duplicate of #1642 (different gem and command line option, but same problem). I'll close this one.

[2019-04-02 14:53] #1641 closed

[2019-04-02 17:29] aardvark179 commented on #1638
I think I understnad why this isn't building.
1. Brotli has one place in its `extconf.rb` file where they have hard coded that object files will end with `.o` (but we're compiling to LLVM bitcode files and naming them with an `.bc` extension.
2. Because we pipe source to clang via a pre-processor we cause a subtle difference in `#include` behaviour, which breaks the build.

I'll look at fixing the

[2019-04-02 18:38] aardvark179 commented on #1639
The fix for this has been merged and should be in the next release.

[2019-04-02 18:38] #1639 closed

[2019-04-02 20:20] deepj commented on #1641
Hm, but this has been reported sooner. So the other issue is a duplicate...

[2019-04-02 21:19] nirvdrum commented on #1640
Thanks for the report. I looked into it and this was behavior that changed with Ruby 2.3. Prior to that, MRI would also raise an exception. I'll get this fixed up on our end and add a spec for it as well.

[2019-04-02 22:02] nirvdrum commented on #1633
Thanks for the report. I'll add a new spec and make our message match MRI's.

I know many libraries are still targeting versions older than Ruby 2.5. For projects that can do feature detection or inspect the Ruby version, Ruby 2.5 enhanced `KeyError` with `key` and `receiver` methods, which hopefully obviate the need for inspecting the error message programmatically.

[2019-04-03 05:23] TisonKun commented on #1642
`gem install rugged` I don't use a bundle `libgit2`

[2019-04-03 05:26] TisonKun opened #1643 "Polyglot - require 'git' failed by "threads not allowed in single-threaded mode""
After install gem [ruby-git](https://github.com/ruby-git/ruby-git), I can `require` it in irb

[code]

However, when I try to access it in a plotglot context, it fails with "Exception in thread "main" threads not allowed in single-threaded mode (SecurityError)"

The code is

[code]

and error logs

[code]

[2019-04-03 05:27] TisonKun commented on #1643
since I already set `#allowAllAccess(true)`, I don't know how to resolve this issue.

[2019-04-03 05:33] TisonKun commented on #1643
Code around error log reported is

[code]

[2019-04-03 10:37] deepj commented on #1613
@eregon Hello, is there any change to get fixed this into RC15?

[2019-04-03 15:44] chrisseaton commented on #1613
Sorry this hasn't managed to go into RC15, but we have a lot of time scheduled this month to look at this issue backlog.

[2019-04-03 15:45] chrisseaton commented on #1509
Sorry this hasn't managed to go into RC15, but we have a lot of time scheduled this month to look at this issue backlog.

[2019-04-03 18:59] aardvark179 commented on #1620
This is working for me in our current development build. Did you change anything in `galaaz`?

[2019-04-04 11:37] deepj commented on #1613
😿

[2019-04-04 11:39] chrisseaton commented on #1613
I should be able to get you a build with it in a week or so though.

[2019-04-04 15:41] nirvdrum commented on #1640
As it turns out there, there was already a spec but we had it tagged. This is all fixed up now by c298af81ff037af0e24315b5a3b5f71ebe25496c and will be part of the next release (1.0.0-rc15). Thanks again for filing the issue!

[2019-04-04 15:41] #1640 closed

[2019-04-04 15:48] janko commented on #1640
Great, thanks for the fix!

[2019-04-04 19:28] aardvark179 commented on #1630
I've not been able to reproduce this, either in jvm or native mode, so it may be something that has now been fixed. Can you try this on RC15 when its out and let us know if you still see the problem?

[2019-04-04 20:38] eregon commented on #1630
Unfortunately that is not easy, because this error happens on a separate thread for compilation, and the original thread is already executing different code with a different stack when this error happens during compilation. Taking a stacktrace when sending the compilation request would be one way, but it's quite expensive. Another way is to disable background compilation to debug this (`--vm.Dgraa

[2019-04-05 12:27] deepj opened #1644 "yield and block as method argument is not evaluted correctly"
Honestly, I'm not sure how to describe it well but I found this issue in fear gem and TruffleRuby

To reproduce:

[code]

TruffleRuby 1.0.0 RC14 (wrong)

[code]

MRI 2.6.2 (correct)

[code]

MRI is correct in this case

[2019-04-05 12:52] eregon commented on #1644
Just to clarify, this probably means `x` is `[2]` in TruffleRuby and `2` in MRI.

[2019-04-06 00:31] chrisseaton commented on #1529
I'm going to remove the *priority* tag on this, as we aren't going to be able to solve it in the next month or so, which is what we're aiming at with priority issues now.

[2019-04-06 00:35] chrisseaton commented on #1643
@TisonKun sorry this issue is a little complicated at the moment. The relevant documentation is here

https://github.com/oracle/truffleruby/blob/master/doc/user/polyglot.md#embedded-configuration

When you use TruffleRuby from anything other there than the `ruby` launcher (or `irb` or whatever) you get an *embedded configuration*. This includes enabling single-threaded mode.

For what you want to

[2019-04-06 00:36] chrisseaton commented on #1643
@eregon do you think it's still right that we're setting `single-threaded` in this configuration? I have a vague idea something changed in this area recently...

[2019-04-06 00:39] chrisseaton commented on #1588
I think this is likely because the standard Ruby VM happens to include the function `SHA512Init`. It's not reasonably part of what anyone intended to be part of the Ruby C extension API. But we can probably make this one work.

[2019-04-06 04:07] TisonKun commented on #1643
Add an option to workaround,

`.option("ruby.single_threaded", "false")`

and now process can fall through without exceptions.

However, the application becomes unable to exit when it executed the last statement.

The repository is here https://github.com/TisonKun/graal-polyglot-demo

[2019-04-06 10:17] Mogztter opened #1645 "Hash#merge (with no argument) should return a new Hash"
### Code

**hash-merge.rb**
[code]

### MRI

[code]
[code]
[code]

### TruffleRuby 1.0.0-rc.15

[code]
[code]
[code]

It looks like TruffleRuby does not create a new Hash.

**hash-id.rb**
[code]

With MRI we can see that the `__id__` of `a` and `b` are different:

[code]

But with TruffleRuby, the `__id__` are identical:

[code]

[2019-04-06 20:45] ioquatix opened #1646 "Failing async specs - various issues"
The core of async is now passing on TruffleRuby is pretty awesome.

However there are failures in other gems, e.g. async-http, etc: https://travis-ci.org/socketry/async/jobs/513351431

You can run this huge test suite yourself by doing the following:

[code]

This will test several gems which depend on `async`.

[2019-04-07 23:06] ioquatix opened #1647 "ArgumentError: the value is not a Hash with all keys being Symbols as kwargs requires: 12"
https://travis-ci.com/socketry/localhost/jobs/190998868

[code]

[2019-04-08 11:22] eregon commented on #1636
Maybe a quick workaround here is ignoring these extra keywords initially?
At least, it wouldn't prevent running tests/specs which use this `Coverage` feature.

[2019-04-08 11:23] eregon commented on #1588
Maybe we should fix this upstream?
e.g., to use `require` instead of calling internal `Init` functions?

[2019-04-08 11:34] chrisseaton commented on #1588
@eregon it's not an `_Init` function in that sense (no underscore.)

But the problem isn't what I thought either:

https://github.com/net-ssh/bcrypt_pbkdf-ruby/blob/98fec744f7a1fea42ffd0420ef34f9159b1c61f7/ext/mri/sha2.h#L10

[code]

[2019-04-08 11:42] eregon commented on #1588
So that C extension should define `SHA512Init` but somehow it's not found?

I wonder why that gem doesn't use the bundled `Digest::SHA512` (there might be a C-API for it too) and define its own, but that's a different matter.

[2019-04-08 12:49] chrisseaton commented on #1613
I'm working with this spec for this at the moment

[code]

[2019-04-08 13:04] aardvark179 commented on #1638
The TruffleRuby and Brotli fixes have both been merged so I'm marking this as closed.

[2019-04-08 13:04] #1638 closed

[2019-04-08 13:57] chrisseaton commented on #1613
This is probably more precisely the problem

[code]

[2019-04-08 14:25] nirvdrum commented on #1633
This is all fixed as of c90cf8e84e381edeb1764d0d7f4551d94d4e7732. I updated the message in `ENV#fetch` to match MRI's exception message format as well. This should be part of the next release (1.0.0-rc16). Thanks again for the detailed report!

[2019-04-08 14:25] #1633 closed

[2019-04-08 15:12] chrisseaton commented on #1613
A fix for this is on the way.

[2019-04-08 15:16] chrisseaton commented on #1510
Will be resolved in #1509.

[2019-04-08 15:16] #1510 closed

[2019-04-08 15:16] chrisseaton commented on #1514
Will be resolved in #1509.

[2019-04-08 15:16] #1514 closed

[2019-04-08 15:25] chrisseaton commented on #1509
Working on this now.

[2019-04-08 16:44] nirvdrum commented on #1645
Thanks for the detailed report! I've fixed the issue in f5b069ce797f95db9d26ccdb4470afeb14d71c71 and updated a spec to represent the correct behavior. This should appear in the next release (1.0.0-rc16).

[2019-04-08 16:44] #1645 closed

[2019-04-08 17:19] deepj commented on #1613
@chrisseaton If possible to make a new nightly build for me after fixing this, please?

[2019-04-08 17:23] deepj commented on #1615
@chrisseaton @eregon if I may vote for some further priority, I would pick this one as a next priority. It's a quite lot specs including the most of my apps failing on this.

[2019-04-08 17:36] Mogztter commented on #1645
Awesome thanks @nirvdrum

[2019-04-08 22:53] chrisseaton commented on #1509
Fix for this done and on the way.

[2019-04-08 23:02] chrisseaton commented on #1450
Sorry I'm going to have to de-priortise this. I've taken a look and it's not realistic to get it done soon. It uses a ton of C APIs that we don't have yet, and the underlying `TracePoint` implementation also is not totally complete.

TruffleRuby includes it's own Chrome-based debugger, and we'd recommend that for now.

[2019-04-08 23:12] chrisseaton commented on #1615
I get `uninitialized constant App` when I try with MRI 2.6.2. Can you check you're trying with the same MRI version?

[2019-04-08 23:16] chrisseaton commented on #1615
I added `require_relative 'spec_helper'` to the top of `app_spec` and then it works in both.

[2019-04-08 23:24] chrisseaton commented on #1615
I think this is fixed - I can run `rspec` on pastel.

But - I can't run `bundle expec rspec ci` on MRI or TruffleRuby, and as I said I couldn't run your demo on either MRI or TruffleRuby. I don't know if you've got any thoughts on that?

[2019-04-08 23:24] #1615 closed

[2019-04-09 09:16] deepj commented on #1615
@chrisseaton it seems to be an issue in RC14 and previous releases. See pastel specs

RC15

[code]

RC14

[code]

[2019-04-09 10:12] chrisseaton commented on #1615
Works for me in RC15 and development. I do get this message though - where's this form?

[code]

[2019-04-09 10:22] eregon commented on #1615
@chrisseaton Which message? The Delegator warning, or the circular require waning?

[2019-04-09 10:24] chrisseaton commented on #1615
The circular require warning is only on TruffleRuby. The delegator warning is also on MRI.

[2019-04-09 10:40] deepj commented on #1615
@chrisseaton uf, the bug is reproducible in RC14 and previous versions, not in RC15

[2019-04-09 10:44] chrisseaton commented on #1615
Sorry not sure what you mean - so it's fixed? Or do you care about the bug still being in RC14? We can't fix that, sorry.

[2019-04-09 10:55] deepj commented on #1615
Yes, the point of the whole was it was bug until RC14, but there is anymore in RC15. I'd interest in what fixed it.

[2019-04-09 10:56] chrisseaton commented on #1615
Ah - I'm not really sure. Bisecting to find the fix would be interesting but not something I'll do unless there's a more specific need. Glad it's fixed anyway.

[2019-04-09 11:04] deepj commented on #1615
Isn't it fixed by this `autoload :C, "path"; require "path" now correctly triggers the autoload.`?

[2019-04-09 11:06] chrisseaton commented on #1615
Possibly - as I say I'd have to bisect to figure it out and is there a need?

[2019-04-09 11:17] eregon commented on #1615
FWIW, I had a quick look and it doesn't look like `Pastel` uses `autoload` itself, maybe a dependency?

[2019-04-09 11:27] deepj commented on #1615
@eregon I guess this has a connection to RSpec how it loads specs I guess.  I had the same issue with my specs including the issue is reproducible by above code from me in RC14.

[2019-04-09 11:53] eregon commented on #1615
First thing is `color_parser.rb` uses `StringScanner` but no gem file requires it.
@deepj  So that's a bug of the gem, could you report it?
So this can happen on MRI too:
[code]

When running specs, it looks like on MRI, `strscan` is required by `erb`, which is required by `rspec-core-3.8.0/lib/rspec/core/configuration_options.rb`.

We had a workaround that `erb` wouldn't use `strscan` (and theref

[2019-04-09 13:09] nirvdrum commented on #1410
Unfortunately, other things got in the way and I haven't addressed the core problem here. Since it wasn't presenting itself in Bundler any longer though, I think we can close this issue out. I'm tracking the eval encoding issue in a separate issue in our internal tracker.

Please comment or re-open if you think I've closed this prematurely.

[2019-04-09 13:09] #1410 closed

[2019-04-09 13:57] adjam opened #1648 "unf_ext fails to compile with 1.0.0-rc15"
Installed `1.0.0-rc15` via `ruby-install`/`chruby`, and I cannot compile the cext for `unf_ext` (unicode normalizer implemented in C++); the error indicates that `vector.h` cannot be found, although I have `libstdc++`and `libstdc++-devel` OS packages installed (Fedora 29).

[code]

(I should note that the same gem installs with MRI 2.6.2 also installed via `ruby-install`)

[2019-04-09 17:02] adjam commented on #1648
@eregon thanks!  I missed that LLVM was involved.  Here's one more data point for "works on Fedora 29"

[2019-04-09 17:10] eregon commented on #1648
@adjam Great, I will close this issue then.

We're trying to remove the need to install `libc++` manually (GR-15068 internally) but that needs more considerations.

[2019-04-09 17:10] #1648 closed

[2019-04-09 17:34] deepj opened #1649 "Class#class_variable_get returns sometimes incorrect value"
I'm not sure how to describe this (again) but I've noticed it in `Hanami::Utils` specs.

To reproduce:

[code]

Error:

[code]

The issue lies in the following construct

[code]

But if I run the spec seperaly. All is passed.

[code]

[2019-04-09 19:28] deepj opened #1650 "Hash#merge doesn't keep order when value of given key is changed"
This different behaviour causes some troubles in `Hanami::Controller` specs.

TruffleRuby 1.0.0 RC15:

[code]

MRI 2.6.2

[code]

[2019-04-09 19:49] eregon commented on #1649
`@@engine` is probably set in a superclass, and based on load order and implementation, this could mean variables in subclasses are removed.

[2019-04-09 22:56] chrisseaton commented on #1509
Fixed in 0beec8abe77f5aafac00f983fe67d77f8c573ac8.

[2019-04-09 22:56] #1509 closed

[2019-04-09 22:57] chrisseaton commented on #1613
Fixed in 0c71a5bf5d2681cf2acbb875fd779c505f6f55b8.

[2019-04-09 22:57] #1613 closed

[2019-04-09 22:57] chrisseaton commented on #1554
We're working on this.

[2019-04-09 22:57] chrisseaton commented on #1544
We're working on this.

[2019-04-09 23:39] ianks opened #1651 "Error when installing unf_ext"
Hey there! Figured I would report an error I am getting when attempting to install the `unf_ext` gem:

[code]

[2019-04-09 23:43] chrisseaton commented on #1651
Hi thanks for the report!

I think this issue may be the same as this one #1648.

Can you see if https://github.com/oracle/truffleruby/blob/master/doc/user/installing-llvm.md helps?

[2019-04-10 09:42] eregon commented on #1590
TruffleRuby 1.0.0-rc15 was released with this fix.

[2019-04-10 10:07] eregon commented on #1627
@deepj This last one seems a different error (Segmentation fault/Bus error), could you report it separately?

[2019-04-10 11:19] aardvark179 commented on #1544
A proper fix for this is currently going through CI.at the moment.

[2019-04-10 11:25] eregon commented on #1583
@nateberkopec I fixed this in 01fa8d26473125d8e966418898c61a2818cc2d32, it will be in the next release. Thank you for the report!

[2019-04-10 12:49] aardvark179 commented on #1644
I can't reproduce this on `master`, I think it has been fixed by https://github.com/oracle/truffleruby/commit/0c71a5bf5d2681cf2acbb875fd779c505f6f55b8.

[2019-04-10 12:50] #1644 closed

[2019-04-10 17:00] aardvark179 commented on #1647
I've found the problem, and am putting a fix through our CI.

[2019-04-11 00:02] deepj opened #1652 "multi_string_replace: rb_eval_string_protect not implemented"
To reproduce:

[code]

Error:

[code]

TruffleRuby 1.0.0 RC15

[2019-04-11 14:54] eregon commented on #1651
I'll optimistically close this as duplicate of #1648 with the solution being what @chrisseaton said above.
@ianks It would be great if you can confirm whether that solved it for you.

[2019-04-11 14:54] #1651 closed

[2019-04-11 20:42] deepj commented on #1617
@eregon Hello, can you take a look at this since it's the same issue like https://github.com/oracle/truffleruby/commit/19c2b9a81385889e622c552188483d0099267278?

[2019-04-12 09:33] eregon commented on #1617
OK, will do. I didn't know (or forgot) `Module#alias_method` became public.

A good way to catch this should be our check for the same public methods as MRI:
https://github.com/oracle/truffleruby/blob/master/spec/truffle/methods_spec.rb
https://github.com/oracle/truffleruby/blob/master/spec/tags/truffle/methods_tags.txt

[2019-04-12 12:58] eregon commented on #1601
I cannot reproduce, and instead get a compiler error:
[code]

However, I think I can do something to fix the exception you got.

[2019-04-12 14:17] #1583 closed

[2019-04-12 14:18] deepj commented on #1601
@eregon `gem install hamlit` is just a case when this was occurred. This issue have happened twice in different cases until now. But not in RC15 so far yet.

[2019-04-12 15:20] fniephaus opened #1653 "Cannot `require 'rouge'` in RC15: Coercion error: nil.to_str => String failed"
I used to be able to load [rouge](https://github.com/jneen/rouge) in RC12:

[code]

It no longer works in RC15:

[code]

In both cases, I have used `gem install rouge` which installed `rouge-3.3.0`.

[2019-04-12 17:02] eregon commented on #1617
Fixed in 9cda04fc0e18f8983e7990914dfac96b6a45b3f8 along quite a few other public methods.
Thanks for the report!

[2019-04-12 17:02] #1617 closed

[2019-04-13 12:11] fniephaus commented on #1653
Same error occurs when I try to `require "nokogiri"`, not sure what is causing this issue yet.

[2019-04-13 12:22] eregon commented on #1653
Thank you for the report.

Which command are you using the the shell?
`bin/polyglot --jvm --shell` ?

[2019-04-13 12:24] fniephaus commented on #1653
Yes, just checked with `bin/truffleruby` and there everything works as expected.

[2019-04-13 12:27] eregon commented on #1653
Launching with `--ruby.debug` gives a bit more information:
[code]

[2019-04-13 12:30] fniephaus commented on #1653
Not sure it helps, but this is what it looks like on GraalVM RC12 EE:
[code]

[2019-04-13 12:33] eregon commented on #1653
That line in `rubygems/bundler_version_finder.rb:51` is:
[code]

And `$0` is `nil` because it's currently only set if run from a RubyLauncher (`bin/ruby`).
What changed is we updated to Ruby 2.6, with a newer version of RubyGems.

[2019-04-13 12:42] fniephaus commented on #1653
Great, thanks for the info! I was able to find a workaround and now I can require `nokogiri` and `rouge` again. I'll leave the proper bug fixing to you ;)

[2019-04-13 12:42] eregon commented on #1653
Setting `$0` manually is a workaround (note that it will also change the process title):
[code]

[2019-04-13 12:49] eregon commented on #1653
The bug fix is likely to initialize `$0` to e.g. `-` or `-e` which MRI uses when the input script is stdin or `-e` respectively. The RubyLauncher would then just override that value since it has more information.

Ideally, it should also be set to the filename (`test.rb`) in this case:
[code]

[2019-04-13 16:58] eregon commented on #1643
At some point we made `single-threaded` default to `embedded`. This is still needed for `js` at least, until we have a more general solution in Truffle. cc @eleinadani

[2019-04-13 17:00] eregon commented on #1643
Maybe this should be more dynamic: we'd wait for the first thread creation and check if that succeed, then OK, otherwise turn on single-threaded mode and raise the exception.

[2019-04-14 03:12] hlolli opened #1654 "Compilation fails with clang 5.0 on 1.0.0-rc15"
The errors and warning are printed here in the stacktrace, the error for missing identifier or `(` is strange to me looking at the source code.

Using Linux(NixOs)

[code]

[2019-04-14 17:40] fniephaus opened #1655 "[InteropUX] Ruby String vs. Array of String"
I'm experimenting with some polyglot data analyses and for that, I'm move different arrays between Truffle languages. When I import a Ruby string in Python and JavaScript, it behaves just like any other string of the corresponding language. The behavior changes, when I do the same with arrays of strings. Then, strings appear to be instances of Ruby `String`, which they are. I'm not yet sure what t

[2019-04-15 06:51] deepj opened #1656 "BigDecimal#hash doesn't return always the same result for given value"
This causes a problem i.e. while matching in RSpec `change` method

TruffleRuby 1.0.0 RC15 (wrong)

[code]

MRI 2.6.2 (correct)

[code]

[2019-04-15 06:56] deepj commented on #1650
@nirvdrum Hello, would this be possible "fix" into RC16, please? 😸

[2019-04-15 06:58] deepj commented on #1656
This a real case in my specs when I'm testing if an import change rates is idempotent. Due the above issue it fails.

[code]

[2019-04-15 07:05] deepj commented on #1631
@nirvdrum this is fixed in https://github.com/oracle/truffleruby/issues/1509#issuecomment-481470341 by @chrisseaton

[2019-04-15 07:09] deepj commented on #1630
@aardvark179 I guess, this can be closed. It seems to be fine in RC15 and in the recent master.

[2019-04-15 07:48] deepj opened #1657 "ROM: ROM::AttributeAlreadyDefinedError: Attribute * already defined"
I'm not sure why this is an issue in TruffleRuby. But this is a major issue to run ROM/Hanami in TruffleRuby. I thought this would be fixed by various fixes reported by me but it seems not. At least not in the recent master.

To reproduce

[code]

Alternatively
[code]

Error:

[code]

[2019-04-15 08:10] deepj commented on #1618
@eregon @chrisseaton is it possible to make a priority from this, please?

Already used in Rails codebase https://github.com/rails/rails/blob/master/activesupport/lib/active_support/descendants_tracker.rb#L95

[code]

[2019-04-15 08:14] deepj commented on #1571
@chrisseaton I guess this has been solved by your fix https://github.com/oracle/truffleruby/commit/0c71a5bf5d2681cf2acbb875fd779c505f6f55b8

[2019-04-15 08:19] chrisseaton commented on #1571
Not really sure what would have fixed that but ok.

[2019-04-15 08:19] #1571 closed

[2019-04-15 08:20] deepj commented on #1571
@chrisseaton I'll reopen it if I'll see it again

[2019-04-15 08:34] deepj opened #1658 "refrigerator tests are running 50x slower than in MRI"
To reproduce

[code]

TruffleRuby 1.0.0 RC16 nightly (9cda04fc)

[code]

MRI 2.6.2

[code]

[2019-04-15 09:33] deepj opened #1659 "dry-schema: a lot of stackoverflow errors"
I'm getting a lot of various stackoverflow errors in RC16

[code]

[code]

To reproduce

[code]

[2019-04-15 09:34] deepj commented on #1659
@chrisseaton these are interesting errors

[2019-04-15 09:36] chrisseaton commented on #1658
The performance of the build I gave you will have different performance characteristics to normal - I'll close this but can you re-open if you see it in the actual RC?

[2019-04-15 09:36] #1658 closed

[2019-04-15 09:37] chrisseaton commented on #1659
Similar to #1658 this is possibly just a symptom of the nightly build - but I will look into it.

[2019-04-15 10:02] deepj commented on #1658
@chrisseaton OK.

RC15

[code]

True, it's faster in RC15 over the nightly build. Still significantly slower over MRI

[2019-04-15 10:05] chrisseaton commented on #1658
Yes, tests in general work against the whole idea of how people optimise Ruby. For example it applies to JRuby as well, but TruffleRuby is an improvement.

* MRI 0.983689s
* JRuby 20.214842s
* TruffleRuby 10.069473s

[2019-04-15 10:07] deepj opened #1660 "English: $ERROR_INFO doesn't refer to the last error that was raised"
This construct is used in `dry-monads` specs https://github.com/dry-rb/dry-monads/blob/master/spec/unit/try_spec.rb#L14

`$ERROR_INFO` is alias of `$!`

TruffleRuby 1.0.0 RC15

[code]

MRI 2.6.2

[code]

[2019-04-15 10:22] eregon commented on #1660
I thought this might relate to #1560 but apparently not:
[code]

[2019-04-15 10:25] eregon commented on #1660
Probably, the `$ERROR_INFO` alias doesn't work because `$!` is thread-local, but I need to investigate.
Thanks for the report.

[2019-04-15 12:28] aardvark179 commented on #1646
There are a few different underlying issues here. I'll summarise the ones I have identified and have fixes for so far:
1. Incomplete socket APIs (especially round the kwargs options)
2. Incomplete handling support for MRI's C API for kwargs.

There's some other issues I don't yet have full fixes for:
1. Extra methods are exposed on `IO` which breaks some tests

[2019-04-15 12:42] deepj commented on #1608
How hard is this to support in TruffleRuby?

[2019-04-15 12:43] chrisseaton commented on #1608
Should be trivial. Do you want to prioritise it?

[2019-04-15 12:43] ioquatix commented on #1646
We can certainly change 3, but 4 seems like it might be more of a compatibility issue with other systems. It can certainly be changed, but why is it trapped by the VM? Everything else looks good. Thanks for your time investigating these issues!

[2019-04-15 12:45] aardvark179 commented on #1654
I think you may have something overriding our standard compiler options, could you post the generated Makefile in `src/main/c/cext`? I think you're compiling with `-O1` or `-O2` optimisation, which won't quite work yet.

[2019-04-15 12:59] deepj commented on #1608
@chrisseaton it would be fine to be fixed at least in RC17 together with https://github.com/oracle/truffleruby/issues/1606. Then all Sequel specs will pass.

[2019-04-15 13:09] deepj opened #1661 "rack: rake test causes uninitialized constant Rack::MockResponse (NameError)"
This has started happening since RC15, not in RC14.

To reproduce:

[code]

RC15 + nightly

[code]

RC14

[code]

[2019-04-15 13:26] chrisseaton commented on #1646
The VM uses these signals for internal services such as threads and the JIT. JRuby also does this, and I guess Rubinius to some extent but I'm not sure maybe not.

I went looking for an exact answer to your question about `SIGUSR1` specifically and couldn't easily find it in the source code. I did find this document https://docs.oracle.com/javase/7/docs/webnotes/tsg/TSG-VM/html/signals.html which

[2019-04-15 14:26] aardvark179 commented on #1652
I have a fix for this that I'm putting through CI at the moment.

[2019-04-15 16:22] deepj opened #1662 "puma: waited 15 seconds in the SafepointManager but 1 of 12 threads did not arrive"
If I run puma tests and abort them for a while after hanging up I get this error.

[code]

To reproduce:

[code]

Error:

[code]

[2019-04-15 16:47] aardvark179 commented on #1646
It's going to be a little tricky to document the signals trapped by the VM, it can differ between platforms and OSes, may change with new JDK versions, can be changed with some command line options, and third party libraries or other languages may also want to trap signals. The situation is made even harder because there is no easy way to know that a signal is already trapped without trying to add

[2019-04-15 21:23] ioquatix commented on #1646
How does a user send a signal to a process using pipes and select?

[2019-04-15 21:27] chrisseaton commented on #1646
Hang on we'll try to fix signals for you before trying to change any of the user code - there might be some other options.

[2019-04-16 07:28] deepj commented on #1662
Probably relative to #1448

[2019-04-16 08:50] deepj opened #1663 "Proc#source_location returns something different but in MRI"
I guess, TruffleRuby behaviour is correct in this point

[code]

TruffleRuby 1.0.0 RC15

[code]

MRI 2.6.2

[code]

This difference causes a problem in the following `dry-types` logic here https://github.com/dry-rb/dry-types/blob/master/lib/dry/types/printer.rb#L255

Due this, this spec fails on

[code]

[2019-04-16 14:50] deepj opened #1664 "Travis CI: bundle install => double free or corruption (out): 0x00007f607c01e2f0"
See https://travis-ci.org/jeremyevans/sequel/jobs/520311033

[code]

[2019-04-16 15:24] rbotafogo opened #1665 "File.directory? calls to_i in RC15, but not in RC14"
The following code

    Rscript --jvm --polyglot -e 'eval.polyglot("ruby", "\
    $LOAD_PATH.unshift %q(/home/rbotafogo/desenv/galaaz/lib)\
    require(%q(galaaz))\
    class RbChunk\
    end\
    RbChunk.new\
    RbChunk.instance_eval(%q(File.directory?(%q(.))))
    ")'

When executed in RC14 returns the expected result '[1] TRUE', since '.' is a directory and Ruby 'true' becomes R vector with 1

[2019-04-16 15:44] aardvark179 commented on #1662
I think this is a different problem and is caused by `rb_thread_call_without_gvl` reclaiming the C mutex before restoring the default thread unblocker. Having fixed this issue I still see other puma test failures, but I also see test failures under MRI.

[2019-04-16 17:19] aardvark179 commented on #1663
I think the only time a proc will have a symbol in its `to_s` representation will be if it is created from a symbol, so you could move that case up, and only try with the source location when the proc wasn't created from a symbol.

It might also be worth putting in a bug report with MRI to expose the symbol through some standard API so you don't have to match over the result of `to_s`.

[2019-04-16 17:39] aardvark179 commented on #1554
The fix for this has been merged in `master`

[2019-04-16 17:39] #1554 closed

[2019-04-16 17:40] aardvark179 commented on #1544
The fix has been merged into `master`

[2019-04-16 17:40] #1544 closed

[2019-04-16 21:51] brauliobo opened #1666 "Support for rbtrace extensions"
[code]

[2019-04-16 22:29] eregon commented on #1665
Thank you for the report.

I'm confused by the following lines in galaaz master:
https://github.com/rbotafogo/galaaz/blob/2e73b3019af705a2a00df0c507bfbabcee877c4a/lib/R_interface/rsupport.rb#L88-L94
[code]
Throwing a NoMethodError manually is already unusual, but then assuming it's a NoMethodError without checking what was the RuntimeError seems incorrect in general.

From the error above, it look

[2019-04-16 22:31] eregon commented on #1646
Re trapping `SIGUSR1`, this is a non-issue on SVM (native builds). It's only problematic on JVM.

[2019-04-16 22:36] eregon commented on #1663
We could return `nil` for `Symbol#to_proc` Procs's `source_location`, that seems easy and makes sense, those Procs are not really associated with a given source location (they are associated with the Symbol, which is global, rather).

[2019-04-16 22:41] eregon commented on #1666
Thank you for the report.

Implementing `RBASIC_CLASS` would be trivial.
`rb_postponed_job_register_one` seems much more involved though.

[2019-04-16 23:16] deepj commented on #1663
@eregon it's up to you. I'd prefer TruffleRuby way in this case. Anyway, then I recommend to run `dry-types` specs during "fixing" this since they contain more these "things".

[2019-04-17 13:40] rbotafogo commented on #1665
Benoit,

You are completely right... this is bad code and incorrect in general.
Removing the rescue clause gives the following output:

=====
******* method_missing
["(eval):1:in `attach_function_eagerly'", "(eval):1:in
`truffleposix_stat_mode'", "(eval):1:in `directory?'", "(eval):1:in `<top
(required)>'", "<eval wrapper>:7:in `instance_eval'", "<eval wrapper>:7:in
`<top (required)>'", "<REPL>:1:

[2019-04-17 13:47] JongleurX commented on #1433
Hey Chris and team, just wondering if this fix is on the roadmap, and roughly speaking when you think you’ll be able to support most production Rails apps.

[2019-04-17 13:49] chrisseaton commented on #1433
We've been making a bit dent in the issue backlog in the last few weeks, so we're making progress.

I'll priorities this one.

I'm not sure Redmine is in our testing system yet - I'll put it in and see how it goes. If you have any other `Gemfile.lock` files you can freely send us we can test those as well - that's more specific than aiming at 'most production Rails apps' which is still a bit ambit

[2019-04-17 17:52] deepj opened #1667 "jsminc: Undefined symbols for architecture x86_64"
To reproduce

[code]

Error:
[code]

[2019-04-17 17:59] deepj commented on #1661
The same issue when I try to run sprockets tests

[code]

[2019-04-17 18:00] deepj commented on #1661
^^ @chrisseaton @eregon

[2019-04-17 20:00] deepj opened #1668 "zopfli: LLVMI32ProfiledValueNodeGen node with values of type com.oracle.truffle.llvm.runtime.pointer.LLVMPointerImpl"
To reproduce:

[code]

Error:

[code]

[2019-04-18 06:39] deepj opened #1669 "Roda#define_roda_method and problem with arity"
Honestly, I don't get into this metaprograminng much https://github.com/jeremyevans/roda/blob/master/lib/roda.rb#L173

Due to some "difference" in TruffleRuby this [spec](https://github.com/jeremyevans/roda/blob/master/spec/define_roda_method_spec.rb#L198) fails on `ArgumentError: wrong number of arguments (given 1, expected 0)`

To reproduce:

[code]

Error:

[code]

[2019-04-18 07:28] deepj opened #1670 "mathn: RuntimeError (External function @nurat_canonicalization cannot be found. (LLVMLinkerException)"
To reproduce:

[code]

Error:

[code]

[2019-04-18 07:46] deepj commented on #1631
@chrisseaton this can be closed. It's fixed in the master. And there is only one failure in `Hanami::Utils` specs. And this issue https://github.com/oracle/truffleruby/issues/1649

[2019-04-18 08:01] eregon commented on #1670
Thanks for the report.
Could you explain in which context the `mathn` gem is installed?
It's a stdlib traditionally, so it doesn't need to be gem installed (but it can and we should probably support it).

[2019-04-18 08:04] deepj commented on #1670
This is a part deprecated `sass` gem, in this context of their specs. I'm chasing why I can't load any page in Rails app in TruffleRuby. Instead of that it starts handing up while processing assets.

[2019-04-18 15:05] deepj commented on #1664
The same issue in https://travis-ci.org/rom-rb/rom/jobs/521764376

[2019-04-18 19:06] deepj opened #1671 "Support of RubyVM::AbstractSyntaxTree"
There is no reason why something like [typerb](https://github.com/olegantonyan/typerb/blob/master/lib/typerb/variable_name.rb) wouldn't work in TruffleRuby (yes, I know about https://github.com/ruby/ruby/pull/2113)

[2019-04-18 22:10] eregon commented on #1671
Currently, `RubyVM::AbstractSyntaxTree` is MRI-specific because, e.g., it encodes the order of fields of MRI AST nodes, and provide no API to access them by name (AFAIK).
So, I don't think any tool that is not meant to only ever work on MRI should use `RubyVM::AbstractSyntaxTree` presently.
https://bugs.ruby-lang.org/issues/14844 has more details.
Ripper and the parser gem are both more stable and

[2019-04-18 22:27] eregon commented on #1671
I commented on the related [MRI issue](https://bugs.ruby-lang.org/issues/14844) so that hopefully the module becomes more portable in the future.

[2019-04-18 22:29] eregon commented on #1671
@deepj Could you show something that doesn't work with `typerb` due to this?
FWIW, https://github.com/olegantonyan/typerb/commit/aabcf85fbc72b8b620c1658bd9138d6e9e3b45ee seems to indicate they have a fallback if `RubyVM::AbstractSyntaxTree` is not available.

[2019-04-18 22:43] eregon commented on #1529
I fixed this in 59fb511e431b4795580ce7d191b84f0199351012 and added complete support for the FFI, with a pure-Ruby implementation using Truffle NFI.
It will be in the next release (1.0.0-rc16).
Thank you for the report.

[2019-04-18 22:43] #1529 closed

[2019-04-18 22:45] eregon commented on #1524
I fixed this in 59fb511e431b4795580ce7d191b84f0199351012 and added complete support for the FFI, with a pure-Ruby implementation using Truffle NFI.
I checked and `require "ethon"` now works.
It will be in the next release (1.0.0-rc16).
Thank you for the report.

[2019-04-18 22:45] #1524 closed

[2019-04-18 23:42] deepj commented on #1451
@eregon if there is no issue with the above code in the recent master. Feel free close this.

[2019-04-18 23:44] deepj commented on #1484
@eregon can you make a priority with this issue if the fix is easy, please?

[2019-04-18 23:48] deepj commented on #1671
@eregon when I run their specs I get

[code]

[2019-04-19 07:38] deepj commented on #1661
The same issue when I try to run [gel](https://github.com/gel-rb/gel) tests...

[2019-04-19 10:54] deepj opened #1672 "TracePoint#new(:call) and TracePoint#new(:c_call): ArgumentError: unknown event"
To reproduce:

[code]

Error:
[code]

[2019-04-19 11:04] deepj opened #1673 "Using private attr_writer with ||= doesn't work properly"
To reproduce:

[code]

TruffleRuby 1.0.0 RC15

[code]

MRI 2.6.2

[code]

[2019-04-19 13:04] deepj commented on #1630
In fact, it's reproducible with almost recent master which I have in `rom-sql` specs. Sequel 5.19.0 is used in this case

[code]

[2019-04-19 13:17] deepj commented on #1673
Hm, relative to ?https://github.com/oracle/truffleruby/issues/1489?

[2019-04-19 13:57] deepj opened #1674 "rom-sql specs have abnormal usage of memory"
Yes, the most specs fail.

![Screenshot 2019-04-19 at 15 51 37](https://user-images.githubusercontent.com/33736/56427339-025ba180-62ab-11e9-9342-ecc3dd645ef2.png)

To reproduce:

[code]

This requires PostgreSQL and MySQL running +

[code]

[2019-04-23 14:31] aardvark179 commented on #1650
I've now got a fix for this that I'm testing in CI.

[2019-04-23 17:23] aardvark179 commented on #1657
Okay, this appears to be due to us picking up the wrong block argument(s) in `class_interface.rb`, for some reason in the proc defined in `ClassInterface#schema` both `&block` and `&inner_block` are being resolved to `&block`.

The issue can be reproduced with
[code]

[2019-04-23 17:45] aardvark179 commented on #1657
Oh, I see why it's happening. I need to write some specs to characterise exactly what MRI does with implicit and explicit block arguments in blocks before I fix this, the whole area feels a little delicate.

[2019-04-24 15:18] chrisseaton commented on #1618
@aardvark179 fixed this - will be in the next release.

[2019-04-25 10:59] deepj opened #1675 "Patching eventmachine like nokogiri for working in TruffleRuby"
Hello,
it seems eventmachine's developers are not too much flexible to patch eventmachine + the @eregon  patch is for future 1.3. That doesn't solve many problems with a dependency on 1.2 which is here for long time. So I think TruffleRuby would patch eventmachine while compiling for a while.

[2019-04-25 11:03] deepj commented on #1618
@chrisseaton Isn't the entry about this issue in changelog wrong? It'd belong to RC17

[2019-04-25 11:04] chrisseaton commented on #1618
Right - thanks I'll tidy up the changelog. We have union merging and old PRs that get merged and in combination that can do odd things.

[2019-04-25 11:52] deepj commented on #1451
@eregon this can be closed. The code above works in RC16. No issue is occurred

[2019-04-25 13:15] #1451 closed

[2019-04-26 09:23] eregon commented on #1675
Related issues for compilation errors (fixed with the PR): #1597 #1541
Merged PR for EventMachine: https://github.com/eventmachine/eventmachine/pull/878

#1623 is something we need to address in any case before it works at all.

@deepj

Why do you think so? Did you ask them directly?
I think we should ask them again for a release.

Maybe we could ask them for a release using the latest 1.2.x + my

[2019-04-26 10:28] deepj commented on #1675
@eregon this is a just idea. I've just met with many things depending on EventMachine 1.2 series. E.g. many things around ActionCable depends on this. Not only. Thin server uses it in the background.

No, just intuition. The last release was May 2018. But yes, it would be much better to ask them if they could make a release.

[2019-04-26 11:24] eregon commented on #1675
OK, I will ask for a release again on that PR once we have fixed #1623 or made sure it's something we can solve in TruffleRuby without upstream modifications.

[2019-04-26 16:56] deepj commented on #1675
@eregon I agree with your statement, the patching is not good. I'm just feeling this is a big pain after Nokogiri. If you'd be a chance to release EventMachine 1.2.8 with TruffleRuby support, then it changes the game. I believe, this would be the best scenario to release a special version supporting TruffleRuby.

[2019-04-26 18:49] deepj commented on #1625
@nirvdrum any news in this? I'm just curious what you found out :)

[2019-04-26 19:42] nirvdrum commented on #1625
There were some issues with the JIT trying to compile too much code. One fix landed in Graal, but we probably need another one in TruffleRuby. I got sidetracked from this issue to prepare for and attend RubyKaigi. I'll take a look at it again shortly.

[2019-04-26 19:44] deepj commented on #1625
@nirvdrum thanks! I'm just curious about this :) The fix in Graal is in RC16 or it will occur in the next release?

[2019-04-26 23:40] ioquatix opened #1676 "malloc(): smallbin double linked list corrupted"
*** Error in `ruby /home/travis/.rvm/rubies/truffleruby-1.0.0-rc16/bin/bundle install --jobs=3 --retry=3 --path=vendor/bundle': malloc(): smallbin double linked list corrupted: 0x000000000a00a3e0 ***

Full details:

[log.txt](https://github.com/oracle/truffleruby/files/3123259/log.txt)

[2019-04-27 03:21] felixbuenemann opened #1677 "Wrong Process time constants on macOS"
It looks like the macOS release of truffleruby 1.1.0-rc16 uses time.h / clock_gettime constant values from Linux:

[code]

Compared to ruby-2.6.2:

[code]

Tested in macOS 10.14.4 x86-64 / Xcode 10.2.1 with truffleruby-1.0.0-rc16 installed by rvm 1.29.7.

[2019-04-27 03:44] felixbuenemann commented on #1677
For reference, here's a comparison of the constant values on MRI 2.6.1:

Script:

[code]

Linux 4.4.0 (Ubuntu 16.04.6):

[code]

Darwin 18.5.0 (macOS 10.14.4):

[code]

[2019-04-27 03:59] felixbuenemann commented on #1677
It looks like `CLOCK_MONOTONIC` is returning `CLOCK_UPTIME_RAW` or `_APPROX`:

[code]

[code]

[2019-04-27 08:50] eregon commented on #1676
Thanks for the report, I just saw it this morning as well trying to debug why Bundler fails with OpenSSL errors in TravisCI for `nio4r`.
For example, almost all 10 jobs of https://travis-ci.org/eregon/nio4r/builds/525265563 failed due to this error (each trying 3 times to run Bundler).

[2019-04-27 09:10] eregon commented on #1677
Thank you for the report.

We currently treat `CLOCK_MONOTONIC` and `CLOCK_REALTIME` specially and use Java's `System.nanoTime()` and `System.currentTimeMillis()` for those, instead of `clock_gettime()`:
https://github.com/oracle/truffleruby/blob/04afba28d4ab1bdbfd8d92027f1ccc48b9a50bcb/src/main/ruby/core/process.rb#L170-L178
So maybe Java's `System.nanoTime()` doesn't correspond to CLOCK_MONOTONI

[2019-04-27 09:11] ioquatix commented on #1676
Let me know if I can do anything to help.

[2019-04-27 10:33] eregon commented on #1676
Recompiling the OpenSSL C extension against's TravisCI's libssl seems to solve this problem, as well as #1627 (`nested asn1 error`) and #1632 (segfaults and memory corruption).

Specifically, all 10 builds ran `bundle install --without development` successfully from the first try in
https://travis-ci.org/eregon/nio4r/builds/525277863 :tada:

This probably means slightly different versions of libss

[2019-04-27 14:27] eregon commented on #1676
I did some further testing and found that it reliably fails without recompiling the OpenSSL C extension:
https://travis-ci.org/eregon/test-travisci-truffleruby/builds/525338120
While it reliably works when recompiling it:
https://travis-ci.org/eregon/test-travisci-truffleruby/builds/525338259

Somewhat worryingly, neither the OpenSSL specs nor MRI tests catch the issue, only `bundle install` (e.g.

[2019-04-27 21:30] eregon commented on #1670
FWIW, `sassc` should run now, and all specs except 1 pass for me locally.

[2019-04-28 05:33] deepj commented on #1670
Yes, I know about that. I still think it'd be "fixed".

[2019-04-28 09:50] eregon commented on #1670
Actually this is a special case, `mathn` was removed as a stdlib since Ruby 2.5.
I thought it was the general issues than default gems can also be installed manually, but it's not.
I didn't know you could still install mathn it as a gem.

I'm not sure what's the priority of fixing this. It will depend on what uses it I think.
I guess if it only happens in specs of a deprecated gem (sass), and sinc

[2019-04-28 09:56] eregon commented on #1670
In the case you could share that Rails app or a reproduction (in a different issue), that would be very useful.

It's definitely more exciting than trying to support a monkey-patching library that has been deprecated for many years now (`mathn`). As a current workaround to run other specs, you could try just removing the `require 'mathn'` in `sass`'s specs and in their Gemfile.

[2019-04-28 16:07] rbotafogo opened #1678 "Should not reach here"
The following code in Galaaz get "should not reach here" message:

    require 'galaaz'
    R.library 'tidyverse'
    # read data file
    @financas = R.read_csv2('finance.csv',
                            locale: R.locale(date_names: "br", decimal_mark: ",",
                                             grouping_mark: "."))

    @financas =
      @financas.
        mutate('Valor BRR': :'Valor Nomi

[2019-04-28 19:17] deepj commented on #1661
@eregon Hello, it would be possible take a look at this, please?

[2019-04-28 19:19] deepj commented on #1670
@eregon I see. I'll try something later the next week. Unfortunately, the most apps are under NDA. This concrete app is in field of a film industry.

[2019-04-28 19:21] eregon commented on #1665
I'm trying to debug this in RC16, the first thing I noticed is the same issue as https://github.com/oracle/truffleruby/issues/1653:
[code]

But then once I worked around that (with `$0=%q(test.R)\` as the first line of the eval), I get the expected:
[code]

That's using the latest Galaaz gem release (0.4.8).

[2019-04-28 19:27] eregon commented on #1665
I can reproduce with Galaaz master:
[code]

[code]

[2019-04-28 19:52] eregon commented on #1665
`Kernel#puts` is redefined in https://github.com/rbotafogo/galaaz/blob/a670116b0251a3c55ad4caac437ebed4e6be04fd/lib/R_interface/ruby_extensions.rb#L24-L31, that's a bit confusing and that's the reason we see the unexpected output for `puts caller`.

The actual issue is that https://github.com/rbotafogo/galaaz/blob/a670116b0251a3c55ad4caac437ebed4e6be04fd/lib/R_interface/ruby_extensions.rb#L178-L18

[2019-04-28 20:07] eregon commented on #1665
Other notes:
* `R::Object#method_missing` can use just `super` or `super(symbol, *args, &block)` to trigger a NoMethodError, this will gives better information.
* To find out which file/line called `to_i`, the easiest for now is with:
`--ruby.core-load-path=/path/to/truffleruby-checkout-of-the-same-version/src/main/ruby` and that gives in this case:
[code]
(`truffleruby/src/main/ruby/core/posix.rb

[2019-04-28 20:31] rbotafogo commented on #1665
I redefine Kernel#puts because for some weird reason if I don't do it, then
nothing gets printed.  Can you try running:

    puts R.c(1, 2, 3)

with both puts redefined and not?  You'll see that when puts is redefined
it does print fine, without it nothing gets printed on the output.

I've realized that there is no need in my code to redefine Symbol#[], so
I'm just removing it.... thanks for findi

[2019-04-28 20:33] eregon commented on #1665
Another and probably simpler way is using `Truffle::Debug.print_backtrace` along with `--ruby.backtraces-hide-core-files=false` on the command line:
[code]

[2019-04-28 20:38] rbotafogo commented on #1665
I'm not sure I understand that R::Object#method_missing can just call
super.  This method has a lot of code to call R when the method is missing,
for example, R.c(1, 2, 3) will go through method missing.

Em dom, 28 de abr de 2019 às 17:08, Benoit Daloze <notifications@github.com>
escreveu:

--
Rodrigo Botafogo

[2019-04-28 20:40] eregon commented on #1665
You are right, I can reproduce, that must be a bug. I'll file a bug.

I meant for the `to_ary` case, so `raise NoMethodError if name == "to_ary"` can become `super(symbol, *args, &block) if symbol == :to_ary` which is better for debugging information (the exception knows the method name and the receiver and has a proper message).

[2019-04-28 20:45] eregon opened #1679 "Kernel#puts does not work with R vectors"
From https://github.com/oracle/truffleruby/issues/1665#issuecomment-487412926 by @rbotafogo

I can reproduce it with RC16 and the latest galaaz (a670116b0251a3c55ad4caac437ebed4e6be04fd) and
[code]

With unmodified galaaz containing the [`puts` redefinition](https://github.com/rbotafogo/galaaz/blob/a670116b0251a3c55ad4caac437ebed4e6be04fd/lib/R_interface/ruby_extensions.rb#L24-L31):
[code]
With th

[2019-04-28 20:53] eregon commented on #1665
@rbotafogo  I filed https://github.com/oracle/truffleruby/issues/1679.

[2019-04-28 22:21] deepj commented on #1670
@eregon I can give an access to one application (it's just a torso, any of NDA apps). It's easy demonstrate the issues which ones I'm facing. I can be more specific via DM on Twitter.

[2019-04-29 08:26] felixbuenemann commented on #1677
No, I didn't test this on previous releases. But if you have a specific version I should check I can install it through rvm.

[code]

Btw. looks like the PP module is not auto-required in TruffleRuby, so I had to use `ruby -rpp -e …`.

[2019-04-29 14:46] eregon commented on #1677
@felixbuenemann I'm starting to think this is due to a bug of RVM (for instance, https://github.com/rvm/rvm/issues/4633 seems highly related), and that you are actually running with a much older version of TruffleRuby.
Could you show your `ruby -v` after switching to truffleruby in RVM?

For instance, `ruby -e 'pp 45'` does work with 1.0.0-rc16.

Also, @chrisseaton ran 1.0.0-rc16 with `rbenv` on m

[2019-04-29 17:31] chrisseaton commented on #1678
Thanks for the report. I'll move it to FastR though, as it's their exception. It many eventually be something that Ruby is done wrong, but it should probably start with them.

[2019-04-29 19:31] aardvark179 commented on #1679
I'll need to dig a bit find out exactly which check this fails on in `IOOperations.puts`, we've added a couple more type conversions to match MRI, and we guard against recursion slightly earlier in the logic.

[2019-04-29 20:20] deepj opened #1680 "BigDecimal#dup causes Index 0 out of bounds for length 0 (ArrayIndexOutOfBoundsException)"
It would return frozen instance and not cause the error above. Yes, I know about (https://github.com/ruby/bigdecimal/pull/93 and https://bugs.ruby-lang.org/issues/13984)

The problem lies in this Rails test https://github.com/rails/rails/blob/6-0-stable/activesupport/test/core_ext/object/duplicable_test.rb#L26

[code]

To reproduce:

[code]

Error:

[code]

[2019-04-29 22:14] felixbuenemann commented on #1677
I'll check that later today. I'm not using rvm head atm because the rvm update  seems broken in head and it tries to update rvm on each invocation, but that shouldn't stop me from installing rubies with rvm head.

[2019-04-30 04:21] deepj opened #1681 "GC.stat :total_allocated_objects is not supported"
I'm not sure if TruffleRuby is able to support this or Rails needs to change this in code here

https://github.com/rails/rails/blob/6-0-stable/activesupport/lib/active_support/notifications/instrumenter.rb#L159

But there is a specific case for JRuby where this part returns `0` instead.

This causes the following error in across Rails 6 tests in `ActiveSupport::Notification.instrument`

[code]

[2019-04-30 06:43] deepj opened #1682 "Rails 6 ActionPack tests cause StackOverflowError"
When I run the whole Rails 6 ActionPack tests I got

[code]

Error:
[code]

The whole output is in this zip (it has ~215 MB after unpacking)
[output.txt.zip](https://github.com/oracle/truffleruby/files/3130138/output.txt.zip)

[2019-04-30 08:51] eregon commented on #1677
RVM stable is quite old (Jan 3, 2019) and contains the fairly old TruffleRuby 1.0.0-rc10:
https://github.com/rvm/rvm/blob/stable/config/db

In such a case I would recommend using `ruby-build` or `ruby-install`, they are much more reliable in my experience. It would be good to report that bug to RVM, though.

It's also possible to install manually, that's just downloading, extracting and running `l

[2019-04-30 09:57] deepj commented on #1682
@eregon @chrisseaton can you take a look at the output because the big part comes from TruffleRuby.

[2019-04-30 10:30] aardvark179 commented on #1679
Okay, I've found the source of the behaviour. `IOOperations.puts` will attempt to coerce an argument to an array and print its contents, and `R::Vector` responds to `to_ary` but returns the empty array which results in no output.

Previously `IOOperations.puts` only checked the type of the argument, and did not attempt coercion, but that meant we didn't match MRI's behaviour and had some test fail

[2019-04-30 10:46] aardvark179 commented on #1679
@eregon, the unsupported operation you saw was from `Thread#guarding?` trying to get the object id of a foreign object. That's go to be annoying to fix because foreign objects _can_ respond to `to_ary`, and might produce an array that includes the object itself.

[2019-04-30 11:16] aardvark179 commented on #1681
There's two separate issues here
1. We don't have the correct behaviour for `GC.stat` as we should accept keys
2. `ActiveSupport` should probably make that definition conditional on the key being present in the result of a `GC.stat`, not on the ruby implementation.

[2019-04-30 11:37] eregon commented on #1679
@aardvark179 Maybe we can use the system identity hash code for `foreign.object_id`?

[2019-04-30 11:49] deepj commented on #1681
@aardvark179

Have you idea how to detect it? I could make PR to Rails

[2019-04-30 13:37] rbotafogo commented on #1679
Hi Ducan,

Thanks for the explanation, but I think I need a little bit more help in
defining how to solve this problem.  R::Vector and R::Objects are not
arrays and they should not be coerced to array (I think). If I remove
method to_ary from R::Vector, method 'method_missing' will be called with
'to_ary' as argument and the system assumes that the user is trying to call
R´s to_ary function and wi

[2019-04-30 14:56] eregon commented on #1681
@deepj One possibility is to check with `GC.method(:stat).arity != 0`.
A probably much more reliable way would be to call `GC.stat :total_allocated_objects` and if that raise any exception define the fallback.

I'm thinking we should implement this `GC.stat` call as returning `0` in TruffleRuby for now.

[2019-04-30 16:48] aardvark179 commented on #1681
Or do
[code]
Not perfect, but it will set things up properly no matter the Ruby implementation.

[2019-04-30 17:59] aardvark179 commented on #1682
This is being caused by the exception raising code incorrectly setting the exception's cause to itself if an exception is rethrown. The combination of debug and exception wrappers in the tests means exceptions are being rethrown, and their causes recursively traversed, and ends up with the stack overflow.

[2019-04-30 18:55] felixbuenemann commented on #1677
It looks like you're right about the rvm bug, because `ruby -v` shows `truffleruby 1.0.0-rc10, like ruby 2.4.4, GraalVM CE Native [x86_64-darwin]`, even though the irb prompt says `truffleruby-1.0.0-rc16 :001 >`.

I explicitly installed through `rvm install truffleruby-1.0.0-rc16` which usually works, even if rvm doesn't know about that version yet.

I checked `~/.rvm/user/md5` and it contained th

[2019-04-30 19:35] deepj opened #1683 "BigDecimal('0.0') / BigDecimal('0.0') returns nan instead of NaN in IRB"
### 😹

To reproduce:

Run irb and then

[code]

TruffleRuby 1.0.0 RC16

[code]

MRI 2.6.3

[code]

[2019-04-30 19:42] deepj opened #1684 "Some BigDecimal constants are still missing"
There are many BigDecimal constants missing in TruffleRuby. E.g. `BigDecimal::INFINITY` or `BigDecimal::NAN` See the recent constants available https://ruby-doc.org/stdlib-2.6.3/libdoc/bigdecimal/rdoc/BigDecimal.html

[2019-04-30 19:49] deepj opened #1685 "Infinity#to_d causes ArgumentError (java.lang.NumberFormatException)"
This causes several failing tests in Rails 6 ActiveModel tests https://github.com/rails/rails/blob/6-0-stable/activemodel/test/cases/validations/numericality_validation_test.rb#L27

This would returns `Infinity` instead of the exception.

To reproduce:

[code]

Error:

[code]

[2019-04-30 20:46] aardvark179 commented on #1679
Are you able to catch the exception from fastR and raise a standard ruby exception? The coercion routine will catch that exception and then attempt to call `to_s`.

[2019-05-02 15:36] fniephaus opened #1686 "[interop] to_s not working correctly on foreign objects"
#### Repro
[code]

#### Expected result: `foo`

According to [this](https://github.com/oracle/truffleruby/blob/a0c4b471f291f1f2b7685d0e86e9cd44e7a68b82/doc/contributor/interop.md#string-conversion), *Boxed foreign strings (foreign objects that respond positively to `IS_BOXED` and `UNBOX` to a Java string) unbox on `to_s`, `to_str` and `inspect`.* (The docs seem outdated here, too)

[2019-05-03 08:06] deepj commented on #1671
Here is a good example of usage `RubyVM::AbstractSyntaxTree`

https://github.com/jhawthorn/actionview_precompiler

[2019-05-03 13:04] deepj commented on #1659
The same problem with RC16

[2019-05-04 14:52] rbotafogo commented on #1679
Duncan,

I can actually catch the call to to_ary on method_missing and raise a
NoMethodError.  This seems to have fixed the issue.

Thanks for your help.

Em ter, 30 de abr de 2019 às 17:47, Duncan MacGregor <
notifications@github.com> escreveu:

--
Rodrigo Botafogo

[2019-05-05 14:52] fniephaus opened #1687 "FFI is missing the `clear` method"
[HTMLProofer](https://github.com/gjtorikian/html-proofer) installs fine, but fails with the following error in the `ffi` module:

[code]

[2019-05-06 22:56] nirvdrum commented on #1653
Sorry for the slow update, but this was fixed in 5989bf5a9326a3715475b4c6d358123ae05c0c5a and will be available in the next release.

[2019-05-06 22:56] #1653 closed

[2019-05-06 22:59] nirvdrum commented on #1676
I'm sorry for the slow update. This was addressed in f08dd1ac65f22da9bb976ee8792429bfce6d04c5, which updates the post-install hook to always recompile OpenSSL for the system it's running on. The fix will be available in the next release.

[2019-05-06 22:59] #1676 closed

[2019-05-06 23:00] nirvdrum commented on #1627
I'm sorry for the slow update. This was addressed in f08dd1ac65f22da9bb976ee8792429bfce6d04c5, which updates the post-install hook to always recompile OpenSSL for the system it's running on. The fix will be available in the next release.

If you're still seeing the issue in the next release, please comment here and we can re-open the issue.

[2019-05-06 23:00] #1627 closed

[2019-05-06 23:00] nirvdrum commented on #1632
I'm sorry for the slow update. This was addressed in f08dd1ac65f22da9bb976ee8792429bfce6d04c5, which updates the post-install hook to always recompile OpenSSL for the system it's running on. The fix will be available in the next release.

If you're still seeing the issue in the next release, please comment here and we can re-open the issue.

[2019-05-06 23:00] #1632 closed

[2019-05-06 23:58] nirvdrum commented on #1650
@deepj Sorry for not getting back to you sooner. I was traveling for a conference when you pinged me. It looks like @aardvark179 has taken care of this. We should get the fix into master soon.

[2019-05-08 01:50] nirvdrum commented on #1680
This issue has been fixed in 6d3a36595ceb15f3254583626da60b2e290805ed. Unfortunately, I missed the window to get this fix in for the next release, so you'll have to wait until the release after that. I'll make a note to follow-up with you then.

[2019-05-08 01:50] #1680 closed

[2019-05-08 01:52] nirvdrum commented on #1683
Fixing this should be easy, but is it actually breaking anything?

[2019-05-08 02:02] deepj commented on #1683
Nope, but it's be nice to be fixed

[2019-05-08 23:09] deepj commented on #1631
@nirvdrum ^^^

[2019-05-08 23:10] deepj commented on #1656
@nirvdrum is this an easy fix?

[2019-05-09 00:52] nirvdrum commented on #1684
I could only find 3 that are missing:

* `BigDecimal::NaN`
* `BigDecimal::INFINITY`
* `BigDecimal::VERSION`

Are there others you've found are missing as well? You wrote that many are missing, so I want to make sure I'm not overlooking anything.

[2019-05-09 01:46] nirvdrum commented on #1685
Thanks for the report! I've fixed the issue in 93a4054853268324ef46da2de5e16934faaf877c. Unfortunately I didn't pick up this issue until the next release was already in code freeze, so you won't see it until the release after that one.

[2019-05-09 01:46] #1685 closed

[2019-05-09 01:48] nirvdrum commented on #1683
This was easy enough to fix. The commit with the fix is 0299e6ae3f9b76f793b245042dbd0cd663ac945f along with new specs to ensure it doesn't regress. Unfortunately I didn't pick up this issue until the next release was already in code freeze, so you won't see it until the release after that one.

[2019-05-09 01:48] #1683 closed

[2019-05-09 04:06] deepj commented on #1684
@nirvdrum sorry, `some` would be more proper word to be used here :)

[2019-05-09 17:54] deepj opened #1688 "Proc#>> and << are not supported"
This is a new feature in Ruby 2.6. The proc's function composition is used in `dry-monads` spec when 2.6 is available. See https://github.com/dry-rb/dry-monads/blob/6ca973c87c65e1526bfd4b671a8229319ce00bb1/spec/unit/maybe_spec.rb#L53

This causes some troubles to run some specs in TruffleRuby "supporting Ruby 2.6"

[2019-05-10 00:12] nirvdrum commented on #1684
@deepj I've added the missing constants and added specs to ensure that they're both defined and have the proper value. You can find the fix in fdea7b265b1a4fc42258a1c9ba56f798c92ba160. This will be part of the 20-beta1 release.

[2019-05-10 00:12] #1684 closed

[2019-05-10 02:16] deepj commented on #1657
@aardvark179 any progress in this? It might fix some failing spec `dry-monads`

[2019-05-10 10:14] aardvark179 commented on #1657
I've got a PR internally to fix this, and we're starting to clear the backlog now the release is out.

[2019-05-10 13:24] aardvark179 commented on #1688
Yes, spotted that one. :smile:

There's a couple of other small issues that need fixing as well.

[2019-05-11 03:51] deepj commented on #1688
@aardvark179 yeah, I know about them. I don't report everything :) This issue is reported after ~2 months what I know about it.

[2019-05-12 20:34] fniephaus opened #1689 "JS' Object.keys() throws "wrong number of arguments""
Repro:
[code]

[2019-05-13 16:24] aardvark179 commented on #1682
The fix for exception re-raising has now been merged into master

[2019-05-13 16:24] #1682 closed

[2019-05-13 16:41] presidentbeef commented on #1544
Hi,

Sorry to continue poking at this, but...

[code]

[code]

Please let me know if you'd like this in a separate issue. Thanks!

[2019-05-13 16:42] aardvark179 commented on #1662
The fix for `rb_thread_call_without_gvl` is now merged with master. I no longer see the safepoint manager issue. But I think there are other problems with running the tests.

[2019-05-13 19:11] chrisseaton commented on #1544
For information, the reason it's so complicated is that we try to avoid copying strings. The regular expression implementation we use (JONI) isn't set up for our persistent data structures and we're having a bit of trouble matching the two up.

[2019-05-14 01:34] chrisseaton commented on #1689
The headline answer is that `Truffle::Interop` is an unsupported internal API and you should not be using it.

https://github.com/oracle/truffleruby/blob/vm-19.0.0/doc/user/truffleruby-additions.md#unsupported-additional-functionality

The more complete answer is that it's got a badly-named method, which breaks our internal interop system. We should probably rename that method, and we should proba

[2019-05-14 15:40] felixbuenemann commented on #1677
I've been busy with other stuff, so I haven't yet been able to prepare the PR with the RVM bugfix mentioned, but the problem described here was caused by an outdated truffle ruby version.

[2019-05-14 15:40] #1677 closed

[2019-05-14 16:31] fniephaus commented on #1689
Thanks for the info, @chrisseaton. We are currently using `Truffle::Interop` only to work around #1686 and I was surprised to see an `ArgumentError`, hence the bug report.

[2019-05-15 12:33] deepj commented on #1606
@aardvark179 Hello, is it possible to pass this to the recent following release, please? This is the last "missing feature" to pass all Sequel's specs.

[2019-05-15 15:36] nirvdrum commented on #1687
A simpler example that doesn't require using `html-proofer`:

[code]

[2019-05-15 15:41] fniephaus commented on #1687
Thanks for debugging, @nirvdrum!

[2019-05-15 16:38] fniephaus opened #1690 "[interop] Cannot access Python attribute from Ruby"
## Repro
[code]

After looking at the bottom stack frames, I'm assuming this could be an incompatibility between the old and the new interop, but it might as well just be a general interop issue in TruffleRuby.

[2019-05-15 16:50] fniephaus opened #1691 "[interop] Cannot print Python objects in polyglot shell from Ruby"
## Repro

[code]

Maybe this is related to https://github.com/oracle/truffleruby/issues/1686?

/cc @janehmueller

[2019-05-15 16:52] eregon commented on #1690
A small guess: this is Ruby so `Polyglot.import('d').maxlen` calls a method `maxlen` (with no arguments). `Polyglot.import('d')[:maxlen]` is probably what you want. I tried, and that works.

[2019-05-15 16:54] fniephaus commented on #1690
Oh right, so maybe there's only an issue in GraalPython, which should indicate there's no such method instead of failing with an exception.

[2019-05-15 20:48] eregon commented on #1677
I tried using a slightly older RVM and installing the latest release (19.0.0), and that works for me in Docker. So I think the fix for https://github.com/rvm/rvm/issues/4633 fixed the issue you had with the wrong version.

For the record, here is the Dockerfile I used (run in the root of the RVM repo at commit `06914eaf`):
[code]

@felixbuenemann Could you file an issue on the RVM tracker with the

[2019-05-15 23:22] felixbuenemann commented on #1677
The bug I‘m talking about can only happen on macOS and only outside Travis CI.

I habe a bugfix locally, I just haven't come around to preparing the PR yet.

[2019-05-16 08:35] mhenrixon commented on #1417
Probably beating a dead horse and sorry if I am spamming but @bumfo's solution worked for me too.

[2019-05-16 09:30] eregon commented on #1417
Installing the system headers is the current [documented](https://github.com/oracle/truffleruby/blob/2dbf2812557b14a103d2c41f0045e30590faae7d/doc/user/installing-llvm.md#development-tools-and-system-headers) workaround on macOS Mojave.

[2019-05-16 09:43] mhenrixon commented on #1417
I didn't see that line obviously... sorry about that @eregon

Truffleruby is working fine though RSpec is insanely slow but that was expected. Just want to be able to provide my gem on more than MRI and jruby and so far it is working fantastically well.

[2019-05-16 10:05] chumer commented on #1690
UnsupportedMessageException should never be rethrown, but always translated into a language specific error. In this case "method maxlen not found". So the problem is in Ruby here.

[2019-05-16 10:08] eregon commented on #1690
Indeed, this internal error message is suboptimal, I'll fix it.
In this case, I guess we should throw a NoMethodError since there is no `maxlen` method (there is a member `maxlen` but it's not invocable).

[2019-05-16 10:08] chrisseaton commented on #1690
I think we are translating to a language-specific error aren't we? A Ruby `RuntimeError`, which is thrown as a `TruffleException` subclass, Ruby's `RaiseException`. The message just includes the original Java class name, which could be improved.

[2019-05-16 10:22] eregon commented on #1690
The most obvious fix gives:
[code]
Is that good enough or do we want something that look exactly like a Ruby NoMethodError for the message too, but then doesn't indicate what the receiving language threw?

[2019-05-16 11:16] chumer commented on #1690
I'd make the Ruby no method error be the most prominent thing. If the interop error provides a message in addition, then you can put that in braces.

[2019-05-16 11:17] chumer commented on #1690
It should immediatly look familiar to Ruby users .

[2019-05-16 12:01] eregon commented on #1690
It is, this is standard Ruby error formatting.
Here is the error message in a Ruby-only context:
[code]

[2019-05-16 16:36] fniephaus commented on #1690
Not sure how consistent the error format is in Ruby, but maybe the error should look more like the following?

[code]

Nonetheless, the solution you mentioned in https://github.com/oracle/truffleruby/issues/1690#issuecomment-493010598 would also be fine.

[2019-05-18 14:42] Mogztter opened #1692 "Ripper.new(code) - `initialize': wrong number of arguments (given 1, expected 0) (ArgumentError)"
Maybe it's related to https://github.com/oracle/truffleruby/issues/1585 but the following code throws an exception in TruffleRuby 19:

[code]

[code]

[code]

Ripper is used in [Temple](https://github.com/judofyr/temple) which is used in [Haml](https://github.com/haml/haml) which is used in [Asciidoctor](https://github.com/asciidoctor/asciidoctor) 😉

https://github.com/judofyr/temple/blob/7987ab67

[2019-05-18 14:48] chrisseaton commented on #1692
Yes unfortunately ripper is currently unsupported.

https://github.com/oracle/truffleruby/blob/vm-19.0.0/doc/user/compatibility.md#standard-libraries

[2019-05-18 14:58] Mogztter commented on #1692
Thanks for the blazing fast response.

Would you be willing to add a no-op constructor and a no-op method `parse` in https://github.com/oracle/truffleruby/blob/master/lib/truffle/ripper.rb ? (similar to what's done with `Ripper::Filter`)

[2019-05-18 15:00] chrisseaton commented on #1692
Yes we can more no-ops. Until we properly support ripper we aim to just work as if you were passing an empty source file.

[2019-05-18 16:29] Mogztter opened #1693 "The regular expression in tool/jt.rb does not match the new jvmci version format"
The regular expression is `/8u(\d+)-(jvmci-0.\d+)/` but the latest version of jvmci is `8u212-jvmci-20-b01` (ie. not prefixed by a "0.").

As a consequence the following command is failing:

[code]

And also:

[code]

[2019-05-18 18:32] eregon commented on #1690
I merged my proposed fix from https://github.com/oracle/truffleruby/issues/1690#issuecomment-493010598 in 33c2fe41d432d5ee687ec76f4b1a2844f4bbf7cd, it will be in the next release.

We can certainly improve interop exceptions further, but I went for a straightforward fix here as we are doing a large interop refactoring currently.

@fniephaus  Thank you for the report!

[2019-05-18 18:32] #1690 closed

[2019-05-18 23:21] fniephaus commented on #1690
Great...that's perfect, thanks! Looking forward to the refactoring :)

[2019-05-19 21:31] eregon commented on #1484
@deepj I'll take care of this, I forgot about it.
Please mention @chrisseaton for priority issues.

[2019-05-20 04:40] deepj commented on #1484
@chrisseaton Please, is this possible to make a priority, please?

[2019-05-20 10:42] chrisseaton commented on #1484
Will do.

[2019-05-20 13:16] eregon commented on #1484
@MaxLap FWIW, a simpler and better workaround than https://github.com/deep-cover/deep-cover/commit/f3da81b384dd503c4747af24eaac3d4b38bddf47 (e.g., that doesn't work if the matcher matches an empty String) is:
[code]

The bug here is due to `to_enum` having a few blocks of indirection, and so when we set `$~` we end up setting it on an internal block of Enumerator and not the user-supplied block. I

[2019-05-20 18:28] aardvark179 commented on #1693
The fix for this has now been merged.

[2019-05-20 18:28] #1693 closed

[2019-05-21 11:43] eregon commented on #1687
I implemented the FFI::Pointer#clear method in 2216955301616fb2870eb7a479564376453ad597, so the example from @nirvdrum now works.
This will be in the next release.
@fniephaus  Thank you for the report. Please tell us if there are other issues with `html-proofer`.

[2019-05-21 11:43] #1687 closed

[2019-05-21 13:33] fniephaus commented on #1687
Sure, will do! Thanks for the fix :)

[2019-05-21 16:22] eregon commented on #1601
I merged a fix for this in aa6623d0c9aeb74f8465c414e5bd78d6501905bd, which was in the 19.0 release.
@deepj Thank you for the report.

[2019-05-22 08:50] aardvark179 commented on #1608
The fix for this has now been merged.

[2019-05-22 08:50] #1608 closed

[2019-05-22 08:51] aardvark179 commented on #1650
The fix for this has now been merged.

[2019-05-22 08:51] #1650 closed

[2019-05-22 08:52] aardvark179 commented on #1657
The fix for this has now been merged.

[2019-05-22 08:52] #1657 closed

[2019-05-23 10:06] eregon commented on #1665
I merged a fix to use `String#[]` instead of `Symbol#[]` in `Truffle::POSIX` in 70c7144.
It will be in the next release.
@rbotafogo Thank you for the report!

[2019-05-23 10:06] #1665 closed

[2019-05-23 15:27] fniephaus opened #1695 "Polyglot shell does not seem to support local variables"
Tested with GraalVM CE 19.0.0 on macOS:

# irb
[code]

# Polyglot Shell
[code]

**Expected behavior:** identical

[2019-05-23 15:33] eregon commented on #1695
We were discussing this issue with the team not long ago.
I agree it should work for the polyglot shell.

However, it's unclear to me whether different `Context#eval` should share top-level local variables, particularly if using `File` sources like
[code]

Do you have other use cases for sharing local variables with `Context#eval` except REPLs?

[2019-05-23 15:36] fniephaus commented on #1695
@eregon thanks for the info. I'd also be interested in support for different scoping mechanisms in the polyglot API. In this case, users expect the identical behavior to `irb` I'd say. In terms of other use cases, I can only think of something like Jupyter Notebooks (which would still be an important use case to support I think).

[2019-05-23 17:18] eregon commented on #1695
For Jupyter Notebooks (and also e.g., Galaaz), it's always possible to use language-specific APIs like `Kernel#eval(code, binding)` and pass `binding` around as desired.

For the case of the polyglot shell, I think one way to detect if we want to share local variables would be to use `Source#isInteractive()`. Then other use cases like Jupyter Notebooks could set that too to be language-agnostic.

[2019-05-23 17:47] fniephaus commented on #1695
Sounds reasonable. Nonetheless, I'd be curious to know what @chumer thinks about this.

[2019-05-23 18:12] ylluminate commented on #1424
https://github.com/ankane/eps

[2019-05-23 18:16] eregon commented on #1601
Reopening, this needs a second fix.

[2019-05-24 00:31] nirvdrum commented on #1656
@deepj Sorry for just getting to this. You pinged me while I was traveling and I just missed it. I'm working on a fix now. It's pretty straightforward. The problem is we're currently hashing `BigDecimal` objects as if they're arbitrary object references. We need to treat them like value types.

[2019-05-24 08:38] fniephaus commented on #1695
In a polyglot notebook implementation, we might want to implement the notebook kernel e.g. with the embedder API or based on an existing NodeJS server. Should the notebook kernel include this language specific eval/scoping information for all languages?

[2019-05-26 21:17] Mogztter opened #1696 "OutOfMemoryError when running the Asciidoctor tests suite against TruffleRuby 19.0.0"
I'm trying to run the Asciidoctor tests suite against TruffleRuby 19.0.0. Here's the pull request: https://github.com/asciidoctor/asciidoctor/pull/3305/files

On Travis, I get an `java.lang.OutOfMemoryError: Could not allocate an aligned heap chunk`: https://travis-ci.org/asciidoctor/asciidoctor/jobs/534193527
Since the build didn't complete after 50 minutes, the stack trace is probably truncated:

[2019-05-27 09:59] chumer commented on #1695
We have discussed this internally and we came to the conclusion that is probably best that Context#eval shares top-level locals by default. We have plans to add a scoped eval capability in the Context API.

[2019-05-27 10:05] eregon commented on #1696
I got this recently too while trying to run RubyGems tests on TruffleRuby in TravisCI.
A workaround is to set the maximum heap size manually with e.g., `--vm.Xmx3g`.
This can be done globally with:
[code]

This error message (`Could not allocate an aligned heap chunk`) is produced by Native Image, maybe we can do something better there to avoid this situation when running in TravisCI.

[2019-05-27 11:47] Mogztter commented on #1696
I can confirm that using `TRUFFLERUBYOPT="--vm.Xmx3g"` solved this issue.
If you think that the memory consumption is "normal" then feel free to close this issue.

[2019-05-27 11:51] eregon commented on #1696
I'd say it's not normal that it runs with a smaller heap but not the default (bigger, 80% of physical memory) heap. I'll investigate further.

[2019-05-27 14:38] eregon commented on #1601
This should be solved for good now with 22dfb295ee78d3f6de24253a835212dd21bb7d5b, it will be in the next release.

[2019-05-27 14:38] #1601 closed

[2019-05-27 18:44] felixbuenemann commented on #1677
For reference the endless loop bugfix is rvm/rvm#4703.

[2019-05-27 19:38] arbox commented on #1424
@ylluminate
you are welcome to add Eps (and other resources) to the Ruby ML list: https://github.com/arbox/machine-learning-with-ruby

[2019-05-28 14:18] nirvdrum commented on #1656
This issue has been fixed as of 3b887a14ccbaad4e38f95a012c03da4b0b1843d8. We didn't customize the `hash` method for `BigDecimal`, so it was falling back to the default, which just tries to assign an identifier to each object with good hash distribution. The fix should appear in our next release.

[2019-05-28 14:18] #1656 closed

[2019-05-30 03:37] Xenofex commented on #1605
Similar problem here. `VALUE` is now a `void *` in TruffleRuby, while in MRI, it is a `uintptr_t`. As a result of which the `switch` statement is broken here:

https://github.com/k0kubun/hamlit/blob/94b14839cd42e8b70715ba7c0caf18c2c47ec67a/ext/hamlit/hamlit.c#L287

[code]

[2019-05-30 13:20] chrisseaton commented on #1605
Yes, this is an incompatibility we have, documented here.

https://github.com/oracle/truffleruby/blob/f5bde7ebe118380413d1711acb1f205880eeea64/doc/user/compatibility.md#value-is-a-pointer

The reason for this is that we don't want to convert managed objects to have handles, which we have to do in order to produce a real numerical value (our `void*` values don't have a numerical value like a native

[2019-05-31 09:36] deepj commented on #1605
@chrisseaton So, there is some workaround or any solution how the maintainers make their gems requiring this to be compatible with TruffleRuby?

[2019-05-31 09:37] chrisseaton commented on #1605
Gem maintainers can switch to using `if` statements if they want to, but we're not asking anyone to do that yet and we're still thinking about a better solution. Theoretical options include a custom LLVM front-end to rewrite them automatically, for example.

[2019-05-31 09:52] Xenofex commented on #1605
That would be awesome. Or just some friendlier error message with a link to what to do and why.

[2019-06-06 00:48] nirvdrum commented on #1610
As far as I can tell, we're missing `Enumerable#filter` and `Enumerator#filter`. Neither `Enumerable` nor `Enumerator` have a `filter!` method, although `Array` and `Hash` do.

[2019-06-06 16:42] nirvdrum commented on #1610
The missing aliases have been implemented in 59a79086eec7ddbcab3b1f100c8e41f4b18c8d70. Unfortunately, I missed the code freeze for the next release (20.0.0-beta1) so this fix will become available in the release after that (20.0.0-beta2).

[2019-06-06 16:42] #1610 closed

[2019-06-06 18:35] Confusion commented on #1618
Note to those that may be looking for 1.0.0-rc17, like I was: this has ended up in 19.0.0

[2019-06-06 19:08] Confusion opened #1697 "Chrome inspector fails due to truffleruby-19.0.0/bin/bundle"
I followed the instructions in [tools.md](https://github.com/oracle/truffleruby/blob/master/doc/user/tools.md) to try and debug an issue, but after adding the breakpoint and pressing 'Resume script execution', the truffleruby process reports
[code]

That `bundle` file is as installed by installing truffleruby
Line 5 contains
[code]
and is part of the 'shell' part of the file.

[2019-06-06 20:26] Confusion opened #1698 "Output for keys not present in Hash constructed using to_h is size of Hash"
TruffleRuby 19.0.0, JDK 11.0.3

The following code shows that the output for keys not present in the Hash is the size of the Hash.
[code]

[2019-06-06 20:27] Confusion opened #1699 "StackOverFlow error when naming a top level function 'hash'"
TruffleRuby 19.0.0, JDK 11.0.3

The following code fails with a StackOverflowError
[code]

Output:
[code]

[2019-06-06 20:28] Confusion opened #1700 "Infinite loop when naming a top level function 'hash' and using a Symbol"
TruffleRuby 19.0.0, JDK 11.0.3

Probably related to #1699. Issue becomes a regular infinite loop if you replace the symbol by e.g. an integer.

The following code results in an infinite loop, without detecting a StackOverflowError.
[code]

Output, after ctrl-C:
[code]

[2019-06-06 22:55] chrisseaton commented on #1618
RC 17 was the promoted RC that became 19, and the change log mentions this issue by number.

https://github.com/oracle/truffleruby/blob/master/CHANGELOG.md#1900-may-2019

This issue is also marked as having the 19 milestone. I guess GH renames it on the issue info box, but not in the text.

[2019-06-06 23:30] chrisseaton commented on #1698
Yes, what a strange bug!

It looks like someone mistook the initialiser of `Hash` as setting a capacity, when it's actually the default value.

https://github.com/oracle/truffleruby/blob/59a79086eec7ddbcab3b1f100c8e41f4b18c8d70/src/main/ruby/truffleruby/core/array.rb#L1185

And the behaviour you're testing isn't covered by the Ruby specs which is why we haven't noticed before.

https://github.com/

[2019-06-06 23:40] chrisseaton commented on #1699
When you define `#hash` at the top level you are redefining it for `Object`. That's going to break a lot of things in standard Ruby as well. For example.

[code]

[code]

It just breaks more quickly for TruffleRuby, because we implement the core library in Ruby itself. You will get exactly the same error for your code on Rubinius, and running anything more would also break MRI and JRuby.

I'm not

[2019-06-06 23:40] chrisseaton commented on #1700
Yes the same as #1699. I'll close as a duplicate. Thanks.

[2019-06-06 23:40] #1700 closed

[2019-06-07 00:05] chrisseaton commented on #1697
Sorry I'm not currently able to reproduce this.

I wonder if it's something to do with how RVM interacts with these binaries. I guess it does work without the `--inspect`?

[2019-06-07 06:13] Confusion commented on #1699
I agree. And I should have checked the same script with MRI.

I'd never realized/discovered the top level redefined methods on Object. Pry, irb etc. define their own top-level, so you don't often run into it.

[2019-06-07 06:13] #1699 closed

[2019-06-07 06:19] Confusion commented on #1697
Ah, good point: no, it doesn't.
[code]

Normally I start things using `bundle exec puma`, where `bundle` is resolved to
[code]
and that does work correctly. But because I now needed to pass the `--inspect`, I switched to the `-S` form.

So it seems rvm does nothing special here and it's truffleruby's `-S` that does something different in this case.

[2019-06-07 06:24] Confusion commented on #1698
Seems like a good case for a roundtrip test: `hash.to_a.to_h` should equal the original `hash` in all respects, including the default.

[2019-06-07 09:46] eregon commented on #1697
@Confusion Could you post the entire contents of `~/.rvm/rubies/truffleruby-19.0.0/bin/bundle`? I think RVM does modify binaries unfortunately. `truffleruby -S bundle --version` works with `chruby`.

[2019-06-07 09:51] eregon commented on #1698
Actually `hash.to_a.to_h` does not preserve the default on MRI (the Array doesn't keep that information):
[code]
But indeed we should test the `default` and `default_proc` of `Array#to_h` is always `nil`.

[2019-06-07 09:53] Confusion commented on #1697
It looks like this:
[code]

[2019-06-07 10:09] eregon commented on #1697
@Confusion Thanks. It looks related to https://github.com/rvm/rvm/issues/4408.

The problem is the first line,
`#!/usr/bin/env truffleruby_executable_hooks` actually looks like a Ruby shebang line, because it contains `ruby`. And so the Ruby interpreter thinks the following lines are Ruby, while they are actually Bash.

MRI would fail the same way:
[code]
Could you check if `ruby -v -S mybundle --

[2019-06-07 10:24] #1692 closed

[2019-06-07 11:05] chrisseaton commented on #1697
By the way when you do get it working in the inspector, it'll set a breakpoint on some internal code first. I'm fixing that.

[2019-06-07 11:42] Confusion commented on #1697
It doesn't work and gives the same result you also observe.

[2019-06-07 12:22] eregon commented on #1697
OK, then I think it's a bug of https://github.com/rvm/executable-hooks which breaks `-S`.
One solution is not installing the RVM executable-hooks with TruffleRuby, so the original launcher keep working as with other Ruby managers, which would be a change in RVM.
It's also probably possible to fix RVM's `executable-hooks` to make this work, or TruffleRuby's launchers as mentioned in rvm/rvm#4408.
I

[2019-06-07 15:45] chrisseaton commented on #1695
Fix for this on the way.

[2019-06-07 22:10] ioquatix commented on #1646
Congratulations everyone, https://travis-ci.org/socketry/async/builds/542974447 is green.

[2019-06-07 22:40] ioquatix commented on #1646
I'm going to close this issue. The external test suite probably still has failures but we can address those individually.

[2019-06-07 22:40] #1646 closed

[2019-06-07 22:42] ioquatix commented on #1460
@eregon has this been fixed yet?

[2019-06-07 22:44] eregon commented on #1460
I'm not sure, I'll take a look.

[2019-06-08 00:27] ioquatix commented on #1647
Any update on this?

[2019-06-08 00:29] ioquatix opened #1701 "RuntimeError: rb_get_kwargs with optional not implemented"
https://travis-ci.org/socketry/async-io/jobs/543006282#L776

[code]

Maybe relates to #1647

[2019-06-08 10:43] eregon commented on #1701
I think that's already fixed on master and [will be in 20.0.0-beta1](https://github.com/oracle/truffleruby/blob/master/CHANGELOG.md#2000-beta-1).

[2019-06-08 10:43] #1701 closed

[2019-06-08 10:43] eregon commented on #1701
@ioquatix Thank you for the reporting the issue!

[2019-06-08 11:41] ioquatix commented on #1701
No problem, sorry for bothering you with something that was already fixed!

[2019-06-08 13:26] eregon opened #1702 "Failing async-io specs"
From https://github.com/oracle/truffleruby/issues/1646
cc @ioquatix

First issue is `rb_enc_sprintf` not yet implemented, I have a trivial fix for that.
With that fixed, specs no longer hang and I get
[code]

Some of these issues were already mentioned by @aardvark179 in https://github.com/oracle/truffleruby/issues/1646#issuecomment-483231395

[2019-06-08 13:28] ioquatix commented on #1702
Nice, I look forward to trying this out.

[2019-06-09 08:50] chrisseaton commented on #1698
This is fixed in 2f8100c1f62caacc0e4f616ff9d05e98649c895b.

[2019-06-09 08:50] #1698 closed

[2019-06-09 10:16] eregon commented on #1702
`rb_enc_sprintf` merged in a986766980f6ce8860de337953196854ea6a8436.

[2019-06-09 20:07] liamwhite opened #1704 "Zlib::Deflate fails to load with certain options"
Environment (default vagrant stretch box):
[code]
Reproduction code:
[code]
[code]
I'm not sure why it is being reported that there is insufficient memory. 4g should be plenty, no?

[This code is used in Sprockets.](https://github.com/rails/sprockets/blob/master/lib/sprockets/cache/file_store.rb#L99)

[2019-06-10 09:13] phortx opened #1705 "Truffle is slower then MRI"
Hi folks,

I have a simple ruby written CLI tool, for which performance is really important. So I wanted to give truffleruby a try today.

Before that I added a simple benchmark to be able to compare the performance. But from all I've read about truffleruby and all the benchmark charts I've seen, I expected truffleruby to be much faster.

With MRI 2.6.3 and `--jit` flag, my cli tool needs **1.150s

[2019-06-10 13:48] eregon commented on #1691
Relates to #1679.

[2019-06-10 13:50] eregon commented on #1664
I believe I fixed this in the 19.0.0 release, by always recompiling the OpenSSL C extension. Thank you for the report.

[2019-06-10 13:50] #1664 closed

[2019-06-10 17:11] chrisseaton commented on #1695
Fixed in a84b16fc92020d8344e5b47c1841b2f1f8c47f52.

[2019-06-10 17:11] #1695 closed

[2019-06-11 08:59] chrisseaton commented on #1705
Hi thanks for trying out TruffleRuby - we appreciate it.

TruffleRuby is designed to be primarily faster for longer-running workloads, such as servers. The technology we use to optimise Ruby - just-in-time compilation - needs time to profile your application and then compile it at runtime. This *warm up period* is needed to be effective. This isn't unique to TruffleRuby - the same thing applies to

[2019-06-11 09:11] phortx commented on #1705
Thank you very much for the comprehensive answer! :)

I understand that truffle targets longer running processes. However I love ruby but I'm also bothered by rubys performance and thus I'm searching for alternatives.

I'll send you a mail with the repo of the project.

[2019-06-11 12:35] eregon commented on #1705
FWIW, there are cases where we're fast on short-running programs, see https://eregon.me/blog/2018/02/19/truffleruby-native-fast-short-scripts.html
Those programs load very little code though, I think part of the bottleneck currently is loading code, as you noticed (`requires`). I think we can improve quite a bit there, but it's much easier to optimize with a given workload.

[2019-06-11 13:14] eregon commented on #1702
I removed extra public methods on IO in 1a6aa8d9c89cbde180d13460d86519967230d666.
Still needs some Socket fixes to handle `exception: false`, going through CI.

[2019-06-11 20:18] eregon commented on #1702
And Socket APIs now support `exception: false` in fa9863de004da4b982ec9c0ce58924e6ee08a111.
That's all that's required to pass all `async-io`'s specs when running on my machine.
When 20.0.0-beta2 is released, we can remove TruffleRuby from allowed failures in TravisCI.
@ioquatix Thanks for the help getting them passing.

[2019-06-11 20:18] #1702 closed

[2019-06-11 21:58] ioquatix commented on #1702
Awesome!

[2019-06-11 21:58] ioquatix commented on #1702
When can you release `20.0.0-beta2`?

[2019-06-12 09:37] eregon commented on #1702
@ioquatix Not sure yet, I'll ping you here when it's released.

[2019-06-12 18:39] eregon commented on #1460
We already have a failing spec for this, great:
`BasicSocket#setsockopt sets the socket option Socket::SO_OOBINLINE`
https://github.com/oracle/truffleruby/blob/5defdc8fe1ec25ed5ba0893c8b5e611df3ec7b41/spec/ruby/library/socket/basicsocket/setsockopt_spec.rb#L56

[2019-06-12 19:39] aardvark179 commented on #1647
Apologies for the slow response. I believe we have fixed this, but it took a while for the change to be integrated due to the release going out. I’ll check this bug is resolved when I’m back in the office later this week.

[2019-06-13 14:35] #1460 closed

[2019-06-13 16:15] eregon commented on #1456
@ioquatix  I fixed this in 6f0e4136eb6e4cc8282bc3de1e07f272c06ad10f, thank you for the bug report.

Note that enabling `ObjectSpace.trace_object_allocations` might be very expensive both performance and memory-wise, as [documented](https://docs.ruby-lang.org/en/2.6.0/ObjectSpace.html#method-c-trace_object_allocations), so I would be careful about enabling it for running specs by default.

[2019-06-13 16:15] #1456 closed

[2019-06-19 11:46] aardvark179 commented on #1647
I've tested socketry and although there are still a couple of test failures this particular bug has been resolved.

[2019-06-19 11:46] #1647 closed

[2019-06-21 10:53] ivoanjo opened #1707 "TruffleRuby slower than MRI in toy benchmark"
Hello there!

I was just playing with a toy benchmark written by a friend, and was surprised that TruffleRuby was noticeably slower than MRI or JRuby. It's definitely not a priority, but I thought I'd report it anyway, maybe I'll learn something new.

Here's my quick results from my Core i7-8550U laptop:

* `ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-linux]`: 0m40.304s
* `jruby 9.2.7.0 (2.5

[2019-06-21 16:27] deepj commented on #1672
This uses Sorbet when `srb init` is run.

[2019-06-21 16:29] chrisseaton commented on #1672
We should map `c_call` to calls to our builtins and primitives, even though they're written in Java. We probably can't tractably map to what would be a `c_call` in MRI. I don't know if that's an issue.

[2019-06-21 16:40] eregon commented on #1672
I'm not sure if any tool differentiate between `:c_call` and `:call` events, I would guess not.
So we could just do nothing on `:c_call` but trigger `:call` on any method call.
`:call` is not yet implemented, though.

[2019-06-24 10:37] fniephaus opened #1708 "TruffleRuby linker doesn't support `-I` option without space"
TruffleRuby linker doesn't support `-I` (capital i) option without space

### Steps to Reproduce

1. Install for example tree-sitter gem (`gem install tree-sitter`)
  * In order to do so, `TREE_SITTER_PARSER_DIR` has to be set to a directory of parser files, [for example these files](https://github.com/tree-sitter/ruby-tree-sitter/tree/master/test/tree-sitter/fixtures/parsers/python)

### Expected

[2019-06-25 08:42] fniephaus opened #1709 "ArgumentErrors when interacting with other languages in `irb`"
[code]

For some reason, interacting with `regex` seems to work fine, but I'm not sure that's actually allowed (isn't `regex` an internal language?).

*Tested with GraalVM CE 19.0.0 and TruffleRuby 2.6.2 on macOS.*

[2019-06-25 10:17] deepj commented on #1673
@eregon hello, is it possible to take a look at this? This one caused a blocker in one of my small apps

[2019-06-25 12:05] chrisseaton commented on #1673
He's away - I'll look at it.

[2019-06-27 12:09] eregon commented on #1709
Thank you for the report, these are 2 separate issues:

Seems an exception specific to using GraalPython. We should investigate, but I'd guess it's something to fix on the Python side.

Is specific to languages which disallow multithreading, and JS is one of them. This happens when there is more than one Ruby thread, which is the case in IRB. The second thread here is the finalizer thread, we migh

[2019-06-29 13:59] chrisseaton commented on #1695
Just confirmed this work as expected in the release that's in a couple of days.

[2019-07-02 20:06] deepj commented on #1688
@eregon @chrisseaton Hello, can you make this priority since this uses a lot of specs in dry-types/dry-schemas, please?

[2019-07-02 20:12] deepj commented on #1663
This is one of the last that all `dry-types` could pass.

[2019-07-02 20:12] chrisseaton commented on #1688
Fix on the way.

[2019-07-02 22:05] deepj opened #1710 "Requiring Hanami::Utils::BasicObject causes TypeError (bind argument must be a subclass of Object)"
To reproduce

[code]

Error:

[code]

It comes from https://github.com/hanami/utils/blob/master/lib/hanami/utils/basic_object.rb#L45

[2019-07-03 01:39] deepj opened #1711 "BigDecimal#to_s('5F') returns slightly something diffferent"
MRI 2.6.3:

[code]

TruffleRuby 19.1.0

[code]

[2019-07-03 02:31] deepj commented on #1668
Still reproducible in 19.1.0

[2019-07-03 02:32] deepj commented on #1660
@eregon any news about this? :)

[2019-07-03 02:50] deepj commented on #1659
@chrisseaton @aardvark179 it seems to be this is gone away in 19.1.0

[2019-07-03 12:50] eregon opened #1712 "Haml >= 5.0 doesn't work on TruffleRuby, due to using Ripper"
[code]

[code]

Related to #1585 and #1692.

Either we should implement enough of Ripper for this to work, or we should change Haml to better detect if Ripper is available, assuming Ripper is just an optimization here.

https://github.com/haml/haml/blob/master/CHANGELOG.md#500

Found by @Mogztter in https://github.com/asciidoctor/asciidoctor/pull/3305

[2019-07-03 12:52] eregon commented on #1712
File using Ripper in Haml:
https://github.com/haml/haml/blob/master/lib/haml/attribute_parser.rb

[2019-07-03 12:54] eregon commented on #1712
It notably checks using https://github.com/judofyr/temple/blob/408ae218fcbcdf52b2895c9f0fb9015078984491/lib/temple/static_analyzer.rb#L33

So as usual, either we don't define `Ripper` at all and let it `LoadError`, or we probably have to implement most of it.

[2019-07-03 12:54] Mogztter commented on #1712
Thanks @eregon 👍

[2019-07-03 22:10] deepj opened #1713 "Rails 6 ActionView tests cause SubstrateSegfaultHandler caught signal 11 exception"
[code]

Error:

[code]

Very very long dump

https://gist.github.com/deepj/6905f8bf5b5ce83dcd0a0510b9f13c98

[2019-07-03 22:12] #1659 closed

[2019-07-04 17:49] Mogztter opened #1714 "`encode!': can't modify frozen String when writing character to temporary file"
**test.rb**
[code]

[code]

[code]

[2019-07-05 15:31] eregon opened #1715 "TravisCI caching and Bundler use the same path for C extensions for different TruffleRuby versions"
This leads to errors such as:
[code]
Example build: https://travis-ci.org/socketry/async-websocket/jobs/554414769

We see `msgpack` is not recompiled (`Using msgpack 1.3.0` in the log), even though it was compiled with TruffleRuby 19.0.0 and now reused on TruffleRuby 19.1.0, which doesn't work.

[TravisCI caching](https://docs.travis-ci.com/user/caching/) seems to simply ignore the TruffleRuby ver

[2019-07-05 15:37] eregon commented on #1715
From that log I see that paths like these are used:
[code]
`2.6.0` is most likely `RbConfig::CONFIG['ruby_version']`, which seems to be considered as the [binary compatibility/ABI version](https://bugs.ruby-lang.org/issues/15791).
Maybe we should just set `RbConfig::CONFIG['ruby_version']` to the TruffleRuby version.

[2019-07-05 16:40] eregon commented on #1715
I can reproduce the problem locally, and confirm setting `RbConfig::CONFIG['ruby_version']` to the TruffleRuby version solves it for `bundle install --path ...`. I'll do a fix with that.

[2019-07-06 22:11] chrisseaton commented on #1688
Fixed in 70722f6784cd1ac6ec9714bba2fbe44d22db3141.

[2019-07-06 22:11] #1688 closed

[2019-07-07 21:16] deepj opened #1717 "Time.new and Time#getlocal don't accept a timezone object or a UTC offset string"
This a new thing in Ruby 2.6. I personally I use this in one script loading some Timezones from various coordinates.

To reproduce:

[code]

MR 2.6.3:

[code]

TruffleRuby 19.1.0

[code]

[2019-07-09 08:51] deepj commented on #1661
@chrisseaton @eregon Can you take a look at this? I've seen more problems with `uninitialized constant` kind of problems.

[2019-07-09 10:40] eregon commented on #1661
OK, I'll to take a look and reproduce.

[2019-07-10 03:40] wangyin-git opened #1718 "report Thread#status incompatible with MRI"
[code]
in MRI 2.6.3 all thread.status returns 'sleep'
in Truffleruby-19.1.0 or Truffleruby-1.0.0-rc16 only one thread.status returns 'sleep', others return 'run'

[2019-07-10 15:00] eregon commented on #1718
I can reproduce.
The process also doesn't finish correctly with that program (threads are stuck in `monitorEnter`).

Note that with threads just calling `sleep`, the output is the same as MRI:
[code]

So this seems specific to `gets`.

[2019-07-10 16:11] wangyin-git commented on #1718
Thanks for your reply. And I find another minor difference from MRI:  Thread.report_on_exception is false in Truffleruby by default, but since MRI 2.5 the default is true

[2019-07-10 16:56] wangyin-git opened #1720 "Socket.udp_server_loop seems doesn't work correctly"
server side:
[code]
client side:
[code]

in MRI 2.6.3 everything is fine.
in Truffleruby-19.1.0 the server loop seems can not stop.
test platform is MacOS Mojave 10.14.5

[2019-07-10 18:29] eregon commented on #1714
I fixed this in 7df477321b36374927d7d1a1199e50fa58d556b1, it will be in the next release.
@Mogztter Thank you for reporting the issue!

[2019-07-10 18:29] #1714 closed

[2019-07-12 00:12] deepj commented on #1713
@eregon @chrisseaton no interest in this? :(

[2019-07-12 00:14] chrisseaton commented on #1713
We’re always interested in your reports and they’re very valuable but we only have so many hours in the day to work on things. Highlight one or two priority issues at a time if you want and we’ll try to get to them.

[2019-07-13 09:42] ioquatix opened #1721 "java.lang.ArrayIndexOutOfBoundsException: Index 0 out of bounds for length 0"
https://travis-ci.org/socketry/async-io/jobs/551120214

<img width="937" alt="image" src="https://user-images.githubusercontent.com/30030/61169971-1fa4c100-a5b7-11e9-9dc3-14bd010684a3.png">

[2019-07-13 10:39] eregon commented on #1721
Thanks for the report!
I will try to reproduce locally.

[2019-07-13 15:31] deepj commented on #1710
@chrisseaton Please, make this a priority

[2019-07-13 15:32] deepj commented on #1673
@chrisseaton Please, make this a priority

[2019-07-15 14:06] eregon commented on #1721
I can reproduce on master:
[code]

[2019-07-15 14:18] eregon commented on #1721
@ioquatix Minor thing: there is a missing `require 'async/io/ssl_endpoint'` in `spec/async/io/ssl_server_spec.rb`

[2019-07-15 20:10] ioquatix commented on #1721
Can you submit a PR? :)

[2019-07-15 22:22] eregon commented on #1718
I fixed `Thread.report_on_exception` to now be true by default in 32740381ca2f0bb015264a51eaf45903d83f407d, thanks for the comment.

[2019-07-16 14:05] eregon commented on #1721
PR submitted: https://github.com/socketry/async-io/pull/29

[2019-07-17 09:03] fniephaus opened #1722 "[interop] Cannot convert a Ruby String with BINARY encoding containing non-US-ASCII character 226 to a Java String"
### Repro

[code]

### Expected Behavior

[code]

[2019-07-17 09:23] chrisseaton commented on #1722
`BINARY` is really `ASCII-8BIT`, but which interpretation of the 8th bit do you want?

According to [Wikipedia](https://en.wikipedia.org/wiki/ISO/IEC_8859#Table), 226 in various 8 bit vaiants could mean any of `âтقβגโā`. How do we pick?

[2019-07-17 09:45] chrisseaton commented on #1722
MRI doesn't know what you want either:

[code]

[2019-07-17 09:49] eregon commented on #1722
Yes, that works in GraalVM:
[code]

@fniephaus Is that OK for your use case?

[2019-07-17 10:49] fniephaus commented on #1722
Our problem occurs when parsing a rather long text file (118MB) and causes an error. The workaround should do for now, thanks! Nonetheless, the example also shows that TruffleRuby violates the interop contract: interop's `isString` on `226.chr` returns `true` and then `asString` fails. I don't know what the correct behavior is in terms of interop, maybe @chumer could clarify that? In particular, w

[2019-07-17 10:56] chrisseaton commented on #1722
Java strings don't have an encoding - that's an implementation detail. They do have a character set, which is Unicode.

I see what you mean about the interop contract though - we probably should not return `isString` if we can't convert.

Maybe we should insert the replacement character (�) when we are asked to covert character that we can't understand?