[2020-08-27 11:44] gogainda commented on #2080
@eregon thank for the thorough investigation, I am planning to continue running the benchmarks from fast-truffleruby and probably even will try to automate it.

I expected that some of the performance optimizations are not applied for the truffleruby implementation and in some cases could be even dangerous, so I created the repo to prove it. I am glad that you found it useful

[2020-08-27 15:35] jaimerave commented on #1415
I just found this issue while trying to add support for Truffleruby in Rubocop (https://github.com/rubocop-hq/rubocop/pull/8602). `bundle exec rspec` takes 1 minute 36.75 seconds under MRI 2.6.6 to run on my local machine while with Truffleruby it takes 61 minutes.

[2020-08-27 15:43] jaimerave commented on #1913
I have created a PR in Rubocop to work around the issue in Truffleruby https://github.com/rubocop-hq/rubocop/pull/8602

[2020-08-27 16:38] jaimerave commented on #1415
Rubocop tests suit running with the Github action for `truffleruby-head` takes one and a half hour to finish https://github.com/rubocop-hq/rubocop/pull/8602/checks?check_run_id=1037142103

[2020-08-27 16:48] bjfish opened #2081 "Rubocop test suite slow"
From comment: https://github.com/oracle/truffleruby/issues/1415#issuecomment-682061107

[2020-08-27 16:49] bjfish commented on #1415
@jaimerave I've opened a new issue for this: https://github.com/oracle/truffleruby/issues/2081

[2020-08-27 16:52] bjfish commented on #2081
Some sample memory/cpu sampling below.
[code]

[2020-08-27 19:19] headius opened #2082 "segv running Rails Simple Benchmark's Rails app"
I am playing with the Rails Simple Benchmark to get some performance information across Ruby impls. Running TruffleRuby 20.2 today I had the server crash with a segv.

The app was set up using the "common" gemfile from https://github.com/noahgibbs/rsb. Using TruffleRuby from GraalVM 20.2, in `--jvm` mode, one process with 16 threads, hitting just the "static" text rendering endpoint using the "wrk

[2020-08-27 21:47] headius commented on #2082
Another run with a 16-thread server and flags provided by @eregon also appears to have crashed.

Command line for server: `RUBYOPT='--jvm --experimental-options --cexts-lock=false --engine.CompilerThreads=-1 --engine.SplittingGrowthLimit=10.0 --engine.SplittingMaxNumberOfSplitNodes=200000000' bundle exec puma -e production -p 4321`

Command line for wrk 10s loop: `ruby -e 'loop { system "wrk -c 8

[2020-08-27 21:51] headius commented on #2082
I should note that before I killed the server this most recent time, concurrent requests/s had dropped to under 100 and it was using nearly 5GB of memory. CPU usage was pegged at 100% while the benchmark ran.

This is all run on MacOS using the GraalVM 20.2 release.

[2020-08-27 22:05] headius commented on #2082
Additional attempt to run concurrent benchmark against server produced the same result... some dozens of 10s runs work, steadily improving performance, it stabilizes for a little while, and then performance starts to degrade with more errors returned from server.

I also had a thread dump when I tried to quit this server process, which may or may not be related (attached).

[thread_dump.txt](https

[2020-08-28 10:01] jaimerave commented on #2081
Thanks a lot @bjfish for looking into this. I wanted to ask how I can get these samples while running RSpec? I was checking the profiling documentation, but it wasn't clear to me and I would like to dig a little bit more into these performance issues.

[2020-08-28 11:11] eregon commented on #2081
You can just pass `--cpusampler` to TruffleRuby: https://github.com/oracle/truffleruby/blob/master/doc/user/tools.md#cpu-sampler
Can be done with `TRUFFLERUBYOPT=--cpusampler` too so you don't need to figure out how to pass it through RSpec.

The top hit is:
`Parser::Lexer#advance`  self time 11500ms 7.1%, never compiled, `parser-2.7.1.4/lib/parser/lexer.rb~10965-23583`.
So that's a 12618 lines Ru

[2020-08-28 11:23] eregon commented on #2081
The Parser::Lexer issue can easily be reproduced with:
[code]
which shows
[code]
So actually it does compile! (maybe due to this extremely simple code to lex).
But it took 14.5 seconds to compile and it's 24619 AST nodes, that's huge.

[code]
So here we see some time was spent in compiled code (Opt % > 0).

It's still huge though, and it seems worth checking if there are other Ragel flags to produ

[2020-08-28 11:26] marcandre commented on #2081
I'm a bit surprised at the 2nd and 3rd place... I imagine this is from reading RuboCop's config? It has 4k lines, but should be read once only (maybe a few times more in some tests), but I don't get it...

[2020-08-28 11:33] eregon commented on #2081
I think the sampling by @bjfish was only on a small period of time (160s) so it's probably highly focused on startup performance.
(and reading YAML is rather slow until compiled)

It would be useful to run the full tests in GitHub Actions with `TRUFFLERUBYOPT=--cpusampler` to get more insights.

Trying on a larger file:
[code]

This method just gets larger in number of nodes (31540 nodes) and time

[2020-08-28 12:58] eregon commented on #2064
A run with the new assertions:
https://github.com/puma/puma/runs/1033504877
[code]

[2020-08-28 13:25] eregon commented on #2064
That's still confusing but now I have a guess, maybe the dying Thread, while inside `call_without_c_mutex` and trying to re-acquire the lock gets killed by e.g. `Thread#raise` (inside runUntilResult() and pollFromBlockingCall()) and then via the exception gets to a `call_with_c_mutex` call higher up the stack where it tries to unlock but the lock was not re-acquired as expected.

[2020-08-28 14:22] eregon commented on #2080
benchmark-ips 2.8.3 [was released](https://github.com/evanphx/benchmark-ips/pull/106#issuecomment-682592879) with this fix and the results look as expected:
[code]

[2020-08-28 14:22] #2080 closed

[2020-08-28 14:58] bjfish commented on #2082
So far, I've been unable to reproduce. I used the following steps. Does this look good @headius ?  What are the steps for running the `wrk` loop to reproduce the error: just let it run in a loop till the error occurs or should I start/stop it?
[code]

@eregon I did get an error on startup with:
[code]

[2020-08-29 11:22] eregon commented on #2034
Happened here too:
https://github.com/ruby-gettext/locale/runs/1043329608
[code]

[2020-08-29 16:23] gogainda commented on #1591
@ohler55 was it fix in Ox?

[2020-08-29 18:42] eregon commented on #1591
It seems not yet, I filed an upstream issue: https://github.com/ohler55/ox/issues/246

@martijn Did you have some changes here you could submit to `ox`?

[2020-08-29 20:33] martijn commented on #1591
I haven’t submitted any changes to ox. I suspect the new Truffle Object Model from 20.2 will Alleviate some of the issues I was having so I’ll see if I can make some time to revisit this soon.

[2020-08-30 13:20] larskanis commented on #2001
@eregon Ruby-pg now has tests on `truffleruby` and `truffleruby-head`: https://travis-ci.org/github/ged/ruby-pg/builds/722468366. Just in case you want to add something to
https://github.com/eregon/truffleruby-gem-tracker

[2020-08-31 08:09] martijn commented on #1591
I looked at it this morning, but the Ox code for dumping Ruby objects to XML (where the issues are) is very low level and implementation dependent. This is way out of my comfort zone.

I noticed the CI only tests on MRI and I doubt any of the other implementations mentioned in extconf.rb. currently work 100%.

[2020-08-31 10:40] gogainda opened #2084 "Failing rubocop's cop for grape gem"
For some reason when I ran the grape test suit it fails with
[code]
but it doesn't for Ruby MRI

The tests are passing btw, but this issue is blocking me from enabling Truffleruby head on grape's CI

Full logs are [here](https://travis-ci.org/github/ruby-grape/grape/jobs/722691736)

[2020-08-31 10:51] jaime-rave-conichi commented on #2084
That might be related to https://github.com/oracle/truffleruby/issues/1913

[2020-08-31 10:55] eregon commented on #1591
Right, I think the first step is to fix https://github.com/ohler55/ox/issues/246. That's worth on its own (even on MRI) just to avoid all these hardcoded and probably wrong in some cases version checks.
@martijn Did you have any changes to address that?

Once that is fixed we can look at issues in TruffleRuby. Before that it does not make sense to me since the gem won't install.

Indeed, I don't t

[2020-08-31 13:41] ohler55 commented on #1591
I'll try to get to the changes this week.

As for JRuby, at one point it did support C extensions. What you are seeing is a file that has not received a lot of attention as the Ruby world changed.

[2020-08-31 14:00] eregon commented on #1591
@ohler55 Thank you :)

[2020-08-31 14:13] #2034 closed

[2020-08-31 14:15] eregon commented on #2034
This should be fixed by 18089f09bde0fc99ab6bd11af66542bfb96accdc, since it removes that entire code path.
I believe the original issue was missing synchronization in IO write buffering, where 2 concurrent `write` could end up seeing the intermediate states of the buffer.

[2020-08-31 17:15] eregon commented on #2064
I think 06662f0c2bcfd68481e784b75dd6360b14c09935 should fix this.
Let's reopen if it happens again.

[2020-08-31 17:15] #2064 closed

[2020-08-31 17:59] eregon commented on #1484
One potential idea to fix this is to mark some internal methods/blocks as "ignored for $~", and keep searching further.
That could work for cases where $~ is set on the caller method.
Here it is set on a block though, so maybe we'd need to mark the intermediate block as "ignored for $~" and remember the original block by storing it maybe as a field of that intermediate block.

[2020-08-31 20:37] LillianZ opened #2085 "Marshal.load of Hashes slow, especially glacial when vm cold"
Loading the Hash of Hash of Hash below takes 0.075s on MRI, 0.15s at Truffleruby peak, ... and 9.2s the first time it is run (61x slower than warm). This is very unfortunate because in most applications we would only expect to to use Marshal load once at the beginning.

[code]

[2020-08-31 20:46] chrisseaton commented on #2085
I added `Benchmark.ips` to the end of this so we can see cold and warmup (maybe bips should print first-iteration...)

[code]

[code]

[code]

|             | Cold      | Hot        |
|-------------|-----------|------------|
| MRI         | 0.078383s | 17.458 ips |
| TruffleRuby | 5.489669  | 0.945 ips      |

So this is bad on both cold performance and also hot performance. Thermometer confirms h

[2020-08-31 21:29] LillianZ commented on #2085
The example Marshalled string has ~3M characters; the Marshalled string we load on startup has ~17M characters. It is indeed slow.

[2020-09-01 07:07] petenorth opened #2086 "internal errors in gsub"
Version: truffleruby 20.3.0-dev-06662f0c, like ruby 2.6.6, GraalVM CE Native [x86_64-linux]

I'm getting a lot of errors running some cucumber tests

    Translated to internal error (RuntimeError)
    <internal:core> core/truffle/string_operations.rb:30:in `block in gsub_block_set_last_match'
    <internal:core> core/truffle/string_operations.rb:37:in `block in gsub_internal_block'
    <internal:

[2020-09-01 09:39] eregon commented on #1913
RuboCop 0.90 has been released with that PR, I think we can close this, thanks @jaimerave!

[2020-09-01 09:39] #1913 closed

[2020-09-01 09:43] eregon commented on #2084
I believe this is fixed in [RuboCop 0.90](https://github.com/rubocop-hq/rubocop/releases/tag/v0.90.0) and is a duplicate of https://github.com/oracle/truffleruby/issues/1913.
@gogainda Could you verify it works fine with RuboCop 0.90?

[2020-09-01 09:43] #2084 closed

[2020-09-01 09:59] eregon commented on #2086
Full stacktrace:
[code]

[2020-09-01 10:03] gogainda commented on #2084
@eregon @jaime-rave-conichi yep, rubocop works fine now

[2020-09-01 10:12] eregon commented on #2086
The NullPointerException seems to mean `frame` was `null` in `getStorageFromFrame()`.
So `frame` must have been `null` in `getStorage()`.
But that's only called if the `callerFrame` has the same FrameDescriptor. And I would think same FrameDescriptor implies same depth, but maybe not?

@petenorth This seems to happen during `JSON.generate`. It would be useful if we could see which arguments are pa

[2020-09-01 10:50] eregon commented on #2085
I made a variant of the script where the result of `Marshal.dump` is saved to a file.
That way, we don't call `Marshal.dump` during the benchmark, which I guess is also the case for the application's startup?
https://gist.github.com/eregon/e523df1b607bd152a9eef980fd936b8c

I see first iteration times of around 2 seconds, which is slow but probably not that noticeable during startup. It would be ni

[2020-09-01 10:59] chrisseaton commented on #2085
Yes it comes from a file. There's some other steps involved - we'll open separate issues for those too.

[2020-09-01 11:20] petenorth commented on #2085
A lot of time is spent in Marshal::State#construct for the rails rspec tests of an app I've been testing with TruffleRuby.

[2020-09-01 11:28] gogainda commented on #2085
Sorry for my ignorance but doens't Marshal::State#construct has O(n) pef here? Would it be better to have some map-like implementation?

[2020-09-01 11:36] eregon commented on #2085
Yes, `case` in general is O(n) in Ruby because it's just `if when1 === expr elsif when2 === expr elsif ...` semantically. But I think CRuby optimizes when it's all `when SOME_INTEGER` to use a Hash internally or so. A Hash has its own costs though.

It would be cool to see if we can get that Graal optimization to kick in and transform it essentially to a Java switch which uses various strategies d

[2020-09-01 11:40] chrisseaton commented on #2085
But remember it's cold for quite a bit of this run.

[2020-09-01 11:44] petenorth commented on #2085
Could the JRuby implementation be used?

https://github.com/jruby/jruby/blob/de19365b3f95fbaacd3f45267bde14c09f469554/core/src/main/java/org/jruby/runtime/marshal/UnmarshalStream.java#L73

Java code like this would be AOT compiled into the TruffleRuby native image executable, no?

Or is this against an over arching design ethos?

[2020-09-01 12:08] eregon commented on #2085
Potentially we could rewrite Marshal in Java, that's a possibility. We cannot just "reuse" JRuby's implementation because JRuby's uses different representations than TruffleRuby for basically every Ruby object/value.
We could also only have `construct` as a Java `@CoreMethod` if the goal is to use Java's `switch`. Java code is typically much harder/higher effort to maintain than Ruby code, so it w

[2020-09-01 12:11] eregon commented on #2085
As a side note, for this use case, if the marshalled objects are rather simple, it might be feasible to store them as part of pre-initialization when building the TruffleRuby Native Image. Then as soon as TruffleRuby starts up, the objects would already be in the heap, and there would be no deserialization at all.
Speeding up Marshal.load is worth on its own, but that sounds an interesting optimiz

[2020-09-01 15:06] iliabylich opened #2087 "OOM error when running tests on travis CI"
`Fatal error: java.lang.OutOfMemoryError: Could not allocate an aligned heap chunk`

Job output: https://travis-ci.org/github/whitequark/parser/jobs/723110359

Raw output (in case Travis removes the log):

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2020-09-02 10:35] eregon commented on #2081
The whole suite seems to take long and maybe running out of memory: https://github.com/eregon/rubocop/runs/1050668543?check_suite_focus=true
Is there a smaller subset suite I could run that's still more than just one spec file?

[2020-09-02 13:44] jaimerave commented on #2081
@eregon how about running it with `bundle exec rspec spec/rubocop/cop/`?

[2020-09-02 14:19] jaimerave commented on #2081
Found a specific spec file that is slower than the average: `bundle exec rspec spec/rubocop/cli/cli_options_spec.rb `

[2020-09-02 15:41] eregon commented on #2081
@jaimerave Could you do a run in your fork with `TRUFFLERUBYOPT="--cpusampler"` similar to how I did in https://github.com/eregon/rubocop/commit/d8de6c8b186501b4254795ff8cf4865350a6afb1 but on a subset of the specs?

[2020-09-02 16:39] eregon commented on #2085
It seems quite a bit faster after AST-inlining `Integer#===`: 686064726bed7b800f7698187b3db75a69c8bfbb
Before (06662f0c):
[code]
After (929d5279)
[code]
The format is `average [min-max]`

[2020-09-02 16:44] eregon commented on #2085
If we use `--engine.MultiTier` we get down to 1 second (`1066 [1058-1076] ms`).
Sampling without MultiTier:
[code]
Sampling with MultiTier:
[code]

[2020-09-02 17:12] eregon commented on #2081
From https://gist.github.com/jaime-rave-conichi/54d6dddfefa82d090a813be50c49313b
* Half of the time is spent in `block (2 levels) in Truffle::POSIX.attach_function_eagerly` which is a blocking native call but unfortunately it does not tell us the name of it. Will try to fix that. Maybe it's `waitpid()`.
* There is quite some time spent in `String#inspect` which is known to be very slow and we shou

[2020-09-02 21:41] #1669 closed

[2020-09-02 23:59] ohler55 commented on #1591
Just pushed a branch with the changes. Its `mkmf-have`. I wasn't sure how to detect one of the macros. If you have any suggestions for change let me know.

[2020-09-03 15:07] eregon commented on #1591
Thanks, that compiles fine on TruffleRuby:
[code]

For the remaining macro, see https://github.com/ohler55/ox/commit/5cff922c9517689f9927217d955f7c01ad1c9643#r42010463
Could you make a release with that?

[2020-09-03 15:25] gogainda commented on #1669
Roda gem is [supported](https://github.com/jeremyevans/roda/pull/196) now

[2020-09-03 15:26] ohler55 commented on #1591
As soon as CI passes I'll make a release. shortly...

[2020-09-03 15:45] ssnickolay commented on #1669
Thanks @gogainda !

[2020-09-03 16:38] steventamm opened #2088 "Native access required to load rubygems or use files, instead of allowIO"
I'm trying out truffleruby 20.2.0 embedded with a custom filesystem and native-access disabled.  Calling "open" causes a SecurityError to be thrown "native access is not allowed."  Looking at Truffle::POSIX in posix.rb, it seems that it's checking platform-native option based on Env.isNativeAccessAllowed() method, when I would have expected it to check the Env.isIOAllowed() flag instead.

Is there

[2020-09-03 19:21] eregon commented on #2088
TruffleRuby uses native posix calls for IO currently, not much TruffleFile.
That's partly because Ruby exposes file descriptors directly through `IO#fileno` and some programs might actually pass that to native code.

It might be possible to use TruffleFile internally (at the expense of not implementing `IO#fileno` (and others) or returning a dummy value), or to run on GraalVM EE where Sulong in `-

[2020-09-03 19:57] steventamm commented on #2088
There's an existing rubygem I'm trying to load in from a jar file for a specific internal testing use case.  I'm trying out some existing ruby scripts that have a `require` at the start.  Without native access the networking doesn't work, but that's part of the point as I want to restrict the networking to loopback and I could duck-type a replacement for my use case.  I figured I could work around

[2020-09-03 20:10] LillianZ commented on #2016
fixed by https://github.com/oracle/truffleruby/pull/2056

[2020-09-03 20:16] bjfish commented on #2013
This is now fixed at: https://github.com/oracle/truffleruby/commit/ae2e7f2c33491537b76488da1f2276b3b799f5b2

[2020-09-03 20:16] #2013 closed

[2020-09-04 14:53] chrisseaton commented on #2088
Didn't we used to have the option for managed IO?

[2020-09-04 14:55] gogainda commented on #2063
@eregon changed here https://github.com/prawnpdf/prawn/pull/1172

[2020-09-04 20:49] eregon commented on #2088
@chrisseaton Not as far as I remember, but we have an option to use polyglot streams for stdin/stderr/stdout.

@steventamm Thanks for sharing your use case. Actually loading files should use mostly TruffleFile and that might work with a custom filesystem, although it might need a few fixes. Do you have a backtrace when trying to load a file from the custom filesystem?

OTOH actually supporting Ker

[2020-09-04 20:53] #2016 closed

[2020-09-04 21:06] LillianZ opened #2089 "Psych.load (for YAML loading) slow"
Psych.load is slower in truffleruby than MRI, especially when cold.  Below is code to  produce a YAML file with similar format and size, the test script (thermometer reports hot after ~40s for me), and output . The actual YAML file takes ~8s and has ~1M characters.

|   |      Cold      |  Hot |
|----------|-------------|------|
| MRI |  0.198234s | 5.306ips |
| Truffleruby |    6.483627s   |   3.

[2020-09-04 22:41] steventamm commented on #2088
Is there a magic option to get a better stack trace?   Just run this from junit.

[code]

And you get this.

[code]

Not helpful, but the only reference would be from posix.rb.

[2020-09-05 11:35] chrisseaton commented on #2088
Can you run with `--exceptions-print-java`.

[2020-09-05 15:29] steventamm commented on #2088
[code]
raise: <internal:core> core/posix.rb:28:in `resolve': native access is not allowed (SecurityError)
	from <internal:core> core/posix.rb:107:in `attach_function_eagerly'
	from <internal:core> core/posix.rb:98:in `truffleposix_stat_mode'
	from <internal:core> core/file.rb:383:in `directory?'
	from ${jdk.home}/graalvm-ce-java11-20.2.0/Contents/Home/languages/ruby/lib/truffle/rbconfig.rb:65:in `

[2020-09-05 21:33] chrisseaton commented on #2088
Does that make the underlying problem clear? We can't load RubyGems without being able to do native IO, to implement a method like `directory?`. Should that method just be implemented simply in Java? Maybe, but this is the code we started with.

[2020-09-06 18:59] steventamm commented on #2088
If it isn't supported, it isn't supported.  But graaljs and graalpython intercept these calls and go back through the nio filesystem.   All python io goes through truffl.

https://github.com/graalvm/graalpython/issues/123

[code]

So I'm guessing this is a feature request to use the Truffle FileSystem for fileio in ruby instead of requiring native access.

[2020-09-06 20:40] gogainda opened #2090 "Faraday test suit exits with "native function not supported at this point""
[code]
Tests passed but in the end I see this exception:

[code]

[2020-09-06 20:41] gogainda commented on #2090
Full log is [here](https://github.com/lostisland/faraday/runs/1078744323)

[2020-09-06 20:47] chrisseaton commented on #2090
I think the issue is that we haven't considered someone using `rb_thread_call_without_gvl` to call a native function. We need to implement support for that.

https://github.com/toland/patron/blob/v0.13.3/ext/patron/session_ext.c#L814-L817

[2020-09-07 22:44] gogainda opened #2091 "ColorLS: incompatible character encodings: UTF-8 and ASCII-8BIT"
[ColorLS](https://github.com/athityakumar/colorls) fails with similar issues:
[code]
Full logs are [here](https://travis-ci.org/github/athityakumar/colorls/jobs/725070795)

[2020-09-08 14:26] LillianZ opened #2092 "Dir[] slow, hot & cold"
Even when hot (confirmed hot by Thermometer), Dir[] is almost 4x slower than MRI. Code snippet below was run in this directory, and MRI and Truffleruby output below.

|             | Cold      | Hot         |
|-------------|-----------|-------------|
| MRI         | 0.003747s | 304.699 ips |
| Truffleruby | 0.122712s | 82.758 ips  |

[code]

[code]

[code]

[2020-09-08 15:07] chrisseaton commented on #2091
Is this in reference to another issue?

[2020-09-08 15:11] gogainda commented on #2091
I wanted to say that all failures there are similar and the one I posted just an example

[2020-09-08 15:42] norswap commented on #2085
I'm going to take a stab at this.
Is the `symalphabet` example from above representative of the actual 17M workload, or does that have a more varied structure?

[2020-09-08 16:24] LillianZ commented on #2085
Thank you for looking into this!

Essentially that structure, except I wasn't very faithful to the size of the hashes and sometimes instead of the nil in
`h[symbol] = {:a => "String One", :b => "String Two", :c => nil}`
we have an array (of any size) of hashes of size 2 as in
`h[symbol] = {:a => "String One", :b => "String Two", :c => [{:a=>"StringA", :b=>"StringB"}, {:a=>"StringA", :b=>"StringB"}

[2020-09-08 20:14] chrisseaton commented on #2091
I reduced to a simple test-case.

[code]

[2020-09-08 22:27] marcandre opened #2093 "`freeze` does not freeze `singleton_class`"
[code]

Note that calling `singleton_class` is necessary to create the bug, I presume because it forces the creation of the `singleton_class` before freezing.

[code]

[2020-09-08 22:39] LillianZ commented on #2091
In Chris' test-case, if we remove "Encoding.default_external" we do get encoded.encoding = #<Encoding:UTF-8>;  since "Encoding.default_external" is #<Encoding:UTF-8>, same as the destination encoding, the TR code skips the conversion step. Unsure if ignoring source encoding would break anything (probably?) and what the fix would be in that case.

However, even when source encoding is properly set,

[2020-09-08 23:28] chrisseaton commented on #2090
I tried to make a spec for this in https://github.com/oracle/truffleruby/compare/master...Shopify:thread_call_without_gvl-bug but I can't figure out how to make the function native. I tried functions which I think should be native and close-enough to identity such as `labs` but then I can't reproduce.

[2020-09-08 23:30] chrisseaton commented on #2093
Thanks that's an interesting bug. We should be ale to spec and fix this. Does it come from some wider code you're able to share?

[2020-09-08 23:32] chrisseaton commented on #2088
Yes we should impelment this.

Just for history and exposition: all our IO goes through native POSIX calls because we already had a Ruby core-library implementation written in Ruby that used FFI to call POSIX from Rubinius. That's why it doesn't go through Java and why it doesn't respect `allowIO`.

I'm sure this can be fixed.

[2020-09-09 02:40] marcandre commented on #2093
Found when working on this: https://github.com/ruby/ostruct/pull/15/files  (had to disable a test, search for truffle)

[2020-09-09 12:47] djberg96 opened #2094 "Error uninitialized constant Truffle::FFI::Library"
truffleruby 20.2.0, like ruby 2.6.6, GraalVM CE Native [x86_64-darwin]

Just testing one of my ffi libs with TruffleRuby and I hit this:

[code]

Result:

[code]

[2020-09-09 13:32] eregon commented on #2094
Interesting bug, thanks for the report. I think this is because File::FFI is set (for convenience I guess) but it should not.

[2020-09-09 15:30] norswap commented on #2085
I was able to confirm that the `case` statement does indeed get optimized into a `switch` when compilation hits `State#construct`. The issue is that this never happens for a single `load` call, not even with a 17M dump.

One avenue is to improve interpreter performance, I will try to replace the `case` with a java `switch` to see how that affect things. The second avenue is to make sure the method

[2020-09-09 16:29] eregon commented on #2085
Can you find how many times `construct` is called via --cputracer? It should be compiled rather early. The options --engine.CompilerThreads=-1 and --engine.MultiTier might help if the compile queue is too busy.
What's the total time for 1 load with both of these options on the 17MB file?

Regarding splitting, can you try `never_split` on construct as an experiment? Finding out why it splits seems

[2020-09-10 14:02] bjfish commented on #2094
Thank you for reporting this issue. This is now fixed at https://github.com/oracle/truffleruby/commit/950d2afec730b34460dfd6a46e9b9aea9e1bd694.

[2020-09-10 14:02] #2094 closed

[2020-09-10 14:49] bjfish commented on #1477
I was able to successfully build and push a gem by following all the steps [here](https://guides.rubygems.org/make-your-own-gem/) using the current version: https://github.com/oracle/truffleruby/commit/950d2afec730b34460dfd6a46e9b9aea9e1bd694.

[2020-09-10 14:49] #1477 closed

[2020-09-10 17:28] bjfish commented on #2093
Thanks, this is now fixed at: https://github.com/oracle/truffleruby/commit/3d1e64ad921404b3175b435572e860def9f44e5e.

[2020-09-10 17:28] #2093 closed

[2020-09-10 17:31] norswap commented on #2085
Well... only 500 million times or so :D
And it is indeed compiler for 99.9% of calls.

However there seems to be a snag because I get an extremely limited set of graph dumps, none of which include `construct` (confirmed via `--engine.TraceInlining`), namely I only get (with `jvm-ce`):

[code]

Brandon ran the same command and obtained a much longer list of dumps. I'll try to find what's wrong.

I

[2020-09-10 20:24] bjfish commented on #2091
This is now fixed with the PR #2095 merged. `bundle exec rake spec` for colorls passed for me. Thank you @LillianZ .

[2020-09-10 20:24] #2091 closed

[2020-09-10 20:59] gogainda commented on #2078
Happens again for https://github.com/omniauth/omniauth/pull/1008

[2020-09-11 11:58] gogainda opened #2096 "Savon gem test failure: can't modify frozen String"
## To reproduce
Run tests from latest https://github.com/savonrb/savon

[code]

[2020-09-11 12:11] gogainda commented on #2096
From my perspective it _must_ fail, bc message is [frozen](https://github.com/savonrb/savon/blob/master/lib/savon/builder.rb#L157) but it doesn't for MRI Rubies

[2020-09-11 15:26] bjfish commented on #2096
I see the same failures when I ran the savon `master` branch in travis: https://travis-ci.org/github/bjfish/savon/builds/726324416. Also I ran the specs with MRI 2.6.6 and saw this same failure locally.

@gogainda I agree with you, in this case `messages` should be something like `messages = +""` to make sure it is not frozen.

[2020-09-11 15:26] #2096 closed

[2020-09-11 18:42] gogainda opened #2097 "ColorLS: undefined method `<' for nil:NilClass"
```colorls --gs``` fails with:
[code]
taken from [here](https://travis-ci.org/github/athityakumar/colorls/jobs/726242476#L841)

[2020-09-11 20:03] avdv commented on #2097
The code to trigger this is:
[code]
`:close` seems to be converted to `nil` on purpose => https://github.com/oracle/truffleruby/blob/master/src/main/ruby/truffleruby/core/truffle/process_operations.rb#L295-L296 but later is not properly handled.

[2020-09-11 22:32] chrisseaton commented on #2097
Looks like a completely missing feature - it's not implemented at the bottom in `truffleposix_posix_spawnp` either.

[2020-09-14 16:56] norswap commented on #2085
Updated version of the script to generate a ~17M dump that is closer to actual input: https://gist.github.com/norswap/665cba2929366ca6b6e4431d69931c8a (used in measurements above).

Other: disabling splitting altogether seems to result in a mild (~20%) slowdown.

[2020-09-14 19:52] chrisseaton commented on #2011
@LillianZ has some benchmarks and works in progress towards solving this.

[2020-09-16 18:41] bjfish commented on #2097
This is now fixed at: https://github.com/oracle/truffleruby/commit/f736b219e5f387b2558414e2c3a8e8e99122ccbd

It appears the :close option in this scenario was not handled previously.

[2020-09-16 18:41] #2097 closed

[2020-09-16 23:25] gogainda opened #2100 "Rubocop 0.91 failure: undefined method `<<' for #<Truffle::Digest:0x2aaf8>"
[code]
from [here](https://travis-ci.org/github/athityakumar/colorls/builds/727860910)

[2020-09-17 06:31] chrisseaton commented on #2100
Looks like `Digest` is still somewhat under specified https://github.com/ruby/spec/tree/master/library/digest.

[2020-09-17 10:27] eregon commented on #2100
From https://github.com/rubocop-hq/rubocop/blob/e0fc1c0437bcea8c610c850dc06e59ed36e0c9c8/lib/rubocop/result_cache.rb#L183
Looks like we're just missing `Digest#<<`, which seems an alias of `update`.
@bjfish Can you look into that?

Maybe we can add some methods check for Digest as it's both badly documented and tested.
Adding `Digest Digest::Base Digest::Class Digest::Instance Digest::MD5 Digest::

[2020-09-17 10:41] chrisseaton commented on #2100
It's also confusing with `Base` and `Instance`. If you look in `Digest` you don't see these things.

[2020-09-17 11:41] gogainda opened #2101 "Mail gem test failure: Test Retriever find should work with frozen hash arguments"
Master Mail [gem](https://github.com/mikel/mail/) has just 1 test failure:
[code]

[code]

[2020-09-17 20:59] headius commented on #2082
@bjfish Yes, that's pretty much all I did... start up the server and hit it with many threads using wrk.

[2020-09-18 09:03] eregon commented on #2082
Something that might make a difference is that @headius was running GraalVM on JDK 11 and not JDK 8.
Currently we still recommend JDK8 for truffleRuby because we test it more extensively and JDK11 does not seem to give much.
@bjfish Can you try with GraalVM on JDK 11?

[2020-09-18 09:21] eregon commented on #2082
@headius Could you try with GraalVM JDK 8 instead of 11 and see if it still happens?

[2020-09-19 07:27] chrisseaton opened #2103 "Fix the last few super issues"
I'm keen to fix the last few super issues for an experiment at Shopify

We're got one failing spec:

https://github.com/oracle/truffleruby/blob/2b84599c36257229c66daa07b91736f91ea3d498/spec/tags/language/super_tags.txt#L1

But quite a lot of failing MRI tests:

https://github.com/oracle/truffleruby/blob/2b84599c36257229c66daa07b91736f91ea3d498/test/mri/excludes/TestSuper.rb#L1-L10

[2020-09-19 09:04] chrisseaton commented on #2103
Dividing up the remaining tests:

These seem to be about modules knowing where they're defined:

* `test_define_method`
* `test_super_in_instance_eval`
* `test_super_in_instance_eval_with_define_method`
* `test_super_in_module_unbound_method`
* `test_super_in_orphan_block_with_instance_eval`
* `test_super_in_BEGIN`

These are possibly about scope:

* `test_double_include`
* `test_double_include2`

[2020-09-19 11:18] eregon commented on #2103
I'm not sure how much the corner cases in MRI tests matter in practice (e.g. `super` inside `*eval` seems already unlikely), but up to you if you want to fix them.

[2020-09-19 14:38] eregon commented on #1672
The TracePoint `:call` event is also used by byebug:
[code]

[2020-09-23 10:58] eregon commented on #2100
Fixed in aa495587766ec1f21ee8c98a5d04ea3739836a1b by @bjfish.

[2020-09-23 10:58] #2100 closed

[2020-09-23 17:54] ssnickolay commented on #2082
@bjfish I have a similar experience described here: https://github.com/oracle/truffleruby/discussions/2105 and reproduced this with a simple Rack app and JVM mode (I use java installed via `jt`), with Native mode, and with asdf installed versions.

I believe the crash/degradation depends on:
1) The number of machine resources
2) The total number of requests (not simultaneous)

So if you have a per

[2020-09-23 18:06] bjfish commented on #2078
@gogainda A fix for coverage was added here which should would to get enough coverage for omniauth. I see  (96.9%) covered locally.
https://github.com/oracle/truffleruby/commit/e68afb35db3922a1877af966f2c4652e952f4def

[2020-09-23 19:00] gogainda commented on #2078
@bjfish thanks for fixing it , I will double check the results

[2020-09-23 19:23] #2078 closed

[2020-09-23 19:31] gogainda commented on #2078
https://travis-ci.org/github/omniauth/omniauth/builds/729730701 tests are passing and coverage is correct

[2020-09-23 21:19] bjfish commented on #1501
This is now fixed at: https://github.com/oracle/truffleruby/commit/5cfbbd05100df7e176be28c3cd6b847ba6a71e36. Thanks.

[2020-09-23 21:19] #1501 closed

[2020-09-24 21:06] #1743 closed

[2020-09-25 09:22] eregon commented on #1743
Fixed in ebba39acffc174d525b0bd7f02dc74e9e2bbb73f

[2020-09-28 18:14] bjfish commented on #1482
This is now implemented at: https://github.com/oracle/truffleruby/commit/d7d99fc15440d25a6b5bd5d457e94432c8c39873.

[2020-09-28 18:14] #1482 closed

[2020-09-29 01:44] marcandre opened #2106 "Can't built head"
`rvm install truffleruby-head` gives me
"Error running 'run_gem_wrappers regenerate'"

log is:

[code]

[2020-09-29 01:44] #2106 closed

[2020-09-29 01:46] marcandre commented on #2106
Nevermind, OS X 10.3 is not supported and I don't have the video card needed to upgrade.

[2020-09-29 09:27] chrisseaton commented on #2106
Yeah sorry about that - we'd love to support multiple versions of macOS, but it's extremely difficult (for everyone) to do that because keeping an old box running with modern versions of everything else is hard.

[2020-09-29 09:54] eregon commented on #2106
The TruffleRuby releases are built on slightly older macOS, maybe `rvm install truffleruby` works for you?

I guess you mean macOS 10.13? (10.3 would be OS X Panther from 2004)

[2020-09-29 16:02] marcandre commented on #2106
I wanted to check [a failure I get only on `head`](https://github.com/rubocop-hq/rubocop-ast/runs/1179896566?check_suite_focus=true). Installed it on my macbook and can't reproduce it 🤷‍♂️

Yes, indeed 😅

[2020-09-29 16:30] eregon commented on #2106
Sorry about that, maybe it is a transient failure. Feel free to file an issue about the failure.

[2020-09-30 21:11] gogainda opened #2107 "dentaku gem test failure: undefined method `round' for nil:NilClass"
Full [logs](https://travis-ci.org/github/rubysolo/dentaku/builds/731734232)
[code]

[2020-10-01 07:58] flavorjones commented on #1449
If it's helpful for anyone, I've published some Dockerfiles and have set up Docker Hub to build images:

- Docker Hub images: https://hub.docker.com/repository/docker/flavorjones/truffleruby/general
- Dockerfiles: https://github.com/flavorjones/docker-truffleruby

Possibly of note: This configuration is also publishing **nightlies** every 24 hours or so.

[2020-10-01 12:56] chrisseaton opened #2108 "bundle exec ruby ignores arguments like --jvm"
[code]

[2020-10-01 13:06] eregon commented on #2108
I can reproduce.
It seems to work on MRI, so might be a TruffleRuby bug:
[code]

If I use `export VERBOSE_GRAALVM_LAUNCHERS=true`, and change `bin/bundle` to use:
[code]
we get
[code]

So first, `bundle` will run TruffleRuby Native, with those arguments, and not see the `--jvm` option, as expected (it's an application argument at that point).

Then at some point Bundler will `execve()` to execute

[2020-10-01 13:15] eregon commented on #2108
Actually it seems we look into application arguments in the native launcher, because:
[code]

[code]
But that should pass `--jvm` as an application argument and not switch to JVM.

[2020-10-01 13:21] eregon commented on #2108
As a note, the Bash launchers used in developments (`mx.truffleruby/jvm*`) have no chance to know if `--jvm` is in application arguments or not (or they would need to launch twice the JVM to know), so that's a known limitation for Bash launchers.

But the native launcher should behave correctly because it does parse the command line (twice when exec'ing to JVM).

[2020-10-01 14:17] deivid-rodriguez opened #2109 "Overriding Warning.warn leads to Stackoverflow"
The following script prints "Foo Bar" to standard error on CRuby, but crashes with StackOverflow on truffleruby.

[code]

The problem is related to https://github.com/rubygems/rubygems/issues/2588, but I can reproduce the above behaviour using the `--disable-gems` flag too.

Also, note that ruby introduced [this patch](https://github.com/ruby/ruby/commit/8a2a882e53ade974494dbf7c968a85bad0393dcd) t

[2020-10-01 16:37] alextwoods commented on #2069
I'm also running into this - I'm developing a new gem based on FFI and wanted to ensure compatibility with Truffle Ruby, but all of my CI tests started failing when using `Struct.by_value`.

[2020-10-01 20:22] eregon commented on #2108
This is an issue of GraalVM launchers in general, I have a patch locally, I'll try to integrate it.

[2020-10-01 20:32] eregon commented on #2109
Thanks for report, I'll investigate.

[2020-10-01 20:44] eregon commented on #2109
The [workaround in CRuby](https://github.com/ruby/ruby/commit/8a2a882e53ade974494dbf7c968a85bad0393dcd) is to not call `Warning.warn` from `Kernel#warn` if `self` is `Warning`.
We should do the same.

It does feel like a hack to me (i.e., overriding Warning#warn is the bug, overriding Warning.warn or `prepend`'ing is OK), but we need to be compatible. Let's add some specs for it.

[2020-10-03 01:41] HoneyryderChuck commented on #2103
I've started testing one of my gems against truffleruby and I'm getting a lot of errors which have to do with `super`: https://gitlab.com/honeyryderchuck/httpx/-/jobs/770843884 . Is it part of this issue?

[2020-10-03 12:56] eregon commented on #2103
@HoneyryderChuck That sounds rather unlikely, the cases mentioned here are all weird edge cases which seem unlikely to happen real code, like https://github.com/oracle/truffleruby/blob/e751e6616e8b0f5b940c83bd24214daacf5e0537/test/mri/tests/ruby/test_super.rb#L332-L337

In any case, could you file a separate issue to track that?
`*, options` could be a pattern TruffleRuby doesn't handle correctly

[2020-10-03 13:15] HoneyryderChuck opened #2111 "ArgumentError: wrong number of arguments (given 1, expected 2)"
Coming from https://github.com/oracle/truffleruby/issues/2103 .

I've tracking support for truffleruby in `httpx`, where the build is failing with the error from the title.

Link to a failing build: https://gitlab.com/honeyryderchuck/httpx/-/jobs/770843884

The error happens in a pattern calling super like this:

[code]

[2020-10-04 19:20] chrisseaton commented on #2011
We've got some significant work on this now - will merge as much of it as we can soon but please don't refactor anything to do with `detect_recursion` until then thanks.

[2020-10-05 10:41] gogainda opened #2113 "bcrypt test failure: calculate the optimal cost factor to fit in a specific time"
[code]
to reproduce run
[code]

[2020-10-05 12:16] eregon commented on #2113
There is https://github.com/codahale/bcrypt-ruby/pull/223 to fix that, but it's not been merged yet.

[2020-10-05 16:44] eregon commented on #2113
https://github.com/codahale/bcrypt-ruby/pull/223 was merged and should fix this.

[2020-10-05 16:44] #2113 closed

[2020-10-05 18:23] deivid-rodriguez opened #2115 "Tempfile#path returns a copy of the original string on CRuby, but not on truffleruby"
The following script runs fine on CRuby:

[code]

But on truffleruby, it crashes with the following error:

[code]

Forcing a copy of the string so that the Tempfile itself is not mutated workarounds the issue:

[code]

[2020-10-05 18:27] aardvark179 commented on #2111
I can reproduce the issue and can see the cause of the problem. We don't correctly handle named arguments given after a splat argument when copying everything we need for the super call - we may be missing some other corner cases as well. I'll take a look at fixing it.

[2020-10-05 20:02] eregon commented on #2115
Thanks for the report.

Since TruffleRuby just uses `tempfile.rb` from MRI, and Tempfile#path is https://github.com/oracle/truffleruby/blob/f65ce6fe531764c2c43e626f677cded9ac752b30/lib/mri/tempfile.rb#L220-L222
It seems this is an issue of File#path:
https://github.com/oracle/truffleruby/blob/f65ce6fe531764c2c43e626f677cded9ac752b30/src/main/ruby/truffleruby/core/file.rb#L111
Should be a trivial f

[2020-10-06 11:16] deivid-rodriguez opened #2116 "Globbing with `FNM_DOTMATCH` misses some hidden files"
The following script prints `bar/.baz/qux` on CRuby, but nothing on truffleruby.

[code]

[2020-10-06 12:53] eregon commented on #2116
Indeed, thanks for the report.
@bjfish Could you take a look?

[2020-10-06 13:08] norswap commented on #2111
@aardvark179 I took a stab at clarifying what goes on with argument-to-parameter mapping back in 2017 (so might be outdated): https://norswap.com/ruby-methods/
Might be useful to catch some of these corner cases.

[2020-10-06 16:06] #2115 closed

[2020-10-07 02:35] chrisseaton commented on #2053
Fixed by https://github.com/flori/json/pull/449.

[2020-10-08 15:54] gogainda opened #2118 "danger gem test failure: invalid byte sequence in UTF-8"
To reproduce:
[code]

[code]

[2020-10-08 21:48] bjfish commented on #2118
A small case to reproduce this:
[code]
Expected:
[code]

[2020-10-09 09:50] gogainda opened #2119 "diff-lcs gem test suit fails on truffleruby-head"
it doesn't happen on truffleruby
https://github.com/halostatue/diff-lcs/runs/1183738413

[2020-10-09 10:36] eregon commented on #2118
Maybe the Regexp `/n` flag works here for `#should_use_shell?`

[2020-10-09 10:38] eregon commented on #2119
[code]

Looks like we're missing a `coerce_to_path` to convert the argument to a String, will fix.

[2020-10-09 11:47] gogainda commented on #2119
btw I notice this issue by looking into https://github.com/eregon/truffleruby-gem-tracker build status

[2020-10-09 12:20] eregon commented on #2119
Thanks, the issue is helpful, I didn't have time to look at it much this week.

[2020-10-09 17:56] #2079 closed

[2020-10-09 20:56] #2109 closed

[2020-10-09 22:24] #2119 closed

[2020-10-10 10:12] eregon commented on #2090
@chrisseaton I can't see any diff on that link, could you check it?

[2020-10-10 10:21] eregon commented on #2107
With dentaku 3.3.4,
[code]

So it seems BigDecimal#** does not support a BigDecimal exponent yet.

If we try using the `bigdecimal` C extension gem (`gem i bigdecimal`), then:
[code]

Which @aardvark179 is working on fixing.

[2020-10-10 10:22] chrisseaton commented on #2090
Hmm sorry looks like I 'tidied up' this branch and deleted it. It's not in my reference log either. Sorry about that.

[2020-10-10 10:29] eregon commented on #2063
This is fixed in TruffleRuby, PR in prawn: https://github.com/prawnpdf/prawn/pull/1173/files

[2020-10-10 10:29] #2063 closed

[2020-10-10 10:30] eregon commented on #2067
The original issue is `no member named flags in struct RBasic` and that much is implemented.
Feel free to open a separate issue for this `RSTRING(asb)->as.heap.` usage.

[2020-10-10 10:30] #2067 closed

[2020-10-10 12:53] eregon commented on #2090
`labs()` is intrinsified by Sulong so that's why it doesn't reproduce:
https://github.com/oracle/graal/blob/505ac8d5fce0f00b6d4d30ea5c6ea9ea1fa97c09/sulong/projects/com.oracle.truffle.llvm.runtime/src/com/oracle/truffle/llvm/runtime/nodes/intrinsics/c/LLVMCMathsIntrinsics.java#L272

[2020-10-10 14:23] chrisseaton commented on #2054
Specifying upstream first in order to clarify the behaviour https://github.com/ffi/ffi/pull/830.

[2020-10-10 17:57] gogainda opened #2121 "http.rb gem test failure: sslv3 alert unsupported certificate"
How to reproduce:
[code]
Example:
[code]

[2020-10-12 08:56] #2090 closed

[2020-10-13 11:09] eregon commented on #2111
Fixed in 47ec1d30d12c29227fd22575b26f0fd83665b227 by @aardvark179

[2020-10-13 11:09] #2111 closed

[2020-10-13 14:55] gogainda commented on #2090
I run with latest truffleruby  https://github.com/lostisland/faraday/runs/1248204647?check_suite_focus=true
It's not clear what's happening there bc logs are not updating, but I believe we still have a problem with faraday

[2020-10-13 15:02] gogainda commented on #2090
@eregon

[2020-10-13 15:02] eregon commented on #2090
Could you file a separate issue?
It appears some of the specs are hanging, I think I saw it locally too for one of the adapters.

[2020-10-13 15:03] gogainda opened #2122 "faraday gem failure: tests are hanging on CI"
Example run: https://github.com/lostisland/faraday/runs/1248204647?check_suite_focus=true

[2020-10-13 15:13] eregon commented on #2107
With the fix by @aardvark179 to implement `llvm.usub.sat.i32`, it works with the bigdecimal gem:
[code]

So maybe we should just use the bigdecimal gem C extension by default (#1975).

[2020-10-13 15:16] eregon commented on #2122
@gogainda Could you cancel that run since it seems clear it hangs, and copy the output here since GHA logs are unavailable after some time?

[2020-10-13 16:27] eregon commented on #1982
As a note, on Linux, `grpc` installs but `require 'grpc'` fails (GR-23843):
[code]

[2020-10-13 19:27] gogainda commented on #62
Nice progress!

[2020-10-15 15:14] eregon commented on #2089
Thanks for the report.

Some numbers on my local machine, for
[code]

with
[code]
reporting the median result and the full process time.

oracle/truffleruby@3c7e1715e37d95c8f79e1e1c7228e66f35f77881
oracle/graal@c616f346ae4552c04be74fe927c81f6f45fd6e6e

* MRI 2.6: 0.13s / 0.206
* Native CE: 5.76s / 6.653
* Native CE `--engine.MultiTier`: 2.66s / 3.528
* Native CE `--engine.MultiTier --engine.Splitt

[2020-10-15 16:43] eregon commented on #2089
`yaml_parser_scan_plain_scalar` is a pretty huge function (AST 1528, IR  3481/11495, CodeSize  64169), and it seems Sulong takes a long time to compile it (~500ms).
And also it deopts twice

[code]

To get an idea of timing, using [time.rb](https://gist.github.com/eregon/3d5090d92907ff9b1a3dde16420cebfc):
[code]

[2020-10-15 17:07] eregon commented on #2089
A [flamegraph](https://eregon.me/svg/flamegraph_20201015-190336.svg) using:
[code]
shows (total) 60% in `parse`, 17% in `Psych::Nodes::Node#to_ruby`, 23% in `require psych`.

[2020-10-16 11:39] gogainda opened #2123 "json-schema test failure: InvalidAddressError"
Example:
[code]
To reproduce:
[code]

[2020-10-16 12:06] gogainda opened #2124 "Error in openssl 2 store verify"
Example:
[code]
from [here](https://travis-ci.org/github/cedarcode/webauthn-ruby/jobs/736339202)

[2020-10-16 14:12] eregon commented on #2004
We're now planning to target Ruby 2.7 for the GraalVM/TruffleRuby 21.0.0 release.

[2020-10-19 16:37] fniephaus opened #2125 "String interpolation requires additional step in debugger"
When I debug the following, I have to step over the line starting with `data = ...` twice:
[code]

It's not the case if I don't use string interpolation. @eregon is already working on a fix...

[2020-10-19 17:03] petenorth opened #2126 "performance degradation for bundle exec rake"
truffleruby 20.3.0-dev-ff47099e, like ruby 2.6.6, GraalVM CE Native [x86_64-linux]

There seems to have been a performance degradation running `bundle exec rake`

This can be seen from the following github workflow which compares head with different releases

https://github.com/petenorth/schools-experience/runs/1273889279?check_suite_focus=true

The two `Run docker build...` steps show the slow do

[2020-10-19 17:09] eregon commented on #2125
The issue seems that the  `LocalVarParseNode` for `method` is marked as `newline` in the JRuby AST, as well as the `data = ...` assignment, so then we have 2 nodes on the same line being recognized as statement.
TruffleRuby uses this `newline` marking from the JRuby AST to mark statements.

This also seems an issue on JRuby master jruby/jruby@2d12159ade4dc1fc062ec2480e280d9723068eee.
To mark newli

[2020-10-19 17:19] eregon commented on #2125
While trying to debug this, I noticed JRuby marks every `;` as `newline`:
[code]

[code]
See all the `4 NL`.
So maybe the `#{}` of String interpolation is considered an "end of statement", similar to `;`?

Should we stop multiple times if there are `;` on the same line in the debugger with `next`?

[2020-10-19 17:21] eregon commented on #2125
JRuby only reports the line once for `Coverage` and `TracePoint` though, so I guess there is some logic to only count lines once.

[2020-10-20 12:39] chrisseaton commented on #2053
That's merged now. I'll close on anticipation you'll pick up the new version soon enough.

[2020-10-20 12:39] #2053 closed

[2020-10-20 13:50] eregon commented on #2053
I'll watch (= enable notifications for) the `json` repo for releases.
We should probably use the json version that MRI uses for the stdlib though.
So if this fix is important, we could manually cherry-pick it on top of the stdlib version.
Do you think that's worth it? Are some tests failing without it?

We might also consider switching to the C extension for maximum compatibility, the main questio

[2020-10-20 13:51] chrisseaton commented on #2053
It caused a spec to fail in practice.

But it's not actually a problem - minor workaround to allow for it. I wouldn't cherry-pick it.

[2020-10-20 19:30] enebo commented on #2125
@eregon There is history here and JRuby acts the same way as MRI (or at least unless something changed recently).  newline in AST used to be a full node and not an attribute circa (1994-2012?).  It represents a statement demarcation...and yes it was called newline.  JRuby realized this could just be a field on the node and at some point MRI also came to the same conclusion and neither implementati

[2020-10-20 19:44] eregon commented on #2125
@enebo Thank you for the explanation :)
Do you know where the code to detect the actual new lines is in JRuby? Is it like a `boolean[]`, or something else?

It seems the least-deep `NL` should be used as a "line marker". That means we probably need an extra pass for that, or check the flag before recursing into children, as leaf nodes are explored first with the visitor.

I wonder how hard it woul

[2020-10-20 21:39] enebo commented on #2125
@eregon for eventing we generate lists of instrs so we record the last line emitted and if it is the one we are currently processing we know we already have emitted a line/event for it and skip the duplicates.  The natural traversal ends up being proper order for this.

You could add another flag for this.  I do also wonder how much we use newline for statement reasons at this point as well.  That

[2020-10-21 17:06] aardvark179 commented on #2126
I can reproduce this locally and have narrowed it down to a TruffleRuby change rather than any of dependencies. I'll work to identify the precise cause of the decreased performance here. Have you been running the job against head for long, and if so do you have any idea when it started to regress?

[2020-10-21 17:30] MSP-Greg opened #2127 "Running `bundle install --jobs 4 --retry 3` intermittently throws `[ruby] WARNING OutOfMemoryError`"
Using truffleruby-head with GitHub Actions, see:
https://github.com/MSP-Greg/puma/runs/1288146881?check_suite_focus=true#step:5:9

Maybe something with zlib?  Some of the log:
[code]

Reminder - this is an intermittent error...

[2020-10-21 17:41] eregon commented on #2127
The `rb_rescue2` TypeError is from
https://github.com/oracle/truffleruby/blob/d84da65fc8531aca9e1e397e1a75eee83834b655/src/main/c/zlib/zlib.c#L2409-L2411
and
https://github.com/oracle/truffleruby/blob/d84da65fc8531aca9e1e397e1a75eee83834b655/src/main/c/cext/exception.c#L79-L91
and
https://github.com/oracle/truffleruby/blob/d84da65fc8531aca9e1e397e1a75eee83834b655/lib/truffle/truffle/cext.rb#L1503

[2020-10-21 17:51] petenorth commented on #2126
https://github.com/petenorth/schools-experience/actions/runs/268120979

and

https://github.com/petenorth/schools-experience/actions/runs/268120979

these builds were 28 and 29 days ago respectively so between the 23rd and 24th of Sept .

[2020-10-21 18:07] MSP-Greg commented on #2127
@eregon - I have no idea, just the messenger...  Thanks.

[2020-10-21 18:09] eregon commented on #2127
Yeah I know, just making notes of what I found and how to help fix this :)

[2020-10-22 03:16] knu opened #2128 "SystemExit behavior should be extended to its subclasses"
Raising an instance of an exception class that inherits SystemExit results in normal exception handling.  It looks like the default exception handler checks if `exception.equal?(SystemExit)` instead of `exception.is_a?(SystemExit)` to decide whether it should dump a backtrace and exit with 1 or silently exit the process with a given status code.

[code]

Here's how MRI works:

[code]

[2020-10-22 14:21] eregon commented on #2116
I filed an issue on the CRuby tracker: https://bugs.ruby-lang.org/issues/17280

[2020-10-23 09:53] aardvark179 commented on #2126
Thank you for bringing this to our attention. We've isolated the problem and are testing a PR to fix this internally.

[2020-10-23 10:41] eregon commented on #2088
I was thinking the problem might be deeper than that if e.g. RubyGems loads a C extension.
If that was the case, the only reasonable solution would be to use Managed Sulong and GraalVM EE (C extensions need native access without Managed Sulong).
Luckily it seems the current RubyGems doesn't load any C extension for e.g. `require 'ruby2_keywords'` (which is a pure-Ruby gem).

For instance FileUtils

[2020-10-23 14:46] aardvark179 commented on #2126
The change has now been merged in c65196d, so I'll close this bug.

[2020-10-23 14:46] #2126 closed

[2020-10-23 17:54] bjfish commented on #2124
The gemfile `openssl_2_0.gemfile` appears to no longer be tested.  I did run the tests for this and saw two failing examples:
[code]

I've written a spec which I think recreates the issue (third example):
[code]

[2020-10-23 18:29] petenorth commented on #2126
Yes  - that has fixed it and possibly improved it! It also seems to have improved the 'spin up' step which @eregon noted had slowed down.

[2020-10-23 18:45] petenorth opened #2130 "Intermittent exception thrown in bundle install (TypeError: class or module required for rescue clause)"
truffleruby 20.3.0-dev-1fb68a0e, like ruby 2.6.6, GraalVM CE Native [x86_64-linux]

[code]

Full github workflow

https://github.com/petenorth/schools-experience/runs/1299590958?check_suite_focus=true

[2020-10-23 18:48] eregon commented on #2126
The issue was a copy-paste mistake that causes both the $LOAD_PATH and $LOADED_FEATURES caches to have a lot more misses.

There seems to be quite some gain, also on specs :smiley:

https://github.com/petenorth/schools-experience/runs/1299494239?check_suite_focus=true
old run (from above): https://github.com/petenorth/schools-experience/runs/1273889279?check_suite_focus=true

step | 20.1 | 20.2 |

[2020-10-23 18:50] eregon commented on #2130
I think it's the same as https://github.com/oracle/truffleruby/issues/2127#issuecomment-713741999
I'll try to fix it soon.

[2020-10-24 13:59] eregon commented on #2108
Fixed by https://github.com/oracle/graal/commit/8a96bec03e19a666ae749cce35f8e895a6561844 (fixes in SDK Launcher) and b9a4cbdc9351b012bd82848291c6544ec4d87515 (specs for it & simplifications).

[2020-10-24 13:59] #2108 closed

[2020-10-25 21:38] chrisseaton commented on #2108
Great thanks very much for that.

[2020-10-26 13:12] eregon commented on #2124
@gogainda The CI seems to pass on TruffleRuby in https://github.com/cedarcode/webauthn-ruby/pull/334, so I guess we can close this?

[2020-10-26 13:51] gogainda commented on #2124
@eregon yes we can close it.  It's passing because openssl 2.0 is not part of a test suit anymore

[2020-10-26 13:56] eregon commented on #2124
Actually I renamed the issue to track what @bjfish found in https://github.com/oracle/truffleruby/issues/2124#issuecomment-715489148, that still seems an issue (just not blocking webauthn-ruby anymore).

[2020-10-26 15:26] aardvark179 commented on #1484
Now we've refactored how special variables are handled we can actually implement this pretty efficiently. Essentially we can do something like
[code]
This isn't quite perfect, we should ideally have a marker value so we can correctly detect when $~ and $_ have been specifically changed to `nil`. There are a couple of places where we need to change this, but it's a fairly small change overall.

[2020-10-26 18:56] steventamm commented on #2088
The rubygem I'm using (restforce) doesn't appear to include any C extensions in itself or its dependencies.  It does require native access for httpclient calls from the faraday gem, but I was planning on overriding that post load.  But I didn't get that far due to this issue.

Since this seems like a large feature request replacing calls to POSIX from file.rb to calls to TruffleFile, I kind of she

[2020-10-28 12:52] eregon commented on #1918
We now track the performance of `bundle install` on the https://github.com/oracle/truffleruby/tree/master/test/truffle/ecosystem/blog6 app (from `.gem` files to avoid network variance).

[2020-10-28 18:36] gogainda opened #2133 "ruby-git test failure: undefined method `ord' for nil:NilClass"
Exception:
[code]

Hot to reproduce:
[code]

[2020-10-29 10:45] eregon commented on #2133
It sounds like some bug in the `String#chomp!` logic, or some concurrent mutation of that String.

[2020-11-02 17:43] eregon commented on #2128
Thanks for the report, we will fix soon.

[2020-11-02 17:44] eregon commented on #2133
@bjfish Could you look into this?

[2020-11-02 21:17] bjfish commented on #2133
A minimal example to reproduce this:
[code]

[2020-11-03 10:56] eregon commented on #2128
Fixed in fa7e76067d49780b458988f0ef73473c57bb690c.

[2020-11-03 10:56] #2128 closed

[2020-11-03 11:08] aardvark179 commented on #1484
This has resolved in https://github.com/oracle/truffleruby/commit/94d8eb08c75a696cd829c6cad5f9919cd137086d using a variation of the technique I suggested above, so I will close this bug.

[2020-11-03 11:08] #1484 closed

[2020-11-03 13:25] norswap commented on #1982
grpc pull request: https://github.com/grpc/grpc/pull/24632

[2020-11-03 18:29] bjfish commented on #2133
This is now fixed at https://github.com/oracle/truffleruby/commit/e10f084a14c08ff4b7ba7e4a9089e27e6af2a39d.

[2020-11-03 18:29] #2133 closed

[2020-11-04 14:47] eregon commented on #2130
Fixed in 953cc2173723074a388a01fe12cf8ea39094ed0f, thanks for the report.
(the spec for it unfortunately checked for a TypeError going through, and we raised another TypeError due to the bug, which got unnoticed)

[2020-11-04 14:47] #2130 closed

[2020-11-04 14:49] eregon commented on #2127
The actual `rescue2` error is fixed in 953cc2173723074a388a01fe12cf8ea39094ed0f, thanks for the report.
(the spec for it unfortunately checked for a TypeError going through, and we raised another TypeError due to the bug, which got unnoticed)

I'd like to close this issue, but feel free to reopen or comment if an OutOfMemoryError happens again, the `rescue2` might not be the root cause of the OutO

[2020-11-04 15:04] MSP-Greg commented on #2127
@eregon

Thanks.  Oddly, I just saw the error in [nio4r CI](https://github.com/socketry/nio4r/runs/1350376820#step:5:9) yesterday.  I knew you'd get to it sometime.  If I see it again, I'll reopen.

Question - would you suggest running CI with truffleruby-head as a normal job (not 'allow-failure')?

The question is somewhat clouded since 'allow-failure' doesn't really work in Actions...

[2020-11-04 15:37] bjfish commented on #2123
@gogainda I see this and other failures when I run the tests with `MRI 2.6.6`. It appears the current build matrix does not include 2.6.6: https://github.com/ruby-json-schema/json-schema/blob/765e6d8fdbfdaca1a42fa743f4621e757f9f6a03/.travis.yml

Both TruffleRuby and MRI 2.6.6 appear to result in `363 runs, 1543 assertions, 0 failures, 9 errors, 0 skips`.

[2020-11-04 16:05] gogainda commented on #2123
@bjfish so i guess it's not an issue of Truffleruby, so we can close it

[2020-11-04 16:10] #2123 closed

[2020-11-05 11:16] eregon opened #2136 "A way to mark C extensions as thread-safe, so they can be executed in parallel"
TruffleRuby supports C extensions, but for scalability it is important to run at least some of them in parallel (e.g., HTTP parsing in Puma). This was notably mentioned in my [RubyKaigi talk](https://speakerdeck.com/eregon/running-rack-and-rails-faster-with-truffleruby?slide=17).
So we need a way to mark a given C extension as thread-safe, so we know we do not need to acquire a global lock when ex

[2020-11-06 09:43] fniephaus opened #2138 "[interop] Cannot use foreign objects as keys in Hash due to #hash NameError"
Looks like foreign objects do not expose `#hash`? I think it should be provided through `InteropLibrary`'s [`identityHashCode`](https://www.graalvm.org/truffle/javadoc/com/oracle/truffle/api/interop/InteropLibrary.html#identityHashCode-java.lang.Object-).

## Repro Session
[code]

[2020-11-06 09:45] chrisseaton commented on #2138
Ruby's `#hash` isn't an identity hash, though.

[2020-11-06 10:59] eregon opened #2139 "Some Truffle::Interop methods have inconsistent names"
For instance, https://github.com/oracle/truffleruby/blob/516b3ee9d51d79ccd9c2820c11f6531a9b177e97/doc/contributor/interop.md#how-to-explicitly-send-interoplibrary-messages-from-ruby---explicit-polyglot-api says

But actually currently it's `Truffle::Interop.is_string?` and not `Truffle::Interop.string?`.
We should rename in `InteropNodes` it to match the docs (no leading `is_`, there are a few cas

[2020-11-06 11:04] eregon commented on #2138
We need support for hashcodes in InteropLibrary for this to work correctly.
Otherwise there is no way to know how to hash a foreign object (not just by identity).
cc @chumer

When using a `{}.compare_by_identity` Hash, then we should use `InteropLibrary#identityHashCode()` (might not be the case yet).

[2020-11-06 11:39] fniephaus commented on #2139
Also, several new Interop APIs are not yet exposed, for example `date?`or `has_identity?`.

[2020-11-06 11:47] eregon commented on #2139
I think

is a bit optimistic.

We would need to add a test that lists all InteropLibrary methods and verify they are defined on `Truffle::Interop`.
Probably feasible by using reflection in a static initializer.

[2020-11-06 21:55] gogainda opened #2140 "ruby-git test failure: test_archive.rb:40"
[code]
To reproduce:
[code]

ruby mri 2.6.6 works fine

[2020-11-06 23:33] ColinDKelley opened #2141 "intermittent SEG FAULT when running CI tests for listen gem"
We recently added truffleruby to the CI test suite for the `listen` gem. A recent build failed there with a SEG FAULT.

The backtrace indicates truffleruby/21.0.0-dev-f8b272f9

@gogainda suggested filing a ticket over here.

[code]

More details here:
https://github.com/guard/listen/issues/507

[2020-11-07 14:20] eregon commented on #2141
Thanks for the report.
Interesting, we've seen a very similar issue on one of the benchmarks, but only in the Native CE  runtime configuration, with MultiTier enabled (GR-27140):
[code]
`man 2 read` on Linux says:
[code]
So maybe the buffer address we give is somehow invalid.
We'll investigate.

I think it's not a good idea to use both `--engine.MultiTier --engine.Mode=latency` though.
So I would

[2020-11-07 15:32] gogainda commented on #2141
I was playing around with different options to make it run within 6 min. Based on the latest run it looks like truffleruby's become much faster and those parameters are not needed anymore
https://github.com/guard/listen/runs/1367971525

[2020-11-07 15:32] gogainda commented on #2141
Corresponding PR https://github.com/guard/listen/pull/511

[2020-11-07 17:39] eregon commented on #2141
@gogainda Thanks!

I believe that will solve the issue, so I'll close this.
Feel free to reopen if it happens again.

[2020-11-07 17:39] #2141 closed

[2020-11-07 17:50] gogainda commented on #1704
Similar issues I see in here https://travis-ci.org/github/doorkeeper-gem/doorkeeper/jobs/742109333
[code]

[2020-11-07 17:52] eregon commented on #2139
We'll add a test and make sure all InteropLibrary messages are exposed as methods on `Truffle::Interop`.

[2020-11-09 12:16] eregon commented on #2127
I saw it in https://github.com/ruby/setup-ruby/runs/1373979628?check_suite_focus=true
[code]

[2020-11-09 14:17] GuiTeK opened #2142 "TruffleRuby taking 20+ seconds for ActiveRecord query while MRI is taking about 0.5 second"
I learnt about TruffleRuby a few days ago and decided to give it a try on a Ruby on Rails API project.

I was interested to see if TruffleRuby could give me a performance boost on an extensive endpoint which:
* Retrieves lots of data from a PostgreSQL database (about 3500 entries)
* Does some computations on all these entries

**With MRI, this endpoint takes about 0.8 second to complete** split li

[2020-11-09 15:16] eregon commented on #2142
Thanks for the report.

It is not expected to have such a large difference.
Could you share a reproducer so we could analyze what's so slow?

[2020-11-10 12:59] eregon commented on #2139
Fixed in bdf0785e65c28ec565c03be381c2a0a7f3200b18, now all `InteropLibrary` messages are exposed as methods on `Truffle::Interop` with names consistent with the docs, and there is an automated test for it.

[2020-11-10 12:59] #2139 closed

[2020-11-10 13:10] eregon commented on #2004
I merged initial support for Ruby 2.7 in 08187f1f6e59dc72971e0f0acd94beb01306615c.
That updated the stdlib, default and bundled gems, and some basic fixes needed to get the tests running.
The new IRB seems to work well.
The Bundler is stdlib is now Bundler 2 like MRI.

Remaining:

* [ ] Implement keyword arguments changes from 2.6
* [ ] Implement `def m(**nil)` (https://github.com/oracle/truffleru

[2020-11-10 13:20] eregon commented on #2004
I'll also copy the checklist from https://github.com/ruby/spec/issues/745 as it might be useful to track progress, and to show individual things to fix.
Some of these items might already be done.

NOTE: https://rubyreferences.github.io/rubychanges/2.7.html gives more details for many features and changes.
From https://github.com/ruby/ruby/blob/v2_7_0/NEWS:

## NEWS for Ruby 2.7.0

This document is

[2020-11-10 13:27] zofrex opened #2143 "String#unpack('w*') does not return all values"
Calling `unpack` on a string with the format string `w*` gives incorrect results:

[code]

As you can see it's unpack that is dropping the data here, not pack.

It seems like it's possibly only returning values with an index that's a power of two, perhaps?

[code]

[2020-11-10 13:47] eregon commented on #2143
Thanks for the report, it seems a clear bug.

[code]

[2020-11-10 14:17] fniephaus commented on #2139
Excellent, thank you @eregon!

[2020-11-10 14:57] aardvark179 commented on #2136
There are two main places where we would need to fix things, when creating the studs that wrap C methods, and when making calls into the Ruby runtime which would release and reacquire the lock. I think we can do this through a macro (call it `__TRUFFLERUBY_NO_MUTEX__`) which can be set to 1 before including our standard headers to indicate that this extension should not use locks, but we would the

[2020-11-10 16:03] eregon commented on #1835
There was a lot of progress here, mostly by @bjfish. The Translator no longer needs a context, and the AST no longer stores the RubyContext now.
The biggest part remaining is how to do method calls and constant reads inline cache nicely (i.e., not caching on context-specific objects) with a shared AST.

[2020-11-10 16:11] eregon commented on #2136
I was thinking the main place where we take the lock is `rb_define_method` and friends, and those we can simply read from a thread-local when defining functions to know whether we use a variant acquiring the lock or not. But it seems there are quite a few other usages of `Primitive.call_with_c_mutex*`, we should review them.

[2020-11-10 19:21] eregon opened #2149 "Integrate foreign objects better with Ruby objects"
Currently, foreign objects are handled specially in `OutgoingForeignCallNode`.
They are given a Ruby class, `Truffle::Interop::Foreign` but actually methods are not looked there, all method calls are directly dispatched to `OutgoingForeignCallNode` instead.

I think a better design would be to have a set of modules and classes for foreign objects, and make foreign objects behave more like Ruby obj

[2020-11-10 19:27] eregon commented on #2149
It might be better to inherit from the core Ruby types actually, like `class Polyglot::ForeignArray < Array`, and `Polyglot::ForeignObject` could just be a module instead. That means things like `foreign_array.is_a?(Array)` would be true.

[2020-11-11 11:37] gogainda opened #2151 "scss-lint enexpected error on exit: rb_xmalloc_mul_add cannot be found"
For **truffleruby 21.0.0-dev-0b6d7ffe, like ruby 2.7.2, GraalVM CE Native [x86_64-darwin]**
4 failures(expected) and some unexpected error on exit:
[code]
For **truffleruby 21.0.0-dev-f8b272f9, like ruby 2.6.6, GraalVM CE Native [x86_64-darwin]** release
it is still 4 failures but exception details are correct:
[code]

[2020-11-11 14:45] eregon commented on #2151
Thanks for the report, we need to implement `rb_xmalloc_mul_add`, I'll do that.

[2020-11-11 17:57] gogainda commented on #2151
strange that it didn't happen in older builds

[2020-11-11 18:08] eregon commented on #2151
We just upgraded to 2.7, and that uses a newer version of Ripper, which uses that function.

[2020-11-12 00:08] #2151 closed

[2020-11-12 16:20] fniephaus commented on #2149
In theory, you could generate all sorts of Ruby classes each with a different combination of traits. On class lookup, TruffleRuby could return the best possible fit depending on the interop properties of the foreign object (e.g. `hasArrayElements` and such). That still wouldn't get you past the inheritance problem, so `is_a?` calls might need to be special-cased for foreign objects as well (e.g. r

[2020-11-12 16:29] eregon commented on #2149
Right, it would be nice if they have a name though, for inspection/debugging. But we could generate the classes dynamically from Java or from Ruby I suppose. I think initially I'd keep it static while we have few traits handled in Ruby.

That's a good point, handling foreign object specially in `is_a?/kind_of?/Module#===` would be one possibility.
However it kind of breaks the consistency of "fore

[2020-11-13 15:55] rbotafogo commented on #2149
I tried to implement some of the ideas, but had the following two problems:

1) class ForeignArray was implemented inside of array.rb file. This is clearly wrong, but I didn't find yet a way of requiring a new file when lauching.
2) Where in the directory hierarchy should ForeignObject, ForeignArray, and all the traits be added?

[2020-11-13 18:17] eregon commented on #1827
A bit more details, the current blocker is struct-by-value support in Sulong (which is being worked on).

Looks like it's StartupData, defined as:
[code]
in V8.

And CreateBlob returns StartupData: https://v8docs.nodesource.com/node-7.10/d6/d77/classv8_1_1_snapshot_creator.html#a45faf27c079e8d42b75d2799d9d497a5

We could try to execute V8 as bitcode on top of Sulong to workaround that not-yet-impl

[2020-11-14 12:12] petenorth opened #2156 "NullPointerException in FrameUtil.getObjectSafe escaping from Interpreter"
I've started seeing the following exceptions when running Cucumber tests

https://github.com/petenorth/schools-experience/runs/1399517944?check_suite_focus=true#step:8:90

[code]

[2020-11-14 13:32] eregon commented on #2127
It was quite tricky to reproduce, because this OOM actually happens when downloading the full index with all gem versions, and that gets cached. But on GitHub Actions, that index is not cached, if there is no Gemfile.lock, and so in that case is downloading once per workflow job.
That index is 5957796 bytes (5.7MB) compressed, 15513690 bytes (14.8MB) uncompressed, and it's read fully in the Ruby h

[2020-11-14 13:58] eregon commented on #2127
Simpler reproduction:
[code]

[code]

[2020-11-15 12:07] petenorth opened #2157 "Error installing pg gem on official GraalVM CE docker images (Oracle Linux)"
Using the following Dockerfile

[code]
Results in the following error

[code]

[2020-11-15 15:37] deepj opened #2158 "gem commands fails on macOS Big Sur due to Library "/usr/lib/libSystem.B.dylib" does not exist"
Hello,
I've switched to Big Sur 11.0.1 recently. I removed old gems (`rm -rf ~/.gem/truffleruby`) and installed newly `truffleruby-ruby` via `ruby-build` (after switching to Big Sur). It fails on any gem command, even on `-v` to get a version of rubygems.

[code]

My TruffleRuby version
[code]

[2020-11-15 17:40] gogainda opened #2159 "wrong number of arguments (given 2, expected 1)"
latest grape gem fails in multiple places with the same error :
[code]
full logs could be found [here](https://travis-ci.org/github/ruby-grape/grape/jobs/743741776)

[2020-11-15 18:46] ssnickolay commented on #2004
I'll start with `Added Complex#<=>.`, if you do not mind //cc @eregon

[2020-11-16 11:33] eregon commented on #2159
@gogainda Thanks for the report.
I'm not sure what you use to copy-paste, but it seems to introduce an extra blank line which is rather noisy. Could you try to fix for new bug reports?

This seems to likely be an extra empty Hash passed to `initialize`, so probably we need the 2.7 semantics of `**hash` passing nothing to fix this + handling `ruby2_keywords`.
https://github.com/rack/rack/blob/1d70c

[2020-11-16 11:40] eregon commented on #2158
That seems to indicate that Big Sir is not backward compatible and cannot run some programs built on Catalina then.

This line means it failed to load the `etc.bundle` extension.
Could you show what `otool -L ~/.rubies/truffleruby-dev/lib/mri/etc.bundle` prints?

[2020-11-16 11:59] eregon commented on #2157
Did you try on another Docker image, does it work there?
Oracle Linux 7 is quite old I'm afraid.
FWIW I tried to see if it would work on a system ruby, and it does not:
[code]
[code]

It seems there are some `-ol8` images on https://hub.docker.com/r/oracle/graalvm-ce/tags which is more recent and might work better.

[2020-11-16 12:49] deepj commented on #2158
@eregon

[code]

[2020-11-16 12:56] eregon commented on #2158
Could you also post `otool -L path/to/etc.bundle` for CRuby to compare?
BTW, does a CRuby installation form before Big Sur still works after the upgrade?

And I guess `/usr/lib/libSystem.B.dylib` does not exist?

Under https://developer.apple.com/documentation/macos-release-notes/macos-big-sur-11_0_1-release-notes#Kernel

So Big Sur doesn't even have a libc on disk anymore, that might be the break

[2020-11-16 13:08] deepj commented on #2158
@eregon
1. CRuby 2.7.2 was compiled on Mojave (I skipped Catalina entirely) and it seems everything works
2. Indeed, `/usr/lib/libSystem.B.dylib` does not exist

[code]

[2020-11-16 13:36] eregon commented on #2158
Thanks. I found an internal issue for this (GR-26569), changes in Sulong or Truffle NFI might help to fix this, let's see.

[2020-11-16 14:25] eregon commented on #2156
@aardvark179 Could you take a look at this one?

[2020-11-16 20:32] bjfish commented on #2140
I have been unable to reproduce this error on the latest build. @gogainda can you still reproduce this error?

[2020-11-16 20:46] gogainda commented on #2140
@bjfish it works for me as well now, thanks for checking

[2020-11-16 20:49] #2140 closed

[2020-11-16 23:01] eregon commented on #2159
I'd guess this code causes this: https://github.com/ruby-grape/grape/blob/42489c243c78761238093c40f5af2b2bb9a05580/lib/grape/middleware/stack.rb#L35-L45
It uses `*args, **opts`-delegation, which is not correct in some cases on 2.7.
It should use `ruby2_keywords` instead.

[2020-11-16 23:56] petenorth commented on #2156
Hopefully the following is a simpler project with a GitHub workflow which shows the difference in behaviour between HEAD, 20.2 and MRI (the latter two behave in the same way).

https://github.com/petenorth/gsub-tests/runs/1409321836?check_suite_focus=true

The matrix provided to the workflow is made up of [2.6, truffleruby, truffleruby-head] these correspond to MRI,  20.2 and HEAD respectively.

M

[2020-11-16 23:57] chrisseaton commented on #2156
I've seen these as well. Can't give you a reproducer right now I'm afraid.

[2020-11-17 00:05] petenorth commented on #2086
Possibly related to #2156

[2020-11-17 11:45] eregon commented on #2156
@petenorth @chrisseaton Do you see this NullPointerException consistently or is it transient?

[2020-11-17 12:16] aardvark179 commented on #2156
I've not been able to reproduce this locally, so I'm not sure if it's a race or compilation bug. What I can do for now is improve the error reporting  when this problem occurs which should help use narrow down where the problem is occurring in Ruby code, and whether we've made some assumption that is not actually valid.

[2020-11-17 13:22] petenorth commented on #2156
I experience it consistently on every run.

[2020-11-17 14:22] chrisseaton commented on #2156
Sorry I can't remember where I've seen it, but I definitely recognise seeing it. Sorry that's not very helpful.

[2020-11-17 14:41] eregon commented on #2156
The `-head` builds are a bit old (5 days) due to some macOS/jt issue, will fix and then let's try again to repro with the newer builds.

[2020-11-17 19:00] petenorth commented on #2156
[code]

[2020-11-17 19:31] bjfish commented on #2143
This is now fixed at: https://github.com/oracle/truffleruby/commit/430460473e189a7588f3b667ff4094f0e72b3ff4

[2020-11-17 19:31] #2143 closed

[2020-11-17 22:04] bjfish commented on #2118
This is fixed at: https://github.com/oracle/truffleruby/commit/4460362c343bee840cbefddc0d9dd8f7eb39c7df

[2020-11-17 22:04] #2118 closed

[2020-11-18 09:53] gogainda opened #2163 "danger gem test failure: extra space in json object"
[code]
it could be related to https://github.com/oracle/truffleruby/issues/2053 but I am not sure

[2020-11-18 11:58] eregon commented on #2163
Yes, it's the same as #2053.
Ruby 2.7.2 doesn't include a recent enough version of JSON to fix it.
So we have 3 choices:
* Update to latest JSON, but this means the default json gem will be newer than on MRI
* Use the JSON C extension, but in the past that was measured as slower at least in some cases
* Keep this incompatibility, the same would happen on CRuby 2.7.2 when using the pure Ruby JSON b

[2020-11-18 12:06] eregon commented on #1591
Ox 2.13.4 was released (https://github.com/ohler55/ox/issues/246), so now it installs and loads fine:
[code]

[2020-11-18 12:22] eregon commented on #2156
@petenorth There are new `truffleruby-head` builds now, could you trigger the `gsub-tests` workflow?
Most likely it still happens, but the backtrace should be a bit more understandable at least.

[2020-11-18 12:37] petenorth commented on #2156
Here are the results of the latest run

https://github.com/petenorth/gsub-tests/runs/1418047935

[2020-11-18 13:05] ohler55 commented on #1591
I should have followed up letting you know CI passed and Ox was released back in September.

[2020-11-18 21:00] eregon commented on #2156
I can reproduce it locally, thanks for the commands above, that was convenient.

[2020-11-18 22:27] gogainda commented on #2156
I see the similar issue on every run:

[code]

[2020-11-19 10:55] gogainda opened #2165 "commonmarker test failure: Member 'dfree' not found."
[code]

https://github.com/gjtorikian/commonmarker/

It doesn't happen to MRI Ruby 2.6.6

[2020-11-19 12:04] eregon commented on #2156
Thanks, I could figure out what was going on with the mutant reproduction.
This is a minimal reproducer:
[code]

For Method#to_proc we create a dummy declaration frame, and so we end up storing special variables there. But then on the normal call there is no declaration frame, and the node gets confused.

[2020-11-19 14:06] aardvark179 commented on #2156
I've talked this over with @eregon and we have a couple of potential ways to fix this. It looks like it has been a potentially long standing bug, but has been thrown into sharp relief by the changes to how we create and access storage for special variables. I'll prototype our potential fixes and add some specs so we can work out which pattern will work best and introduce the fewest additional comp

[2020-11-19 16:34] eregon commented on #2127
@norswap found out that this results in computing many SubstringRope's of a large ConcatRope (of ConcatRopes)*.
We end up materializing all byte[] for each SubstringRope and so in the end duplicating each byte many times.
We're considering some ways to address that.

I've also found that Net::HTTP can decode gzip-encoded contents itself, and it does so in a streaming fashion which seems to consume

[2020-11-19 21:49] #2158 closed

[2020-11-20 09:28] fniephaus opened #2166 "[interop] Add support for Date/Time/Duration/TimeZone/... interop types"
TruffleRuby lacks support for some interop types, for example `Date`:

[code]

Some of these types may be implemented in Ruby, so adding interop support could be a bit tricky. In TruffleSqueak, we currently plan to dispatch interop messages directly on the object, so for example `Date` objects will respond to `#isDate` and `#asDate:`.

[2020-11-20 11:02] eregon commented on #2158
@deepj This should be fixed now, thank you for the report.

[2020-11-20 11:09] eregon commented on #2166
It should be fairly easy for `Time`, which is in core (and considered faster).
Date/DateTime is a stdlib: https://github.com/oracle/truffleruby/blob/master/lib/truffle/date.rb so we'd need to add `polyglot_date?`/`polyglot_time?` and `polyglot_as_date`/`polyglot_as_time` and implement it there + somehow convert from the very different internal representations.
There are actually quite a lot of dat

[2020-11-20 11:34] fniephaus commented on #2166
Sounds good!

Why prefix interop messages with `polyglot_` rather than `interop_`? If someone looks at `interop_time?`, for example, it might be clearer that it's an interop message.

[2020-11-20 13:02] aardvark179 commented on #2156
A fix for this has been merged in 1861a67ba43603c00f7ccfee4cf06df18670d78f. I'll leave this issue open for a little while to give you all time to check this is resolved once there is a new build of truffleruby-head.

[2020-11-20 15:13] gogainda opened #2167 "bindata gem transient issues"
Test results are not consistent in terms of number of failed cases.
To reproduce:
[code]
then change the Rakefile file to test only one particular file
[code]
then run it multiple times like
[code]
for me it fails in different places every run, which doens't happen on MRI Ruby 2.6.6

[2020-11-20 15:32] eregon commented on #2167
Could you copy/paste an example output from the test suite in a gist, or at least an example backtrace? That gives a better idea what this issue about.

[2020-11-20 15:42] gogainda commented on #2167
@eregon added

[2020-11-20 15:54] gogainda commented on #2156
For mutant gem I still see some issues, but not ```getObjectSafe```, so I guess it works now. Waiting for @petenorth response

[2020-11-20 17:37] petenorth commented on #2156
The cucumber tests are now running so I'll see how far they get! Thanks for the fixing this.

Will the fix be included in a 20.3 patch release?

[2020-11-20 18:24] deepj commented on #2158
@eregon Thanks. I can confirm it was fixed!

[2020-11-20 19:39] eregon commented on #2159
Failures fixed by https://github.com/ruby-grape/grape/pull/2132 upstream.

For the remaining keyword arguments changes for 2.7, they are tracked in https://github.com/oracle/truffleruby/issues/2004.

[2020-11-20 19:39] #2159 closed

[2020-11-21 15:38] zofrex commented on #2143
Thank you! I can confirm that fix is working for my code.

[2020-11-21 16:26] eregon commented on #2166
In TruffleRuby, we consider anything named "polyglot" to be public API, and anything named "interop" to be more internal APIs.
Anyway, such methods are not called by the user, but they can be defined by the user, like https://github.com/oracle/truffleruby/blob/5fd2b6b4872b2464425cda26eacda4f24b89fdca/spec/truffle/interop/fixtures/classes.rb#L110

I'll add support for date/time messages for Ruby's

[2020-11-22 16:30] eregon opened #2169 "ExecJS backend based on GraalJS"
It would be nice to have a Graal.js backend for https://github.com/rails/execjs.
And that could be useful for https://github.com/oracle/truffleruby/issues/1827.

This is a clear use case for polyglot, and it also avoids needing to use slow external backends, or V8-based backends which seem much heavier and harder to support.
Using Graal.js means running TruffleRuby in `--jvm --polyglot` mode (avai

[2020-11-22 23:41] chrisseaton commented on #2169
Yeah would be great. There was a toy shim in `master` a long time ago?

[2020-11-23 11:14] eregon commented on #2169
There was a prototype specific to MiniRacer by @aardvark179 a long time ago (internal PR 75).

Current approach uses `Polyglot.eval()` for simplicity but as the TODO says we should use inner contexts or something similar for isolation.

[2020-11-23 12:39] eregon commented on #2166
Implemented for `Time` in 159cee8c8b93aec896a62027e300108226793117.

[2020-11-23 12:39] #2166 closed

[2020-11-23 13:51] eregon commented on #2156
We'll backport the fix to the 20.3 release branch, but it's not clear yet if there will be a release based on 20.3 before 21.0.0 comes out (19 Jan 2021).

[2020-11-23 13:53] gogainda opened #2170 "zlib issue: External LLVMFunction rb_lastline_set cannot be found"
[code]
To reproduce:
[code]

[2020-11-23 13:58] gogainda commented on #2087
Does it still happen?

[2020-11-23 14:19] eregon commented on #2087
It seems it did on the currently last run of Oct 30: https://travis-ci.org/github/whitequark/parser/jobs/740166119
But that used 20.2.0.
So the next run should pick 20.3.0 and might be fixed.

[2020-11-23 14:23] eregon commented on #2087
Ah, I missed that parser migrated to GitHub Actions, the last run seems fine, so I'll close this:
https://github.com/whitequark/parser/runs/1367893366

[2020-11-23 14:23] #2087 closed

[2020-11-23 14:26] eregon commented on #2170
Is TruffleRuby tested in https://github.com/ruby/zlib or is there a PR for it? Where does this run come from?

Anyway, good thing to fix, and we should be able to untag the corresponding MRI test.
@aardvark179 Can you take care of this one?

[2020-11-23 14:42] gogainda commented on #2170
zlib is not tested against truffleruby, I just run it locally

[2020-11-23 14:49] gogainda commented on #2170
There is a good discussion how to decrease MEM usage: https://github.com/ruby/zlib/issues/19#issuecomment-721615795

[2020-11-23 20:56] eregon commented on #2169
All 198 tests actually pass now with the updated branch and fixes which have been merged in Graal.js and TruffleRuby!

Still need to actually isolate the ExecJS contexts for correctness and to not need `--single-threaded`.

[2020-11-23 22:46] bjfish commented on #2116
This is now fixed at: https://github.com/oracle/truffleruby/commit/72d1f415e0472bc86a85b662d5539f96c8c92153

[2020-11-23 22:46] #2116 closed

[2020-11-25 00:51] chrisseaton opened #2171 "Kernel#binding isn't using the right binding from inside a C extension"
[code]

[code]

We've obviously got intermediate frames between the Ruby code and our C extension code, due to C extensions being implemented in Ruby. How do we reach back and find the right frame?

First step would be a spec.

Thanks to @XrXr for finding.

[2020-11-25 12:35] eregon commented on #2171
IMHO anything that accesses the frame or binding within a core method or a C extension is  not well defined.
Is there real code depending on this?
If not, I'm not sure it's worth the effort to try to emulate this unclear behavior.

I am not sure we can reasonably fix it for `rb_funcall(self, rb_intern("binding"), 0);`.
The caller of Kernel#binding in that case is whatever is around `rb_funcall()`,

[2020-11-25 12:37] chrisseaton commented on #2171
That's what I thought as well. Can you set local variables in a C extension method, for example?

[2020-11-25 16:12] bjfish commented on #2107
The bigdecimal C extension is now used and this is fixed at: https://github.com/oracle/truffleruby/commit/aa11d31adb031302a3b9e04d95c0376858c86b72

[2020-11-25 16:12] #2107 closed

[2020-11-25 16:15] bjfish commented on #2002
`BigDecimal` is now implemented using the C extension and the example now works at https://github.com/oracle/truffleruby/commit/aa11d31adb031302a3b9e04d95c0376858c86b72

[2020-11-25 16:15] #2002 closed

[2020-11-25 16:17] bjfish commented on #1975
`BigDecimal` is now implemented using the C extension at https://github.com/oracle/truffleruby/commit/aa11d31adb031302a3b9e04d95c0376858c86b72.

[2020-11-25 16:17] #1975 closed

[2020-11-25 16:20] bjfish commented on #1948
`BigDecimal` is now implemented using the C extension and the examples above now work at https://github.com/oracle/truffleruby/commit/aa11d31adb031302a3b9e04d95c0376858c86b72

[2020-11-25 16:20] #1948 closed

[2020-11-25 17:31] eregon commented on #2171
In TruffleRuby, yes, because there is an [actual Ruby method](https://github.com/oracle/truffleruby/blob/aa11d31adb031302a3b9e04d95c0376858c86b72/lib/truffle/truffle/cext_ruby.rb#L22-L42) calling the C function. In MRI most likely not.
If it seems worth to fix this, we'd need to pass some flag to https://github.com/oracle/truffleruby/blob/df6d1b8da8ef4dcd99a5ca831789a4bb80c13e17/src/main/java/org/

[2020-11-25 18:27] chrisseaton commented on #2171
Just a demo.

[2020-11-25 19:55] petenorth commented on #2156
@aardvark179 I think this can be closed now.

[2020-11-25 21:54] gogainda commented on #1415
@segiddins on my machine now it runs in 40 sec, could you retest it, please?
There were some improvements done on performance side, so looks like it may not be an issue anymore

[2020-11-25 21:57] gogainda commented on #2081
@jaimerave I see that Truffleruby runs much faster now than before, mb it's time to try to enable it on CI again?
Results of my recent runs
[code]

[2020-11-30 08:19] ocher commented on #1938
I'm having the same issue. We've got 763 routes in our app, and it takes quite a long time (with a very high CPU load) to start the app. Not sure if it is a number of routes, or the size of the app, but unfortunately at the moment it is a blocker and we cannot start using TruffleRuby.

[2020-11-30 11:11] gogainda commented on #1938
@eregon should we give this issue some attention?

[2020-11-30 11:17] gogainda commented on #1938
@ocher can you provide a sample application with reproducible issue?

[2020-11-30 11:41] ocher commented on #1938
@gogainda Unfortunately I'm not able to provide you a sample application, because it is our internal app which I cannot share. But I'm happy to test if you have anything new which you think should solve the problem. 👍

[2020-11-30 15:01] gogainda opened #2175 "shindo gem: hung test and eventual OS crash"
when you run shindo [gem](https://github.com/geemus/shindo) test suit it freezes on "execution" test and after 10 if you try to cancel it (^C) it crashes the MacOS

It's ok to crush but not OS
@geemus

Only happens on Truffleruby

[2020-12-01 18:12] norswap commented on #2004
I'll take a stab at the `rescue` parser bug.

[2020-12-02 14:42] norswap commented on #2004
I'm marking "The flip-flop syntax deprecation is reverted." as done, since it doesn't seem we emitted the deprecation warning in the first place.

[2020-12-02 15:11] LillianZ commented on #2004
Could you also mark enumerator#produce as done per https://github.com/oracle/truffleruby/pull/2160 ? Thanks!

[2020-12-03 10:53] eregon commented on #2175
@bjfish Could you try to reproduce?
It sounds very weird that the OS would crash.
No process should be able to crash the OS, of course, so it might be partly a macOS bug.

[2020-12-03 10:58] eregon commented on #2175
I could reproduce it on Linux, it seems running that test suite creates many subprocess, much like a fork bomb.

[2020-12-03 11:24] eregon commented on #2175
The issue is that the detection for which tests to run behaves differently on TruffleRuby, and ends up running all tests for every subprocess, instead of just the passed file. And since the tests create subprocesses running `shindo`, it recursively runs the entire test suite until out of processes or memory.

This is because of a `||=` assignment within `for`, which ends up on TruffleRuby creating

[2020-12-03 14:21] geemus commented on #2175
Hmm. Thanks for digging in to this. If you have something working, could you do a PR with it? I wanted to make sure I'm not missing anything in what you describe as the fix. Thanks!

[2020-12-03 15:35] ivoanjo opened #2176 "Kernel.rand in native mode massively slower than in jvm mode + MRI"
Hello there! :wave:

I was doing a few monte carlo toy experiments, and thought of checking out the performance with truffleruby and was really surprised to see it was slower than MRI even. I managed to isolate it to the performance of `Kernel.rand` being really bad in native mode.

Benchmark:

[code]

(P.s.: Due to [a bug](https://github.com/evanphx/benchmark-ips/pull/107) an empty `benchmark-res

[2020-12-03 15:38] eregon commented on #2175
@geemus It's literally just
[code]

I'd make a PR, but there seems to be no license and I'm rather busy with other things.
Of course, we should fix this in TruffleRuby, but it seems a good idea to initialize the variable more clearly too.

[2020-12-03 15:43] eregon commented on #1938
It would be interesting if you could share the results of "require profiling" as described in https://github.com/oracle/truffleruby/blob/master/doc/contributor/profiling.md#require-profiling

So something like:
[code]

[2020-12-03 16:00] eregon commented on #2176
I think @chrisseaton noticed this at some point too.
Probably it comes from the cost of the `synchronized` statement here:
https://github.com/oracle/truffleruby/blob/ab54d2d06f52036c11b977dc07e091a231024640/src/main/java/org/truffleruby/algorithms/Randomizer.java#L90-L96

`synchronized` is always a full lock on Native CE.

For usages like `Kernel.rand`, there is no need to lock (it's a thread-loca

[2020-12-03 18:27] geemus commented on #2175
Thanks for clarifying. I thought that was what you meant, but it wasn't obvious to me how/why that would solve the problem. That change certainly seems fine/safe, so I'll try to do that soon.

Apologies about the license, it should be MIT (as I have done with other things), but it must have gotten missed/forgotten somewhere along the line. I'll try to fix that soon.

[2020-12-03 19:54] geemus commented on #2175
* License/contrib info added here: https://github.com/geemus/shindo/commit/4d9989f39b7b5f0120063064fec3f3bbe34309f1
* `tests = nil` added here: https://github.com/geemus/shindo/commit/e628f0395a15410081d1800dc309d5a80515521e

If someone can confirm that does the expected behavior (I don't have truffleruby setup to do it myself), I can cut a release.

Thanks!

[2020-12-03 20:12] bjfish commented on #2175
@geemus I ran the test suite successfully on TruffleRuby.

[2020-12-03 22:26] gogainda commented on #2175
adding truffleruby support here https://github.com/geemus/shindo/pull/19

[2020-12-04 05:13] colorfulsing commented on #1525
hi guys, first of all, I want to thank you all for the amazing work that you guys have done with truffleruby.

Is there any update on this feature?

I have a heavy threaded app that uses selenium web driver within 50 threads that would really benefit by truffleruby. I have been looking forward to implement it on this app for a the last 2 years :)

[2020-12-04 10:08] ocher commented on #1938
There you go:

[code]

[2020-12-04 14:22] geemus commented on #2175
@bjfish Thanks for confirming.

@gogainda Thanks for adding that, in hindsight that seems like a pretty obvious way for me to have tested it as well, but it totally slipped my mind.

Fix released in v0.3.9.

[2020-12-04 14:41] eregon commented on #1525
@colorfulsing Did you see any issue from `childprocess`, can you post it here or in a gist?

Now we have FFI implemented, so I think the `posix_spawn` backend should work as good as on MRI.
The mentioned race above also exists on MRI, so I guess it's not any worse on TruffleRuby.

[2020-12-04 14:49] eregon commented on #1525
Actually the `posix_spawn` backend is not the default:
https://github.com/enkessler/childprocess/blob/c6260739e86c1cabd9baebd76f2058eea2b1ae16/lib/childprocess.rb#L73
[code]

If we activate it explicitly:
[code]
Which sounds like a FFI issue, we'll try to look at that.

The better solution would be to use Process.spawn though, so I'll file an issue on the gem repo for that.

[2020-12-04 17:55] colorfulsing commented on #1525
hi @eregon , thank you very much for the quick response.

I'm currently testing using standalone `truffleruby 20.3.0`, `childprocess 3.0.0` and `selenium 3.142.7` within a docker container using image `ruby:2.6.6-slim-stretch` as base and I have also unset both `GEM_HOME` and `GEM_PATH` env vars so thruffleruby works correctly using it's own gem path.

I have also installed these packages on the d

[2020-12-04 17:57] colorfulsing commented on #1525
It seems that it requires `fork` to be implemented on `core/kernel.rb`, not sure how it works to be honest.

[2020-12-04 19:04] eregon commented on #1525
Yes, the `fork+exec` backend of childprocess has no chance to work on TruffleRuby, JRuby and on Windows, `fork()` is simply not implementable there (well, maybe on TruffleRuby+Native but it would be total overkill for the purpose of `childprocess`).
That's actually something we need to fix in the `childprocess` gem, it should check `Process.respond_to?(:fork)` before attempting to use the `fork+ex

[2020-12-04 22:31] colorfulsing commented on #1525
I see, that's fine, I'm ok to add new env vars on our servers to avoid `fork+exec`, so I guess I will need to wait a little longer until the other issue is fixed before using `truffleruby`.

I'm really eager tho, that means that there is not much left before I'm able to implement it on our app :D

Thanks for the info!

[2020-12-05 13:22] deepj commented on #1850
It seems this is fixed in the recent master. Compilation is ok, and this works as well

[code]

[2020-12-06 10:48] eregon commented on #1850
Great, thanks for checking!

[2020-12-06 10:48] #1850 closed

[2020-12-07 11:53] amyspark opened #2178 "Pathname#/ alias is missing"
The `/ ` method (an alias to `+`) is missing from the `Pathname` class. git blaming shows that it was added in MRI [in 2.2.0](https://github.com/ruby/ruby/commit/391fc2eeecfc2f0d0f851b0c27ba02e041fe2cd9).

MWE (from `irb`):

[code]

Using truffleruby 20.3.0 from rbenv.

[2020-12-07 11:57] amyspark opened #2179 "Regexp.last_match(Symbol) is not supported"
The `Regexp` class does not parse or accept queries for named captures. This is a feature introduced in [MRI 1.9](https://github.com/ruby/ruby/commit/e56e8c758d8effb54144df0b61ca9d5f6b98a0cd).

This currently breaks Jekyll 4.1.1 in truffleruby.

MWE (from `irb`):
[code]

Using truffleruby 20.3.0 from rbenv.

[2020-12-07 12:11] eregon commented on #2178
Indeed, thanks for the report.

[2020-12-07 12:15] eregon commented on #2179
I think this only applies to `Regexp.last_match` with a Symbol argument, otherwise named captures work fine:
[code]

There are several issues in the example above, `match?` won't set `$?` and the group are non-capturing (`(?:`).

[2020-12-07 12:26] eregon commented on #2178
@amyspark In case you would be interested to contribute a fix, this issue as well as #2179 should actually be very easy to fix because they only require to change Ruby code, and to add a test/spec written in Ruby.
See https://github.com/oracle/truffleruby/blob/master/CONTRIBUTING.md for details about contributing, we're happy to help on the Slack channel.
Of course it's perfectly fine if you prefe

[2020-12-07 13:24] amyspark commented on #2179
Apologies, I just wanted a minimal test case to show you the stacktrace from Regexp. The actual one came from Jekyll and was way bigger.

[2020-12-07 17:21] chrisseaton opened #2180 "Expand what's run in GitHub Actions"
We'd like the majority of tests to be run in GitHub Actions. This should probably cover all specs, and possibly compiler tests. Maybe not the larger integration tests that depend on external gems and things.

[2020-12-07 17:41] chrisseaton commented on #2054
I'm waiting for a release of `ffi` to update for it.

[2020-12-07 17:44] eregon commented on #2180
That sounds good in general.

I actually tried to run all specs on GitHub Actions, but it seems there is some issue with signals:
https://github.com/eregon/truffleruby/runs/1458899992?check_suite_focus=true
I didn't have time to investigate yet, so it would be helpful if someone else can look into that.

[2020-12-07 17:46] chrisseaton commented on #2180
Yes we'll invest time in this at Shopify.

[2020-12-07 17:47] eregon commented on #2180
In that log, it looks like something "catches" these signals and prints them, maybe actions/runner or some shell is doing that somehow?
See
[code]
at the beginning of the log.

[2020-12-07 18:10] nirvdrum commented on #2180
It wouldn't be ideal, but I think you could run the tests/specs within a Docker container and avoid issues with the host environment intercepting signals.

[2020-12-07 21:20] deepj opened #2181 "Apple Silicon support"
I've just received Macbook Air with M1 as a replacement for my half-broken old Macbook Pro with Intel i5 what became very slow thanks to the bazillion security fixes for the Intel chip.

I tried to run TruffleRuby (`2.1.0.0-dev`) on the new Macbook and so far, so good. It's running under Rosetta 2 very well. I haven't noticed any issues yet.

So my question is, when we can expect TruffleRuby for A

[2020-12-07 22:00] chrisseaton commented on #2181
Blocked by https://github.com/oracle/graal/issues/2666.

I'm afraid this issue needs some expert attention by the people who manage things like JVMCI and JVM builds - this is really specialised stuff needing the Oracle build farm I think and I'm not able to do it myself.

[2020-12-08 10:41] eregon commented on #2181
Regarding builds on darwin-aarch64:
* GraalVM release builds: we need https://github.com/oracle/graal/issues/2666
* nightly builds: the above + GitHub Actions would need to support darwin-aarch64.

Until that's done I guess using Rosetta 2 is the best solution for running TruffleRuby on Apple's M1.

[2020-12-08 13:44] gogainda commented on #2004
taking Integer#[] now supports range operations

[2020-12-08 14:16] eregon commented on #2054
I'll update to the latest FFI specs, I think we don't need a release for that.

[2020-12-08 22:42] rickhull opened #2183 "Strings in a Range"
~~test case: `[*1..3, *8..10] #=> [1, 2, 3, 8, 9, 10]`~~

~~That shows the expected result.  I am not certain of the actual result in truffleruby.  I can't easily test against truffleruby directly.  I discovered this issue via a GitHub Actions testing matrix on one of my projects.  I am testing the result for `Array#size`, and on truffleruby and truffleruby-head, I get 2, instead of the expected n

[2020-12-08 22:45] bjfish commented on #2183
For the names failure, I can reproduce the issue with this example:
 ruby -e "a = [*'Α'..'Ρ', *'Σ'..'Ω']; p a.size"

 Expected
 `24`

 Actual
 `2`

[2020-12-08 22:45] chrisseaton commented on #2183
TruffleRuby `master`:

[code]

MRI compatible:

[code]

Both of these look like bad specialisations?

[2020-12-08 22:46] rickhull opened #2184 "TypeError: no case for org.truffleruby.core.cast.ToFNodeGen org.truffleruby.core.numeric.RubyBignum"
Here is the full error text: `TypeError: TruffleRuby doesn't have a case for the org.truffleruby.core.cast.ToFNodeGen node with values of type org.truffleruby.core.numeric.RubyBignum`

I encountered this error as part of a testing matrix for my GitHub Action CI on a project of mine.  This failure occurs for truffleruby and truffleruby-head but not for jruby or any MRI I tested.  Here is the CI oup

[2020-12-08 22:48] rickhull commented on #2183
Ah, then perhaps it is something with unicode?  I apologize if the test case was misleading.  I didn't have a way to actually try on truffleruby without manipulating the GH action CI.

[2020-12-09 13:26] eregon commented on #2183
Is there any issue to install TruffleRuby on your system?
It should be fairly easy if you use a Ruby installer/manager.

[2020-12-09 13:31] rickhull commented on #2183
At the moment, I am using a single Linux VM with limited drive space, running NixOS.  It is near capacity as it stands.  This is a solveable problem but not near the top of my stack at the moment.  I'm happy to SSH somewhere or use a web REPL to test snippets in the meantime.

[2020-12-09 14:24] eregon commented on #2184
Full log (GitHub Actions logs disappear after some time):
[code]

[2020-12-09 14:29] eregon commented on #2184
Looks like we need negated guards for https://github.com/oracle/truffleruby/blob/8ed19c0814ea020b8d896dc6be26a53201f252f0/src/main/java/org/truffleruby/core/MathNodes.java#L471
There is already a specialization handling `RubyBignum` but it isn't taken (because the Object specialization was activated first).

Also `ToFNode` independently should try to convert any Object too, not just RubyDynamicObj

[2020-12-09 14:31] rickhull commented on #2184
I am looking at the test case in my codebase.  I do have a conditional guard on certain values, noting: ` Fit.error warning: Bignum out of Float range`

Depending on platform and implementation details, it seems "legitimate" that certain Bignum's cannot be represented accurately by a float.  It's possible this failure has to do with Github's platform moreso than TruffleRuby itself.  I'm trying to

[2020-12-09 14:34] eregon commented on #2183
Simple reproducer:
[code]
Looks like some issues with handling Strings in Range.
`truffleruby -e "p 'Α'.succ.succ"` #=> "Γ" is fine, so it seems we should iterate with `succ` for Strings in a Range.

[2020-12-09 14:49] eregon commented on #2184
@rickhull This case is a clear bug, at least in the LogNode, there is already handling for RubyBignum due to some missing check in the generic case.

This is enough to reproduce the bug:
`ruby -e 'class C<Numeric; def to_f; 1.0; end; end; obj=C.new; [obj, (1<<65)].each { |e| p Math.log(e) }'`

[2020-12-09 14:50] rickhull commented on #2184
Glad I could help!

[2020-12-09 22:15] deepj commented on #2181
@chrisseaton @eregon thanks both for the answers

In fact, it's already possible to build for Mac ARMs using Github Actions on the recent Mac x86_64 machines since Xcode 12.2. Already this project (https://github.com/keeweb/keeweb/releases) builds own ARM Mac builds using GA.

On GA there aren't available any Apple Silicon machines for testing builds on them though. You build own releases and test

[2020-12-10 10:39] eregon commented on #2181
I think we'd want to have automated testing in CI before making darwin-aarch64 builds.
For instance I'm thinking for Ruby installers we should probably still pick the darwin-amd64 builds until the darwin-aarch64 builds are strictly better.

[2020-12-10 11:23] ivoanjo opened #2185 "Thread-local random number generation behavior in TruffleRuby does not match MRI"
Hello! While I was digging through the TruffleRuby sources and Ruby docs trying to see if I could take a stab at fixing #2176 I ran into a divergence from the MRI behavior.

In the docs for [`Kernel::srand`](https://ruby-doc.org/core-3.0.0.preview1/Kernel.html#method-i-srand) it's stated that

And this example is included:

[code]

This seems to state quite strongly that `Random::DEFAULT` should b

[2020-12-10 12:13] eregon commented on #2185
See https://bugs.ruby-lang.org/issues/17322 and https://bugs.ruby-lang.org/issues/17351
In short, `Random::DEFAULT` has always been a mistake, it doesn't scale, Ruby 3 won't use it anymore, and it will be deprecated.

So I think we can close this.
Does it cause any compatibility issue in practice?

Setting `srand` only makes `rand` deterministic when not using threads. When using threads (which ac

[2020-12-10 12:13] #2185 closed

[2020-12-10 13:15] eregon commented on #2054
@chrisseaton Specs updated in b06882f97697269ca218b6cba86f579f6a74df8d, that includes the `order` specs.
FWIW, I noticed there is things like `Long.reverseBytes()` in Java which might be useful.
`pack/unpack1` can also be useful to reverse, but seems much more heavy.

I'd recommend returning an instance of a FFI::Pointer subclass with reversed access, much like https://github.com/oracle/graal/blob

[2020-12-10 13:18] eregon commented on #1525
The fix in the TruffleRuby FFI backend was fairly trivial: ff8619d42bd0c39af2c907624560532f86de0045
So now
[code]
works.

What's left is auto-detecting this in `childprocess` and/or https://github.com/enkessler/childprocess/issues/172 so it'd work without any special setting (`CHILDPROCESS_POSIX_SPAWN=1` is needed until then).

[2020-12-10 14:17] ivoanjo commented on #2185
Thanks for clarifying it! I checked the truffleruby issues for any mentioning random but completely forgot to check the upstream Ruby bugtracker as well. :facepalm:

:+1: sounds good

I would imagine in some test suites there may be a corner-case here and there, but if upstream is also happy with moving away from this, I think the gain for the common case outweighs the gain in the corner case (and

[2020-12-10 16:37] eregon commented on #2176
I ran it locally with `jt benchmark`, and I see:
[code]

So it is indeed very clearly the `synchronized` mentioned above.

[2020-12-10 16:40] eregon commented on #2176
@ivoanjo If you want to give this a try, I'd suggest to add a boolean to `Randomizer` for whether to synchronize. That should be fairly straightforward and get most of the benefits.
I mentioned ConditionProfile above, but it's not relevant because all this code is anyway behind a `@TruffleBoundary` anyway (so it's not partially evaluated, and there is no gain to profile it with ConditionProfile).

[2020-12-10 17:19] bjfish commented on #2178
This is now fixed at: https://github.com/oracle/truffleruby/commit/2bc84bd6f97860e0daf5453b74acba4edc9365de

[2020-12-10 17:19] #2178 closed

[2020-12-10 21:29] bjfish commented on #2184
@rickhull This is fixed at https://github.com/oracle/truffleruby/commit/f3b1e5c17dcd3bca73e03b1767907d23b35baac2. Thanks for reporting this.

[2020-12-10 21:29] #2184 closed

[2020-12-10 22:06] bjfish commented on #2179
This is fixed at: https://github.com/oracle/truffleruby/commit/cda1364e72a03dcf3b00147a9726eb266c728376

[2020-12-10 22:06] #2179 closed

[2020-12-11 11:44] ivoanjo commented on #2176
Sounds good, I'll take a stab at it!

[2020-12-11 18:29] eregon commented on #2180
Looking a bit more into this, the `ruby_exe` calls of `spec/ruby/core/exception/signal_exception_spec.rb` end up using a shell:
[code]
because there is an `=` in there.

In that case we use `/bin/sh`, and that might differ from MRI, and the `/bin/sh` shell might be special on GitHub Actions.

[2020-12-11 18:36] eregon commented on #2180
Actually, MRI seems to not use a shell just because there is a `=`, so it doesn't use a shell for
`ruby -e 'system "a=1 sleep 500"'` (and it then needs to parse that env var being set).

With `ruby -e 'system "a=1; sleep 500"'` it does use a shell, which seems to be `/bin/sh` and resolves to `/usr/bin/bash` my system.
[code]

[2020-12-11 20:19] eregon commented on #2180
Using `-- --no-core-load-path` works around the issue, as it removes the `=`.
So we could use that, or improve the detection for `=`, or rewrite these specs to make sure they never use a shell.

[2020-12-12 00:50] chrisseaton opened #2187 "jt format and JNI_CreateJavaVM"
Sorry I'm pretty sure we've discussed this before but due to Slack's message limits I can't find it. What we run `dev jt format` we get this error message. What do we do about it?

does not contain the JNI_CreateJavaVM symbol.

<img width="372" alt="Screenshot 2020-12-12 at 00 48 06" src="https://user-images.githubusercontent.com/341094/101967783-f5c05580-3c13-11eb-9d98-c9b6b59b88c7.png">

[2020-12-12 00:54] chrisseaton opened #2188 "Why can't jt run rubocop?"
Is anyone able to figure out what I'm doing wrong here?

[code]

[2020-12-12 01:56] chrisseaton commented on #2187
This is fixed by `b02` - that was it.

[2020-12-12 01:56] #2187 closed

[2020-12-12 12:53] eregon commented on #2183
Might be related:
https://bugs.ruby-lang.org/issues/5607
https://bugs.ruby-lang.org/issues/13663

So it seems `<=>` cannot be used for a Range of Strings, as it's inconsistent with `String#succ`.

[2020-12-12 14:23] rickhull commented on #2183
I see some history here :D

[2020-12-13 13:26] eregon commented on #2188
What's `dev ruby -v` and `dev gem info rubocop`?
Maybe you need `dev gem install rubocop -v 0.66.0`? (I have no idea what `dev` does).

[2020-12-13 13:29] chrisseaton commented on #2188
I was rewriting this without using `dev`... and the problem went away. Sorry looks like an internal Shopify issue I'll figure it out.

[2020-12-13 13:29] #2188 closed

[2020-12-14 12:10] eregon commented on #2183
@bjfish Could you take a look at this?

[2020-12-14 17:52] eregon commented on #2180
I fixed the detection for `=` in subprocess commands in https://github.com/oracle/truffleruby/commit/bcae566cfafab9a4adc9f3142f28565fb72e46d5

[2020-12-15 18:11] rickhull commented on #2183
I see https://bugs.ruby-lang.org/issues/13663#note-4

If I may restate the issue in MRI:

[code]

MRI is just going to live with this seeming inconsistency.  I'm not sure how it affects TruffleRuby for the issue I discovered.

[2020-12-16 15:38] bjfish commented on #2183
This is now fixed at https://github.com/oracle/truffleruby/commit/06d3f3da4c06dd3154d838d30697d72f8234e927.

[2020-12-16 15:38] #2183 closed

[2020-12-16 15:40] norswap commented on #2011
Re: https://github.com/oracle/truffleruby/pull/2189#issuecomment-746445414
I guess that idea is dead in the water, but just to be very sure: there is no way to leverage some kind of thread-local storage in a way that would be faster than optimizing our own maps, right?

[2020-12-17 11:37] eregon commented on #2011
Follow-ups for this after https://github.com/oracle/truffleruby/pull/2189:
* Avoiding an extra lookup in DeleteLastNode: https://github.com/oracle/truffleruby/pull/2189#discussion_r544231540
* Make `Truffle::ThreadOperations.detect_recursion` a primitive so it's always split, in a cheaper way than using Truffle splitting of CallTargets: https://github.com/oracle/truffleruby/pull/2189#issuecomment-

[2020-12-17 19:23] billdueber opened #2193 "Data read with Zlib::GzipReader (but not copy of same data) slow to parse with JSON.parse"
(first issue opened here; if I'm off the mark or in the wrong spot, my apologies and please let me know)

JSON-parsing data read from a gzipped file with Zlib::GzipReader is very slow. Parsing the same byte-for-byte data  read from a non-gzipped file is _not_ slow. Parsing a _copy_ of the data read from a gzipped file is also _not_ slow.

[This gist](https://gist.github.com/billdueber/e04f49409b15

[2020-12-17 20:02] chrisseaton commented on #2193
Can you try putting `Truffle::Ropes.flatten_rope(data)` on your data after you get it from gzip and before you use it?

[2020-12-17 22:22] billdueber commented on #2193
Adding `previously_gzipped_data = Truffle::Ropes.flatten_rope(previously_gzipped_data)` does the trick (although it doesn't help me for the moment since the calls are locked up in a gem). Hopefully it'll help point you in the right direction.

[2020-12-18 12:01] eregon commented on #2193
Thank you for the great report, it looks like pure-Ruby JSON parsing is slower with the String from `Zlib::GzipReader`.

`Truffle::Ropes.flatten_rope()` seems a good hint that this is an issues with Ropes.
Of course, that's just helpful to debug, it should work fine without any explicit call (`Truffle::Ropes.flatten_rope` is a private debug-like API, just like everything else under `Truffle::`).

[2020-12-18 12:14] eregon commented on #2193
It's simpler than that, actually:
[code]

So the issue is we use `previously_gzipped_data`, we use a NativeRope instead of a ManagedRope.
And I would expect that String migrates from NativeRope to ManagedRope only once, but that doesn't seem the case since it's still native even after `JSON.parse(previously_gzipped_data)`.

[2020-12-18 12:35] eregon commented on #2193
Most likely involved, this `force_encoding` in JSON:
https://github.com/oracle/truffleruby/blob/e020c89a8368ef2e1b996904f7becf65b375a47e/lib/json/lib/json/pure/parser.rb#L140
`previously_gzipped_data.encoding` is UTF-8 (maybe a bit surprising? But MRI behaves the same).

And `force_encoding` actually returns a NativeRope when the source is a NativeRope.
The `.encode` above the `force_encoding` als

[2020-12-18 15:07] billdueber commented on #2193
JSON gem just as you expected:
[code]

[2020-12-18 16:49] eregon commented on #2193
Right, that's expected for TruffleRuby 20.3.0, thanks for confirming.

[2020-12-21 12:50] #2176 closed

[2020-12-22 15:48] eregon opened #2197 "Detect when using a C extension compiled against another Ruby or another version of TruffleRuby"
This would make the error in such cases much clearer, rather than showing some random ABI mistmatch error.

One idea is that TruffleRuby would define some global variable in the C extension and set it to the ABI version, then it could check before running `Init_myext`. That should make the error clearer.

From https://github.com/postmodern/chruby/issues/451#issuecomment-748289371

[2020-12-23 17:55] grvm commented on #1704
Facing the same error. Trying `TruffleRuby 20.3.0` with `Rails 6.1.0` on `Win10 WSL2 (Debian Bullseye)`
Added a scaffold, ran migrations, tried to access the index action & greeted with this

[code]

[2020-12-24 10:03] eregon commented on #2011
Related optimization in CRuby, to avoid using the recursion logic when we know we'd call Kernel#hash: https://github.com/ruby/ruby/pull/3987

[2020-12-26 22:06] flavorjones opened #2203 "unexpected generic case in LLVMNativeCallback (java.lang.IllegalStateException) in Nokogiri CI"
Hello there! I've been running Nokogiri's CI against both TR stable and TR nightly builds, and something changed in the past few weeks where the test suite's failure mode changed from behaviorial tests failing to a `java.lang.IllegalStateException` being raised and terminating the run.

---

See the logs at https://ci.nokogiri.org/teams/nokogiri-core/pipelines/nokogiri-pr/jobs/truffle-nightly/buil

[2020-12-28 12:49] eregon commented on #2203
Thank you for the detailed report, this is a Sulong or NFI bug, I've filed GR-28462 internally to track this.

[2020-12-28 16:35] petenorth opened #2204 "TRegex regular expressions engine comparison errors"
Running some cucumber tests with `--compare-regex-engines=true` led to these discrepancies

[code]
and
[code]
and
[code]
and
[code]
and
[code]
and
[code]
and
[code]
and
[code]

[2021-01-01 15:58] eregon opened #2205 "File.readlines(path, chomp: true) does not chomp lines"
And instead keeps the `\n` as if `chomp: true` was not passed.

It seems MRI does not check for extra keyword arguments for `File.readlines`, so unfortunately we can't check strictly either.

[2021-01-02 01:29] deepj commented on #2181
@eregon After almost a month spend with M1 I don't think that is a good way. It requires to use seperated Homebrew for x86_64. I already switch to Homebrew for ARM only since over 70 % of bottles are already ARM ready.

Homebrew doesn't support something like universal builds. That complicates many things while compiling 3rd dependencies. Keeping two separated Homebrew is not also easy. Just take

[2021-01-02 12:15] eregon opened #2206 "Unify the representations of a block argument"
Unify the 4 representations (null/nil/NotProvided/RubyProc) of a block argument to be just 2 (nil/RubyProc).
That way, there is no need to convert from nil=>null or null=>nil and less checks are needed.

This would also clean up the extra `IsNull` + `Guard` nodes in IGV for every Ruby method:
![Screenshot from 2021-01-02 13-16-19](https://user-images.githubusercontent.com/168854/103457133-b8c01e00

[2021-01-02 12:34] eregon commented on #2181
Thanks for the update.
It seems the only way for now until https://github.com/oracle/graal/issues/2666 is fixed and Sulong supports ARM64.

Why does it require a separate Homebrew? To install libssl?
If so, shipping TruffleRuby with libssl might be a solution.

I've seen many issues from M1 users e.g. on the FFI gem issues, it seems there is confusion, but probably some of that should be handled b

[2021-01-03 15:45] piotrmurach opened #2207 "StringIO mingles content with Unicode characters"
The [tty-progressbar](https://github.com/piotrmurach/tty-progressbar) test suite passes fine on MRI from `2.0.0` to `3.0.0`, as well as `jruby-9.2.13.0` and `jruby-head` but fails on `truffleruby-head`. In particular, [these two tests fail](https://github.com/piotrmurach/tty-progressbar/runs/1639593031). Looking at the output comparison, this is the bit that differs:

[code]

Gets to be gobbled up

[2021-01-03 22:45] chrisseaton opened #2208 "Unbox-box operations don't seem to cancel out"
This may be a general Truffle PE or Graal issue but I'll illustrate using Ruby.

[code]

This code does exactly what I'd expect. The more common branch returns `n` directly. This is a zero-allocation-path.

![methodUnderTest](https://user-images.githubusercontent.com/341094/103490539-66722080-4e14-11eb-8a5e-f29fc23dc8c0.png)

[code]

This code doesn't do what I'd expect - the more common branch un

[2021-01-04 11:08] eregon commented on #2204
Thank you for trying it out and the great bug report.

@jirkamarsik Could you take a look at this?

To make sure, does TRegex recognize `(?-mix:` (which is what Regexp#to_s will prepend to say there are no options)?
In the first and second examples, it seems `([_a-z0-9]*)?` which matches "" sets no group offsets on TRegex, but it sets equal group offsets on Joni.

[2021-01-04 11:43] jirkamarsik commented on #2204
TRegex does support the `(?-mix:` syntax.

The issue in the first two cases is about the semantics of nesting quantifiers that match empty strings. If `[_a-z0-9]*` matches an empty string, then the outer quantifier, `([_a-z0-9]*)?`, treats that as a failure and the capture group is not matched. This behavior is in some form part of most regex systems, as it prevents infinite loops when repeatedly

[2021-01-04 12:44] eregon commented on #2205
@bjfish Could you fix this?

[2021-01-04 12:47] eregon commented on #2207
@aardvark179 Could you look at this since you were recently looking at StringIO?

[2021-01-04 12:53] HoneyryderChuck commented on #1449
any news on getting official truffleruby images? I've been using what @flavorjones provided, but these seem not to be coordinated with truffleruby's release schedule.

[2021-01-04 13:24] eregon commented on #1449
@ezzarghili Any ETA for official TruffleRuby Docker images?
Note those images would be based on `oraclelinux`, like the [oracle/graalvm-ce](https://hub.docker.com/r/oracle/graalvm-ce) image.

I'd suggest filing an issue to https://github.com/flavorjones/docker-truffleruby and discuss there how to keep it up-to-date. Maybe it can be mostly automated?

[2021-01-04 14:40] eregon commented on #1704
Maybe it's caused by some inefficient pattern for Ropes.
@norswap is working on a fix for some of that.

[2021-01-04 22:42] eregon commented on #2180
Making progress here with a pipeline build:
![Screenshot from 2021-01-04 23-37-18](https://user-images.githubusercontent.com/168854/103586669-da302e00-4ee5-11eb-98f5-a5c9c7765cdd.png)

* lint is run separately as most of it doesn't need to build, only SpotBugs needs a build, and that's done last (we discussed this a bit at some point with @tomstuart)
* running all specs in the same job is long, I'

[2021-01-04 23:35] chrisseaton commented on #2180
Looks great thanks!

As discussed already, I think our baseline requirements from my team are:

* all specs, ideally split up not only for time, but also because seeing failures in the different areas easily is good
* a native build, to catch AOT compilation of the interpreter issues

[2021-01-05 15:04] eregon commented on #2180
Should be good now, I'll merge that branch:
https://github.com/eregon/truffleruby/actions/runs/463528887
![Screenshot from 2021-01-05 16-02-57](https://user-images.githubusercontent.com/168854/103661955-9c77e780-4f6f-11eb-9329-9891dbbaf6f1.png)

[2021-01-05 15:09] chrisseaton commented on #2180
Is there a reason you associated testing the compiler with native specifically?

[2021-01-05 15:14] eregon commented on #2180
Just convenience, since `--native` always includes graal and I didn't see much reason to have a 3rd build (jvm-ce).

[2021-01-05 19:27] flavorjones commented on #1449
My images are being generated by dockerhub now! Should be available within the hour.

[2021-01-06 13:17] HoneyryderChuck opened #2209 "UDPSocket#recvfrom_nonblock: wrong number of arguments (given 3, expected 1)"
Running latest truffleruby (2.20.3), which targets ruby 2.6 .

I'm getting this error [running httpx tests](https://gitlab.com/honeyryderchuck/httpx/-/jobs/946733460). This is due to truffleruby implementing the old `UDPSocket#recvfrom_nonblock` signature, which has changed since ruby 2.4 (it has since accepted a buffer and `exception: ` kwarg) .

**UPDATE**: `UDPSocket#send` seems to be broken as

[2021-01-06 13:30] HoneyryderChuck opened #2210 "OpenSSL: certificate verify failed (CA signature digest algorithm too weak)"
I'm getting the following error when performing https requests via `httpx`:

[code]

I'm using a local CA store for my tests. Can I assume that this has to do with the truffleruby openssl defaults not being on-par with ruby's, or is it a new default from openssl itself?

[2021-01-06 14:26] eregon commented on #2209
Thank you for the report.

Would you be interested in writing [specs](https://github.com/ruby/spec/tree/master/library/socket) for this if there isn't already to make the issue clearer?
Or even maybe a PR to TruffleRuby? (see [CONTRIBUTING.md](https://github.com/oracle/truffleruby/blob/master/CONTRIBUTING.md))
All of that socket code is pure Ruby, using FFI.

[2021-01-06 14:28] eregon commented on #2210
AFAIK TruffleRuby doesn't touch any openssl default.
The only thing is TruffleRuby will always use a system libssl.

Could you try with CRuby, and make sure CRuby is also built against the system libssl?

Is there a way for us to reproduce that error?

[2021-01-06 14:45] eregon commented on #2180
Merged in https://github.com/oracle/truffleruby/commit/07d62320c0d83efd6f7f99a805d6f61d1e03d60d

I think we can close this.
Of course, we can further enhance it later.

FWIW, I tried to run `jt test integration` but that depends on the gem-test-pack for some Bundler test, and the safepoints test is quite slow (1min).

One trade-off I realized to run `test/truffle/compiler/compile-immediately.sh` o

[2021-01-06 14:45] #2180 closed

[2021-01-06 14:49] eregon commented on #2180
Something else I wanted to mention, https://github.com/actions/upload-artifact is unfortunately quite slow, it takes >1min to upload a single ~200MB file: https://github.com/oracle/truffleruby/runs/1652096061
I'll file an issue upstream, but I guess it won't be solved so soon.

[2021-01-06 15:25] HoneyryderChuck commented on #2210
The easiest way is using docker. In order to reproduce my tests you'd have to:

1. Download `httpx` repo from https://gitlab.com/honeyryderchuck/httpx;
2. build the necessary images and open a shell to a running container (`docker-compose -f docker-compose.yml -f docker-compose-truffleruby.yml run --entrypoint bash httpx`);
3. [Copy all the necessary information from the build script](https://gitl

[2021-01-06 15:26] HoneyryderChuck commented on #2209
Probably not in the next 2 days, but I'll see what I can do 👍

[2021-01-07 12:42] eregon commented on #2203
@flavorjones The logs above are no longer available.
I guess the main commands to reproduce are (looking at https://github.com/sparklemotion/nokogiri/blob/master/.github/workflows/macos.yml):
[code]
right?

[2021-01-08 11:38] eregon commented on #2209
Ref: specs for `recv_nonblock` and `recvfrom_nonblock` added in https://github.com/ruby/spec/pull/825

[2021-01-08 12:15] janlelis opened #2214 "Derive hash value of struct instances not only from the instance's values, but also its class"
`Struct.new(:x).new.hash` on TruffleRuby always creates the same hash, while on MRI/JRuby it creates a different hash for different struct classes.

[2021-01-08 14:46] eregon commented on #2214
Thanks for the report.

I think we should use something like `val = Primitive.vm_hash_start(Truffle::Type.object_class(self).hash)`
in
https://github.com/oracle/truffleruby/blob/0dc999f7a82d744ff4315fb4db073eb1f676c561/src/main/ruby/truffleruby/core/struct.rb#L309
and also in
https://github.com/oracle/truffleruby/blob/0dc999f7a82d744ff4315fb4db073eb1f676c561/src/main/ruby/truffleruby/core/struct.r

[2021-01-11 11:18] rschatz commented on #2203
Should be fixed on latest master of oracle/graal (https://github.com/oracle/graal/commit/a2aced5ed06803f278ae2994976c0294a16d76fc). Backport to the 21.0 release branch should also land soon.

This still needs an import update in the oracle/truffleruby repo. I assume this is going to happen soon anyway (@eregon  should we do an extra update for this fix?).

[2021-01-11 12:02] eregon commented on #2203
Yes, I'll update the graal import in TruffleRuby soon, and then I'll close this, so that nightly builds also pick up the fix.

[2021-01-11 12:22] eregon commented on #2214
Fixed in d9235b8b2fd7294b7aa215e1bb05f55f31bee60a by @bjfish, thanks for the report.

[2021-01-11 12:22] #2214 closed

[2021-01-12 12:31] gogainda opened #2219 "Webrick gem test failure: ArgumentError: unknown mask signature"
Example failure (one of many similar):
[code]

[code]

To reproduce:
[code]

[2021-01-12 12:37] eregon commented on #2219
Is that when running MRI tests with `jt test mri`, or when running the tests of https://github.com/ruby/webrick ?

[2021-01-12 12:42] gogainda commented on #2219
Running webrick tests

[2021-01-13 12:30] deepj commented on #2181
@eregon Yes, the main problem is `OpenSSL` from Homebrew for ARM. What I remember some issues were with ARM PostgreSQL, `pg` gem and TruffleRuby (no issue under ARM MRI).

I understand your points. But I guess this is not only about Apple M1, I feel it's more about benefiting other ARM based CPUs generally. The changes for Apple M1 bring better SW compability e.g. for Rasberry computer. TruffleRub

[2021-01-13 14:59] LillianZ commented on #2004
`Pathname.glob now delegates 3 arguments to Dir.glob to accept base keyword. Feature #14405` already occurs in TruffleRuby, and thus can be removed/ticked off. The examples in the Redmine post al function.

[2021-01-13 15:08] chrisseaton commented on #2004
Are there specs for it? If so do they need to be untagged, if not we should add at least a couple.

[2021-01-14 10:27] tomstuart commented on #2206
@eregon I’m taking a look at this. Is it important that we use `nil` as the canonical representation of a missing block, or would `null` also suffice?

[2021-01-14 11:08] eregon commented on #2206
@tomstuart There is no choice, at the Ruby-level it must be `nil | Proc`.
`null` in general cannot be used in Truffle interpreters as a value (e.g. in a Ruby local variable).
Everywhere else we're quite flexible, `nil` should work in all places.

[2021-01-14 11:08] tomstuart commented on #2206
Understood, thank you!

[2021-01-14 11:55] gogainda opened #2221 "Nokogiri installation fails in Travis CI due to not finding libexslt"
Full logs: https://gist.github.com/gogainda/b5e3387d597c8aef301ddafa9b3fb2ed

Failed build for reference: https://travis-ci.org/github/fog/fog-google/jobs/754261599
[code]

[2021-01-14 12:12] eregon commented on #2221
This seems a new error, related to not finding libexslt.
I'm not sure what libexslt is, is it related to libxslt?

@flavorjones Could you clarify if libexslt is a new dependency of nokogiri (is it needed to build, or optional), or if the check in the extconf.rb got stricter recently?

libexslt seems typically part of the same package as libxslt (`libxslt-dev` on Debian-based, `libxslt-devel` on Re

[2021-01-14 14:44] gogainda commented on #1506
fixed in pull/2218

[2021-01-14 15:04] #1506 closed

[2021-01-14 17:27] chrisseaton commented on #2206
Something Tom and I discussed today was the importance of negotiating into a common format in the *caller*, not the *callee* where it currently is, since the *caller* has all the information about the type of the object being passed.

[2021-01-14 18:17] gogainda commented on #2219
@eregon I can try to handle it

[2021-01-15 08:08] avdv opened #2222 "rubocop fails with rubocop-rspec matcher"
Hi.

[code]

Error:
[code]

Rubocop ran fine on MRI Ruby 2.{5,6,7}.

Code:
[code]
https://github.com/avdv/colorls/blob/refactor-fix-233/spec/color_ls/yaml_spec.rb#L20

CI job: https://travis-ci.org/github/athityakumar/colorls/jobs/754544334

I'll try to re-run with `-d` and post the results here.

[2021-01-15 12:54] janlelis opened #2224 "Integer#digits should returns integer values > 9 when base is above 10"
[code]

Current implementation returns 0 instead of 13

[2021-01-15 12:56] janlelis opened #2225 "Integer#digits should work with base > 36"
[code]

Currently fails with: `ArgumentError (invalid radix 100)`

[2021-01-15 14:04] gogainda commented on #2225
looks like base is ignored in this code
[code]

[2021-01-15 17:55] bjfish commented on #2222
This error also occurs during the specs for the gem: https://github.com/rubocop-hq/rubocop-rspec

[2021-01-15 18:02] JMHReif opened #2226 "Issue connecting to Neo4j with TruffleRuby"
Hello! Working on connecting to Neo4j database with various languages through GraalVM and the Neo4j Java Driver, and I'm getting an odd error with TruffleRuby. Would anyone have an idea what might be missing? Happy to send over more details or share code, if needed. Just let me know!

[code]

[2021-01-15 18:06] bjfish commented on #2226
@JMHReif Could you please provide more info on how to reproduce the issue?  For example, which gem is used, steps to reproduce the issue, and a code sample if possible.

[2021-01-15 18:21] chrisseaton commented on #2226
Can we diagnose using `--exceptions-print-java`?

[2021-01-15 18:29] JMHReif commented on #2226
@chrisseaton, here is the stacktrace with --exceptions-print-java
[code]

[2021-01-15 18:31] JMHReif commented on #2226
@bjfish, I don't think I'm using any additional gems (just TruffleRuby within GraalVM), but here is my current code: https://github.com/JMHReif/neo4j-graalvm/blob/main/neo4j-graalvm-ruby-example.rb

Also, the Classpath variable I'm setting as the following:
[code]

[2021-01-15 18:36] eregon commented on #2030
This is now implemented as of 31d0558d5eba24467d1cad57b4d358bb9a9a4077.
So things like `bindings.putMember("forty_two", 42);` work, and those top-level local variables can be accessed from *interactive* Sources:
https://github.com/oracle/truffleruby/commit/31d0558d5eba24467d1cad57b4d358bb9a9a4077#diff-f6c3b1548713de849c4aca4a5f9fa32e3f84fced6b484cfffe0941adcf3529cc

---

I wonder if maybe we shoul

[2021-01-15 18:37] #2030 closed

[2021-01-15 23:00] bjfish commented on #2222
I had trouble tracing exactly how rubocop all works but this example probably recreates the issue:
[code]
Expected
[code]
Actual
[code]

[2021-01-16 12:05] eregon commented on #2224
The current implementation relies on Integer#to_s(base), so that explains this issue and #2225:
https://github.com/oracle/truffleruby/blob/70c024bb7a20d63caafee2c68a4057a8db13e0a4/src/main/ruby/truffleruby/core/integer.rb#L318

[2021-01-16 12:16] eregon commented on #2206
Good point, indeed.
If we manage to get rid of all conversations, then there won't be any conversion logic left in caller or callee.

Saving the passed block to the frame should result in no node/code, as long as the frame is virtual.
The frame might be materialized due to some block capturing it and not being inlined though.
So we might want to consider other ways to find out how deep is the clos

[2021-01-16 13:00] eregon commented on #2226
The core of the issue is that:
[code]
needs to be used instead of:
[code]

There is no dictionary interop, so that doesn't work well in general, except in JavaScript where there is no difference between objects and dictionaries.
So when passed to the host, the Ruby Hash is converted to a PolyglotMap, but that has Ruby methods as entries, not the `name` => `"Tom Hanks"` you would want.
A workaround

[2021-01-16 13:09] eregon commented on #2226
The recursion seems to be caused by
https://github.com/neo4j/neo4j-java-driver/blob/4.0.3/driver/src/main/java/org/neo4j/driver/Values.java#L297
which calls
https://github.com/neo4j/neo4j-java-driver/blob/4.0.3/driver/src/main/java/org/neo4j/driver/Values.java#L119
which calls
https://github.com/neo4j/neo4j-java-driver/blob/4.0.3/driver/src/main/java/org/neo4j/driver/Values.java#L297
etc.
Due to r

[2021-01-16 16:15] HoneyryderChuck opened #2227 "not supporting sequel rollback transactions"
Coming from https://gitlab.com/honeyryderchuck/rodauth-select-account/-/jobs/967366339

This comes from a test around filter using sequel (latest version, 5.40.0) and a common transaction with auto-rollback strategy:

[code]

When testing in truffleruby, the rollback exception is bubbling up, instead of being rescued within sequel.

[2021-01-16 18:05] eregon commented on #2222
I'm not sure what the rule for private constants is in such a case.
Maybe the first constant looked up is like calls with implicit receiver, i.e., they ignore visibility?
This seems to show it's the case:
[code]

[2021-01-16 21:14] petenorth opened #2228 "wrong constant name CFUNC"
**truffleruby 21.1.0-dev-70c024bb, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]**

was working with truffleruby 21.1.0-dev-4f309b51, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]

One of our CI jobs has started failing with TruffleRuby

[code]

[2021-01-18 12:16] eregon commented on #2227
Thanks for the report, I found the example usage in https://gitlab.com/honeyryderchuck/rodauth-select-account/-/blob/e0f112696bfff2daf95b2aeae39f1c29d086c5db/test/test_helper.rb#L142-152.

A small standalone reproducer would be helpful.
@bjfish Could you investigate?

[2021-01-18 12:20] eregon commented on #2228
Thank you from the report.
Is it from https://github.com/petenorth/schools-experience ?

Could you run `rake` with `--backtrace`?
Otherwise `rake` removes all interesting parts from the backtrace.

Maybe it's something we should consider changing in rake by making a PR: hiding the useful parts of the backtrace by default and showing `<internal` entries does not make sense.

[2021-01-18 14:57] ivoanjo opened #2229 "TypeError TruffleRuby doesn't have a case for the StringNodesFactory$MakeStringNodeGen node with values of type null"
Environment:
* `truffleruby 20.3.0, like ruby 2.6.6, GraalVM CE Native [x86_64-darwin]`
* `Darwin COMP-C02DT18AML87 19.6.0 Darwin Kernel Version 19.6.0: Tue Nov 10 00:10:30 PST 2020; root:xnu-6153.141.10~1/RELEASE_X86_64 x86_64 i386 MacBookPro16,2 Darwin`

---

Hey!

Just found this weird issue when trying to read the `base_label` of the backtrace locations of a reference processor thread. The iss

[2021-01-18 15:06] eregon commented on #2226
0a89ebc6fa83510140f842bd37747542ef1c4121 should provide a better stacktrace for host exceptions, until the issue is solved in Truffle (GR-28819).

@JMHReif Could you try if https://github.com/oracle/truffleruby/issues/2226#issuecomment-761559643 or a similar approach as in Python helps?
I couldn't run the full example as I don't have a neo4j DB installed.

[2021-01-18 16:27] #2209 closed

[2021-01-18 17:02] eregon commented on #2229
Thanks for the report.
https://github.com/oracle/truffleruby/blob/f01379be2e700102436a5aaa52531fd03d02f970/src/main/java/org/truffleruby/core/thread/ThreadNodes.java#L200 passes the wrong value for `currentNode` (it passes the node of the current thread and not of the target thread), which causes this issue. I'll fix it.

[2021-01-18 17:47] petenorth commented on #2228
He is the output with `--backtrace`

[code]

[2021-01-18 19:00] eregon commented on #2229
Fixed in a5afb7a164e3318284e9c76d3448d3ab4baf1a7e.

[2021-01-18 19:00] #2229 closed

[2021-01-18 19:14] eregon commented on #2228
@aardvark179 Could you take a look?
Maybe it relates to the changes about constants in f2e074dd503cc8801f1df8789526c67dd082b513.

[2021-01-18 20:44] ivoanjo commented on #2229
That was FAST -- thanks!

[2021-01-19 10:03] gogainda commented on #2219
I am having problem with creating of working example for MRI Ruby

[2021-01-19 12:03] eregon commented on #2219
The error comes from https://github.com/oracle/truffleruby/blob/a5afb7a164e3318284e9c76d3448d3ab4baf1a7e/src/main/ruby/truffleruby/core/thread.rb#L87-L89
which called from
https://github.com/ruby/webrick/blob/9279dd8c61d4fa1d76f1c448cd2c60bbd7413a6a/test/webrick/test_utils.rb#L12-L14

`EX` is https://github.com/ruby/webrick/blob/9279dd8c61d4fa1d76f1c448cd2c60bbd7413a6a/test/webrick/test_utils.rb#L

[2021-01-19 12:10] gogainda commented on #2219
this is the problem, it's clear to me how to fix it, but before doing that I wanted to write a test or working example for MRI Ruby to see expected behaviour

[2021-01-19 12:31] eregon commented on #2209
I think the report issues above should all be fixed now, thank you for the PRs!

[2021-01-19 12:57] aardvark179 commented on #2228
Found the problem. We had the logic backwards in one lookup specialisation that didn't get hit in the C tests. I'll create a PR to fix this.

[2021-01-19 16:43] bjfish commented on #2227
Here's a smaller case to reproduce:
[code]
Expected
[code]
Actual
[code]

[2021-01-19 17:37] eregon opened #2230 "Investigate failing specs in Sequel"
See https://github.com/jeremyevans/sequel/pull/1737#issuecomment-738999495

Related: https://github.com/oracle/truffleruby/issues/2227

[2021-01-19 19:24] bjfish commented on #2227
If we run something like:
[code]
The `rb_errinfo()` has a value here (ZeroDivisionError) in TruffleRuby but not MRI:
https://github.com/sparklemotion/sqlite3-ruby/blob/d94c42b0b8e5005ee28cde75a58e15ea5670d1c4/ext/sqlite3/statement.c#L128

[2021-01-19 19:41] bjfish commented on #2225
Thanks for the bug report. This is now fixed at: https://github.com/oracle/truffleruby/commit/f1e6d6bcae4aa099c03e3107caad8de44bb91549.

[2021-01-19 19:41] #2225 closed

[2021-01-19 19:42] bjfish commented on #2224
This is now fixed at: https://github.com/oracle/truffleruby/commit/f1e6d6bcae4aa099c03e3107caad8de44bb91549

[2021-01-19 19:42] #2224 closed

[2021-01-19 22:17] petenorth commented on #2228
@aardvark179 confirmed that this is fixed in the latest build.

[2021-01-19 22:17] #2228 closed

[2021-01-19 22:41] eregon commented on #2228
(fix in 2ea201853b5bff2fef25847c6fce3a604f34d266)

[2021-01-19 22:50] gogainda commented on #2219
[code]
This execution is still interrupted and I dont see "exception was ignored" message. Is this correct understanding how this feature should work?

[2021-01-20 10:56] eregon commented on #2219
`handle_interrupt` only delays interrupts, and also `Kernel#raise` is not an interrupt (it's on the same thread), but `Thread#raise` (and signals, etc) are.
It seems quite tricky to test.
There is actually a pretty good MRI test for the basic functionality:
https://github.com/oracle/truffleruby/blob/2378f646a3c0e96884273fc1a0f5f7d597d7a3bd/test/mri/tests/ruby/test_thread.rb#L719-L755

You can try

[2021-01-20 21:38] gogainda commented on #2219
unfortunately, fixing issue with > 1 arguments is not enough here. That example fails even with one :never argument:
[code]

[2021-01-21 11:12] gogainda opened #2231 "Doorkeeper gem test failure: rb_exc_raise"
Haven't seen it before, I guess it's a new bug

[code]

[2021-01-21 11:16] eregon commented on #2219
Interesting, I'll investigate that one.
The result of running that is:
[code]

i.e. the blocked thread is in `Queue#pop` (`done_q.pop` above), and that seems to consistently interrupt or never get out of `done_q.pop`).

[2021-01-21 14:57] eregon commented on #2231
Does it work on CRuby? Maybe there is some setup before running those specs.

[2021-01-21 15:50] gogainda commented on #2231
it works for me with CRuby, started a job here https://travis-ci.org/github/doorkeeper-gem/doorkeeper/builds/755542985 to make sure that it's not related to my env

[2021-01-21 16:20] #2203 closed

[2021-01-21 16:20] eregon commented on #2203
Fixed in 21.0.0 and on master.

[2021-01-21 17:01] bjfish commented on #2222
It appears that constant lookup when the lookup is not scoped to a particular class ignores the visibility:
https://github.com/ruby/ruby/blob/d0693391103672b7fc3976e5ae8ae414059b3e97/vm_insnhelper.c#L953-L967
https://github.com/ruby/ruby/blob/d0693391103672b7fc3976e5ae8ae414059b3e97/variable.c#L2391-L2406
https://github.com/ruby/ruby/blob/d0693391103672b7fc3976e5ae8ae414059b3e97/variable.c#L2340-L

[2021-01-22 11:36] eregon commented on #2222
Yes, that makes sense and it's consistent with how visibility is handled for method calls (except that `self.some_method` is treated specially, but not for constants).
Let's write/find a few specs for that and implement those changes.
I guess `const_get/rb_const_get` ignore visibility, which is typically the case for metaprogramming, except if there is `public_` in the method name of course.

[2021-01-22 12:27] eregon opened #2233 "Pasting snippets is slow in IRB"
This is actually in part an issue upstream (https://github.com/ruby/irb/issues/43) and part in TruffleRuby.
Notably, we identified that io/console and Ripper are slow.
We now use the io-console C extension, and that seems fast enough.

Latest IRB and reline (irb 1.3.2, reline 0.2.2) significantly increase pasting speed, but there are two known issues:
https://github.com/ruby/irb/issues/176
https:/

[2021-01-22 13:38] eregon commented on #2219
Fixed in https://github.com/oracle/truffleruby/commit/b7090ac62afa87d6dc8c1b464d4a88c908b055b4, also the original example with multiple pairs should work fine now.

[2021-01-22 13:38] #2219 closed

[2021-01-22 14:02] gogainda opened #2234 "bundler-audit gem test failure: comparison of Integer with Range failed (ArgumentError)"
[code]

Taken from : https://github.com/rubysec/bundler-audit/runs/1609982351
https://github.com/rubysec/bundler-audit/commit/d1f6213002a3ea9af2218c1c5375273d523937ed

[2021-01-22 14:18] eregon commented on #2234
This reproduces:
[code]

Which means `SecureRandom.random_number` should support a Range argument.

In MRI, it seems to actually come from `Random::Formatter.random_number`, ``Random::Formatter` is a module included in `Random`  and in `SecureRandom`.
We should probably follow a similar design in TruffleRuby.

Currently we have `lib/truffle/securerandom.rb` but probably we should import a newer li

[2021-01-22 14:26] eregon commented on #2234
I think a good start here would be to add `Random.singleton_class` and `Random::Formatter`
to https://github.com/oracle/truffleruby/blob/master/spec/truffle/methods_spec.rb, and try to match which methods are defined where.

[2021-01-22 15:24] JMHReif commented on #2226
Ok, I switched out the lines requested (using the Truffle::Interop.hash_keys_as_members()), but now I'm getting an error on trying to access the Java library. Not sure what I'm missing there.

[code]

[2021-01-22 16:03] eregon commented on #2226
Does the same command work with JS or Python?
@JMHReif I'd guess `CLASSPATH` isn't set or so, the logic to find host classes is in Truffle, not in TruffleRuby.

[2021-01-22 19:53] #2156 closed

[2021-01-25 15:47] eregon commented on #2170
rb_lastline_set implemented in b46b9b79ae7a06b6e5bfb2f974ad6191f07b6e45 by @aardvark179.

[2021-01-25 15:47] #2170 closed

[2021-01-25 23:39] gogainda opened #2236 "File#exist? is being called from glob function"
It may lead to the situations when stubbed File.exist? call like in [scss-lint ](https://github.com/sds/scss-lint/blob/master/spec/scss_lint/plugins/linter_dir_spec.rb#L12)
[code]
fails with exception that it was called with wrong arguments when ```glob``` or some other functions from dir_glob.rb file where executed.

Noticed in thor and scss-lint gems test code

[2021-01-25 23:48] gogainda commented on #2236
fixing in https://github.com/oracle/truffleruby/pull/2235

[2021-01-26 17:41] wildmaples opened #2238 "Extra whitespace in squiggly heredoc with escaped newline"
### Background

The backslash / continued line `\` does not work as intended on TruffleRuby when it's used at the end of a line within a squiggly heredoc.

Take this example:

[code]

#### Expected behaviour

MRI removes both the newline and indentation of the next line.

[code]

#### Actual behaviour on TruffleRuby

On TruffleRuby, no newline is added, but the indentation of the next line remains

[2021-01-26 17:57] eregon commented on #2238
That makes sense to me, thanks for the analysis.

@norswap Could you look into this and try to figure out what's needed to fix it?

[2021-01-26 18:54] eregon commented on #2206
First part merged!
Now I think the only remaining part is `@CoreMethod` currently using `NotProvided` instead of `Nil`: https://github.com/oracle/truffleruby/pull/2232#discussion_r562619610

@tomstuart Are you interested to do that part too?

[2021-01-26 19:01] norswap commented on #2238
Great analysis!
I had a look in the parser (`RubyParser.y` and the lexer (`RubyLexer.java`), searching for "heredoc" and "~".
A few findings:
- The heredoc opener is token `tSTRING_BEG`, which is generated by method [`RubyLexer.hereDocumentIdentifier`](http://github.com/oracle/truffleruby/blob/master/src/main/java/org/truffleruby/parser/lexer/RubyLexer.java#L712-L712)
- This method sets the field

[2021-01-26 19:38] tomstuart commented on #2206
Great, thanks for the merge! Sure, I’ll pick up the rest of it.

[2021-01-26 22:41] gogainda commented on #1489
Another example:
[code]
on truffleruby it's 3, should be 1

[2021-01-26 22:45] chrisseaton commented on #1489
Sorry yeah we should get on and this this.

[2021-01-27 11:51] tomstuart commented on #2238
@wildmaples made good progress on this by backporting the [JRuby commit](https://github.com/jruby/jruby/commit/fb1ac0824fa24e1ef1bda1b7ea1be24e61c815f8#diff-518496fac64cb9eb11f5a1036256c41a1be69266292e2b9281ed7045e9dd8fd6L6) to TruffleRuby, but [that change](https://github.com/Shopify/truffleruby/commit/5219f2419b8ea4d0edcd5f6516718859e5f744b8) is quite broad and causes [another test](https://gith

[2021-01-27 17:53] JMHReif commented on #2226
Ah, I had a mistake in my classpath variable. I'm sorry for the trouble! Everything is running correctly now. :)

[2021-01-27 18:28] #2226 closed

[2021-01-27 19:38] bjfish commented on #2222
Thanks for reporting this issue @avdv. This is now fixed at https://github.com/oracle/truffleruby/commit/8f469826db794d599d1a490e1ed490fd4157a0aa.

[2021-01-27 19:38] #2222 closed

[2021-01-27 20:17] avdv commented on #2222
Thank you @bjfish :+1: , I'll check the CI jobs in the next few days...

[2021-01-28 22:46] deepj commented on #1982
Any news about this issue?

[2021-01-29 00:08] norswap commented on #1982
It's as you can see on the pull request - apparently the build timed out (because of the change? not sure), and I asked what I could do to help move the issue forward, but there has been no news. Feel free to chime in there, could serve as a reminder!

[2021-01-29 10:46] eregon opened #2240 "TypeError: TruffleRuby doesn't have a case for ConstDefinedNode with values of type RubyClass java.lang.String Nil Boolean=true"
From https://github.com/ruby-next/ruby-next/runs/1790216003?check_suite_focus=true
[code]

Coming from https://github.com/dkubb/ice_nine/blob/2380ec33ef9c3302d0bdf6fb076a5fa6ec9bdc17/lib/ice_nine/freezer.rb#L87

Can be reproduced with `jt ruby -e 'p String.const_defined?(:Foo, nil)'`.
Reported by @ssnickolay

[2021-01-29 17:15] norswap commented on #2238
It seems to me like the original assumption about the bug is correct.

The dedent is handled in `RubyLexer#heredoc_dedent`, which will in turn `RubyLexer#dedent_string` to dedent each string part. Normally, `HeredocTerm#parseString` emits one string component per line. But if the heredoc can do interpolation, the parsing of the string is delegated to `StringTerm#parseStringIntoBuffer`, which handl

[2021-01-30 15:12] HoneyryderChuck opened #2242 "Resolv.getaddress broken"
I'm experiencing the following issue in truffleruby 20.3 . Given I haven't seen any closed issue for it, I assume it's still so upstream:

[code]

[2021-01-30 21:51] gogainda commented on #2242
'comparison of Integer with Range failed' I think I saw it before

[2021-01-31 15:07] eregon commented on #2242
Yes, it's the same root cause as https://github.com/oracle/truffleruby/issues/2234.
I'll keep this one open though to make sure it also gets solved by implementing `SecureRandom.random_number(Range)`.

[2021-01-31 15:09] eregon commented on #2240
Fixed in https://github.com/oracle/truffleruby/commit/5c8578a9f120923c76d84d75fdd6ea3356b97187.

[2021-01-31 15:09] #2240 closed

[2021-02-01 10:25] HoneyryderChuck commented on #2242
Great to hear it's already known. FYI [I added some patches to httpx in order to run CI under 20.3](https://gitlab.com/honeyryderchuck/httpx/-/jobs/997079515), and most (not all) of the errors are due to this bug.

[2021-02-01 14:05] avdv commented on #2222
Once again, thank you! I confirm that CI builds with truffleruby-head are good again :green_heart:

[2021-02-01 15:26] HoneyryderChuck opened #2243 "Zlib::MemError: insufficient memory"
I'm getting this error predictably [in CI, when testing httpx deflate compression plugin](https://gitlab.com/honeyryderchuck/httpx/-/jobs/997829373). This error doesn't happen if I run the test individually, only when running all the tests at the same time:

[code]

The deflater is initialized [here](https://gitlab.com/honeyryderchuck/httpx/-/blob/master/lib/httpx/plugins/compression/deflate.rb#L2

[2021-02-01 15:41] eregon commented on #2243
This might be solved by a PR @norswap is working on.

[2021-02-01 17:01] #2206 closed

[2021-02-02 17:37] HoneyryderChuck commented on #2210
FYI I fixed this. The issue was [the digest algorithm being setup as sha1 for the ca.cnf](https://gitlab.com/honeyryderchuck/httpx/-/blob/master/test/support/ci/certs/build_certs.sh#L91), which probably some systems or openssl's set a warning for nowadays. I'm not sure whether you want to dig this further (would be interesting to at least know why in truffleruby that's different), but from side ev

[2021-02-02 17:37] #2210 closed

[2021-02-03 00:01] gogainda commented on #2231
Similar issue:
[code]
from https://github.com/heartcombo/devise/pull/5341/checks?check_run_id=1818731436

[2021-02-03 00:14] gogainda commented on #2231
maybe something broken for  gem "sqlite3" > 1.4

[2021-02-03 00:20] gogainda opened #2245 "sqlite3-ruby gem test failure"
[code]

[2021-02-03 10:21] eregon commented on #2245
That might be related to https://github.com/oracle/truffleruby/issues/2227

[2021-02-03 10:47] eregon commented on #2231
That might be related to https://github.com/oracle/truffleruby/issues/2227

[2021-02-03 15:05] gogainda opened #2246 "Nokogiri failure: does not contain bitecode"
[code]
from : https://github.com/fnando/browser/pull/511/checks?check_run_id=1823367840

Github Action config:
[code]

[2021-02-03 15:31] eregon commented on #2246
Due to a Bundler bug: https://github.com/rubygems/rubygems/issues/4330

[2021-02-03 17:40] wildmaples opened #2247 "Requiring the grpc gem causes Invalid ElementType of Vector failure"
Requiring the `grpc` gem causes an Invalid ElementType of Vector failure. This is affecting the `storefront-renderer` repository's use of `require "semian/grpc"`.

### How to reproduce

[code]

### Stacktrace

[code]

As chatted about in our call, it seems like a C language feature that Sulong doesn't support.

[2021-02-03 19:03] XrXr opened #2248 "Cloning breaks constant resolution"
[code]

[2021-02-03 19:20] chrisseaton commented on #2248
Thanks very much for reporting that. I'd never considered cloned classes, myself!

[2021-02-03 19:39] bjfish commented on #2227
This should now be fixed at https://github.com/oracle/truffleruby/commit/19f0e6af33651e177691a5ecb5a7a8b1dc3e8409 by @aardvark179 . Thank you for reporting @HoneyryderChuck , please let us know if you have any trouble with this.

[2021-02-03 19:39] #2227 closed

[2021-02-03 20:27] eregon commented on #2227
@bjfish Could you check if it also fixes the 2 issues I just linked above?

[2021-02-03 20:28] bjfish commented on #2227
@eregon #2245 is a separate but related issue, I'll also check #2231

[2021-02-03 20:45] bjfish commented on #2245
A smaller reproduction of the issue is here:
[code]
Expected
[code]
Actual
[code]

Analysis
I've traced this and it appears this branch is taken on MRI but not on TruffleRuby:
https://github.com/sparklemotion/sqlite3-ruby/blob/d94c42b0b8e5005ee28cde75a58e15ea5670d1c4/ext/sqlite3/statement.c#L128-L135

I suspect this call should be setting `rb_errinfo`:
https://github.com/sparklemotion/sqlite3-ruby

[2021-02-03 22:08] jeshan commented on #2247
I have a different scenario that leads to the same stacktrace, involving only Sulong, not TruffleRuby.
I compile Ruby MRI 2.7.2 with bundled clang 10 in latest graal and when I run `ruby` or `ruby --version` I can see something like:
![image](https://user-images.githubusercontent.com/1020565/106815720-afc0c480-668d-11eb-879f-36a648227fa3.png)

I have provided a gist showing a Dockerfile to reprodu

[2021-02-03 22:31] bjfish commented on #2231
@gogainda I was able to run devise successfully:
https://github.com/bjfish/devise/runs/1826301684?check_suite_focus=true

Could you please try running doorkeep again to see if this issue is still present?

[2021-02-03 22:36] gogainda commented on #2231
sure, will do it shortly

[2021-02-03 22:47] gogainda commented on #2231
@bjfish I confirm that the error is fixed now, thanks

[2021-02-03 22:48] bjfish commented on #2231
@gogainda Thanks!

[2021-02-03 22:48] #2231 closed

[2021-02-04 13:01] eregon commented on #2246
Fixed merged in Bundler, there should be a release next week:
https://github.com/rubygems/rubygems/pull/4333#issuecomment-772627912

I'll already close so I don't forget.

[2021-02-04 13:01] #2246 closed

[2021-02-04 13:27] eregon commented on #2247
It's `GR-23843` internally.

[2021-02-04 13:50] eregon commented on #2247
@jeshan Please create a separate issue at https://github.com/oracle/graal, I'd like to focus this one on getting grpc to load on TruffleRuby.

I digged into this some time ago with @norswap.
I can reproduce on Linux with:
[code]

The error comes from a vendored version of `boringssl` being included by default.
The PR at https://github.com/grpc/grpc/pull/24632/files#diff-fc6f1e850a88ea978d6788c2b82

[2021-02-04 14:49] eregon commented on #2247
With that fix, this happens:
[code]

I think this `TLS` means Thread Local Storage (not TLS related to SSL).
I'll file a Sulong issue for that.

In any case, `require 'grpc'` works with https://github.com/grpc/grpc/pull/24632, so I think we need to get the grpc maintainers to merge it.

[2021-02-04 16:05] jeshan commented on #2247
I've moved my comment to the separate Sulong issue just mentioned.

[2021-02-04 18:16] norswap commented on #1704
The `irb` reprod now works on master. Most likely fixed by https://github.com/oracle/truffleruby/commit/ec62fae4f65ad57bf6de4d89ff70dd0597dbd058

I'm closing the issue, but please let me know if there are more issues (@grvm I'd be particularly interested to see if it fixes that rails use case, as it's not clear that this issue happens only when constructing the Zlib object).

[2021-02-04 18:16] #1704 closed

[2021-02-04 18:21] norswap commented on #2243
Most likely a duplicate issue for https://github.com/oracle/truffleruby/issues/1704, fixed by ec62fae.

I'm closing the issue as this is most likely resolved, but @HoneyryderChuck, could you confirm with the latest nightly build?

[2021-02-04 18:33] HoneyryderChuck commented on #2243
given that my tests run under docker, I'll have to wait for a release :/

[2021-02-04 18:36] petenorth commented on #2204
Any progress on this?

[2021-02-04 18:40] norswap commented on #2243
You could install the nightly in docker by using a ruby manager: https://github.com/oracle/truffleruby/blob/master/doc/user/ruby-managers.md - of course it's more setup. Let us know when you get to it anyhow :)

[2021-02-04 18:55] eregon commented on #2243
There are nightly builds documented here, that you can use in Docker: https://github.com/oracle/truffleruby/blob/master/doc/user/standalone-distribution.md#latest-nightly-build

There are also nightly Docker images at https://hub.docker.com/r/flavorjones/truffleruby.

[2021-02-04 19:04] gogainda opened #2250 "Webrick gem test failure: Leaked thread"
Full log: https://gist.github.com/gogainda/4606b4ef66d35a9436ff7be8577620d7

Haven't seen it before for Webrick

[2021-02-04 20:16] HoneyryderChuck commented on #2243
Didn't know it was shipping nightlies already, thank you for the tip!

[2021-02-05 09:57] deepj commented on #2181
@eregon Hello, is there any news if some basic support of Apple ARM's will be landed into GraalVM/Sulong?

[2021-02-05 10:06] eregon commented on #2181
@deepj See https://github.com/oracle/graal/issues/2666#issuecomment-759540804, nothing can happen until upstream JDK supports darwin-arm64.

[2021-02-05 10:10] eregon commented on #2181
FWIW, linux-aarch64 is another story, for that case there are already JDK11 builds for it, and TruffleRuby can already be built there (but Sulong does not work yet on linux-aarch64).

[2021-02-05 19:02] HoneyryderChuck commented on #2243
https://gitlab.com/honeyryderchuck/httpx/-/jobs/1009278087

This build ran with nightly, and I'm still seeing the same Zlib::MemError's @norswap

[2021-02-06 02:23] AlexeyMatskevich opened #2251 "iodine issue: External LLVMFunction pthread_atfork cannot be found"
[code]
To reproduce:
[code]

[2021-02-06 13:08] eregon commented on #2251
Thanks for the report.

I can reproduce.
This might be caused by not linking to libpthread, but actually it seems like it is linked to it:
[code]

I think this is a Sulong or NFI issue, so I'll move the issue to oracle/graal.

[2021-02-06 14:38] norswap commented on #2243
I checked locally, naively running `bundle install && bundle exec rake test` using a recent native build of truffleruby (not the exact nightly, but it shouldn't matter).

I am getting a lot of errors (25 errors, 12 failures), so not quite the same as the CI, but none of the are Zlib-related, and `HTTPSTest#test_plugin_compression_deflate_post` (which has the zlib failure on CI) doesn't fail.

Is t

[2021-02-06 15:18] HoneyryderChuck commented on #2243
@norswap I've written [here](https://github.com/oracle/truffleruby/issues/2210#issuecomment-755364941) how to set up the environment to run the tests. Let me know if you need more.

[2021-02-08 03:21] Rogchen commented on #2210
add config: tls-cipher "DEFAULT:@SECLEVEL=0" to *.ovpn

[2021-02-08 10:37] eregon commented on #2247
That's now fixed in https://github.com/oracle/graal/commit/9d139ce76a3f15059881e6d3a1386d6ffbe747b8.

[2021-02-08 10:40] jirkamarsik commented on #2204
I'm happy to report that yes! I've been working on this over the course of January, as it turned out that thoroughly fixing the first of the two issues listed above involves mimicking some unforeseen nuances in the way Ruby implements regular expressions. I now have a sufficiently general implementation of the fix. I'll clean it up and push it to `master` soon.

The TRegex engine is rooted in an i

[2021-02-08 17:21] bjfish commented on #2248
I suspect we are missing updating the lexical scope during the copy:
https://github.com/ruby/ruby/blob/7332b3f367ce61089bf571fa1c458fde06a11eab/class.c#L253
https://github.com/ruby/ruby/blob/7332b3f367ce61089bf571fa1c458fde06a11eab/vm_insnhelper.c#L801

[2021-02-08 17:38] gogainda opened #2252 "Float(num) compatibility with CRuby"
Truffleruby
[code]
CRuby
[code]

[2021-02-08 17:39] gogainda commented on #2252
I can try to fix it it's not hard

[2021-02-08 17:39] eregon commented on #2248
Right, I guessed that as well.
The issue is we capture the LexicalScope in the AST so:
* it's hard to change it (e.g., it's stored as part of `ReadConstantWithLexicalScopeNode`)
* it would mean copying the AST and a new CallTarget, which seems fairly expensive

We might need to change how we pass the lexical scope for AST Sharing (#1835), so maybe that change will make it easier to fix this.

Is t

[2021-02-08 17:56] eregon commented on #2252
On CRuby,
[code]

Also
[code]
That's the real value.
So the real value is in between, and I think both representations are "correct".

I think the real problem here is to use Float to represent such large numbers, it's very imprecise.

Does it cause actual issues in practice?
Otherwise I'd be inclined to close this, it actually shows the problem when CRuby hides it.

[2021-02-08 18:13] gogainda commented on #2252
a test is failing for parslet gem , but I agree that value is the same and test itself can be changed to accommodate both Truffleruby and CRuby differencies

[2021-02-08 18:26] norswap commented on #2243
I'm able to run the tests. Had to increase the memory to 4G because bundler would run out of memory with 2G.
I do not get any Zlib failure — how much memory does your container have?

I'm running the tests through `build.sh`, but if I try to run just the OOM test from `/home` with
`bundle exec ruby -Itest test/https_test.rb --name /plugin_compression_deflate_post/` then I get
`OpenSSL::SSL::SSLErr

[2021-02-08 19:09] HoneyryderChuck commented on #2243
Running the test in isolation didn't yield it for me as well.

In order to reproduce it, youll have to enable parallel mode and set the SSL_CERT_FILE env var. It's all inside build.sh.
I also don't have access to gitlab-ci parameters, so can't say how much memory is thrown at the container. But it bundles, so I guess it's enough?

If I had to guess, it's due to contention, so make sure you run all

[2021-02-08 19:18] norswap commented on #2243
I'm not sure we're dealing with "buggy" memory consumption here. TruffleRuby does have a relatively high footprint to begin with, and running in parallel is not going to help. Can't reproduce using 4G (even with parallel test execution).

@eregon what do you think?

Is it an option to bump the memory? (I'm guessing not) What about not running test in parallel?

[2021-02-09 00:11] chrisseaton opened #2253 "Implement missing standard tags"
We're missing a few standard tags, like `RootBodyTag`, `CallTag`, `TryBlockTag`, and so on. Should we implement all of them?

No particular need in mind though.

[2021-02-09 10:23] tomstuart opened #2254 "OpenSSL::Engine build fails on Debian"
Building TruffleRuby on [Debian 9](https://www.debian.org/releases/stretch/) (“stretch”) fails during `OpenSSL::Engine` compilation with these errors:

[code]

This appears to be happening because the `OPENSSL_NO_STATIC_ENGINE` macro is undefined on Debian 9.

Here’s a Dockerfile to reproduce:

[code]

[2021-02-09 13:23] eregon commented on #2243
According to https://forum.gitlab.com/t/what-are-resource-limits-for-ci-jobs-on-gitlab-com-ram-cpus/29821, GitLab CI has about 4GB.
One could check by running `free -m` in the CI job, @HoneyryderChuck could you do that?

Could we try to isolate some code (e.g., that Zlib example in the first post, together with some String to deflate) that uses much more memory on TruffleRuby? We should compare to

[2021-02-09 15:13] eregon commented on #2253
I think it would be fine, but we should avoid making footprint worse for that (e.g., no extra nodes if possible).
I'd rather we do it based on some use case though, there are always more things to do and if nothing uses then it seems low priority.

[2021-02-09 16:02] eregon commented on #2246
Bundler 2.2.9 was released with that fix: https://github.com/rubygems/rubygems/releases/tag/bundler-v2.2.9

[2021-02-09 16:10] Palez commented on #2247
Hello, we were able to diagnose the issue in Sulong. Basically the missing symbol is an external weak symbol that's not defined, it was something we didn't support before, but I will fix that now, so it'll be supported. I'll try to get a PR in soon.

[2021-02-09 18:15] eregon commented on #2254
Reopening to track fixing it upstream too: https://github.com/oracle/truffleruby/pull/2255#issuecomment-776010780

[2021-02-09 22:19] XrXr commented on #2248
I don't know any real-world code that depend on this.

[2021-02-10 13:35] chrisseaton opened #2256 "grpc takes a lifetime to install"
I think @eregon already identified some issues with it? Most of the time seems to be spent in `ld` doing LTO.

[2021-02-10 14:37] eregon commented on #2256
Is that with https://github.com/grpc/grpc/pull/24632 or without?
If it's without, nothing we can do except asking the grpc maintainers to merge it.
If it's with it, can you `time` it? It's slow but I wouldn't say a lifetime.

[2021-02-10 15:12] eregon commented on #1974
The idea above could potentially let us use the vendored libxml2/libxslt for nokogiri. cc @chrisseaton

[2021-02-10 16:58] flavorjones commented on #2221
I'd suggest closing this, no requirements changes have been made re: libexslt in many years, so I think this is environmental with the Travis images.

[2021-02-10 17:03] eregon commented on #2221
Thanks for the reply, agreed, this looks like a broken libxslt on TravisCI.

Using the libxslt vendored with nokogiri should solve this (tracked in https://github.com/oracle/truffleruby/issues/1974#issuecomment-776774676).

[2021-02-10 17:03] #2221 closed

[2021-02-11 12:33] fniephaus opened #2257 "[interop] Modules claim to have source locations, but they're actually "null""
Here're steps for reproduction:
[code]

[2021-02-11 15:29] eregon commented on #2257
Right, we should probably return false for those cases, or return an unavailable SourceSection instead.
I'm not sure which one is better, the check for `null` means also a check in `getSourceLocation` + `UnsupportedMessageException` if null, which seems quite verbose.

`InteropLibrary.Asserts` actually checks getSourceLocation is not null if hasSourceLocation, but that doesn't seem run by the TCKs

[2021-02-11 17:09] chrisseaton commented on #2256
For me installing the current release of `grpc` and dependencies without the patch takes up to 830s.

[code]

I'll try https://github.com/grpc/grpc/pull/24632 next.

[2021-02-11 17:12] eregon commented on #2256
Can you also compare to CRuby, when compiling from source with:
[code]

[2021-02-11 17:37] chrisseaton commented on #2256
[code]

Ah so it's normally installed as a binary, and the source version is still slow for MRI. I see it hard-codes `-flto`. Still 2x slower on TruffleRuby but maybe that's not so crazy.

[2021-02-11 17:51] chrisseaton commented on #2256
With the patch. So the patch and `--env native` (which is really just there for the toolchain launchers I think) solves it.

[code]

[2021-02-11 22:41] bjfish commented on #2234
This is fixed at https://github.com/oracle/truffleruby/commit/2edfaa61d4fb2e144e487227b24928f049fd95d9, thanks.

[2021-02-11 22:41] #2234 closed

[2021-02-11 22:42] bjfish commented on #2242
@HoneyryderChuck This is fixed at https://github.com/oracle/truffleruby/commit/2edfaa61d4fb2e144e487227b24928f049fd95d9. Let us know if you see any other issues, thanks.

[2021-02-11 22:42] #2242 closed

[2021-02-12 11:06] eregon commented on #2256
Right, so 263s vs 231s seems quite close.
Could you comment on https://github.com/grpc/grpc/pull/24632? Maybe that helps to move it forward.
I think we can close this, we already have a solution, but it depends on upstream merging it.

[2021-02-12 11:06] #2256 closed

[2021-02-12 11:22] HoneyryderChuck commented on #2243
https://gitlab.com/honeyryderchuck/httpx/-/jobs/1026259623#L118

[2021-02-12 11:49] eregon commented on #2243
[code]

So that's about 2728MB available / 2.66GB in that run.

[2021-02-12 20:11] petenorth opened #2258 "NoMethodError when using RubyContext#send()"
**truffleruby 21.1.0-dev-d7ae4d2a, like ruby 2.7.2, GraalVM CE Native [x86_64-linux]**

[code]

[2021-02-12 22:09] bjfish commented on #2258
@eregon This may be related to the recent change: https://github.com/oracle/truffleruby/commit/c11a54683899cdf28d66d1bf037894ee8f23b5c2

[2021-02-13 09:59] eregon commented on #2258
Thanks for the report, I'll look at it Monday.
It sounds like that singleton class somehow undefines `singleton_method_added`.

[2021-02-13 11:22] eregon commented on #2258
The actual semantics are to call `method_missing` in that case, which I'm not sure if intended in `factory_bot` (I filed an issue upstream).
There is also a delegation bug in `factory_bot`, which is problematic once `method_missing` is called. I made a PR to fix that upstream.

[2021-02-15 15:08] #2258 closed

[2021-02-16 16:03] LillianZ commented on #2238
Thanks for looking into it @norswap ! I just ran into this issue as well, so I was wondering if it was on your WIP or To-Do list, and if not I'll take a stab at it.

[2021-02-16 16:15] eregon commented on #2238
There is an internal PR by @norswap to fix it, it should be merged soon.

[2021-02-16 18:37] eregon commented on #2238
Merged in fa25299bcc25afc978e059e2e41103194862c18e

[2021-02-16 18:37] #2238 closed

[2021-02-17 11:26] ivoanjo opened #2260 "Unexpected ArgumentError when calling method and splatting empty hash"
Hello there!

While investigating a CI failure related to the newest version of the sucker_punch gem in as part of DataDog/dd-trace-rb#1369 I spotted two behavior differences between MRI and TruffleRuby (as well as JRuby -- filed jruby/jruby#6564 with a similar description)

### Testcase 1:

[code]

Behavior with TruffleRuby:

[code]

Behavior with MRI:

[code]

For the life of me, I cannot find a

[2021-02-17 13:06] eregon commented on #2260
Interesting that the first example works in 2.5 and 2.6, I would expect it only works in Ruby 2.7+.
You'll notice it's also inconsistent with `def foo(*args); args; end` as that shows `[{}]` on CRuby <= 2.6, and `[]` on CRuby 2.7+.

In CRuby 2.7+, `**empty_hash` passes nothing.
`**{}` is special and removed by the parser in CRuby, which is generally considered a bug/confusing but now with Ruby 2.7

[2021-02-17 14:26] ivoanjo commented on #2260
Thanks for looking into this @eregon! Indeed I was about to ping them about the issue as well but you beat me to it :D

[2021-02-19 15:59] eregon opened #2261 "Reducing the number of AST nodes per method"
I'll look into reducing the number of AST nodes we produce for Ruby code.
Less nodes means less footprint, less deep (Java) stacks, faster interpreter, and maybe slightly faster PE.

We can likely merge much of the method prelude into a RubyMethodRootNode, etc and have specific RubyRootNode subclasses for method/proc/lambda. => done

Potentially reading arguments could be done in a single node vs

[2021-02-19 17:24] wildmaples commented on #2247
Are there any updates on this issue? @eregon @Palez

[2021-02-20 00:50] chrisseaton commented on #2261
Can you notify me about any PRs you have for this and I can easily do a before-and-after of the stack depth and total nodes in the system for our application.

[2021-02-20 17:08] mudge opened #2262 "`malloc(): smallbin double linked list corrupted` when testing re2"
@gogainda [suggested](https://github.com/mudge/re2/pull/48#issuecomment-782714323) I report the following [build error when trying to test re2 against TruffleRuby HEAD](https://github.com/mudge/re2/pull/48/checks?check_run_id=1942571651):

[code]

This is using [`ruby/setup-ruby@v1`](https://github.com/ruby/setup-ruby) with `truffleruby-head`  on `ubuntu-16.04` and attempting to run the [re2](http

[2021-02-20 22:37] chrisseaton opened #2263 "Fix Hash#rehash"
`Hash#rehash` is tagged.

https://github.com/oracle/truffleruby/blob/634c0ae2517d04261b05e357b79da009eeac62ff/spec/tags/core/hash/rehash_tags.txt#L1

@mattalp at Shopify has already been looking at this and has found some more interesting issues not shown by the specs.

[2021-02-20 22:38] chrisseaton commented on #2263
@eregon can you assign @MattAlp?

[2021-02-20 23:58] chrisseaton opened #2264 "A simple benchmark-ips script starts the finaliser thread and object sharing"
[code]

We should possibly:

* check if this makes sense in the first place - why is RubyGems doing this?
* not use the Ruby finaliser thread for something that can be handled outside of a context

[2021-02-21 00:06] chrisseaton opened #2265 "Interrupt doesn't work in --single-threaded"
[code]

[2021-02-21 11:17] eregon commented on #2263
I cannot, Matt would need to reply here, then I or you could assign (GitHub requirement).

[2021-02-21 11:23] eregon commented on #2262
That's odd, as we can see in the C backtrace it's `libre2` calling `malloc`, so it's hard to understand how TruffleRuby can influence this, but since it passes on CRuby there must be something, maybe in Sulong.

Could you try running on Ubuntu 18.04 or 20.04? 16.04 is quite old.
Would also be worth trying TruffleRuby 21.0.0 in CI just to make sure it's not some kind of regression.

[2021-02-21 11:27] eregon commented on #2264
Right, that explains why it only happens on macOS then, it's due to the subprocesses of https://github.com/oracle/truffleruby/blob/634c0ae2517d04261b05e357b79da009eeac62ff/lib/truffle/truffle/openssl-prefix.rb.
I'll look into it.

[2021-02-21 12:40] mudge commented on #2262
@eregon I've now [updated the job to run the test suite against `truffleruby-21.0.0` and `truffleruby-head` on both Ubuntu 18.04 and Ubuntu 20.04](https://github.com/mudge/re2/actions/runs/586401991).

All combinations still fail but the error messages might be more informative, e.g.

* [`malloc_consolidate(): invalid chunk size`](https://github.com/mudge/re2/runs/1945939553?check_suite_focus=true

[2021-02-21 12:50] mudge commented on #2262
I've also [added macOS 10.15 to the build](https://github.com/mudge/re2/actions/runs/586421875) so you can see it passes for both `truffleruby-head` and `truffleruby-21.0.0`.

[2021-02-21 14:20] mudge commented on #2262
For consistency, I've [updated the build](https://github.com/mudge/re2/actions/runs/586549147) to test against the same version of the underlying re2 library as the successful macOS job, [compiled in the same way as the Homebrew formula](https://github.com/Homebrew/homebrew-core/blob/master/Formula/re2.rb#L30-L40) (see also https://github.com/mudge/re2-ci/pull/1) and now see the following errors:

[2021-02-21 16:01] HoneyryderChuck commented on #2243
Fixed this by [removing initializer parameters](https://gitlab.com/honeyryderchuck/httpx/-/commit/0ca144becc06fc30ce65c33350247241c0da73f5). I'm not entirely sure why, because those were supposed to be the default initializer parameters, but they seemed to have caused it.

First green build in truffleruby [here](https://gitlab.com/honeyryderchuck/httpx/-/jobs/1045031305).

[2021-02-21 16:01] #2243 closed

[2021-02-21 17:43] MattAlp commented on #2263
Replying

[2021-02-22 07:17] Palez commented on #2247
The PR for this particular issue has been created, and is in the process of being reviewed and merged. However, there is another issue with grpc gem regarding pthread. And I'm also working towards a fix for that as well.

[2021-02-22 12:45] eregon commented on #2243
The defaults seem to differ:
From the docs:
[code]
and that usage:
[code]
For instance at least DEFAULT_COMPRESSION and BEST_COMPRESSION have different values (-1 and 9 respectively for me).

Great to hear it works now.

[2021-02-22 14:24] eregon commented on #2262
I wonder if `re2` somehow uses a custom `malloc()` or so, which might lead to bad interactions with the default system malloc().

[2021-02-22 14:35] eregon commented on #2265
Thanks for the report, can be reproduced with simply `jt ruby --single-threaded -e 'p 1; sleep'`

[2021-02-22 15:05] eregon commented on #2265
With the fix:
[code]

The log message was not printed, and instead threw an exception but exceptions are ignored by the JVM when it calls the SignalHandler.

[2021-02-22 15:18] ivoanjo opened #2267 ""WeakMap key can't be an instance of Integer" breaks google-protobuf 3.15"
Hello there! 👋

I've been running a few experiments trying to run [`ddtrace`](https://github.com/DataDog/dd-trace-rb) with TruffleRuby.

I found an incompatibility that breaks the latest `google-protobuf` gem.

Example:

[code]

output on TruffleRuby:

[code]

It looks like MRI allows numbers as keys in `WeakMap`, but TruffleRuby doesn't:

[code]

As usual, let me know if I can provide any more in

[2021-02-22 16:44] wildmaples opened #2268 "Incorrect arity returned in CExt methods"
## Issue

TruffleRuby returns the wrong arity integer for methods defined in [`cext_ruby.rb`](https://github.com/oracle/truffleruby/blob/vm-21.0.0.2/lib/truffle/truffle/cext_ruby.rb).

### Example with `BigDecimal._load`

`BigDecimal._load` has [one argument](https://ruby-doc.org/stdlib-2.5.1/libdoc/bigdecimal/rdoc/BigDecimal.html#method-c-_load), so we expect arity to be 1.

On MRI:
[code]

On Tr

[2021-02-22 17:36] eregon commented on #2261
https://github.com/oracle/truffleruby/commit/b6c91eccb46a0b03f9f4cf04f6fb5fbbbb591ae6 goes in this direction and AST-inline generated accessors, Module#attr_*, visibility methods (private/protected/public) and #using. That probably does not affect stack depth much as they are all leaf methods. It should reduce the number of nodes to execute/PE quite a bit though, and avoid walking the stack for qu

[2021-02-22 18:02] eregon commented on #2267
Right, this is a change from Ruby 2.7.

CRuby 2.6 also disallowed such keys:
[code]

It's unclear why the example with the inline Gemfile does not fail on CRuby 2.6.6 though.

[2021-02-22 18:07] eregon commented on #2267
Ah, this is why it works on CRuby 2.6:
https://github.com/protocolbuffers/protobuf/blob/052dc799d24a2d27d847e6bad78019364e1b188f/ruby/ext/google/protobuf_c/protobuf.c#L212-L221
https://github.com/protocolbuffers/protobuf/blob/052dc799d24a2d27d847e6bad78019364e1b188f/ruby/ext/google/protobuf_c/protobuf.c#L262-L265

@norswap Could you look into this?
In this case it's a an Integer key, coming from h

[2021-02-22 18:17] tomstuart commented on #2268
I tried this to see what happened:

[code]

But unfortunately this is what happened:

[code]

[2021-02-22 18:20] eregon commented on #2268
Thanks for the great issue.
Yes, that analysis is correct.

Regarding solutions:
1. Seems quite suboptimal, because `eval()` is quite expensive, and doing it for every method defined in C extensions would likely be a significant overhead.
2. Seems much better. Having a primitive that takes (RubyProc, arity number) and returns a new RubyProc seems a nice way. Note that the argc passed to `rb_define

[2021-02-22 18:21] eregon commented on #2268
@tomstuart Primitive can only be used with the magic comment `# truffleruby_primitives: true` or in core library files.
So if you want to try that example you need `# truffleruby_primitives: true` as the first line of the eval'ed code.

[2021-02-22 18:29] tomstuart commented on #2268
@chrisseaton suggested we could have `eval`-free special cases for common arities (maybe 0, 1 and 2?) and save `eval` for the far less common general case. Do you think that’s a useful compromise or is it straightforwardly better to “fix it in Java”?

[2021-02-22 18:59] eregon commented on #2268
I think we should avoid `eval` entirely, it should be fairly easy to add this primitive.
BTW, there is already `Primitive.proc_create_same_arity` which is kind of similar, it could even be used to fix this (together with an array/hash of lambdas to match the arity), but something more direct seems better.

[2021-02-22 19:02] tomstuart commented on #2268
OK, thanks!

[2021-02-22 21:08] mudge commented on #2262
I’m not sure if it is relevant but there’s discussion of re2 using a [“clever trick” with uninitialized memory](https://research.swtch.com/sparse) (via https://stackoverflow.com/questions/47653565/undefined-behaviour-in-re2-which-stated-to-be-well-defined), specifically in https://github.com/google/re2/blob/master/re2/sparse_array.h and https://github.com/google/re2/blob/master/re2/sparse_set.h

[2021-02-22 23:13] #2265 closed

[2021-02-23 10:27] eregon commented on #2260
Fixed upstream.

[2021-02-23 10:27] #2260 closed

[2021-02-23 10:44] eregon commented on #2264
https://github.com/oracle/truffleruby/commit/8ca9852433bb4974bdf4e7306feee7e06235faec avoids creating autorelease pointers for spawning subprocesses.

It would be interesting to know how long `brew --prefix` takes to see if it's worth optimizing for the common case of Homebrew being in `/usr/local`.

Regarding having Pointer finalizers without an extra thread, that's something that probably makes

[2021-02-23 11:42] chrisseaton commented on #2264
Almost a second!

[code]

[2021-02-23 12:26] chrisseaton commented on #2264
[code]

[2021-02-23 12:36] eregon commented on #2264
Right, so that's more like 20-30ms, seems worth optimizing the common case.

[2021-02-23 18:19] eregon commented on #2257
@bjfish Could you fix this? I think returning an unavailable SourceSection is better for those cases.

[2021-02-24 08:15] YU5Z8X2CvH1fv4ep opened #2271 "Cannot debug code in vscode"
i cant debug my code in vscode.

the text is my launch.json file.
[code]
I have a test script : App.rb
[code]
When i start debugging,will create a new tab,but not stop at breakpoint.

![screenscast_20210224_161302](https://user-images.githubusercontent.com/57204004/108968062-41cf5200-76bb-11eb-895c-565db5581b07.gif)

please help me , thanks!

[2021-02-24 09:30] gogainda opened #2272 "sidekiq test run failure"
Tests are passing, but  `run test` stage is failing
[code]
from https://github.com/gogainda/sidekiq/runs/1965922052?check_suite_focus=true

[2021-02-24 09:35] eregon commented on #2272
`exit code 137` typically means out of memory.
We should investigate what takes so much memory.

[2021-02-24 09:44] eregon commented on #2264
https://github.com/oracle/truffleruby/commit/3b05154d2bc1344eb161514388d8d8917b847c3e avoids that extra subprocess if Homebrew is in `/usr/local`.

[2021-02-24 10:25] gogainda commented on #2272
on my local machine I dont have such issue, but probably GH Actions are more restrictive in terms of available RAM

[2021-02-24 11:20] ivoanjo opened #2273 "Enumerator::Lazy is missing a few methods, leading to different behavior from MRI"
Hello there 👋

I was trying out the `ddtrace` gem specs with TruffleRuby, and ran into a failure in [`chunker_spec.rb`](https://github.com/DataDog/dd-trace-rb/blob/master/spec/ddtrace/chunker_spec.rb).

This is caused by TruffleRuby not implementing the full set of methods on `Enumerator::Lazy`, which means that a few of the method implementations from `Enumerable` get used instead, which leads to

[2021-02-24 11:49] eregon commented on #2273
Thanks for the report.

We actually have `Enumerator::Lazy#slice_before`:
[code]
But it's the same as `Enumerator#slice_before` currently:
https://github.com/oracle/truffleruby/blob/2334c2b9de13d33da9151547ce4cd03ed3fd853d/src/main/ruby/truffleruby/core/enumerator.rb#L529
which interestingly affects `Method#owner` (and probably why `pry` hides it above):
[code]
(maybe we should have a better way t

[2021-02-24 11:56] fniephaus opened #2274 "[irb] Cursor / paste is slow"
Pasting and deleting is noticeably slower on TruffleRuby 21.0.0.2 compare with MRI:

https://user-images.githubusercontent.com/2368856/108996961-5aca0a00-769f-11eb-8b2e-aac2c113eafb.mp4

I'm not sure this has something to do with the Ruby version (the probably newer TruffleRuby console seems to syntax highlight?). But I'd assume that pasting into the latest irb has no noticeable delay like this.

[2021-02-24 12:03] eregon commented on #2274
Duplicate of https://github.com/oracle/truffleruby/issues/2233, please follow that one.
In short, it's in good part an issue of the irb gem, it's been fixed upstream, but we're waiting for a release to update irb.

[2021-02-24 12:03] #2274 closed

[2021-02-24 12:06] eregon commented on #2233
IRB 1.3.3 and reline 0.2.3 seem released with both fixes, we'll try to update to that:
https://github.com/ruby/irb/releases
https://github.com/ruby/reline/releases

[2021-02-24 12:10] eregon commented on #2274
@fniephaus Actually there was a release (see other issue).
Can you try if it works better with the latest irb/reline after `gem install irb reline`?

[2021-02-24 12:12] fniephaus commented on #2274
pasting is faster, deleting is still slow. interesting :)

[2021-02-24 12:15] eregon commented on #2274
Another workaround is to use `irb --readline`, as mentioned in the release notes:
https://github.com/oracle/truffleruby/blob/master/CHANGELOG.md#2100

[2021-02-24 12:16] fniephaus commented on #2274
Much better, thanks!

[2021-02-24 12:51] ivoanjo commented on #2273
Right! The failing test itself for me was https://github.com/DataDog/dd-trace-rb/blob/master/spec/ddtrace/chunker_spec.rb which is checking that the returned enumerator from that class is still lazy (aka it ends up being more of an accidental test case for core behavior than for anything we do).

But the core issue is: by not returning lazy enumerators from those methods as expected, it means that

[2021-02-24 15:22] ivoanjo commented on #2273
Update: Found another example from our test suite -- at some point we call `force` on the result of the chunker, and it fails because `Enumerator` does not implement `force` -- only `Enumerator::Lazy` does.

So `[].lazy.slice_before { }.force` works on MRI but fails with ```NoMethodError: undefined method `force' for #<Enumerator:0x1858>``` on TruffleRuby.

[2021-02-24 15:43] bjfish commented on #2272
In case it's useful, I was previously trying configuring memory here to see how it affects sidekiq performance:
https://github.com/oracle/truffleruby/issues/1584#issuecomment-624934453

[2021-02-24 17:18] eregon commented on #2273
Thanks for the example, I think we should improve the specs and check MRI tests for this.
Notably the return value should be an Enumerator::Lazy and not an Enumerator for `Enumerator::Lazy#slice_before`.

[2021-02-24 18:04] gogainda commented on #2272
@bjfish https://github.com/gogainda/sidekiq/commit/860ab19a6ee2b73b84f374e632c3b2d274540617 am I using it correctly?

[2021-02-24 18:08] bjfish commented on #2272
@gogainda yes, that looks good to me.

[2021-02-24 18:11] gogainda commented on #2272
https://github.com/gogainda/sidekiq/runs/1972543062 same issue

[2021-02-24 18:22] bjfish commented on #2272
@gogainda I also see the error `Process.fork is not supported by this Ruby` in the linked runs you provided.  This should also be resolved.  This fork error may be from minitest, in that case, the environment variable `MT_CPU=1` could be set to disable the call to fork.

[2021-02-25 10:26] ivoanjo opened #2276 "Strange behavior in exception handling when using ActiveRecord with sqlite"
Hello again 👋 . As usual, I'm trying to run the [`dd-trace`](https://github.com/DataDog/dd-trace-rb) test suite on TruffleRuby (with the ultimate goal being to have it on by default in CI -- so that we don't regress).

The following issue was extracted from an issue originally in <https://github.com/DataDog/dd-trace-rb/blob/master/spec/ddtrace/contrib/active_record/multi_db_spec.rb>.

Testcase:

[

[2021-02-25 11:11] eregon commented on #2272
GitHub runners have 8GB of RAM IIRC, so `--vm.Xmx16G --vm.Xmn4G` doesn't seem good there, the default memory settings should be adapted to the actual RAM available.
We should reproduce locally with something like `--vm.Xmx8G` (or lower if needed) and see if we can reproduce the failure and find out what's using so much memory.

[2021-02-25 11:14] eregon commented on #2276
This seems a duplicate of https://github.com/oracle/truffleruby/issues/2245 and related to https://github.com/oracle/truffleruby/issues/2227.
In short, it should already be fixed on `master`, can you try nightly builds of TruffleRuby?

[2021-02-25 12:12] ivoanjo commented on #2276
Yeap, both my reproduction above as well as the original spec in `ddtrace` work in nightly -- `truffleruby 21.1.0-dev-3414643e, like ruby 2.7.2, GraalVM CE Native [x86_64-darwin`.

Closing!

[2021-02-25 12:12] #2276 closed

[2021-02-25 12:31] eregon commented on #2276
Great!

[2021-02-25 12:48] eregon commented on #2257
For `Truffle::Interop.source_location` I wonder if we should return a host object for SourceSection (as currently), or a `[String, Integer]` array like e.g. Method#source_location does in Ruby.
@fniephaus Any opinion?

[2021-02-25 13:07] fniephaus commented on #2257
I'd say it should return a host object, because it is essentially just returning from [`InteropLibrary#getSourceLocation(Object receiver)`](https://github.com/oracle/graal/blob/6be9557a585a53936579722e99cbbfe515d5c1e8/truffle/src/com.oracle.truffle.api.interop/src/com/oracle/truffle/api/interop/InteropLibrary.java#L2044). If a `[String, Integer]` array is needed, maybe introduce a helper (e.g., `T

[2021-02-25 13:38] aardvark179 commented on #2245
Sadly this isn't the `rb_errinfo` problem. We are getting an error result back from the `sqlite3_step` call, and I'm not quite sure why we're seeing this particular difference in behaviour.

[2021-02-25 15:06] chumer commented on #2257
Host objects are not a good choice for this. They are logically separate class loaders.
If you want to represent a source location in the guest language better use your own TruffleObject.

[2021-02-25 15:10] fniephaus commented on #2257
Right, if you want to expose them properly for users. I thought users are not encouraged to use `Truffle::Interop`, it's more like a utility for direct access to the interoperability protocol. And in that case, I'd try to forward values as they are.

[2021-02-25 15:27] chumer commented on #2257
Host interop for that is still not a good choice. As access privileges to the host can be restricted.
Note that the truffle source section class is not visible to a host and therefore access privilege checks will always return false.
If I would have the time to push for it then  Env.asGuestValue would already be deprecated. But we have some work to do to make that happen.

[2021-02-25 15:29] eregon commented on #2257
Yes, Truffle::Interop should only be used if there is no other way essentially.

Almost all Truffle::Interop methods return either a Ruby value/object or a foreign object.
A host object is kind of weird here, because the program might not do any interop with the host language, and host interop might be disabled.
Also, it doesn't seem to work in `--native` mode (by default, without extra configurat

[2021-02-25 15:32] ivoanjo opened #2277 "waited 5 seconds in the SafepointManager threads did not arrive with mongo driver"
Howdy (me again 😭). I'm still soldiering on in trying to run the [`dd-trace`](https://github.com/DataDog/dd-trace-rb) test suite on TruffleRuby (with the ultimate goal being to have it on by default in CI -- so that we don't regress).

I was able to extract-ish this issue from [our mongodb tests](https://github.com/DataDog/dd-trace-rb/blob/master/spec/ddtrace/contrib/mongodb/client_spec.rb). I'm n

[2021-02-25 15:53] eregon commented on #2277
The output should show 6 threads with `BLOCKED: ...` and their stacktrace, it would be interesting to see those threads.

I'll try to reproduce, thank you for the report.

[2021-02-25 15:58] ivoanjo commented on #1974
Hey @eregon we're bitten by this as well in the [`ddtrace`](https://github.com/DataDog/dd-trace-rb) integration tests.

Is there any working workaround, beyond just skipping any hiredis stuff when on TruffleRuby?

[2021-02-25 16:04] eregon commented on #1974
Using https://github.com/redis/redis-rb is the current workaround.
I should be able to work on this soon, I think it might be relatively easy to get hiredis working.

[2021-02-25 16:34] eregon opened #2278 "Avoid Env#asGuestValue for Truffle::Interop methods"
From discussion at https://github.com/oracle/truffleruby/issues/2257#issuecomment-785870837

For `Truffle::Interop.source_location`, `[String, Integer]` seems obvious.

For date/time-related InteropLibrary messages, it's not that clear, but at least we should treat foreign date+time+zone the same as Ruby's `Time`.

@fniephaus How do you actually use the result of `asGuestValue`?
It seems not usabl